[2017-07-21 15:52] evanweaver commented on #2694
@ljbrackney here are my findings:

This particular segfault does not occur in  a release build of geometry_editor nor the 2.2.0 release; no release user will encounter this assert-fail generated segfault.

That said, there was a subtle error made re-implementing units after the demise of Qt: gram (g) was used and for whatever reason that unit is not handled in the units conversion code. The "corre

[2017-07-21 16:06] macumber commented on #2694
Asserts won't be hit in release mode, but asserts should only be used in cases where another error will occur immediately afterwards.  So either these asserts are incorrect and should be removed or they are correct and need to be fixed.

[2017-07-21 16:17] evanweaver commented on #2694
@macumber I agree. The first assert hit using this model was useful and the problem was fixed. The second assert is in place to verify OSConcept templates and related (i.e. GridView) implementation; it's not intended to verify a model. We could remove this assert, but it is useful for future development. We could make the find not case-sensitive, but I believe that encountered unexpected behaviors

[2017-07-21 16:20] ljbrackney commented on #2695
Update: User reports that routinely the server does not start automatically - Ruby processes briefly start then die.  Manually starting the server from the dialog in PAT generally works ok.

[2017-07-21 16:27] ljbrackney commented on #2695
Failed start:
![unknown](https://user-images.githubusercontent.com/2230150/28472753-9f8c7728-6df6-11e7-9b47-959ca95f886e.png)

![unknown-1](https://user-images.githubusercontent.com/2230150/28472764-b242de02-6df6-11e7-95cd-513223681cbc.png)

After manual start:

![unknown-2](https://user-images.githubusercontent.com/2230150/28472777-be217904-6df6-11e7-8319-247d6e6b6428.png)

PAT works normally aft

[2017-07-21 18:47] DavidGoldwasser commented on #2691
duplicate of issue #2581

[2017-07-21 18:47] #2691 closed

[2017-07-21 19:00] DavidGoldwasser opened #2696 "Measures that download components from BCL not running properly in local PAT runs"
I'm using "GetSiteFromBuildingComponentLibrary" in for a porject. This is similar to "Change Building Location" but instead of pointing to epw, design day and state file it takes a zip code and gets site component from BCL.

I have tested this in PAT before on an cloud based manual run (NREL24b) and re-confirmed today that it still works fine.

The screenshot below shows the first local run of a f

[2017-07-21 20:52] DavidGoldwasser opened #2697 "SaveAs while server starting mixes up files between the original location and the new location"
I thought it would be best to use a git repo for this. Summary of behavior is that the project that is open when SaveAs operation is done can have its name changed, measures changed in the pat.json and measure files deleted from the "measures" directory. The pat.json in the new directory is an untouched copy of the pat.json from the original project, maintaining the old "projectName" and the old m

[2017-07-21 20:53] DavidGoldwasser commented on #2697
There are odd things that happen even if I do wait for the server to start, but I need to do more testing with it. In the situation where I wait for the server to start before doing SaveAs the original project is not altered (pat.json or measures) but there are still elements of the new project that appear to point back to the original project. If I quit and Restart before running, these paths see

[2017-07-21 22:36] ljbrackney commented on #2694
Verified that this specific segfault was fixed in Develop and that tab works correctly in Release

[2017-07-24 14:51] evanweaver commented on #2694
Accepted 7/21/2017 here: https://www.pivotaltracker.com/n/projects/134010/stories/149252651

[2017-07-24 14:51] #2694 closed

[2017-07-25 05:02] MatthewSteen commented on #2379
This is problematic and misleading to the user. For warehouses, vehicle maintenance bays, etc, which often have heating only spaces the zone can appear to be controlled to the heating setpoing - i.e. zero unmet cooling hours - but not be controlled to setpoint when looking at the timestep outputs as seen below.

**Heating Only Zone vs. Heating and Cooling Zone**

![image](https://user-images.githu

[2017-07-25 12:56] kbenne commented on #2379
I'm reluctant not totally opposed to adding new thermostat types. My reluctance is that it may complicate the user interface, and in general I tend to prefer fewer types than more.

![screen shot 2017-07-25 at 7 54 02 am](https://user-images.githubusercontent.com/707488/28572946-8928ad06-710e-11e7-8410-7d96de6e53ba.png)

How do you guys feel about letting the os -> idf translator generate single h

[2017-07-26 15:22] tabuimara opened #2701 "PAT RUNS FOR EVER"
SINCE I UPDATED OPEN-STUDIO to 2.2.0, I am not able to perform any parametric analysis , the process starts and keeps in progress forever . I thought might be an issue with one of the weather files , so i tested them one at a time , nothing changes !

[2017-07-26 15:27] tabuimara commented on #2675
I have the same issue , and the analysis process never completed since the update 2.2.0

[2017-07-26 15:43] DavidGoldwasser opened #2702 "SaveAs after server finishes starting writes wrong path in new location and can delete measures from old location"
I made a new issue for this vs. #2697 so comments and documentation related to them don't get mixed up. In this case I followed the best possible path, allowing the server to fully start on my project before initiating a SaveAs operation.

This commit represents the SaveAs operation
https://github.com/DavidGoldwasser/PAT_projects/commit/0a68d8ae5c2a51e53bda775345c4a8790227bb49

The commit is on a

[2017-07-26 16:16] DavidGoldwasser commented on #2702
5. Also after step 4, the pat.json in  "PAT_model_articulation_test_a" that was originally not altered after the save as, now is named "temp" and the tariff measure was removed from the original project and new the new project.
https://github.com/DavidGoldwasser/PAT_projects/commit/0a68d8ae5c2a51e53bda775345c4a8790227bb49#diff-3ec654d733743e30f4ad26c34a47204eL2346

![screen shot 2017-07-26 at 10 0

[2017-07-26 16:22] DavidGoldwasser commented on #2702
After quitting PAT (after a SaveAs) and then re-launching PAT and loading the projects, the paths seem to correct to be local to the project folder, it seems like that not happening right at the save ias is where a lot of issues are coming from, although that doesn't explain why the wrong pat.json is still being edited after Save as.

![screen shot 2017-07-26 at 10 19 03 am](https://user-images.gi

[2017-07-26 18:49] shorowit commented on #2639
@evanweaver Yes, I can still reproduce it in 2.2.0.

[2017-07-26 19:00] rHorsey commented on #2695
From the delayed jobs log:

<img width="791" alt="screen shot 2017-07-26 at 12 54 41 pm" src="https://user-images.githubusercontent.com/9537073/28638300-b39abd6a-7201-11e7-8e52-858fabcca5d4.png">

This should mean that the analysis.json was formed with an different array lengths across the discrete values arrays in which design alternatives are passed. This problem however would not explain the be

[2017-07-26 19:42] DavidGoldwasser commented on #2701
@tabuimara What is the status in the green bar? Does it show "Analysis Started" or is it something else? Also have you seen this on multiple PAT projects and does it still happen after a fresh restart of your computer.

[2017-07-26 19:43] tabuimara commented on #2701
Hi
It does start and says analysis starts

Tareq Isamil Abuimara, MSc, MRAIC
Cell: (613)898-1406
PhD Student/ TA/RA
Faculty of Engineering and Design

From: David Goldwasser [mailto:notifications@github.com]
Sent: July 26, 2017 3:42 PM
To: NREL/OpenStudio <OpenStudio@noreply.github.com>
Cc: tabuimara <tareq.abuimara@carleton.ca>; Mention <mention@noreply.github.com>
Subject: Re: [NREL/OpenStudio]

[2017-07-26 20:37] DavidGoldwasser commented on #2701
Assuming you are running on local machine, what do you see at http://localhost:8080/

Do you see an analysis, and does that analysis seem to have any datapoints, and in the GUI on the Run tab under the row for each Datapoint is the status "Started" for at least some of the datapoints?

[2017-07-26 20:38] rHorsey opened #2703 "Fix heartbeat communication in dockerized deployments"
This will be particularly useful when we implement health checks.

[2017-07-27 14:38] tabuimara commented on #2701
Hi David
Sorry for my late reply.
Yes I am running on local server and the analysis starts, the data points are created and the stutus is started.
What happens is different each an every time , it either starts with no end or fails right away .
Thanks

Tareq Isamil Abuimara, MSc, MRAIC
Cell: (613)898-1406
PhD Student/ TA/RA
Faculty of Engineering and Design

From: David Goldwasser [mailto:notifica

[2017-07-27 16:30] macumber opened #2704 "Can't require openssl in CLI"
This is needed for accessing websites over https

[2017-07-27 16:39] DavidGoldwasser commented on #2701
Sorry, I have a few more questions. What operating system are you on, and if you restart your machine, make a fresh PAT project (something really basic without all of the same measures) does it run? If it is unique to a specific project might have you send it to us at OpenStudio@nrel.gov.

[2017-07-27 16:43] tabuimara commented on #2701
Thanks for your response
I am using Windows 64bit
I did the following and did not work :

  *   Restarted my computer several time
  *   Uninstall OS and Reinstall multiple times
  *   Changed the set of measures
I am now back to version 2.1.0 to see if the problem is with OS or my local computer , will get back to you as soon as I am done.
Thanks

Tareq Isamil Abuimara, MSc, MRAIC
Cell: (613)898-

[2017-07-27 16:55] DavidGoldwasser opened #2705 "Intersect and surface matching (simple model)"
After a number of users reported intersect and matching issues in SketchUp 2017 and also with the Surface Matching measure (which also does intersection) I made a simple test model with 4 spaces (offset 2 sets of two stacked spaces). Here are the steps I took.

1. Launch SketchUp 2017 and with OpenStudio 2.2.0
2. Created 4 spaces as shown below
3. Intersect in Entire Model - This appeared to do wh

[2017-07-27 17:44] DavidGoldwasser opened #2706 "OpenStudio Intersect segfault and ruby lockup (can't ctrl c out)"
I've had a few user models that would segfault on specific space combinations. I made a diagnostic version of surface matching measure that I run from command line. It loops through individual pairs of spaces vs. a larger array, and has put statements to identify which pair is being worked on. In the past this allowed me to tell them to delete a specific space, but just recently for specific case

[2017-07-27 21:41] DavidGoldwasser opened #2707 "segfault after using model.swap and then looping through surfaces"
I'll put a full script here later, but this is roughly the code that causes the issue.

[code]

I hit this on custom measure that replaces OSM, and then performs a number of operations on the new OSM.

I was getting error when I started to loop through surfaces if the model was replaced using
https://github.com/NREL/OpenStudio-measures/blob/develop/NREL%20working%20measures/ReplaceModel/measure.rb

[2017-07-28 16:15] DavidGoldwasser commented on #2701
@tabulimara. I got your email, and saw that now, you are not getting it running forever, but the datapoints are failing. The behavior appears to be related to issue #2557 which is closed and should be fixed, so I'm not sure why you are seeing it. If you are using a PAT project that pre-dates the fix, then I can see this happening.

I'm seeing this error
[code]
That appears to come from the Add Ove

[2017-07-28 17:00] MatthewSteen commented on #2379
@kbenne i think your approach to magically translate to single setpoint objects makes sense and would be my preference over adding more columns etc. Incidentally, my issue above was not related to the setpoints, but rather the air terminals.

[2017-07-31 20:23] tabuimara commented on #2701
Hi David
Hope you are doing well
I still have the same issue withPAT
DATAPOINT FAILURE
I have sent you the project earlier on the other email, any thoughts ?
Thanks

Tareq I. A. Abuimara
Get Outlook<https://aka.ms/qtex0l> for iOS
________________________________
From: David Goldwasser <notifications@github.com>
Sent: Friday, July 28, 2017 12:15:33 PM
To: NREL/OpenStudio
Cc: tabuimara; Mention
Subj

[2017-08-01 20:05] DavidGoldwasser opened #2708 "scheduleRuleset.getActiveRuleIndices doesn't work in cases"
It works as as designed of there is no yearDescriptionObject, or if the yearDescription objet looks like this
[code]

If the Year Description looks like what is shown below, then all days show value of "-1" as if that day uses the default profile, even when that isn't the case.
[code]
or
[code]

Here is ruby code I tested it with
[code]

[2017-08-01 20:30] DavidGoldwasser commented on #2708
If the years are out os sync I can see a few better solutions that returning -1 for every day.
1. Use the year entered in method to determine which rule is used
2. Use the year from YearDescription  to determine which rule is used
3. Use the start day of week from YearDescription to determine which rule is used
4. Have the method fail gracefully, maybe return an empty vector

https://openstudio-sd

[2017-08-02 21:42] joseph-robertson opened #2709 "number of surfaces created by geometry editor translator is not deterministic"
Translation of attached json randomly results in between 100 and 102 surfaces.

[MF_corr_12unit.json.txt](https://github.com/NREL/OpenStudio/files/1195381/MF_corr_12unit.json.txt)

[2017-08-03 07:59] jmarrec commented on #2428
Don't have a symlink in 2.2.0.

Had to run `ln -s /Applications/OpenStudio-2.2.0/bin/openstudio /usr/local/bin/openstudio`

[2017-08-04 02:10] macumber opened #2710 "Can't edit fraction radiant, visible, or return air fraction for luminaires and lights"

[2017-08-04 03:57] ljbrackney opened #2711 "Save as in App breaks model"
Model is running fine.  Did a save-as to change the name.  New model runs but report results are jacked up.  (Wrong building name, no square footage, etc.)  Nuking the contents of the model folder, re-adding epw and results measure then re-running fixes it.

[2017-08-04 03:58] ljbrackney commented on #2711
Good Run:

![report1_720](https://user-images.githubusercontent.com/2230150/28953649-729481c8-788e-11e7-898b-751e0d3b441f.png)

Save-As -> Bad Run:

![pasted_image_at_2017_08_03_09_46_pm_1024](https://user-images.githubusercontent.com/2230150/28953660-836bb368-788e-11e7-8620-55baa8e1111b.png)

[2017-08-04 18:32] ljbrackney opened #2712 "Add Ideal Air Load Column as Multi-Selectable in the Thermal Zones Tab"
Why no Apply to Selection button for Ideal Air Loads?  Sad.

[2017-08-04 18:57] eringold commented on #2712
Would also be _really_ nice to be able to apply a deletion to selected.

[2017-08-04 20:44] macumber opened #2713 "ModelObject ctors should not take const Model&"
They are modifying the model, this is incorrect

[2017-08-05 05:47] macumber opened #2714 "Expose fuel type for other equipment in UI"
@nmerket FYI

[2017-08-05 06:25] rHorsey commented on #2606
Reducing to major bug. A workaround using worker-init scripts is currently implemented for deployment in 2.2.1

[2017-08-07 15:14] joseph-robertson opened #2715 "roofceiling adjacent to outdoors instead of surface after geometry editor translation"
Translation of attached json randomly results in the garage space's ceiling being adjacent to outdoors/surface.

I even tried intersecting/matching.

[SFD_FA.json.txt](https://github.com/NREL/OpenStudio/files/1205256/SFD_FA.json.txt)

[2017-08-08 08:00] jmarrec commented on #628
+1

[2017-08-09 19:53] rHorsey commented on #2632
Fixed.

[2017-08-09 19:53] #2632 closed

[2017-08-09 19:54] rHorsey opened #2716 "AWS deployed server needs to run 350k data-points"

[2017-08-09 19:55] rHorsey commented on #2608
Worker is being merged in. Sever remains to be done.

[2017-08-09 19:56] rHorsey commented on #2716
This requires a new AWS gem to be in PAT.

[2017-08-09 19:57] rHorsey commented on #2523
This is working for me now. Can someone confirm?

[2017-08-09 19:58] DavidGoldwasser opened #2717 "SketchUp Plugin can't handle rectangular room with filled in C shaped surfaces"
https://unmethours.com/question/25757/some-surfaces-are-being-counted-twice-in-the-surface-area/

I user modeling cleanly in the SketchUp plugin can end up with a model with too much floor area, wall etc. In the case of floor not only messes up envelope, but also area based loads and building EUI calculation. There are no warnings when opening this in SketchUp about surfaces being split or surface

[2017-08-09 20:20] DavidGoldwasser opened #2718 "SystemSizing object N2, \field Central Heating Maximum System Air Flow Ratio"
EnergyPlus idd has "Central Heating Maximum System Air Flow Ratio" as N2, while OpenStudio idd has "Minimum System Air Flow Ratio" as "N2"

OpenStudio has as system_sizing.setMinimumSystemAirFlowRatio, but not setMinimumSystemAirFlowRatio

I didn't look in the translator code, but below is screenshot of IDD, and from testing the value in the OSM for "Minimum System Air Flow Ratio" is saved in forw

[2017-08-09 20:27] DavidGoldwasser commented on #2718
Does appear to be used in a number of measures
https://github.com/NREL/OpenStudio-measures/search?utf8=%E2%9C%93&q=setMinimumSystemAirFlowRatio&type=

[2017-08-09 20:40] MatthewSteen commented on #2718
I noticed this recently too. Here's the FT code:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateSizingSystem.cpp#L84

Looks like the field was changed in EP between [version 8.2](http://bigladdersoftware.com/epx/docs/8-2/input-output-reference/group-design-objects.html#field-minimum-system-air-flow-ratio) and [version 8.3](http://bi

[2017-08-10 01:12] asparke2 commented on #2608
Sweet!

[2017-08-10 15:29] shorowit commented on #2501
@evanweaver As far as I can tell, argument descriptions only show up in manual mode, not algorithmic mode. This makes it difficult to convey information to our PAT users.

[2017-08-10 20:37] nmerket opened #2719 "PAT hangs when running simulation on the cloud"
When I start a batch simulation using algorithmic mode on AWS, the PAT application runs hot (100% CPU) and then locks up.

Mac OSX 10.11.6 (15G1611)
PAT 2.2.0

@rHorsey

[2017-08-15 14:45] nmerket commented on #2719
@ejhw @shorowit

[2017-08-15 15:04] ejhw commented on #2719
For me, PAT was very slow to respond during the 13 hours of runs on AWS, and has been not responding since the runs ended (6 hours).

Mac OS X 10.10.5 (14F2511)
PAT 2.2.1.6d72d84a0d

[2017-08-15 16:32] ljbrackney commented on #2719
I've seen PAT struggle with very large cloud runs - maxing CPU and essentially hanging.  I don't what it's doing - presumably retrieving completion status messages.

[2017-08-16 19:39] evanweaver commented on #2719
Added to Pivotal

[2017-08-16 22:44] macumber opened #2720 "Crash on clone plenum space type"
Code to reproduce:

[code]

[2017-08-16 22:45] macumber commented on #2720
Something is going wacky in the workspace rename object code:
[code]

[2017-08-16 22:45] macumber commented on #2720
I could look into it but am just too swamped

[2017-08-16 22:46] eringold commented on #2720
Thanks @macumber! I owe you one. :cocktail:

[2017-08-17 15:02] shorowit opened #2721 "PAT thinks cluster is running (but it's not)"
1 of my 4 PAT projects (which are all very similar) was exhibiting an issue where I open the project in PAT and go to the Run tab, but PAT displays a Connect button instead of a Start button and all of the cluster settings controls are disabled. I could reproduce the issue multiple times by closing PAT and then reopening the project.
![image](https://user-images.githubusercontent.com/5861765/29418

[2017-08-17 18:27] #2677 closed

[2017-08-17 20:32] #2695 closed

[2017-08-17 21:34] rHorsey commented on #2721
We think this is due to a re-assigned auto AWS IP. The solution will be to parse the below example status.json file.

[code]

[2017-08-18 12:00] shorowit commented on #2570
This is not fixed. Screenshot from PAT 2.2.1:
![image](https://user-images.githubusercontent.com/5861765/29458059-7f20466e-83da-11e7-81c4-13ee946c9bf0.png)

[2017-08-18 18:53] ljbrackney opened #2723 "Third PAT algorithm argument in Morris should be Grid Jump"
Morris arguments are:

        algorithm: {
          r: 2,
          levels: 2,
          grid_jump: 1,
          type: 'oat',
          norm_type: 'minkowski',
          p_power: 2,
          debug_messages: 0,
          failed_f_value: 1e18,
          objective_functions: []
        }

In PAT UI, the third argument is mis-identified as levels also.  The description "Integer specifying the numbe

[2017-08-18 20:13] ljbrackney opened #2724 "Morris Method Box Plots are Empty in 2.2.0"
Bar and sorted bar chart PNGs are fine in results download but box plots are empty.  This is with stock 2.2.0 and the 2.2.0 AMI on AWS.

[algorithm_results_59b0b019-e17d-4887-bb03-8b70b9092c4c.zip](https://github.com/NREL/OpenStudio/files/1235564/algorithm_results_59b0b019-e17d-4887-bb03-8b70b9092c4c.zip)

[2017-08-18 20:38] macumber opened #2725 "Surfaces are not matched on merge"

[2017-08-19 03:39] shorowit commented on #2721
FYI, it just happened to me again. I was running an analysis in PAT and then Windows decided to restart my machine. (Seriously.) Booted the machine back up, launched PAT, opened the project, and I'm seeing the same thing as the screenshot above. The AWS instance is still running.

[2017-08-19 04:10] shorowit commented on #2721
First time I clicked Connect, it said Error connecting to AWS. Second time I clicked Connect, it launched a new instance without any additional prompt.

[2017-08-19 04:24] shorowit opened #2728 "PAT Analysis Error when updating measure w/ duplicates"
I seem to be able to reproduce this issue by:
1. Have a PAT project in algorithmic mode with duplicated measures.
2. Modify that measure's measure.rb outside PAT and then use the "Check for Updates" button to update the measure. After doing this, the duplicate measures, which had names of "Apply Upgrade", "Apply Upgrade 2", "Apply Upgrade 2 2", "Apply Upgrade 2 2 2", etc. now all show the identica

[2017-08-19 04:30] shorowit commented on #2728
And upon deleting all of the duplicated measures from the project, I hit [the bug where the measure was deleted from my library](https://github.com/NREL/OpenStudio/issues/2676).

[2017-08-19 16:38] ljbrackney opened #2729 "Place Map dialog no longer pops up on new editor"
Creating new geometry no longer offers the empty/open/place map dialog.

[2017-08-19 16:39] ljbrackney opened #2730 "Opening existing floorplan in editor freezes app"
Clicking on open floorplan brings up the file menu, but it is completely unresponsive and effectively hangs the app.

[2017-08-19 16:42] ljbrackney opened #2731 "Units in geometry editor are not tied to OpenStudio App units"
Units in geometry editor always default to SI regardless of settings in the App.

[2017-08-19 16:45] ljbrackney opened #2732 "No way to dismiss preview window"
Clicking on the preview window in the geometry editor opens the previewer, but there is no way to dismiss the previewer and return to the App.

[2017-08-19 16:52] ljbrackney opened #2733 "Geometry boundary conditions in editor preview are wrong"
Created simple four space model, set floor to ceiling height, and went to preview.

![geom](https://user-images.githubusercontent.com/2230150/29488639-dcff2388-84c3-11e7-98bc-968ed11d1f89.png)

Two spaces have no floors, and floor height appears to be ignored.

[2017-08-19 16:54] ljbrackney opened #2734 "No option to continue editing geometry after merge operation"
There appears to be no way to continue working on geometry once the floorplan has been merged.  This may be a design decision that assumes a floorplan.json always exists, but it is problematic for workflows involving existing OSMs or procedurally generated geometry that requires modification.  I will enter this as a feature request, but it's potentially a blocking bug.

[2017-08-19 16:55] ljbrackney commented on #2733
I noticed this in the console window - perhaps relevant?

QLayout: Attempting to add QLayout "" to openstudio::PreviewWebView "", which already has a layout
[utilities.geometry.computeTriangulation] <1> Failed to partition polygon
[modelToThreeJS] <1> Failed to triangulate surface  6 with 0 sub surfaces
[utilities.geometry.computeTriangulation] <1> Failed to partition polygon
[modelToThreeJS] <1>

[2017-08-19 17:34] macumber commented on #2734
This is not the intent of the design.  If you start in SketchUp or import a gbXML, you will have existing geometry in the model when you first go to the floorplan editor.  In this case you are not able to create a floorplan.

However, if you start a floorplan in an empty model, you will get a floorplan.json file in your companion directory.  If you merge with the current model, do work in the app,

[2017-08-19 17:37] macumber commented on #2733
Hmm, I think those messages are just related to the preview, possibly why floors are not shown in your preview.  That might be a second issue in addition to the incorrect boundary conditions.

[2017-08-19 17:38] macumber commented on #2732
I think I may have seen this too

[2017-08-19 17:39] macumber commented on #2730
Do you think it is required to be able to open an external floorplan?  My first inclination would be to hide the buttons allowing open, save, import in the embedded editor.

[2017-08-20 15:36] ljbrackney opened #2735 "Import Library while in Geometry Editor doesn't work"
Import library before creating geometry works fine.  Importing a library once you're in the editor doesn't work.

[2017-08-20 15:45] macumber commented on #2735
Is this a functionality you think we need?  I am already calling import library to get resources in the current osm into the initial floorplan.  Then each time you go back to the floorplan editor it should re-merge resources in the osm into the floorplan.  This lets you use the app's library features.  Do we really need to load external floorplans as libraries too?  I'd suggest hiding this button

[2017-08-20 15:51] ljbrackney opened #2736 "Returning to geometry editor pane after merge produces inconsistent results"
After merging geometry, going to other tabs to inspect results then returning to editor I've seen some different behaviors:

1) A couple times I've gone back to the editor and it didn't know geometry existed.  Clicking the new button takes you back to the editor instance with data definitions, but no displayed geometry.  Behavior in the tab is unpredictable at this point.  This could be a result o

[2017-08-20 15:52] ljbrackney opened #2737 "No feedback from App post-merge"
Pushing the merge button does what it's supposed to but it would be nice if there was some feedback to the user that it did something.

[2017-08-20 15:57] ljbrackney opened #2738 "Boundary condition between floors doesn't appear correct"
Inspecting the boundary condition between floors suggest that it's considered a ground contact surface when it should be an interior boundary.  I'm guessing this is a translation issue and not a drawing issue, although failing to snap to lower floor boundaries could create ledges or overhangs with their own boundary condition issues.

![2nd](https://user-images.githubusercontent.com/2230150/294963

[2017-08-20 16:02] macumber commented on #2738
Can you make sure you are on the latest commit?  I did add some intersect and merge code which you can see in https://github.com/NREL/openstudio-geometry-editor/issues/150.  We probably do need some feedback, especially if the intersections fail.

[2017-08-20 16:04] ljbrackney commented on #2735
I think you need this functionality for two reasons:

1) The import library function is in a menu outside of the geometry editor and always available.  This implies that if you select it that it has taken effect in the app.  You and I understand that the editor is not strictly "within the app," but that is a detail that the average user won't care about - nor should they have to.
2) When I get to

[2017-08-20 16:06] ljbrackney commented on #2738
I am testing a build from Friday night.  I just updated and will rebuild - that will take my hamsters a while...

[2017-08-20 16:08] macumber commented on #2735
There might still be confusion here, the import library button in the editor imports resources from another floorplan.json, it does not load resources from an osm.  I don't really want to highlight the floorplan.json format so that is why I'm not hot on this approach.

For 1, we can disable some of the menu commands that don't make sense/aren't supported on this tab.

For 2, the intended action wo

[2017-08-20 16:09] macumber commented on #2738
K, it might well be that the code is there just not working, I just wanted to make sure we were on the same place.  Thanks for kicking the tires!

[2017-08-20 16:10] ljbrackney commented on #2734
I think we need a means of generating a floorplan.json from osm for legacy models or procedurally generated models.  It may be as simple as a measure to generate a floorplan.json, but I may want to modify these models (particularly procedural ones) without resorting to the PlugIn.

[2017-08-20 16:15] macumber commented on #2734
I agree, not sure that will be feasible for 2.3.0 though.  I was thinking this would come in 2.4.0.  We may want to revist the procedural generation measures to have them create a floorplan first, then extrude that to the full model.

For models that start in SketchUp, we can convert to floorplan, but this will be lossy, the first time you merge you will lose any 3D details and a lot of other stuf

[2017-08-20 16:22] ljbrackney opened #2739 "Default sets in building tab aren't pre-loaded"
This should be marked as severity - Minor Nitpick.  Assigning default sets in the building tab prior to creating constructions has no effect on new spaces that are created - they should inherit sets from floor or building.  Perhaps this hasn't been implemented yet?

[2017-08-20 16:31] ljbrackney commented on #2734
I think your notion of procedurally creating floorplan.json within the existing measures is a good one, and probably the right thing to do.

I guess I'm less concerned about models that were authored in SU originally.

[2017-08-20 19:16] macumber commented on #2739
Just trying to be clear on this, you are setting a default construction set at the building level in the app, then going to the geometry editor and new spaces drawing in the editor are not inheriting the construction set.  That is the issue?   You are right that is not yet implemented.  When you merge back to the model, the OSM spaces should show the inheritance.

[2017-08-20 22:08] ljbrackney commented on #2739
That is the issue.

[2017-08-20 22:12] ljbrackney commented on #2735
I'm not talking about the import button in the editor. I'm aware of what that button does, and we may want to get rid of that button from the UI.  That's an additional source of confusion that I wasn't thinking of when I opened this ticket.

I'm specifically talking about the Load Library option from the File pulldown menu.  I folks are using the tab-based workflow, they SHOULD have already loaded

[2017-08-20 23:26] macumber commented on #2735
Yeah, I think we should disable some of the app menus on that tab, including the import osm library.

[2017-08-21 17:03] kflemin commented on #2723
fixed in: https://github.com/NREL/OpenStudio-PAT/commit/e6ee30c1068a6ba98e71c52777e3313d94c8f99d

[2017-08-21 22:22] shorowit commented on #2728
Just noticed that this is a duplicate (bad pun, sorry) of #2690.

[2017-08-21 22:22] #2728 closed

[2017-08-21 22:23] shorowit commented on #2690
Would love to see this worked on. When you have lots of duplicated measures, it creates a real headache.

[2017-08-22 04:18] macumber opened #2740 "Floor height isn't translated"
Original issue https://github.com/NREL/openstudio-geometry-editor/issues/107

[2017-08-22 04:21] macumber commented on #2739
Waiting on https://github.com/NREL/openstudio-geometry-editor/issues/89

[2017-08-22 14:09] jmarrec opened #2741 "Improve flexibility ZoneHVACLowTempRadiantVarFlow (and ConstFlow): coils and surfaces"
Couple of things I'd like to see:

### Ability to use a heating coil, a cooling coiling, OR both

Overload/modify constructor of ZoneHVACLowTempRadiantVarFlow to not only except both a cooling and heating coil (source [here](
https://github.com/NREL/OpenStudio/blob/72e4961a2d6547dcb40be48f722345b5691e3a74/openstudiocore/src/model/ZoneHVACLowTempRadiantVarFlow.cpp#L504)). I'd want to be able to ini

[2017-08-22 15:46] evanweaver commented on #2690
@shorowit understood, however now I absolutely must focus on another project for the next week or 2, before Anya is away on maternity leave.

[2017-08-22 16:43] asparke2 commented on #2701
@chrisbalbach reported this issue, demonstrated it, and I have a PAT project that replicates the issue (on Windows at least).  Basically what's happening is that one of the design alternatives is getting re-run over and over again and never completes, even though the simulation finishes and everything.

[2017-08-22 16:47] asparke2 commented on #2613
@dstuder can replicate this repeatably on Windows.

[2017-08-22 20:08] ljbrackney opened #2742 "PAT Doesn't Correctly Skip Measures When Selected Points are Re-Run"
Selecting and running or re-running a point does not correctly skip measures.  Here are my data points:
![points](https://user-images.githubusercontent.com/2230150/29585105-cb444852-873a-11e7-8fd1-d3f4cf20a348.png)

Note that this point is ok:
![ok](https://user-images.githubusercontent.com/2230150/29585112-d6ca69f4-873a-11e7-9af0-613cb2be75e6.png)

But this one doesn't skip measures correctly:
![

[2017-08-22 20:36] ljbrackney commented on #2742
Also note that the measure output messages in the selected point are jumbled up as well.  So this problem isn't just effecting the skip behavior.

[2017-08-22 20:48] ljbrackney commented on #2724
I haz box plots!

[2017-08-23 21:48] ljbrackney commented on #2742
This problem persists in the 2.2.1-a7095b553a build

[2017-08-23 21:59] ljbrackney commented on #2738
Working nicely!

[2017-08-23 21:59] #2738 closed

[2017-08-23 22:02] ljbrackney commented on #2737
Working!

[2017-08-23 22:02] #2737 closed

[2017-08-23 22:03] ljbrackney commented on #2733
Looks good now!

[2017-08-23 22:03] #2733 closed

[2017-08-23 22:03] ljbrackney commented on #2729
Working!

[2017-08-23 22:03] #2729 closed

[2017-08-23 22:04] ljbrackney commented on #2732
Fixed!

[2017-08-23 22:04] #2732 closed

[2017-08-23 22:05] ljbrackney commented on #2740
This is working now.  It would be really nice if additional stories kept the floor-ceiling and plenum settings from previous floors as a time saver, but that would be a new feature.

[2017-08-23 22:05] #2740 closed

[2017-08-23 22:12] ljbrackney commented on #2725
This looks like it's working to me.

[2017-08-23 22:13] ljbrackney commented on #2734
This is probably working as intended.  We need to revisit how Measures like the prototype or articulation measures work in the future - they probably need to generate floorplan.json files as well.

[2017-08-23 22:13] #2734 closed

[2017-08-23 22:20] macumber commented on #2604
Believe this also affects the geometry tab, @shorowit just reported some intermittent issues

[2017-08-23 22:21] macumber commented on #2725
Ive hit some failures, it's going to be intermittent but the errors did not come through when they did happen, that'll be my standard for this release.  Bulletproof intersection and matching requires geom lib

[2017-08-23 22:30] ljbrackney commented on #2736
This appears to be working ok.  I will close it and reopen if I see anything else weird.

[2017-08-23 22:30] #2736 closed

[2017-08-23 22:38] ljbrackney commented on #2730
This problem has now moved from the import floorplan button, which was removed, to the editor startup dialog.  Selected import floorplan locks up the app with an unresponsive file system dialog.

[2017-08-24 14:10] johnsontimp commented on #2604
Thanks to Andrew Parker, I was able to fix the issues with the results tab by overriding the 3D settings in my NVIDIA control panel to use the high-performance NVIDIA processor only rather than using the integrated graphics that somehow splits between NVIDIA and Intel graphics. This fixes the results tab but does not allow me to see the geometry preview.

[2017-08-24 14:14] macumber commented on #2604
Thanks @johnsontimp, just to make sure I understand correctly, you can see the geometry tab and can navigate to it, but when you are there you do not see a 3D model of your OSM?  What do you see?

I was able to install OpenStudio on a Windows 10 virtual machine but could not reproduce these issues.  That would make sense this really is a graphics card related issue.

[2017-08-24 14:32] johnsontimp commented on #2604
That is correct. When I click the geometry tab, it seems to go there and the refresh bar fills up like it is working, but when the bar is 100%, the screen is still blank. All I see is white. I don't get any error messages in the OpenStudio app. It may be worth checking with Andrew for troubleshooting. It sounds like the reason he knew what to do was because he has the same Dell M3800 laptop.

[2017-08-24 14:34] macumber commented on #2604
I'm going to try to enable some more detailed logging to see if that helps print out useful information, thanks for your help on this!

[2017-08-24 14:36] johnsontimp commented on #2604
Thanks to you and your team for being so responsive to these bugs. Let me know if you want to set up a Webex or something to see what is happening on my machine.

[2017-08-24 17:08] kflemin commented on #2719
this should be fixed.

[2017-08-24 17:38] DavidGoldwasser opened #2745 "Going to Preview Tab throws away unmerged changes"
If you have un-merged changes and go to "Preview" tab you loose them. I know users should go to the "Preview" button next to "Merge" instead, but if you don't think of that you lose your work without any warning.

Would be nice to at least have a warning dialog pop up, or maybe don't let them click it until a merge, assuming there is some way to see if it is dirty.

The same behavior is true if yo

[2017-08-24 18:07] shorowit commented on #2676
Seems to be working OK in PAT 2.2.1 -- haven't been able to reproduce it with a couple tests.

[2017-08-24 18:07] #2676 closed

[2017-08-24 18:10] shorowit commented on #2719
Initial testing on Mac (@ejhw) and Windows (me) looks good.

[2017-08-24 18:18] DavidGoldwasser commented on #2717
Looks good in Geometry Editor. Below is my workflow and results.

1. Create first story with single rectangle space
2. Create new story with rectangle space matching the first story
3. Create a smaller rectangle that results in C shape
4. Run simulation and inspect floor area to see that nothing is missing or double counting.

![screen shot 2017-08-24 at 12 07 19 pm](https://user-images.githubuser

[2017-08-24 18:50] macumber commented on #2745
It shouldn't lose changes, they should be saved in the floorplan json file when you leave the tab and reloaded when you come back.  If you are not seeing that then this is a bug.

[2017-08-24 18:51] ljbrackney commented on #2676
@shorowit can you verify that PAT no longer deletes the measure from the project's measures directory?  That's not necessarily horrible, but it does lead to project bloat over time.

[2017-08-24 18:57] DavidGoldwasser commented on #2745
I'm not seeing that

[2017-08-24 18:59] shorowit commented on #2676
Just tried a quick test; it was indeed removed from the project's measures directory.

[2017-08-24 19:01] ljbrackney commented on #2676
Weird.  It left measures in the project when I tried it on Mac.

[2017-08-24 19:04] DavidGoldwasser commented on #2676
@ljbrackney I can also confirm that on mac delated measures are not being removed from the projects "measures" folder.

[2017-08-24 19:30] rHorsey commented on #2719
Thanks @ejhw !

[2017-08-24 19:30] #2719 closed

[2017-08-24 19:31] rHorsey commented on #2721
This has been resolved by @kflemin - thanks so much! If anyone else can reproduce this post 2.2.1, please reopen the ticket!

[2017-08-24 19:31] #2721 closed

[2017-08-24 19:32] rHorsey commented on #2716
Doneo.

[2017-08-24 19:32] #2716 closed

[2017-08-24 19:50] #2500 closed

[2017-08-24 22:02] ljbrackney opened #2746 "Prevent PAT from running projects with zero variables"
It's not clear what's happening when projects with zero variables fail to run, and a dialog saying PAT doesn't allow that configuration would be helpful.  A legitimate use case that users might attempt (I did) is to set up a Seed, weather file, and reporting measure just to test out the baseline before adding additional measures and variables.

[2017-08-24 22:08] brianlball commented on #2746
Can that case get defaulted to the single_run method?  Thats what it was designed to do.

[2017-08-24 22:16] kflemin commented on #2746
would 'single_run' be ok to run locally?

[2017-08-24 22:19] brianlball commented on #2746
i think so.  It doesnt use R at all

[2017-08-24 22:20] kflemin commented on #2746
ok, i'll give it a shot

[2017-08-24 22:32] kflemin commented on #2676
the non-delete on mac should be fixed by: https://github.com/NREL/OpenStudio-PAT/commit/ba3d40e701d15ea7f596ef8826d52f049755da8b

Scott, I think your bug was probably caused by your garbled measure_dir paths (with both // and \).  The fix above should prevent deletion from your my_measure directory.  If the deletion from the project directory doesn't work, I would suggest that you open pat.json an

[2017-08-25 00:15] ljbrackney commented on #2746
You should do whatever is easiest and lowest risk.  If popping up a dialog saying "You need at least one variable to run in PAT you schmuck!" is easy, that's fine too.

From: Katherine Fleming <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, August 24, 2017 at 3:20 PM
To: NREL/OpenStudio <O

[2017-08-25 00:16] ljbrackney opened #2748 "Levels in Morris Method Must be >1"
Number of Levels in Morris method must be at least two or R pukes out nonsensical points.  Please put a lower limit on that parameter in PAT.

[2017-08-25 03:49] kflemin commented on #2748
added error handling: https://github.com/NREL/OpenStudio-PAT/commit/6372f3051772e9fa81f1b192e27a43c85801f6ef

[2017-08-25 03:50] kflemin commented on #2746
I tried 'single_run' and that didn't work (0 datapoints were created).  So I added error handling instead: https://github.com/NREL/OpenStudio-PAT/commit/864efb67cbc34732202550395f3d07c1d882b080

[2017-08-25 10:51] shorowit commented on #2669
Fixed in 2.2.1.
https://github.com/NREL/OpenStudio-PAT/commit/1a63d94ed9b8907f59097d1dcd67f54948d59832

[2017-08-25 10:51] #2669 closed

[2017-08-25 11:07] shorowit commented on #2690
FIxed in 2.2.1. Thanks!
https://github.com/NREL/OpenStudio-PAT/commit/a18f340eb44ecb68875524b236a55dab9d887605

[2017-08-25 11:07] #2690 closed

[2017-08-25 12:12] jmarrec opened #2749 "Better default for HeatExchangerFluidToFluid ComponentType"
There is a better way to infer whether it's a Heating or Cooling component for the HX:FluidToFluid. Currently it's set to "BOTH" all the time, see [here](https://github.com/NREL/OpenStudio/blob/4bbc02abe49616fefc2952c84cb6dca5edc32284/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslatePlantEquipmentOperationSchemes.cpp#L389)

But based on controlType, we can do better:
[code]

If "Hea

[2017-08-25 12:32] jmarrec commented on #2749
This should about do it (replace the [line](https://github.com/NREL/OpenStudio/blob/4bbc02abe49616fefc2952c84cb6dca5edc32284/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslatePlantEquipmentOperationSchemes.cpp#L389) I pointed to with this):

[code]

[2017-08-25 12:56] jmarrec opened #2750 "EMS:Sensor constructor with OutputVariable should get the KeyValue"
[code]

[code]

Related links:

* EMSSensor's [constructor](https://github.com/NREL/OpenStudio/blob/2e71acadf03eb258ca9297679d3b21d96163686b/openstudiocore/src/model/EnergyManagementSystemSensor.cpp#L182)

* [EnergyManagementSystemSensor.new::setOutputVariable](https://github.com/NREL/OpenStudio/blob/2e71acadf03eb258ca9297679d3b21d96163686b/openstudiocore/src/model/EnergyManagementSystemSensor.cpp

[2017-08-25 14:29] brianlball commented on #2750
use the setKeyName function
https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/EnergyManagementSystemSensor.hpp#L87

[2017-08-25 14:38] jmarrec opened #2751 "Enhance schedule objects"
`ScheduleConstant` should have something else than `setString` to add new fields, and have some kind of proper extensible group probably (Through, Until, Value)

`ScheduleFixedInterval` should have a way to set the behavior for WinterDesignDay and SummerDesignDay at least.

(`ScheduleFile` should be implemented)

[2017-08-25 16:59] jmarrec commented on #2750
I am already.

But if you set to an OS:OutputVariable object instead of using strings, then it should get the right fields...

Envoyé de mon iPhone

[2017-08-25 20:58] macumber opened #2752 "Norminal Floor to Ceiling Height and Nominal Z coordinate isn't populated in OSM BuildingStory objects"
Minor issue. I did see if the story height is set to 20 that it does change the geometry, but it would be nice to set the nominal values as well.

[2017-08-25 21:05] macumber opened #2753 "The Preview (next to merge) isn't fully functional"
The "Render By" and "Show Story" pull down choices can't be selected.

These do work in the "Preview" tab in OS app 2.1.1.

[2017-08-25 21:07] macumber commented on #2752
Story multiplier in thermal zones are always one, even though the story multiplier is an editable field in geometry editor. Also it shows a default value of 0, when it should show 1.

[2017-08-25 21:42] macumber opened #2754 "App locks up on image import"
See details in https://github.com/NREL/openstudio-geometry-editor/issues/186

[2017-08-25 21:44] macumber commented on #2754
Get this on open floorplan too, duplicate of https://github.com/NREL/OpenStudio/issues/2730

[2017-08-25 21:44] #2754 closed

[2017-08-25 21:45] macumber commented on #2730
We do need to support image import so need to keep this open

[2017-08-27 11:40] kpelckmans opened #2755 "PAT analysis name cannot contain . or continues to loop forever"
When one of the analysis contains a ., following error occurs
(id=59a2aa48b16ce714fb9dd0d0) (queue=simulations) FAILED (0 prior attempts) with Mongo::Error::OperationFailure: The dotted field 'Win 1.5 100P' in 'results.Win 1.5 100P' is not valid for storage. (57)

2 things can be enhanced:
1) do not restart the analysis when this problem occurs and show an error in the interface
2) validate that n

[2017-08-27 20:24] #162 closed

[2017-08-27 20:24] macumber commented on #162
Fixed

[2017-08-27 20:27] macumber opened #2756 "Add Comfort Fields for People Definition on the Loads definition tab"
Enable ASHRAE 55 Comfort Warnings, Mean Radiant Temperature Calculation Type, Thermal Comfort Model Type

[2017-08-27 20:34] macumber opened #2757 "Space load instances have non-editable fields in inspector"
Need to fully create fields so these are editable

[2017-08-28 14:22] ljbrackney opened #2758 "OS Server Dies Mid-Analysis"
UCI Partner was running an optimization - presumably with 2.2.0 on AWS.  rgenoud was making progress for a while then rolled over and died.

![view_analysis1](https://user-images.githubusercontent.com/2230150/29777575-63717c14-8bc1-11e7-82f6-664ebb3acc38.PNG)

![view_analysis2](https://user-images.githubusercontent.com/2230150/29777579-689c56c8-8bc1-11e7-87a4-8fee6d9ef4b8.PNG)

Is this a known iss

[2017-08-28 14:34] DavidGoldwasser commented on #2757
@macumber Just out of interest, what is not editable? Is this about End-Use Subcategory, or are you wanting to change out definitions in the GUI without making a new load instance?

[2017-08-28 15:05] brianlball commented on #2758
do we know what instance they were using?  its possible it ran out of storage if its a small instance.

[2017-08-28 15:07] ljbrackney commented on #2758
I don't know.  We can ask this afternoon, but in the meantime I'm just going to roll on 24a to get rolling.

[2017-08-28 15:39] macumber commented on #2757
Lots of stuff is not editable, subcategory is one.  Need to create all the fields in model object ctor.

[2017-08-28 15:57] ljbrackney opened #2759 "PAT Measure Manager Not Finding New Content in MyMeasures"
Added a Measure to MyMeasures.

[RunPeriod.zip](https://github.com/NREL/OpenStudio/files/1257399/RunPeriod.zip)

This didn't show up in PAT's Measure Manager but DID show up in the App.  I manually edited the Measure's XML to delete a word from the description and restarted PAT.  The Measure now shows up and can be added to the project.

[2017-08-28 16:00] ljbrackney opened #2760 "PAT Not removing Measures from Projects"
Deleting a Measure from a project in PAT is not deleting the Measure from the project's Measures directory.  This caused a problem with a Measure I was trying to update in MyMeasures - going back to the Measure Manager and re-adding the Measure was leaving the old Measure with the old timestamp in the project instead of copying over the new one.  Manually deleting the Measure from the project's Me

[2017-08-28 16:04] macumber commented on #2755
Thanks for the great report @kpelckmans !

[2017-08-28 17:07] DavidGoldwasser commented on #2757
Ah, I see for specific instances types like people. Some or not editable and others like work efficiency schedule are missing.

[2017-08-28 19:21] MatthewSteen commented on #2344
The [Rated Flow Rate field should be autosized during forward translation](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateZoneHVACLowTempRadiantConstFlow.cpp#L160) rather than setting it to a non-existent double. The blank value in EnergyPlus is interpreted as zero flow leading to low energy consumption and high unmet load hours (i.e

[2017-08-29 15:10] kbenne opened #2761 "Add DView to OpenStudio"

[2017-08-29 17:27] ljbrackney opened #2763 "PAT Doesn't Show Analysis Complete for Modest Cloud Runs"
Completed a Morris Method run on 24a w/ 100-140 points.  Server completes normally.  PAT appears stuck in "Analysis running" state, and run must be cancelled to unlock PAT.  A large number of datapoints have been returned from the server to PAT, but it's getting jammed up at some point.  This should be replicable with the SEB_Morris project in the PAT repo and Morris settings of 10 and 10 for the

[2017-08-30 04:00] macumber opened #2764 "OptionalBCLMeasure is not exported to SWIG"

[2017-08-30 14:10] ljbrackney commented on #2760
This is working okay in the latest package.  Not sure what was going on before.  Closing.

[2017-08-30 14:10] #2760 closed

[2017-08-30 14:11] ljbrackney commented on #2746
Tested

[2017-08-30 14:11] #2746 closed

[2017-08-30 14:12] ljbrackney commented on #2748
Tested

[2017-08-30 14:12] #2748 closed

[2017-08-30 14:13] ljbrackney commented on #2723
Tested

[2017-08-30 14:13] #2723 closed

[2017-08-30 14:14] ljbrackney commented on #2696
Can we close this?  Downloads appear to be working.

[2017-08-30 14:16] ljbrackney commented on #2638
I am still seeing the Measure has available update icon in PAT, but it looks like  PAT/MM IS downloading a new version based on timestamps in measure directoryl

[2017-08-30 14:21] ljbrackney commented on #2638
I found a project with multiple out of date measures and can qualify the above behavior.  The OpenStudio Results measure is the only one that seems to exhibit this behavior.  Other measures that had available updates were updated correctly and the icon disappeared correctly.

[2017-08-30 14:21] ljbrackney commented on #2619
No longer see this behavior.

[2017-08-30 14:21] #2619 closed

[2017-08-30 20:19] #2724 closed

[2017-08-31 06:36] DavidGoldwasser commented on #2696
@ljbrackney This wasn't a BCL outage, it was about downloading and using components within a measure. Only made it major because of Get Weather for from zip code used for some model articulation projects. Since it works fine on server, I'm fine having this fixed sometime after 2.3.0.

[2017-08-31 13:58] shorowit opened #2766 "PAT double/integer bug"
We defined a measure argument that's a double, but PAT shows up/down arrows and displays a tooltip as if it thinks it needs an integer:
![image](https://user-images.githubusercontent.com/5861765/29926870-d9fe29ce-8e21-11e7-8e55-fd4c0e645312.png)

It appears that the double value does get used correctly. But a PAT user in the private sector got confused by this and thought they could only enter an

[2017-08-31 15:35] macumber opened #2767 "Space Types library item collapses after dragging in Space Type from library"
Have to keep opening this to drag in more space types

[2017-08-31 16:04] macumber commented on #2745
Having an unmerged space appears to crash the app

[2017-08-31 16:34] ljbrackney commented on #2767
Agree.  I believe Construction Sets have the same issue.  Irritating.

[2017-08-31 20:50] #2745 closed

[2017-09-01 17:38] shorowit opened #2770 "PAT Updating measures doesn't preserve argument order"
If I update a measure in PAT where I've inserted an argument at the top of the measure.rb, the argument appears at the end of the measure in PAT. If I want the argument to correctly appear at the top, I have to delete the measure from my project, re-add it, and then re-enter all of the argument values.

It may not sound too bad, but I have to update four PAT projects, each with this measure duplic

[2017-09-05 03:27] macumber opened #2771 "SpacesDaylightingGridView is disabled"
No way to access daylighting objects in app

[2017-09-05 19:16] DaveInCaz opened #2772 "NUGET package missing dependencies?"
We are using the Nuget package for OpenStudio, and when testing on a clean VM I ran into the same issue as in https://github.com/NREL/OpenStudio/issues/2371 .

It seems that issue was solved by discovering & packaging certain dependencies (`msvcp120.dll` and
`msvcr120.dll`). But they don't seem to be included in the Nuget package, which therefore can lead to the same error.

[2017-09-06 21:46] kflemin commented on #2763
Could not replicate with the project/settings mentioned above.  Do you have another project that I could test with?

[2017-09-06 22:24] kflemin commented on #2742
@ljbrackney, would you mind sending me this project so I can test with it?  thanks!

[2017-09-07 19:37] ejhw opened #2773 ""Download All" in PAT only downloads 150 datapoints"
Truncation causes "Download All" to only download 150 datapoints instead of all of them.

[2017-09-07 21:41] shorowit commented on #2773
I just did another test run of 200 datapoints and ended up with 158 (?) datapoint directories in localResults. Also, I can confirm this bug occurs in the official PAT 2.2.1.

[2017-09-08 14:04] shorowit commented on #2661
I've not observed this issue for a while now.

[2017-09-08 14:07] shorowit commented on #2602
I've not observed this issue for a while now.

[2017-09-08 14:07] #2602 closed

[2017-09-08 15:41] macumber opened #2775 "Name synching issue"
Create a space type in editor, merge, rename space type in app, go back to editor and you have a duplicate space type (should have renamed)

[2017-09-11 05:29] meveraldo commented on #2705
Hi @DavidGoldwasser

I am working through your proposed workflow to intersect & surfacematch my model, however ran through strange result. When I run the surface matching measure in OpenStudio app, it suggests a successful outcome. After it completed the run, I saved the model and close the app.

When I then reload the model via sketchup OS plugin, the model appears exactly the same as when I save

[2017-09-11 18:55] #2730 closed

[2017-09-11 22:33] #2562 closed

[2017-09-12 15:57] ljbrackney commented on #2763
This appears to be working now.  Perhaps fixed by something server side.  Will reopen if it pops up again.

[2017-09-12 15:57] #2763 closed

[2017-09-12 16:54] MatthewSteen opened #2776 "Spaces tab Filters do not work for all sub-tabs"
The Filters in the Spaces tab work in the Properties sub tab but do nothing in the Loads, Surfaces, Subsurfaces, Interior Partitions, and Shading sub-tabs. Tested with a 1.14.0 model updated to 2.2.1.

[2017-09-12 18:06] ljbrackney commented on #2673
Is this going to be fixed before release?  I just stubbed my toe on the issue myself.

[2017-09-12 18:40] kflemin commented on #2742
This is fixed.  Note that when single datapoints are rerun, only the measures included in that datapoint are sent to the server.  The results in the datapoint will not show the measures that were skipped b/c they were never sent to the server.  See example below:
![image](https://user-images.githubusercontent.com/2205659/30342529-727153a4-97b7-11e7-9518-4ca9d2c3d87a.png)

[2017-09-12 18:42] ljbrackney commented on #2742
Perfect!

[2017-09-12 18:54] macumber commented on #2198
Shows the SWIG and compile times for this task compared to others

![image](https://user-images.githubusercontent.com/1327850/30343117-7b49e58e-97b9-11e7-918a-36469df1a962.png)

[2017-09-12 19:56] kflemin commented on #2673
I just added a check in PAT after the 'run entire workflow' button is pushed.  I'm checking for these characters:  $.€£  in both option names and design alternative names.  At some point we'll want to implement a more complete solution server-side.

[2017-09-13 15:34] evanweaver opened #2777 "Qt WebEngine problems on Ubuntu preclude ResultsViewer (OS 2.2.1) and DView (OS 2.2.2) from running on Ubuntu"
ResultsViewer call stack on Ubuntu 14.4

bldadmin@ubuntu:~$ cd /usr/bin/
bldadmin@ubuntu:/usr/bin$ ./OpenStudioApp
REQUEST REFRESHALL CALLED
 REFRESHALL CALLED
 DO REFRESH CALLED 0
[0913/093230:WARNING:resource_bundle.cc(291)] locale_file_path.empty() for locale
Qt WebEngine ICU data not found at /home/dmacumbe/OpenStudio/super-build/Qt-prefix/src/Qt-install/resources. Trying parent directory...
Q

[2017-09-13 15:46] evanweaver commented on #2777
We should verify that DView starts on Ubuntu.

[2017-09-13 16:09] rHorsey commented on #2773
This isn't really a bug, it's a feature. The functionality that previously existed was unintended, and we're not sure how it worked at all. To do this responsibly is going to require a fair bit of effort and is moderately risky, due to the control logic surrounding that controller in PAT. @kflemin will start in on this once 2.3.0 is out and we have regular iteration builds rolling again.

[2017-09-13 16:09] rHorsey commented on #2773
This isn't really a bug, it's a feature. The functionality that previously existed was unintended, and we're not sure how it worked at all. To do this responsibly is going to require a fair bit of effort and is moderately risky, due to the control logic surrounding that controller in PAT. @kflemin will start in on this once 2.3.0 is out and we have regular iteration builds rolling again.

[2017-09-13 17:42] DavidGoldwasser opened #2778 "Luminaire won't allow input higher than 1.0 for Lighting Power"
https://unmethours.com/question/26532/unable-to-edit-luminaire-definitions-in-os/

GUI only lets you enter values from 0.0 to 1.0. Should be able to enter any positive number. I haven't confirmed if this is GUI issue or affects model API as well.

[2017-09-13 19:30] evanweaver commented on #2777
DView call stack on Ubuntu 14.4

Qt WebEngine ICU data not found at /home/dmacumbe/OpenStudio/super-build/Qt-prefix/src/Qt-install/resources. Trying parent directory...
Qt WebEngine ICU data not found at /home/dmacumbe/OpenStudio/super-build/Qt-prefix/src/Qt-install. Trying application directory...
Installed Qt WebEngine locales directory not found at location /home/dmacumbe/OpenStudio/super-build

[2017-09-13 19:36] evanweaver opened #2779 "DView does not close cleanly on Mac"
![image](https://user-images.githubusercontent.com/4974134/30396941-7e0134ce-9888-11e7-9e42-8a43404cb91e.png)

[2017-09-13 19:55] evanweaver opened #2780 "DView installer should list it in Windows Start Menu and Mac Applications"

[2017-09-13 20:55] macumber commented on #2777
Why is DView invoking WebEngine?  Does it include a web browser?

[2017-09-13 21:00] macumber commented on #2777
Oh I see, you are starting the app and then launching it?

[2017-09-13 21:07] evanweaver commented on #2777
Yep

[2017-09-13 21:15] macumber commented on #2777
Cool, the WebEngine errors are not related to why the apps are failing.  Only the last messages about

    /usr/bin/DView: error while loading shared libraries: libwx_baseu_net-3.0.so.0: cannot open shared object file: No such file or directory

are relevant.  You should be able to replicate by just running

    /usr/bin/DView

Does that have the same issue?  If not, then something the app is doin

[2017-09-13 22:46] eshadd commented on #2777
Also noticed that Geometry tab makes OS close. Possibly same Dview issue?

[2017-09-14 00:08] macumber commented on #2777
What operating system are you using @eshadd?  If Windows, I suspect your issue is related to https://github.com/NREL/OpenStudio/issues/2604 rather than this one

[2017-09-14 00:19] macumber commented on #2777
For this issue we just need to statically link the wx libraries or ship shared object libraries on Linux

[2017-09-14 00:19] macumber commented on #2777
For this issue we just need to statically link the wx libraries or ship shared object libraries on Linux

[2017-09-14 03:38] DavidGoldwasser opened #2781 "Clicking on WaterUseConnection in project crashes OS app"
I first saw this on 2.2.2, and was ready to blame in in E+ 8.8, but then I confirmed the same behavior in 2.2.1. However I can not reproduce this in 2.2.0. This happens on new model, or existing model that already has WaterUseConnection. Steps to reproduce.

1. Go to HVAC Tab
2. Add in WaterUseConnection from Library
3. Click on WaterUseConnection in your model (as if you are going to add a water

[2017-09-14 15:15] DavidGoldwasser commented on #2781
I can't reproduce this at all today, and Dan could not either? Not sure what was happening yesterday, maybe there was some orphan process that was creating issues. I'll close this unless I see it again. I tested it last night with new model, so wasn't a model specific issue.

[2017-09-14 15:59] DavidGoldwasser commented on #2581
@evanweaver this is still valid in 2.2.2

[2017-09-14 20:07] DavidGoldwasser commented on #2781
Had it happen again, and I can repeat it (for now). I also have PAT and UrbanOpt running, and PAT is hung up, so maybe that is related to this. Here is report from crash.

[code]

[2017-09-14 20:27] shorowit commented on #2639
@evanweaver Still an issue in your latest 2.2.2 build. Here's the debug window:

![image](https://user-images.githubusercontent.com/5861765/30454234-daa73f4a-9958-11e7-9247-46fb3ce79a9d.png)

[2017-09-14 21:14] macumber commented on #2604
Seems like this is resolved?

[2017-09-14 21:14] #2604 closed

[2017-09-14 21:16] macumber opened #2782 "Results tab only works when launching app via SketchUp"
Suspect SketchUp is doing something to resolve graphics issues that gets passed on to OS App

Related to https://github.com/NREL/OpenStudio/issues/2604

[2017-09-14 22:18] macumber commented on #2711
I just tried to reproduce this by running a small model.  Then I saved as another file, changed weather file, and re-ran; got expected changes in reports.  Next I saved as again, changed building name, and re-ran; got expected changes in reports.

Can you re-test to see if this is still valid?

[2017-09-15 06:03] eshadd commented on #2777
@macumber I'm using Linux.

[2017-09-15 16:00] macumber commented on #1353
Also reported by @eringold, applies to double clicking OSMs on network drive as well

[2017-09-15 16:03] eringold commented on #1353
To be clear, double clicking OSM on a network drive will launch the app, but not load the OSM in the app. Tested with v2.2.0 and v2.2.2.

[2017-09-15 18:17] joseph-robertson opened #2785 "thermal_zone.airLoopHVACTerminal returns PTAC object"
In OS 2.2.1, thermal_zone.airLoopHVACTerminal returned AirTerminalSingleDuctUncontrolled, as expected (PTAC is also in the list of zone HVAC equipment). Now in OS 2.2.2, thermal_zone.airLoopHVACTerminal returns ZoneHVACPackagedTerminalAirConditioner and not the AirTerminalSingleDuctUncontrolled, thus breaking our residential measures.
[SFD_HVACSizing_Equip_GF_RAC_Fixed.osm.txt](https://github.com/

[2017-09-15 18:35] DavidGoldwasser commented on #2711
I can't reproduce this on Mac. I had a model with OpenStuido, E+ and Reporting measures. I ran it, did SaveAs. The new model still had measure and report. I re-ran the simulation and still worked. @ljbrackney on your example was it just the envlope table that was wrong? It either looks like an empty model, or a model that doesn't have en exterior surface or sub-surfaces, not not sure how that happ

[2017-09-15 19:15] macumber opened #2786 "Outside Boundary Condition Object blank for interior surfaces"
Thanks to @DavidGoldwasser for finding this

[2017-09-16 22:46] asparke2 commented on #2701
We believe that this issue is the result of having some reserved characters (periods, dollar signs) in the measure option and/or design alternative names.  This hypothesis is being tested and if it is true we will add GUI logic into PAT to warn users ahead of time.  The better long term solution to allow these characters in the names may be pursued in the future.

[2017-09-17 03:29] #2786 closed

[2017-09-18 15:22] joseph-robertson opened #2787 "removing airloop removes ptac from inlet port list"
[code]
The `ptac` is no longer in the inlet port list for `control_zone`resulting in E+ error (osm [before](https://github.com/NREL/OpenStudio/files/1311180/before.osm.txt) and osm [after](https://github.com/NREL/OpenStudio/files/1311179/after.osm.txt)):

   ** Severe  ** GetPTUnit: ZoneHVAC:PackagedTerminalAirConditioner="RESIDENTIAL ROOM AC ZONE PTAC"
   **   ~~~   ** ..Air-conditioners air outl

[2017-09-18 21:57] macumber opened #2788 "OpenStudioApp crashes on geometry tab in Ubuntu"
Set DISPLAY env variable
Start container with https://github.com/canmet-energy/docker-openstudio/blob/master/Dockerfile
Connect with XServer (e.g. XMing)

[2017-09-19 03:53] DavidGoldwasser opened #2789 "FourPipe Fan Coil fails in 2.2.2 simulation with EnergyPlus 8.8"
I hit this with LargeHotel prototype building, I thought issues were related to custom standards gem I was using, but then want back and recreated with 2.2.1 install OS app, and then 2.2.2.

Below is text from OSM and IDF from 2.2.1 OSM model where I ran the prototype measure for LargeHotel.

OS:ZoneHVAC:FourPipeFanCoil,
  {844b2ba4-0a1e-4b1a-8157-c89a692f531c}, !- Handle
  Room_1_Flr_3 ZN FCU,

[2017-09-19 17:41] kbenne commented on #2781
I can reproduce this on Mac by rapidly clicking back and forth between water use connection view and the water use equipment objects.

I also see this jumping between loops, such as the chilled water plant and condenser loop of a water cooled chiller. I think it is the same issue.

I have a fix I'm going to commit momentarily, but I admit it might not work for everyone, on all platforms , in all c

[2017-09-19 19:52] kbenne commented on #2785
@joseph-robertson  this is officially weird. The ptac is returning an AirLoopHVAC instance. Can you think of any reason why that might be?

[2017-09-19 21:07] kbenne commented on #2785
Hey @joseph-robertson can you send me a 2.2.1 version of the model?

[2017-09-19 21:13] DavidGoldwasser opened #2791 "WorkflowStepValue.units is not initialized."
Even though units are in the OSW file, the boost optional is always not initialized.
https://openstudio-sdk-documentation.s3.amazonaws.com/cpp/OpenStudio-2.2.0-doc/utilities/html/classopenstudio_1_1_workflow_step_value.html#ad4a93507ee09de4bef3d38be1c509ed3

Name and value work fine, here is sample OSW I'm pulling from.

` {
                  "name" : "end_use_heating",
                  "units" :

[2017-09-19 22:09] eringold commented on #2253
FYI, still valid in v2.2.0.

[2017-09-20 08:08] jmarrec commented on #2787
Very probably linked to https://github.com/NREL/OpenStudio/issues/2785

[2017-09-20 08:27] jmarrec commented on #2764
(I know nothing about SWIG, but using the ruby bindings I can access `OpenStudio::OptionalBCLMeasure.new`)

[2017-09-20 09:20] jmarrec commented on #2693
@ljbrackney If you could expand your screen you'll probably see that they aren't duplicates, but different peak conditions such as DB=>MWB, DP=>MWB, etc.

![screen shot 2017-09-20 at 11 18 35 am](https://user-images.githubusercontent.com/5479063/30636385-94c096e2-9df5-11e7-8098-833f9178aed1.png)

I cannot reproduce the duplicate behavior that either you or matt are referring to.

I think it lay be

[2017-09-20 09:23] jmarrec commented on #2755
Same issue as I reported here: https://github.com/NREL/OpenStudio/issues/2673

[2017-09-20 09:26] jmarrec commented on #2656
This issue is getting stale when the work appears to have been done already (referenced Pull Request). Maybe it's time to revisit?

[2017-09-20 09:38] jmarrec commented on #2781
Seems like a potential duplicate of https://github.com/NREL/OpenStudio/issues/2622

[2017-09-20 09:39] jmarrec commented on #2621
Given the won't fix label, perhaps this issue should be closed @macumber?

[2017-09-20 09:40] jmarrec commented on #2620
Do you foresee (backwards) compatibility issues if we were to change this?

[2017-09-20 09:53] jmarrec commented on #2609
Which one would that be? I see `OS:ZoneHVAC:TerminalUnit:VariableRefrigerantFlow` implemented. In E+ 8.8.0 I don't see a new object but maybe I'm missing it?

The OS implementation is missing a few fields though, such as the Availability managers List and Design Specification ZoneHVAC Sizing Object Name

[2017-09-20 09:55] jmarrec commented on #2598
Seems like this is a "won't fix" issue, so perhaps it should be closed (@macumber)

[2017-09-20 10:08] jmarrec commented on #2573
I can reproduce this, but it turns out this is definitely not limited to `ScheduleDay`, for example it works with `PeopleDefinition` too, and probably wherever the method accepts a double.

It looks like it would take a lot of work for a minor bug, unless someone has a better way of handling that other than (the naive way of) modifying each `setXXX` method that accepts a double to use `std::isnan(

[2017-09-20 10:23] jmarrec commented on #2561
In the [CLI Doc](http://nrel.github.io/OpenStudio-user-documentation/reference/command_line_interface/) there is a section about "Environment Variables", reading it I have added this to my `~/.bash_profile`:

    export RUBYLIB=/Applications/OpenStudio-2.2.0/Ruby
    export ENERGYPLUS_EXE_PATH=/Applications/OpenStudio-2.2.0/EnergyPlus/energyplus-8.7.0

Isn't that enough?

Then again, it shouldn't

[2017-09-20 11:18] jmarrec commented on #2458
It seems that this field [Heat Pump Coil Water Flow Mode](http://bigladdersoftware.com/epx/docs/8-7/input-output-reference/group-unitary-equipment.html#field-heat-pump-coil-water-flow-mode-000) only exists for the `AirLoopHVAC:UnitaryHeatPump:WaterToAir` which isn't even implemented in OpenStudio.

So I assume you are you talking about [ZoneHVAC:WaterToAirHeatPump](http://bigladdersoftware.com/epx

[2017-09-20 11:28] jmarrec commented on #2416
This looks similar to #2449 which deals with clone. Looks like building doesn't "know" which objects it's supposed to delete or clone.

[2017-09-20 11:44] jmarrec commented on #2410
`AvailabilityManagerDifferentialThermostat` was implemented in ae66f40d6f95a5c8b67b388726d193e348f7714f

[2017-09-20 12:08] jmarrec commented on #2468
This actually happens with every object. Try to put a AirLoopHVACUnitarySystem on the supply side of a plant loop, you'll get the same behavior.

[2017-09-20 12:28] jmarrec commented on #2275
Is this still relevant today now that the PlantEquipmentOperationSchemes can be created in the API?

Additionally, if I look at https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslatePlantEquipmentOperationSchemes.cpp#L325

it should get wrapped in a PlantEquipmentOperationHeatingLoad.

I guess better default for CompType could be made by ch

[2017-09-20 12:50] jmarrec opened #2792 "OS App Crash when switching from zone equipment inspector to HVAC Systems tab"
Go to Thermal Zone tab
Create a zone
Drag for example "CV Unit Heater HW" from the Library to the thermal zone (works with Unit Ventilator too, PTAC, probably any other)
Click on it to bring the right column inspector
Click on "HVAC Systems" tab (even if you wait a long time before doing this, it crashes)
=> crash

First noticed in OS 2.2.0, confirmed behavior in OS 2.2.2
macOS Sierra 10.12.6

[2017-09-20 13:09] jmarrec commented on #2192
@macumber this issue can be closed, by #2611

[2017-09-20 13:10] jmarrec commented on #2182
@macumber Like I said a while ago, you can close this one.

[2017-09-20 13:14] jmarrec commented on #2175
The "Sky Clearness" is now available in the OS App, the only problem is that it's on the wrong tab, should be in "Solar" instead of Pressure/Wind/Precipitation

[2017-09-20 13:19] jmarrec commented on #2165
Which unit tests?

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/test/ScheduleInterval_GTest.cpp#L29 I don't see anything commented out.

In the forward trnaslate Gtest there is one test case that is commented out:
https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/Test/ScheduleInterval_GTest.cpp#L397

[2017-09-20 13:25] jmarrec commented on #2573
Actually looks easier that I thought, it can just be handled in IdfObject:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/utilities/idf/IdfObject.cpp#L579

setDouble and setInt both need to check for nan and inf and exclude both.

[2017-09-20 13:29] shorowit commented on #2787
I don't think they are linked. This bug has existed across multiple versions whereas #2785 broke between OS 2.2.1 and 2.2.2.

[2017-09-20 13:30] kbenne commented on #2787
I'm working on this. I think we will know soon.

[2017-09-20 13:45] DavidGoldwasser commented on #2656
@macumber did you want to merge that into 2.3 or after?

[2017-09-20 14:10] macumber commented on #2656
After 2.3 for sure

[2017-09-20 15:09] asparke2 commented on #2609
[AirConditionerVariableRefrigerantfFowFluidTemperatureControl](http://bigladdersoftware.com/epx/docs/8-7/input-output-reference/group-variable-refrigerant-flow-equipment.html#AirConditionerVariableRefrigerantFlowFluidTemperaturecontrol) and [AirConditionerVariableRefrigerantfFowFluidTemperatureControlHR](http://bigladdersoftware.com/epx/docs/8-7/input-output-reference/group-variable-refrigerant-fl

[2017-09-20 15:37] eringold commented on #2253
Workaround: live dangerously; copy coils and curves manually from `hvac_library.osm`

[2017-09-20 15:49] jmarrec commented on #2609
Ah I see! I got confused by the "VRF *terminal* type" (I expected a terminalunit)

[2017-09-22 14:42] brianlball commented on #2598
yeah, this is not a bug.  The API functions as designed.  To do whats been requested is a pretty big lift and would need to get funded and prioritized, etc.

[2017-09-22 14:42] #2598 closed

[2017-09-22 20:46] asparke2 commented on #2789
Fixed by https://github.com/NREL/OpenStudio/commit/34238e7c2c48de2dd1a5dc7877693536864d0854, tested by building locally.

[2017-09-22 20:46] #2789 closed

[2017-09-25 17:43] mleach-noresco opened #2794 "Modifying Construction Rendering Color in SketchUp OS Plugin or OS APP"
In the plugin, you used to be able to change rendering colors for constructions when you were rendering by construction.  But now, when you click on a surface when rendering by construction you get the surface properties instead of the construction properties.  That's fine, but it would be nice to be able to select constructions in the inspector window and be able to modify rendering color.  Addit

[2017-09-25 23:42] chriswmackey opened #2795 "Can't Add a MeasureType in C# Bindings"
Hello OpenStudio Team,

Thanks, as always for this wonderful software.  I have been playing with the [WorkflowJSON](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/utilities/filetypes/WorkflowJSON.hpp) class for the past day and it's been generally smooth sailing except for one small issue.  I am just trying to use the `setMeasureStep()` for the Workflow and all of my attempts t

[2017-09-26 18:56] abbaad opened #2796 "Build fails with `No rule to make target 'src/utilities/idd/IddFieldEnums.ixx'`"
I'm trying to build OpenStudio (v2.2.0) on archlinux, on an x86-64 machine. There seems to be an issue with `cmake` not picking up dependencies correctly. The error in context is:
[code]
I have attached the full typescript as well: [typescript.txt](https://github.com/NREL/OpenStudio/files/1334578/typescript.txt)

It might to be a problem with Swig not being used correctly by `cmake`. Even though I

[2017-09-26 20:40] macumber commented on #2796
There is an executable named GenerateIddFactory.exe that gets built very early in the build process.  This gets run to generate some files based on the IDD.  You can go to your build directory and find this exe and try to run it, my guess is there are some missing run time dependencies

[2017-09-26 20:46] ljbrackney commented on #2796
I have to manually make GenerateIddFactory and GenerateIddFactoryRun prior to making pretty much anything on a "clean" system.

[2017-09-26 20:51] macumber commented on #2795
Hmm that might be a weird SWIG order thing.  I've never actually used that method, I have been using:

`bool setWorkflowSteps(const std::vector<WorkflowStep>& steps);`

to set all the steps at once.  In either case, you will need to construct either a OpenStudio.MeasureStepVector or OpenStudio.WorkflowStepVector and add the measure to that before calling setWorkflowSteps.  You might try a few vari

[2017-09-26 21:47] chriswmackey commented on #2795
@macumber ,
Thank you, as always, for the wonderful support!  Your proposed solution works on my end.  Here's the final code that I used to solve the issue (I only include the second half here as most of the first part is extraneous):

[code]

I'll leave it up to you, @macumber if you would rather close the issue (since I have what I need now) or just leave it open until you can investigate the SW

[2017-09-27 13:40] jmarrec opened #2797 "LowTempRadiant Forward Translations can create empty ZoneHVAC:LowTemperatureRadiant:SurfaceGroup"
I just hit this in 2.2.1. I have assigned a `OpenStudio::Model::ZoneHVACLowTempRadiantVarFlow` to my zone, with setRadiantSurfaceType("Ceilings"). I was relying on the building construction set to assign Internal Source Constructions to Interior Ceilings.

Turns out that some of my zones don't have "Interior Ceilings" (because they are Exterior Roofs...). The forward translations still created eve

[2017-09-27 15:43] jmarrec commented on #2460
The current develop no longer has a `<\POLICY>` tag. Is it fixed in the OS App now?

[2017-09-27 15:47] eringold commented on #2460
In OS v2.2.0 this appears to be fixed.

[2017-09-27 16:41] macumber commented on #2795
Cool, good to hear you are unblocked.  Let's leave this open for now since it still is a bug

[2017-09-27 16:46] DavidGoldwasser opened #2798 "OS App only shows the custom editable measure, name and not the one defined in measure.rb and measure.xml"
OS app used to show both the un-editable measure name set by the measure writer and an editable name which allows multiple instances of the measure to have the same name.

I wanted to edit one of the measures on a project, but it wasn't clear at first what measure it was. I had to either recognize the arguments or modeler description, or dig around in the OSW.

Not something that needs to be addre

[2017-09-27 17:25] LyleKeck commented on #2792
App also crashes occasionally when adding zone equipment (FourPipeFanCoil) to zone on the Thermal Zone tab.  Also can crash after adding zone equipment and then selecting the AirLoop from the system dropdown on the HVAC Systems tab

[2017-09-27 17:48] mdahlhausen opened #2799 "workspace.getObjectsByType() for ZoneHVAC:IdealLoadsAirSystem objects"
I have an EnergyPlus measure that edits the ZoneHVAC:IdealLoadsAirSystem objects.

I call ```workspace.getObjectsByType("ZoneHVAC:IdealLoadsAirSystem".to_IddObjectType)``` in run the section of my measure.

This works fine in OpenStudio v1.14, but returns an empty array in OpenStudio v2.2.0.
The ```workspace.getObjectsByType()``` works for other object types, e.g. ```workspace.getObjectsByType("El

[2017-09-28 07:51] jmarrec commented on #2799
Seems like if you check the "Ideal Air Loads" checkbox on the ThermalZone tab, you end up with a `HVACTemplate:Zone:IdealLoadsAirSystem` instead.

    workspace.getObjectsByType("HVACTemplate:Zone:IdealLoadsAirSystem".to_IddObject)

[2017-09-28 13:38] jmarrec commented on #2176
While we're at it, the "Humidity Indicating Type" stays blank, when it's clearly present in my ddy file:

![screen shot 2017-09-28 at 3 36 55 pm](https://user-images.githubusercontent.com/5479063/30969521-f10cd64a-a462-11e7-80ff-561555212bb5.png)

[code]

[2017-09-28 13:46] #2182 closed

[2017-09-28 14:06] jmarrec commented on #2127
This is still relevant today in 2.2.x.

Worth noting in case you missed it that W.m^-3.s^-1 is really homogenous to Pa, so it's not wrong. It's just a weird choice of display units.

[2017-09-28 14:15] jmarrec commented on #2125
Still relevant today: https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/WaterHeaterHeatPump.cpp#L523

This would just be a matter of removing these two lines.

Was there any reason you chose to do this @kbenne (you were the one who added it in https://github.com/NREL/OpenStudio/commit/1c05a0de18385e7f16c53a24d29bc5db87042266 on Fri Jun 5 13:01:36 2015 -0500)

[2017-09-28 14:15] jmarrec commented on #2117
This issue is probably stale isn't it?

[2017-09-28 14:32] jmarrec commented on #2109
Tested in OS 2.2.1. I can see the resulting object in the idf:

[code]

Also confirmed that today the schedule still is a text field. The issue is ill-named.

@macumber can you rename this issue to "ZoneAirContaminantBalance Outdoor Carbon Dioxide Schedule Name should be a schedule selection box" or something like that?

[2017-09-28 14:36] jmarrec commented on #2095
@kbenne can you close this one please?

Tested in OS 2.2.1:

![screen shot 2017-09-28 at 4 36 01 pm](https://user-images.githubusercontent.com/5479063/30972544-25fb61de-a46b-11e7-93e0-5bced4cb386e.png)

[2017-09-28 14:38] jmarrec commented on #2091
@kbenne this is done already, please close.

This runs fine:

[code]

[2017-09-28 14:43] jmarrec commented on #2093
Still the case in 2.2.1 today, same warning as @MatthewSteen gave above.

[2017-09-28 14:47] jmarrec commented on #2079
Me neither.

[2017-09-28 14:47] #2079 closed

[2017-09-28 15:05] jmarrec commented on #2062
Still relevant today. I guess I could understand the rationale originally... If you unlocked the field,
`MainRightColumnController` I think would let you pick any valid values for this field:

OpenStudio::Model::CoolingTowerVariableSpeed::modelTypeValues
=> ["CoolToolsCrossFlow",
 "CoolToolsUserDefined",
 "YorkCalc",
 "YorkCalcUserDefined"]

Problem is, if you use `CoolToolsUserDefined` and  `York

[2017-09-28 15:06] jmarrec commented on #2054
I forgot to close this issue when in fixed it in #2589

[2017-09-28 15:06] #2054 closed

[2017-09-28 15:14] jmarrec commented on #2038
Were you actually trying to use the numeric keypad "." key next to the 0? If so, that would create a ',', which is forbidden in OS. If you use SHIFT + ".;" on a french keyboard, that should work, at least I never had any issues with that.

So unless it's something else, I think this could be closedd

[2017-09-28 15:25] jmarrec commented on #2022
I can reproduce this issue in OS 2.2.1. The loop connections aren't preserved with a `AirTerminalSingleDuctConstantVolumeFourPipeInduction`, yet they are with a HW `AirTerminalSingleDuctVAVReheat`

Not sure I understand why, the clone methods looks very similar

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/AirTerminalSingleDuctConstantVolumeFourPipeInduction.cpp#L282

[

[2017-09-28 15:31] jmarrec commented on #2013
This is old (and seemed intermittent at the time anyways) and can probably be closed

[2017-09-28 15:36] jmarrec commented on #2008
This works in 2.2.1, tested it. I could add a Gtest if you wanted, but probably not worth it.

@macumber

in test_schedule_constant_reverse.idf
[code]

[code]

[2017-09-28 15:37] jmarrec commented on #2000
Still relevant as of 2.2.1

[2017-09-28 15:40] jmarrec commented on #1974
@DavidGoldwasser so can it be closed?

[2017-09-28 17:02] mdahlhausen commented on #2799
It writes both. The ```HVACTemplate:Zone:IdealLoadsAirSystem``` appears in the .idf written by OSv1.14 as well.  I tried the ``workspace.getObjectsByType("HVACTemplate:Zone:IdealLoadsAirSystem".to_IddObject)``` call, same error.

[2017-09-28 17:43] jmarrec commented on #2799
to_IddObjectType.
Worked when I used the forward translator in irb at least
I guess one other thing is that I haven't thought before about whether energyplus measures are triggered before or after expandobject (e+).
At least you should find either the hvactemplate or the zonehvac but not both (for the same zone at least)

Envoyé de mon iPhone

[2017-09-28 21:58] shorowit opened #2801 "Measure manager does not check for updates to outputs section"
We have some reporting measures for ResStock/ComStock with output sections that are dynamically generated (based on information outside the measure/model). Currently the measure will not show up as updated even if there are changes to these outputs. Would it be possible to check for new outputs when determining if a measure has updates?

As a workaround, we can force an update by making a minor ch

[2017-09-28 22:26] shorowit commented on #2801
@ljbrackney points out that the ability to force an update could help here.

[2017-09-28 22:33] shorowit commented on #2801
(We wouldn't be asking for this change if there was a way to runner.registerValue and tell OS that we want it to be an output -- as opposed to providing an output list for PAT/server that we need to keep updated. All we want is the output to be available in the results csv file.)

[2017-09-29 05:01] macumber opened #2802 "OpenStudioApp crashes on Ubuntu unless run from /usr/bin"
Calling the executable name from a directory outside of /usr/bin results in build component libraries failing to be found and app crashing.  Calling full path to executable does work.  For example:

[code]

[2017-09-29 05:10] macumber opened #2803 "DView crashes on Ubuntu"
Stack trace

[code]

[2017-09-29 07:44] jmarrec commented on #1550
Probably stale as well.

[2017-09-29 07:46] jmarrec commented on #2127
After talking on Slack with dan and kyle, it seems that this would be quite some work, so it's probably not worth the effort (like I said, it's not wrong, just weird).

I was also told that @evanweaver was the specialist in this area. This is a matter of changing the displayunit of the MainRightColumnController for a specific field...

[2017-09-29 07:48] jmarrec commented on #2656
I'm closing this issue, the pull request is enough.

[2017-09-29 07:48] #2656 closed

[2017-09-29 07:59] jmarrec commented on #2437
Still relevant as of 2.2.1

[2017-09-29 08:13] jmarrec commented on #1964
Duplicate of #2252

[2017-09-29 08:25] jmarrec commented on #1884
I'm closing this, as I think it's really a non-issue, especially now that the addSystemType1 is only left in the API.

If you want to implement ASHRAE compliant systems in the API, you'd use openstudio-standards nowadays.

The only thing to keep in mind is that the hvac_library might benefit from using the openstudio-standards directly to create ASHRAE systems for every vintage where applicable (t

[2017-09-29 08:25] #1884 closed

[2017-09-29 08:40] jmarrec commented on #1882
It seems that OpenStudio doesn't create Supply Bypass Branches anymore. I'm not sure if that's a problem or not, but at least it isn't what I expected. Anyways, the issue as it stands right now isn't valid anymore.

[2017-09-29 08:40] #1882 closed

[2017-09-29 08:42] jmarrec commented on #1877
Still true as of 2.2.1. I guess we don't care that much though...

[2017-09-29 08:47] jmarrec commented on #1854
I can reproduce the "drop schedule set" inside the "construction set" area in 2.2.1. Interestingly, the drop only works if It's already in "My Model" and I'm dragging from "My Model". The drop doesn't work when I drag from the Library.

[2017-09-29 08:51] jmarrec commented on #1848
Still true today.

[2017-09-29 08:54] jmarrec commented on #1814
Still an issue in 2.2.1. (I discovered that I could select all spaces, and click the "+" signs and they would be duplicated. Interesting, I thought the "x2" was intended to do that (greyed when you select several)

![screen shot 2017-09-29 at 10 53 53 am](https://user-images.githubusercontent.com/5479063/31008469-884b9248-a504-11e7-954f-b213457ee720.png)

[2017-09-29 08:58] jmarrec commented on #1797
OS 2.2.1 I don't see "Space" as an option in the right column when on the Shading Tab. @DavidGoldwasser

[2017-09-29 09:07] jmarrec commented on #1775
OpenStudio still produces the "mal formed" Controller:MechanicalVentilation but E+ no longer crashes on that and issues a warning. As a result I'm not sure whether it's worth addressing or not @kbenne.

In particular, I can't really see what behavior you'd want to put in place. The fact that E+ gives me a warning is actually a good thing, and probably better than if OpenStudio was the one issuing

[2017-09-29 09:11] jmarrec commented on #1751
Still true today in OS 2.2.1. And actually if you switch tab and come back, you don't see the SPM:Scheduled anymore on the loop, BUT you still see it in the Main Right Column controller.

The rectangle in red is the bad SPM I added before.

![screen shot 2017-09-29 at 11 11 05 am](https://user-images.githubusercontent.com/5479063/31009211-fe6ee298-a506-11e7-947e-2a780c1286bd.png)

[2017-09-29 09:14] jmarrec commented on #1741
You have twice the same command above. But yeah, the error message is still the same:

[code]

[2017-09-29 09:20] jmarrec commented on #1717
Still true in OS 2.2.1

![screen shot 2017-09-29 at 11 20 01 am](https://user-images.githubusercontent.com/5479063/31009554-2ae09cd0-a508-11e7-9584-df2bf4f27c94.png)

[2017-09-29 09:22] jmarrec commented on #1714
@DavidGoldwasser do you still have this problem? I'd hope you've been able to test it since then...

[2017-09-29 09:23] jmarrec commented on #1704
Still true in OS 2.2.1:

[code]

[2017-09-29 09:28] jmarrec commented on #1671
I haven't run into this in forever (at least since 2.x). Anyone has?

[2017-09-29 09:31] jmarrec commented on #1651
Still true today. ft*lb_f*s

[2017-09-29 09:46] jmarrec commented on #1635
I think this is the intended behavior actually, in the sense that water_use_equip_def.remove removes both the `WaterUseEquipmentDefinition` and the `WaterUseEquipment`. The exact same behavior is observed for all loads objects (see below for lights). I think this should be closed.

[code]

[2017-09-29 09:51] jmarrec commented on #1626
You cna copy out of the Advanced Console. Perhaps an easy workaround is to also output the main window "Final Condition"  etc to the advanced console. It may have been the intent at some point, there's an empty "run.log" section at the end of the advanced console.

Here's an example

[code]

[2017-09-29 09:53] jmarrec commented on #1619
I'm not following the intent of this feature request. Can you elaborate?

[2017-09-29 09:57] jmarrec commented on #1613
Still true in OS 2.2.1 for the Find Measures on BCL dialog

[2017-09-29 10:00] jmarrec commented on #1603
This happens to me on macOS Sierra 10.12 with OS 2.2.1, only if I force quit then double click on an OSM file within the finder. If I force quit and launch OS App directly, then load my model I have no problem.

[2017-09-29 10:06] jmarrec commented on #1584
Still true in OS 2.2.1 (very minor inconvenience though)

[2017-09-29 10:07] jmarrec commented on #1585
The visual icons (please don't use actual hearts ;) ) never made it in, but there is an hover that says "Check to add this column to Custom". Is that enough?

[2017-09-29 10:13] jmarrec commented on #1573
Still true OS 2.2.1. http://bigladdersoftware.com/epx/docs/8-7/input-output-reference/group-refrigeration.html#field-case-defrost-type is missing.

[2017-09-29 10:16] jmarrec commented on #1566
Still true OS 2.2.1, default is the chain icon subtab for PTAC. I'd add the "Minor Bug" tag...

[2017-09-29 10:17] jmarrec commented on #1562
Irrelevant today since you can see the design days now. Should be closed

[2017-09-29 10:17] jmarrec commented on #1561
Do windows user still have this problem with the new 2.x series?

[2017-09-29 10:19] jmarrec commented on #1559
Still valid in 2.2.1

[2017-09-29 10:20] jmarrec commented on #1554
(Or used git to revert to last commit). Still true today.

[2017-09-29 10:24] jmarrec commented on #1546
Don't have this problem in OS 2.2.1

[2017-09-29 10:34] jmarrec commented on #1538
Seems like a non issue in the end no?

[2017-09-29 10:41] jmarrec commented on #1479
Works nowadays.

[code]

[2017-09-29 10:45] jmarrec commented on #1465
Still true OS 2.2.1

[2017-09-29 10:47] jmarrec commented on #1454
+1

[2017-09-29 10:54] jmarrec commented on #1445
Related to #2252

[2017-09-29 10:56] jmarrec commented on #1432
Can this be closed now that openstudio-standards ships with OpenStudio? Or were you talking about using measures for the proposed system too?

[2017-09-29 10:57] jmarrec commented on #1435
Done but needs updating http://nrel.github.io/OpenStudio-user-documentation/tutorials/running_your_simulation/

[2017-09-29 11:00] jmarrec commented on #1417
I suppressed a lot of warnings in https://github.com/NREL/OpenStudio/pull/2700
Perhaps time to revisit this?

[2017-09-29 11:02] jmarrec commented on #1412
I think it's fixed in OS 2.2.1. If I edit the name of a load and press ENTER it changes in the grid

[2017-09-29 11:04] jmarrec commented on #1406
Also plant_loop.clone would be awesome.

[2017-09-29 11:05] jmarrec commented on #1403
+1

[2017-09-29 11:06] jmarrec commented on #1401
Should this be one the templates you have when you click the "+" sign in the HVAC Systems tab, or should it be a well made measure?

[2017-09-29 11:12] jmarrec commented on #1382
I ran into this "pickle" two days ago, when defining occupancy and hvac schedule for an office. I want it to be ON for weekdays 8-18, and off for weekends and holidays. This would be a very useful feature

[2017-09-29 11:13] jmarrec commented on #1375
Switch to DView is live. This can be closed

[2017-09-29 11:13] jmarrec commented on #1373
@MatthewSteen do you still have this problem?

[2017-09-29 11:14] jmarrec commented on #1358
Is that still relevant today?

[2017-09-29 11:15] jmarrec commented on #1342
There is already a `model.getLights` method that expects a handle.

[2017-09-29 11:18] jmarrec commented on #1334
Still true in OS 2.2.1

[2017-09-29 11:18] jmarrec commented on #1329
Should be addressed in #1697

[2017-09-29 11:21] jmarrec commented on #1306
Still true OS 2.2.1

[2017-09-29 11:26] jmarrec commented on #1114
This is no longer an option, you have to use the SpaceTypeAndCOnstructionWizard now.

[2017-09-29 11:36] jmarrec commented on #966
Still true in 2.2.1

[2017-09-29 11:40] jmarrec commented on #918
duplicate of #1431

[2017-09-29 11:45] jmarrec commented on #833
https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/Surface.cpp#L434

[2017-09-29 11:50] jmarrec commented on #753
tested with OS 2.2.1. Results tab is empty after failed run. Can be closed

[2017-09-29 11:52] jmarrec commented on #710
Cannot reproduce in OS 2.2.1 on mac

[2017-09-29 11:57] jmarrec commented on #536
All SPMs have an icon in OS 2.2.1

![screen shot 2017-09-29 at 1 56 58 pm](https://user-images.githubusercontent.com/5479063/31015005-18c44194-a51e-11e7-891c-426cee0abf02.png)

[2017-09-29 11:58] jmarrec commented on #535
Still true today OS 2.2.1

[2017-09-29 11:59] jmarrec commented on #532
Addressed by GUI refactor

[2017-09-29 12:00] jmarrec commented on #533
Addressed by GUI refactor

[2017-09-29 12:01] jmarrec commented on #479
Irrelevant today (no more results viewer)

[2017-09-29 12:04] jmarrec commented on #466
I'm confused by this issue.

![screen shot 2017-09-29 at 2 03 55 pm](https://user-images.githubusercontent.com/5479063/31015181-15ccaebc-a51f-11e7-824b-264c9d8ab159.png)

[2017-09-29 12:05] jmarrec commented on #403
Related to #2252, I think the HVAC library is at fault

[2017-09-29 12:08] jmarrec commented on #381
No longer true (I think). If I do "load library" and go select somewhere else on my disk. Then try again, it points me to the library folder again.

[2017-09-29 12:10] jmarrec commented on #377
Still relevant today in OS 2.2.1

[2017-09-29 12:13] jmarrec commented on #364
Fixed. Reset happens whenever I leave the field or hit enter.

[2017-09-29 12:16] jmarrec commented on #345
@DavidGoldwasser Still a problem today?

[2017-09-29 12:17] jmarrec commented on #344
see #1019

[2017-09-29 12:20] jmarrec commented on #311
Does this still happen today? If so it should be moved to the PAT repo

[2017-09-29 12:22] jmarrec commented on #297
Same on mac in 2.2.1. (I don't care personally)

[2017-09-29 12:27] jmarrec commented on #279
Irrelevant due to GUI refactor

[2017-09-29 12:30] jmarrec commented on #2799
Ref #256

[2017-09-29 12:30] jmarrec commented on #256
ref #2799

[2017-09-29 12:34] jmarrec commented on #248
Still true in OS 2.2.1

[2017-09-29 12:36] jmarrec commented on #241
Irrelevant today (no more "New model from template" in sketchup)

[2017-09-29 12:39] jmarrec commented on #232
No longer true, I get an "Component not allowed at this location" if I try to add a thermal zone twice.

[2017-09-29 12:39] jmarrec commented on #230
This can be done today.

[2017-09-29 12:40] jmarrec commented on #224
No longer relevant in 2.x

[2017-09-29 12:42] jmarrec commented on #220
No longer true in OS 2.2.1

[2017-09-29 12:44] jmarrec commented on #216
No longer true in OS 2.2.1, it stays expanded.

[2017-09-29 12:45] jmarrec commented on #215
Fixed in OS 2.2.1

[2017-09-29 12:46] jmarrec commented on #207
Fixed.

[2017-09-29 12:46] jmarrec commented on #206
Irrelevant in PAT 2x

[2017-09-29 12:48] jmarrec commented on #205
Behavior today in OS 2.2.1 is that materials in My Model are sorted by name, regardless of whether they are BCL or not.

[2017-09-29 12:50] jmarrec commented on #190
Still true today.

[2017-09-29 12:52] jmarrec commented on #188
Duplicate of #1401

[2017-09-29 12:52] jmarrec commented on #187
Pretty sure that's not true anymore.

[2017-09-29 12:53] jmarrec commented on #185
E+ is bundled with OS now and has a cli, shouldn't happen.

[2017-09-29 12:54] jmarrec commented on #182
Cannot reproduce in OS 2.2.1

[2017-09-29 12:55] jmarrec commented on #178
cannot reproduce in OS 2.2.1

[2017-09-29 12:57] jmarrec commented on #166
irrelevant due to GUI refactor

[2017-09-29 13:03] jmarrec commented on #118
Still true today. But perhaps that is the expected behavior, and the purge button can be an option

[2017-09-29 13:05] jmarrec commented on #100
Still true in OS 2.2.1. I can put a "," in a construction name.
Yet I'm pretty sure these get knocked off during forward translation. the GUI might have been a better choice, but I'd say this is probably closable.

[2017-09-29 13:07] jmarrec commented on #86
Still true in OS 2.2.1

[2017-09-29 13:08] jmarrec commented on #78
There is a color picker in the Space Type, but not for Space nor ThermalZone. (OS 2.2.1)

[2017-09-29 13:10] jmarrec commented on #72
Still true OS 2.2.1

[2017-09-29 13:14] jmarrec commented on #36
Is it still a valid bug? Does DView make the same mistake as ResultsViewer (in the old days at least) of opening the file in write mode instead of read only?

[2017-09-29 13:15] jmarrec commented on #30
No reorder of columns is possible nowadays.

[2017-09-29 14:17] MatthewSteen commented on #1454
https://openstudio.uservoice.com/forums/308629-openstudio/suggestions/9099592-allow-rearranging-material-layers-in-construction

[2017-09-29 14:29] DavidGoldwasser commented on #2275
@jmarrec I think that was the case. I was trying to help someone add thermal storage at the time, and while thermal storage was in the GUI, there was a way to get the proper controls from the GUI. If defaults can handle it then no changes necessary in the GUI.

[2017-09-29 14:59] #1432 closed

[2017-09-29 15:00] asparke2 commented on #1342
This is unnecessary.

[2017-09-29 15:00] #1342 closed

[2017-09-29 15:00] #753 closed

[2017-09-29 15:20] #2764 closed

[2017-09-29 15:46] jmarrec commented on #2307
I actually fixed it already in 30d310ca0496125da2906cee15a0b1930e403ea1

[2017-09-29 15:46] #2307 closed

[2017-09-29 19:10] macumber opened #2804 "PAT download failure should error out build"
If PAT fails to download during a build (e.g. due to network or firewall problems), the build should error out. If not, this can lead to packages with incorrect PAT builds.

[2017-10-02 03:16] MatthewSteen commented on #1373
Yes and no. I successfully changed the default version to 2.3.0 in Windows 7, which opened when I clicked on an existing 1.14.0 model. However, the instance of 2.3.0 that opens is an empty model.

[2017-10-02 03:19] MatthewSteen commented on #1550
Thermal zones are no longer visible from the Facility tab.

[2017-10-02 03:19] #1550 closed

[2017-10-02 03:22] MatthewSteen commented on #1661
Marked as `COMPLETED` on uservoice.

https://openstudio.uservoice.com/forums/308629-openstudio/suggestions/9098941-add-ip-si-unit-preference-to-measures

[2017-10-02 03:22] #1661 closed

[2017-10-02 03:23] MatthewSteen commented on #2013
Haven't had this happen in a while.

[2017-10-02 03:23] #2013 closed

[2017-10-02 03:25] MatthewSteen commented on #2095
Looks good in 2.3.0

[2017-10-02 03:25] #2095 closed

[2017-10-02 08:07] jmarrec commented on #2428
Still true in 2.3.0

[2017-10-02 12:26] MatthewSteen commented on #2117
Haven't seen this in a while.

[2017-10-02 12:26] #2117 closed

[2017-10-02 12:28] MatthewSteen commented on #2271
Still present in 2.3.0.

[2017-10-02 13:18] jmarrec opened #2805 "Missing SPM:HumidityMinimum in 2.3.0 hvac_library"
![screen shot 2017-10-02 at 3 17 12 pm](https://user-images.githubusercontent.com/5479063/31079141-e40ad030-a784-11e7-8420-e2e8c34b55ca.png)

All other SPMs are there though.

[2017-10-02 13:48] eringold commented on #1373
Could be related to this, then: https://github.com/NREL/OpenStudio/issues/1353

[2017-10-02 20:02] DavidGoldwasser opened #2806 ""Could not set argument" should show visible error in GUI"
I hit this error in a workflow where I had full model as seed, and then had EE measures for both LPD reduction and night time lighting reduction. The arguments for the reduce night time lighting has a choice argument of all lighting defs in the model that are used by an instance. Using the seed model it can pick 'Office OpenOffice Lights Definition'. If that was passed in to the measure and was go

[2017-10-02 20:07] DavidGoldwasser opened #2807 "When __SKIP__ is false, other measure arguments should not be validated"
This behavior came up in issue #2507, and had been fixed at some point, but came back. Measure 2 in a workflow with two measures has a required argument but no default. The argument is for a model object, that may not end up in all datapoints. There are datapoints that only run Measure 1 and not Measure 2. Those should not be affected by missing or invalid argument value for Measure 2, but they ar

[2017-10-02 20:12] DavidGoldwasser commented on #2807
https://github.com/NREL/OpenStudio-files/blob/master/Git%20Issue%20Files/issue2807.zip

[2017-10-02 20:16] DavidGoldwasser commented on #2806
For reference. Here is zip of the project. There is a separate issue for the first two datapoints failing, this one is more about showing an error for the expected failure of the last datapoint.
https://github.com/NREL/OpenStudio-files/blob/master/Git%20Issue%20Files/issue2807.zip

@macumber, @kflemin, @asparke2 any thoughts on best solution. For now I guess it is just about better showing error t

[2017-10-02 20:39] DavidGoldwasser opened #2808 "OpenStudio crashes when switching from Space Type to Space Tab when load visible in inspector"
I've tested this with a variety of combinations in 2.3.0 mac. Here are steps to repeat.

1. Launch OpenStudio
2. Go to Space Type Tab
3. Drag in Space type from Library (I've tried a half dozen, and also with model with existing space types)
4. Go to the "Loads" sub-tab (this is important, picking object in "General" doesn't cause crash, even infiltration)
5. Select any load instance under the "Lo

[2017-10-02 20:40] DavidGoldwasser commented on #2808
@kbenne I assigned this to Dan, but I know you fixed crash on changing tabs related to zone and HVAC systems. Thought you might have insight on this.

[2017-10-02 20:45] DavidGoldwasser opened #2809 "Space Infiltration Design Flow Rate instances from Space Type don't show up on Spaces/AIrFlow sub-tab"
While ventilation rates and spaces types show both on "AirFlow" and "Loads" sub tabs for space types, when you look at the Spaces tab infiltration is only on "Loads" and not "AirFlow" It is a bit odd that infiltration shows up in two different areas. Maybe it should be removed from one of the two places? But if not then what happens on Spaces, should mirror Space Types.

![screen shot 2017-10-02 a

[2017-10-02 20:52] DavidGoldwasser opened #2810 "Bad Surface Names from Geometry Editor"
While Spaces made in the editor have logic names based on story and space number, and surfaces made by surface matching are prefixed with "surface ", othe surfaces just have a number. Not ideal for searching through files for errors because numbers may exist in other fields. At a minimum might be nice to do "Surface #", but if you wanted to follow the space type naming logic can do "Surface 1-2-#"

[2017-10-02 21:13] ljbrackney commented on #2808
I've had a number of crashes when switching tabs - it seems to be related to the time between switches, not necessarily what you're actually doing.  I've found that "slowing my roll" prevents crashes.

[2017-10-02 21:20] DavidGoldwasser commented on #36
@kbenne do you know if DView has same issue? If nobody knows we can test, but I haven't had a chance to yet.

[2017-10-02 21:23] #30 closed

[2017-10-02 21:36] DavidGoldwasser commented on #100
I'm fine closing this if @macumber and @asparke2 are ok. I still like being more strict up front, don't want to create issues with server later on because of odd characters in names, even if E+ will run.

[2017-10-02 21:44] #188 closed

[2017-10-02 21:45] #187 closed

[2017-10-02 23:52] DavidGoldwasser commented on #182
@jmarrec this was just in the SketchUp Plugin, but we can probably close this anyway, since probably should have been minor issue vs nomral

[2017-10-02 23:52] #182 closed

[2017-10-02 23:55] #178 closed

[2017-10-02 23:55] #166 closed

[2017-10-02 23:58] #207 closed

[2017-10-02 23:59] #205 closed

[2017-10-03 00:00] #232 closed, assigned to kbenne

[2017-10-03 00:00] #220 closed

[2017-10-03 00:00] #216 closed

[2017-10-03 00:00] #215 closed

[2017-10-03 04:05] #279 closed

[2017-10-03 04:06] #241 closed

[2017-10-03 04:07] #532 closed

[2017-10-03 04:08] #345 closed

[2017-10-03 04:09] #311 closed

[2017-10-03 04:10] #533 closed

[2017-10-03 04:10] #479 closed

[2017-10-03 04:15] DavidGoldwasser commented on #466
I think this isn't relevant anymore. There used to be interface when you make a new schedule, that you had to pick from long list of schedule uses, one of which was work efficiency. This was originally related to Predicted Mean Vote measure which expected the user to make work. efficiency schedule in GUI and then assign it to the measure.

[2017-10-03 04:15] #466 closed

[2017-10-03 04:17] #710 closed

[2017-10-03 04:17] #536 closed

[2017-10-03 04:20] #1546 closed

[2017-10-03 04:27] DavidGoldwasser commented on #1382
@jmarrec while I still prefer that a holiday profile in GUI looks kind of like design days, there is a schduleRule.addSpecificDate method and a scheduleRule.specificDates method to see them. But this isn't editable in GUI, and only inspectable annual calendar at right.

[2017-10-03 04:31] #1714 closed

[2017-10-03 04:32] DavidGoldwasser commented on #1626
Advanced console and OSW addressees this

[2017-10-03 04:32] #1626 closed

[2017-10-03 04:36] DavidGoldwasser commented on #1619
This would allow visualization of air loops on 3d geometry. A number of users have used the building story for this purpose instead of representing stories. This is more useful on large building with multiple wings per story each with their own air loops.

[2017-10-03 04:51] DavidGoldwasser commented on #1974
@jmarrec I still think it is a bit problematic that "partofTotalFloorArea" is a space characteristic in OpenStudio but a zone characteristic in EnergyPlus. Unless we are really carefully and properly write non area based loads to EnergyPlus zone and custom zone area representing the portion of zone space area that is included in floor area, I would prefer to kill this for space and add it as zone

[2017-10-03 09:29] jmarrec commented on #1619
Ah yes! I thought that was it, but since there isn't currently a feature for "Render by Air/Plant loop" I wasn't 100% sure. This seems like a potentially useful feature for internal QA/QC

[2017-10-03 09:32] jmarrec commented on #1382
I think it should just be a new button like for Apply Holiday in a schedule rule, no?

![screen shot 2017-10-03 at 11 31 14 am](https://user-images.githubusercontent.com/5479063/31118661-7b50180c-a82e-11e7-8539-a44240af187e.png)

[2017-10-03 12:56] jmarrec commented on #2274
I've tried to find where each "My Model" collapsible item is actually getting populated but couldn't.

The WaterHeater:Mixed should have been added to the model when you drag it into a thermal zone.

And the "WaterHeater;Mixed" type is properly defined in the controller for Main right Column:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/openstudio_lib/MainRightColumnControll

[2017-10-03 14:57] DavidGoldwasser commented on #1382
@jmarrec That would be fine. I assume you your example it applies to all holidays, not just holidays holidays for specific time of year or day of week. Also would have to be careful if someone checked "Holidays" for more than one profile. If you don't want to reuse a Sunday schedule for holidays, then I suppose you would just leave every day of the week un-checked.

[2017-10-03 15:11] DavidGoldwasser commented on #1619
Here is an old Mockup I had with layout of air and plant loops alongside geometry. The outline of the air loop colors to the colors in the 3d view.

![img_5128](https://user-images.githubusercontent.com/4857055/31132717-c4c5c766-a81a-11e7-8aed-e0937e15e5fb.JPG)

If we wanted to render by data for air loops, like we can already do by surface and zone, we don't really have to change the API, could u

[2017-10-03 15:48] asparke2 commented on #100
I'm fine to close

[2017-10-03 19:05] DavidGoldwasser opened #2811 "output hash should be included in the OSA for a manual simulation"
Would be ideal for local and cloud, but also fine if just on cloud. Currently there is a results.csv but it just as input and status columns, not any of the outputs.

Ideally would enable the Outputs tab for manual projects, but obviously the objective function columns would not matter, but maybe could be done without change to GUI, if this is limited to only outputs described in the measure.rb?

[2017-10-03 20:18] jmarrec commented on #2796
I stumbled onto this again today while doing a clean build, trying to build the current develop.
`make GenerateIddFactory` (nothing to do there) and `make GenerateIddFactoryRun` (this did something) solved the problem... It's annoying and confusing though.

[2017-10-04 15:34] shorowit opened #2812 "Incorrect MultiSpeed forward translation in 2.3 pre-release"
I'm using the 2.3 pre-release on GitHub. This appears to be a regression relative to 2.2.

This OSM has a `OS:Coil:Cooling:DX:MultiSpeed` object with 4 `StageData` objects.
[in.osm.txt](https://github.com/NREL/OpenStudio/files/1356388/in.osm.txt)

The resulting IDF has a `Coil:Cooling:DX:MultiSpeed` with 4 speeds, but only 3 speeds worth of fields written.
[in.idf.txt](https://github.com/NREL/Open

[2017-10-04 16:24] #2697 closed

[2017-10-04 18:26] shorowit commented on #2787
This bug is still present in the 2.3 pre-release. Same error message as above.

[2017-10-04 18:30] shorowit commented on #2785
This looks fixed in 2.3.

[2017-10-04 18:30] #2785 closed

[2017-10-05 08:19] jmarrec opened #2814 "OSApp in Debug crashes when switch to "Humidity" subtab of DesignDayGridView"
With the current tip of develop (3a11a90).

This only happens:

* When built in `Debug` (not in `Release`)
* After you have imported a ddy file.

This *might* (shooting in the dark here) be linked to my comment on #2176 that says that "Humidity Indicating Type" stays blank all the time, even though it is set in the `SizingPeriod:DesignDay` and I don't see any apparent problem with it.

Here's the

[2017-10-05 08:40] jmarrec commented on #2296
in #2815, I exposed the public `controlType()` (and related `setControlType()`, `isControlTypeDefaulted()` and `resetControlType()`), and wrote a Gtest for this.

I exposed the field in the OS App:

![2296_unitarysystem_controltype_1](https://user-images.githubusercontent.com/5479063/31218134-a49b9a1a-a9b9-11e7-9938-e37f002f5bbf.png)

Loading the model I saved in OS App, I can confirm it worked:

[2017-10-05 08:46] jmarrec commented on #2266
Fixed in #2815.

First I drag a `ThermalStorage::ChilledWater:Stratified` tank from library to a plant loop.

![2266_2152_thermalstorage_my_model_1](https://user-images.githubusercontent.com/5479063/31218282-244deb64-a9ba-11e7-96e5-e354fdb57f52.png)

I can see the tank I created in my model:

![2266_2152_thermalstorage_my_model_2](https://user-images.githubusercontent.com/5479063/31218391-726c07ae

[2017-10-05 08:47] jmarrec commented on #2152
Should be closed per #2815, details in #2266

[2017-10-05 08:49] jmarrec commented on #2778
Fixed in #2815.

Here is the default luminaire:

![2778_2710_luminaire_inputs_1_default](https://user-images.githubusercontent.com/5479063/31218481-bf773a96-a9ba-11e7-9f9c-33e5271529db.png)

And now with user input, I can edit all "fraction" fields, and I can also input a Lighting Power that is greater than 1.

![2778_2710_luminaire_inputs_2_user_input](https://user-images.githubusercontent.com/54

[2017-10-05 08:49] jmarrec commented on #2710
Fixed in #2815, see #2778 for details.

[2017-10-05 08:51] jmarrec commented on #2112
Fixed in #2815.

Here are 4 spaces, one of which doesn't have a space type assigned:

![2112_spacetype_filter_for_spaces_1](https://user-images.githubusercontent.com/5479063/31218606-29298dd6-a9bb-11e7-815b-3fc9268207c9.png)

I can now filter by "Unassigned" and it correctly returns the one space:

![2112_spacetype_filter_for_spaces_2](https://user-images.githubusercontent.com/5479063/31218620-329

[2017-10-05 08:53] jmarrec commented on #2175
Fixed in #2815:

Moved Sky Clearness to the right tab "Solar":

![2175_skyclearness_on_solar_tab](https://user-images.githubusercontent.com/5479063/31218666-58bf3ea6-a9bb-11e7-94c9-d0b61adf827d.png)

[2017-10-05 08:53] #2175 closed

[2017-10-05 08:53] jmarrec commented on #86
Fixed in #2815

![86_construction_set](https://user-images.githubusercontent.com/5479063/31218711-78e3fdd4-a9bb-11e7-822c-2be2c9e20040.png)

[2017-10-05 08:57] jmarrec commented on #2463
Fixed in #2815.

Here are four spaces, notice that only "Building Story 1" and "Building Story 2" are used.

![2463_purge_stories_1](https://user-images.githubusercontent.com/5479063/31218762-9e78fc2a-a9bb-11e7-8e7e-112cadfdf4f6.png)

And here is the Building Story tab, you can see I have "Building Story 3" too which is unused, and the purge button is active.

![2463_purge_stories_2](https://user-

[2017-10-05 08:59] jmarrec commented on #2176
The original issue reported has been fixed in #2815, the "Humidity indicating condition at maximum dry bulb" is now switchable from SI to IP:

SI:

![2176_humidity_si](https://user-images.githubusercontent.com/5479063/31218951-24c3a604-a9bc-11e7-977e-01cfee598a95.png)

IP:

![2176_humidity_ip](https://user-images.githubusercontent.com/5479063/31218961-2a144082-a9bc-11e7-9c9c-1d37fd002dd3.png)

The

[2017-10-05 09:31] jmarrec commented on #2274
I fixed the naming inconsistency in #2815, but this doesn't solve the main issue.

Thermal Zone - Library:

![2274_naming_thermalzone_library](https://user-images.githubusercontent.com/5479063/31220399-9a4be126-a9c0-11e7-93ba-1bf940e76241.png)

Thermal Zone - My Model:

![2274_naming_thermalzone_mymodel](https://user-images.githubusercontent.com/5479063/31220413-a7e7b9a4-a9c0-11e7-8a8c-69b01aee632

[2017-10-05 09:33] jmarrec commented on #2274
You still can't see the associated WaterHeater:Mixed in the HVAC Systems - My Model, and you can't drag a WaterHeaterHeatPump from the Library to a plant Loop, so having WaterHeaterHeatPump on HVAC Systems Subtab is useless right now, same as having WaterHeaterHeatPump on the Thermal Zone - My Model.

Perhaps it would make sense to add a `WaterHeaterHeatPump::addToNode()` method, that would attach

[2017-10-05 14:51] jmarrec commented on #2812
Fixed in #2812, see details over there. Added Gtest too.

[2017-10-05 16:17] macumber commented on #2814
You hit an OS_ASSERT() statement.  In debug mode these will halt the program, in release mode they are compiled out.  We should only have OS_ASSERT statements if there is a big problem that should NEVER happen, the fact that it is happening in release mode is disturbing.  There are three possible options:

1. There is a bad thing happening but could be handled with some logic to handle the case th

[2017-10-05 17:06] mdahlhausen commented on #2799
So I copied the code a few comments above incorrectly.

The call in the measure is:
[```ideal_loads_objects = workspace.getObjectsByType("ZoneHVAC:IdealLoadsAirSystem".to_IddObjectType)```](https://github.com/mdahlhausen/scrappEplus/blob/e3cb01bc344c560a842b50d6d9d272fb5bf67c53/OpenStudio/Measures/ideal_loads_options/measure.rb#332)
I run the same measure on v1.14 and v.2.2.  The only difference b

[2017-10-05 17:38] mdahlhausen commented on #2799
So the order did change.
In OS v1 series, the order of operations is:
Expand Objects -> EnergyPlus Measures -> Pre-Process

In OS v2 series, the order of operations is:
EnergyPlus Measures -> Expand Objects -> Pre-Process

HVACTemplate objects, including ```HVACTemplate:Zone:IdealLoadsAirSystem``` objects, are translated into EnergyPlus objects (```ZoneHVAC:IdealLoadsAirSystem``` objects) in the E

[2017-10-05 21:05] adhilton25 opened #2817 "Electricity:Refrigeration Missing From Custom Monthly Report"
`Refrigeration:Electricity` is missing from the OpenStudio created Custom Monthly Report called 'Building Energy Performance - Electricity Peak Demand'. This results in it being absent in all charts/tables in the OpenStudio output report.

[2017-10-09 20:50] shorowit opened #2820 "Missing .dlls when trying to run OS 2.3"
@joshdr83 says:

![image](https://user-images.githubusercontent.com/5861765/31357993-1af56e08-ad01-11e7-9274-f308183f9254.png)

[2017-10-12 14:32] macumber commented on #2756
I believe this is just a matter of fiddling with the inspector policy here:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/openstudio_lib/library/OpenStudioPolicy.xml#L1464

[2017-10-12 16:46] DavidGoldwasser commented on #2718
@jmarrec any thoughts on this one?

[2017-10-14 00:44] rHorsey opened #2821 "AWS optimization runs never finish on the server"
Optimization analyses running longer than 15 minutes fail to finish on the server even after the analysis and optimization are complete. This was reported and isolated as a deployment issue by @brianlball and @ljbrackney - thank you both!

[2017-10-14 00:48] rHorsey commented on #2821
Fixed by https://github.com/NREL/OpenStudio-server/commit/9cb141d9c61c8cb7e496598c2325590fa2782082
The issue was that simultaneously the IPVS used by docker swarm to manage inter-container networking had the same timeout as the default linux settings, and that the underlying web socket server used by RServe did not enable keepalives by default.

[2017-10-14 00:48] rHorsey commented on #2821
This fix will be released as 2.3.0-p0

[2017-10-14 00:48] #2821 closed

[2017-10-16 15:02] jmarrec commented on #833
David, you're experiencing that when you do it in the Sketchup inspector, right? That is doing only workspace stuff according to @macumber

If you use the API and do `surface.setOutsideBoundaryCondition("Outdoors")` it does change it to SunExposed and WindExposed (and if you do "Adiabatic", it does change them to NoSun and noWind)

Considering the current plans for the sketchup plugin, I think thi

[2017-10-16 17:25] DavidGoldwasser opened #2822 "OpenStudio App Crashes if change "Surface" boundary to "Outdoors" when you leave tab"
I was testing another issue on this. When I switch from "Surface" to "Outdoors" the GUI does change sun and wind exposure right way, but not the boundary object. It changes the boundary condition and sun and wind on matched surface as well. If you leave tab right after changing boundary condition without going to another grid cell first, OpenStudio will crash. If you click elsewhere and then switc

[2017-10-16 17:26] DavidGoldwasser commented on #833
Looks like API and GUI now change this, so this can be closed, but I made new crash but in the process of testing this. One step forward one step back :)
https://github.com/NREL/OpenStudio/issues/2822

[2017-10-16 17:26] #833 closed

[2017-10-17 16:11] rHorsey opened #2824 "openstudio-server and openstudio-rserve latest tags out of state"
These should track successful develop builds.

[2017-10-17 19:17] DavidGoldwasser commented on #243
We hit this on project we are working on. I think we have pushed this off too long. What I have found is the following.

yearDescription.dayofWeekforStartDate, or yearDescription.calendarYear, whichever is set, is used in forward translation to determine the day of the week for January first for the forward translation of all ruleset schedules. In our project our runperiod is from 7/25 to 7/26.

R

[2017-10-17 19:23] brianlball commented on #243
+10 on this needs to be addresses asap.

[2017-10-17 19:32] DavidGoldwasser commented on #243
While main work here is on forward translator, we do also need to make sure API methods that tell you what value is on specific day and time, or provide annual equiv hours (standards), are in sync with what happens in forward translator. I think changing the run period alone, shouldn't have an impact on schedules for a specific day.

[2017-10-17 22:30] macumber commented on #243
The field is called 'Day of Week for Start Day', I agree it needs better documentation but I think the intention was to provide the day the simulation starts on.  Defining what it should do is the first step.

[2017-10-20 10:34] jmarrec commented on #2350
Fixed in #2825.

Handle the "smart" logic of chiller condenserType in the model rather than the forward translator, in order to allow for "EvaporativelyCooled" option.

The behavior is as follows:

Defaulting when connecting/disconnecting from PlantLoop:

*  If you connect the chiller on a `secondaryPlantLoop` (demand side), then the `condenserType` automatically set to `WaterCooled`.
* If you dis

[2017-10-20 10:45] jmarrec commented on #2253
Fixed in  #2825.

The problem was that the clone method doesn't specifically handle the `CoilPerformanceDXCooling` objects, and if you clone in another model, they don't come with, causing a fatal E+ crash (two out of four are actually required-fields)
`CoilPerformanceDXCooling` is a `ParentObject` because it has curves. But it is also only used by one object: the `CoilCoolingDXTwoStageWithHumidit

[2017-10-20 10:46] jmarrec commented on #2373
I wrote a quick ForwardTranslate Gtest for this in #2825. Turns out this was apparently already working as of 2.3.0, but at least it won't happen ever again.

[2017-10-20 12:23] jmarrec commented on #2714
Fixed in #2826.

![otherequipment_withfueltypeexposed](https://user-images.githubusercontent.com/5479063/31820583-3309e434-b5a2-11e7-8728-ad9a337959c4.png)

[2017-10-20 12:31] jmarrec commented on #2757
Fixed in #2826

I had originally set all fields in Ctor (most often there are 3: Schedule, Multiplier and EndUseSubCategory), and realized later that:
1. Setting only the last is enough to see them
2. Setting some of them, like schedule, is a bad idea because then it won't inherit from the grid.

So I reverted back to only setting the last one (in general EndUseSubCategory, people is Mutliplier fo

[2017-10-20 22:08] shorowit commented on #2787
How to more easily reproduce:
1. Run [resstock.osm.txt](https://github.com/NREL/OpenStudio/files/1403445/resstock.osm.txt) via OpenStudio 2.3. It runs successfully.
2. Run [resstock_without_airloop.osm.txt](https://github.com/NREL/OpenStudio/files/1403446/resstock_without_airloop.osm.txt) via OpenStudio 2.3. It fails with the above EnergyPlus error. The only change made was to load resstock.osm an

[2017-10-21 18:57] DavidGoldwasser opened #2829 "Odd Summary Table behavior for EUI when design alternatives have negative value."
EUI's for datapoints

GSHP = -24.14
VRF = -23.51
Fain Coil = -20.42

Notice how the signs are reverse on the % vs. kBtu/ft^2 values for EUI

<img width="1680" alt="screen shot 2017-10-21 at 12 49 32 pm" src="https://user-images.githubusercontent.com/4857055/31855002-17cb3ea8-b65f-11e7-99a6-cb9cafb744bf.png">

[2017-10-28 19:55] Tanvir149027 opened #2830 "Openstudio failed to run"
I'm working on light simulating softwere radiance. But open studio is failing again and again. How can I fix this?

[2017-10-30 01:49] rpg777 opened #2831 "Add Rescue Block for epw2wea in Radiance Measure"
The Radiance utility ```epw2wea``` will fail on suboptimal input files; error is not getting caught by the main run method of the Radiance measure, instead running all the daylight coefficient calculations before failing at the ```dctimestep``` steps.

Add a rescue block around the epw2wea call.

[2017-10-31 15:07] eringold opened #2832 "Double-clicking osm does not load file if file path contains white space"
Tested in Windows 7 and 10, OS v2.2.0 and v2.3.0.

1. Save osm to file path that contains white space (e.g. "C:/Project Name/project.osm")
2. Double-click on osm
3. OS app should launch with an empty 'Untitled' file.

Credit to @macumber for diagnosing.

[2017-10-31 17:30] DavidGoldwasser opened #2833 "OpenStudio Crashes on Preview in Geometry Tab"
Started with standard new OpenStudio model, Didn't add any space types zones etc. Went to geometry editor and made new footprint using image of plan. Looks fine in geometry editor, but will crash with either of the following actions.

1. Clicking preview pre-merge will crash OpenStudio.
2. Merging is fine, but clicking the "Preview" sub tab will also crash OpenStudio.

If I re-launch OpenStudio it

[2017-10-31 17:56] DavidGoldwasser opened #2834 "Cannot compute plane for points Could not create surface for vertices"
Created a two story floorplan which had the following errors.

<img width="1680" alt="screen shot 2017-10-31 at 11 34 05 am" src="https://user-images.githubusercontent.com/4857055/32240188-41aeddbc-be32-11e7-91e4-ebbe2721e082.png">

Despite that it did merge and looks like this in SketchUp Plugin

<img width="1680" alt="screen shot 2017-10-31 at 11 34 13 am" src="https://user-images.githubusercont

[2017-10-31 19:15] DavidGoldwasser opened #2835 "Misc invalid OSM geometry generated by geometry editor in OS app 2.3.0"
Another issue addresses duplicate vertices in OSM surfaces, this one addresses a number of other geometry flaws.

1. Duplicate surfaces in a space.
2. Reversed surafces within a space
3. Collinear vertices within a surface
4. one surface in space spanning over multiple surfaces (like duplicate surfaces but harder to detect)

Here is example of 1, 2, and 4.

<img width="1272" alt="screen shot 2017-

[2017-10-31 19:19] DavidGoldwasser commented on #2835
The other bugs I've filed for geometry editor let you know there is an issue because of a crash or a failed simulation. This one may go un-noticed by users, resulting in inaccurate simulation results because of incorrect accounting of exterior envelope. Bugs that impact simulation results are of very high importance.

[2017-10-31 19:34] DavidGoldwasser opened #2836 "Geometry Editor Units Display"
Geometry Editor seems to always show units as ft vs. m when you first go to the tab independent of what the units are in OS app.

In testing this I launched OS app (which always launches in SI units, but I didn't bother checking) and then I went to the geometry editor, set the grid value and started modeling assuming I was drawing in feet as the GUI showed, but in fact it was modeling meters. We s

[2017-11-02 06:03] oPiZiL commented on #1260
`sudo apt-get install ruby-dev`

[2017-11-03 01:05] macumber opened #2838 "Building tests only does not copy dlls to build dir"
Happens when you build app but not tests

[2017-11-07 16:16] DavidGoldwasser opened #2839 "Purge Unused Objects in Space Tab deletes all spaces"
Even if spaces are assigned to thermal zones and have hard assigned loads, they are all still deleted.
https://unmethours.com/question/27767/any-way-to-delete-multiple-spaces-at-one-time/?answer=27777#post-id-27777

The icon is disabled until one or more spaces are selected. At that point both the delete (red x) and purge (recycle can) are enabled. If purge is enabled it shouldn't require any spac

[2017-11-08 17:21] DavidGoldwasser opened #2840 "PAT manual analysis fails if no variables are setup"
I setup a PAT project where unique design alternatives were setup by skipping specific measures, with all measure shaving only one design option other than "none". This failed with the following error.

![screen shot 2017-11-08 at 10 10 52 am](https://user-images.githubusercontent.com/4857055/32563399-67370fea-c46e-11e7-9cf9-9160f776d82e.png)

I was able to work around this by just picking any arg

[2017-11-08 17:48] ljbrackney commented on #2840
That is by design.  The server needs at least one variable to function properly without significant development.  It was easiest to trap this on the client side, and you need to check something (anything) as a variable for a project to work correctly.

[2017-11-09 14:18] ngerasim opened #2841 "gbXML import mistakes"
Please see the detailed report [here](https://unmethours.com/question/27690/os-doesnt-assign-construction-to-reversed-surfaces/). The test gbXML in the attachment
[TestCube.zip](https://github.com/NREL/OpenStudio/files/1457877/TestCube.zip)

[2017-11-09 17:59] DavidGoldwasser opened #2842 "Empty string or string with just space as string argument value is not treated as valid in PAT but is in OS app"
I hit this in reporting measures for internal project where some times I want an argument value to be an empty string. The measure ran fine with this in OS app, but failed to make an OSA in PAT. I even tried changing the string argument value to a space vs. an empty string. Should have same behavior from OS app or PAT.

![screen shot 2017-11-09 at 11 05 11 am](https://user-images.githubusercontent

[2017-11-09 20:55] #2702 closed

[2017-11-09 21:00] rHorsey commented on #2675
The root cause of this issue has been identified as a limitation in the interconnection between mongo and delayed_jobs given the current use. We cannot reproduce this locally following 2.2.1, however we can reproduce this on AWS. It seems to be due to physical hardware limitations, indicating that local servers may be inadvisable on computers with less than 4 virtual CPUs. On cloud deployments, th

[2017-11-10 19:37] DavidGoldwasser opened #2843 "PAT app appears to run forever when server hits maximum RAM"
@henryHorsey my other 'run forever' scenarios happened when one ruby process got hung up. This is different. It is a 6 datapoint project, with about 20 model and E+ measures and 25 reporting measures.

Looking in temp.data the last datapoint did finish (I have all my html files in reports folder and and out.osw). For reference, the pat.json goes from about 0.6mb to 60MB when the project runs, and

[2017-11-14 21:38] eringold opened #2845 "An open DView instance will prevent new eplusout.sql from being written"
Steps to replicate:
1. Open DView to review results of a simulated OpenStudio project
2. Make a change in that same project and re-simulate
3. eplusout.sql in the project folder will not be over-written with the new results (can be verified with the file time stamp, or with queries of the sql returning old stale results).

From a practitioner POV, model troubleshooting sometimes involves repeatedl

[2017-11-15 01:32] SuranaShilpa opened #2846 "External Wall Measure in PAT does not run"
Attached is the PAT file with some measures and design alternatives. Tested the wall insulation measure and bundled options. None of them run to complete. The analysis starts but does not complete.

[VestasEnvelopeParamR01.zip](https://github.com/NREL/OpenStudio/files/1473081/VestasEnvelopeParamR01.zip)

Thanks,

Shilpa Surana
Energy Analyst
Brightworks Sustainability

[2017-11-15 20:00] MatthewSteen commented on #1683
I hit this again on a similar model as above, high rise residential tower with below grade parking garage. I was again able to use the plugin surface matching script, but ended up using David's [surface_matching_diagnostic](https://github.com/UnmetHours/openstudio-measures/tree/master/surface_matching_diagnostic) test script.

[2017-11-16 17:09] #2647 closed

[2017-11-16 21:53] rpg777 opened #2848 "Application does not reload OSM if external process overwrites OSM"
Changing the name of a space in the App deletes any existing daylighting controls in that space.

[2017-11-16 21:56] rpg777 opened #2849 "Daylighting Control Illuminance Setpoint Error"
Placing daylighting control points with the SU plugin results in controls with no illuminance setpoint, even though the default value is present in the inspector field when placed and the model is saved. (i.e., subsequent opening of the OSM in an editor shows null values.)

[2017-11-16 21:57] rpg777 opened #2850 "App and Plugin allow invalid zone load fractions on daylighting controls"
Like it says; e.g. A single zone can have a primary and secondary daylighting control zone load fraction total > 1.0.

[2017-11-18 14:26] jmarrec commented on #2720
Backtrace with the above ruby code and a breakpoint set on resolvePotentialNameConflicts (see [Workspace.cpp#L2169](https://github.com/NREL/OpenStudio/blob/34238e7c2c48de2dd1a5dc7877693536864d0854/openstudiocore/src/utilities/idf/Workspace.cpp#L2169))

[code]

[2017-11-20 10:59] jmarrec commented on #2652
@macumber The issue description is comprehensive and should allow you to make the necessary changes in under 5 minutes.

[2017-11-20 11:27] jmarrec commented on #2568
I wrote new installation instructions, I assumed the original instructions were in markdown, so I converted the github.io page's HTML to markdown and modified that

# Installation and Introductory Tutorial

This page walks you through installing OpenStudio, the basics of the applications, and the basic workflow.

## Installation Instructions

OpenStudio is supported on Windows 7 – Windows 10, OS X

[2017-11-20 12:19] jmarrec commented on #2720
Fixed in #2853

[2017-11-20 13:20] jmarrec commented on #2022
Ok, I just now realized that the connection is done in OS App for AirTerminalSingleDuctVAVReheat, but if you call atu.clone(model), it isn't.

Tracking it down is hard, (had to follow the openstudio_lib Qt stuff), but I'm pretty sure ultimately it calls AirLoopHVAC::addBranchForZone(Impl), which ends up calling `setPlantForAirTerminal`

https://github.com/jmarrec/OpenStudio/blob/develop/openstudio

[2017-11-20 20:01] jmarrec commented on #2022
I then realized that ATU:FourPipeInduction is special because it has both a cooling and heating coil.
ATU:CooledBeam is also special because the coilCoolingCooledBeam is a StraightComponent and not a WaterToAirComponent, so I add to implement a check for this in AirLoopHVAC::addBranchForZone.

Wrote Gtests for all terminal types to make sure "magic" is indeed happening.

[2017-11-20 20:03] jmarrec commented on #2022
Fixed in #2854

[2017-11-21 02:20] kbenne opened #2855 "add AirLoopHVACUnitarySystem::setControlType"

[2017-11-21 04:29] DrNick13 opened #2857 "PAT 2.3.0 on Windows - Local Server Not Starting - Server Error"
PAT 2.3.0 is consistently not starting on opening a Project. Stopping/restarting the server sometimes reconnects the Local Server, but does not reliably reconnect. Ruby processes and mongod are opening, but look to be timing out and not starting.

On start-up:

![image](https://user-images.githubusercontent.com/33544587/33054494-9d4a05ce-cecd-11e7-999a-6a2c190737a0.png)

On attempted Local Run:
![

[2017-11-21 05:05] kbenne opened #2858 "add missing pump fields from E+ 8.5 and beyond"

[2017-11-21 14:26] jmarrec commented on #2850
Fixed in #2860

[2017-11-21 14:36] jmarrec commented on #2849
Happens because if its defaulted, it isn't translated. I'll remove this check and the equivalent for the secondary DaylitghingControl:

https://github.com/jmarrec/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateThermalZone.cpp#L371

[2017-11-21 15:22] jmarrec commented on #2849
Fixed in #2860

[2017-11-21 15:38] rpg777 commented on #2848
@macumber pointed out to me that this is due to the one-way nature of the plugin. Mods via the plugin would need to be reloaded in the App prior to subsequent mods in the App; my "bug" demo workflow was clobbering the control points upon App save. Leaving the issue here but de-escalating it. Sort of a documentation issue for the moment.

[2017-11-21 15:51] jmarrec commented on #2839
Fixed in #2815 .
The purge button is now enabled whether a space is selected or not.

On purge, only spaces that have neither a ThermalZone assigned no Surfaces are removed.

Will be easy to change the logic, the commit I've done shows the location where to implement the new logic and gives a good example of what it looks like.

[2017-11-21 16:50] jmarrec commented on #2830
There isn't remotely enough information to help you there.
And unless you're experiencing a bug (then explain it), then I suggest you to http://unmethours.com

[2017-11-21 22:36] pflaumingo opened #2861 "Downloading measures in the GUI causes the app to freeze"
Using Openstudio 2.3.0 with Build Number: cf58ee1e38 on a Macbook Pro 2017 running macOS Sierra 10.12.6

Can be recreated by opening the OS app, navigating to Components & Measures > Find Measures, selecting a measure and pressing download. The BCL pop up remains working and more measures can be downloaded, however after closing the BCL pop up all OpenStudio buttons become inactive.

Going to Appl

[2017-11-21 22:47] #2714 closed

[2017-11-21 23:06] macumber commented on #2179
@DavidGoldwasser can you weigh in on this again?  I reverted the code that was preventing us from changing the name because that was leading to other issues, can we just live with this issue?

[2017-11-21 23:17] shorowit commented on #2861
FYI, the [release notes for OpenStudio 2.1.0](https://github.com/NREL/OpenStudio/releases/tag/v2.1.0) listed this as a known issue:
"The app may appear to freeze on return from BCL measure dialog on Mac, a workaround is to select File -> Quit and when prompted to save the Model, select cancel to abort the quit operation or press the escape key."

Might also be related to https://github.com/NREL/Op

[2017-11-21 23:48] ljbrackney commented on #2861
Cmd-M also works.

On Nov 21, 2017, at 3:17 PM, Scott Horowitz <notifications@github.com<mailto:notifications@github.com>> wrote:

FYI, the release notes for OpenStudio 2.1.0<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FNREL%2FOpenStudio%2Freleases%2Ftag%2Fv2.1.0&data=02%7C01%7Clarry.brackney%40nrel.gov%7C80156fd7eef64fb6d63408d5313612d6%7Ca0f29d7e28cd4f5484427885a

[2017-11-22 00:15] kbenne opened #2862 "Allow ZoneHVACTerminalUnitVariableRefrigerantFlow to be configured without a heating coil"

[2017-11-22 03:41] kbenne opened #2864 "conditionally translate VRF terminal OA mixer"
If there is no OA requirement then don't translate mixer. Same as https://github.com/NREL/OpenStudio/issues/2645

[2017-11-22 05:49] kbenne opened #2865 "Add new fields for cooling towers"

[2017-11-22 08:44] jmarrec commented on #2179
Re #2853, @macumber I'm not 100% sure I'm following the logic now that you changed it in the last 4 commits.

You are allowing the Plenum Space Type to be cloned and renamed. I thought the idea was that this one be should unique. I was assuming it was used in Forward Translation, or for other things like isPlenum(), but now I see that it apparently isn't.

So I'm not sure why we need a Model-"uniq

[2017-11-22 12:14] jmarrec commented on #2620
There 2417 setXXX methods currently that return void...

[2017-11-22 15:34] #2757 closed

[2017-11-22 16:14] macumber commented on #2179
The idea is that we don't want plenums to inherit building level space types (e.g. with lights, people, etc)

We want plenums to inherit an empty (to start with at least) space type

[2017-11-22 16:19] macumber commented on #2179
You might want to add loads to your plenum space type (David adds infiltration), we could go back to not allowing you to change the name of the space type, but i felt like not allowing you to clone it was a step too far.  So I thought we should just rewind under the principle that it is better to keep things simple.  Another option was to simply lock down the name in the UI but not the API, I do t

[2017-11-22 18:47] #2215 closed

[2017-11-22 19:08] #2850 closed

[2017-11-22 19:08] #2849 closed

[2017-11-22 21:42] macumber commented on #2266
@jmarrec Thermal Storage - Ice Storage is missing from My Model list, is that intended?

[2017-11-22 21:44] macumber opened #2867 "Sum of fraction radiant, fraction lost, etc can be > 1"
Applies to various types of equipment

[2017-11-22 21:45] macumber commented on #2867
Needs to be fixed in API and also handled in EnergyPlus translation similar to ThermalZone's fraction daylighting controls

[2017-11-22 21:45] macumber commented on #2778
This looks good, noticed that we can have sum of the fractions add up to > 1.  I'll file that as a separate issue https://github.com/NREL/OpenStudio/issues/2867

[2017-11-22 21:46] macumber commented on #2710
Can add up to > 1, filed as https://github.com/NREL/OpenStudio/issues/2867

[2017-11-22 21:55] macumber commented on #86
I fixed a few more of these in this commit https://github.com/jmarrec/OpenStudio/commit/c56961a79e0f9c0d47bf9f035b479218997292a8

There are some additional stragglers, @DavidGoldwasser what do you think, should we change all of these from Default * to just * ?

![image](https://user-images.githubusercontent.com/1327850/33151381-18cb90ba-cf95-11e7-9ba1-81396a72167d.png)

![image](https://user-image

[2017-11-22 21:57] macumber commented on #86
My preference is to leave the drop zones as "Default *" because for the space or space type, the construction set is used as the default construction set.  But I might be too literal here?

[2017-11-22 23:37] #2652 closed

[2017-11-22 23:59] #2568 closed

[2017-11-23 02:18] #1651 closed

[2017-11-23 02:46] #2720 closed

[2017-11-23 05:10] #2266 closed

[2017-11-23 05:10] #2296 closed

[2017-11-23 05:10] #2463 closed

[2017-11-23 05:10] #2839 closed

[2017-11-23 05:11] #2778 closed

[2017-11-23 05:11] #2710 closed

[2017-11-23 05:11] #2112 closed

[2017-11-23 05:12] #2176 closed

[2017-11-23 09:16] jmarrec commented on #2179
Got it, not inheriting building space type was the part I was missing. Thanks

[2017-11-23 09:25] jmarrec commented on #86
My two cents is that I would tend to agree with you on this.

[2017-11-23 09:37] jmarrec commented on #2266
Yes @macumber Ice Storage has two nodes only ([I/O](https://bigladdersoftware.com/epx/docs/8-8/input-output-reference/group-plant-equipment.html#field-inlet-node-name-1-001)), just inlet and outlet, so once it's dragged into your model once, there isn't a reason to drag it a second time.

[2017-11-23 11:37] jmarrec opened #2868 "Extend AvailabilityManager:NightCycle to include new fields"
It's missing the Cycling Run Time Control Type, and the Zone Lists (currently on "Control Zone" is implemented and limited to a single zone).

[2017-11-24 11:41] jmarrec opened #2870 "Test not passing when running all of them but work individually"
There is something weird happening in the `openstudio_utilities_tests`, if you run all tests, 10 of them do fail, including 7 EpwFile ones, but if you run EpwFile tests only, they pass.

[code]

[code]

They have to do with latitude being 39 instead of 39.74, and longitude is -105 instead of -105.18.

[2017-11-24 11:47] jmarrec commented on #2870
By trial an error, I found that running `IdfFixture` before it is what makes it fail.

    Products/openstudio_utilities_tests --gtest_filter=*IdfFixture*:*Filetypes*

In fact, I tried running every single test of IdfFixture + Epw_Wrap_AMY, and found that a single test is making it fail:

    Products/openstudio_utilities_tests --gtest_filter=*Workspace_Signals*:*EpwFile_Wrap_AMY*

Guilty test if

[2017-11-24 12:35] jmarrec commented on #2870
Adding std::cout for debug, it happens here:

https://github.com/jmarrec/OpenStudio/blob/develop/openstudiocore/src/utilities/filetypes/EpwFile.cpp#L2619

before longitude is '-105.18', but std::stod returns `-105`. It's like something is forcing the precision to 0 somewhere.

[2017-11-27 17:02] pachi commented on #2802
This may be related to a problem when trying to find resources such as MinimalTemplate.osm and hvaclibrary/hvac_library.osm in OpenStudioApp:buildCompLibraries() (in OpenStudioApp.cpp).

(The resource dir is installed directly in /usr and not in /usr/share/openstudio-2.2.2)

[2017-11-27 21:45] kbenne opened #2872 "make AirLoopHVAC:UnitarySystem object Zone HVAC Equipment"

[2017-11-28 02:57] #222 closed

[2017-11-28 03:03] #315 closed

[2017-11-28 03:04] #157 closed

[2017-11-28 03:05] #25 closed

[2017-11-28 03:07] #430 closed

[2017-11-28 03:09] #2621 closed

[2017-11-28 03:09] #313 closed

[2017-11-28 03:09] #308 closed

[2017-11-28 03:09] #234 closed

[2017-11-28 03:10] #161 closed

[2017-11-28 03:11] #791 closed

[2017-11-28 03:11] #358 closed

[2017-11-28 03:12] #336 closed

[2017-11-28 03:13] #333 closed

[2017-11-28 03:13] #299 closed

[2017-11-28 03:16] macumber commented on #265
@jmarrec you marked this as can close.  The issue is still true, was your recommendation based on idea that these objects should not show up in the My Model section?  e.g. they should not be shared?

[2017-11-28 03:18] #236 closed

[2017-11-28 03:19] #224 closed

[2017-11-28 03:19] #206 closed

[2017-11-28 03:21] #159 closed

[2017-11-28 03:21] #158 closed

[2017-11-28 03:21] #137 closed

[2017-11-28 03:23] #1595 closed

[2017-11-28 03:23] #1572 closed

[2017-11-28 03:24] #1569 closed

[2017-11-28 03:24] #1535 closed

[2017-11-28 04:09] macumber commented on #1375
@MatthewSteen do you agree with closing this now that DView is included?

[2017-11-28 04:11] MatthewSteen commented on #1375
Yes, sounds good.

[2017-11-28 04:11] #1114 closed

[2017-11-28 04:16] macumber commented on #1635
We could add a bit of code in [WorkspaceObject_Impl::remove](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/utilities/idf/WorkspaceObject.cpp#L96)

    if (this->handle().isNull()){
      LOG(Error, "Already removed");
      return result;
    }

That would prevent crashes, what do you think @jmarrec ?

[2017-11-28 04:17] macumber commented on #2008
Looks like another bug that the schedule type limits didn't get translated?

[2017-11-28 04:18] macumber commented on #2008
Nevermind that wasn't in your idf

[2017-11-28 04:24] #2008 closed

[2017-11-28 04:24] #1939 closed

[2017-11-28 04:24] #1850 closed

[2017-11-28 04:25] #1750 closed

[2017-11-28 04:25] #1663 closed

[2017-11-28 04:26] #1562 closed

[2017-11-28 04:27] macumber commented on #1538
I think it's still valid, the default for Workspace should be EnergyPlus

[2017-11-28 04:27] #1525 closed

[2017-11-28 04:29] #1479 closed

[2017-11-28 04:30] #1471 closed

[2017-11-28 04:30] #474 closed

[2017-11-28 04:30] #810 closed

[2017-11-28 04:31] macumber commented on #2047
With move to DView closing this as won't fix

[2017-11-28 04:31] #2047 closed

[2017-11-28 04:31] #2693 closed

[2017-11-28 04:32] #2460 closed

[2017-11-28 04:32] #1729 closed

[2017-11-28 04:33] #1715 closed

[2017-11-28 04:34] #1582 closed

[2017-11-28 04:35] #1375 closed

[2017-11-28 04:38] #356 closed

[2017-11-28 04:53] #269 closed

[2017-11-28 04:54] #2038 closed

[2017-11-28 04:55] #1952 closed

[2017-11-28 04:55] #1592 closed

[2017-11-28 04:56] #629 closed

[2017-11-28 04:57] #499 closed

[2017-11-28 05:01] #246 closed

[2017-11-28 05:01] #147 closed

[2017-11-28 05:02] #146 closed

[2017-11-28 05:04] #1581 closed

[2017-11-28 08:37] jmarrec commented on #1538
Addressed in #2873 (building right now, I'll check the Gtest to make sure there aren't unintended consequences)

[2017-11-28 08:49] jmarrec commented on #1635
I like it! While we're on this topic, I'd implement other checks.

Here are scenarios I can think of where it's going to create an actual crash.

Removing an object twice:
[code]

Cloning an already removed object

[code]

Stuff that throws an OS_ASSERT in debug (but I think will actually crash in Release since these are removed...).

setPointer to an object already removed, for eg Space::setTherm

[2017-11-28 09:07] jmarrec commented on #265
@macumber I have to admit I don't know why I flagged this one as "can close". I was bound to make a mistake at some point, I did go through 700 issues at once. Should be an easy fix though, I'm on it.

[2017-11-28 09:45] jmarrec commented on #265
Yeah, I think it's because right now the SpaceInfiltrationDesignFlowRate is the object that references a Space or Space Type, and not the other way around like DesignSpecificationOutdoorAir.

From the idd

[code]

We could change this, but it wouldn't be a trivial change.

[2017-11-28 10:03] jmarrec commented on #1635
Ok, I cannot do targetHandle.isNull() there, because you can no longer even create a new thermal Zone...

[2017-11-28 10:20] jmarrec commented on #1635
Also, adding

[code]

To Workspaceobject_Impl::remove() doesn't solve the crash of removing an object twice. Here's the backtrace in lldb after removing the thermalZone a second time:

[code]

[2017-11-28 11:54] pachi opened #2874 "Wrong OSApp shared components (resources) install path on Linux"
I've used the docker-openstudio image to run OpenStudioApp (version 2.2.2) and have found that the Resources, Ruby, EnergyPlus, Examples and Radiance OSApp folders, as well as the OpenStudio release notes pdf file, are installed in the `/usr` dir, instead of the `/usr/share/openstudio-$OPENSTUDIO_APP_VERSION/OSApp` dir which is the path the `OpenStudioApp::resourcesPath()` method expects to be abl

[2017-11-28 17:22] evanweaver commented on #381
@DavidGoldwasser and @jmarrec are you two in agreement that this is no longer an issue and should be closed?

[2017-11-28 17:36] evanweaver commented on #138
Fixed.

[2017-11-28 17:36] #138 closed

[2017-11-28 17:41] evanweaver commented on #1412
Fixed as tested in 2.3.0.

[2017-11-28 17:41] #1412 closed

[2017-11-28 19:23] evanweaver commented on #1578
I added this long ago because someone thought it was needed. I am guessing that @asparke2 or @DavidGoldwasser was the actual originator of this feature request. Is this still a valid feature request? If so, @kbenne I'd like to discuss my GUI design idea, as well as persistence.

[2017-11-28 19:27] evanweaver commented on #407
Fixed as tested in 2.3.0.

[2017-11-28 19:27] #407 closed

[2017-11-28 21:22] macumber commented on #2835
Thanks @DavidGoldwasser would all of these issues be found in the following example:

![image](https://user-images.githubusercontent.com/1327850/33344849-8da14b9e-d447-11e7-9784-b0730806e379.png)

[2017-11-28 22:16] #128 closed

[2017-11-28 22:17] #1063 closed

[2017-11-28 22:39] DavidGoldwasser commented on #1020
@asparke2 This is still an issue. The schedule for LargeHotel with Load Library still uses the same occupancy schedule everywhere.

SpaceTypeAndConstructionSet Wizard and Prototype have unique schedules for Guestroom vs. everywhere else, but still look very similar to Guestroom setting except fro late night peak. Screenshots below are from prototype measure in 2.3.0. I looked for issue in OpenStud

[2017-11-28 23:19] #926 closed

[2017-11-28 23:27] DavidGoldwasser commented on #929
This is still valid, but should probably go in standards repo. Const. set should always give skylight construction. Also noticed glass door is missing, maybe that can use exterior window construction.

cc: @asparke2

[2017-11-29 00:24] #1574 closed

[2017-11-29 00:24] evanweaver commented on #1574
Verified that non-epw extension files are deleted.

[2017-11-29 04:18] #2833 closed

[2017-11-29 12:25] jmarrec commented on #381
I do.

[2017-11-29 15:57] evanweaver commented on #381
Thanks @jmarrec.

[2017-11-29 15:57] #381 closed

[2017-11-29 17:18] evanweaver commented on #1578
After review and discussion with @asparke2 this feature will now focus on removing trailing zeros which don't impart any additional information or accuracy to the user.

[2017-11-29 17:45] evanweaver commented on #364
As tested, reset of "bad" data happens when field is exited. As for "Should not be able to enter "hello" in the first place.", this is not currently possible because of this change  https://github.com/NREL/OpenStudio/blame/develop/openstudiocore/src/shared_gui_components/OSDoubleEdit.cpp#L54 which occured in this commit https://github.com/NREL/OpenStudio/issues/1519 which fixes this bug https://gi

[2017-11-29 17:45] #364 closed

[2017-11-29 22:19] #2379 closed

[2017-11-29 22:19] #2812 closed

[2017-11-29 22:19] #2410 closed

[2017-11-29 22:19] #2022 closed

[2017-11-29 22:19] #2868 closed

[2017-11-29 22:19] #1973 closed

[2017-11-29 22:19] #2253 closed

[2017-11-29 22:19] #2373 closed

[2017-11-29 22:21] #2091 closed

[2017-11-29 22:29] muh182 opened #2879 "The default chilled beam type is missing"
@kbenne @macumber

If the chilled beam is placed and connected to a loop, the simulation fails. The chilled beam object is missing the chilled beam type:

`
   ** Severe  ** IP: IDF line~581 Error detected in Object=AIRTERMINAL:SINGLEDUCT:CONSTANTVOLUME:COOLEDBEAM, name=CHILLED BEAM
`

The solution is to change the chilled beam type from "active" to "passive" and then from "passive" to "active.

[2017-11-30 10:15] pachi commented on #2391
Increasing the number of digits the GUI inputs allows (so figures in the order of 1e-7 are accepted) could be good enough, and less confusing than changing the units.

[2017-11-30 10:27] jmarrec commented on #2350
@kbenne please close as #2825 got merged.

[2017-11-30 10:28] jmarrec commented on #2749
@kbenne please close per #2851

[2017-11-30 10:29] jmarrec commented on #2275
@kbenne please close per #2851

[2017-11-30 10:29] jmarrec commented on #2573
@macumber can close per #2852

[2017-11-30 16:33] #2749 closed

[2017-11-30 20:06] MatthewSteen opened #2880 "OS App does not allow SolarCollectorFlatPlateWater on the demand side of plant loops"
Found in 2.3.0. See UnmetHours question below.

https://unmethours.com/question/27837/which-side-of-the-plant-loop-for-solar-collector-in-eopenstudio/

[2017-11-30 20:42] #2862 closed

[2017-11-30 20:42] #2864 closed

[2017-11-30 20:43] #2781 closed

[2017-11-30 20:45] #2855 closed

[2017-11-30 20:46] #2872 closed

[2017-11-30 20:46] #2865 closed

[2017-11-30 20:46] #2858 closed

[2017-11-30 22:55] jmarrec commented on #2781
@kbenne I think you can close #2622 too

[2017-12-01 08:49] jmarrec commented on #2880
It's an easy fix, see [SolarCollectorFlatPlateWater.cpp#L141](https://github.com/jmarrec/OpenStudio/blob/develop/openstudiocore/src/model/SolarCollectorFlatPlateWater.cpp#L141), but I wonder what we should really do here. I see two options:

* Restrict to the demand side, which is according to the I/O how you should do it.
* Allow both

I personally have never tested putting the solar collector on

[2017-12-05 09:14] jmarrec opened #2883 "Fix failing EMS tests"
A few tests are failing due to the EnergyManagementSystemGlobalVariable.

Currently the Ctor is throwing when you supply a name with spaces, whereas the Gtests seem to indicate it should just rename the varaible name to replace the space with an underscore.

https://github.com/jmarrec/OpenStudio/blob/develop/openstudiocore/src/model/EnergyManagementSystemGlobalVariable.cpp#L85

https://github.com/

[2017-12-05 11:28] jmarrec opened #2885 "Fix Failing FT tests for ScheduleInterval"
I'm not sure what is going on there because I'm don't know the intent/conventions as far as start dates for timeSeries versus ScheduleInterval, but there are fishy things happening here.

I tried to figure it out (see the referenced commit https://github.com/NREL/OpenStudio/commit/638fd35ae0a2b38c49be90906389c321d20a458d?w=1), but I need to defer to whoever implemented this first, I think it might

[2017-12-05 12:04] jmarrec commented on #2879
I added the CooledBeamType to the hvac_library.osm (was empty), so this should fix it.

Unsure whether we should also write a little something in the VersionTranslator.cpp to ensure that older models get update properly? Thoughts @kbenne?

[2017-12-05 13:42] jmarrec commented on #2305
I'm super confused about why this is happening.

Here's some ruby code to play with:

[code]

When I don't supply an AirTerminal (case 1), it should pick up the latest one (atu1), clone it:

https://github.com/jmarrec/OpenStudio/blob/develop/openstudiocore/src/model/AirLoopHVAC.cpp#L825

Then call the long method:

https://github.com/jmarrec/OpenStudio/blob/develop/openstudiocore/src/model/AirLoop

[2017-12-05 13:48] jmarrec commented on #2305
Interesting, I thought I was picking the right atu by calling m.getAirTerminalSingleDuctConstantVolumeFOurPipeInductions[1], apparently I'm not.

It's atu1 that gets its inducedInletAirNode reset actually...

[2017-12-05 15:08] jmarrec commented on #334
Not true anymore:

[code]

[2017-12-05 15:12] jmarrec commented on #225
Can be closed, see https://github.com/jmarrec/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateWaterHeaterMixed.cpp#L246

[2017-12-05 16:26] jmarrec opened #2888 "Cannot edit any of the Fractions for the loads in current develop in OS App"
After some tedious investigation (and a bit of luck probably), I realized it only allows 0 or 1 to be entered, exactly. If you try to put 1.0 or 0.0 it doesn't work.

The IDD prevents you from inputting something higher than 1 or lower than 0, but it doesn't allow you to input a decimal separator in there for some reason.

The underlying API calls work perfectly in ruby/c++.

This affects all the

[2017-12-05 16:34] macumber commented on #2888
This is the issue I thought might be related but I don't see any code changes associated with it https://github.com/NREL/OpenStudio/issues/1578

[2017-12-05 16:40] jmarrec commented on #2888
Could potentially be linked to my two commits that got merged in recently:
https://github.com/NREL/OpenStudio/commits/develop/openstudiocore/src/shared_gui_components

[2017-12-05 16:45] jmarrec commented on #2888
I can enter 1e-3 just fine, and it does save to the osm...

[2017-12-05 20:30] asparke2 commented on #907
Closing as not relevant for PAT 2.0

[2017-12-05 20:30] #907 closed

[2017-12-05 20:31] asparke2 commented on #230
Confirmed resolved.

[2017-12-05 20:31] #230 closed

[2017-12-05 20:31] #1430 closed

[2017-12-05 20:34] #1429 closed

[2017-12-05 20:34] #1427 closed

[2017-12-05 20:34] #1425 closed

[2017-12-05 20:34] #1423 closed

[2017-12-05 20:35] #1422 closed

[2017-12-05 20:35] #1428 closed

[2017-12-05 20:35] #1424 closed

[2017-12-05 20:36] #1426 closed

[2017-12-05 20:41] asparke2 commented on #882
Don't see this anymore (tested with 2.3.0)

[2017-12-05 20:41] #882 closed

[2017-12-06 08:48] jmarrec commented on #2888
This happens to me on Linux, @macumber said it's working for him on Windows... :/

[2017-12-06 09:59] jmarrec commented on #2874
I agree that the install path is messed up on Linux, and it's really annoying.

I was expecting it to install everything under `/usr/local/OpenStudio-${OpenStudio_VERSION}`, just like it's done for EnergyPlus for eg, and what I thought this command made at [openstudiocore/CMakeLists.txt#L1541](https://github.com/NREL/OpenStudio/blob/9b0fc45840a63ed646baa5ab707a23b1c032bbdf/openstudiocore/CMakeList

[2017-12-06 15:51] evanweaver commented on #2888
Hi @jmarrec, @macumber and I just tested the 2.3.1 RC on Ubuntu and had no issues.

[2017-12-06 16:39] jmarrec commented on #2888
@evanweaver this is a locale issue.

QDoubleValidator uses the system locale.

$ locale
LANG=en_US.UTF-8
LANGUAGE=en_US
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC=fr_FR.UTF-8
LC_TIME=fr_FR.UTF-8
LC_COLLATE="en_US.UTF-8"
LC_MONETARY=fr_FR.UTF-8
LC_MESSAGES="en_US.UTF-8"
LC_PAPER=fr_FR.UTF-8
LC_NAME=fr_FR.UTF-8
LC_ADDRESS=fr_FR.UTF-8
LC_TELEPHONE=fr_FR.UTF-8
LC_MEASUREMENT=fr_FR.UTF-8
LC_IDENTIFICATION=fr_FR

[2017-12-06 17:06] jmarrec commented on #2888
Fixed in #2888, works on my Ubuntu 16.04 with `LC_NUMERIC=ft_FR.UTF-8`

[2017-12-06 17:21] evanweaver commented on #2888
Thanks!

[2017-12-07 16:41] DavidGoldwasser commented on #2829
@asparke2 I did quick test with a baseline with a positive EUI, and then both a negative and positive alternative. In both of those cases things are fine. Only an issue when the baseline has a negative EUI.

![screen shot 2017-12-07 at 9 29 03 am](https://user-images.githubusercontent.com/4857055/33726233-ae712d9e-db31-11e7-8c8c-d82f6b5994e7.png)

Here is relevant code. Similar formula used for ga

[2017-12-07 17:52] brianlball commented on #2750
added this functionality to https://github.com/NREL/OpenStudio/pull/2890
the outputvar key cannot be the default value since * is not a valid EMS value

[2017-12-07 17:52] #2750 closed

[2017-12-07 18:32] #2888 closed

[2017-12-07 22:15] shorowit commented on #2787
Failing test: https://github.com/NREL/OpenStudio-resources/pull/19

[2017-12-07 22:25] MatthewSteen commented on #1286
And 2.3.1.

[2017-12-07 22:54] macumber commented on #1286
@jmarrec is this something you are interested in?

[2017-12-08 01:53] MatthewSteen opened #2891 "2.3.1 AirLoopHVAC doesn't have an AvailabilityManagerAssignmentList assigned"
Updated a 2.3.0 model to 2.3.1, which caused the following [error](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/AirLoopHVAC.cpp#L1248) introduced in #2844. Workaround was to manually change the version back to 2.3.0. FYI @jmarrec and @kbenne.

[2017-12-08 05:14] rHorsey opened #2892 "Re-deploying to clusters leads to worker service container instability on remote nodes"
This manifests as fewer and fewer worker containers being available after each successive re-deployment. Containers are scheduled, started, run for ~30 seconds, and then fail (exit 1). This happens to all containers scheduled on a node or none. Documented on 17.06. Wait until 17.09 update and re-confirm prior to investigating.

[2017-12-08 08:28] jmarrec commented on #2891
I didn't think about writing a proper version translator, I'm on it.

[2017-12-08 09:51] jmarrec commented on #2891
Fixed in #2891 and tested with a 2.3.0 model that I had created in 2.3.0 bindings. I just extended my tests, and realized there's a problem with the AvailabilityManagerNightCycle, so I'll fix this now too...

[2017-12-08 10:22] jmarrec commented on #2891
Ok, done, I added a proper version translation for the AVM:NightCycle (has a new field inserted before the end, and need to create the 4 control Lists (ModelObjectLists)).

see #2891 for more info and testing.

[2017-12-08 10:53] jmarrec commented on #1286
@macumber I looked into it. I'm not 100% sure I understand every implication, but I found that if you change this line [IGLineEdit.cpp#L242](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model_editor/IGLineEdit.cpp#L242) from:

     emit textEdited(val);

To:

    emit newValue(val);

Then it works as expected.

I didn't see anything that broke when I did this, but I'd like to

[2017-12-08 15:33] jmarrec commented on #2787
I have been investigating this issue.

It happens in a very specific scenario. Here are scenarios, with the zone equipment in order:

* [ATU, PTAC] = ok
* [PTAC, ATU] = ok
* [PTAC1, ATU, PTAC2] = ok
* [PTAC1, ATU, PTAC2 , Dehumidificator] = PTAC1 is no longer on the Zone Air Inlet NodeList

At the end I'm putting is a MCVE (Minimal Complete, Verifiable Example) with nodes named correctly all throu

[2017-12-08 15:48] jmarrec commented on #2787
Ok, I think the problem is here:
https://github.com/jmarrec/OpenStudio/blob/develop/openstudiocore/src/model/Model.cpp#L1740

    if( boost::optional<HVACComponent> hvacComponent = targetObject->optionalCast<HVACComponent>() )

If you take the ruby code above, and stop just before `a.remove`, then do this:

[code]

I think this cpp line is the same as pl.getTarget(3), which returns the **first ext

[2017-12-08 15:51] asparke2 opened #2895 "Cannot add window frame and divider to skylights"
OpenStudio currently [limits the attachment](https://github.com/NREL/OpenStudio/blob/101472e2ec1d04a7d35a94fa261cba8c6f6b9711/openstudiocore/src/model/SubSurface.cpp#L465) of WindowPropertyFrameAndDivider objects to FixedWindow, OperableWindow, and GlassDoor SubSurfaces.  This may have been a limitation of EnergyPlus at some point, but [does not appear to be one now](https://bigladdersoftware.com/

[2017-12-08 15:59] asparke2 commented on #2895
I suppose it is important to make sure the the [Forward Translator code](https://github.com/NREL/OpenStudio/blob/101472e2ec1d04a7d35a94fa261cba8c6f6b9711/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateSubSurface.cpp#L137) for this field will work on skylights (I think it will).

[2017-12-08 16:14] jmarrec commented on #2787
See  dc4a98f, I think the problem is that airLoopHVACPort was returning a portIndex, and not a port. I haven't had time to build and confirm it works as expected, and I have to run.

[2017-12-08 16:30] jmarrec commented on #2787
I build and tested with the above ruby example, the resulting IDF has the right nodes.

Should run it against the full OpenStudio-resources to ensure there aren't other problems, but it's looking good. I will resume on monday.

[2017-12-08 19:58] shorowit commented on #2787
Thanks @jmarrec! I verified that the OpenStudio-resources test I posted above passes with your fix.

[2017-12-09 16:34] #2891 closed

[2017-12-11 15:13] #2879 closed

[2017-12-11 15:15] #2305 closed

[2017-12-12 15:59] #2787 closed

[2017-12-13 01:15] rHorsey opened #2897 "Memory leak in results_file model"
MRI's interaction with ActiveRecord requires garbage collection to be called after send_data methods and following each results_file ActiveRecord instantiation. This is likely not a 'leak' as noted in https://github.com/rails/rails/issues/6929 & https://github.com/rails/rails/issues/7112 but rather common enough in our API to lead to eventual invocation of the OOM Killer.

[2017-12-13 01:22] rHorsey opened #2898 "Memory leak in eval leads to slow leak in long running analyses"
Fixing this requires isolating the `eval` call which is invoked upon uploading results files from worker containers and then taking corrective action. There is no update regarding MRI fixing this since August '15, see https://bugs.ruby-lang.org/issues/11459

This will impact the 1M datapoints per cluster OSAF target.

[2017-12-13 02:03] rHorsey commented on #2897
The `send_data` method is not resolved by `GC.start` invocation. Splitting that into it's own lower priority issue.

[2017-12-13 02:06] rHorsey opened #2899 "Memory 'leak' in send_data method in ActionPack"
This leads to the file being sent loading into memory and not being released. See #2897 for details. This has a limited impact on overall memory usage, however may cause API scraping of result files to trigger a server fault.

[2017-12-13 14:08] jmarrec opened #2900 "Crash when clicking on a pump in OS App"
Using current develop, built in Debug Mode. This is probably related to the new pump fields added recently by @kbenne.

Happens everytime I click on a Pump:VariableSpeed for eg:

[code]

[2017-12-13 14:12] jmarrec commented on #2900
Backtrace:

[code]

[2017-12-13 17:43] jmarrec commented on #2900
While on the topic of bugs in Units:

It adds a ^2 here...

[code]

[2017-12-15 10:11] jmarrec commented on #2883
Fixed in #2890

[2017-12-15 10:11] #2883 closed

[2017-12-15 11:17] jmarrec opened #2904 "Match ScheduleTypeLimits 'Unit Type' options between E+ and OS"
See:https://unmethours.com/question/28376/parametric-analysis-tool-adds-invalid-linearpowerdensity-object-to-models/?answer=28549#post-id-28549

There are extra Unit Type options (for a good reason as I explain in my answer) in OpenStudio. When you forward translate, then reverse translate, it complains as a result.

A quick fix would be just to add the OpenStudio extra options (see list in David'

[2017-12-15 15:11] #2275 closed

[2017-12-15 15:16] #2885 closed

[2017-12-15 15:52] #2573 closed

[2017-12-15 20:08] jmarrec commented on #2885
@jasonsegraw where did you fix it?

[2017-12-18 15:16] irfanirw opened #2905 "simulation errors and warnings notification unavailable"
Do you know how to solve this? The simulation errors and warnings notifications was unavailable before, during, and after the simulation of my model (picture link below). I'm afraid that there was any major errors or warnings during my simulation that i could not check.

Anyway, I am using Sketchup 2017 and Openstudio version 2.3.1. I already tried some of the other versions like Openstudio 2.2.0,

[2017-12-18 19:14] macumber commented on #2905
This question is best asked on unmethours.com, that is a forum where you will get answers in a timely way from other modelers.

[2017-12-18 19:14] #2905 closed

[2017-12-19 20:34] #2900 closed

[2017-12-19 20:34] #2904 closed

[2017-12-20 00:27] jmarrec commented on #2870
I realized that if I run in sudo, all pass except the

[  FAILED  ] CoreFixture.Path_toString
[  FAILED  ] CoreFixture.IsNetworkPath

Both of them are failing because the code won't work on linux.

This doesn't work obviously: https://github.com/jmarrec/OpenStudio/blob/develop/openstudiocore/src/utilities/core/test/Path_GTest.cpp#L92

https://github.com/jmarrec/OpenStudio/blob/develop/openstudioco

[2017-12-20 15:29] jmarrec commented on #2168
@kbenne closed per #2877

[2017-12-20 15:30] #2168 closed

[2017-12-21 12:52] pachi commented on #2874
I've investigated a little more, and found that the /usr/local/OpenStudio-${OpenStudio_VERSION}/pat directory is also missing (it's not even mounted in /usr/), so the standard reporting measure can't be found (and this delays startup a lot, until the app shows an error).

[2017-12-28 19:11] MatthewSteen opened #2908 "inconsistent ForwardTranslator behavior"
Found in 2.3.0 and 2.4.0. Doesn't seem to be an issue with complete models, but it's currently blocking a unit test for some code we've developed. Steps to reproduce.

[code]

[2017-12-28 21:14] shorowit opened #2909 "OS 2.4.0 EMS Actuator FT issue?"
I don't really understand [this change](https://github.com/NREL/OpenStudio/commit/d1af52e8f9d96fdfab3a23b0f2f25a9f04d5b571) where the actuated component name is changed to include the thermal zone. Doesn't this mean the Actuator is no longer pointing to the correct actuated component object name? All of our simulations now produce EnergyPlus errors whereas they worked fine in OS 2.3.1.

Here's an

[2017-12-29 16:05] brianlball commented on #2909
hmmm, can you send me rdd files for both cases?  This change came about when i was trying to actuate zone loads and the rdd file for my models has the actuated component names as the "thermal zone" + "load object name".  Are your loads not in thermal zones or something like that?

[2017-12-29 16:16] shorowit commented on #2909
Thanks for looking into this. Here are the full set of files for each case:
[2.3.1.zip](https://github.com/NREL/OpenStudio/files/1593445/2.3.1.zip)
[2.4.0.zip](https://github.com/NREL/OpenStudio/files/1593446/2.4.0.zip)

[2017-12-29 19:37] ljbrackney opened #2910 "Back Side Solar Reflectance Field Not Editable in App"
When creating a Glazing Window Material in the app, the Back Side Solar Reflectance field cannot be edited for a material w/ SpectralAverage optical data.  No default is provided either.

![glass](https://user-images.githubusercontent.com/2230150/34445977-83c3978c-ec8c-11e7-970a-ba23f19498b8.png)

[2017-12-29 21:39] MatthewSteen commented on #2908
Same for CoilHeatingElectric.

---

[code]

[2017-12-29 21:42] DavidGoldwasser commented on #2908
@MatthewSteen You should be able to forward translate even incomplete models. I'll bing @kbenne about this.

[2017-12-30 19:10] MatthewSteen commented on #2908
I suspect that there's some magic happening to prevent orphaned objects, although I didn't notice anything in the code. For example, PumpConstantSpeed and PumpVariableSpeed objects are not translated unless they're on a PlantLoop.

[2018-01-02 13:58] IainMacdonald opened #2911 "cli run does not find e+ when running a simulation"
Running on docker using the cli to run the example osw file fails as e+ is not found (it works on windows though).

To reproduce this the following works: `docker pull nrel/openstudio:2.2.1; docker run -it nrel/openstudio:2.2.1 /bin/bash -c "cp -r /usr/Examples/compact_osw . && openstudio run -w compact_osw/compact.osw"`

May be related to issue 2616.

[2018-01-02 19:11] IainMacdonald commented on #2911
if a full path is provided to the openstudio exe (i.e. /usr/bin/openstudio) then it works for the latest version.

[2018-01-02 23:13] macumber commented on #2835
@DavidGoldwasser can you see if this is fixed in @ljbrackney 's latest builds?

[2018-01-02 23:13] macumber commented on #2834
@DavidGoldwasser can you see if this is fixed in @ljbrackney 's latest builds?

[2018-01-02 23:16] macumber opened #2912 "Space fields not translated"
- [x] "below_floor_plenum_height"
- [x] "floor_to_ceiling_height"
- [x] "above_ceiling_plenum_height"
- [x] "floor_offset"
- [x] "open_to_below"

[2018-01-02 23:16] macumber opened #2913 "Story multiplier not translated"

[2018-01-02 23:17] macumber opened #2914 "Shading objects not translated"
Also need to handle adjacency between shading and spaces

[2018-01-02 23:17] macumber opened #2915 "Pitched roofs not translated"

[2018-01-03 14:36] jmarrec opened #2916 "CentralHeatPumpSystem forward translation problems"
There is a variety of things going wrong (which I originally didn't test for), as pointed out by @chriswmackey in a comment on Unmethours [here](https://unmethours.com/question/14888/heat-recovery-chiller-in-openstudio/?comment=28796#post-id-28796).

* The centralHP doesn't end up on a plant equipment operation scheme for the cooling and the heating loop
* The `ForwardTranslateLoop::populateBranch

[2018-01-04 21:08] #2622 closed

[2018-01-04 21:28] rHorsey commented on #2899
Patched by https://github.com/NREL/OpenStudio-server/pull/231 - Rails update may additionally help prevent this problem in the first place.

[2018-01-04 21:28] #2899 closed

[2018-01-04 21:29] rHorsey commented on #2898
Patched by https://github.com/NREL/OpenStudio-server/pull/231 - there is no way around this in MRI.

[2018-01-04 21:29] #2898 closed

[2018-01-04 21:29] rHorsey commented on #2897
Patched by https://github.com/NREL/OpenStudio-server/pull/231

[2018-01-04 21:29] #2897 closed

[2018-01-04 21:42] rHorsey commented on #2824
This issue was moved to NREL/OpenStudio-server#240

[2018-01-04 21:42] #2824 closed

[2018-01-04 21:42] rHorsey commented on #2758
This issue was moved to NREL/OpenStudio-server#241

[2018-01-04 21:42] #2758 closed

[2018-01-04 21:43] rHorsey commented on #2703
This issue was moved to NREL/OpenStudio-server#242

[2018-01-04 21:43] #2703 closed

[2018-01-04 21:44] rHorsey commented on #2679
This issue was moved to NREL/OpenStudio-server#243

[2018-01-04 21:44] #2679 closed

[2018-01-04 21:44] rHorsey commented on #2675
This issue was moved to NREL/OpenStudio-server#244

[2018-01-04 21:44] #2675 closed

[2018-01-04 23:46] rHorsey commented on #2673
This issue was moved to NREL/OpenStudio-server#245

[2018-01-04 23:46] #2673 closed

[2018-01-04 23:47] rHorsey commented on #2671
This issue was moved to NREL/OpenStudio-server#246

[2018-01-04 23:47] #2671 closed

[2018-01-04 23:48] rHorsey commented on #2644
This issue was moved to NREL/OpenStudio-server#247

[2018-01-04 23:48] #2644 closed

[2018-01-04 23:53] rHorsey commented on #2608
This issue was moved to NREL/OpenStudio-server#248

[2018-01-04 23:53] #2608 closed

[2018-01-04 23:54] rHorsey commented on #2606
This issue was moved to NREL/OpenStudio-server#249

[2018-01-04 23:54] #2606 closed

[2018-01-04 23:54] rHorsey commented on #2523
This issue was moved to NREL/OpenStudio-server#250

[2018-01-04 23:54] #2523 closed

[2018-01-05 00:10] rHorsey commented on #2807
This is a workflow gem issue.

[2018-01-05 00:15] rHorsey commented on #2857
This issue was moved to NREL/OpenStudio-server#251

[2018-01-05 00:15] #2857 closed

[2018-01-05 00:15] rHorsey commented on #2701
This issue was moved to NREL/OpenStudio-server#252

[2018-01-05 00:15] #2701 closed

[2018-01-05 00:15] rHorsey commented on #2592
This issue was moved to NREL/OpenStudio-server#253

[2018-01-05 00:15] #2592 closed

[2018-01-05 01:11] shorowit commented on #2909
Fixed in https://github.com/NREL/OpenStudio/pull/2918

[2018-01-05 01:11] #2909 closed

[2018-01-08 12:57] pachi commented on #2874
https://stackoverflow.com/questions/6712000/cmake-cpack-package-installation-path-nightmare may suggest a fix for this bug, prepending to the line pointed to by @jmarrec the two following lines:
[code]
Could someone try this?

[2018-01-08 20:42] kflemin commented on #2096
This issue was moved to NREL/OpenStudio-PAT#11

[2018-01-08 20:42] #2096 closed

[2018-01-08 20:51] kflemin commented on #2498
This issue was moved to NREL/OpenStudio-PAT#12

[2018-01-08 20:51] #2498 closed

[2018-01-08 20:53] kflemin commented on #2501
This issue was moved to NREL/OpenStudio-PAT#13

[2018-01-08 20:53] #2501 closed

[2018-01-08 20:54] kflemin commented on #2532
This issue was moved to NREL/OpenStudio-PAT#14

[2018-01-08 20:54] #2532 closed

[2018-01-08 20:55] kflemin commented on #2552
This issue was moved to NREL/OpenStudio-PAT#15

[2018-01-08 20:55] #2552 closed

[2018-01-08 20:56] kflemin commented on #2553
This issue was moved to NREL/OpenStudio-PAT#16

[2018-01-08 20:56] #2553 closed

[2018-01-08 20:57] kflemin commented on #2563
This issue was moved to NREL/OpenStudio-PAT#17

[2018-01-08 20:57] #2563 closed

[2018-01-08 20:58] kflemin commented on #2570
This issue was moved to NREL/OpenStudio-PAT#18

[2018-01-08 20:58] #2570 closed

[2018-01-08 20:59] kflemin commented on #2571
This issue was moved to NREL/OpenStudio-PAT#19

[2018-01-08 20:59] #2571 closed

[2018-01-08 21:00] kflemin commented on #2581
This issue was moved to NREL/OpenStudio-PAT#20

[2018-01-08 21:00] #2581 closed

[2018-01-08 21:00] kflemin commented on #2582
This issue was moved to NREL/OpenStudio-PAT#21

[2018-01-08 21:00] #2582 closed

[2018-01-08 21:01] kflemin commented on #2587
This issue was moved to NREL/OpenStudio-PAT#22

[2018-01-08 21:01] #2587 closed

[2018-01-08 21:02] kflemin commented on #2588
This issue was moved to NREL/OpenStudio-PAT#23

[2018-01-08 21:02] #2588 closed

[2018-01-08 21:03] kflemin commented on #2590
This issue was moved to NREL/OpenStudio-PAT#24

[2018-01-08 21:03] #2590 closed

[2018-01-08 21:03] kflemin commented on #2595
This issue was moved to NREL/OpenStudio-PAT#25

[2018-01-08 21:03] #2595 closed

[2018-01-08 21:04] kflemin commented on #2599
This issue was moved to NREL/OpenStudio-PAT#26

[2018-01-08 21:04] #2599 closed

[2018-01-08 21:05] kflemin commented on #2627
This issue was moved to NREL/OpenStudio-PAT#27

[2018-01-08 21:05] #2627 closed

[2018-01-08 21:06] kflemin commented on #2639
This issue was moved to NREL/OpenStudio-PAT#28

[2018-01-08 21:06] #2639 closed

[2018-01-08 21:11] kflemin commented on #2672
This issue was moved to NREL/OpenStudio-PAT#29

[2018-01-08 21:11] #2672 closed

[2018-01-08 21:12] kflemin commented on #2678
This issue was moved to NREL/OpenStudio-PAT#30

[2018-01-08 21:12] #2678 closed

[2018-01-08 21:13] kflemin commented on #2680
This issue was moved to NREL/OpenStudio-PAT#31

[2018-01-08 21:13] #2680 closed

[2018-01-08 21:15] kflemin commented on #2682
This issue was moved to NREL/OpenStudio-PAT#32

[2018-01-08 21:15] #2682 closed

[2018-01-08 21:15] kflemin commented on #2684
This issue was moved to NREL/OpenStudio-PAT#33

[2018-01-08 21:15] #2684 closed

[2018-01-08 21:16] kflemin commented on #2685
This issue was moved to NREL/OpenStudio-PAT#34

[2018-01-08 21:16] #2685 closed

[2018-01-08 21:18] kflemin commented on #2689
This issue was moved to NREL/OpenStudio-PAT#35

[2018-01-08 21:18] #2689 closed

[2018-01-08 21:19] kflemin commented on #2696
This issue was moved to NREL/OpenStudio-PAT#36

[2018-01-08 21:19] #2696 closed

[2018-01-08 21:20] kflemin commented on #2742
@ljbrackney, can we close this one?

[2018-01-08 21:21] kflemin commented on #2755
This issue was moved to NREL/OpenStudio-PAT#37

[2018-01-08 21:21] #2755 closed

[2018-01-08 21:21] #2742 closed

[2018-01-08 21:22] kflemin commented on #2766
This issue was moved to NREL/OpenStudio-PAT#38

[2018-01-08 21:22] #2766 closed

[2018-01-08 21:23] kflemin commented on #2770
This issue was moved to NREL/OpenStudio-PAT#39

[2018-01-08 21:23] #2770 closed

[2018-01-08 21:24] kflemin commented on #2773
This issue was moved to NREL/OpenStudio-PAT#40

[2018-01-08 21:24] #2773 closed

[2018-01-08 21:25] kflemin commented on #2806
This issue was moved to NREL/OpenStudio-PAT#41

[2018-01-08 21:25] #2806 closed

[2018-01-08 21:29] kflemin commented on #2829
This issue was moved to NREL/OpenStudio-PAT#42

[2018-01-08 21:29] #2829 closed

[2018-01-08 21:31] kflemin commented on #2840
This issue was moved to NREL/OpenStudio-PAT#43

[2018-01-08 21:31] #2840 closed

[2018-01-08 21:32] kflemin commented on #2842
This issue was moved to NREL/OpenStudio-PAT#44

[2018-01-08 21:32] #2842 closed

[2018-01-08 21:33] kflemin commented on #2843
This issue was moved to NREL/OpenStudio-PAT#45

[2018-01-08 21:33] #2843 closed

[2018-01-08 21:33] kflemin commented on #2846
This issue was moved to NREL/OpenStudio-PAT#46

[2018-01-08 21:33] #2846 closed

[2018-01-08 21:35] kflemin commented on #2661
This issue was moved to NREL/OpenStudio-PAT#47

[2018-01-08 21:35] #2661 closed

[2018-01-08 21:35] kflemin commented on #2657
This issue was moved to NREL/OpenStudio-PAT#48

[2018-01-08 21:35] #2657 closed

[2018-01-08 21:36] kflemin commented on #2643
This issue was moved to NREL/OpenStudio-PAT#49

[2018-01-08 21:36] #2643 closed

[2018-01-09 12:43] pachi commented on #2391
I've just seen that it is allowed using scientific notation with exponents. Therefore, I'm fine closing this bug as it's just a minor usability issue.

[2018-01-09 12:43] #2391 closed

[2018-01-09 15:30] eringold commented on #2604
Interestingly, I was having problems with the app (v2.3.0) locking up in the results tab on Windows 10, latest build. The results tab would load fine and I could navigate the OS Results report, but when I tried clicking back to other tabs everything would freeze, even to the extent where resizing the app window would stretch and distort everything in the view. I also have dual NVIDIA and integrate

[2018-01-09 15:42] ljbrackney opened #2919 "App doesn't launch correctly when double-clicking an OSM on Mac"
With the App not running - when double-clicking an OSM the App launches, loads the OSM, then closes it - opening an empty model.  If the App is already running the OSM loads normally as expected.

[2018-01-10 18:46] evanweaver commented on #2845
This issue was moved to NREL/wex#56

[2018-01-10 18:46] #2845 closed

[2018-01-10 18:46] evanweaver commented on #2803
This issue was moved to NREL/wex#57

[2018-01-10 18:46] #2803 closed

[2018-01-10 18:46] evanweaver commented on #2779
This issue was moved to NREL/wex#58

[2018-01-10 18:46] #2779 closed

[2018-01-10 18:47] evanweaver commented on #2777
This issue was moved to NREL/wex#59

[2018-01-10 18:47] #2777 closed

[2018-01-10 18:48] evanweaver commented on #2761
This issue was moved to NREL/wex#60

[2018-01-10 18:48] #2761 closed

[2018-01-11 15:56] jmarrec opened #2920 "Can add the same ZoneHVAC Equipment to two zones"
[ZoneHVACComponent::addToThermalZone](https://github.com/jmarrec/OpenStudio/blob/develop/openstudiocore/src/model/ZoneHVACComponent.cpp#L136) does the right job and calls `removeFromThermalZone()`.

[ThermalZone_Impl::addEquipment](https://github.com/jmarrec/OpenStudio/blob/develop/openstudiocore/src/model/ThermalZone.cpp#L2262) just calls [ZoneHVACEquipmentList_Impl::addEquipment](https://github.

[2018-01-12 10:19] jmarrec commented on #2874
I have tried it, but I cannot figure out how to produce the .deb package (I followed the wiki instructions [here](https://github.com/NREL/OpenStudio/wiki/Configuring-OpenStudio-Build-Environments#linux) and installed QtIFW but to no avail).

So unsure if your fix works @pachi. I'll let @evanweaver do it correctly.

[2018-01-12 11:47] pachi commented on #2874
@jmarrec Thanks for trying! I've also tried to compile the sources (on Linux) using the Wiki docs, but couldn't do it either.
Let's see if @evanweaver can do it.

[2018-01-12 15:22] jmarrec commented on #1465
Still true in OS 2.4.0

[2018-01-12 15:44] evanweaver commented on #2874
@jmarrec @pachi PAT is not included on Linux due to dependency issues. As for packaging thoughts, I'll ask @kbenne to weigh in.

[2018-01-12 16:34] evanweaver commented on #1455
No longer supporting ResultsViewer.

[2018-01-12 16:34] #1455 closed

[2018-01-12 16:34] evanweaver commented on #2222
No longer supporting ResultsViewer.

[2018-01-12 16:38] evanweaver commented on #36
Previously fixed.

[2018-01-12 16:38] #36 closed

[2018-01-12 16:42] #90 closed, assigned to macumber

[2018-01-12 16:43] #100 closed, assigned to macumber

[2018-01-12 16:44] #112 closed, assigned to DavidGoldwasser

[2018-01-12 16:47] evanweaver commented on #118
Previously fixed. Tested with 2.4.0.

[2018-01-12 16:47] #118 closed

[2018-01-12 16:52] evanweaver commented on #152
Closed. Will rely on more specific bugs to drive fixes in specific areas.

[2018-01-12 16:52] #152 closed

[2018-01-12 17:03] evanweaver commented on #352
Closed. Unable to reproduce.

[2018-01-12 17:03] #352 closed

[2018-01-12 17:05] evanweaver commented on #287
Closed. Please reopen if this is stall a valid bug.

[2018-01-12 17:05] #287 closed

[2018-01-12 17:06] evanweaver commented on #285
Pre-2.0 issue.

[2018-01-12 17:06] #285 closed

[2018-01-12 17:09] #283 closed, assigned to macumber

[2018-01-12 17:10] evanweaver commented on #276
Pre-2.0 issue.

[2018-01-12 17:10] #276 closed

[2018-01-12 17:11] evanweaver commented on #267
Closed. Correct behavior confirmed in 2.4.0.

[2018-01-12 17:11] #267 closed

[2018-01-12 17:13] evanweaver commented on #266
Fixed. Tested in 2.4.0.

[2018-01-12 17:13] #266 closed

[2018-01-12 17:15] #265 closed, assigned to macumber

[2018-01-12 17:19] #264 closed, assigned to macumber

[2018-01-12 17:20] evanweaver commented on #263
Closed. Works as intended. Please reopen if it is a high-priority feature request.

[2018-01-12 17:20] #263 closed

[2018-01-12 17:22] evanweaver commented on #261
Fixed. Verified in 2.4.0.

[2018-01-12 17:22] #261 closed

[2018-01-12 17:23] evanweaver commented on #260
Fixed via several optimization efforts.

[2018-01-12 17:23] #260 closed

[2018-01-12 17:24] evanweaver commented on #258
Fixed. App no opens a copy.

[2018-01-12 17:24] #258 closed

[2018-01-12 17:26] #255 closed, assigned to evanweaver

[2018-01-12 17:29] #254 closed, assigned to rpg777

[2018-01-12 17:31] evanweaver commented on #253
Expected to be added by upcoming geometry tool.

[2018-01-12 17:35] evanweaver commented on #235
Closed as remaining issues are "super trivial". Please open a new bug if warranted.

[2018-01-12 17:35] #235 closed

[2018-01-12 17:36] evanweaver commented on #225
Fixed.

[2018-01-12 17:36] #225 closed

[2018-01-12 17:37] evanweaver commented on #217
Pre-2.0 issue.

[2018-01-12 17:37] #217 closed

[2018-01-12 17:38] evanweaver commented on #214
Fixed.

[2018-01-12 17:38] #214 closed

[2018-01-12 17:39] evanweaver commented on #213
Fixed.

[2018-01-12 17:39] #213 closed

[2018-01-12 17:40] evanweaver commented on #212
No longer valid as Radiance is in a measure.

[2018-01-12 17:40] #212 closed

[2018-01-12 17:41] #202 closed, assigned to kbenne

[2018-01-12 17:43] evanweaver commented on #191
Closed due to lack of demand.

[2018-01-12 17:43] #191 closed

[2018-01-12 17:45] evanweaver commented on #355
No longer valid.

[2018-01-12 17:45] #355 closed

[2018-01-12 17:48] #377 closed, assigned to nobody

[2018-01-12 17:51] evanweaver commented on #403
Fixed by modifying HVAC library.

[2018-01-12 17:51] #403 closed

[2018-01-12 17:56] evanweaver commented on #492
Closed. Optimizations have since been made to model.

[2018-01-12 17:56] #492 closed, assigned to nobody

[2018-01-12 18:01] evanweaver commented on #405
Closed.

[2018-01-12 18:01] #405 closed

[2018-01-12 18:03] #587 closed, assigned to macumber

[2018-01-12 18:06] evanweaver commented on #656
As tested in 2.4.0, this has been fixed. Typing in "2" (as described at the top) and leaving the cell results in the value being reset to the original, valid value.

[2018-01-12 18:06] #656 closed

[2018-01-12 18:08] #751 closed, assigned to macumber

[2018-01-12 18:12] evanweaver commented on #761
@DavidGoldwasser please confirm that this is still valid. THanks.

[2018-01-12 18:12] #761 closed

[2018-01-12 18:13] evanweaver commented on #821
Closed due to lack of confirmation.

[2018-01-12 18:13] #821 closed

[2018-01-12 18:14] evanweaver commented on #825
Closed as Andrew no longer feels it is an issue.

[2018-01-12 18:14] #825 closed

[2018-01-12 18:15] evanweaver commented on #884
No longer valid.

[2018-01-12 18:15] #884 closed

[2018-01-12 18:26] evanweaver commented on #924
Closed. Have not experienced after widespread usage of concrete model objects.

[2018-01-12 18:26] #924 closed

[2018-01-12 18:31] evanweaver commented on #945
Fixed via adding variants to library.

[2018-01-12 18:31] #945 closed

[2018-01-12 18:36] evanweaver commented on #966
Fixed in 2.4.0.

[2018-01-12 18:36] #966 closed

[2018-01-12 18:37] evanweaver commented on #991
Fixed.

[2018-01-12 18:37] #991 closed

[2018-01-12 18:38] evanweaver commented on #992
@kbenne is this still valid?

[2018-01-12 18:45] evanweaver commented on #1175
Pre-2.0 issue.

[2018-01-12 18:45] #1175 closed

[2018-01-12 18:45] evanweaver commented on #1211
Closed due to updates.

[2018-01-12 18:45] #1211 closed

[2018-01-12 18:49] evanweaver commented on #1286
@MatthewSteen please verify Julian's fix. Thanks.

[2018-01-12 18:54] evanweaver commented on #1329
@macumber can you verify that this was fixed by #1697? Thanks.

[2018-01-12 18:55] asparke2 commented on #1329
Here's what I see in 2.4.0, not sure if I'm missing something.

![image](https://user-images.githubusercontent.com/2009290/34890495-5e72be8c-f78f-11e7-90b1-429c520dfb21.png)

[2018-01-12 18:57] evanweaver commented on #1341
Fixed per SHAs above.

[2018-01-12 18:57] #1341 closed

[2018-01-12 18:58] evanweaver commented on #1355
@rpg777 is this still valid now that Radiance is in a measure?

[2018-01-12 19:04] evanweaver commented on #1409
Closed as padding has previously been reduced. Please reopen if an important visual issue.

[2018-01-12 19:09] evanweaver commented on #1452
@macumber is this still valid?

[2018-01-12 19:11] evanweaver commented on #1469
Fixed.

[2018-01-12 19:11] #1469 closed

[2018-01-12 19:12] evanweaver commented on #1511
Closed as Radiance is now in a measure.

[2018-01-12 19:12] #1511 closed

[2018-01-12 19:15] evanweaver commented on #1557
Fixed.

[2018-01-12 19:15] #1557 closed

[2018-01-12 19:17] evanweaver commented on #1561
Pre-2.0 issue.

[2018-01-12 19:17] #1561 closed

[2018-01-12 19:27] ljbrackney commented on #2919
Duplicate of 1140

[2018-01-12 19:27] #2919 closed

[2018-01-12 19:32] MatthewSteen commented on #1286
Tested the following objects mentioned above in 2.4.0:

* `ControllerOutdoorAir`
* `ZoneHVACPackagedTerminalAirConditioner`
* `CoilCoolingWater`
* `FanVariableVolume`

[2018-01-12 19:32] #1286 closed

[2018-01-12 19:41] evanweaver commented on #2711
Closed due to not being reproducible.

[2018-01-12 19:41] #2711 closed

[2018-01-12 20:34] macumber commented on #1452
Yes but not an app thing

[2018-01-12 20:37] macumber commented on #1452
Replacing the code might require updates to the app, but this is not an app issue.  Remove all of these attribute methods:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/ModelObject.hpp#L133

If possible, also want to remove the Attribute class:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/utilities/data/Attribute.hpp

[2018-01-12 20:52] rpg777 commented on #212
This was fixed. The fact that Radiance simulations are performed via measure did not invalidate this issue.

[2018-01-12 21:01] evanweaver commented on #2830
Closed due to lack of information.

[2018-01-12 21:01] #2830 closed

[2018-01-12 21:51] macumber commented on #1329
#1697 is another issue so it doesn't fix anything, I think Julien just meant it is a duplicate issue?  This object is not showing up correctly in the GUI, it's also weird that the default names are "80", "80 1".  Basic weirdness going on

[2018-01-12 21:54] macumber opened #2921 "OS App crashes on exit"
This is occurring for me with 2.4.0 on Windows, just open the app and close it:

![image](https://user-images.githubusercontent.com/1327850/34896778-596dc170-f7a8-11e7-9e4a-fe84572775b6.png)

[2018-01-12 22:08] evanweaver commented on #2921
![image](https://user-images.githubusercontent.com/4974134/34897006-2d35331c-f7a9-11e7-858a-44d2ba681beb.png)
@macumber clicking "discard" I was unable to crash on my laptop, on the tower, or on a test VM.

[2018-01-12 22:20] macumber commented on #2848
If other process writes to OSM the OS App should offer to close the current model and load the modified OSM from disk.  This issue will be less important as the SketchUp plug-in is phased out

[2018-01-12 22:23] ljbrackney commented on #2848
Please be thoughtful about the potential for osm and floorplan.js to get out of sync.  It's an added layer of complexity that adds requirements for things like save as and worse.

[2018-01-12 22:24] macumber commented on #2820
@shorowit is this still valid?

[2018-01-12 22:26] macumber commented on #2811
@kflemin should this be moved to the PAT repo?

[2018-01-12 22:28] macumber commented on #2807
@DavidGoldwasser is this fixed?

[2018-01-12 22:31] macumber commented on #2801
@shorowit did part of this issue's conversation go missing?  I am confused about what you mean by:

"ResStock/ComStock with output sections that are dynamically generated (based on information outside the measure/model)."

Is your measure loading some file outside of the measure directory?  If so, the only remedy would be a force check update button.

[2018-01-12 22:32] #2799 closed

[2018-01-12 22:33] shorowit commented on #2820
That's a question for @joshdr83, I just reported the problem on his behalf.

[2018-01-12 22:38] joshdr83 commented on #2820
@shorowit @macumber I have been on a couple different projects the past couple months, but will be diving back into it early next week. I assume it will still happen if it has not been fixed? I will let you know.

[2018-01-12 22:46] macumber opened #2922 "Document order of EnergyPlus expand objects measures"
Clear up this issue by documenting on the CLI page

https://github.com/NREL/OpenStudio/issues/2799

[2018-01-12 22:49] macumber commented on #2798
David is it sufficient to show the un-editable measure name when you click on a measure step, or do you want both the un-editable measure name and the user entered name to show up in the list?

![image](https://user-images.githubusercontent.com/1327850/34898366-f48066de-f7af-11e7-890a-1fae5660a351.png)

[2018-01-12 22:50] macumber commented on #2796
@evanweaver is this affecting CI machines?

[2018-01-12 22:53] macumber opened #2923 "Add rendering color control to constructions in OS App"

[2018-01-12 22:53] macumber commented on #2923
https://github.com/NREL/OpenStudio/issues/2794

[2018-01-12 22:53] evanweaver commented on #2796
@macumber no, not CI and not build boxes.

[2018-01-12 22:53] #2794 closed

[2018-01-12 22:53] macumber commented on #2794
Not adding new features to SketchUp plug-in

[2018-01-12 22:55] macumber commented on #2782
Need to get a system where this is reproducible

[2018-01-12 22:56] macumber commented on #2776
Nice report!

[2018-01-12 23:01] macumber commented on #2848
Good point @ljbrackney , I'm not sure this is worth fixing.  The SketchUp plug-in implements this feature so it is a little weird the app doesn't.  However, once the SketchUp plug-in is deprecated you should have no need for another application to edit the OSM while you have it open in the app.

[2018-01-12 23:03] macumber commented on #2771
Should be coordinated with additions to the geometry editor

[2018-01-12 23:04] macumber commented on #2759
@kflemin should this be moved to PAT repo?

[2018-01-12 23:06] macumber commented on #2751
@jmarrec Schedule:File should be coming this quarter.  Your other comments make sense except how can ScheduleConstant have (Through, Until, Value), it is a constant value?

[2018-01-12 23:07] macumber commented on #2725
@DavidGoldwasser can you test with Larry's new packages?