[2020-04-07 14:52] lefticus commented on #3942
I apologize for only skimming your bug report.

[2020-04-07 14:58] bonnema commented on #3942
No worries - it was pretty long...

[2020-04-07 15:10] jmarrec opened #3943 "ThreeJS should handle ConstructionAirBoundary"
Issue overview
--------------

When you load a model in the geometry editor that has ConstructionAirBoundary in it, you get a log message in the console:

[code]

It is thrown here:

https://github.com/NREL/OpenStudio/blob/379b471ed12e0504ad40c8b8c7084ffdd499620c/src/utilities/geometry/ThreeJS.cpp#L75-L92

## Details

### Environment

Some additional details about your environment for this issue (

[2020-04-07 16:52] lefticus commented on #3942
Interesting data point - I "randomly crash" on the 6th iteration each time. If that number means anything to anyone, please share.

[2020-04-07 16:56] bonnema commented on #3942
@lefticus when @kbenne and I were messing around, it would not always crash at the 6th iteration (e.g. sometimes it was the 4th iteration); but, once an iteration was "determined" it consistently crashed on the same one.

[2020-04-07 18:28] lefticus commented on #3942
OK, thanks for the data point.

[2020-04-07 21:41] tijcolem opened #3944 "OpenStudio 3.0.0 Windows OpenStudio::UnzipFile"
Issue overview
--------------
When using the ruby bindings on Windows and using the method `OpenStudio::UnzipFile` results in corrupted unzipped files. Works fine on Ubuntu and OSX. I believe issue #3942 is related as this is only when using the Ruby bindings. Using the CLI it works fine.

## Current Behavior
ruby test.rb
[code]
The extracted files are incomplete or corrputed.

measures/AdjustTher

[2020-04-07 22:10] tijcolem commented on #3942
Seems related #3944

[2020-04-07 23:43] lefticus commented on #3942
# The Problem

Here's the issue as I understand it, I'll do my best to make it readable.

It's a long read, but please do, it makes for an exciting story!!

Fundamental problem: Ruby redefines common C api functions and exports them with its DLL on Windows (`fclose` `fopen` notably at the moment).

BTW, this is an issue I initially identified ~ 8 years ago when we were first embedding Ruby into OS

[2020-04-08 12:48] bonnema commented on #3942
Wow.  Nice work @lefticus! What do you think the best option is? Drop system support for Ruby?

[2020-04-08 15:17] tijcolem commented on #3942
@lefticus This is some great detective work!  So the way I am reading this it seems to be a fundamental flaw in the design of the ruby `rb_w32_fclose`   Would I be able to reproduce this using straight-up ruby I/O functions?  Or is this a unique runtime combination we have that now allows this condition to surface?

[2020-04-08 16:55] lefticus commented on #3942
I've been pinging the people I know on Twitter involved at Microsoft: https://twitter.com/MalwareMinigun/status/1247923198743609345 (Billy is one of the standard lib developers at Microsoft). If you read the whole thread you'll see that even the MS developer doesn't see any way around it.

![image](https://user-images.githubusercontent.com/234279/78811472-28c89000-7987-11ea-931f-ee777db071c3.png)

[2020-04-08 19:13] kbenne commented on #3942
so

a) system ruby in this conversation is an mingw based executable yes?
b) we are loading openstudio.dll which is an msvc executable.

I believe a) is true, but jason's load tree which goes ruby.exe -> -x64-msvcrt-ruby-250.dll makes me wonder if I"m misunderstanding.

If a) is true then another datapoint would be to try the test with openstudio's msvc based build of ruby.exe

[2020-04-08 23:18] aspeake opened #3945 "Wrap SurfaceControl:MovableInsulation in OS"
Enhancement Request
--------------

Support the EnergyPlus object `SurfaceControl:MovableInsulation` in the OS SDK

## Detailed Description

The movable insulation object can be used to add insulation surface(s) on top of opaque surfaces, such as a transparent coating that affects the radiative gains to a roof surface. Below is an example EP object that would be generated from OS - the `Transparen

[2020-04-10 02:10] lefticus commented on #3942
I have system ruby working, please see a27b2fc for description and issues.

[2020-04-10 14:33] lefticus commented on #3942
Oops, a formatting fix in the last commit actually introduced a compile error. Working on it.

[2020-04-11 02:23] lefticus commented on #3942
I believe this branch is ready to merge now, but not sure which branch against which to create the PR https://github.com/NREL/OpenStudio/tree/workaround_ruby_linking_fclose_issues

[2020-04-11 13:05] bonnema commented on #3942
@tijcolem can you help here? I am not sure either. Thanks!

[2020-04-11 13:50] tijcolem commented on #3942
@lefticus This is great news!  Could you please create a PR to `v3.0.0-rc2` which is our latest release branch?

[2020-04-13 12:16] jmarrec opened #3947 "Calibration measure failure when reading timeseries"
Issue overview
--------------

This issue was reported by @brianlball on slack. The Calibration measure with 3.0.0 fails with messages such as

[code]

It used to work on 2.9.1, which seems to imply a change in OpenStudio or EnergyPlus (2.9.1 was on E+ 9.2.0, 3.0.0 is on E+ 9.3.0)

## Steps to Reproduce

I'm creating this issue post-mortem after having fixed it, but the bottom line is that you nee

[2020-04-13 20:51] #3947 closed

[2020-04-13 20:51] #3938 closed

[2020-04-14 20:17] pflaumingo opened #3949 "OpenStudio doesn't produce valid strings for XML"
Issue overview
--------------
OpenStudio can create illegal XML characters when performing validation for EnergyPlus.
Not sure if this is strictly the responsibility of OS or E+.

## Current Behavior
OpenStudio converts `!` to `&#33`

## Expected Behavior
OpenStudio converts `!` to a valid xml character. If the above appended a semi-colon, I believe it would work - `&#33;=`"&#33;"

## Steps to Rep

[2020-04-14 21:10] pflaumingo commented on #3949
I should say this was tested with both MSXML and REXML.

[2020-04-15 14:34] tijcolem commented on #3942
Closed via #3946

[2020-04-15 14:34] #3942 closed

[2020-04-17 15:38] tijcolem commented on #3516
closing this issue.  can reopen separate issues related to ruby 2.5.5 if they become apparent.

[2020-04-17 15:38] #3516 closed

[2020-04-17 15:43] tijcolem commented on #3744
We have solidified the list of supported natiive ext gems for 3.0.0 release. We can continue to work on this and make further progress.  Please see list above for supported gems for 3.0.0 release. Moving this to milestone 3.1.0 for further work.

[2020-04-17 15:59] shorowit commented on #3744
👍 Thanks for everyone's work here. We've already switched from REXML to Oga and found a nice performance benefit. And the transition was relatively straightforward.

[2020-04-19 19:58] jmarrec commented on #3949
Obviously the issue is that `;` itself is encoded to `&#59` so that complicates the implementation.

[2020-04-20 06:39] jmarrec opened #3951 "3.0.0-rc1: GbXMLReverseTranslator produces incorrect geometry with respect to the windows and exterior walls of the gbxml"
Issue overview
--------------

3.0.0-rc1: GbXMLReverseTranslator produces incorrect geometry with respect to the windows and exterior walls of the gbxml

On the other hand the 2.9.1 GbXMLReverseTranslator  produces completely normal geometry.

Reported by @antonszilasi

## Current Behavior

It doesn't work with 3.0.0, but worked by 2.9.1

## Expected Behavior

It should produce valid geometry.

##

[2020-04-20 10:29] jmarrec commented on #3951
Found the issue in this commit : d436ec3c78e8559ddeb2e479d0928dd5a528f08f

There's a single block where the check to see if a string contains another is incorrect, and it's just a typo basically.

https://github.com/NREL/OpenStudio/blob/0cb319a4977599dbe3eca55fc39abdfa077aeaa7/src/gbxml/ReverseTranslator.cpp#L660

Couple of lines later it's done as it shouldn checking if the return value is not `n

[2020-04-20 13:31] jmarrec commented on #3949
Also, the name is encoded internally, but that is then decoded when you call the `name()` or `nameString` method. I'm not sure I follow what you're doing / where you're getting that error.

[code]

[2020-04-20 13:36] jmarrec commented on #3949
Oops, I failed to read your last sentence : `When using the eplustbl.xml after the E+ run, the XML can't be parsed because of this encoding issue.`. So yeah, the issue is that EnergyPlus will never be happy with a semicolor or comma inside a field...

[code]

[2020-04-20 13:53] jmarrec commented on #3936
It's working as intended right now: OpenStudio doesn't know whether you told it it's a door or if it just is the constructor's default. This is a required field, it's assigned in the Ctor by figuring out the default https://github.com/NREL/OpenStudio/blob/0cb319a4977599dbe3eca55fc39abdfa077aeaa7/src/model/SubSurface.cpp#L1158-L1163

`setSurfaceType` will call `assignDefaultSubSurfaceType` if it wa

[2020-04-20 14:02] jmarrec commented on #3936
If you really don't like it @shorowit I suppose you can use monkey-patching, for example using Module#prepend, and understanding that this will not distinguish between cases where you explicitly called `setSubSurfaceType` previously or not.

[code]

[2020-04-20 14:08] jmarrec commented on #3841
Transferring to NREL/OpenStudioApplication

[2020-04-20 14:12] jmarrec commented on #3791
Moved to NREL/OpenStudioApplication via https://github.com/NREL/OpenStudio/pull/3808

[2020-04-20 14:12] #3791 closed

[2020-04-20 14:13] jmarrec commented on #3616
I'm closing, if it pops up again let us know.

[2020-04-20 14:13] #3616 closed

[2020-04-20 14:15] jmarrec commented on #3537
Should be transferred to https://github.com/NREL/openstudio-sketchup-plugin I suppose.

[2020-04-20 16:25] #3951 closed

[2020-04-20 16:42] shorowit commented on #3936
I see. Isn't this issue handled in other objects by having an IsFooDefaulted method/property and keeping track of whether the value is being defaulted? For example, [ThermalZone::isMultiplierDefaulted](https://openstudio-sdk-documentation.s3.amazonaws.com/cpp/OpenStudio-2.9.0-doc/model/html/classopenstudio_1_1model_1_1_thermal_zone.html).

[2020-04-20 17:03] MatthewSteen commented on #3753
@eringold thanks for the EP code. I was experiencing this issue on a baseline model for a natatorium.

**Before**
![image](https://user-images.githubusercontent.com/8397034/79778123-7d5bfb80-82f5-11ea-96fe-88ef0a81e2c0.png)

**After**
![image](https://user-images.githubusercontent.com/8397034/79778749-7bdf0300-82f6-11ea-9d69-53b5ea9b08aa.png)

[2020-04-20 21:03] MatthewSteen opened #3954 "selecting all objects in a filtered view of Spaces subtabs unhides all objects"
Issue overview
--------------

## Current Behavior
In 2.9.0, when the user selects `All` objects in a filtered view in the following subtabs, the app unhides all the filtered/hidden objects and selects all of them. This makes it difficult to use the `Apply to Selected` feature and is different behavior than the main `Properties` subtab.

* Loads
* Surfaces
* Subsurfaces
* Interior Partitions
* Sha

[2020-04-20 21:21] MatthewSteen opened #3955 "app closes when navigating from Measures tab before measures are finished reloading after sync"
Issue overview
--------------
In 2.9.0 the app will close when the user does the steps below.

## Current Behavior
App closes unexpectedly.

## Expected Behavior
App shouldn't close.

## Steps to Reproduce
1. Edit `measure.rb` attached model
2. Measures > `Sync Project Measures with Library` > Update
3. *Before* the model's measures are done loading click another tab (e.g. Run)
4. App will close

[2020-04-21 12:38] jmarrec commented on #3936
I mentioned that in my last reply above. I think the difference is that sketchup would often (potentially all the time...?) have to query it to know it needs to render it as a window (blue, transparent) or a door (brown, opaque), and that's why I said I think it'd be very slow, not 100% sure.

[2020-04-21 12:51] jmarrec commented on #3955
Duplicate of #2613, fixed in 3.x via https://github.com/NREL/OpenStudioApplication/commit/7d2875a502ce5bd2f43127e8eab90967bba39923

[2020-04-21 12:51] #3955 closed

[2020-04-21 13:07] jmarrec commented on #3311
186ccd5db4180d9697fa7e513f2e20851c9a85c6 fixed it: the bundle_git now uses openstudio-extension instead

https://github.com/NREL/OpenStudio/blob/17912d4d6be39e999fdd174908189b8a61b2ada5/src/cli/test/bundle_git/Gemfile#L1-L6

[2020-04-21 13:09] jmarrec commented on #3311
Hum, we should wipe any references to openstudio-standards really.

[2020-04-21 13:34] shorowit commented on #3936
Ah sorry, Julien. I read your previous response and before you had edited it, so I didn't see where you mentioned the IsFooDefaulted alternative.

Just to be clear, I never said this was an urgent or high priority need. And I mentioned in the original issue description that we are now using a workaround. But it sure seems like a bug to me when the SDK overrides a property value you set simply beca

[2020-04-21 14:13] jmarrec commented on #2603
This issue has become very stale, so I'm closing it. If you encounter this problem again with a recent version of openstudio (eg 2.9.1), please let us know and I'll reopen!

[2020-04-21 14:13] #2603 closed

[2020-04-21 14:23] jmarrec commented on #2572
If I'm following correctly, this is only a problem in the OpenStudioApplication, and you can always use the API / write a measure to do it by explicitly calling `ControllerMechanicalVentilation::setAvailabilitySchedule` and setting it to anything but the `model.alwaysOnDiscreteSchedule()`

https://github.com/NREL/OpenStudio/blob/17912d4d6be39e999fdd174908189b8a61b2ada5/src/energyplus/ForwardTransl

[2020-04-21 14:32] jmarrec commented on #2318
Moved to https://github.com/NREL/OpenStudio-measures/issues/95

[2020-04-21 14:32] #2318 closed

[2020-04-21 14:33] jmarrec commented on #2211
@pflaumingo Is this still an issue?

[2020-04-21 14:37] jmarrec commented on #2165
[code]

[2020-04-21 15:15] pflaumingo commented on #2211
No idea, haven't looked at the C# bindings in forever.

[2020-04-21 15:28] jmarrec commented on #2165
The `DISABLED_ForwardTranslator_ScheduleFixedInterval_TwoPoint` fails here https://github.com/jmarrec/OpenStudio/blob/2700a16d28ce7f8bf10cbdf16bfd1b1ac4263b31/src/energyplus/Test/ScheduleInterval_GTest.cpp#L425

Because of this:

https://github.com/NREL/OpenStudio/blob/17912d4d6be39e999fdd174908189b8a61b2ada5/src/utilities/data/TimeSeries.cpp#L339-L341

So here https://github.com/NREL/OpenStudio/b

[2020-04-22 11:38] jmarrec commented on #2211
at 3.0.0-rc3, Built the C# bindings, and taken the csharp example `ModelCreateExample`, tweak the config so it builds and runs, then added this code:

[code]

It does show my `prodAuthKey `just fine.

[2020-04-22 11:38] #2211 closed

[2020-04-23 15:59] tijcolem commented on #3744
closed via https://github.com/NREL/openstudio-gems/pull/22

[2020-04-23 15:59] #3744 closed

[2020-04-23 18:32] brianlball opened #3957 "native extension gems dont work after bundle is updated"
Native extension gems dont work when bundle is called again.
This breaks the server initialization scripts.
ex, pycall gem.

[2020-04-27 23:34] mdahlhausen commented on #3790
I'm still having this error.  I can't give a specific file it occurs in, because it occurs in all my measures - old and new.
[Here are some measure files](https://github.com/NREL/ComStock/tree/develop/resources/measures)

Some more information:
- I get this error in the .xml.  When I delete the error line in the .xml and run it a second time it is fine.
- possibly related to the README?  README ch

[2020-04-29 08:27] damianCaceres commented on #3940
Good morning:
I'm not to sure if this is the correct issue to report. Please, excuse my low level of English and code.
In order to compile SDK 3.0.0 in Ubuntu 18.04, I've need to reverse to:
zlib/1.2.11@conan/stable
Thank you very much for your patience.

[2020-04-29 13:28] jmarrec commented on #3940
@damianCaceres not sure I follow. You mean you had to change this line?

https://github.com/NREL/OpenStudio/blob/17912d4d6be39e999fdd174908189b8a61b2ada5/ConanInstall.cmake#L75

Why? What errors were you getting?

(I built on ubuntu last time yesterday and it was fine)

[2020-04-29 14:32] brianlball commented on #3940
i built yesterday using this Dockerfile and it was fine
[dockerfile](https://github.com/brianlball/build-openstudio/blob/master/Dockerfile)

[2020-04-29 15:34] damianCaceres commented on #3940
-DBUILD_PYTHON_BINDINGS=ON
Yes. I've changed the line 75 in the file ConanInstall.cmake
I know  because OpenStudio SDK v3.0.0-pre1 works fine
Thank you very much

[2020-04-29 18:03] jmarrec commented on #3940
Yeah well, without knowing what error you were actually hitting, I can't explain what difference it would make to change the zlib ref.
It works fine on my multiple ubuntu machines.
Make sure you have conan 1.24.0 or above

[2020-04-29 18:36] damianCaceres commented on #3940
damian@damian-HP:~$ conan --version
Conan version 1.24.1

[2020-04-29 18:37] damianCaceres commented on #3940
In file included from /usr/include/python3.6m/Python.h:39:0,
                 from /home/damian/OpenStudio-3.0.0/build/src/radiance/python_OpenStudioRadiance_wrap.cxx:184:
/home/damian/.conan/data/zlib/1.2.11/_/_/package/aff0eb9e4c299cac0972a5fe39033141b3e50a6d/include/crypt.h:35:53: error: ‘z_crc_t’ does not name a type
 static int decrypt_byte(unsigned long* pkeys, const z_crc_t* pcrc_32_tab)

[2020-04-29 18:43] damianCaceres commented on #3940
I can compile with zlib/1.2.11@conan/stable, but the bindings have problems when they are imported. Now I'm starting to test them.
I'll come back to OpenStudio 2.9.1, which works very well. NO URGENT
Thank you

[2020-04-29 19:30] damianCaceres commented on #3940
After compile OpenStudio 3.0.0 I have got

/usr/local/OpenStudio-3.0.0/Python/_openstudiomodel.so: undefined symbol: _ZTIN10openstudio9WorkspaceE

I imagine that is due to swig 4 ...

[2020-05-01 00:22] damianCaceres commented on #3940
Okey

[2020-05-01 08:50] jmarrec commented on #3940
Ok now we have some info to understand your problem, which seems to be about the python bindings specifically which I don't think anyone has built in a while.

This definitely doesn't belong in this issue which is just about freezing dependencies. Can you open a new one instead? "Problem building python bindings with 3.x" or something like that

[2020-05-01 09:09] damianCaceres commented on #3940
Nice.
I will have a new issue soon. Before I want to do new tests.
Please, I will be very grateful if you clean up this thread, Freeze conan dependencies.

[2020-05-01 14:09] jmarrec opened #3961 "Failed to build Python bindings on Ubuntu with 3.x"
Issue overview
--------------

reported on #3940 by @damianCaceres

## Current Behavior

When building the python bindings `-DBUILD_PYTHON_BINDINGS=ON`, user hit a build error.

[code]

[code]

User reported trying to change
https://github.com/NREL/OpenStudio/blob/17912d4d6be39e999fdd174908189b8a61b2ada5/ConanInstall.cmake#L75

to `zlib/1.2.11@conan/stable`:

I know because OpenStudio SDK v3.0.0-p

[2020-05-01 14:12] jmarrec commented on #3940
@damianCaceres I have opened a new issue in #3961 and try to move your comments over there: please review.
I assigned the issue to me I'll try to build the python bindings and report back.

[2020-05-01 14:22] jmarrec commented on #3961
@damianCaceres you seem to be building for python3 right? Officially this isn't supported, but it should work (and given that python2 is End-of-Life (EOL) since january 1, it really should)

please provide the following info from build/CMakeCache.txt:

[code]

[2020-05-01 15:30] tijcolem commented on #3573
Closing this issue as I believe we got as far as we can.

[2020-05-01 15:30] #3573 closed

[2020-05-01 16:19] tijcolem commented on #3949
@pflaumingo Are you able to handle these special chars on your end?  This seems like a E+ issue that Julien has already alluded to.

[2020-05-01 16:24] tijcolem commented on #3944
This has been fixed by Jason Turner (https://github.com/NREL/OpenStudio/commit/98c3cc4baa69446d47fc7766b2de40ac28f844e3)

[2020-05-01 16:24] #3944 closed

[2020-05-01 16:34] tijcolem commented on #3930
Fixed in #3931

[2020-05-01 16:34] #3930 closed

[2020-05-01 16:38] tijcolem opened #3962 "Dynamically generate proposed idd"
E+ expands the extensible fields even with it uses the \begin-extensible code for the benefit of idfeditor. One idea is to leave the fields expanded in the proposed idd just like they are in E+, but make our code generator smart enough to detect the situation and not generate enums for all of those fields. I guess another option which Tim and I did not talk about it is enhancing idf editor to not

[2020-05-01 16:51] tijcolem commented on #3551
@jmarrec 3.0.0 has been released so I'd like to close this issue. If there is anything worth keeping in here can we open new issues for these? Otherwise, let's just close.

[2020-05-01 16:54] pflaumingo commented on #3949
Yup, I can handle them on my end :)

[2020-05-01 16:56] #3753 closed

[2020-05-01 17:51] MatthewSteen commented on #3753
@tijcolem I don't see any commits for the issue, did I miss something?

[2020-05-02 10:30] damianCaceres commented on #3961
Thank you very much. I'm a little bit delayed, by two reasons:

- learning to do good reports, with clean and consistent systems, ...
- today, in Spanish, the covid-19 confinement has been relaxed. I go to the street with my very old father.

One or two weeks, please.

"Officially this isn't supported,  ..."
Yes, I know and I think about it frequently. As always in the open code world, no warranty

[2020-05-03 16:07] damianCaceres commented on #3961
I have installed a new, clean and updated Ubuntu 18.04

[code]

cmake

[code]

conan

[code]

gcc

[code]

[2020-05-03 16:10] damianCaceres commented on #3961
Over this system I have built WITHOUT PYTHON BINDINGS

[code]

SUCCESSFUL BUILD

[2020-05-03 16:58] damianCaceres commented on #3961
Firstly WITH PYTHON2 BINDINGS

[code]

[code]

[code]

[code]

[2020-05-03 17:57] damianCaceres commented on #3961
Secondly WITH PYTHON3 BINDINGS

[code]

[code]

[code]

[code]

[2020-05-03 18:01] damianCaceres commented on #3961
The next days more information. Now I'm going to the street since we have strict walking times.

[2020-05-03 20:17] jmarrec commented on #3961
I can reproduce on my Ubuntu machine know why this is throwing.

conan-provided `zlib`'s include directory is added to the call as ` -isystem /home/julien/.conan/data/zlib/1.2.11/_/_/package/aff0eb9e4c299cac0972a5fe39033141b3e50a6d/include`, except it does have a file named `crypt.h` in there. This is supposed to be a zlib header that's only internal to zlib. (cf: https://bugzilla.redhat.com/show_

[2020-05-04 08:30] jmarrec commented on #3961
Actually, I think the best is to patch the conan zlib to not install the crypt.h internal-only header, which I've done in https://github.com/conan-io/conan-center-index/pull/1526. I pushed a new `zlib/1.2.11@nrel/testing` with these changes, rebuilding the python bindings but I expect this fixes it.

[2020-05-04 11:06] jmarrec opened #3964 "Python bindings: Unresolved symbols"
Issue overview
--------------

This expands on #3961 fixed by #3963 which specifically only dealt with the broken build itself.

Now that the python bindings are built properly, they still don't work.

## Current Behavior

Using #3963 :

[code]

## Expected Behavior

The bindings should work

## Steps to Reproduce

Build with `-DBUILD_PYTHON_BINDINGS:BOOL=ON`. I use Python 3.8 from a virtual env m

[2020-05-04 11:06] jmarrec commented on #3961
@damianCaceres The build error itself is fixed in PR #3963.

For the unresolved symbols error, I opened another specific issue at https://github.com/NREL/OpenStudio/issues/3964, please use this one now.

[2020-05-04 12:57] jmarrec commented on #3962
## Differences

* \min-fields is missing in a lot of cases (that could be brought over to E+ without too much trouble)
* `\default` and `\required-field` on a bunch of fields (which isn't that big of a deal, and could be brought over to E+ too), eg `Boiler:Steam`
* ScheduleTypeLimits is mising some of our keys like `ClothingInsulation` (that could be brought over to E+ too, but IDF editor would ne

[2020-05-04 19:44] damianCaceres commented on #3964
The problem starts in configuring step

[code]

Mismatched libraries

Thank you

[2020-05-04 21:30] jmarrec commented on #3964
That's just a warning and shouldn't pose problems, as you can see "Generating done".

I opened a PR upstream to conan zlib for this anyways https://github.com/conan-io/conan-center-index/pull/1526

[2020-05-05 16:29] gagsters888 opened #3967 "OpenStudio3.0.0"
Hi,

May I know how and where can I download the standalone openstudio application for openstudio sdk 3.0.0?

As I understand that openstudio sdk 3.0.0 does not come with the openstudio application, I have no idea how to download the standalone openstudio application for its sdk 3.0.0.

Thank you

[2020-05-05 16:35] gagsters888 opened #3968 "OpenStudio Geometry tab does not show my model"
Issue overview
--------------

OpenStudio Geometry tab does not show my Building model
## Current Behavior

I have drawn models using openstudio sketchup plugin and floorspace jps, however I am not able to see it under the Open Studio geometry 3-D view tab and I can only see a blank white page when I open the model's osm file.

## Expected Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Possible

[2020-05-05 16:47] shorowit commented on #3968
Any chance you have an NVIDIA graphics card? Does this help?

![image](https://user-images.githubusercontent.com/5861765/81092385-c0090080-8ebd-11ea-9e17-2489641c5687.png)

[2020-05-06 03:31] gagsters888 commented on #3968
Hi shorowit,

I have changed my graphics to High-performance NVIDIA processor but I am still experience a blank white page in my openstudio geometry tab.

On a side note, sorry, I am a beginner to computer programming so I am not sure if I did the command prompt properly. But as you can see from the attachment, the code return me access denied.

Please advise me of the further steps on this matter

[2020-05-06 11:22] gagsters888 commented on #3968
Hi,

I have the same exact problem as the user johnsontimp as seen in the attachment that I have circled in red that I have attached in this file

My apologies, even after looking at the thread, I do not know how to solve this issue, thus I hope to seek your advice on this matter.

This is the url for the thread: https://github.com/NREL/OpenStudio/issues/2604
<img width="960" alt="Openstudio probl

[2020-05-06 12:47] shorowit commented on #3968
You need to replace "%VERSION%" with the actual version you're running. And there are two lines you're supposed to run, not sure why you skipped the first. So:
[code]
Then attach the out.txt file.

[2020-05-06 14:21] gagsters888 commented on #3968
I am unable to access the openstudio command line interface from my openstudio 2.9.1 as it crashes everytime I open it from the openstudio folder.

P.S The previous command prompt that I have attached is the cmd in my computer, thus I am unable to code it.

[2020-05-06 19:51] jmarrec commented on #3968
Yes, open `cmd.exe` indeed, then type these two commands. This will launch the OpenStudioApplication while producing an out.txt file at your current location (by defaut that's your home folder when you open cmd.exe, as in `C:\Users\gagsters888` or whatever)

[2020-05-06 19:52] jmarrec commented on #3967
NREL/OpenStudioApplication is the new home of the OpenStudioApplication.

You can download it from https://github.com/NREL/OpenStudioApplication/releases

Note that it will ALSO include the openstudio sdk 3.0.0, so no need to install both.

[2020-05-06 19:52] #3967 closed

[2020-05-07 02:17] gagsters888 commented on #3967
ok thanks for the information!

[2020-05-07 02:32] gagsters888 commented on #3968
Ok, I have have attached the out.txt file.
[out.txt](https://github.com/NREL/OpenStudio/files/4590388/out.txt)

[2020-05-07 02:46] gagsters888 commented on #3968
Thx for the information.
This is the out. txt when I open my model in openstudio.
[out.txt](https://github.com/NREL/OpenStudio/files/4590406/out.txt)

[2020-05-07 06:33] jmarrec commented on #3968
@gagsters888 Can you record the out.txt until you navigate to the Geometry tab please?

-----

Note for us: There's something in the initial log that I haven't seen yet (but I don't use windows that much):

[code]

[2020-05-07 06:39] jmarrec commented on #3968
Could you send your model to me actually? If you don't want to share it publicly you can send it via email to julien at effibem dot com. I'll try to see if I can see it in the Geometry Tab, and if I can then we'll have to troubleshoot more with you, if I also can't see it I can investigate myself.

[2020-05-07 09:54] jmarrec commented on #3806
@tijcolem When would be a good time to run clang format against the all codebase then enforce coding styles?

[2020-05-07 10:22] gagsters888 commented on #3968
Hi,

Thank you so much for your help.

I managed to see my model in the geometry tab now.

Apparently I could not see the model when I am extending my screen to an external monitor but now when I dont extend my screen to an external monitor, I managed to see my model when I am just using my laptop screen.

In addition to that, I think the changing of the 3-D settings in my nvidia graphic card help

[2020-05-07 10:22] #3968 closed

[2020-05-07 11:41] jmarrec opened #3972 "ScheduleRuleset cannot remove winterDD/summerDD/holiday in reset"
Issue overview
--------------

ScheduleDay won't `remove()` itself if it's parented by a ScheduleRuleset.

ScheduleRuleset::resetWinterDesignDaySchedule and friends are trying to remove it before the field is reset, so it doesn't allow it.

## Steps to Reproduce

[code]

## Possible Solution

## Details

### Environment

Some additional details about your environment for this issue (if relevant):

[2020-05-07 15:19] #3919 closed

[2020-05-07 15:19] #3922 closed

[2020-05-07 15:22] #871 closed

[2020-05-07 15:25] #3311 closed

[2020-05-07 19:07] #3972 closed

[2020-05-07 19:43] DaveInCaz opened #3974 "OpenStudio 3.0 release did not include an updated Nuget package"
According to https://github.com/NREL/OpenStudio/issues/3575 it sounded like Nuget packaging was now automatic whenever OpenStudio releases would be shipped.

But looking on https://www.nuget.org/packages/OpenStudio/ the latest version is still 2.9.

Thanks

[2020-05-07 19:44] DaveInCaz commented on #3974
@tijcolem

[2020-05-07 19:48] tijcolem commented on #3974
@DaveInCaz It's still on our release agenda but not automated. We hope to have a release of Nuget package out here shortly.

[2020-05-07 20:02] DaveInCaz commented on #3974
@tijcolem thanks for the update. Maybe I should have reopened 3575 instead?

[2020-05-07 20:21] tijcolem commented on #3974
I reopened it.

[2020-05-07 20:29] #3961 closed

[2020-05-07 23:26] tijcolem commented on #3806
I'd like to at the PR count down as low as possible before updating the code base with new clang-format. In particular,#3950 as it touches so many files.

[2020-05-07 23:41] #3943 closed

[2020-05-11 13:56] mcneillj commented on #3964
It would be very helpful to have these bindings work.  I have a number of workflows that use the Python bindings in Jupyter, but these won't work with latest version of OS.  Hoping this can be solved in a future version.  Otherwise, I think it's best to note the lack of support for Python in the wiki and documentation.

[2020-05-11 13:59] ljbrackney opened #3975 "PAT Creates Duplicate Copies of Datapoints when Navigating to End Use Comparison"
After completing an analysis, datapoints show up in the summary table as expected.  Navigating to the End Use Comparison also works as expected, but navigating back to the summary table shows that all data points have been duplicated.  This happens again with each roundtrip from Summary to End Use Comparison and Back.  Navigating to the Run tab and back to Reports resets the datapoint listing, whi

[2020-05-11 15:49] JasonGlazer commented on #2039
I'm working on an EnergyPlus task to provide tabular output report reporting in multiple units for a single simulation. My SOW reads:

What would you like to see done now?

[2020-05-11 16:35] DavidGoldwasser commented on #2039
@jmarrec I think this ticket, had been addressed when Pat 2.0 came out. You improved the workflow when you updated the OpenStudio Results measure to support SI and IP. My main request moving forward in EnergyPlus I think is for someone to request an IP HTML report but still maintain SI units for the SQL file (tabular and time series data) as that SDK is expecting data to be in SI units.

[2020-05-11 16:58] MatthewSteen commented on #2039
This issue seems pretty stale and can probably be closed. Here are some high level thoughts...

__OpenStudio__

1. I don't like that the OS Reporting measure adds OutputVariables to the sim by default. I think that the standard off the shelf configuration for a new user running a sim should be the bare minimum in reporting, output variables (none), and sim time. @DavidGoldwasser maybe consider cha

[2020-05-11 17:13] JasonGlazer commented on #2039
@MatthewSteen currently the SQL and HTML are in the same units depending on the EnergyPlus OutputControl:Table:Style Unit Conversion field (choices are None, JtoKWH, JtoMJ, JtoGJ, InchPound).

Am I understanding correctly, is just being able to generate the SQL in SI no matter what the OutputControl:Table:Style Unit Conversion field shows enough to satisfy the needs of OpenStudio?

In that case, w

[2020-05-11 17:23] MatthewSteen commented on #2039
I'll let the OS developers answer your first question.

From a user's perspective, it's nice to keep the file sizes as small as possible. So I wouldn't want to double the SQL file size by having both unit systems. In contrast, IES VE outputs _all_ variables for a model so the model files, in my opinion, are way too large. However, I realize the convenience of not having to formally request variabl

[2020-05-11 20:09] DavidGoldwasser commented on #2039
@kbenne and @jmarrec feel free to jump in, but I think the answer to Jason for these questions is both yes. We just want to keep SQL in SI, and having a new field to do that would work.

`Am I understanding correctly, is just being able to generate the SQL in SI no matter what the OutputControl:Table:Style Unit Conversion field shows enough to satisfy the needs of OpenStudio?

In that case, would

[2020-05-12 16:46] JasonGlazer commented on #2039
@DavidGoldwasser @kbenne @jmarrec @MatthewSteen @eringold

I updated my fix very slightly. Instead of changing the changing OutputControl:Table:Style EnergyPlus input object, I'm adding a field to the Output:SQLite EnergyPlus input object which probably makes more sense.  Please take a look at the EnergyPlus NFP below

https://github.com/NREL/EnergyPlus/blob/UpdateUnitAndFileControlTabRep/design/F

[2020-05-12 16:59] JasonGlazer commented on #2039
I just posted a small update to the NFP that clarifies that the new field is only related to unit conversion for the tabular report portion of the SQL file.

[2020-05-12 20:30] kbenne opened #3976 "DX Cooling coil lower cutoff temperature"
Add function for DX Cooling coil (CoilCoolingDXSingleSpeed or other DX cooling coils) to set the lower cutoff temperature, EnergyPlus has this field, but OpenStudio does not have a method to access and change this field.

![Picture1](https://user-images.githubusercontent.com/707488/81742217-5cef0f00-9465-11ea-9fe3-e1fc8998c8ff.png)

@joseph-robertson and @jmarrec this is high priority. I'm not sur

[2020-05-12 20:44] jmarrec commented on #3976
I'm on it

[2020-05-12 21:09] jmarrec commented on #3976
List of objects missing the field:

[code]

----

Here's a script I used to find the objects that are missing it:

[code]

[code]

[2020-05-13 19:44] jmarrec commented on #3949
I'm going to close this then.

[2020-05-13 19:44] #3949 closed

[2020-05-13 19:50] #3551 closed

[2020-05-13 20:12] jmarrec commented on #3098
Fixed by https://github.com/NREL/OpenStudioApplication/pull/98

[2020-05-13 20:12] #3098 closed

[2020-05-13 20:17] #845 closed

[2020-05-13 20:19] jmarrec commented on #992
Closing, the library isn't meant to provide all optional  use cases anyways.

[2020-05-13 20:19] #992 closed

[2020-05-13 20:20] #1446 closed

[2020-05-13 20:28] #500 closed

[2020-05-13 20:28] #253 closed

[2020-05-13 20:31] #1373 closed

[2020-05-13 20:32] #1435 closed

[2020-05-13 20:32] #1436 closed

[2020-05-13 20:32] jmarrec commented on #1435
Documentation of the OS App will be released soon.

[2020-05-13 20:32] jmarrec commented on #1436
Documentation of the OS App will be released soon.

[2020-05-13 20:36] #1871 closed

[2020-05-13 20:38] jmarrec commented on #2923
Still true at openstudioapplication-1.0.0

[2020-05-13 20:39] #2848 closed

[2020-05-13 20:41] #1664 closed

[2020-05-13 20:41] #2994 closed

[2020-05-13 20:46] #1578 closed

[2020-05-13 20:46] #1584 closed

[2020-05-13 20:46] #1587 closed

[2020-05-13 20:47] #1443 closed

[2020-05-13 20:47] #1421 closed

[2020-05-13 20:53] jmarrec commented on #2960
THis is fixed already, https://github.com/NREL/OpenStudio/pull/3613

[2020-05-13 20:53] #2960 closed

[2020-05-13 20:55] #1448 closed

[2020-05-13 20:59] jmarrec commented on #3027
I moved at least two other issues to the OSApp repo today that talked about slow Apply Now

[2020-05-13 21:02] #2289 closed

[2020-05-13 21:04] #1633 closed

[2020-05-13 21:05] #1721 closed

[2020-05-13 21:06] jmarrec commented on #1721
I also added automatic detection of High dpi screen for scaling. You can then customize with the environment variable , eg QT_SCALE_FACTOR=1.5 ./OpenStudioApp if you want

[2020-05-13 21:09] jmarrec commented on #114
This a Model API problem (that I tried to fix without changing IDD before, but it was rejected and we decided not to spent more time on it).

But Colors are really there only for the Sketchup Plugin / OpenStudioApp(Geometry Editor)... Not sure where to move this issue.

[2020-05-13 21:33] #1846 closed

[2020-05-13 22:35] rpg777 commented on #1846
LOL

[2020-05-14 09:31] jmarrec commented on #1691
I have no clue how to reproduce this. I'm closing, happy to reopen if someone can help reproduce.

[code]

[2020-05-14 09:31] #1691 closed

[2020-05-14 09:51] jmarrec commented on #1675
Agreed that this should be supported.

Once thing I dislike about is that the "Peak Use Flow Rate", which is the condition to check if the WH isn't hooked to a PlantLoop to see if it is *really* meant standalone, was made required-field and is default-initialized in the ctor to 0.1 m3/s.

That basically means ANY WaterHeaterMixed in your model will be translated no matter what. That could be confu

[2020-05-14 11:13] jmarrec commented on #2033
@jugonzal reported the same on slack a few days ago, on the SeriesPIU.

Code to reproduce. This works:

[code]

If you do it like this, add a branch for the ATU then the zone, then the secondary inlet insn't set indeed
[code]

Happens around here: https://github.com/NREL/OpenStudio/blob/8ae4d883ed1a6ba704aa8b60003646de69a00f39/src/model/AirTerminalSingleDuctSeriesPIUReheat.cpp#L383-L402

A special

[2020-05-14 13:17] jmarrec commented on #2006
This is probably outdated now that ConstructionAirBoundary has been implemented.

[2020-05-14 13:17] #2006 closed

[2020-05-14 13:30] jmarrec commented on #1548
Pretty sure that actually an OpenStudioApplication thing when you create a new measure, and I cannot reproduce using openstudioapplication1.0.0

[2020-05-14 13:30] #1548 closed

[2020-05-14 13:38] jmarrec commented on #2780
Not part of installer anymore.

[2020-05-14 13:38] #2780 closed

[2020-05-14 13:39] jmarrec commented on #2576
Closing as it's outdated. future issues should be opened to https://github.com/NREL/openstudio-sketchup-plugin

[2020-05-14 13:39] #2576 closed

[2020-05-14 13:59] jmarrec commented on #2957
This is tighly linked to https://github.com/NREL/OpenStudio/issues/2093 and both should be investigated and fixed at the same time.

[2020-05-14 14:00] jmarrec commented on #2093
https://github.com/NREL/OpenStudio/issues/2957

[2020-05-14 14:09] jmarrec commented on #2415
Seems like it only support KA: https://github.com/NREL/OpenStudio/blob/050075639a5e1f0c8118184672d9f2ae7c50b926/src/energyplus/ForwardTranslator/ForwardTranslateGroundHeatExchangerHorizontalTrench.cpp#L163-L194

[2020-05-14 14:38] #1775 closed

[2020-05-14 15:35] joseph-robertson opened #3982 "Unexpected behavior related to geometry intersecting/matching"
Issue overview
--------------
Getting different number of resulting surfaces after intersecting/matching between 2.9.1 and 3.0.0.

## Current Behavior
![image](https://user-images.githubusercontent.com/8516790/81954403-aa7e8f80-95bd-11ea-8bf6-c6d41f035413.png)

## Expected Behavior
![image](https://user-images.githubusercontent.com/8516790/81954364-9dfa3700-95bd-11ea-9019-10c540734e82.png)

## Ste

[2020-05-14 18:20] jmarrec commented on #3982
Reopen #3514 which deals with unit test failures and has a section on intersection,  cf https://github.com/NREL/OpenStudio/issues/3514#issuecomment-574251352

[2020-05-15 11:51] jmarrec opened #3984 "Crash in FT when forward translating an orphaned ControllerOutdoorAir"
Issue overview
--------------

## Current Behavior  / Steps to Reproduce

[code]

## Possible Solution

This object appears to be always forward translated and assumes it's hooked to an AirLoopHVAC

## Details

### Environment

Some additional details about your environment for this issue (if relevant):
 - Platform (Operating system, version): all
 - Version of OpenStudio (if using an intermediate

[2020-05-15 11:53] jmarrec commented on #3984
Crash happens here: https://github.com/NREL/OpenStudio/blob/525510fae687385dc934134c1784d58785a5e05a/src/energyplus/ForwardTranslator/ForwardTranslateControllerOutdoorAir.cpp#L66

Backtrace:

[code]

[2020-05-15 16:27] DavidGoldwasser commented on #3982
Here is a document I started to talk about intersection and other geometry bugs
https://nrel-my.sharepoint.com/:w:/g/personal/dgoldwas_nrel_gov/EU2mUnAelJFOkZx2x0Y1MfsB0U74TKqYtq7Nu3VoPcSFvw?e=Kd71xx

[2020-05-15 16:33] kbenne commented on #3907
@joseph-robertson here is the task for adding the new dx coil model. @jmarrec I think @joseph-robertson is going to take point on this, but you might be able to advise if issues come up.

cc @tijcolem

[2020-05-15 16:47] tijcolem commented on #3936
@kbenne Maybe we can start slack channel to discuss in more detail and get group consensus?

[2020-05-15 21:14] #3945 closed

[2020-05-15 21:59] joseph-robertson commented on #3907
What about `Coil:Cooling:DX:CurveFit:Speed`?

[2020-05-15 22:43] #1058 closed

[2020-05-18 14:32] #3976 closed

[2020-05-18 15:34] joseph-robertson commented on #3907
I don't see any of these objects listed in the IO reference: https://bigladdersoftware.com/epx/docs/9-3/input-output-reference/index.html. Anyone have any idea about that?

@kbenne @jmarrec

[2020-05-18 15:54] shorowit commented on #3907
@joseph-robertson Seems like a bug in Big Ladder's documentation. If you download E+, they are in the pdf -- at the very end of "Group Heating and Cooling Coils".

[2020-05-18 16:48] shorowit commented on #3907
It's missing from the Table of Contents but is here: https://bigladdersoftware.com/epx/docs/9-3/input-output-reference/group-coil-cooling-dx.html#coilcoolingdx

[2020-05-22 16:38] JasonGlazer commented on #2039
I haven't heard any comments on this. I just posted the NFP announcement on the EnergyPlus #announcements channel on Slack. Should I make a broader announcement to the OpenStudio folks? and if so, what is the preferred method?

[2020-05-22 17:28] eringold commented on #2039
@JasonGlazer based on your revised NFP, if Output:SQLite TabularUnitConversion is 'None' and OutputControl:Table:Style Unit Conversion is 'InchPound', then the HTML file will be in IP and the SQL will be in standard SI, correct?

[2020-05-22 18:01] JasonGlazer commented on #2039
Yes, you are correct @eringold

I am wild about "None" to indicated standard SI but that is what is done with the OutputControl:Table:Style object. It does represent no unit conversion so that is why it is "None"

[2020-05-22 18:11] eringold commented on #2039
In that case I feel like 'None' should be the default for Output:SQLite. Since OpenStudio and other interfaces only want the SQL in SI, but users may want the HTML in IP, if the user looks to OutputControl:Table:Style to change the HTML table units, they may also be breaking the interface reporting, unless the interface always overrides the Output:SQLite default.

[2020-05-22 18:21] JasonGlazer commented on #2039
@eringold I think that would change the default behavior too much for users, that is why I recommended just having the default being "UseOutputControlTableStyle" which would follow what ever unit conversion that is specified in the OutputControl:Table:Style object which is exactly what is done now. It is not a big deal but it seems more transparent for users. OpenStudio could just always force the

[2020-05-29 17:03] tijcolem commented on #3827
@erikkolderup @ldmitrysurugin

We released [OpenStudioApp 3.0.0](https://github.com/NREL/OpenStudioApplication/releases/tag/v1.0.0) and this should be resolved with that version.

[2020-06-02 19:19] #2795 closed

[2020-06-03 12:40] jmarrec opened #3990 "CoilCoolingDXMultiSpeed has methods to add stages, but none to remove stages"
Issue overview
--------------

CoilCoolingDXMultiSpeed has methods add stages, but none to remove stages

  void addStage(CoilCoolingDXMultiSpeedStageData& stage);

## Current Behavior

The API lets you add stages, but not remove them.

https://github.com/NREL/OpenStudio/blob/f3393974f157d0a92f39afdee6f60ef441f4582b/src/model/CoilCoolingDXMultiSpeed.hpp#L136

## Expected Behavior

You should be ab

[2020-06-04 18:00] #2033 closed

[2020-06-04 18:01] #2977 closed

[2020-06-04 18:02] #3926 closed

[2020-06-04 18:02] #3984 closed

[2020-06-05 03:40] lainsworth8801 commented on #3883
Hi James, sorry about the late response. I believe this has something to do with specific windows built config. I recommend you install the latest openstudio as we confirmed that this issue is resolved with the latest windows build.

<img width="1030" alt="Screen Shot 2020-05-29 at 2 17 15 PM" src="https://user-images.githubusercontent.com/49968203/83834208-f4cdca80-a6aa-11ea-81a6-b90898627070.png

[2020-06-05 04:07] lainsworth8801 opened #3991 "Unsupported cli command for Revit logs empty error message on windows"
Issue overview
--------------

On AWS windows instance, unsupported cli command for Revit, e.g. , --debug, displays empty error log when used.

## Current Behavior
<img width="920" alt="Screen Shot 2020-05-29 at 2 28 21 PM" src="https://user-images.githubusercontent.com/49968203/83835392-ec2ac380-a6ad-11ea-9692-b7b0f8a43a79.png">

## Expected Behavior
Should prompt user of error message when unsup

[2020-06-05 04:49] #3933 closed

[2020-06-05 04:49] #3957 closed

[2020-06-07 07:49] wta12 commented on #3902
@kbenne @jmarrec @tijcolem : seems the last one: **A_TU:SingleDuct:CV:NoReheat is missing two fields at end: Design Specification Outdoor Air Object Name (replace with Control For Outdoor Air instead) and Per Person Ventilation Rate Mode** are not accessible in OS 3.0. Is there any plan for update OpenStudio with new _EP 9.3 BugFix_ ? Right now, there no way to modify those fields even with worksp

[2020-06-10 18:19] lymereJ opened #3992 "Chiller ReformulatedEIR model"
Enhancement Request
--------------
Include the EnergyPlus ReformulatedEIR chiller model in the SDK.

## Detailed Description
The SDK doesn't currently support the ReformulatedEIR chiller model. This model tends to simulate the performance of water-cooled variable speed and variable flow chillers more accurately. While this can be handled through measures, the goal would be to include it in openstu

[2020-06-12 16:13] kbenne commented on #3992
@mdahlhausen can you triage and let us know if you need this for OS Standards

[2020-06-12 16:21] kbenne commented on #3982
@joseph-robertson can you review the level of effort to work around in res stock and consider if we may be able to close with no change?

[2020-06-12 16:25] dmacusb2 commented on #3982
FYI, I'm doing some work for Ladybug around this and may have a PR this weekend, not sure if they are seeing the same problems you are.

[2020-06-12 17:17] DavidGoldwasser commented on #3982
@dmacusb2 what @joseph-robertson would like to do here is be able to intersect without triangulating the surfaces. One idea discussed was having an argument in intersection to not triangulate, or maybe a separate `intersect` and `triangulate` method (I know triangulate already exists on its own). I did say for general use for most users I will always want to triangulate after intersection to avoid

[2020-06-12 18:46] mdahlhausen commented on #3992
@kbenne This is a PNNL request for the DOE prototype building models.  Nice, but not critical.  I'd give it a 4/10 on priority, 10 being the highest.

[2020-06-12 22:52] macumber commented on #3982
Hmm, looking at the image in this issue I don't really understand what the issue is.  It looks like an exterior roof surface is being triangulated?  What is that surface being intersected with?  The picture isn't very clear.  Anyway, I'm pretty sure this is not the issue that Labybug is seeing.

[2020-06-12 23:23] joseph-robertson commented on #3982
@macumber Is this more clear? I am intersecting the garage roof decks (space in foreground) with the attic roof deck (space in background). The intersected surface (highlighted) gets removed. The resulting attic roof deck (now with 6 vertices) is used downstream in our workflow to place eaves.

![image](https://user-images.githubusercontent.com/8516790/84553206-4b995c80-acc8-11ea-8f6a-2b0f8a4de092

[2020-06-12 23:26] macumber commented on #3982
Does it cause a problem that the larger roof surface (outside of the intersection) is triangulated?

[2020-06-12 23:32] joseph-robertson commented on #3982
Yes, it does.

[2020-06-12 23:40] macumber commented on #3982
Well one approach would be to get all of the exterior roof surfaces and call joinAll on them.  I am currently working on a fix to joinAll.

[2020-06-12 23:46] joseph-robertson commented on #3982
But call joinAll only on surfaces that are on the same plane, right?

[2020-06-12 23:55] macumber commented on #3982
Well the original roof surface was one plane before you intersected it right?  If its not one plane then there is no way to not triangulate it.

[2020-06-13 17:39] macumber opened #3994 "Store CI build status in public location"
Enhancement Request
--------------
Store CI build status in public location

## Detailed Description
External collaborators make pull requests to the repository and CI runs on these.  If CI fails, the external collaborator can not see details to help them fix the pull request.

[2020-06-14 17:49] GianfraG commented on #3883
Hi,
I have the same problem. Have you found a solution?

[2020-06-14 19:00] lainsworth8801 commented on #3883
Hi @GianfraG thanks for the issue report! We believe this issue is related to a specific windows 10 image. The first step I would recommend is to update your existing windows build and install the latest OpenStudio CLI package. If you are already on the latest windows build and OpenStudio CLI and issue still persists, please attach a copy of error log for further touble-shooting.

We did run into

[2020-06-15 09:25] jmarrec commented on #3990
IDD should also add `\max-fields`  since this object really expects two, three, or four speeds maximum.

[2020-06-15 10:14] jmarrec commented on #3990
`CoilCoolingDXMultiSpeedStageData` is a `ParentObject`. It should have been a `ResourceObject` I think. @kbenne do you remember why you used ParentObject? cf https://github.com/NREL/OpenStudio/commit/13473c0f6e132058ded835ccc45741ef3744aea2#diff-977d88f8d902362d07d5ae54eff635a6

Here's an example:

[code]

[code]

Now remove dx2, and it deletes the stage in dx too:

[code]

[code]

[2020-06-15 10:21] jmarrec commented on #3990
Well actually I think making it a ParentObject was the right call given this: https://github.com/NREL/OpenStudio/blob/c710464d0534eba5f2b52b3ac9b01a17c4a61a6e/src/model/CoilCoolingDXMultiSpeedStageData.cpp#L452-L463

I suppose the issue is that a `CoilCoolingDXMultiSpeedStageData` shouldn't be used by more than one `CoilCoolingDXMultiSpeed` object.

[2020-06-15 12:07] GianfraG commented on #3883
Thank you very much @lainsworth8801.
I updated Windows 10  [Versione 10.0.18363.900] and I copied the "bin" and "EnergyPlus" folders of OpenStudio 3.0.0 in the "OpenStudio CLI for Revit 2021" folder.
Seems there are no problems now.

[2020-06-15 15:04] kbenne commented on #1675
Given that Peak Use Flow Rate is required, it seems like we don't have the option to selectively translate this type anymore. My feeling is that we should just accept that it is always translated, and therefore do what @mbadams5 suggests and just add it to the list of always translated types.

I'm assuming that making Peak Use Flow Rate optional would be a breaking api change, and I wouldn't chang

[2020-06-15 16:19] joseph-robertson commented on #3982
Yeah, I just meant to distinguish between the front and back roof surfaces. So basically for the image at the very top of this issue, I would joinAll on surfaces 1, 2, 3 after intersecting/matching (which now does the triangulating by default)?

[2020-06-15 19:32] #3539 closed

[2020-06-16 08:20] jmarrec opened #3997 "3.0.1-beta1: GbXMLReverseTranslator applies incorrect scaling to windows"
Issue overview
--------------

With `lengthUnit="Feet"`, the windows are incorrectly placed.

![gbxml scaling issue](https://user-images.githubusercontent.com/5479063/84749776-b85b7200-afba-11ea-8ec3-90482092ca8f.jpg)

Reported by @antonszilasi

## Current Behavior

Wrong scaling for windows

## Expected Behavior

Windows should be placed correctly, like they are in 2.9.1.

## Steps to Reproduce

[2020-06-16 19:20] antonszilasi commented on #3997
@jmarrec thanks for taking the initiative to fix this issue but im confused why this wasnt fixed here:
https://github.com/NREL/OpenStudio/issues/3951#event-3252557770
@tijcolem do you know why?

[2020-06-16 19:20] antonszilasi commented on #3951
@jmarrec @tijcolem unfortunately this issue is not fixed I am still experiencing this issue

[2020-06-17 07:16] jmarrec commented on #3951
@antonszilasi the test file you had supplied works, the surface types are correctly assigned. Provide enough info to reproduce and I'll look into it.

[2020-06-17 07:38] jmarrec commented on #3997
@antonszilasi #3951 is a different error, specific to surface Type assignment, and was a typo in if blocks.

This one is about scaling and is about a missing multiplication.

I can speculate the original file you sent for 3951 may have had the same problem, but I don't recall it having windows. Anyways I didn't identify a problem with scaling there.
Note that I also have set my diff editor (vim) t

[2020-06-17 16:15] mcneillj commented on #3883
Thanks @lainsworth8801.  I'll give the latest versions a try and report if my issue is solved.

[2020-06-18 00:40] antonszilasi commented on #3951
@jmarrec again thank you for your attention on this

To be more clear I am actually using openstudio:3.0.1-rc1 but I assumed that this issue ought to have been fixed in 3.0.0-rc1

None the less if you take the gbxml contained in the zip attached when you convert it to an osm you will see the following geometry
[SumitBansal-15_0.zip](https://github.com/NREL/OpenStudio/files/4795650/SumitBansal-15_0

[2020-06-18 06:23] jmarrec commented on #3951
Gotcha. So the scaling should be fixed by #3998 (and I opened #3997 specifically for that issue with that picture and co).

[2020-06-18 18:27] antonszilasi commented on #3951
@jmarrec I guess we wait for @tijcolem to merge into develop then he can tag a new 3.0.1-rc1

[2020-06-18 18:59] tijcolem commented on #3997
@antonszilasi Yes, but it'll be called openstudio:3.0.1-rc2 with this change.

[2020-06-18 22:02] #3997 closed

[2020-06-18 22:03] #3314 closed

[2020-06-19 15:47] DavidGoldwasser opened #4001 "gbXML issue with workflow from OSM to came up on OpenStudio 3.0"
It appears that with a specific model gbXML export pre OpenStudio 3.0 worked fine into HAP and Trace, but with 3.0 it fails to both of those locations.

See UH post for more details
https://unmethours.com/question/45292/failed-to-export-gbxml/

/--------------

## Current Behavior

## Expected Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Possible Solution

## Details

### Environment

Some add

[2020-06-19 15:48] DavidGoldwasser commented on #4001
@kbenne @pflaumingo thought you might have insights or interest in this.

[2020-06-22 05:02] MingboPeng opened #4003 "C# OpenStudioModelCorePINVOKE"
Issue overview
--------------

With the new 3.0 and 3.0.1 version, I am not able to use C# bindings in Rhino/Grasshopper for Ladybug tools. The issue seems to be the broken link between **OpenStudio.dll** and **openstudio_model_csharp.dll**.

## Current Behavior

System.TypeInitializationException: 'The type initializer for 'OpenStudio.OpenStudioModelCorePINVOKE' threw an exception.'

## Steps to

[2020-06-22 15:44] joseph-robertson commented on #3982
@macumber Can you point me to an example for using joinAll on multiple surfaces? Does each surface need to first be transformed to face coordinates?

[2020-06-22 18:34] jmarrec commented on #4003
@MingboPeng The dotnet stuff isn't the culprit if it doesn't work with 3.0.0, since that dotnet stuff just got into 3.0.1-rc1 but wasn't in 3.0.0. I will try to look into it unless @kbenne knows directly what to do?

[2020-06-22 18:53] jmarrec commented on #4003
3.0.0 official works fine here.

[code]

[2020-06-22 19:01] jmarrec commented on #4003
Also works with 3.0.1-rc1.

[code]

@MingboPeng Not sure how to reproduce your issue.

I've taken the "ModelCreateExample" folder, and removed then re-added the reference to OpenStudio.dll. Then opened a C# interactive console, right clicked the project and clicked "Initialize Interactive with project".

![image](https://user-images.githubusercontent.com/5479063/85325199-858a1000-b4cb-11ea-9237-b0

[2020-06-22 19:05] jmarrec commented on #4003
@MingboPeng Not sure how to reproduce your issue. Please provide more info as to how you installed it, setup etc, so I can reproduce, or advise if it can be closed.

[2020-06-22 19:43] MingboPeng commented on #4003
@jmarrec thanks for following up.

At beginning I thought it might be related to Rhino/Grasshopper, and I test it with [DotnetConsoleExample ](https://github.com/NREL/OpenStudio/tree/develop/csharp/examples/DotnetConsoleExample ) and I got the same error.

This project doesn't have 'Intialize Interactive with Project' option, so I just created an empty console app with .Net Framework.
C# interacti

[2020-06-22 20:11] MingboPeng commented on #4003
I just did the same on my desktop, and typed following in C# interactive console:

I also got the PINVOKE issue here
![image](https://user-images.githubusercontent.com/9031066/85330757-fb2db600-b4a2-11ea-9a62-e902db002249.png)

[2020-06-22 21:26] jmarrec commented on #4001
I can pick this one up if I get test files to reproduce, I asked @nfonner on UnmetHours to provide some if he can.

[2020-06-23 07:42] jmarrec commented on #4003
Thanks for providing more info @MingboPeng.

I redid the steps above and it worked fine for me with 3.0.1-rc1.

I then realized it was probably something with my PATH, and indeed it was: I had the path to my local openstudio build in there, so it was picking up DLLs I had built manually. Clearing that from my `PATH` allowed me to reproduce the issue with **both** 3.0.0 and 3.0.1-rc1.

[2020-06-23 07:49] jmarrec commented on #4003
Well, I can **also** reproduce it by using the **2.9.1** installer...

[2020-06-23 08:41] jmarrec commented on #4003
The only diff for csharp/CMakeLists.txt between 2.9.1 (left) and 3.0.0 (right) is the target_link_libraries call.

![image](https://user-images.githubusercontent.com/5479063/85381220-0eda2a80-b53e-11ea-9ca4-3a68d85fb1e4.png)

[2020-06-23 08:56] jmarrec commented on #4003
Hum, It through me off that it was complaining about `openstudio_model_csharp.dll`, since either adding its location to the PATH or copying it directly to the C# project's bin dir wasn't working while it should have.

Instead, what it couldn't locate was really the `openstudiolib.dll`. Cleared my PATH totally, then copied the CSharp openstudio dll and the openstudiolib.dll to the C# bin directory,

[2020-06-23 09:38] jmarrec commented on #4001
I got the files from @nfonner. the two OSMs are widely different, so I did something else.

I took his 281 osm, and with 2.8.1, 2.9.1, and 3.0.0 I load that OSM, then GbXMLForwardTranslate it to an xml. Then I proceeded to lint the xmls using `xmllint` to canonically sort themso I could diff them easily... 281 and 291 linted properly, but 3.0.0 has problems!

[code]

Indeed, line 1712 has the foll

[2020-06-23 12:30] MingboPeng commented on #4003
Yes, I have tried copying all dll files to build folder, that's how it works with 2.9 and before.

This openstudiolib.dll answers one of my doubts: what makes dlls in CSharp much smaller than those in 2.9. Here now I know it is because of this new openstudiolib.dll in 3.0.

@jmarrec  is it because "lib" path is not added here in CMAKE?

Since versions before 3.0 has no lib path, and now all c# dll

[2020-06-23 16:53] macumber commented on #3982
Yes they need to be in reverse face coordinates (so face coordinates and then call reverse):
https://github.com/NREL/OpenStudio/blob/develop/src/utilities/geometry/Intersection.hpp#L85

There are some unit tests in this PR:
https://github.com/NREL/OpenStudio/pull/3993/files

[2020-06-23 18:32] joseph-robertson commented on #3982
Thanks @macumber. That sounds fine. The only thing that's unclear to me is how to re-assign the original z-coordinates to the (single) polygon after joinAll is called. Any ideas there?

[2020-06-23 18:56] macumber commented on #3982
Yeah, since all the surfaces are co-planar just pick one of their face transforms, then reverse all their vertices.  After you have joined them, reverse the vertices again and use the inverse of the face transform to put them back.

[2020-06-24 04:50] macumber commented on #3994
Also worth noting that external collaborators cannot apply labels to issues so they are not able to trigger CI.

[2020-06-24 04:55] macumber commented on #3994
I looks like you might be able to automatically apply labels based off of keywords in the PR template.  That would be useful if for instance an external collaborator could click a checkbox in the PR template which would apply the Ready for CI label,

[2020-06-26 14:26] jmarrec opened #4006 "Add SwimmingPool:Indoor to OpenStudio"
Enhancement Request
--------------

Add [SwimmingPool:Indoor](https://bigladdersoftware.com/epx/docs/9-3/input-output-reference/group-internal-gains-people-lights-other.html#swimmingpoolindoor) to the SDK. It's a relatively simple object to wrap as it has no additional children (but curves and connections).

## Detailed Description

Current E+ IDD is there:

[code]

## Possible Implementation

[2020-06-26 15:12] jmarrec commented on #2788
This works now, and even if not it's an OpenStudioApplication issue.

Anyways, fixed in https://github.com/NREL/OpenStudioApplication/pull/98

[2020-06-26 15:12] #2788 closed

[2020-06-26 15:39] jmarrec commented on #2459
This should have been addressed, some works was done circa 270 (eg https://github.com/NREL/OpenStudio/commit/d2acab4052891f617aca0f10fd85991f15c4a23a)

Should be reopened on OSApp if not.

[2020-06-26 15:39] #2459 closed

[2020-06-26 15:46] jmarrec commented on #251
Seems fine today:

[code]

[2020-06-26 15:46] #251 closed

[2020-06-26 16:32] shorowit commented on #3545
This has been addressed for OpenStudio v3.

[2020-06-26 16:32] #3545 closed

[2020-06-26 17:00] tijcolem commented on #3827
Closed as this is resolved in [OpenStudioApp 1.0.0](https://github.com/NREL/OpenStudioApplication/releases/tag/v1.0.0)

[2020-06-26 17:00] #3827 closed

[2020-06-26 23:28] joseph-robertson commented on #3578
@macumber do you remember what you meant by "a better method is one that automatically creates a workflow with the current measure"?

[2020-06-30 06:59] DavidGoldwasser opened #4007 "Model objects returned in inconsistent order"
Issue overview
--------------
When same measure is run multiple times output various if all calls for model objects are not explicitly sorted. While oder of IDF file does not matter, complex measures can have different behavior based on order changes which in turn changes the IDF and simulation results. This results in results in non deterministic results from CI.

## Current Behavior
Below is the

[2020-06-30 07:02] DavidGoldwasser commented on #4007
May be copy of issue https://github.com/NREL/OpenStudio/issues/2010 from 2015. This was about specific object type but issue is more general.

[2020-06-30 07:09] DavidGoldwasser commented on #4007
@tijcolem @kbenne @jmarrec any thoughts on how big of a change it would take for this issue to be resolved? Otherwise I think the measure writing guide should be updated to always sort any model objects being returned Often good for readability of reporting, but shouldn't generally be necessary.

[2020-06-30 12:11] jmarrec commented on #4007
Without checking deep in the bowels of Workspace, I would speculate that model keeps a map of objects, the key being the handle, and that's why adding objects and retrieving them will produce different result (the handle is generated at object creating in a pseudo random fashion).

I would not like to suffer any performance penalty just to make this consistent. If you care about it, then just do y

[2020-06-30 16:13] DavidGoldwasser commented on #4007
@jmarrec I see your point about performance hit. I also confirmed if I use a non empty model and loop through it I get the objects in the same order. SO maybe this is just a documentation task for measure writing guide, as well as supporting gems like extension gem and openstudio standards. @asparke2 and @mdahlhausen, @kflemin looked at this in much of extension gem, and I'm going to work on some

[2020-06-30 17:32] asparke2 commented on #4007
Most of the time I have found that sorting doesn't matter inside measures.  However, for openstudio-standards, there were issues with the tests being nondeterministic.  My solution was to just always call `.sort` after `getFoos`.

[2020-06-30 17:42] DavidGoldwasser commented on #4007
@asparke2 good to know that is already done in standards, we are working on extension gem. now.

[2020-06-30 17:43] joseph-robertson commented on #3982
Related post: https://unmethours.com/question/45559/surface-matching-and-intersecting-adds-unnecessary-surfaces/

[2020-06-30 17:44] DavidGoldwasser commented on #4007
I'm just going to add link to PAT issue with non-deterministic failures on ZEDG K12 PAT project. I need to test more to see if it is just on one computer, or all windows. Doesn't happen to me on mac. This may be unrelated to this but just wanted to reference it as different case from URBANopt.
https://github.com/NREL/OpenStudio-PAT/issues/156

[2020-07-01 00:07] joseph-robertson commented on #3578
@macumber are you suggesting that somewhere right around here https://github.com/NREL/OpenStudio/blob/develop/src/measure/OSRunner.cpp#L272-L275, we instead create a workflow step for `measure` if one doesn't exist?

[2020-07-01 04:40] macumber commented on #3578
I was more thinking that in the measures tests instead of creating an empty WorkflowJSON we would make something like ‘WorkflowJSON::createTestWorkflow(measure_name)’

[2020-07-01 08:49] jmarrec commented on #4007
https://github.com/NREL/OpenStudio/blob/8acc93859543ef7e030688a7fbc557adaeb4e25b/src/utilities/idf/Workspace_Impl.hpp#L515-L527

https://github.com/NREL/OpenStudio/blob/8acc93859543ef7e030688a7fbc557adaeb4e25b/src/utilities/idf/Workspace.cpp#L369-L388

[2020-07-01 08:50] jmarrec commented on #4007
https://github.com/NREL/OpenStudio/blob/8acc93859543ef7e030688a7fbc557adaeb4e25b/src/utilities/idf/Workspace.cpp#L235-L268

[2020-07-01 09:08] jmarrec commented on #4007
https://github.com/NREL/OpenStudio/blob/8acc93859543ef7e030688a7fbc557adaeb4e25b/src/model/Model.hpp#L280-L315

https://github.com/NREL/OpenStudio/blob/8acc93859543ef7e030688a7fbc557adaeb4e25b/src/model/Model_Common_Include.i#L221

I suppose we could have `getConcreteModelObjects` (which is what the ruby `getXXXXs` method is calling) call a `sorted` version, but will slow it down since it won't us

[2020-07-01 14:19] jmarrec commented on #4007
@asparke2 @DavidGoldwasser I opened #4010 after finally getting the tweaks right. I left the possibility of doing it as usual or provide a bool argument to sort, as `getXXXs(sorted)`

When CI is done building, we'll have an installer ready to benchmark the impact of sorting on large models, as which point we could decide to make the sorted version default (or the unique option for that matter).

[2020-07-01 15:16] joseph-robertson commented on #3578
So you would suggest making updates to the SDK by adding `WorkflowJSON::createTestWorkflow(measure_name)` to WorkflowJSON.cpp?,

Is that sort of a convenience to instead handling everything in just the measure:
[code]

So with your proposed changes, the previous would become:
[code]

@macumber

[2020-07-01 16:05] #3907 closed

[2020-07-01 16:12] DavidGoldwasser commented on #4007
@jmarrec Thanks for looking into this. If there is an installer I can do test on a large model with maybe 2-3k surfaces and 400 zones. I can test maybe 3 different ways. Let me know if I'm missing anything

1. getXXXs(false)
2. getXXXs(true)
3. getXXXs(false) but with `.sort` added in ruby

Would we default the argument to `false` to mimic the existing behavior/speed, or would we default it to `tr

[2020-07-01 21:07] jmarrec commented on #4007
Yeah I think the performance is critical in deciding either/or. CI is done for mac, if you don't have access to Jenkins to find the link, here is the binary link https://openstudio-ci-builds.s3-us-west-2.amazonaws.com/incremental/develop/4010/OpenStudio-3.0.1-beta+a00998ed6e-Darwin.dmg

If you can actually start by testing whether it does fix the order consistency issue that'd be great, as I'm not

[2020-07-01 21:49] joseph-robertson commented on #2867
Applies to:
* ElectricEquipment
* GasEquipment
* HotWaterEquipment
* SteamEquipment
* OtherEquipment
* others?

[2020-07-01 23:44] shorowit commented on #4007
If it actually preserved the order that objects were added to the model, I could see that being a useful default. But it looks like it's simply using a somewhat arbitrary sorting order (object name). I would only be in favor of making this a default if the runtime impact was extremely small.

[2020-07-02 13:49] mbadams5 commented on #4007
I am doubtful the performance impact will be extremely small. There is a reason we went to `getConcreteModelObjects` for all the getXXXs over `getModelObjects` (or whatever it is called). BUT, this is something that would benefit from simple profiling to have hard numbers instead of just gut feelings, which can be wrong. Sorting can be fast, but it is adding extra computation to this function.

[2020-07-02 15:05] DavidGoldwasser commented on #4007
I was initially planning on running a measure test on large (400 zone 3k surface) model that reports out time before and after sorting operation. Maybe in the measure I'll make it get and sort objects 10x-20x times to make  it easier to evaluate the time? I'm sure there is a more robust way with profiling software.

Can anyone else download the mac installer in @jmarrec's link. I'm getting an erro

[2020-07-03 04:15] DavidGoldwasser commented on #4007
@jmarrec sorry for confusion on the download. The "+" in the URL has to be replaced with "%2B".

If I run the same ruby code in the measure test as before, it doesn't sort. How do I add the bool, I tried to use `model.getSpaces(true).each do |space|` but it got error about unexpected argument

[code]

[2020-07-06 19:20] jmarrec commented on #4007
@DavidGoldwasser That's probably an indication that I failed at tweaking the SWIG stuff... I tested with `m.getSurfaces(false)` and that had worked. I'll have a look again...

[2020-07-06 20:16] jmarrec commented on #4007
I just rebuilt #4010 and it appears to work as expected...

[code]

[2020-07-06 20:24] jmarrec commented on #4007
Here's a stupid benchmark:

[code]

Running with a **debug** build (which is what I have handy right now... I will be building Release next), there is a significant difference

[code]

[2020-07-06 20:37] jmarrec commented on #4007
Wow. Take the same 1000 zones and 1000 spaces model. Now do this

`m.getModelObjects(false)` => Almost instantaneous.
`m.getModelObjects(true)` => About 30secs.

[2020-07-06 20:45] jmarrec commented on #4007
my current solution will not produce the order of the object as they were added. That would require doing something similar to this:

`m.getModelObjects(true).select{|z| !z.to_ThermalZone.empty?}.map{|z| z.nameString}`

As seen above, the call to the sorted method will incur a huge penalty cost though.

[2020-07-07 15:59] joseph-robertson commented on #2610
I'm having trouble reproducing this issue because the download for f38beff0-edc6-0131-6605-48e0eb16a403 just hangs (also hangs on manually downloading from bcl.nrel.gov).

@macumber @jmarrec

[2020-07-07 19:51] jmarrec commented on #2610
Make a dummy component with a unique model object (site mains water temperature, building, facility)

[2020-07-07 23:34] joseph-robertson commented on #2610
@jmarrec I was able to do that, and reproduce the issue.

So should the logic be: right before [this line](https://github.com/NREL/OpenStudio/blob/develop/src/model/Model.cpp#L804), remove any unique model objects from the workspace that match types found in `component.objects()`?

If I use `getUniqueModelObject`, this would add them to the workspace if they don't exist. So, is there an alternativ

[2020-07-08 05:38] jmarrec commented on #2610
https://github.com/NREL/OpenStudio/blob/93f1c744ee940afd0e7342b3a857a7a0be2adc81/src/model/Model.hpp#L260:L278

But as I notes above, in addObjects we could perhaps do something too.

[2020-07-08 15:51] DavidGoldwasser opened #4014 "Can't download components from BCL (using OpenStudio Application 1.0)"
Issue overview
--------------
Reported by user here
https://unmethours.com/question/45690/cannot-download-components-from-bcl-in-openstudio-application-if-downloaded-direct-from-website-how-can-i-import-them-into-the-application/

I was able to reproduce on my computer for same material they mentioned, as well as a few others.

## Current Behavior
There is another issue where search doesn't work f

[2020-07-08 15:51] DavidGoldwasser commented on #4014
cc @tijcolem @kflemin @nllong

[2020-07-10 14:18] tijcolem commented on #3994
This is more or less a security issue. At least here at NREL.  We have build logs now being pushed to an s3 bucket. @macumber I messaged you privately and can provide access to this so you can see log results.

As far as the labels are concerned, looks like a user needs to have write access to the repo in order to apply labels  - https://docs.github.com/en/github/managing-your-work-on-github/apply

[2020-07-10 14:21] tijcolem commented on #3835
@lefticus I assigned this to you and sent you another email with a few more details concerning this.

[2020-07-10 14:31] tijcolem commented on #3924
Closing. We have another ticket for last item remaining - #3974

[2020-07-10 14:31] #3924 closed

[2020-07-10 14:56] tijcolem commented on #3879
I am closing this issue as this is not an issue with newer versions of OpenStudioApplication [OpenStudioApplication >= v1.0.0](https://github.com/openstudiocoalition/OpenStudioApplication/releases/tag/v1.0.0) @dmitrysurugin If you have problems with the newer versions of the OpenStudioApplication, we can open a new issue for that.

[2020-07-10 14:56] #3879 closed

[2020-07-10 15:37] tijcolem commented on #3883
Hi @mcneillj  Could you let us know if the windows update fixed your issue? If so I will close this ticket.

[2020-07-10 16:06] tijcolem commented on #4014
Can we confirm if this is in the SDK. If it's in the App we should move to https://github.com/openstudiocoalition/OpenStudioApplication

[2020-07-10 16:14] #4007 closed

[2020-07-10 16:51] #2867 closed

[2020-07-10 17:15] #2895 closed

[2020-07-10 18:57] DavidGoldwasser commented on #4014
@joseph-robertson has been seeing this in the SDK using `OpenStudio::RemoteBCL.new`

[2020-07-13 16:56] rwadhwa910 opened #4016 "VRF issue with Openstudio"
We are working on a School project and we updated the measures in the project and while runnning we are getting this error in HVAC-VRF datapoint.

[code]

Although The field ‘maximumOutdoorDryBulbTemperatureforSupplementalHeaterOperation’  for the object ‘ZoneHVACTerminalUnitVariableRefrigerantFlow’  is new in OS 3.0 and Energyplus 9.3.

(https://github.com/DavidGoldwasser/PAT_projects/tree/os30_u

[2020-07-13 17:52] rwadhwa910 commented on #4016
We tried to modify the idf file to see if it is an open studio or energy plus issue, But we could not open the IDF file as it shows the issue in the Table Independent Variable. We verified that through the I/O reference guide and we could not locate an issue with the current set parameters.
The initial error says 'maximum_outdoor_dry_bulb_temperature_for_supplemental_heater_operation'- Value type

[2020-07-13 21:00] DavidGoldwasser opened #4017 "Measure Manager returns wrong measure type"
For some reason this measure returns ModelMeasure instead of ReportingMeasure when running `openstudio measure -t lib/measures`. Below is a link to the line in erb that calls `measureType`
https://github.com/NREL/openstudio-ee-gem/blob/develop/lib/measures/GLHEProExportLoadsforGroundHeatExchangerSizing/README.md.erb#L14

![Screen Shot 2020-07-13 at 2 54 12 PM](https://user-images.githubusercontent

[2020-07-14 15:03] tijcolem commented on #3036
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/19

[2020-07-14 15:03] #3036 closed

[2020-07-14 15:05] tijcolem commented on #2956
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/20

[2020-07-14 15:05] #2956 closed

[2020-07-14 15:07] tijcolem commented on #2717
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/21

[2020-07-14 15:07] #2717 closed

[2020-07-14 15:08] tijcolem commented on #2510
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/22

[2020-07-14 15:08] #2510 closed

[2020-07-14 15:09] tijcolem commented on #2502
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/23

[2020-07-14 15:09] #2502 closed

[2020-07-14 15:10] tijcolem commented on #2199
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/24

[2020-07-14 15:10] #2199 closed

[2020-07-14 15:10] tijcolem commented on #1903
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/25

[2020-07-14 15:10] #1903 closed

[2020-07-14 15:12] tijcolem commented on #1563
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/27

[2020-07-14 15:12] #1563 closed

[2020-07-14 15:13] tijcolem commented on #1560
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/28

[2020-07-14 15:13] #1560 closed

[2020-07-14 15:14] tijcolem commented on #1514
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/29

[2020-07-14 15:14] #1514 closed

[2020-07-14 15:14] tijcolem commented on #1318
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/30

[2020-07-14 15:14] #1318 closed

[2020-07-14 15:15] tijcolem commented on #1170
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/31

[2020-07-14 15:15] #1170 closed

[2020-07-14 15:15] tijcolem commented on #1039
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/32

[2020-07-14 15:15] #1039 closed

[2020-07-14 15:16] tijcolem commented on #899
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/33

[2020-07-14 15:16] #899 closed

[2020-07-14 15:17] tijcolem commented on #681
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/34

[2020-07-14 15:17] #681 closed

[2020-07-14 15:19] tijcolem commented on #668
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/35

[2020-07-14 15:19] #668 closed

[2020-07-14 15:21] tijcolem commented on #602
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/36

[2020-07-14 15:21] #602 closed

[2020-07-14 15:21] tijcolem commented on #598
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/37

[2020-07-14 15:21] #598 closed

[2020-07-14 15:22] tijcolem commented on #421
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/38

[2020-07-14 15:22] #421 closed

[2020-07-14 15:22] tijcolem commented on #395
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/39

[2020-07-14 15:22] #395 closed

[2020-07-14 15:30] tijcolem commented on #324
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/40

[2020-07-14 15:30] #324 closed

[2020-07-14 15:31] tijcolem commented on #317
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/41

[2020-07-14 15:31] #317 closed

[2020-07-14 15:31] tijcolem commented on #314
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/42

[2020-07-14 15:31] #314 closed

[2020-07-14 15:32] tijcolem commented on #278
This issue has been moved to the OpenStudio Sketchup Repository - https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/43

[2020-07-14 15:32] #278 closed

[2020-07-14 18:07] DavidGoldwasser commented on #4017
there was error message in XML. clearing that out got rid of this. I may do more testing to see if there is an issue with error messages clearing out once they are there. Users should not have to know to manually edit this file

[2020-07-14 18:07] #4017 closed

[2020-07-14 19:59] joseph-robertson commented on #3936
@shorowit @jmarrec

Let's say I:
* changed the idd from required-field to default (FixedWindow) for SubSurface
* removed assignDefaultSubSurfaceType from the ctor for SubSurface
* then in setSurface only called assignDefaultSubSurfaceType if the SubSurfaceType field is empty

Seems like the previous would solve the issue of explicitly calling the subsurface a Door, calling setSurface, and then hav

[2020-07-16 15:09] #4006 closed

[2020-07-16 15:10] #4001 closed

[2020-07-16 16:36] inkmug opened #4019 "chiller heater heat mode (mode 2) does not have part load"
Issue overview
--------------

The central heat pump chiller heater during heating mode (mode 2) always have a part-load ratio (**Chiller Heater Part Load Ratio Unit 1**) of 1.
As a result, the heating energy (**Chiller Heater Heating Electric Power Unit 1**) is always at its peak value under mode 2, even when the HHW loop is only at part load (**Plant Supply Side Heating Demand Rate**).
For detai

[2020-07-18 18:22] lefticus commented on #3835
Current no-op run time for me, for reference, with Release build (this is consistent across multiple runs)

![image](https://user-images.githubusercontent.com/234279/87859294-4f388880-c8f1-11ea-9b18-d54cd3d9db7d.png)

[2020-07-18 19:13] lefticus commented on #3835
After a478258 time on my Linux box is:

![image](https://user-images.githubusercontent.com/234279/87860157-6f1f7a80-c8f8-11ea-87e9-34b90e8996db.png)

[2020-07-18 21:49] lefticus commented on #3835
Windows best of 10 runs:
1.457 before changes
1.047 after changes

29% faster for Windows, 35% Linux

[2020-07-19 01:28] lefticus commented on #3835
Tested with LTO - no difference in load times (but much smaller memory footprint possible)

The remaining work is mostly internal to SWIG and Ruby, and it is the registration of the 10's of thousands of functions we have.

It is theoretically possible to set up lazy loading of the OpenStudio modules (everything after OpenStudio core/utilities). But it does not seem to me this would make any practi

[2020-07-20 15:13] kbenne commented on #3835
@lefticus do you have evidence from the profiler that most of the init time is related to OpenStudioModel? We are also initing a lot of extensions from the ruby standard library as well as a number of gems. I'm not disagreeing that Model is probably the biggest culprit, but it might be wise to quantify our suspicions.

[2020-07-20 16:37] DavidGoldwasser opened #4020 "AvailabilityManagerNightCycle Manger issue"
Issue overview
--------------
See post and video here
https://unmethours.com/question/45968/simulation-failed-when-adding-night-manager/

## Current Behavior

  ["C:\\Users\\jenkins\\git\\OpenStudio\\src\\model\\AvailabilityManagerNightCycle.cpp@243 : Object of type 'OS:AvailabilityManager:NightCycle' and named 'AVM Night Cycle 1' does not have a controlThermalZoneList attached:

## Expected Behav

[2020-07-20 16:38] DavidGoldwasser commented on #4020
CC @kbenne @mdahlhausen any thoughts on this

[2020-07-20 20:29] joseph-robertson commented on #637
@lefticus Can you give us some profiling information?

[2020-07-20 20:33] joseph-robertson commented on #4014
I recall manually browsing to bcl.nrel.gov, and downloads were hanging...

[2020-07-20 20:35] joseph-robertson commented on #3925
@kbenne to point @joseph-robertson to applicable file(s).

[2020-07-20 20:46] joseph-robertson commented on #3684
@kbenne suggests to 1. learn how to invoke the gbxml translator programmatically, 2. can we find a file that consistently gives the error when in utf-16, 3. write a unit test based on number 1.

[2020-07-20 20:50] joseph-robertson commented on #3620
@kbenne suggests to start by trying to replicate the issue: make an osw, put a full (not relative) path in, and reproduce the problem.

However, this problem may exist in the openstudio-workflow-gem, but uncovering that would be helpful.

[2020-07-20 20:55] joseph-robertson commented on #3578
@kbenne to provide opinion/suggestion.

[2020-07-20 21:00] joseph-robertson commented on #3405
Need to determine whether this (and other floorspacejs related issues) is on the SDK side or floorspacejs side.

[2020-07-20 21:17] lefticus commented on #3835
Yes, if I disable the model only the times go all the way down to something like .28s. It's by far the bulk of the work (and the profiler agrees).

[2020-07-20 21:21] kbenne commented on #3578
I feel like an osw with no steps should be valid. My vote would be remove to remove the warning/error completely, but with that, also make it so that the workflow runs and does nothing.

[2020-07-20 21:27] shorowit commented on #3835
@lefticus Are you running it with the `-e` argument? I.e., `openstudio --no-ssl -e "puts 'hello'"`?

I feel like @joseph-robertson looked at this at one point and found a fairly significant amount of time spent in the ruby gem handling code. Not sure if he still has the numbers.

[2020-07-20 21:33] kbenne commented on #3835
If we take @lefticus data as truth. Are there use cases that would justify selectively disabling the the OpenStudio Model with a cli flag? Can we lazy load the model?

[2020-07-20 22:00] kbenne commented on #3835
what am I saying of course we *can* lazy the load openstudio. We have reimplemented `require` and within that implementation we could `if require_path == openstudio then initOpenStudio` but should we? I wonder if there are people out there using the openstudio cli, using OpenStudio api, but omitting require 'openstudio'. Certainly they could be doing that as the code is written today.

[2020-07-20 22:04] shorowit commented on #3835
This is really interesting. I just realized that we have situations where we use the OpenStudio CLI but don't do anything with the OS Model. We basically just use the CLI as a ruby processor. If it's easy to avoid loading the OpenStudio Model under these situations, I'd be very much in favor of that.

[2020-07-20 22:10] kbenne commented on #3835
" And indeed we don't call require 'openstudio' in these cases." I wouldn't expect so if you aren't using the openstudio api. but what about people who are using the openstudio api but forgot the require. Maybe those people don't exist. or if they do maybe it is ok to break their code

[2020-07-21 00:28] lefticus commented on #3835
We can use module autoload capability to load Openstudio when it's first used.

There will be a few moving parts.

 * autoload must be tied to a .rb file, so there will need to be more .rb files embedded
 * We'll need to expose the code for calling into the executable to register OpenStudio into ruby, back out to ruby (so it can be called by the .rb file mentioned previously)

It should be stable,

[2020-07-21 02:37] kbenne commented on #3835
go forth @lefticus and make it so if you are able.

[2020-07-21 03:43] gagsters888 opened #4022 "Importing GbXML model into Openstudio from IES software"
Hi,

I have a building model from IES and I have export it as a GbXML file and tried to open it in openstudio but i got the following error that is shown in attachment_1. It says that the openstudio could not find the adjacent space etc. however I am still able to edit all my level 3 spaces. May I check with you how will this missing "adjacent surfaces" error affect my simulation?
![Attachment_1](

[2020-07-21 07:34] theo-armour commented on #3684
@joseph-robertson

Regarding #2. I believe that many gbXML files exported by Autodesk Revit are in 16-bit format.

Here is a link to a sample:

https://github.com/ladybug-tools/3d-models/blob/master/gbxml-sample-files/first-batch/bristol-clifton-down-road-utf16.xml

Regarding #1. I have solved the issues in recent version of the Spider gbXML Viewer ZIP file extractor. See these lines of code

http

[2020-07-21 14:45] lefticus commented on #3835
@kbenne I'll give it a shot.

[2020-07-21 22:17] tanushree04 commented on #3266
Issue in Floorspace.js and not the SDK

[2020-07-21 22:51] tanushree04 commented on #3405
The issue seems to be on the SDK side.

[2020-07-22 00:06] mdahlhausen commented on #4020
Not sure.  Maybe some interaction with always on discrete schedule and the night cycle?  I haven't tried this in OS 3.0 yet.  Seems like a bug for sure.

[2020-07-22 03:52] macumber commented on #3578
The issue here wasn't that a workflow with no steps wouldn't run, it was that you were trying to run a measure (even though it was in a test) but that measure isn't listed in the workflow.  The idea here was if you are running a measure you should be able to find it in the current runner.workflow.

[2020-07-22 03:54] macumber commented on #637
Biggest issue is that you are having to load and parse like 30 idd files.  You should not have to load old idd files to do the version translation, you are basically just applying rules to text files until you get to the current version.

[2020-07-23 13:57] lefticus commented on #637
@joseph-robertson can you give me a specific test to run that demonstrates the issue?

[2020-07-23 21:02] tanushree04 commented on #2967
Issue seems to be on the SDK side and not on the floorspace.js side

[2020-07-23 21:20] tanushree04 commented on #3167
This issue seems to be on the floorspace.js side, move to https://github.com/NREL/floorspace.js/issues?

[2020-07-25 04:29] arif-hanif commented on #4003
i am having similar issues in a revit add-in

[2020-07-25 15:08] DavidGoldwasser opened #4025 "Limited functionality of clone Space"
Issue overview
--------------
Clone spaces works for for typical models, but I'm using a model with a number of additional objects that could be but are not handled by the clone.

Update: just wanted to clarify that my use case here is cloning from model_a to model_b, not within the same model.

## Current Behavior

- [x] OS:SurfaceProperty:ExposedFoundationPerimeter assigned to surfaces in the sp

[2020-07-25 15:13] DavidGoldwasser commented on #4025
@kbenne thought you might be best to decide who should do this, if not you. For process I'm using to merge multiple OSM's into one OSM for multifamily URBANopt I will also be pushing clone for zones and air loops. I understand that for those clone isn't so start forward as it is hard to decide how deep to go and which objects belong to a terminal or a zone, in the case of something like a terminal

[2020-07-31 14:35] tijcolem commented on #3883
Closing this ticket as the recommended solution is to upgrade Windows >= Version 10.0.18363.900

[2020-07-31 14:35] #3883 closed

[2020-08-04 09:22] jmarrec commented on #4016
It'b de awesome if you could provide the faulty OSM directrly. The repo is 800 MB, and not sure how to run the workflow (cannot find Shoes version to be used, and I see paths harcoded for a mac machine too)

[2020-08-04 10:20] jmarrec commented on #4020
I was able to reproduce, I edited the OP to include steps to reproduce.

[2020-08-04 11:57] jmarrec commented on #4022
Any chance you could share the gbXML model?

[2020-08-04 14:46] DavidGoldwasser commented on #4016
@jmarrec shoes was just an experiment to see if a quick GUI could be made as OSW runner, not needed for anything. @rwadhwa910 or I can get you the files you need, I probably can't get to it until tonight but Rajat might be able to sooner.

@rwadhwa910, if you run PAT you can just provide the OSM from the effected datapoint. If we need to we can also provide an OSW and zip file of measures (if the

[2020-08-04 14:52] gagsters888 commented on #4022
yes sure.

This is the link for it.

https://drive.google.com/file/d/1qcWATVZAeEFqpZopLvBdT8bIPn35Im4O/view?usp=sharing

[2020-08-04 16:11] DavidGoldwasser commented on #4025
Just to add some details about `OS:SurfaceProperty:ExposedFoundationPerimeter`. While zone isn't optional for these they come in malformed without the zone field. My first work around was to check for nil zone and remove object
[code]

I then improved this a bit to fix them in place, but had to rely on setString as there isn't an API to set the surface.
[code]

[2020-08-04 16:14] DavidGoldwasser commented on #4025
Here is work around for convection coefficients. In both cases here an above when using a hash. The hash contains information from the source model of the cloned object that I use to help rebuild in the new model
[code]

[2020-08-05 03:56] DavidGoldwasser opened #4031 "Limited functionality of clone Thermal Zone"
Issue overview
--------------
Some elements that could be cloned with thermal zones are not

## Current Behavior
When cloning a thermal zone (in my case from one model to another) ZoneHVACComponent objects associated with a zone do not get cloned.

Air terminals are already cloned with air loops so they probably should not be cloned with the zone. Similar may be true if any ZoneHVACComponent objec

[2020-08-05 04:04] DavidGoldwasser commented on #4025
One other item to add to list.

[ ] OS:Foundation:Kiva, (This is referred to by surfaces)
[ ] OS:Foundation:Kiva:Settings (related item, but this can only have single instance, so maybe it should only be cloned if the model the prior object is being cloned to doesn't already have the settings objet

[2020-08-05 06:44] jmarrec commented on #4016
IDF ends up ill-formed and has a NaN inside. I'll track down the root cause.

[code]

[2020-08-05 07:17] jmarrec commented on #4016
Oh fun:

E+ Idd:
[code]

OS Idd:
[code]

OS looks like it assumes there is a default, but no:

https://github.com/NREL/OpenStudio/blob/ff0e898ff96e0653e1b72da4200a3403b927fdaa/src/energyplus/ForwardTranslator/ForwardTranslateZoneHVACTerminalUnitVariableRefrigerantFlow.cpp#L461-L463

I think the idea was that it's made a required-field, but handled in Ctor:

https://github.com/NREL/OpenStudio/blob/

[2020-08-05 08:18] jmarrec commented on #4016
Ah geez #3687 got merged to develop3, not develop. So the VT is happening in the wrong version...

[2020-08-05 09:26] jmarrec commented on #4016
@rwadhwa910 @DavidGoldwasser For a workaround, you basically want to replace the VRF_Terminal.osc with a 3.0.0 version that will work:

[code]

[2020-08-05 09:45] jmarrec commented on #4022
Your XML is faulty. Taking an example:

[code]

Space id="LV000006" does exist, no problem. LV000002 is not in your XML.

I load the gbxml using the bindings:

[code]

So the gbXML ReverseTranslator does warn you about it:

[code]

[code]

[code]
puts surface.space.get.nameString
=> RA: Video Recording Room
[code]

So this probably does what you want in the end. Anyways, this is not an OpenStudio

[2020-08-05 09:45] #4022 closed

[2020-08-05 16:05] DavidGoldwasser commented on #4022
@gagsters888 I wonder if using the "Adjacent Buildings" In IES is creating the issue. As an example if in OpenStudio you had three zones in a raw adjacent to each other, and match the surfaces, but only assign a zone to the middle space. The IDF could be malformed or provide unexpected results because the adjacent spaces were not in a zone and therefore would not make it to the IDF. (It would eith

[2020-08-05 17:11] DavidGoldwasser opened #4033 "Limited functionality of clone AirLoopHVAC"
Issue overview
--------------
My use case is cloning from one model to another model, not within a model. I may find more issues, but I wanted to file with this initial problem.

- [ ] AvailabilityManagerAssignmentList isn't cloned with the air loop. This results in crash of app when go to control tab for the air loop, or failed export to IDF. This may be general clone Loop issue and not specific

[2020-08-05 17:56] DavidGoldwasser commented on #4033
Separate issue could be why ` OpenStudio::Model::AvailabilityManagerAssignmentList.new(air_loop)` doesn't associate the new list object with the air loop passed in as an argument.

[2020-08-05 22:07] tanushree04 commented on #3620
The current error message on adding the full path of the measure and not the measure folder name as required in the `measure_dir_name` leads to this message :
`/ruby/2.2.0/gems/openstudio-workflow-1.3.4/lib/openstudio/workflow/util/measure.rb failed with message Invalid argument @ dir_s_mkdir - C:/debug/run/000_C: in :/ruby/2.2.0/fileutils.rb:252:in 'mkdir'`

A check and error message warning agai

[2020-08-05 23:33] macumber commented on #2941
@jmarrec is this tagged for OS 3.1.0?  Is there any design on how this would work?  Would OS just forward E+ std out or would it use the E+ progress API?

[2020-08-06 11:47] jmarrec commented on #3974
Follow https://github.com/NREL/OpenStudio/pull/4027 for progress. I don't know if kyle will make a package for 3.0.0 since we're already at 3.0.1.

[2020-08-06 12:37] lefticus commented on #637
@macumber 38 Idd files at least, it seems.

[2020-08-07 13:47] #2100 closed

[2020-08-07 13:49] #3936 closed

[2020-08-07 14:29] #3835 closed

[2020-08-07 15:22] tijcolem commented on #3994
Since we are actively pushing to s3 and it's viewable externally, I'm going to close this issue.  We'll have a better longer-term solution to view logs but for now this will have to do.

[2020-08-07 15:22] #3994 closed

[2020-08-07 16:18] tijcolem commented on #3921
@jmarrec Looks like we should go with option 1 on this. This is tagged for 3.1.0 release so just wanted to follow up on this.

[2020-08-07 17:22] tijcolem commented on #3962
We'll be closing this issue in favor of focusing time on the new epJSON format for E+.

[2020-08-07 17:22] #3962 closed

[2020-08-07 17:39] #3076 closed

[2020-08-09 17:43] DavidGoldwasser opened #4034 "Limited functionality of clone PlantLoop"
Issue overview
--------------
Similar issue to Issue #4033 with missing availability manger assignment list in cloned plant loop.

## Current Behavior

## Expected Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Possible Solution
The work around is similar to air loop bud different field to change in the plant loop.
[code]

## Details

### Environment

Some additional details about your environme

[2020-08-10 14:07] #4020 closed

[2020-08-10 15:57] lefticus commented on #637
# Intro

I look into Dan's comments on whether or not all of the IDD's need to be parsed. As far as I can tell, only the necessary IDD's are currently being parsed, based on the model file that is trying to be opened. I don't think there's anything further that can be done there.

I considered options like lazily loading only the pieces of the IDD that actually needed to be used for translation. T

[2020-08-10 16:21] #4016 closed

[2020-08-10 16:27] #3990 closed

[2020-08-10 17:23] DavidGoldwasser opened #4035 "openstudio measure --run_tests fails in some situations"
Issue overview
--------------
I'm running this on a private repository, and it fails to complete for this specific repository. There is something in one or more measures that creates the issue, but I have not identified what.

## Current Behavior
 ========================= Starting Run for Minitest (and coverage) ============================
Current directory is /Users/dgoldwas/Documents/GitHub/NR

[2020-08-10 18:18] #2797 closed

[2020-08-10 18:24] lefticus commented on #637
After I get some feedback on the possibilities I'll make a proper PR.

[2020-08-10 19:13] DavidGoldwasser opened #4036 "Issue with Plenums generated with FloorSpaceJS"
This UH post along with video in answer comments document the issue. Windows get added to plenum zones. It isn't clear to me if something is wrong in FloorSpaceJS or if if this is just in the translation to OSM. Thought I would file here first, and can move to FloorSpaceJS if requires change there as well
https://unmethours.com/question/44307/how-can-i-delete-the-plenum-door/
--------------

## Cu

[2020-08-11 09:41] jmarrec commented on #2941
This seems to be assigned to @kbenne at the moment.

I have not thought about this one since E+ gained the `api/runtime.h` header and the `registerProgressCallback` and `registerStdOutCallback`. Before that, I would have just assumed it would simply forward the stdout.

Using the API is probably a good idea, but that would mean revamp the entire way of running energyplus in the workflow-gem.

The

[2020-08-11 17:00] eringold commented on #1400
@DavidGoldwasser why was this closed? OpenStudio does not have ZoneHVAC:OutdoorAirUnits

[2020-08-11 17:03] jmarrec opened #4038 "Re-enable `-Wall` on Unix"
Issue overview
--------------

https://github.com/NREL/OpenStudio/commit/8db1b93438e47b234853a2c011061a577458021c had disabled `-Werror` **AND** `-Wall`

https://github.com/NREL/OpenStudio/issues/3577 only re-enabled `-Werror` but not `-Wall`

## Possible Solution

Re-enable `-Wall`, and fix all build errors that will arise in the process.

## Details

### Environment

Some additional details abou

[2020-08-11 17:45] TheEnergyTutor opened #4039 "Can you add "design return airflow fraction" to the OpenStudioSDK?"
Enhancement Request
--------------
Energy Plus has this feature but OpenStudio does not.
It is important because often supply fans are not the same size as supply fans due to separate building exhaust fans and Ashrae requirements for bathrooms.

## Detailed Description
https://www.youtube.com/watch?v=G_qk_FGXMlo
This video shows how to do it through code which is way too much work for a simple set

[2020-08-12 11:06] jmarrec commented on #4039
here's the link to the E+ I/O ref for this field on AirLoopHVAC: https://bigladdersoftware.com/epx/docs/9-3/input-output-reference/group-air-distribution.html#design-return-air-flow-fraction-of-supply-air-flow

Seems like this field was added in E+ 8.8.

E+ IDD
[code]

It's a numeric field, so easy to add getter, setter, and FT.

Make that required-field instead, and set it to 1.0 in the Ctor. Thi

[2020-08-12 16:10] shorowit opened #4041 "Incorporate EnergyPlus v9.4 Changes"
Enhancement Request
--------------

Central issue for EnergyPlus v9.4 changes to be incorporated into OpenStudio 3.1.

I'm sure there are many more, but seeding the list with items of particular interest to NREL Residential. Just want to make sure these aren't forgotten.

- [ ] Updates to FuelOil outputs? https://github.com/NREL/EnergyPlus/pull/8134
- [ ] Allow coal for Coil:Heating:Fuel https://g

[2020-08-12 19:53] joseph-robertson opened #4042 "Update to EnergyPlus 9.4.0"
Enhancement Request
--------------

v9.4.0-IOFreeze is released, so we should update to it.

## Detailed Description

https://github.com/NREL/EnergyPlus/blob/v9.4.0-IOFreeze-RC1/src/Transition/InputRulesFiles/Rules9-3-0-to-9-4-0.md

### Major changes

- [ ] Allow multiple shading controls for a subsurface https://github.com/NREL/EnergyPlus/pull/8196
- [x] Update WaterHeater:Stratified FT to avoid

[2020-08-12 20:08] shorowit commented on #4041
Included in https://github.com/NREL/OpenStudio/issues/4042.

[2020-08-12 20:08] #4041 closed

[2020-08-12 20:42] #4038 closed

[2020-08-12 20:49] jmarrec commented on #4039
Retitled the issue since this repo only deals with SDK. moved the App portion to https://github.com/openstudiocoalition/OpenStudioApplication/issues/210

[2020-08-12 21:03] jmarrec commented on #2614
@DavidGoldwasser Is this true for 3.x too?

[2020-08-12 21:09] jmarrec opened #4043 "Fix or disable failing unit tests"
Issue overview
--------------

At least these tests are failing **sometimes** (but often enough to be really annoying). They should be fixed or disabled.

* [ ] EnergyPlusFixture.ForwardTranslatorTest_MultiThreadedLogMessages (Failed):
    * this is known, cf https://github.com/NREL/OpenStudio/pull/3912
* BCLFixture: I think this looks like a timeout issue from web requests... they fail after 60s

[2020-08-12 21:12] jmarrec commented on #3733
This works now.

[2020-08-12 21:12] #3733 closed

[2020-08-14 00:25] tsbyq opened #4046 "A bug related to OS:Schedule:File and OS:External:File with OpenStudio App"
Issue overview
--------------

When exporting an OpenStudio model with OS:External:File objects to IDF with OpenStudio App, related schedule objects are not translated properly. EnergyPlus simulation with the exported IDF fails due to blank "File Name" field in the Schedule:File.

## Current Behavior

The OS:Schedule:File and OS:External:File objects are not handled correctly. Two unexpected behav

[2020-08-14 14:22] #3832 closed

[2020-08-14 16:42] #1675 closed

[2020-08-14 23:52] jmarrec commented on #3940
Fixed by #4015 : I upload all dependencies we use to NREL's remote (with binary packages for all platforms / settings we use), which I am placing first in line.

In #4047 I will also pin exactly the recipe revisions

[2020-08-14 23:55] #3940 closed

[2020-08-16 21:52] macumber commented on #4036
I am planning to take a look at this unless anyone else is?

[2020-08-16 21:54] macumber commented on #4046
I can also take a look at this unless someone else is

[2020-08-17 15:18] #4039 closed

[2020-08-17 15:18] #3369 closed

[2020-08-17 17:01] DavidGoldwasser commented on #4036
@macumber I don't think anyone else is working on this.

[2020-08-17 17:14] DavidGoldwasser commented on #2614
@jmarrec I think this is still valid. It is mostly a documentation task, but The Application could enforce name rules, but not sure how that would work. I have another task to add new measure and copy measure to CLI. Same issue could come up there.

[2020-08-21 15:27] tijcolem opened #4051 "OpenStudio 3.1.0 Release Checklist"
**Tentative Schedule**
|  |   |   |   |  |  |
|---|---|---|---|---|---|
| OS SDK v3.1.0  Code Freeze  | | | 2020-09-04  |  |
| OS SDK v3.1.0 Release Candidate Start  | | | | 2020-09-25   |
| OS SDK v3.1.0 Deliverable Final | | | | | 2020-10-16  |
| EnergyPlus Code Freeze  | 2020-08-14  |  |||
| OS Standards Code Freeze  | |  2020-08-28  |
| OS Extension Gems Code Freeze  | |  2020-08-28  |
| OpenS

[2020-08-22 20:30] jmarrec opened #4053 "Air to Water Heat Pump has draft level strictness of 23F on Min Inlet Air Temp Compressor Operation"
Issue overview
--------------

Originally filed by @snlavu on https://github.com/openstudiocoalition/OpenStudioApplication/issues/109

Air to Water heat pump in open studio will not allow entry below 23F. Energy plus does not have this limitation.

## Current Behavior
Reverts to 23F while trying to input lower values.

## Expected Behavior
No limit on this entry similar to energy plus.
## Steps to

[2020-08-23 04:49] macumber opened #4054 "ModelMerger does not merge Building and Site objects"
Issue overview
--------------
ModelMerger is used to merge information between two OpenStudio Models.  This can be used to import geometry from an updated external source (e.g. FloorspaceJSON, gbXML, IDF) into an OpenStudio model with other content (e.g. HVAC systems).

## Current Behavior
Building and Site information from the updated model are not imported.

## Expected Behavior
Building and Sit

[2020-08-24 14:57] jmarrec commented on #4042
I think we're going to need a big sweep in our codebase and a beefy VersionTranslation for https://github.com/NREL/EnergyPlus/pull/8207 (fuel type rename)

[2020-08-24 15:16] jmarrec commented on #4042
[code]

[2020-08-24 17:58] KaiyuSun opened #4056 "Enable the height of outdoor air node"
Enhancement Request
--------------

EnergyPlus can define the **height for outdoor air nodes**, which will impact the weather conditions (e.g. temperature and wind speed) vertically. The vertical variation of weather conditions has a significant impact on energy and load for tall buildings. This is needed for the tall building prototype model, but is not enabled in OpenStudio yet.

## Detailed Des

[2020-08-24 18:00] shorowit commented on #4042
## SDK Proposal for Allow multiple shading controls for a subsurface (NREL/EnergyPlus#8196)

### Current methods for [OpenStudio::Model::SubSurface](https://openstudio-sdk-documentation.s3.amazonaws.com/cpp/OpenStudio-3.0.1-doc/model/html/classopenstudio_1_1model_1_1_sub_surface.html)

These are the current methods associated with the shading control:

[code]

Since 99% of users will have a single

[2020-08-24 21:28] antonszilasi opened #4057 "utilities.Transformation - Cannot compute outward normal for vertices"
Issue overview
--------------

Intermittently when importing a Floor js json into an OSM the import fails with the following errors and warnings seen below:

However when I try to import the same json again it will work intermittently. I have provided a google doc link to an example json where the import failed (and sometimes succeeds)

https://drive.google.com/file/d/1yq5tUGpHk7si_4fHdXDINL2RF_6X

[2020-08-25 07:58] jmarrec opened #4058 "Clean up references to OSApp/sketchup/resultsviewer plugin in the repo files (developper docs)"
Issue overview
--------------

https://github.com/NREL/OpenStudio/blob/1773b54ce1cb660818ac0114dd7eefae6639ca36/develop/INSTALL.md
https://github.com/NREL/OpenStudio/blob/1773b54ce1cb660818ac0114dd7eefae6639ca36/develop/SketchUpInstallName.rb

https://github.com/NREL/OpenStudio/blob/1773b54ce1cb660818ac0114dd7eefae6639ca36/develop/README.md as well.

https://github.com/NREL/OpenStudio/blob/1773b54

[2020-08-25 15:53] jmarrec commented on #4042
I would add a `boost::optional<unsigned> shadingControlIndex(const ShadingControl&)`, otherwise I think it makes sense

[2020-08-27 15:02] #4054 closed

[2020-08-28 13:30] jmarrec opened #4060 "Cloning a DualDuct AirLoopHVAC breaks the existing loop."
Issue overview
--------------

Cloning an AirLoopHVAC will break the existing loop, dangling three nodes.

## Steps to Reproduce

[code]

## Possible Solution

The AirLoopHVAC::clone isn't adding the supply splitter like it should (createTopology doesn't do it)

## Details

### Environment

Some additional details about your environment for this issue (if relevant):
 - Platform (Operating system,

[2020-08-28 14:46] jmarrec commented on #4033
https://github.com/NREL/OpenStudio/blob/757b0337ae7bc75a2d17a5853ef891300c47a154/src/model/AirLoopHVAC.cpp#L766-L770

[2020-08-28 14:47] jmarrec commented on #4033
[code]

[2020-08-28 14:48] jmarrec commented on #4033
Oh yeah no wonder, this is is really dumb (I did that, mind you):

https://github.com/NREL/OpenStudio/blob/757b0337ae7bc75a2d17a5853ef891300c47a154/src/model/AvailabilityManagerAssignmentList.cpp#L96-L118

[2020-08-28 14:52] jmarrec commented on #4033
Replace : https://github.com/NREL/OpenStudio/blob/757b0337ae7bc75a2d17a5853ef891300c47a154/src/model/AirLoopHVAC.cpp#L766-L770
 with

[code]

And somehow just disable the `AvailabilityManagerAssignmentList_Impl::clone` or something.

[2020-08-31 16:16] joseph-robertson commented on #4042
Still a few items on this list that need to be implemented.

[2020-09-02 12:24] jkneifel opened #4062 "Error reporting autosized capacity for CoilHeatingGas object"
Issue overview
--------------

The current code for pulling the autosized value for CoilHeatingGas is failing to find the value because it is looking for "Design Size Nominal Capacity" for "Coil:Heating:Gas" in the E+ results but the results are reported in "Coil:Heating:Fuel". This error is only for gas heating coils; the same approach works for electric heating coils.

## Current Behavior

The v

[2020-09-02 23:24] rwadhwa910 opened #4063 "Remove the deprecated AirWallMaterial class"
There are two separate construction for air wall which when used gives different results for lighting load,

As you can see in the screenshot I have assumed the Lighting density to be 1 W/ft2 for atrium, Using both of them gives different results, It looks the air wall material taken form library gives accurate result as the summation of the lighting loads results to 1W/ft2 unlike the construction

[2020-09-02 23:56] DavidGoldwasser commented on #4063
@kbenne we can talk about this in iteration meeting on Friday. This relates to when spaces are stacked in a zone for large space like atrium no floor or partial floor on upper stories. There is logic in (or I think prior to) forward translation when space types are expanded. When an air wall (old air wall material in construction) is used it deducts that floor area from the load calculations that

[2020-09-03 00:11] DavidGoldwasser commented on #2384
While link to old code at top of this still works, I wanted to provide link to current version of ideal air loads measure which is what we primarily use to add ideal air loads vs the `thermal_zone.setUseIdealAriLoads` method.
https://github.com/NREL/openstudio-common-measures-gem/blob/develop/lib/measures/EnableIdealAirLoadsForAllZones/measure.rb#L91

[2020-09-03 09:51] jmarrec commented on #4062
Nope, that's not why it doesn't work as this is correctly handled in `ModelObject_Impl::getAutosizedValue`

https://github.com/NREL/OpenStudio/blob/1c9617fa4ed89ff595b712849bd34f575d7197a4/src/model/ModelObject.cpp#L257-L260

It works plenty fine. To diagnosticate why it's failing, use the bindings and recreate the query, and look at the log messages you get.

[code]

[2020-09-03 10:05] jmarrec commented on #4042
* [ ] I made a mistake in doing search and replace, Should still be `Coil:Heating:Gas` in https://github.com/NREL/OpenStudio/blob/fa9a77bf173556a2a044f64789a7f4f01b0df076/src/model/ModelObject.cpp#L257-L260

[2020-09-03 10:08] jmarrec commented on #4062
@jkneifel Thanks for reporting the issue! (It did help me notice I introduced a problem in that file very recently too)

If you have trouble figuring out what's going, you can share your model and I'll take a look.

I'm going to close this one, and can reopen if after investigation you still think it's an OpenStudio bug.

[2020-09-03 12:59] jkneifel commented on #4062
Julien,
Thanks for the response. I cannot seem to figure out the issue, but I am a relative novice to OpenStudio. I appreciate any help you are willing to provide because I am at a loss.
I have provided a ZIP of my measure (attached) with the OSM model with an autosized gas heating coil within a unitary system in the "test" subfolder. There is a lot going on in the measure, but the specific code t

[2020-09-03 13:26] jmarrec commented on #4062
@jkneifel Adding attachments when replying to a github notification email does not work unfortunately. Would you mind hosting a zip on a file sharing website (google drive, dropox, wetransfer, whatever)? Otherwise you can email me directly at julien at effibem dot com.

[2020-09-03 13:36] jkneifel commented on #4062
Sorry. Did not realize that. Here is a path to the zip file on my google drive. https://drive.google.com/file/d/1QNlZqBF07R-IQxF-D4NDXvb9AYnbAzX8/view?usp=sharing

[2020-09-03 13:48] jmarrec commented on #4062
@jkneifel I requested access to it

[2020-09-03 13:59] jkneifel commented on #4062
Sorry, having issues with my work drive. Here is a link for my personal drive. https://drive.google.com/file/d/1nEzTKGzVnAfJnHKWYFj8RyCIDMVcNMjT/view?usp=sharing

[2020-09-03 14:35] shorowit commented on #4042
@jmarrec FYI, WaterHeater:Stratified FT _does_ need to be updated. All 12 coefficients default to zero when you create a new WaterHeaterStratified object and there are no checks on the number of nodes when the values are forward translated to IDF.

[2020-09-03 16:16] jmarrec commented on #4042
@shorowit I made the eplus PR that avoids the warning and it should not warn if extra nodes are zero (which is also what IDF editor does). But it can't hurt to update the FT on top

[2020-09-03 16:24] shorowit commented on #4042
@jmarrec Hmm. I was just going by the description of your EnergyPlus PR that says "Do not throw a warning when NumNums is greater than 33 + Tank.Nodes AND the extra ones are **blank**". I thought that extra zeroes would (and should, IMO) cause a warning.

[2020-09-03 16:41] shorowit commented on #4042
But if your PR ignores extra zeroes, then I agree that OS doesn't need updating.

[2020-09-03 23:25] chriswmackey opened #4064 "RunPeriodControlSpecialDays are not Forward Translated"
Issue overview
--------------
Even though ScheduleRuleset officially supports holidays now [thanks to @jmarrec 's addressing of this issue](https://github.com/NREL/OpenStudio/issues/3783) it seems I'm still unable to get the `RunPeriodControlSpecialDays` that I add to the Model to show up in the IDF.

## Current Behavior
I would expect the following code to add a holiday to the IDF:
[code]
I can `

[2020-09-04 02:34] arif-hanif commented on #4003
@tijcolem  is that package published yet?

[2020-09-04 15:30] kbenne commented on #4034
@DavidGoldwasser never mind. I found that the issue is specific to cloning between different models. I got this.

[2020-09-04 16:29] tijcolem commented on #4056
Should we confirm with @mdahlhausen if this is needed in standards?

[2020-09-04 17:19] DavidGoldwasser commented on #4057
Interesting (not in good way) that it is non-deterministic. Are you using the OpenStudio Application to convert FloorSpaceJS to OpenStudio, or are you using measure or stand alone script?

I did publish a measure for this as I wanted to do it outside of a GUI.
https://github.com/NREL/openstudio-model-articulation-gem/tree/develop/lib/measures/merge_floorspace_js_with_model

I run this diagnostic s

[2020-09-04 18:45] tijcolem commented on #4003
@arif-hanif If your referring to the NuGet packages, yes those are posted and can be found here:  https://www.nuget.org/packages/OpenStudio/3.0.1

[2020-09-04 20:12] tijcolem opened #4067 "OpenStudio CLI and ruby envs"
## Current Behavior

When using the openstudio cli with ruby managers such as rvm, envs that are set by rvm in the current shell can be read by the CLI and cause errors.

## Expected Behavior
The CLI should not read these values.

## Steps to Reproduce
For instance, running the following test using the CLI produces the following.

[code]
Does not fail when using the system ruby as envs get unset.

[2020-09-05 16:23] macumber commented on #4057
The non-deterministic aspect was partially addressed in:

https://github.com/NREL/OpenStudio/pull/4055/files#diff-8cafc578c17f0520f10020b4dfdd9757

[2020-09-05 19:12] macumber opened #4070 "Nightly build packages overwrite previous sha"
## Current Behavior
It appears that nightly builds overwrite previous packages if the sha does not change for several days.

## Expected Behavior
Nightly builds should be written to a different path or file name so they don't overwrite existing packages

### Context
OS App pulls down OS packages but cannot confirm these because the MD5 sum changes for the same package

[2020-09-05 19:12] macumber commented on #4070
@jmarrec fyi

[2020-09-08 16:35] KaiyuSun commented on #4056
Thank you @tijcolem for the triage. Yes, our team have communicated with @mdahlhausen about this via email a couple of weeks ago.

[2020-09-08 16:46] mdahlhausen commented on #4056
@tijcolem yes, this is needed in for openstudio-standards development.

[2020-09-09 00:20] tijcolem commented on #4070
The nightly build is on a cron to run daily regardless of a commit so that is why it's overwriting the s3 packages. This was set-up primarily due to conan dependencies that can cause issues and break the build and it's nice to be able to detect this early on.  This is less of an issue now as @jmarrec versioned our conan deps to our own remote but I think it's still good to run these nightly, at le

[2020-09-09 11:10] jmarrec commented on #3921
@kbenne Actually, I implemented the systems() method for these three in #3920 and it's only been released in 3.0.1... I would say we do not leave the `OS_DEPRECATED systems()`. I doubt anyone has used it, and we'll have to carry it for several versions...

[2020-09-09 13:45] jmarrec commented on #4042
@shorowit I'm going on the safe / crystal clear side, and do not translate the nodes for WaterHeaterStratified is > numNodes: cf #4050 ae124dab4e05c5b95f19f451f627358e976a94c7

[2020-09-09 13:46] kbenne commented on #3921
ok. I guess then `systems()` is gone.

[2020-09-09 20:47] jkneifel commented on #4062
@jmarrec Were you able to get access to the zip file through either drive? Thanks.

[2020-09-09 21:05] tijcolem commented on #4070
This is now enabled for the nightly builds.

e.g. Output on Jenkins.
<img width="1254" alt="Screen Shot 2020-09-09 at 3 03 18 PM" src="https://user-images.githubusercontent.com/7087120/92654970-dda40780-f2ad-11ea-9be6-52a4814992a8.png">

[2020-09-09 21:05] #4070 closed

[2020-09-11 07:05] jmarrec commented on #4064
@chriswmackey there is a flag, that is false by default, that will tell the FT whether it should translate the special days or not... It's been there for at least 7 years.

https://github.com/NREL/OpenStudio/blob/fa9a77bf173556a2a044f64789a7f4f01b0df076/src/energyplus/ForwardTranslator.cpp#L106-L112

As I indicated in https://github.com/NREL/OpenStudio/pull/3814/files#discussion_r356545389, I thin

[2020-09-11 15:32] kbenne commented on #4031
@DavidGoldwasser based on extended conversations on Slack, I think @jmarrec's commit is the only change we have planned at this time. Are you ok with that? Can I close or would you like to leave open for a future time when perhaps we might implement something like `deepClone`?

[2020-09-11 18:06] kbenne commented on #4025
@DavidGoldwasser FoundationKivaSettings is a child of the Site and therefore cloned at that level. I guess I could check if there is a KivaSettings object when the Space is cloned and if not bring the KivaSettings over at that time. I kind of feel like this is a bit magical though and I would prefer to leave that alone. I have made a change to bring FoundationKiva (not settings) over with the `Sur

[2020-09-11 18:38] DavidGoldwasser commented on #4025
While I would welcome the approach that clones setting if it doesn't already exist, since it is child of site, I can understand wanting to leave it alone, so I'm ok with leaving KivaSettings alone.

[2020-09-11 18:40] kbenne commented on #4025
hmm... if there are not KivaSettings but FoundationKiva is used, does the simulation fail? That might be justification for cloning settings over with FoundationKiva

[2020-09-11 19:29] DavidGoldwasser commented on #4025
Yes, it will fail. I think there might be a way to do getKivaSettings similar to getSite that can make it on the fly if it doesn't already exist, but I cloned it in my measure so I can maintain the specific settings from the mdoel that used Kiva instead of making a new one with OpenStudio defaults.

[2020-09-14 09:47] jmarrec commented on #4046
DId you end up looking at it @macumber?

[2020-09-14 09:49] jmarrec commented on #4003
We need to close this issue or re-title it and add action items. Otherwise it'll stay in limbo for ever.

1) Close
2) Document the need to place libs in the run folder
3) Make the libs go to the run folder automatically via nuspec or other.

Thoughts @kbenne @tijcolem ?

[2020-09-14 12:11] asparke2 opened #4074 "Support all Shading Control Types in ShadingControl Object"
Fully support all `Shading Control Types` in ShadingControl Object
--------------
The OpenStudio IDD for the `OS:ShadingControl` object nominally supports a bunch of `Shading Control Types` (see IDD excerpt below).  These were added [in a PR in 2019](https://github.com/NREL/OpenStudio/pull/3715).  This limited implementation does not actually work for all of the control types because of the model

[2020-09-14 12:49] jmarrec commented on #4031
https://github.com/NREL/OpenStudio/commit/98e0109bb1f61301632581a9cc65f0f18c8865c7 serves no purpose currently, as it will encounter a PortList and the PortList has a Name field which uses UUID as names. same for Connection object for that matter.

Another issue is that cloning a ThermalZone for eg will change the number of fields in the clone due to https://github.com/NREL/OpenStudio/blob/fa9a77b

[2020-09-14 13:40] macumber commented on #4046
On my list for this week

[2020-09-14 15:51] paczeterson opened #4075 "3D viewer causing OS to crash"
Issue overview
--------------
I created geometry in floorspace.js (https://drive.google.com/file/d/1OhMywtaWm1aTiDtioHe_jwYX1P8vSQ-G/view?usp=sharing), but when I load it into OS and merge the model, then I go to the 3D viewer it starts to load (the green progress bar advances a little) but then freezes and OS eventually crashes. I've had previous versions of the geometry (https://drive.google.com

[2020-09-14 16:14] mdahlhausen opened #4076 "Add New EnergyPlus Radiant System Enhancements to OpenStudio API"
Enhancement Request
--------------

EnergyPlus 8.4 got a big overhaul of how radiant systems are modeled and controlled.
This request is to support the new fields of the radiant system objects in the OpenStudio API to allow use in openstudio-standards.

## Detailed Description

Relevant pull requests on the EnergyPlus repo:
[8258](https://github.com/NREL/EnergyPlus/pull/8258)
[8193](https://github

[2020-09-14 16:27] #1906 closed

[2020-09-14 19:57] chriswmackey commented on #4064
Thank you for the response, @jmarrec .  It would be very helpful if the flag could be set to True by default or if it could be exposed in the OSW schema since I have no means of setting it to True in our current Ladybug Tools workflows.

We transitioned from using the C# bindings in our old (legacy) plugin to using measures, Ruby bindings, and the OpenStudio CLI in out latest plugins.  Generally,

[2020-09-14 20:57] jmarrec commented on #4064
@chriswmackey thanks for the context that is helpful to know. I did the changes already in the linked PR a few days ago, but it is still pending review

[2020-09-14 21:03] #4033 closed

[2020-09-14 21:03] #4034 closed

[2020-09-14 21:08] kbenne opened #4077 "Remove name field from common HVAC data objects that are not visible to user"
PortList and Connection are super common objects in the OpenStudio model. They are not visible to the user however they have name fields. Please remove the name field from these objects. There is likely a performance enhancement by doing this.

[2020-09-14 21:08] kbenne commented on #4031
@jmarrec I'm going to close this issue but I added an enhancement request to remove the name field from PortList and Connection. https://github.com/NREL/OpenStudio/issues/4077

[2020-09-14 21:08] #4031 closed

[2020-09-14 21:20] jmarrec commented on #4031
Works for me, thanks for opening #4077

[2020-09-14 21:23] #4064 closed

[2020-09-14 22:31] chriswmackey commented on #4064
Wonderful! Thank you, @jmarrec !

[2020-09-15 00:42] macumber commented on #4075
This probably belongs in the OpenStudioApplication repo, I created a duplicate issue: https://github.com/openstudiocoalition/OpenStudioApplication/issues/233

[2020-09-15 10:58] jmarrec commented on #4074
I found this problem independently while working on #4066, I came to open the issue only to realize you beat me to it, and the issue is well detailed. What I wrote on slack earlier is about the same, see below:

----

The default `setpoint` is 27 (W/m2, since it relates `OnIfHighSolarOnWindow` only ) in the model API
https://github.com/NREL/OpenStudio/blob/2aeb103bf2a9dc6db8ee53b917dded7ae22e24eb/

[2020-09-15 10:59] jmarrec commented on #4074
Additionally: all of these fields are problematic:

[code]

Shading Control Is Scheduled is set if you assign a Schedule to it so it's redundant, see https://github.com/NREL/OpenStudio/blob/2aeb103bf2a9dc6db8ee53b917dded7ae22e24eb/src/model/ShadingControl.cpp#L189-L197

The rest of them aren't even being used.

[2020-09-15 14:23] jmarrec opened #4078 "Outside Boundary Conditions not handled in DefaultConstructionSet_Impl::getDefaultConstruction"
Issue overview
--------------

`DefaultConstructionSet_Impl::getDefaultConstruction` does not handle some potential Outside Boundary Condition, like `GroundFCfactorMethod` in particular. Perhaps there is a justification for this one I'm not seeing, but it seems you **can** assign a `OS:Construction:CfactorUndergroundWall` to the Ground Wall and `OS:Construction:FfactorGroundFloor` on a Ground floo

[2020-09-15 18:27] shorowit commented on #4062
@jmarrec Does your above commit suggest that there _was_ a bug here?

[2020-09-15 22:37] jmarrec commented on #4062
@shorowit  I made a too greedy search and replace while doing the fuel type rename. There was a bug on develop for a few days but not in any release

I did get Joshua's files and took a lot and there is something weird happening though: inside the measure the autosizedNominalCapacity is not working, while if I use the same model and same sql under the run/ folder and try it out it works. I plan on

[2020-09-15 22:48] shorowit commented on #4062
Ah, got it, thanks for the explanation. In that case, I think we should reopen the issue while it's still under investigation.

[2020-09-16 09:52] jmarrec commented on #4062
@jkneifel I do not understand what's going on really.

If I go under <companion_folder>/run/ and do

[code]

 In your measure file `resource/HVACAndDHW.rb` I recreated and decomposed the SQL query the C++ should be doing inside the block

[code]

here is the output:

[code]

**As you can see, the manual queries are working just fine, yet the autosizedNominalCapacity is failing, but it's supposed t

[2020-09-16 10:07] jmarrec opened #4079 "Need to install (lib)pythonwrapper library from EnergyPlus v9.4 or unable to run any simulations"
Issue overview
--------------

EnergyPlus has a pythonwrapper library in E+ 9.4 that currently isn't actually installed. So if you take any CI package of current develop right now, and install it on a clean VM, you cannot run any simulations

[code]

### Environment

Some additional details about your environment for this issue (if relevant):
 - Platform (Operating system, version): all
 - Version

[2020-09-16 17:51] #4079 closed

[2020-09-18 08:51] jmarrec commented on #4077
@kbenne I started looking into it, and I think I see why you did it. This is the way the `\reference` and `\object-list` behavior is enforced in Workspace level.

Take for eg:
[code]

Without the name field, `setPointer` wouldn't work without some added code as a an exception.

[code]

[2020-09-18 09:03] jmarrec commented on #4077
I tested by loading a bunch of large models, it seems only PortList and Connection are affected by the fake name thing.

[code]

Then I went into OpenStudio-resources/model/simulationtests

[code]

It does return a few things but most of them as false positive. I suppose you could advocate that `ModelObjectList` perhaps shouldn't have a name field either as users aren't supposed to interact direct

[2020-09-18 12:58] jmarrec commented on #4077
Ok, so I implemented code changes to move the references in IddObject directly for PortList and Connection.

I did a benchmark by copying a few models and ruby scripts from the OpenStudio-resources repo, + added the hvac_library.osm and the output OpenStudio::Model::exampleModel().

My benchmarking script is this one:

[code]

Here are the results grahpically:

![image](https://user-images.githubu

[2020-09-18 12:59] jmarrec commented on #4077
## Original:

[code]

## Modified

[code]
[code]

[2020-09-18 13:12] jmarrec commented on #4077
Summing across tests:

![image](https://user-images.githubusercontent.com/5479063/93601346-5b0ffc00-f9c1-11ea-8363-3af624eb26d5.png)

[2020-09-18 13:19] jmarrec commented on #4077
![image](https://user-images.githubusercontent.com/5479063/93602020-51d35f00-f9c2-11ea-9339-830ba75876e8.png)

[2020-09-18 15:46] #4074 closed

[2020-09-18 16:08] tijcolem commented on #4025
closed via #4073

[2020-09-18 16:08] #4025 closed

[2020-09-18 16:10] tijcolem commented on #4003
Closed as this is now available via nuget package. https://www.nuget.org/packages/OpenStudio/3.0.1

[2020-09-18 16:10] #4003 closed

[2020-09-18 16:45] tijcolem commented on #4075
Close as this opened in[openstudiocoalition/OpenStudioApplication#233](https://github.com/openstudiocoalition/OpenStudioApplication/issues/233)

[2020-09-18 16:45] #4075 closed

[2020-09-18 16:51] tijcolem commented on #4078
@DavidGoldwasser Would you be able to reproduce this with 3.0.1 or when 3.1.0 is out?

[2020-09-18 17:23] #3921 closed

[2020-09-18 17:23] #4053 closed

[2020-09-18 21:17] kbenne opened #4082 "openstudio-model-articulation-gem create_bar_from_doe_building_type_ratios_test.rb fails"
Something like this will reproduce a runtime error

kbenne-35651s:openstudio-model-articulation-gem kbenne$  ../OpenStudio/build/Products/openstudio lib/measures/create_bar_from_doe_building_type_ratios/tests/create_bar_from_doe_building_type_ratios_test.rb

[2020-09-19 18:14] macumber opened #4084 "ShadingControl API breakage"
Issue overview
--------------
This PR https://github.com/NREL/OpenStudio/pull/4066 removed `bool SubSurface::setShadingControl(const ShadingControl& shadingControl)` and replaced it with `bool SubSurface::setShadingControl(ShadingControl& shadingControl)`

https://github.com/NREL/OpenStudio/pull/4066/files#diff-9ecdf3d12fc4284b259f2610059742e6R1382

## Current Behavior
Previously working C++ code

[2020-09-19 18:14] macumber commented on #4084
@jmarrec @tijcolem @joseph-robertson can this get fixed before 3.1.0 release?

[2020-09-21 15:21] #4067 closed

[2020-09-21 16:14] jmarrec commented on #4062
@jkneifel I had a lot of trouble figuring out why I wasn't hitting the C++ breakpoints I was setting until @kbenne put me on the right track.

your ruby resource files are:
1. WAY outdated
2. overwriting the methods of interest, cf `resources/HVACSizing.CoilHeatingGas.rb`

[code]

More importantly, cf `resources/HVACSizing.Model.rb` the `getAutosizedValue` is overwritten too but it's not taking th

[2020-09-21 16:14] #4062 closed

[2020-09-21 16:17] jmarrec commented on #4062
cd resources
/bin/rm -Rf HVACSizing*

Then go open measure.rb and remove the line 13 `require "#{File.dirname(__FILE__)}/resources/HVACSizing.Model"` and off you go, your measure runs to completion.

[2020-09-21 16:18] mdahlhausen opened #4087 "Forward translator issue related to fans"
Issue overview
--------------
There is an issue hit with openstudio standards where On/Off fans were not translating properly in the forward translator, causing broken node linkages and subsequent energyplus simulation failure.  I'll provide the steps to reproduce this error once the openstudio-standards release is out.

## Current Behavior
A fan object gets translated with broken nodes.

## Expec

[2020-09-21 16:53] #4084 closed

[2020-09-22 08:04] DavidGoldwasser opened #4089 "Confirm if idf_output_requests still works in reporting measure template"
I hit issues with this in openstudio_results and had to rely on different method where pre test osw added the reporting measure. See if issue exists here or was unique to the other measure
https://github.com/NREL/OpenStudio/blob/develop/src/utilities/bcl/templates/ReportingMeasure/tests/reporting_measure_test.rb#L71-L82

Can be addressed after 3.1

[2020-09-22 15:10] DavidGoldwasser commented on #4089
When I make new measure in 3.0.1 and run it without any changes test fails on this line
https://github.com/NREL/OpenStudio/blob/7e9cd9eaf5852eac614786a78a6b1447a2677806/src/utilities/bcl/templates/ReportingMeasure/tests/reporting_measure_test.rb#L124

with error `NoMethodError: undefined method `size' for false:FalseClass`

[2020-09-22 15:34] DavidGoldwasser commented on #4089
- [ ] This measure argument should be removed or fixed. First it isn't called anywhere in the run method, second, it is general practice to avoid dynamic arguments that show up on some datapoints and not others for use with parametric analyses. This has odd trigger of not showing when no zones. It should just be run to be save when run with no zones. There are some use cases for dynamic args like

[2020-09-22 16:54] DavidGoldwasser commented on #4089
- [ ] remove 1x/2x path for test, new measures should only be setup for 2x.

[2020-09-22 17:25] DavidGoldwasser commented on #4089
Will make pull request once I test with OpenStudio 3.1.0. Currently tested with 3.0.1.
cc @jmarrec @kbenne @tijcolem

[2020-09-23 22:25] DavidGoldwasser opened #4091 "Doesn't look like OpenStudio::EndUseFuelType.getValues was updated for EnergyPlus 9.4"
See link to issue on common measure for OpenStudio Results. The old code would loop through fuel types convert integer to string and then pass it to SQL tabular query. Additional Fuel was removed and a number of specific additional fuels were added.
https://github.com/NREL/openstudio-common-measures-gem/issues/26#issuecomment-698000362

My work around in measure for now is to use hard coded list o

[2020-09-23 22:38] DavidGoldwasser commented on #4091
Gas vs. Natural Gas may also be off, since I was seeing trouble with that as well.

[2020-09-23 23:01] DavidGoldwasser commented on #4091
I'm was also seeing some gas heating values missing from HVAC load profile and monthly values, but not sure it is due to this as the integer value of 1 returns "Natural Gas" which seems correct.
https://github.com/NREL/openstudio-common-measures-gem/issues/26#issuecomment-698001935

[2020-09-24 00:04] DavidGoldwasser commented on #4091
sqlFile.energyConsumptionByMonth(OpenStudio::EndUseFuelType.new(fuel_type) also fails with this error when new fuel types pass in.

`Unknown OpenStudio Enum Value 'DIESEL'.`

[2020-09-24 00:40] DavidGoldwasser opened #4092 "Output:Table:Monthly for Gas not fucntioning"
I think this is not formed correctly for EnergyPlus 9.4. It was made with OpenStudio 3.1.0 alpha

  Building Energy Performance - Natural Gas, !- Name
  2,                                      !- Digits After Decimal
  InteriorEquipment:Gas,                  !- Variable or Meter Name 1
  SumOrAverage,                           !- Aggregation Type for Variable or Meter 1
  ExteriorEquipment:Gas,

[2020-09-24 11:34] jmarrec commented on #4091
@DavidGoldwasser Thanks for reporting this. I already expected OpenStudio results measure to face problems with the change. This is going to help doing a kind of compiler/script-error-driven development. I'm working on this.

[2020-09-24 20:10] DavidGoldwasser commented on #4092
@jmarrec found where it is. Will fix Natural Gas add in new additional fuels
https://github.com/NREL/OpenStudio-workflow-gem/blob/3b5918b6a0d8891e245762600735abe729abe81b/lib/openstudio/workflow/jobs/resources/monthly_report.idf#L20

[2020-09-24 20:29] jmarrec commented on #4092
https://github.com/NREL/OpenStudio-workflow-gem/pull/120

[2020-09-25 16:18] #4092 closed

[2020-09-28 16:53] DavidGoldwasser opened #4096 "Round trip forward and reverse translation issue."
I took out could from this measure to isolate the issue. The example model used is `ExampleModel.osm`
https://github.com/NREL/openstudio-common-measures-gem/tree/develop/lib/measures/view_data/tests

Note, the model in the repo is version 1.3, but I have used OS App to upgrade to 3.0.1 here.
https://drive.google.com/file/d/1BC11cHIJCtfC6K3jMmO45WoLwMcq9Omq/view?usp=sharing

I see the following pos

[2020-09-28 16:57] DavidGoldwasser commented on #4096
I should point out when I used a different model in the measure test directory `SimpleModel.osm` I didn't see this issue, so that doesn't determine if the model is invalid, but the issue is at least model specific.

[2020-09-28 17:20] DavidGoldwasser commented on #4096
Some more details. This test did not fail in OpenStudio 3.0.1. with the same `ExampleModel.osm` as the test model.

One odd thing I see in version translation of OSM file to 3.0.1 is two items being cleared out form availability list, however this didn't seem to be a problem with 3.0.1, so maybe it isn't an issue.
![Screen Shot 2020-09-28 at 11 19 41 AM](https://user-images.githubusercontent.com/4

[2020-09-28 20:29] jmarrec commented on #4096
[code]
[code]

[2020-09-28 20:31] jmarrec commented on #4096
Ok I see what's going on:

[code]

We're getting a problem here because E+ decided to use a numeric field at the end of what looks like an extensible thing. At the time of writing the RT for ReverseTranslateZone.cpp, I suppose this wasn't an option, so no-one ever double checked that we wouldn't hit a problem with empty fields. Anyways, this is a problem of the using the right getString overload o

[2020-09-29 00:31] DavidGoldwasser commented on #4096
@jmarrec that commit did the trick. I ran both the test code above and the full measure test.

[2020-09-29 00:31] #4096 closed

[2020-09-29 18:31] #4091 closed

[2020-09-29 18:51] shorowit opened #4102 "OS 3.1 EMS actuators"
Issue overview
--------------

A couple EMS actuators were changed right at the end in E+ 9.4. See https://github.com/NREL/EnergyPlus/pull/8304. I see lots of references to the old strings in the OpenStudio repo.

[2020-09-30 09:10] jmarrec commented on #4102
Thanks for the catch @shorowit . please see #4104 to ensure I didn't forget something, but I think it looks fine.

[2020-10-01 22:20] DavidGoldwasser commented on #4014
This was reported again on UH and I can reproduce it with 1.0.1 app. @kflemin know measure download works now, could there be something different for components?

https://unmethours.com/question/47673/bcl-server-is-down/?answer=47692#post-id-47692 (look at comment under my answer, not the original post)

[2020-10-02 15:40] tijcolem commented on #4042
Since we are now using E+ 9.4 official release I am going to close this issue. Any issues concerning E+ v9.4 let's open new issues and discuss them.

[2020-10-02 15:40] #4042 closed

[2020-10-06 00:28] mdahlhausen opened #4108 "openstudio CLI measure update command is outdated"
Issue overview
--------------
The `openstudio measure -u path/to/measure` method updates the measure .xml file.  Currently, it is adding an <error> tag to the .xml

## Current Behavior
Currently, this command is adding an error line at the end of the .xml like this:
`<error>Unable to extract OpenStudio::Measure::OSMeasure object from C:/Users/mdahlhau/Documents/GitHub/PW-Corporate/speed_measures/S

[2020-10-06 09:30] jmarrec commented on #4108
Tested on **Ubuntu**, it appears to work with rc1. I will test on windows 10 next

[code]

[code]

[2020-10-06 12:26] jmarrec commented on #4087
Any update on this @mdahlhausen? If there is something to fix for the 3.1.0 release we need to do it now. Thanks!

[2020-10-06 14:14] jmarrec commented on #3964
Please note that the bindings actually work when **installed**. They aren't working right now inside the build folder.

[2020-10-06 15:03] tijcolem opened #4109 "3.1.0-rc1 Ruby bindings on Windows sql parse segfaults"
This issue originated and discovered by @mdahlhausen. See the issue/problem below.

--------------
Using ruby bindings on Windows segfaults when parsing eplusout.sql results file.

## Expected Behavior
It should parse the eplusout.sql or fail gracefully if the eplusout.sql file is corrupt and/or returning incorrect info (e.g. bad query).

## Steps to Reproduce
Using openstudio 3.1.0-rc1](https://g

[2020-10-06 15:54] mdahlhausen commented on #4087
I think I was able to reproduce the error, and it is is related to not specify a heating sizing method in some unitary system objects.  It's possible to add a bad fan object with the API to cause this, but I think most users won't encounter this, and EnergyPlus gives a warning what the error is.  So I'm going to close this issue - no changes to OpenStudio necessary.

[2020-10-06 15:54] #4087 closed

[2020-10-06 17:58] mdahlhausen commented on #4108
my measure works fine; but I've seen the error on a lot of files.  Maybe it is related to the README?
We can set up a quick video conference and I can show you the error on my machine and we can try to reproduce it from there.

[2020-10-06 19:56] jmarrec commented on #4087
thanks for looking into it!

[2020-10-06 21:26] mdahlhausen commented on #4108
[nze_hvac.zip](https://github.com/NREL/OpenStudio/files/5336885/nze_hvac.zip)
Example measure that experiences this issue on my computer.

[2020-10-06 21:50] mdahlhausen commented on #4109
To generalize this, any call to get a string from the sql file fails
`execAndReturnFirstString` and `execAndReturnVectorOfString` methods
[code]

[2020-10-07 02:59] MatthewSteen opened #4110 "align PTAC and PTHP coils with EnergyPlus"
Enhancement Request
--------------
I don't have an immediate need for this, but the `ZoneHVACPackagedTerminalAirConditioner` and `ZoneHVACPackagedTerminalHeatPump` objects only allow `CoilCoolingDXSingleSpeed` coils, which doesn't align with EnergyPlus. The following have been allowed by EnergyPlus for a while and are available in the SDK. Also, PTHPs only allow `CoilHeatingDXSingleSpeed` coils.

[2020-10-07 03:14] macumber commented on #4108
This relates to https://github.com/NREL/OpenStudio-workflow-gem/issues/122

OpenStudio should embed the error element under the main root, XML files should have only one root element

[2020-10-07 03:17] macumber opened #4111 "Bug importing Shading:Building and Shading:Site objects from IDF"
See original report in OS App issues: https://github.com/openstudiocoalition/OpenStudioApplication/issues/242

[2020-10-07 04:03] macumber opened #4112 "Error running create_DOE_prototype_building in 3.1.0-rc1"
## Current Behavior
create_DOE_prototype_building from https://github.com/NREL/openstudio-model-articulation-gem/ fails to run in OpenStudio 3.1.0-rc1

## Expected Behavior
create_DOE_prototype_building runs successfully

## Steps to Reproduce

1. Unzip attached model
2. `/c/openstudio-3.1.0-rc1/bin/openstudio.exe run -w in.osw`

### Environment

Some additional details about your environment for

[2020-10-07 07:25] jmarrec opened #4113 "Provide `openstudio --version` to confirm with common CLI conventions"
Enhancement Request
--------------

I keep getting bit by this. I'm so used to doing `<CLI> --version` to get the version that I often do it for openstudio as well, only to get the help message and have to do `openstudio openstudio_version`. This is annoying.

## Possible Implementation

Just shortcut in the parsing of arguments similar to `-h/--help`

[2020-10-07 19:22] shorowit commented on #4113
👍 This has always bothered me as well.

[2020-10-07 23:45] lefticus commented on #4109
@tijcolem I created a PR #4115 to address this.

I only tested on Windows so far, I'll kick off a sanity check on Linux right now.

[2020-10-08 02:13] MatthewSteen opened #4116 "FanZoneExhaust schedule fields disabled in App for objects created with API"
Issue overview
--------------
FanZoneExhaust objects created with the API have two schedule fields disabled in the App. Objects added to a model in the App are fine. Found in 2.9.0, but I assume it's present in newer versions based on a quick look at git blame.

## Current Behavior

![image](https://user-images.githubusercontent.com/8397034/95406733-6081a780-08d8-11eb-8c2a-bea437950677.png)

## Ex

[2020-10-08 03:28] tijcolem commented on #4109
Thanks @lefticus!  I'll get a build going and we'll do some internal testing. This is great.

[2020-10-08 14:17] lefticus commented on #4109
Linux looked good from my perspective.

[2020-10-08 16:30] tijcolem commented on #4109
Yep, Windows, Linux and mac all look good.  Just doing some internal testing here to confirm and then we'll get this merged in.

[2020-10-08 16:39] tijcolem commented on #4112
@macumber thanks for the report. @DavidGoldwasser Caught some errors when testing 3.1.0-rc1 with https://github.com/NREL/openstudio-model-articulation-gem/. We posted a 3.1.0-rc2 which resolved some of the issues but are still investigating the remaining ones.

[2020-10-08 18:30] tijcolem commented on #4112
I can reproduce this on my local machine. This is what I know so far.

1 ) The error appears to do with not finding the weather file:
`11:43:24.282120 ERROR] [openstudio.weather.Model] Stat file: :/ruby/2.5.0/gems/openstudio-standards-0.2.12.rc6/lib/openstudio-standards/weather/../../../data/weather/USA_FL_Tampa-MacDill.AFB.747880_TMY3.stat was not found when calculating ground temperatures.`

2 )

[2020-10-09 16:00] arif-hanif opened #4117 "Expose the ability to change units of E+ output report OutputControl:Table:Style"
Enhancement Request
--------------
Currently openstudio does not map output control table style to idf, you have the ability to add summary reports but not change the units.

Provide the ability to add idf object to set the units of the tables.

## Detailed Description

## Possible Implementation

[2020-10-09 17:51] jmarrec commented on #2949
Fixed by https://github.com/NREL/OpenStudio/pull/4009

[2020-10-11 20:22] damianCaceres commented on #3964
Thank you very much @jmarrec
I will find time to test them, from the installation folder, although I am currently using direct connection in c +
Good night

[2020-10-12 12:42] asparke2 commented on #4112
Problem is that openstudio-standards needs to first extract the epw/stat/ddy files from the CLI's embedded filesystem and write them to local disk, then check if they exist using `File.exist?`, then lastly read/parse them to extract info.  That process was not used by the code reading the `.stat` file when looking for ground temperatures.  Should be fixed when [this branch]( https://github.com/NRE

[2020-10-12 15:19] #4109 closed

[2020-10-12 18:58] tijcolem commented on #4112
Thanks @asparke2!  I created a 3.1.0-rc3 with those standards changes and verified this does work (reproduced on my local mac).

I'll be posted 3.1.0-rc3 installers here shortly.

[2020-10-12 21:02] tijcolem commented on #4112
Fixed via
https://github.com/NREL/OpenStudio/commit/dec0b9e0690c29c1bef72897a379a71b744b5085

Fixed via
https://github.com/NREL/openstudio-standards/commit/9a11ccd3f3af6d826a5b06c1391eb3132f881e53

[2020-10-12 21:02] #4112 closed

[2020-10-13 08:40] ReneDyhr opened #4118 "Can't install plugin for SketchUp 2019 or 2020"
Issue overview
--------------
I have tried installing both SketchUp 2019 and 2020 trial mode and then installing the newest OpenStudio 3.0.1.
No matter what I do, I can't seem to get it to install the plugin for SketchUp

## Current Behavior
It doesn't install the OpenStudio Application and doesn't install the plugin for SketchUp

## Expected Behavior
Integration to SketchUp

### Environment
Windo

[2020-10-13 17:40] damianCaceres commented on #3964
develop

[code]

[code]

[code]

[code]

[code]

[2020-10-13 18:35] damianCaceres commented on #3964
[code]

[code]

[2020-10-14 20:19] jmarrec commented on #3964
You're having a completely different error it seems?

[code]

Anyways, if you want to play with python bindings right now, I'm toying with making a pip package. I have wheels ready for Linux, and for Windows (python 3.7 / 3.8). You do not need to compile openstudio or even have openstudio installed, it's self contained. Install via `pip install -i https://test.pypi.org/simple/ openstudio==3.1.0rc8

[2020-10-15 11:35] damianCaceres commented on #3964
The install error was because I specified -DBUILD_RUBY_BINDINGS=OFF

I'm interested in these python bindings, of course. Thank you.

[2020-10-15 13:19] jmarrec commented on #3964
@damianCaceres If you are on linux, use `pip install -i https://test.pypi.org/simple/ openstudio==3.1.0rc9`

I built the rc8 on python 3.9 and realized after trying to install them on a python3.8 machine that there is ABI breakage. With rc9 I built them on python3.8 and tested that they work on both py38 and py39

[2020-10-15 13:54] jmarrec commented on #4118
You can find the OpenStudioApplication at https://github.com/openstudiocoalition/OpenStudioApplication/ and the plugin repo is at https://github.com/openstudiocoalition/OpenStudioApplication/

**Please read the release notes:** https://github.com/NREL/OpenStudio/releases/tag/v3.0.0

Going forward, the SDK will continue to be distributed and released two times per year, in April and October. Develo

[2020-10-15 13:54] #4118 closed

[2020-10-15 13:56] jmarrec commented on #4116
@MatthewSteen This looks like an OSApp issue, so report on https://github.com/openstudiocoalition/OpenStudioApplication/ instead no?

[2020-10-15 13:57] #4116 closed

[2020-10-15 13:57] jmarrec commented on #4116
The hvac_library.osm properly initialized the schedule fields, so you can edit them in the App.

[2020-10-15 14:04] ReneDyhr commented on #4118
Do I need to use the application and plug-in to use the newest sketchup? If so, does it then contain the newest updates as well with this repo?

[2020-10-15 14:24] jmarrec opened #4120 "Fix mac warnings related to visibility settings"
Issue overview
--------------

Build logs are polluted on mac with warnings like these two:

[code]

## Possible Solution

Probably related to CXX_FLAGS:

[code]

### Environment

Some additional details about your environment for this issue (if relevant):
 - Platform (Operating system, version): macOS
 - Version of OpenStudio (if using an intermediate build, include SHA): develop 3.1.0-rc4

[2020-10-15 16:12] jmarrec commented on #4118
Release Notes for how to install the sketchup plugin: https://github.com/openstudiocoalition/openstudio-sketchup-plugin/releases/tag/v1.0.1

[2020-10-15 19:04] tijcolem commented on #4113
closed via #4114

[2020-10-15 19:04] #4113 closed

[2020-10-16 16:22] tijcolem commented on #4108
This is not reproducible with 3.1.0 release candidates so closing this issue.

[2020-10-16 16:22] #4108 closed

[2020-10-17 10:06] damianCaceres commented on #3964
Well, I'm especially interested in the package, but more for the pypi wheel with compiled code you have made than for the bindings themselves. I'm introducing in pypi technology.
Of course I've the web direction with the available versions, and I'll follow it regularly.
Thanks.

[2020-10-17 19:19] damianCaceres commented on #3964
(openstudio) damian@damian-HP:~$ pip3.8 install -i https://test.pypi.org/simple openstudio==3.1.0rc9
Looking in indexes: https://test.pypi.org/simple
Collecting openstudio==3.1.0rc9
  Downloading https://test-files.pythonhosted.org/packages/61/18/82d917c5467924160fa1cba88c04df02c868a7447ffa897d609c8031186c/openstudio-3.1.0rc9-py3-none-manylinux1_x86_64.whl (59.1 MB)
     |█████████████████████████

[2020-10-20 14:49] jmarrec commented on #4102
I messed up in #4104, I forgot to deal with version translation.

[2020-10-20 17:41] DavidGoldwasser commented on #4117
@arif-hanif If you want to change the EnergyPlus SQL results to IP, there isn an [EnergyPlus measure for that on BCL](https://bcl.nrel.gov/node/82781).

However doing that will make the OpenStudio results skip because it doesn't see the units it expects in the results. That is documented a bit on [this UH post](https://unmethours.com/question/41162/energyplus-measure-set-output-table-to-ip-units/)

[2020-10-21 04:02] arif-hanif commented on #4117
I was hoping for the sql file output to be in IP without a method by just passing in the output table units. it seems like this is a bigger issue with how open studio is wired.

[2020-10-21 04:07] arif-hanif opened #4125 "gbXML forward translator modelToGbXML to string versus saving the file to a path"
Allow users to obtain the string of the forward translation of osm to gbxml vs saving to a path.

[2020-10-21 16:27] #4051 closed

[2020-10-21 19:23] kbenne opened #4126 "SqlFile Crash"
A bug was recently identified and fixed when using the SqlFile class from Ruby on windows https://github.com/NREL/OpenStudio/issues/4109

More recently it has been uncovered that the same issue exists anytime the SqlFile class is used from code compiled into a DLL and then linked to the OpenStudio.dll. This happens because of a couple of aligning facts.

1. The sqlite3 library depends on some glob

[2020-10-22 09:46] damianCaceres commented on #3964
![bindings](https://user-images.githubusercontent.com/48631375/96854572-90da5180-1453-11eb-8b04-6c0c29265050.png)
I can see also the shared libraries there. I'll test them.
Thank you.

[2020-10-22 20:31] lefticus commented on #4126
See #4128 for a proposed fix.

[2020-10-22 21:19] kbenne opened #4129 "SqlFile::timeSeries broken when year = 0 in EnergyPlus database"
There is code to catch this in OpenStudio for EP version < 9.2, but the database Time table's year column will still be populated with year = 0 for design days, even in EnergyPlus 9.4. The OpenStudio catch for this scenario is disabled for EP versions above 9.2, resulting in an exception. Code in question is here https://github.com/NREL/OpenStudio/blob/db4dab8965f82770872928a17c79789ea67c4a1d/src/

[2020-10-23 21:38] mdahlhausen opened #4131 "Misaligned sizing fields for VAV system sizing"
Issue overview
--------------
Currently, the default sizing behavior for systems in OpenStudio (also with the App) is:
'ZoneSum' in the 'System Outdoor Air Method' field of the 'Sizing:System` object
'VentilationRateProcedure' in the 'System Outdoor Air Method' field of the 'Controller:MechanicalVentilation' object, which is not exposed in the app.

These two values should be aligned.

## Current

[2020-10-27 00:30] DavidGoldwasser commented on #227
@asparke2 and @mdahlhausen have you noticed this a lot on create typical. This used to just be in console out but now that is written into the out.osw. I'm getting it 5500 times in create_typical measure log vs. only twice in ChangeBuildingLocation.

@tijcolem despite could be good to have someone look at this. Maybe there is change we can make to ruby code and not OpenStudio. I thought we cleaned

[2020-10-27 11:09] asparke2 commented on #227
@DavidGoldwasser Yeah it's gotten out of hand, but haven't looked into where it's coming from yet.  Getting rid of this would be excellent!

[2020-10-27 15:48] DavidGoldwasser commented on #2670
I am hitting this in OpenStudio 3.1.0 with our model articulation workflow whenever I add a basement to it. An internal URBANopt project had it an issue with basements a while ago that was not addressed, it could be this. This is a confusing issue to troubleshoot because there are no step errors in the measure. All model measures run, reporting measures don't and there are no simulation results (o

[2020-10-27 16:27] DavidGoldwasser commented on #227
Sorry @kbenne just adding you for a few that were still assigned to Dan. We can change to someone else I just didn't want it un-assigned.

[2020-10-27 16:37] eringold commented on #227
@DavidGoldwasser
I think it's occurring when the standards gem makes schedules, like: [here](https://github.com/NREL/openstudio-standards/blob/c7e5dc40fa307fc26dbe694ebd4587212faa47ce/lib/openstudio-standards/standards/Standards.ThermalZone.rb#L317) or [here](https://github.com/NREL/openstudio-standards/blob/c04b997f8a8fa847dab7c51172d4f88ac02adb6b/lib/openstudio-standards/standards/Standards.Sche

[2020-10-27 16:43] DavidGoldwasser commented on #2670
I had a theory that this might be related to using integer argument with a non-zero value, but that isn't the case. The same create_bar measure has an integer argument for number of party walls for each cardinal direction. That doesn't create any issues. Below is what my updated test looked like

`      {
         "arguments" :
         {
            "bar_sep_dist_mult" : "2.0",
            "bldg_

[2020-10-27 17:00] asparke2 commented on #227
Here's my analysis of why this is happening:

1. You have a model where "YearDescription -> Day of Week for Start Day" is blank.  The OS Application sets this field when you assign a .epw file, but when you programmatically build a model you have to do this yourself.

2. You call [`YearDescription::makeDate(some_integer)`](https://github.com/NREL/OpenStudio/blob/develop/src/model/YearDescription.c

[2020-10-27 18:59] DavidGoldwasser commented on #227
Thanks @eringold and @asparke2. Quick fix is to use the set_year argument in change building location, which I have been leaving at 0 which doesn't alter it. changing that argument to 2019 got rid of the message :) I still agree there is a bug to fix in API, but nice to know how to get around it.
https://github.com/NREL/openstudio-common-measures-gem/blob/develop/lib/measures/ChangeBuildingLocatio

[2020-10-27 19:10] joseph-robertson commented on #227
What is the proposed bugfix in the API?

[2020-10-28 18:27] shorowit opened #4132 "CLI error using Windows Command Prompt"
Issue overview
--------------
I usually test the CLI on Windows using PowerShell, and it works fine:
![image](https://user-images.githubusercontent.com/5861765/97480039-83700c00-1918-11eb-84ef-263f94f49151.png)

But if I try to use Windows Command Prompt instead, it fails:
![image](https://user-images.githubusercontent.com/5861765/97480101-9682dc00-1918-11eb-9765-31e0520ad068.png)

The error is:
[

[2020-10-28 18:29] shorowit commented on #4132
I'll note that some software developers outside NREL also encountered this error. I was thoroughly confused as to why they were hitting it, until I happened to try switching from PowerShell to Command Prompt and reproduced the error myself.

[2020-10-29 09:29] jmarrec commented on #4132
It works on my machine...

![image](https://user-images.githubusercontent.com/5479063/97550147-9266c500-19d1-11eb-9e39-12e76415110c.png)

[2020-10-29 13:47] shorowit commented on #4132
How weird is this?

![image](https://user-images.githubusercontent.com/5861765/97582067-f205a600-19ba-11eb-9453-0f769e100d99.png)

Note that C:\OpenStudio-3.1.0\bin\ is in my PATH.

[2020-10-29 17:43] jmarrec commented on #4132
Its on my path also. So is ruby 2.5
What else is in your PATH?

[2020-10-29 18:04] LyleKeck opened #4133 "Improve creation of StraightComponent with Python bindings"
Allow children of StraightComponent to be created via `openstudio.model.FanVariableVolume(model)` as an example.

Current issue shown below.  Workaround is to use `openstudio.model.openstudiomodelstraightcomponent.FanVariableVolume(model)`

![openstudio_snip_1](https://user-images.githubusercontent.com/15388315/97613724-44a08b80-19d6-11eb-889b-a143fe1af3bb.png)

[2020-10-29 21:16] shorowit commented on #4132
I have ruby 2.5 in my PATH too.

![image](https://user-images.githubusercontent.com/5861765/97633425-b4743d80-19f9-11eb-85b4-a6d4b2e58528.png)

[2020-10-30 14:12] kbenne commented on #3685
@lefticus. I think we might want finer grain tracking on this feature, but lets work from this top level GitHub issue as we develop an epJSON API in OpenStudio.

[2020-10-30 15:18] tijcolem commented on #3991
My guess is this confused with using the `-run` arg and --debug is a supported arg along with using that command. I'm going to close this is the CLI is working as expected here and it should error when the command is not valid. This could be a good enhancement to be able to use -`-debug `with the main command to see more output.  Using -`-verbose` is essentially doing that/

[code]

[2020-10-30 15:19] #3991 closed

[2020-10-30 15:33] tijcolem commented on #4132
I was able to reproduce the same error as @shorowit. Then I ran the windows update utility and restarted my machine and now it works.

![openstudio_cli_windows_cmd_error](https://user-images.githubusercontent.com/7087120/97724540-a8888a00-1a92-11eb-8cf6-596ad7afe2af.png)

My guesses as to why this would work would be registry settings that are refreshed/read on restart or the build version of wind

[2020-10-30 15:42] shorowit commented on #4132
I still get different results when I run from the openstudio-3.1.0\bin dir versus somewhere else. @tijcolem, can you try running it from the bin dir?

For what it's worth, my machine is up to date (no Windows updates) and I recently restarted it. Still able to reproduce the error.

[2020-10-30 15:54] tijcolem commented on #4132
@shorowit  Yeah it does error when running the openstudio-3.1.0\bin dir vs elsewhere. So the same as what you are experiencing.

![cli_error_2](https://user-images.githubusercontent.com/7087120/97727343-eaff9600-1a95-11eb-863b-925c15863a2b.png)

[2020-10-31 00:31] arif-hanif commented on #4132
i can report i get same error

[2020-10-31 19:16] macumber opened #4134 "Update Ruby to 2.7.0"
Enhancement Request
--------------
It seems like just yesterday Ruby 2.5 seemed so new and fresh but it is getting long in the tooth and is headed for [end of life next March]( https://www.ruby-lang.org/en/news/2020/04/05/support-of-ruby-2-4-has-ended/#:~:text=Ruby%202.5%20series&text=except%20security%20fixes.-,If%20a%20critical%20security%20issue%20is%20found%2C%20we%20will%20release,the%20end%2

[2020-10-31 19:17] macumber commented on #4134
Wondering if this could be slated for the 3.2.0 or 3.3.0 release next year?

[2020-11-02 11:29] jmarrec opened #4135 "GbXMLForwardTranslator uses map/set to save state, and that state isn't reset"
Issue overview
--------------
Translating a single model to gbXML twice produces different results the second time.

## Expected Behavior

There should be no differences

## Steps to Reproduce

[code]

Then do a diff of test.xml and test2.xml, you'll see that surfaces aren't translated the second time.

[code]

[code]

<details><summary>**Click to expand full diff**</summary>

[code]
</details>

#

[2020-11-03 03:44] MatthewSteen commented on #3426
@jmarrec experiencing this again, so here's a model in the early stages of development (i.e. only hit run once)...

[20146-Proposed.osm.txt](https://github.com/NREL/OpenStudio/files/5479196/20146-Proposed.osm.txt)

__ERR__

    Program Version,EnergyPlus, Version 9.2.0-921312fa1d, YMD=2020.11.02 20:23,
      ** Severe  ** <root>[Fan:OnOff][100.Vestibule.TZ - UH Fan] - Missing required property 'ai

[2020-11-03 09:23] jmarrec commented on #3426
I'm about to look at your model, but I have a hunch this is because you ordered the Ctor arguments wrong. We'll see!

[2020-11-03 09:38] jmarrec commented on #3426
Created this file `ft.rb`:

[code]

So it works in 310, not in 291:

![image](https://user-images.githubusercontent.com/5479063/97969675-af7c0900-1dc0-11eb-8a35-d05a8cc6e3ee.png)

[2020-11-03 09:44] jmarrec commented on #3426
@MatthewSteen My (strong) guess is that it's this commit that fixed it: https://github.com/NREL/OpenStudio/commit/f3049680f9a926cf617e60389dc5d53c617d8db5#diff-6e5de9c83c5afa147df589cdacadf05ddb5d361b3766b1e99e83dda333ff5e20 while I was implementing FanSystemModel in https://github.com/NREL/OpenStudio/pull/3856

(I could git bisect to make sure it is, but it's not like I have 4 hours ahead of me t

[2020-11-03 09:54] jmarrec commented on #3623
The Reporting Measures one is fixed by https://github.com/NREL/OpenStudio/pull/3796

https://github.com/NREL/OpenStudio/blob/585e24973c863e2762788a90eb28fe556bb4479d/src/measure/ReportingMeasure.hpp#L65

Do we really want to add it to EnergyPlusMeasure.hpp? I

https://github.com/NREL/OpenStudio/blob/585e24973c863e2762788a90eb28fe556bb4479d/src/measure/EnergyPlusMeasure.hpp#L62

I think it's probab

[2020-11-03 09:54] #3623 closed

[2020-11-03 15:46] MatthewSteen commented on #3426
@jmarrec thanks for taking a look and tracking it down.

[2020-11-03 17:02] #4125 closed

[2020-11-03 17:02] #4135 closed

[2020-11-03 17:38] #3964 closed

[2020-11-03 17:38] #4133 closed

[2020-11-03 17:39] jmarrec commented on #4134
I've scoped the trouble to get an idea of how bad it would be.

see https://github.com/NREL/conan-openstudio-ruby/pull/31

Linux and Mac appear to be pretty much working (`openstudio --help` works) and windows has a few linking issues. But it's doable to fix.

[2020-11-04 01:00] #4102 closed

[2020-11-04 01:01] #4126 closed

[2020-11-04 01:02] #4129 closed

[2020-11-04 01:07] #637 closed

[2020-11-04 18:48] joseph-robertson commented on #4076
@mdahlhausen Do you mean EnergyPlus 9.4?

[2020-11-04 19:40] mdahlhausen commented on #4076
@joseph-robertson yes, that's a typo.  should be the most recent E+ release, 9.4.

[2020-11-04 21:44] joseph-robertson commented on #4076
[8258](https://github.com/NREL/EnergyPlus/pull/8258)
[8193](https://github.com/NREL/EnergyPlus/pull/8193) (Fluid to Radiant Surface Heat Transfer Model, Hydronic Tubing Outside Diameter, Hydronic Tubing Length already added to `ZoneHVAC:LowTemperatureRadiant:VariableFlow` and `ZoneHVAC:LowTemperatureRadiant:ConstantFlow`)
[8183](https://github.com/NREL/EnergyPlus/pull/8183)
[8170](https://github.c

[2020-11-04 22:43] joseph-robertson commented on #4076
@mdahlhausen See list and comments above. I believe most of these enhancements have already been done (as part of the ft updates from 3.0.1 to 3.1.0). The only one that remains is in bold above. Can you think of anything else, specifically, that is needed to make radiant system -related enhancements to the API?

[2020-11-05 15:36] #4110 closed

[2020-11-05 20:56] #4076 closed

[2020-11-11 01:50] DavidGoldwasser opened #4141 "Old errors do not clear out of measure.xml which prevent openstudio measure -u from working."
Noticed on new measures, but I'll go back and check old measures as.

[2020-11-11 02:07] DavidGoldwasser commented on #4141
Strange, this hasn't been changed in 2 years, but is different than older messages. Here is what works

[code]

[2020-11-11 02:25] DavidGoldwasser commented on #4141
Ok, so it wasn't about the erb, although there are updates to list choice arguments which I should still add, so I'll leave this open, but the cause was bad XML file that doesn't clean out when updated related to issue #3790

[2020-11-11 02:25] DavidGoldwasser commented on #3790
I just saw this on mac on two new measures I made. Once I cleared the error out, it seems fine for now.

[2020-11-13 16:40] tijcolem commented on #4120
I got rid of some other linker warnings errors by bumping the cmake to use `-DCMAKE_OSX_DEPLOYMENT_TARGET=10.14`

Still seeing these visibility linker warnings.  I'll try those CXX_FLAGS that you suggest.

ld: warning: direct access in function 'boost::cpp_regex_traits<char>::get_catalog_name()' from file '/Users/jenkins/.conan/data/boost/1.73.0/_/_/package/96a8c1d3b76f008cb6766a82e813655646b201da

[2020-11-13 16:55] tijcolem commented on #3806
Well. everything compiles fine on all 3 platforms but the ctests are failing now. Looking into..

[2020-11-13 17:07] tijcolem commented on #4134
@macumber  Is SketchUp now using 2.7.x series now?  I thought the ruby version was loosely tied to SketchUp.

[2020-11-13 17:18] tijcolem commented on #3706
@joseph-robertson Scope the effort to support this?

[2020-11-13 17:34] tijcolem commented on #4043
I think we can swap BCL components to make this faster to download. For some reason, some components can take over 3 min to download. The one in our test suite is problematic.

[2020-11-17 21:47] #3806 closed

[2020-11-18 12:10] jmarrec opened #4142 "Upgrade nano-signal-slot to latest"
Enhancement Request
--------------
It seems we are using a 2015 version of https://github.com/NoAvailableAlias/nano-signal-slot, which back then was called a "Pure C++11 Signals and Slots" and nowadays is called a "Pure C++17 Signals and Slots". It might be worth it to upgrade.

## Detailed Description

cf https://github.com/NREL/OpenStudio/blob/67b4b7efa494c16bd1078afc3467af54e2fd4152/src/nano/LI

[2020-11-18 18:39] tijcolem commented on #853
This will need to be closed due to a lack of funding/support.

[2020-11-18 18:39] #853 closed

[2020-11-18 18:41] tijcolem commented on #1145
This will need to be closed due to a lack of funding/support.

[2020-11-18 18:41] #1145 closed

[2020-11-18 18:42] tijcolem commented on #2439
This will need to be closed due to a lack of funding/support.

[2020-11-18 18:42] #2439 closed

[2020-11-19 17:30] DavidGoldwasser commented on #1494
@jmarrec there used to be a limit where you couldn't add a unit if your value was a string. In my case I had a string what was of integers "1.2, 2.3 ,3.4" I was holding 12 monthly values in one register value. I just wanted to confirm if this was still the case because someone else had a similar use case.

[2020-11-20 17:01] jmarrec commented on #4141
@DavidGoldwasser Could you retitle the issue perhaps?

[2020-11-23 13:24] jmarrec opened #4146 "Cannot compile on macOS 10.15.7 / Apple-clang 12.0 due to termcap/1.3.1"
Issue overview
--------------

I fixed the problem in https://github.com/conan-io/conan-center-index/issues/3183 already, but we need to upgrade our NREL remote with the updated package: https://bintray.com/beta/#/commercialbuilding/nrel/termcap:_?tab=overview (d2b8bdb99ddf9ce268e841c1f5067db0 is outdated)

termcap is a transitive dependency for us, not one we specify the exact version somewhere (

[2020-11-23 13:48] jmarrec commented on #4146
I exported the new package at https://bintray.com/beta/#/commercialbuilding/nrel/termcap:_?tab=files. I also prebuilt the apple clang 12.0 package in Release and Debug since CCI doesn't provide such a package on their remote.

I'll let a few build cycles passes before I delete the old package via `conan remove -r nrel/termcap/1.3.1@:d2b8bdb99ddf9ce268e841c1f5067db0`

[2020-11-23 14:31] jmarrec commented on #4146
I'm going to also upload all apple-clang 12.0 binaries in Release mode to the remote since I have them built locally (CCI either doesn't provide 12.0 binaries yet), so that people (or github actions...) doesn't have to build them everytime for that specific configuration.

[2020-11-23 15:45] #4043 closed

[2020-11-24 18:30] macumber opened #4147 "Broken measure results in invalid XML"
Issue overview
--------------
Broken measures result in invalid XML

## Current Behavior
When a measure has an Ruby error a second root element named error is added.  This creates an invalid XML file as XML files must contain exactly one root element.

[code]

## Expected Behavior
The error element should be a child of the measure element. This is the old behavior tested in 2.9.0.

[code]

## Step

[2020-11-26 04:31] macumber opened #4150 "LoadError changes current working directory in CLI"
Issue overview
--------------
Loading a measure with a rescued LoadError in a workflow causes the current working directory to change.

## Current Behavior
Loading a measure which tries to load a gem but then falls back to load a resource file results in the current working directory changing.  This causes problems if the measure attempts to write a file.

## Expected Behavior
Rescuing the LoadErr

[2020-11-26 04:31] macumber commented on #4150
[bug.zip](https://github.com/NREL/OpenStudio/files/5600439/bug.zip)

[2020-12-01 15:52] #3706 closed

[2020-12-02 19:17] ci-commercialbuildings commented on #3349
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #3330
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #3214
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #3159
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #3052
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #2959
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #2958
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #2955
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #2951
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #2950
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #2939
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #2931
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #2609
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #2593
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #2464
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #2351
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #2346
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #2335
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #2326
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #2277
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #2010
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1972
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1720
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1622
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1619
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1616
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1615
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1609
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1541
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1442
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1515
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1437
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1407
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1431
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1405
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1403
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1399
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1398
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1393
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1386
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1311
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #1111
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-02 19:17] ci-commercialbuildings commented on #167
As it's been over 2 years since the last comment for this issue, this will automatically be closed on Jan 1, 2021, unless updated comments are added to justify keeping this issue open. It can be reopened, if necessary, at a later time.

[2020-12-03 07:51] jmarrec commented on #2609
Retitled, still true today

[2020-12-03 13:27] jmarrec commented on #4131
This appears to be an OSApp issue only. The SDK Ctor are aligned, and the getter/setters exist for these fields.

https://github.com/NREL/OpenStudio/blob/a95f25828c28e59dc9a31caee0871515d3aed265/src/model/SizingSystem.cpp#L1016

https://github.com/NREL/OpenStudio/blob/a95f25828c28e59dc9a31caee0871515d3aed265/src/model/ControllerMechanicalVentilation.cpp#L195

[2020-12-03 13:31] jmarrec commented on #4131
Another thing that could explain why you see VentilationRateProcedure (in the Sizing:System though, not the controller OA (the other way around than in your OP) is perhaps the use a measure that relies on os_lib_hvac.rb: https://github.com/NREL/openstudio-extension-gem/blob/1b668ff44ff69dfdb64b21f32d06fc5b6ffc42c8/lib/openstudio/extension/core/os_lib_hvac.rb#L807

[2020-12-03 14:16] asparke2 commented on #4131
I think the root of this confusion is that there was a behavior change in E+ that needs to be considered.  See documentation below:

**E+ 8.0 Sizing:System Field: System Outdoor Air Method**
The method used to calculate the system minimum outdoor air flow. The two choices are ZoneSum and VentilationRateProcedure (VRP). ZoneSum sums the outdoor air flows across all zones served by the system. VRP u

[2020-12-03 21:36] tijcolem commented on #4132
Revisiting this error and discovered the problem is due to the case sensitive of "C" vs "c:" in windows command prompt.
Observe the behavior below.

Upper case C: drive
![upper_case](https://user-images.githubusercontent.com/7087120/101090437-e5eda500-3573-11eb-95f0-d9ef4c79ee09.png)

Lower case c: drive
![lower_case](https://user-images.githubusercontent.com/7087120/101090502-fa31a200-3573-11eb-9

[2020-12-03 22:31] shorowit commented on #4132
😲

Wow, that is hilarious! Nice job tracking that down.

[2020-12-03 23:40] #4147 closed

[2020-12-04 08:03] jmarrec commented on #4132
Boy, if somebody made that kind of bug on purposes to drive us nuts, he'd be a genius of evil.

[2020-12-04 19:42] DavidGoldwasser commented on #2010
This should stay open so we can have deterministic testing.

[2020-12-04 19:43] DavidGoldwasser commented on #2335
still valid feature request

[2020-12-04 19:44] DavidGoldwasser commented on #1616
Maybe we can address when reimplement components in updated BCL

[2020-12-04 19:45] DavidGoldwasser commented on #1619
still valid feature request

[2020-12-04 19:48] DavidGoldwasser commented on #1615
Still would be nice to do this although our create_typical model measures has mimicked this.

[2020-12-07 11:17] jmarrec opened #4152 "Add missing fields for CoilHeatingLowTempRadiantVarFlow and CoilCoolingLowTempRadiantVarFlow"
Enhancement Request
--------------

This was mentioned as a comment on https://github.com/NREL/OpenStudio/issues/3532#issuecomment-492301153. I'm splitting it because we might want to do one without the other.

## Detailed Description

https://github.com/NREL/OpenStudio/issues/3532#issuecomment-492301153 says:

Additional request: add heating and cooling design fields to the OpenStudio API.

- Hea

[2020-12-07 17:40] #4132 closed

[2020-12-07 20:17] joseph-robertson commented on #2958
We've decided to keep this open.

[2020-12-07 20:18] joseph-robertson commented on #1972
We've decided to keep this open.

[2020-12-08 02:01] tijcolem opened #4154 "cppcheck 2.3 via snap is broken"
The latest version of cppcheck (2.3) via ubuntu snap does not include the std.cfg which is required to run cppcheck. As there doesn't seem to be a way to install a specific version using snap, and the version shipped with standard apt is 1.8, which doesn't support c++17, we may need to use our own if this doesn't get resolved.

I created a docker image that has the latest cppcheck v 2.3 that we ca

[2020-12-08 09:59] jmarrec opened #4156 "Recursive copy of the resources/ subfolder of a measure"
Enhancement Request
--------------

User on unmethours here https://unmethours.com/question/49382/os-measure-subfolder/?comment=49406#post-id-49406 indicated he has many support files (eg: CSVs). Files need to be placed in the `resources/` subfolder so they are copied when cloning the measure. But it seems that copy is non recursive, so any subfolder under `resources/` (eg: `resources/data/`) is N

[2020-12-08 10:11] jmarrec commented on #4156
Here is a test measure I created:

[code]

here is the diff after cloning to my model subfolder:

[code]

[2020-12-08 10:28] jmarrec commented on #4156
This is more complicated than it looked at first glance. Places that would need to change:

https://github.com/NREL/OpenStudio/blob/ec74aaed8f61700a90b7cee3fe2eabd6c3f8fd32/src/utilities/bcl/BCLMeasure.cpp#L986-L1003

Potentially needs adjustment too:
https://github.com/NREL/OpenStudio/blob/ec74aaed8f61700a90b7cee3fe2eabd6c3f8fd32/src/utilities/bcl/BCLXML.cpp#L202-L233

[2020-12-08 14:22] shorowit commented on #4156
👍 👍 👍

We would really like this. We have several measures that would benefit from being able to organize our resource files into subdirs.

FWIW, I recently asked @DavidGoldwasser about this and he said "No, it isn’t supported, It might, work at least locally, but would certainly break BCL which doesn’t expect that. The measure.xml will probably not pickup those files, and may not work on OpenStud

[2020-12-08 14:27] jmarrec commented on #4156
The source code for the bcl website isn't open source, so I wouldn't want to speculate what it can or cannot do and how easy it is to fix.

As far as openstudio SDK is concerned, it is doable for sure.

As soon as it deals with directories and files it's typically annoying to test, as writing unit tests get tricky and you will get different problems on Windows than you do on Unix generally.

The q

[2020-12-10 18:10] #4154 closed

[2020-12-10 22:55] joseph-robertson commented on #3147
This one is a bit challenging. Would requiring wrapping:
* HeatExchanger:Desiccant:BalancedFlow (AirToAirComponent?)
* HeatExchanger:Desiccant:BalancedFlow:PerformanceDataType1 (ResourceObject?)

Ctor of the first object would need to pass in the second object.

[2020-12-11 03:49] #3532 closed

[2020-12-11 03:49] #4152 closed

[2020-12-11 14:05] tijcolem opened #4160 "Produce Ubuntu:20.04 packages"
Related to #4134.  Building 20:04 should happen first before upgrading to new ruby version.

CI host can build via ubuntu:20.04 with developer tools installed.

[2020-12-11 17:12] tijcolem commented on #4156
Let's make this a lower priorty. I was also wondering if this can be implemented in boost?

[2020-12-11 17:38] DavidGoldwasser commented on #4134
@tijcolem SketchUp 2021 is using Ruby 2.7.1

[2020-12-11 19:48] tijcolem commented on #4156
All good to work on!

[2020-12-15 15:33] jmarrec commented on #4134
https://ruby.sketchup.com/file.ReleaseNotes.html#label-Upgrade+Ruby+to+2.7.1

[2020-12-15 18:11] DavidGoldwasser opened #4166 "Merging FloorSpaceJS strips out climate zone assignment."
Issue overview
--------------
Issue is described in this measure gem issue. This worked in 2.x and broker either an 3.0.0 or 3.1.0
https://github.com/NREL/openstudio-model-articulation-gem/issues/57

## Current Behavior
Most workflows using this ran change building location and then brought in the JSON, now the climate zone assignment is striped out.

## Expected Behavior
Climate zone and weather

[2020-12-15 18:20] DavidGoldwasser opened #4167 "Unexpected errors when curves used for multiple objets"
Issue overview
--------------

## Current Behavior
This shows up as error which is then caught by standards and makes some measures fail.
(msg.logMessage.include?('[openstudio.model.Curve] This Curve, Object of type ') && msg.logMessage.include?(' has multiple parents. Returning the first.'))

## Expected Behavior
Either the API should not let you assign same curve to multiple objects or it should

[2020-12-15 18:23] DavidGoldwasser commented on #4156
@kflemin and @nllong should be on this thread, as they need to support it in BCL. Future GitHub based BCL might make this easier? Measure manger and updates measure.xml

[2020-12-15 18:26] DavidGoldwasser commented on #4156
To me it makes more sense to support multiple directories under resources than to have users add random directories with their measure. Is it enough to allow just one level of nesting, or should users be allowed to go unknown levels down? It could be argued at some level of complexity of their resources they should distribute it as a gem? Assuming it is easy for them to add that gem to the OpenStu

[2020-12-15 20:29] DavidGoldwasser opened #4168 "Add IntegratedExteriorVentedCavity in support of BIPV"
Enhancement Request
--------------
Here is a link to comment in design document
https://docs.google.com/document/d/1AMGe_PhBmAvygvrZgEigpYEeIAjUqySVwtfJb3Jf0is/edit?disco=AAAAAd4xX2g

## Detailed Description
When we added PV we neglected to support vented cavities so while we can support PV directly attached to an exterior wall exposed surfaces, we don't support the most common use case for walls