[2018-09-09 20:56] macumber commented on #3261
It did change in an attempt to better handle non-ascii characters in path, you should use the toPath method in OpenStudio core to convert strings to paths.

[2018-09-09 21:35] mostaphaRoudsari commented on #3261
@macumber thank you for the quick reply. Are you sure it is already part of C# distribution? Can't see it here.

![image](https://user-images.githubusercontent.com/2915573/45269134-ed9f6b80-b488-11e8-8bfe-56b22a802014.png)

[2018-09-09 22:16] macumber commented on #3261
Its a free method and not a class, all those look like classes?

[2018-09-10 14:03] MatthewSteen commented on #3260
Yes, like FanZoneExhaust objects.

[2018-09-11 03:59] macumber commented on #3261
Can you try: `OpenStudio.OpenStudioUtilitiesCore.toPath(osmPathName);`

[2018-09-12 15:57] jmarrec commented on #3260
@MatthewSteen I already did that in #3001. Possible I missed some though, please tell me if you find any.

FanZoneExhaust is fine:

![image](https://user-images.githubusercontent.com/5479063/45437528-405d6b00-b6b5-11e8-9a7b-0e9cb658aaae.png)

[2018-09-12 16:03] jmarrec commented on #3257
@joseph-robertson sorry for middling (got here from https://github.com/NREL/OpenStudio-resources/pull/53), but I'm pretty sure you need to write a VersionTranslation routine since you *inserted* an IDD field. See https://github.com/jmarrec/OpenStudio/blob/develop/openstudiocore/src/osversion/VersionTranslator.cpp#L4005
You'll need to wrap it in a `VersionTranslator::update_2_6_1_to_2_6_2`

[2018-09-12 16:10] MatthewSteen commented on #3260
@jmarrec all fans *except* FanZoneExhaust are missing the field.

[2018-09-12 16:11] jmarrec commented on #3260
Ok, it's just a Policy thing, sorry.

[2018-09-12 18:18] shorowit opened #3266 "2.6.1 FloorSpace issues"
1. You can't create doors. Go to the Components tab, switch the dropdown to Door, and click the + icon. Nothing happens. Windows and Daylighting Controls correctly create the new object. And it works fine in the standalone FloorSpaceJS.
2. You can't assign windows or daylighting controls. For example, create a window and then click on an edge. Nothing happens. It works fine in the standalone Floor

[2018-09-12 18:21] shorowit opened #3267 "2.6.1 FloorSpace windows/doors preview on wrong story"
Open the attached floorplan. There are 2 windows and 2 doors attached to the space on the 2nd story. When you preview, the windows/doors appear on the 1st story instead of the 2nd story. Haven't looked at whether the OS model is similarly affected.

[2018-09-12 18:21] shorowit commented on #3267
Now with attachment...
[floorplan.json.txt](https://github.com/NREL/OpenStudio/files/2376368/floorplan.json.txt)

[2018-09-12 20:05] mdahlhausen opened #3268 "orphan ZoneHVACEquipmentList objects from model.getBuilding.remove"
When model.getBuilding.remove is called, it deletes thermal zones but leaves their ZoneHVACEquipmentList objects.  These objects now have no thermal zone handle, and that causes their obj.thermalZone method to fail. Occurs in at least 2.5.1 and greater.

[2018-09-13 17:08] DavidGoldwasser commented on #170
@jmarrec I'm fine this this being closed, I don't have a strong opinion on the units.

[2018-09-13 17:12] DavidGoldwasser commented on #3268
@kbenne while measure writers can get around this I think it is important to keep the OSM's clean so I tagged it as major. I assume should be pretty easy fix to get into 2.7.0?

Dan thinks zone.remove might have the same behavior but I haven't tested that. The remove_orphan_and_unused_resources measures doesn't currently clean this up but could be updated to do so. https://github.com/NREL/OpenStud

[2018-09-14 14:14] jmarrec commented on #3268
zone.remove should do it right: https://github.com/jmarrec/OpenStudio/blob/develop/openstudiocore/src/model/ThermalZone.cpp#L1822

I'm on it

[2018-09-14 14:54] jmarrec commented on #3268
The "problem" is that ZoneHVACEquipmentList isn't a child of ThermalZone. So when you delete the building, when it was children recursively, it can't find it. I tested by making it a children, and building.remove leaves no orphan ones anymore.

The reason it's not a child is likely because that would bring it in the OS App when you click on a thermalZone (eg on a ThermalZone in the AirLoopHVAC vie

[2018-09-14 15:05] eringold commented on #1465
Still present in 2.6.0

[2018-09-14 15:49] eringold opened #3270 "'Multiplier' field not aligned with loads in Space loads grid view"
Found in 2.6.0, Windows
Multiplier field not aligned horizontally with Load Name/Definition:

![image](https://user-images.githubusercontent.com/10799524/45560780-4e210680-b803-11e8-900c-2cd88184bb0a.png)

Also in Ubuntu per @jmarrec

[2018-09-14 18:44] jmarrec commented on #1465
@eringold fixed in #3200, not merged yet

[2018-09-15 02:32] #3244 closed

[2018-09-15 02:32] #2458 closed

[2018-09-15 02:32] #2625 closed

[2018-09-15 02:32] #2718 closed

[2018-09-15 04:38] macumber opened #3272 "RefrigerationWalkIn::zoneBoundaries causes segfault"
This is a regression in refrigeration_system.rb

[2018-09-15 05:01] macumber commented on #3272
This line is a little screwy https://github.com/NREL/OpenStudio/blob/8c81faf8bc80b0e8f96a4b2764e5958cd060a625/openstudiocore/src/model/RefrigerationWalkIn.cpp#L238

[2018-09-17 21:59] jmarrec commented on #3147
You can use an EnergyPlus measure to inject IDF code after OSM has been translated to IDF and before it gets simulated. See the [Measure Writing Guide](https://nrel.github.io/OpenStudio-user-documentation/reference/measure_writing_guide/) for more info.

[2018-09-17 22:04] #3116 closed

[2018-09-17 22:04] jmarrec commented on #3116
Fixed in #3117

[2018-09-17 22:07] jmarrec commented on #3080
Closed in #3081

[2018-09-17 22:07] #3080 closed

[2018-09-17 22:13] jmarrec commented on #2805
Fixed already, tested 2.6.0

[2018-09-17 22:13] #2805 closed

[2018-09-17 22:16] jmarrec commented on #2432
Outdated issue, closing unless someone runs into it. It was perhaps related to #3190 fixed in #3191

[2018-09-17 22:16] #2432 closed

[2018-09-17 22:32] jmarrec commented on #2848
In my case, I use a terminal with ruby bindings to do stuff all the time while having the OS App open (way more often than I use sketchup + OS App in parallel).

But at least PR #3229 will now allow you to click "revert to saved" even if it didn't find the model dirty, I guess that's fine enough.

[2018-09-18 12:41] jmarrec commented on #3142
Confirmed in 2.6.0, where this is happening because the `Zone Return Air Node Name` (2.6.0) isn't cleared so it references the one from the primary zone that is being cloned. So the code: https://github.com/NREL/OpenStudio/blob/v2.6.0/openstudiocore/src/model/ThermalZone.cpp#L2340, you'll find nothing on Zone Return Air Node Name.

I'm 99% sure this is fixed in 2.6.1 though (from reading code, hav

[2018-09-18 12:48] jmarrec commented on #3142
Confirmed after installed 2.6.1, it works as expected. This can be closed

[2018-09-18 15:28] macumber commented on #3158
I did not fix this as far as I can remember

[2018-09-18 18:59] #3142 closed

[2018-09-19 18:07] mostaphaRoudsari commented on #3261
Thanks. This one worked. Unfortunately the SDK is not searchable and in cases like this are hard to find the correct namespace. Thank you for your help.

[2018-09-19 18:07] #3261 closed

[2018-09-20 10:44] jmarrec commented on #2125
I can speculate here on why it's that way:

* The IDF example all have it first in line
* More importantly, **the HPWH just adds a load to the Zone, its purpose is not to condition the zone**, and therefore **you probably do want to put it first in line to ensure the rest of the equipment sees its added load** (especially true in older versions where the zone Load Distribution Scheme was Sequentia

[2018-09-20 12:14] MatthewSteen commented on #2125
Thanks @jmarrec.

[2018-09-20 12:14] #2125 closed

[2018-09-20 16:48] macumber commented on #3019
Confirmed that this does not crash, however the app does automatically create a companion dir when saving, maybe a complete fix should create a companion dir on opening a model?

[2018-09-20 16:49] #3222 closed

[2018-09-20 16:49] #1797 closed

[2018-09-20 16:49] #3019 closed

[2018-09-20 16:49] #78 closed

[2018-09-20 16:49] #2934 closed

[2018-09-20 16:49] #749 closed

[2018-09-20 16:49] #3249 closed

[2018-09-20 16:49] #2712 closed

[2018-09-20 16:49] #2600 closed

[2018-09-20 22:32] MatthewSteen opened #3279 "EMS objects orphaned after deleting air loop"
The `Create Baseline Building` measure adds EMS objects for [optimum start of AirLoopHVACs](air_loop_hvac_optimum_start_required). If an AirLoopHVAC is deleted from the model, e.g. when added to an unconditioned zone by the measure, then the EnergyManagementSystem objects are orphaned and cause a severe error.

@brianlball

[code]

---

Here's an example of the EMS program added by the measure (@a

[2018-09-20 22:38] brianlball commented on #3279
@MatthewSteen can you post the idf pertaining to the EnergyManagementSystem:InternalVariable in the error?

[2018-09-20 22:42] MatthewSteen commented on #3279
Here you go @brianlball...

[in.idf.txt](https://github.com/NREL/OpenStudio/files/2403311/in.idf.txt)

[2018-09-20 22:46] brianlball commented on #3279
@MatthewSteen in the osm, are you setting the EnergyManagementSystem:InternalVariable key name by name or by handle?

[2018-09-20 22:49] MatthewSteen commented on #3279
The OSM was created by measure from the standards (linked above). All I did was delete an air loop in the app, which orphaned all the EMS objects connected to it.

[2018-09-20 22:54] brianlball commented on #3279
@MatthewSteen can you post the osm also?  The issues are that those fields are strings and not objects as well as EMS objects are not children of other model objects, so a solution to this is going to be tricky.

[2018-09-20 22:56] MatthewSteen commented on #3279
Here it is @brianlball, thanks.

[18016-Baseline-VDL.osm.txt](https://github.com/NREL/OpenStudio/files/2403335/18016-Baseline-VDL.osm.txt)

[2018-09-20 22:57] brianlball commented on #3279
@asparke2 fyi

[2018-09-21 07:28] jmarrec opened #3280 "AirLoopHVAC:UnitarySystem missing control type SingleZoneVAV"
Since E+ 8.7.0, there is a 'SingleZoneVAV' control option in addition to 'Load' and 'Setpoint' which are already in OpenStudio. Reported in https://unmethours.com/question/34410/single-zone-vav-heat-pump-in-openstudio/

[code]

[2018-09-21 07:52] jmarrec commented on #3019
@macumber  My two cents on this is that I don't want a companion dir until I actually save my model. Sometimes I create models to test something via the bindings, and use OS App just to ensure it's all working. I wouldn't want to have to go clean up companion directories all the time.

[2018-09-21 14:21] jmarrec commented on #2093
Ok, so first problem is that the Aircooled chiller doesn't have a hardcoded Reference condenser temperature, so it ses 85F which is the standard rating temp for a WATER COOLED Chiller (EWT°F), whereas air cooled is 95F (OAT DB °F).

Second, the curve don't look one bit like what I would expect. Looking at EIRFPLR, from the E+ example "AirCooledChiller.idf' (I took the first one I found that didn't

[2018-09-21 15:07] macumber commented on #3019
The idea was to create the companion dir in the temp dir, you wouldn't put it in user dir until save.  That might already be happening, i didnt check for sure, but assume it wasnt otherwise i dont think that crash would have happened

[2018-09-21 15:11] MatthewSteen commented on #3279
Here's the workaround I've used, which simply removes *all* `EnergyManagementSystem` objects.

[code]

[2018-09-23 20:08] #2000 closed

[2018-09-23 20:50] #2109 closed

[2018-09-23 22:05] #1554 closed

[2018-09-24 04:09] #3119 closed

[2018-09-24 04:09] #2357 closed

[2018-09-24 13:51] jmarrec commented on #2776
Closed via #3263 (didn't pick it up automatically because I pushed a "merge develop" after macumber merged)

Can @MatthewSteen or @macumber close the issue please?

[2018-09-24 13:52] jmarrec commented on #1329
Rendered moot by #3233. Can you close please @macumber?

[2018-09-25 18:27] jasondegraw commented on #2841
The reported issues here are:

 - [ ] OS does not recognize underground walls. (#3121)
 - [ ] In SketchUp there are no constructions assigned to generated reversed surfaces
 - [ ] Some of surfaces have constructions with unreadable names. This one is essentially expected behavior, the gbXML file has multiple constructions with the same name.
 - [ ] In OS application horizontal surfaces are recogni

[2018-09-27 20:48] macumber commented on #2939
@kbenne this may be a regression in the C# bindings, we really need to get some regression testing set up on these

[2018-09-28 20:06] jasondegraw commented on #3215
@joseph-robertson @shorowit Since we haven't been able to reproduce the error completely in C++, I'm going to fix the problem that I can cause, and that's double reading of design conditions. PR should hit within the next couple hours.

[2018-09-29 13:16] shorowit commented on #3215
I was able to reproduce the original issue using the attached EPW. Not sure if it's because the EPW has no design conditions or because it has a leap day in it?

[code]

[test.epw.txt](https://github.com/NREL/OpenStudio/files/2430661/test.epw.txt)

[2018-09-29 16:45] jasondegraw commented on #3215
@shorowit It's the lack of design conditions, weird things can happen with leap days but this shouldn't be one. I'm pretty sure that no design conditions would have resulted in repeated calls to the `parse` member function with the data read argument set to `true`. I'm pretty sure that's fixed in my PR, but to be sure I'll add an additional test later today or tomorrow.

[2018-09-30 19:42] jasondegraw commented on #3215
@shorowit I've added a new unit test over in #3288 using your EPW, and the data is no longer doubled up when there are no design conditions

[2018-10-01 13:31] shorowit commented on #3215
Great, thanks @jasondegraw!

[2018-10-01 18:51] nealkruis commented on #2932
@macumber I think this is the blocking issue for accessing Modelkit from OpenStudio.

[2018-10-04 12:53] #3165 closed

[2018-10-04 13:49] #1877 closed

[2018-10-04 13:49] #535 closed

[2018-10-04 13:49] #3183 closed

[2018-10-04 13:49] #3115 closed

[2018-10-04 13:49] #3164 closed

[2018-10-04 18:16] macumber opened #3291 "Multiple calls to runner.validateArguments register attributes each time, cause failures in show runner output"

[2018-10-04 18:19] macumber commented on #3291
- [ ] Need to synchronize openstudiocore\src\cli\openstudio\measure\ShowRunnerOutput.rb with openstudiocore\ruby\openstudio\measure\ShowRunnerOutput.rb, not sure which one is the right one, one under ruby does not crash for multiple arguments
- [ ] Need to make sure that multiple calls to runner.validateArguments do not register the same attribute multiple times, should replace attribute value sim

[2018-10-04 18:19] macumber commented on #3291
@DavidGoldwasser FYI

[2018-10-05 00:01] #3291 closed

[2018-10-05 01:56] macumber opened #3294 "OSM to gbXML can write invalid ID and IDREF fields"
For example, the seb.osm model has a Window Construction named "3'0" x 3'0" Double pane  Alum Material". This gets translated to an ID of "id_3'0&quot;_x_3'0&quot;_Double_pane__Alum_Construction" which has characters that are not allowed in an ID or IDREF, https://www.liquid-technologies.com/DTD/Datatypes/IDREF.aspx

[2018-10-05 02:46] macumber commented on #3294
Need to write a new function to fully clean ids

[2018-10-05 17:07] saeranv opened #3296 "Missing construction layers for an OS: Construction object when importing from gbxml"
I am working on a project where I define OSM surfaces, constructions and materials in Revit using the OpenStudio SDK and then convert this into a gbxml so I can work with the model using Honeybee in Grasshopper.

Here they are listed in the gbxml Construction id:

![image](https://user-images.githubusercontent.com/1685956/46548804-1bb47780-c89e-11e8-8a9c-cabcee2fc2a8.png)

However, when importing

[2018-10-05 17:57] DavidGoldwasser commented on #3296
Just for reference, I wanted to share structure of multi-layer gbXML constructions that I have recently tested. I'm not sure if I have seen any before that defines the layers within the `Construction` object instead of in the `Layer` object. Example shown below does import into OpenStudio with multiple construction layers.

Construction
[code]

Layer
[code]

Materials
[code]

[2018-10-05 20:17] saeranv commented on #3296
@DavidGoldwasser

Does this have anything to do with the way I'm creating my OS:Construction objects?

I'm doing the following (in C#):
[code]

Although, this is creating a correct OS:Construction object in the osm file:

![image](https://user-images.githubusercontent.com/1685956/46558090-ffbecf00-c8b9-11e8-8b5a-e846030158b8.png)

[2018-10-05 21:15] DavidGoldwasser commented on #3235
When I installed pre 2.7.0 it took a long time then I got error about default libraries, which I had not ever changed on purpose. When I restored default libraries and then re-launched app, it just took a few seconds. Went back to 2.6.0 and it also launches quickly now.

@ljbrackney if you are still seeing slow launch try to reset the libraries. Assuming that works for you I think we can close thi

[2018-10-05 21:19] macumber opened #3297 "ScheduleFile's generated using Apply Measure Now are lost"

[2018-10-05 21:33] jmarrec commented on #3235
Speculating here, but Depending what you’re trying to load, it could 30 or so version translations. Think about loading a 0.10 osm file. Doesn’t explain why it’s long, but I did find that when dragging really old bcl components

[2018-10-08 09:42] NunoSaraiva opened #3299 "OpenStudio Plugin error visualizing surfaces"
Hello everyone,
I was working on my model and saved it normally. When I tried to open the file again to continue, Sketchup did not show me any surface even when I open the OpenStudio Inspector and the surfaces are there. I have already tried to run the OSM Diagnostic Script which gives me this:

I do not understand why this is happening since no errors are detected and the file has the same size a

[2018-10-08 14:52] #3299 closed

[2018-10-09 00:32] macumber commented on #3146
Reported by @DavidGoldwasser @ljbrackney Marley and Amy

[2018-10-09 00:32] macumber commented on #3146
UI should tell user what it is doing so they know why the app is so slow to load

[2018-10-09 00:39] #2319 closed

[2018-10-09 00:42] #3190 closed

[2018-10-09 01:44] #3107 closed

[2018-10-09 01:47] #3121 closed

[2018-10-09 01:47] #2992 closed

[2018-10-09 16:48] pflaumingo opened #3302 "gbXML imports openings with an openingType of "air" are assigned an AirWall construction by default crashing EnergyPlus"
This code [here](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/gbxml/ReverseTranslator.cpp#L912) is adding an AirWall construction to openings with an openingType of "air". This causes EnergyPlus to crash with the following output: "FenestrationSurface:Detailed="AIM75960 REVERSED" has an opaque surface construction; it should have a window construction"

[2018-10-09 17:09] macumber commented on #3302
Is this for interior or exterior openings?  Modeling of large openings is difficult and not something we handle right now.  What short term fix do you want?  We can backport something to 2.6.0-gbxml branch

[2018-10-09 17:16] macumber commented on #3302
Also, can you post an example file or give me a link privately?

[2018-10-09 17:35] pflaumingo commented on #3302
The model I have can't be shared - I'll send privately. I think a short term fix of just not applying a default construction would work fine while we figure out the more appropriate modeling path.

[2018-10-09 18:09] pflaumingo commented on #3302
@rpg777 any radiance concerns or requirements to be aware of here?

[2018-10-09 19:46] jasondegraw commented on #1031
I'm going to close this because the top level issue has been addressed. Will add a separate issue for the materials units.

[2018-10-09 19:46] #1031 closed

[2018-10-09 19:48] jasondegraw opened #3303 "gbXML import does not convert material units"
The units on materials (conductivity, etc.) are not converted and are assumed to be in the expected units.

[2018-10-09 19:56] jasondegraw commented on #3294
@macumber This could be the explanation for some of the reported issues that I wasn't able to reproduce.

[2018-10-09 21:03] macumber opened #3304 "Output of join is not swigged"
Need to swig OptionalPoint3dVector

[2018-10-10 10:07] jmarrec commented on #3120
I think this can be closed now via  #3227

[2018-10-10 10:08] jmarrec commented on #2350
@kbenne ?

[2018-10-10 10:08] jmarrec commented on #2152
Bump to close!

[2018-10-10 12:44] #2152 closed

[2018-10-10 12:45] #3120 closed

[2018-10-10 13:44] jmarrec commented on #3235
I think I found an ok solution in #3307, see gif over there to demonstrate what it does.

[2018-10-10 18:29] saeranv commented on #3296
@DavidGoldwasser
cc @ryanxwelch

Here's more data to help figure out at what point in my workflow I'm doing something different with my construction assembly that is creating a slightly different gbxml.

Here's how my construction assembly is defined in OpenStudio:

[code]
Is this how the .osm file, that is being used to generate your working gbxml is defined?

Feel free to share your working gbxm

[2018-10-12 15:34] macumber opened #3311 "Bundle tests take too much space"
Change to use gem other than openstudio-standards to save space.  Also tests should not change Gemfile.lock in source directory.

[2018-10-12 15:45] jasondegraw commented on #3215
This was addressed in #3288

[2018-10-12 15:45] #3215 closed

[2018-10-14 04:59] macumber opened #3312 "Allow multiple drag/drop"
Would be nice to select multiple space types, construction sets, schedules, etc and drag/drop these into the model all at once

[2018-10-16 05:00] macumber opened #3314 "gbXML translation does not roundtrip unless Facility object present"
The following code will fail unless the model has a Facility object present

[code]

Also, Spaces will not be translated without a Building.

[2018-10-16 05:08] macumber commented on #3296
FYI https://github.com/NREL/OpenStudio/tree/Issue3296

[2018-10-16 16:07] saeranv commented on #3296
For what it's worth, here's another failed attempt I just tried at an alternative workflow.

I decided to go to my Honeybee roots and check to see, and mimic how Mostapha/Chris defines their OS:Constructions:

[code]

By comparing the two I observed that there is one mistake that I believe I made, I initiated a MaterialVector with a predefined length, then subsequently added OS:Materials to that M

[2018-10-16 16:45] macumber commented on #3296
@saeranv I think I fixed this here, https://github.com/NREL/OpenStudio/commit/741b211c7c7586ec62c7971c3ebd82da8b292811

It's too late to make this into 2.7.0, are you able to create your own builds?  Do you have a timeframe for needing this?

[2018-10-16 18:48] saeranv commented on #3296
Awesome thanks @macumber !

I don't know how to make my own builds, but I'll check with my colleagues to see if they can. The timeframe should be flexible, and if we have to wait I think that's fine. I decided to deal with this problem by defining my construction assemblies from scratch in Honeybee for this design iteration. When do you think the next OS version is coming out?

[2018-10-16 20:58] tsbyq commented on #3297
The schedule file generated by a measure is saved in different locations depending on where the measure is applied.
(1). When the measure is applied in the "Apply Measure Now" interface, the schedule file is saved in a path like "../Temp/OpenStudioApp.ek8004/resources/"
(2). When the measure is applied in the Run tab of OS app, the schedule file is saved in a path like "../Temp/OpenStudioApp.ek533

[2018-10-16 21:31] saeranv commented on #3296
@macumber so the feedback is that making our own builds would be too steep a building curve for us. So we will wait for the next release.

[2018-10-17 17:40] DavidGoldwasser opened #3316 "BillingPeriod.modelConsumption doesn't gather values when fuel type for utility bill is "FuelOil_2""
I ran across this testing an updated version of CalibrationReportsEnhanced measure setup to add support for Fuel Oil #2. In a test model that shows consumption in EnergyPlus for Electricity, Natural Gas, and Fuel Oil #2, `BillingPeriod.modelConsumption' only returns boost optional for UtilityBills with fuel type of "Electricity" and "Gas" but not "FuelOil_2". "FuelOil_2" comes from adding utility

[2018-10-17 17:41] DavidGoldwasser commented on #3316
Needed for project, would, like to get this in the first 2.7.x installer after 2.7.0

[2018-10-18 00:04] macumber opened #3317 "Error in ExternalFile placement"
When copying an ExternalFIle, the destination should be the first path returned by WorkflowJSON::absoluteFilePaths rather than the root dir:

https://github.com/NREL/OpenStudio/blob/988568682080e1e281d1043ebfc0b03854d083ef/openstudiocore/src/model/ExternalFile.cpp#L221

[2018-10-18 00:05] macumber commented on #3317
Related to https://github.com/NREL/OpenStudio/issues/3297

[2018-10-18 02:16] macumber commented on #3297
I think this issue is fixed by https://github.com/NREL/OpenStudio/commit/e8fd0b1b3df91d61baa4c94d4b8b41e3d4e164cd but will need to test to confirm.  @tsbyq are you able to make an OpenStudio build to test?

[2018-10-22 15:50] macumber opened #3320 "Warnings on require openstudio"
ruby -v -e "require 'openstudio'" produces:

[code]

[2018-10-22 15:51] macumber commented on #3320
Solution is probably to undef/alias old methods before redefining, could not get Kernel.warn to give me line number of warning

[2018-10-23 19:33] #3296 closed

[2018-10-24 19:34] eringold commented on #3146
related to https://github.com/NREL/OpenStudio/issues/3235

[2018-10-25 21:51] saeranv commented on #3296
FYI, I've tested the latest build on my end and my constructions are being extracted correctly (see import from gbxml OSM below). Thanks!

![image](https://user-images.githubusercontent.com/1685956/47532467-7417dd00-d87e-11e8-9d15-a14f8fc25d04.png)

[2018-10-29 21:35] MingboPeng commented on #2939
I tested 2.7.0, it seems there is no above mentioned PINVOKE error anymore. thanks for fixing this.

[2018-10-30 03:17] anchapin opened #3326 "Measure Manager Crashes with error computing arguments"
When I try to add a measure to the measure tab or via the apply measure now window I get the following two error windows. I also can't simulate the model in either PAT or the OS App. I'm using OpenStudio 2.7.0 x64 on Windows. Note that this doesn't happen when attempting to either add a measure to the measure tab or via the apply measure now window with a blank OpenStudio file or one without DX co

[2018-10-30 14:43] eringold opened #3327 "Dropping a load definition on a grid view-filtered space will undo the filter"
Found in 2.7.0

In the Spaces tab, Loads subtab, if you filter a list (by Story, Thermal Zone, or Space Type) and drag and drop a load definition to a space's definition drop zone, all of the spaces will appear - the filter will be deactivated, although the dropdown menu will still show the previously-selected filter.

@jmarrec

[2018-10-30 14:53] DavidGoldwasser commented on #3326
Normally this kind of failure is related to problem with forward translation from OSM to IDF, which measure manager initiates. Just to clarify, you can run simulation on this model without any problems? What happens if you export to IDF from the file menu?

[2018-10-30 15:08] anchapin commented on #3326
@DavidGoldwasser I just updated the post above to correct a typo. I can not run the simulation on this model.

Unfortunately, the file is of a sensitive government building, so anything related to the geometry of the building and space/zone names can't be sent online. I'm willing to provide a redacted version of the file, but not sure I have time to do that now, unless you have an idea of a quick

[2018-10-30 16:32] anchapin commented on #3326
Do you have an idea for a workaround for this, or if not an estimated time frame for a fix?

Is there a way of easily reverting the file back to version 2.6.0 or do you think trying to use a different type of coil like DX:TwoSpeed might help?

[2018-10-30 18:04] anchapin commented on #3326
Update: I have an older version of this file (main difference is smaller building size) with DX coils and it simulates, can export IDF file, and can have measures added to it even after converting it to version 2.7.0.

Now I'm trying to figure out what else is different which may be leading to this error. Note that both of these files were originally created from the Proposed design model with the

[2018-10-30 18:46] DavidGoldwasser commented on #3326
@anchapin is the `OS:Coil:Heating:DX:SingleSpeed` object in each of the two models. if the object doesn't look the same in both, can you paste the text in this thread. You can open the OSM in a text editor.

[2018-10-30 19:01] anchapin commented on #3326
An example OS:Coil:Heating:DX:SingleSpeed for Bangkok_ASH 2013_rev.osm (the one with the error) is:
[code]

And the same object in Bangkok_ASH 2013.osm is:
[code]

[2018-10-30 19:39] anchapin commented on #3326
The curve objects are provided below. Note that they are the same between files therefore `{42d97a26-ced0-4253-bf6a-74b09fb22de9}` is the same as `{eff6c5e3-2ccc-4179-a3a9-4109cff734ed}` below.

[code]

[2018-10-30 19:56] DavidGoldwasser commented on #3326
@anchapin it looks like somehow the curve with UUID if `{42d97a26-ced0-4253-bf6a-74b09fb22de9}` has been deleted but is still referred to by the coil. I believe there must be a bug in the OS app or measure that caused this. While that is hard to track down the good news is we should be able to get you up and running again. I would follow these steps.

1. Save OSM as a copy with unique name
2. Dele

[2018-10-31 11:50] anchapin commented on #3326
@DavidGoldwasser thanks for suggesting those steps. That wasn't the problem (coil referencing a deleted curve UUID), but in the process of following those steps I figured out the issue. All of the PSZ HPs (System Type 4 in ASHRAE) were created by the "Create Baseline Building" measure without a UUID for a Energy Input Ratio Function of Flow Fraction Curve Name input field. See below for an example

[2018-10-31 12:47] anchapin opened #3328 "PAT Killing process data_point.osw due to timeout"
I'm using v2.7.0 of PAT. The attached log contains the error message I received. This occurred on four of the 25 runs that I simulated with PAT. I checked one of those four runs and it runs fine in OS app directly. Not sure if this is an issue with openstudio-server or PAT. Additionally, each of these runs happens to only have EnergyPlus and Reporting Measures applied.
[3e769d37-50b3-4609-9647-79b

[2018-11-01 15:18] DavidGoldwasser commented on #3326
@anchapin can you re-run the baseline measure on your model and see if the coil objects are still invalid. We can't reproduce this kind of corruption with one of our models.

It is clear the missing required curve is why the application is crashing, it isn't clear how the file got corrupted.

[2018-11-01 15:52] DavidGoldwasser opened #3329 "Measure Manager update measures doesn't work if only XML file has been updated"
I thought there was an old issue about this that had been fixed, but I could find it.

In example I change only min_compatible in the XML file. version_id version_modified and xml_checksum are not updated.

To get upload to BCL to work I have to change measure.rb run measure manager, change meaure.rb back, then re-run measure manager.

As a note, while this works it does move the location of the d

[2018-11-01 16:32] anchapin commented on #3326
@DavidGoldwasser I just tried re-running the baseline measure again and this time that issue didn't occur. I'm not sure what's different this time around, I used the same starting file (at least the best that I can tell).

[2018-11-01 20:14] DavidGoldwasser opened #3330 "Support flag in OSW file to not run EnergyPlus"
Per @macumber cross posting enhancement request from OpenStudio-workflow-gem
https://github.com/NREL/OpenStudio-workflow-gem/issues/80

[2018-11-02 19:51] DavidGoldwasser opened #3332 "Failed Simulations for Coil Cooling Water To Air Heat Pump Variable Speed Equation Fit in 2.7.0"
Forward translation changed between 2.6.0 and 2.7.0 to automatically add in UnitarySystemPerformance:Multispeed objects, in a way that results in failed simulations with this error.

[code]
The coil in question above is part of OS:ZoneHVAC:WaterToAirHeatPump object. May be related to this commit.
https://github.com/NREL/OpenStudio/commit/c64af7288a61b62a7e8235b4f2a17baaf0ab4efa

Hit this k-12 net

[2018-11-03 01:09] macumber opened #3333 "Standardize platform ifdefs"
These are some of the variables we are using, should standardize

Q_OS_WIN
Q_OS_DARWIN
Q_OS_MAC
Q_OS_LINUX
WIN32
_WIN32
_WINDOWS
__APPLE__
_MSC_VER
BOOST_WINDOWS
_POSIX_VERSION

[2018-11-03 13:10] macumber commented on #3330
I think this might be possible by defining custom jobs in the OSW that do not include EnergyPlus:

https://github.com/NREL/OpenStudio-workflow-gem/blob/develop/spec/schema/osw.json#L106
https://github.com/NREL/OpenStudio-workflow-gem/blob/develop/spec/openstudio/workflow/workflow_analysis_spec.rb#L504

Let's try it out and see

[2018-11-03 13:18] macumber commented on #3329
FYI, this is where the XML checksum is computed, https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/utilities/bcl/BCLXML.cpp#L891

It will be difficult to change this without causing different versions of OpenStudio to see updates

[2018-11-03 15:56] DavidGoldwasser commented on #3329
We could always just add a note in measure writing guide that if updating XML by hand, for elements not in measure.rb that the version_id should also be updated by hand. We could also update this script to do this as well.
https://github.com/NREL/OpenStudio-measures/blob/develop/update_min_version.rb

[2018-11-05 09:13] jmarrec commented on #2350
@kbenne?

[2018-11-05 10:59] jmarrec commented on #3332
Pretty sure that's not what's happening. If you look more closely at the error + the generated IDF, you'll notice that in fact there isn't any `UnitarySystemPerformance:Multispeed` object for the concerned `ZoneHVAC:WaterToAirHeatPump`.

I believe E+ 9.0.0 now makes `UnitarySystemPerformance:Multispeed` mandatory when you use multispeed coils in a heat pump (and I would reckon it wasn't really han

[2018-11-05 18:37] brianlball opened #3336 "EMS:MeteredOutputVariable is swig'd wrong"
setEMSProgramOrSubroutineName() will fail in Ruby.
solution:  swig EMS:Program and EMS:Subroutine before EMS:MeteredOutputVariable

[2018-11-05 18:49] macumber commented on #3336
Just as an FYI @brianlball it is often enough to forward declare a class for SWIG, in this case it looks like there aren't circular dependencies so it's ok to just change the order

[2018-11-05 22:04] brianlball commented on #3336
fixed in PR https://github.com/NREL/OpenStudio/pull/3339

[2018-11-05 22:10] #3336 closed

[2018-11-06 18:07] DavidGoldwasser commented on #3332
@kbenne I'm assuming since there isn't a way to access this object in the GUI, we probably want to add to forward translator.

For my use case in measure, I can update the measure to add these. @kbenne or @jmarrec do either of you have an example measure, OSM or IDF that uses these with zone equipment. The example EnergyPlus files for Coil Cooling Water To Air Heat Pump Variable Speed Equation Fit

[2018-11-06 18:21] DavidGoldwasser commented on #3332
Wondering if I can solve this in measure. While AirLoopHVACUnitarySystem has field to refer to UnitarySystemPerformance:Multispeed object

For zone heat pump I don't see where to refer to UnitarySystemPerformance:Multispeed in either CoilCoolingWaterToAirHeatPumpVariableSpeedEquationFit or
ZoneHVACWaterToAirHeatPump

Not sure what valid OSM model would look like in 2.7.0.

[2018-11-06 18:53] shorowit opened #3341 "OpenStudio 2.7 drops argument from measure.xml"
I hadn't update the measure.xml for one of my measures in a wile, so I ran the following command using OS 2.7:
`openstudio measure -t .`

This incorrectly resulted in one of the arguments (`calc_type`) being removed from the measure.xml.

Here's the current measure after running the above command:
[301EnergyRatingIndexRuleset.zip](https://github.com/NREL/OpenStudio/files/2554587/301EnergyRatingInd

[2018-11-06 19:08] shorowit commented on #3341
Now that I look closer, it's completely screwy. It's updating one measure with some of the information from a different measure. This happens even if I go into the measure and just run `openstudio measure -u .` So weird.

[2018-11-08 03:20] macumber commented on #3332
@jmarrec are you able to fix this on Thursday?  If so, please do

[2018-11-08 03:33] macumber commented on #3316
Can you give me an example OSM?  Looks like the error is probably happening here:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/UtilityBill.cpp#L1190

But I don't know why unless I can see the OSM and a SQL file

[2018-11-08 05:49] macumber commented on #3316
Fixed in https://github.com/NREL/OpenStudio/pull/3345/commits/b3edfdc249b6e40db2058b222e52b53fb9576ff9

[2018-11-08 05:49] #3316 closed

[2018-11-08 14:21] #3235 closed

[2018-11-08 15:52] jmarrec commented on #3332
So to me it's an E+ issue which I've at least partially addressed in https://github.com/NREL/EnergyPlus/issues/7053 (but your test model will still fail to run with the fix, unsure why).

I think a workaround would be to use a `AirLoopHVAC:UnitarySystem` (`AirLoopHVAC:UnitaryHeatPump:WaterToAir` isn't wrapped anyways) and place that in the zone directly, since you'd end up with an actual `UnitaryS

[2018-11-08 16:36] JShultz89 commented on #2468
@eringold @MatthewSteen I am experience the orphaned element when adding a WaterHeater:HeatPump or WaterHeater:HeatPump:WrappedCondenser. I am using 2.6.0 on Windows 10.

Was there a solution found?

[2018-11-08 16:37] #2914 closed

[2018-11-08 16:48] jmarrec commented on #2802
Still today today with 2.7.0

[2018-11-08 17:26] #1156 closed, assigned to kbenne

[2018-11-08 18:16] #3024 closed

[2018-11-08 18:17] #1704 closed

[2018-11-08 18:18] #2212 closed

[2018-11-08 18:19] #1465 closed

[2018-11-08 18:19] #2220 closed

[2018-11-08 19:19] #3257 closed

[2018-11-08 20:41] #190 closed

[2018-11-08 20:41] #2252 closed

[2018-11-08 20:57] DavidGoldwasser commented on #114
I'm fine with either 1 or 2. I can confirm that if an object doesn't have a renderingColor and is opened in the app it will generate an object on the fly.

If we don't change idd, we could still change clone to make duplicate renderingObject as part of the clone, vs. sharing renderingColor with source object. We could also add renderingColors to remove orphan and unused objects measure.

[2018-11-08 22:19] #2841 closed

[2018-11-08 22:33] macumber commented on #2780
OpenStudio installer also does not list DView

[2018-11-08 22:34] macumber commented on #2780
DView not listed as an application on Mac

[2018-11-08 22:42] macumber opened #3347 "Import ScheduleFile from IDF"

[2018-11-08 22:43] #3297 closed

[2018-11-08 22:44] macumber commented on #2988
Closing this enhancement, import of ScheduleFile is listed here https://github.com/NREL/OpenStudio/issues/3347

[2018-11-08 22:44] #2988 closed

[2018-11-08 23:01] macumber opened #3348 "Update RunPeriod vs Annual reporting periods in OS"
E+ 8.9 now distinguishes between these two

[2018-11-08 23:30] macumber commented on #2915
- [ ] Intersect with space floorprints to assign roofs to spaces
- [ ] Trim walls with roofs
- [ ] Merge roof branch

[2018-11-12 19:29] pflaumingo opened #3349 "gbXML translator doesn't provide option to import volume or area values from spaces"
It would be nice to have an option to be able to use pre-calculated volume and area values from spaces in a gbXML file for OpenStudio to use. Many gbXML authoring tools don't create perfectly enclosed shells for spaces and this results in OpenStudio fairly often applying a default value of 10m2.

[2018-11-12 22:48] macumber commented on #3349
I agree that this is a good feature request.  I don't know where the default 10 m^2 is coming from though?  I don't know of any check that OS or E+ does for fully enclosed zone geometry.

[2018-11-12 23:01] pflaumingo commented on #3349
Seem to have been changed about a year ago [here](https://github.com/NREL/EnergyPlus/pull/6299)

[2018-11-15 22:47] DavidGoldwasser opened #3351 "Different behavior with workspace.addObjects vs. workspace.addObject for invalid IDF files"
After seeing [https://unmethours.com/question/35742/debugging-of-workspaceaddobjects-input/](post related to this on UH) I looked at the [https://bcl.nrel.gov/node/83281](InjectIDFObjets)

It currently uses code like this.
[code]

If the IDF as one or more invalid objects nothing is added to the model with `addObjects`. You can see the objects in `source_idf` but some have been altered where missi

[2018-11-16 06:12] macumber commented on #3351
Related to https://github.com/NREL/openstudio-standards/issues/540

[2018-11-16 15:01] DavidGoldwasser commented on #3351
@macumber this measure from BCL has not been in our measures repo, so I added a branch for it, and improved the reporting some. I'll get it on develop once I see if there is a way to identify the problem objects.
https://github.com/NREL/OpenStudio-measures/blob/inject_idf_ojbects/nrel_published/inject_idf_ojbects/tests/bad_objects.idf

[2018-11-16 18:41] shorowit commented on #3341
Might have been caused by two measures with the same UUID. Perhaps the measure manager should detect this? In any case, I finally got around it.

[2018-11-16 18:41] #3341 closed

[2018-11-19 19:32] macumber opened #3357 "Use of Workspace in EnergyPlus Measures may be overly restrictive"
EnergyPlus Measures are intended as a final workaround to allow users to modify any objects or fields that are not accessible from the Model API.  However, the use of Workspace requires that all objects are valid and conform to the built in IDD.  Consider relaxing some of these requirements.  Options include:

- Allow custom IDD to be specified in OSW and used for EnergyPlus measures (would requir

[2018-11-20 22:34] luisclv opened #3358 "AvailabilityManager:OptimumStart Incorrect Units"
**OS Version:** 2.6.1

## Problem
While displaying I-P units in Openstudio, adding a `AvailabilityManager:OptimumStart` from the library shows SI units for the gradient inpunts (the units show K/h instead of R/h).
## Solution
The GUI should display R/h when the global unit system is set up to I-P, and it should be able to convert the inputs from SI to I-P in the text file.

[2018-11-27 02:33] macumber opened #3359 "OpenStudio hangs on some geometry operations"
Occurs in some of the intersect tests and the create_bar measures.  Did not resolve when updating boost to 1.68, seems to be a little worse.

[2018-11-27 02:33] macumber commented on #3359
@DavidGoldwasser reported as well

[2018-11-30 12:41] pachi opened #3362 "Build fails for the GenerateIddFactory target"
I'm trying to compile a new build using this commit 50aeb4bb19fc27326616904fa15008f24dcd7be4
I create the build dir and generate a configuration using cmake.
When I try to make the build it fails in the linking step of GenerateIddFactory with the following error:

[code]

Somehow it seems to fail when linking to the libboost regex library, but ```boost_1_55_0_linux.tar.gz``` has been downloaded an

[2018-11-30 13:06] jmarrec opened #3363 "EvaporativeCoolerDirectResearchSpecial primary design flow rate isn't Forward Translated"
Like the title said. Found via @shorowit

Should be present here: https://github.com/jmarrec/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateEvaporativeCoolerDirectResearchSpecial.cpp#L82:L84

[2018-12-02 07:07] #3363 closed

[2018-12-03 10:10] pachi commented on #3362
I have tried both configuration options with the same result.

I'm using a newer cmake 3.11.4 coming from an Ubuntu 18.04, and this OS, so that may be it.

The miscompilation shows when linking to Boost, to a version which, as far as I can tell, is being downloaded and vendored in the build directory itself.

I'll try to build the develop3 branch.

[2018-12-03 15:18] macumber commented on #3362
Just so you know, develop3 is a very early stage branch.  It will be unstable and changing a lot.  We aren't planning to make it public until March 2019 at the earliest.

[2018-12-04 10:57] pachi commented on #3362
I have tried both configuration options with the same result.

I'm using Ubuntu 18.04 and a newer cmake 3.11.4, so maybe that's just the problem, although the miscompilation looks like a problem linking to Boost regex (using a version which is downloaded in the build process).

I have tried the develop3 branch, it builds fine (modulo the ```make GenerateIddFactory``` and ```make GenerateIddFactory

[2018-12-05 17:23] eringold opened #3369 "AvailabilityManager:HybridVentilation missing EnergyPlus fields and OpenStudio methods"
In 2.7.0:

AvailabilityManager:HybridVentilation has two numeric fields that aren't implemented in OpenStudio:

* [x] N8 , \field Minimum HVAC Operation Time
      \note Minimum operation time when HVAC system is forced on.
      \type real
      \units minutes
      \minimum 0.0
      \default 0.0
* [x]  N9 ; \field Minimum Ventilation Time
      \note Minimum ventilation time when natural ventil

[2018-12-12 03:28] MatthewSteen opened #3379 "deprecate BoilerHotWater "Design Water Outlet Temperature" field"
As of EP 9.0 this field has been deprecated by https://github.com/NREL/EnergyPlus/pull/6816.

[2018-12-13 17:37] jasondegraw commented on #2423
I was not able to reproduce this issue, and there is now a passing unit test for the ReverseTranslator:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/gbxml/Test/ReverseTranslator_GTest.cpp#L154

It's named `ReverseTranslator_SubSurfaceConstructions` for when the link goes stale.

[2018-12-13 17:37] #2423 closed

[2018-12-13 17:56] mostaphaRoudsari commented on #2423
Thanks @jasondegraw and @DavidGoldwasser. I haven't checked gbXML importer recently. @chriswmackey do we have any issues related to subsurfaces?

[2018-12-13 18:56] DavidGoldwasser commented on #3332
@jmarrec thanks for looking into this. I couldn't see if there was another EnergyPlus issue filed related to the divide by 0 in sizing manager filed here?
https://github.com/NREL/EnergyPlus/issues/7053#issuecomment-436970871

[2018-12-14 09:40] jmarrec commented on #3332
I haven't opened a separate issue but feel free to.

[2018-12-14 22:29] DavidGoldwasser opened #3381 "openstudio::SqlFile::energyConsumptionByMonth does not work for fuel type of "Additional Fuel""
There was a recent bug relate to fuel oil 1 being used in calibration measure. That has been fixed, but I stumbled across issue getting monthly results by fuel end use and category in OpenStudio Results. Fuel oil is lumped in with "Additional Fuel".

To demonstrate this I added fuel oil to a test model and added two asserts in the test. One assert is that it is finding fuel oil on a `sqlFile.execA

[2018-12-14 22:36] DavidGoldwasser commented on #3381
The EnergyPlus HTMl file only has "BUILDING ENERGY PERFORMANCE" table for electricity and natural gas, so if OpenStudio is leaning on this, then that can explain why additional fuel doesn't work.

If that is the case, then maybe we can request that table in EnergyPlus add that table for all fuel types used in the model.

[2018-12-14 22:37] DavidGoldwasser commented on #3381
If I had to put in a work around for now, it would be to add meter with monthly time step for additional fuel, or directly for fuel oil.

[2018-12-14 22:48] DavidGoldwasser commented on #3381
It does look like `energyConsumptionByMonth` does just roll up a `execAndReturnFirstDouble` query into tabular data. @macumber do you see an easy solution other than having EnergyPlus team add this table.

https://github.com/NREL/OpenStudio/blob/2da860da42395b39845533d74c372644b1bb18c7/openstudiocore/src/utilities/sql/SqlFile_Impl.cpp#L863-L881

[2018-12-18 18:35] #3268 closed

[2018-12-19 07:00] DavidGoldwasser commented on #3381
@asparke2 had idea to add additional `Output:Table:Monthly` I have tested this on IDF file and it does add additional tables, for meters, but I'm having problem adding it properly in energyPlusOutputRequests, I'm probably just making typo. The code below is for fuelOiL, but I would probably use additionalFuel instead,

[code]

[2018-12-19 13:43] asparke2 commented on #3381
check out the `eplusout.mdd` file from a model with fuel oil to get the right syntax for the Meter

[2018-12-19 16:18] DavidGoldwasser commented on #3381
@asparke2 sorry, the meter output request goes in fine, I used the mdd to get that, although I think I want to switch to AdditionalFuels, which is also in the mdd, as that the fuel type OpenStudio is expecting in this use. It is the MonthlyReport that isn't making it in. @macumber this is documented as a supported object type for energyPlusOutputRequests but I have not found an example if it used

[2018-12-19 23:07] macumber opened #3386 "LifeCycleCost:UsePriceEscalation bad E+ IDD"
In ProposedEnergy+.idd for LifeCycleCost:UsePriceEscalation

`A1,  \field LCC Price Escalation Name`

should be

`A1,  \field Name`

prevents the `.name` method from working, reported by @DavidGoldwasser

[2018-12-23 17:59] #3333 closed

[2018-12-26 20:06] DavidGoldwasser commented on #3381
`I've been trying to add Output:Table:Monthly` now, not `Output:TableMonthlyReports`. This is in line with what is added to Gas and Electricity. My code looks like this.

[code]
I've been having issues testing this. The reporting measure test currenty reverse translates the output request, and the addes them to the OSM. `Output:Table:Monthly` is getting lost in the process.

Here is come code from

[2018-12-27 15:05] shorowit opened #3392 "Searching BCL from OS app doesn't find measure"
I am trying to find [this measure](https://bcl.nrel.gov/node/83281) from the BCL.

If I search the BCL itself, it finds two measures and one of them is the measure of interest.
![image](https://user-images.githubusercontent.com/5861765/50484442-bdcf9180-09ad-11e9-8055-aa67071d9639.png)

However, if I search for "inject" from the OS App, I only find one measure and it's not the one above.
![image](

[2018-12-27 18:21] DavidGoldwasser commented on #3381
@macumber I have this working now in current version of OpenStudio. I'll let you decide if you want to keep this open to add functionality directly to OpenStudio or close it and leave functionality as is. Below are three possible enhancements to support additional fuel.
https://github.com/NREL/OpenStudio-measures/commit/5cc163577c6e501857f1345243166eb78c7e6b33

1. While OpenStudio automatically ad

[2019-01-06 05:33] MingboPeng opened #3398 "[BUG] SWIGTYPE_p_openstudio__model__ZoneHVACTerminalUnitVariableRefrigerantFlow"
Hi, I think there is a bug in 2.7.0 version,
addTerminal in VRF is asking for "SWIGTYPE_p_openstudio__model__ZoneHVACTerminalUnitVariableRefrigerantFlow".

![image](https://user-images.githubusercontent.com/9031066/50732455-d8420180-1149-11e9-8c6e-0d528945e8b3.png)

Thanks,
Mingbo

[2019-01-08 12:45] ChenWenQian commented on #3347
hi, I'd like to import a schedule from my own csv file (i.e. 10-min schedule), So , I created an object Schedule:File in IDF editor,  I imported the idf file containing the Schedule:File, but I can't find it in the osm model. Does openstduio 2.7 support that?
Or can you give me any other suggestions? I tried to use the measure 'Add Interval Schedule From File', but it failed. Firstly, I changed th

[2019-01-09 06:40] macumber commented on #256
Would really like to get rid of ExpandObjects, it requires us to build Fortran which is a whole extra can of worms when adding a new platform

[2019-01-09 23:39] jmarrec commented on #256
That shouldn't be too hard given that  there's already code for the actual zone HVAC ideal air load object in both model and forward translate. The only case that leads to the HVAC template version is when you check the checkbox for the zone.
We'd have to change zone.setUseIdealAirLoads to create an actual model object and place it on the equipment list, similar to what's done for airloopHVAC/avai

[2019-01-15 23:51] macumber opened #3405 "Bug with reporting windows in FloorspaceJS translation"
Reported at https://github.com/NREL/floorspace.js/issues/349

[2019-01-15 23:51] macumber commented on #3405
Confirmed in 2.7.2

[2019-01-18 18:04] DavidGoldwasser opened #3406 "Measure Manager sometimes updates measure.xml in local BCL, preventing update measure from working"
The <version_modified> tag can get updated with a date newer than what is on the remote BCL version of the measure. This prevents the user from updating the measure. I'm not sure what is causing this, but has happened to at least two users who where not developing measure. The distinction here, is that I can see a way this might happen to measure developer. If you set your "My Measures" directory

[2019-01-18 21:54] DavidGoldwasser commented on #3406
@macumber as an odd example, here is the diff log in my current checkout of develop branch of OpenStudio-measure.

What triggered the change to the measure.xml?

- Maybe the readme.md got deleted, then measure manager updated the measure(without that file) giving it a new version id and date, and then after the readme.md came back, the measure manager again ran and updated the version id and date.

[2019-01-21 18:41] lymereJ opened #3410 ".setAshraeTaub() for OpenStudio:Model:DesignDay doesn't work for values greater than 1"
The method to set the ASHRAE clear sky optical depth for beam irradiance (`.setAshraeTaub()`) for design day objects seem to only work for values between 0 and 1. If a value greater than 1 is passed to the method, the ASHRAE Taub doesn't get assign a value.

The default range in older versions of EnergyPlus was between 0 and 1 but the default range in EnergyPlus 9.0 is between 0 and 1.2.

[2019-01-22 15:48] jmarrec opened #3411 "LowTempRadiantConstFlow is missing autosizable capability for tubing length and flow rate"
LowTempRadiantConstFlow is missing autosized capability for Hydronic Tubing Inside Diameter,a nd for Rated Flow Rate

E+ idd:
[code]

OS Idd:
[code]

[2019-01-22 17:05] DavidGoldwasser opened #3413 "no getDefaultSchedule(defaultScheduleType) method for buildingStory"
This method exists for `space` and `spaceType` but not for `buildingStory`. I ran across this working on parametric schedules for openstudio-standards which makes use of Hours of Operation default schedule. It isn't critical to have since I'm currently querying spaces directly about their hours of operation, but it would be nice to address this omission.
https://openstudio-sdk-documentation.s3.ama

[2019-01-23 11:37] jmarrec opened #3415 "OpenStudio.getOpenStudioCLI is empty for develop3 Debug build on ubuntu when using ruby"
When using ruby rather than CLI, this raises:

**test.rb**

[code]
**Shell**:

[code]

This works though:

[code]

If I do the same with my installed openstudio-2.7.1 it works in both cases.

@macumber

[2019-01-23 14:19] macumber commented on #3415
Can you add this to your test?  It will give you more output about what what [getOpenStudioCLI](https://github.com/NREL/OpenStudio/blob/e077c7edfa6c94bb37aeb0e31f40b69ed2740223/openstudiocore/src/utilities/core/ApplicationPathHelpers.cxx.in#L194) is doing:

[code]

[2019-01-23 14:20] macumber commented on #3415
My guess is we should add `cliPath = getOpenStudioModuleDirectory() / toPath("../Products");` other something like that as a backup search location (after all the others) for developer builds.

[2019-01-23 16:39] jmarrec commented on #3415
Agree with you, it searches in ../bin. Last resort should be just '../' (=Products)

[code]

[2019-01-24 17:01] MatthewSteen opened #3418 ""Always On Discrete hvac_library" makes Create Baseline Building measure fail"
The `Always On Discrete hvac_library` that gets assigned to some Availability schedule fields causes an [OpenStudio error](https://github.com/NREL/OpenStudio/search?q=%22Required+availability+schedule+not+set%22&unscoped_q=%22Required+availability+schedule+not+set%22) when running the Create Baseline Building measure with the cryptic message...

[code]

Solution is to find all fields that referenc

[2019-01-29 17:34] mdahlhausen commented on #3351
A tandem request per [NREL/openstudio-standards#540]https://github.com/NREL/openstudio-standards/issues/540) is to have the workspace.addObjects() error give out more descriptive information than just returning 'false' when it fails.

[2019-01-29 21:12] MatthewSteen commented on #3124
I'm experiencing this again with `AirTerminalSingleDuctSeriesPIUReheat` objects. After creating them with the API, the `FanConstantVolume` schedule is set to `Always On Discrete`, but after adding a new schedule with a numeric prefix to the model in the app, the fan schedule changes.

![image](https://user-images.githubusercontent.com/8397034/51940675-e8a76e00-23cf-11e9-8c03-3cecb69041c0.png)

[2019-01-29 21:46] jmarrec commented on #3124
Matt can you give a MCVE for this?
Or you can email me your file privately so I can try to reproduce, thanks!

[2019-02-05 16:16] kbenne opened #3420 "Add exportToBCVTB field for EnergyManagementSystemGlobalVariable"
This flag should be used by haystack measures (or others) to signal that the variable should be exported.

[2019-02-05 21:00] jmarrec commented on #3418
Can you give a specific example please?

[2019-02-05 21:20] jmarrec commented on #3146
Save for making sure we do update stuff before we release a package, (and given that CMake checking isn't wanted), there isn't more to do here: I did implement the "UI should tell user what it is doing so they know why the app is so slow to load" in https://github.com/NREL/OpenStudio/pull/3307. I think we can close this one.

[2019-02-05 21:21] jmarrec commented on #3122
Will be addressed on NREL/wex#42

[2019-02-05 21:21] #3122 closed

[2019-02-05 21:32] jmarrec commented on #3044
There are talks of deprecating the others type in E+, so this should get on our radar soonish.

[2019-02-05 21:33] jmarrec commented on #2993
@shorowit thoughts?

[2019-02-05 21:34] jmarrec commented on #2970
Last one (Qt) is definitely happening in develop3

[2019-02-05 21:38] jmarrec commented on #2947
In https://github.com/NREL/OpenStudio/pull/2700 I have added pretty much all specific object variables, with brian's PR I think this one can be closed. We can open specific PRs if we find out of date/lacking variables further down the road.

[2019-02-05 21:38] #2947 closed

[2019-02-05 21:40] jmarrec commented on #2929
This is fully working now, and will migrate to 18.04 as the preferred plaftorm once develop3 gets merged in (though I keep testing it with 16.04 and it works fine too).

[2019-02-05 21:40] #2929 closed

[2019-02-05 22:34] jmarrec commented on #2567
Will test and try to reproduce this bug in current develop, see where we're at nowadays after a few path/encoding issues have been addressed.

[2019-02-05 22:35] jmarrec commented on #2446
Will be addressed in #2861 which has more information.

[2019-02-05 22:35] #2446 closed

[2019-02-05 22:46] #2350 closed

[2019-02-05 22:48] jmarrec commented on #2076
Assuming closed by #2077, can always reopen if we find another one missing (I couldn't)

[2019-02-05 22:48] #2076 closed

[2019-02-05 22:50] jmarrec commented on #1964
Closed by #3246

[2019-02-05 22:50] #1964 closed

[2019-02-05 22:58] jmarrec commented on #1585
Thoughts anyone? It's been hanging open for a long time. Unless someone says this is really needed, I'd say let's just close it.

[2019-02-05 23:00] jmarrec commented on #1573
Need to try in GUI to see if it's available there (it is available in Model API), to know whether this can be closed or not. Relabeling as Enhancement.

[2019-02-05 23:05] jmarrec commented on #1417
This is on develop3, fixed by https://github.com/NREL/OpenStudio/pull/3396

[2019-02-05 23:05] #1417 closed

[2019-02-05 23:06] jmarrec commented on #1410
@macumber thoughts on the comment above?

[2019-02-05 23:07] jmarrec commented on #1391
@DavidGoldwasser Isn't this operational now?

[2019-02-05 23:11] macumber commented on #1410
As long as you can see the info I think it is ok

[2019-02-05 23:11] #1410 closed

[2019-02-05 23:11] jmarrec commented on #1020
This is an openstudio-standards things anyways, so I will close this but I will check if fixed and if need to open an issue on os-standards first.

[2019-02-05 23:14] jmarrec commented on #1019
@macumber can you please look at your 4 year-old comment above and assess whether it really should stay open or not? At least I'd label this as "Enhancement request"

[2019-02-05 23:19] macumber commented on #1019
@mostaphaRoudsari is this an important feature for you?

[2019-02-05 23:21] #154 closed

[2019-02-07 19:45] dstuder commented on #1585
Sure, that's certainly better than what was there before!

[2019-02-08 16:45] DavidGoldwasser commented on #3418
@asparke2 is it possible baseline logic expects everything to to ScheduleRuleset and not AlwaysOnDiscrete? If so we could convert to ScheduleRuleset as pre-processor to running baseline?

[2019-02-08 16:48] DavidGoldwasser commented on #3359
You can reproduce this with CLI using this measure test, which is currently commented out.
https://github.com/NREL/OpenStudio-measures/blob/develop/nrel_dev/create_bar_from_building_type_ratios/tests/create_bar_from_building_type_ratios_test.rb#L259

EnergyStar TenantSpace also hit this.

[2019-02-08 17:47] macumber commented on #3418
This seems like an issue for Openstudio-Standards?

[2019-02-08 22:21] MatthewSteen commented on #3418
I tried to replicate the issue with a new model, but wasn't able to. However, this is the second model that I've experienced this error with. The first time, I asked Andrew about it on Slack who indicated that it was more of an OS issue. I'll close it for now and reopen if I can replicate it.

[2019-02-08 22:21] #3418 closed

[2019-02-09 16:33] DavidGoldwasser commented on #1391
Yes, this can be closed.

[2019-02-09 16:33] #1391 closed

[2019-02-09 16:49] DavidGoldwasser commented on #2798
@jmarrec If we make a change I'm fine with the non-editable name just showing in the edit tab. But it does seem now that when measures are dragged over have a meaningful names so I'm also fine closing this without any changes as well.

[2019-02-11 20:39] luisclv opened #3421 "Coil Heating Desuperheater not translating correctly"
The forward translator no longer assigns the correct values to the .idf fields.

https://github.com/NREL/OpenStudio/blob/9cae34291ddb630f8a7a9d0207c85d8bf5ab4aed/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateCoilHeatingDesuperheater.cpp#L102-L114

The assigments are correct in the .osm file but the following code will result in an .idf file referencing a `CoilSystem` object inste

[2019-02-13 19:00] IOMadness commented on #2930
Hi, I'm a IT Tech at a university and we're trying to deploy OpenStudio 2.7 with this script, but it seems to be getting hung up after it shows "Installation Finished", and brings up a window waiting for the user to press "Next". I tried editing the install.qs file, and adding
gui.clickButton(buttons.NextButton);
in the Controller.prototype.FinishedPageCallback = function () section, but it doesn'

[2019-02-14 05:04] Mkellyeng opened #3424 "Geometry Intersection Issue - Surface Shattering"
Summary: Intermittent intersection problem that erroneously subdivides many surfaces, and can cause parts of a surface to effectively be deleted.

If the intersection process would result in a surface having a hole, it uses some special logic to subdivide the surface, and thus avoid creating surfaces which otherwise couldn't be represented in EnergyPlus's coordinate format.
![hole_exception_demo](

[2019-02-14 14:54] chriswmackey commented on #2942
I realized what the issue is.  I didn't know that I was supposed to pass both `-m` and `-w `in order to run a workflow that only applies measures.  Once I pass both of arguments (and not just `-m`), the "apply measures only" feature works without issues.

I apologize for the confusion, and looking back on the CLI documentation, I see that the example there has both the `-measures_only` and the `-w

[2019-02-14 14:54] chriswmackey commented on #2942
Please feel free to close out this issue now.

[2019-02-14 15:26] #2942 closed

[2019-02-14 20:48] IOMadness opened #3425 "Installing using install.qs script hangs"
Hey, I'm an IT tech at a university, and we're trying to deploy OpenStudio 2.7.0 with Sketchup 2017 to our labs. This is a repost from UnmetHours, as we were trying to deploy this soon.

I'm running the installer by running OpenStudioInstaller.exe --script=install.qs, and using the install.qs here: https://github.com/NREL/OpenStudio/blob/8c81faf8bc80b0e8f96a4b2764e5958cd060a625/install.qs

I chang

[2019-02-15 19:48] axelstudios commented on #2930
@IOMadness Can you share the install script that you're currently testing?  I tried the one above (and the [one in the repo](https://github.com/NREL/OpenStudio/blob/develop/install.qs)) with OpenStudio v2.7.1 and Windows 10, and both exited successfully after the install process.

[2019-02-19 17:10] macumber commented on #3425
Closing as duplicate of https://github.com/NREL/OpenStudio/issues/2930

[2019-02-19 17:10] #3425 closed

[2019-02-19 18:13] IOMadness commented on #2930
Ok, so, I'm not sure what was happening, but was able to try it again yesterday and it seemed to work fine the way it is. I was using the script basically as it is, just with the proper products and install location set. Not sure. Thanks anyway, I suppose.

[2019-02-19 18:13] IOMadness commented on #2930
Ok, so, I'm not sure what was happening, but was able to try it again yesterday and it seemed to work fine the way it is. I was using the script basically as it is, just with the proper products and install location set. Not sure. Thanks anyway, I suppose.

[2019-02-19 22:15] DavidGoldwasser commented on #3359
@macumber here is OSW using arguments from skipped measure test that locks up. I confirmed this in OSW on Mac.

`{
  "seed_file": null,
  "weather_file": "USA_IL_Chicago-OHare.Intl.AP.725300_TMY3.epw",
  "measure_paths": [
    "../../../../nrel_dev/"
  ],
  "file_paths": [
    "../../../weather",
    "../../../seeds",
    "../../../seed"
  ],
  "run_directory": "./run",
  "steps": [
    {
      "m

[2019-02-19 22:32] DavidGoldwasser commented on #3359
if `make_mid_story_surfaces_adiabatic` argument is added to OSW with value of `true` then intersection doesn't happen and measure runs fine. The default value for this in measure.rb is `false`. I have been testing on 2.7.2 o mac. I'll test in 2.7.0 and 2.7.1 to confirm behavior. For me this happens with both the measure test (when not skipped) and the OSW. When running for projects on server it wa

[2019-02-19 22:39] DavidGoldwasser commented on #3359
@macumber Locked up 2 out of 4 times on 2.7.0 and 2 out of 4 times on 2.7.1. I'll try a few more times on 2.7.2 to see if I can get it not to always lock up if I try a few more times.

[2019-02-19 23:23] macumber commented on #3359
Here is a test script I wrote, I am getting 4/4 success rates....

[test.rb.txt](https://github.com/NREL/OpenStudio/files/2882372/test.rb.txt)

[2019-02-20 17:06] DavidGoldwasser commented on #3359
Results from my macbook with 50 tries.
n = 50, success = 18

[2019-02-21 04:44] macumber commented on #3359
I think this may be the culprit:

https://www.reddit.com/r/Python/comments/1vbie0/subprocesspipe_will_hang_indefinitely_if_stdout/

[2019-02-21 05:42] macumber commented on #3359
Nevermind, it is just this line:

https://github.com/NREL/OpenStudio/blob/e077c7edfa6c94bb37aeb0e31f40b69ed2740223/openstudiocore/src/model/Space.cpp#L2355

[2019-02-21 16:37] DavidGoldwasser commented on #3359
@macumber ok, here is some more information.

The initial OSW just runs the create_bar_from_building_type_ratios and does intersection within that.
https://github.com/NREL/OpenStudio-measures/blob/os_issue_3359/tests/integration_testing/workflows/190219_intersect/data_point.osw

I decided to skip intersection in that measure, and add dedicated surface_matching_diagnostic measure downstream.  I was

[2019-02-21 22:18] MatthewSteen opened #3426 "ZoneHVACUnitHeater components missing air inlet/outlet node names if created by API"
I used the API to add unit heaters to a model, but EP failed because the fan and heating coil inlet and outlet node names were missing. After removing the unit heaters with the API and then adding new unit heaters with the app the model ran.

[code]

---

[code]

[2019-02-26 00:54] #3415 closed

[2019-02-26 01:15] inkmug opened #3430 "error removing four pipe active beams in os v26 and v27"
Cannot remove four pipe active beam system in openstudio v2.6 and v2.7.

Detailed description and screenshots here:
https://unmethours.com/question/37348/error-removing-four-pipe-active-beams-in-os-v26-and-v27/

[2019-02-26 15:04] jmarrec commented on #3426
@MatthewSteen I think you may have forgotten to do `uh.addToThermalZone(z)`.... ?

[2019-02-26 15:14] jmarrec commented on #3430
@inkmug Can you give an actual example (minimal if possible)? I'm having trouble reproducing it

[2019-02-26 15:25] jmarrec commented on #3410
the OpenStudio.idd is out of date for a lot of the object. Taub and Taud both have outdated maximum values, but that's not all. Changing the ranges is an easy fix, but not sure if it would be worth it to update the entire object's IDD to match E+ if we touch it.

[2019-02-26 15:50] MatthewSteen commented on #3426
@jmarrec no, i tried that too.

[code]

[code]

[2019-02-26 15:55] jmarrec commented on #3426
the Forwardtranslator is the one that sets the nodes, not the model API

[2019-02-26 16:05] MatthewSteen commented on #3426
Ok, well that's strange then. Perhaps it was some more EP instability that I've been experiencing lately.

[2019-02-26 18:38] inkmug commented on #3430
@jmarrec i also tried the hvac_library model, created one thermal zone, one empty air loop, and added the "Air Terminal Four Pipe Beam'.
It worked when clicking on the cross to delete the beam object in the air loop. But when i changed the screen to other tab, the error occurred.
OSA file attached.
[hvac_library_temp.zip](https://github.com/NREL/OpenStudio/files/2906969/hvac_library_temp.zip)

[2019-02-26 19:25] macumber commented on #3359
Fixed this issue and added unit tests in https://github.com/NREL/OpenStudio/pull/3431.  The current fix relies on sorting of spaces and surfaces by area and is likely to not work in other circumstances.  If we discover those cases we can add additional tests and resolve at a deeper level.

Currently, the Space::intersectSurfaces may result in missing surface area from the final result.  This is no

[2019-02-26 19:25] #3359 closed

[2019-02-27 09:05] #170 closed

[2019-02-27 09:19] jmarrec commented on #1358
Tried with OpenStudio 2.7.0 on windows. You **can** add a SPM mixed air on the outside OA nodes (the OA inlet and OA Relief nodes) **but they don't show** on the diagram.

But with 2.7.1 it is no longer a problem, because I have restricted the placement of SPMs and they aren't allowed on the outside air nodes anymore. Closing then.

[2019-02-27 09:19] #1358 closed

[2019-02-27 09:21] jmarrec commented on #1491
Closing now, can always reopen if you voice a strong opinion.

[2019-02-27 09:21] #1491 closed

[2019-02-27 09:27] jmarrec commented on #1573
Tested in OS App 2.7.1:

![image](https://user-images.githubusercontent.com/5479063/53479890-5354d380-3a7a-11e9-8e97-1507575aff55.png)

[2019-02-27 09:27] #1573 closed

[2019-02-27 09:28] jmarrec commented on #3141
Closing for now since it appears to be fixed and no new information was provided indicating otherwise.

[2019-02-27 09:28] #3141 closed

[2019-02-27 09:39] jmarrec commented on #2567
Tried in OpenStudio 2.7.1, opened sketchup, click "Load Model", and selected a model located at `C:\Users\julien\AfolderwithspécialCHar#%ù\test271.osm` and it worked fine.

[2019-02-27 09:39] #2567 closed

[2019-02-27 09:41] jmarrec commented on #2567
Interestingly, OpenStudio::Path.new fails with the example above though (but that's unrelated to this issue)

[code]

[2019-02-27 09:50] jmarrec commented on #2756
@macumber I think you just need to click on the "Add Extensible Groups (+)" which will add a "Thermal Confort Model Type" extensible group and initialize the other fields.

![image](https://user-images.githubusercontent.com/5479063/53481006-9b74f580-3a7c-11e9-97bf-2e7a53e4000e.png)

As you keep clicking the (+) you can add more Comfort Model Types:

![image](https://user-images.githubusercontent.c

[2019-02-27 09:52] jmarrec commented on #1334
Can't reproduce either on OpenStudio 2.7.1 on Windows 10.

[2019-02-27 09:52] #1334 closed

[2019-02-27 09:55] jmarrec commented on #2062
Hard to implement, low return. Closing

[2019-02-27 09:55] #2062 closed

[2019-02-27 10:24] jmarrec commented on #2449
Here's what I tried:

[code]

Result:
[code]

[2019-02-27 10:25] jmarrec commented on #2449
I'm having a hard time figuring out what your problem was: whether the VRFs are removed from the original model, or not included in the target model? Perhaps this is fixed now?

@DavidGoldwasser could you give an minimal example if I missed your problem?

[2019-02-27 10:28] jmarrec commented on #2796
Do we actually want to spend time looking into this, or do we just want to update the "Configuring Build Environments" wiki page to include this information?

[2019-02-27 10:32] jmarrec commented on #974
Where would you put the new "Adiabatic" box on the default construction set page?
How would you name it?

Perhaps in "Other Constructions", named "Adiabatic Surfaces"?

![image](https://user-images.githubusercontent.com/5479063/53484147-6b7d2080-3a83-11e9-855c-1ab3e61b4388.png)

[2019-02-27 10:39] jmarrec commented on #2820
@joshdr83 A year later, did you encounter the same problem? Otherwise I suggest closing.

[2019-02-27 10:40] jmarrec commented on #2936
Should this be moved to DView or be a reporting measure?

[2019-02-27 10:52] jmarrec commented on #1020
Moving to https://github.com/NREL/openstudio-standards/issues/600

[2019-02-27 10:52] #1020 closed

[2019-02-27 10:58] jmarrec commented on #3172
Should we go ahead and remove the files?

[2019-02-27 11:02] jmarrec commented on #1434
Retitled to include information based on #3172

[2019-02-27 11:05] jmarrec commented on #836
@DavidGoldwasser could you verify again, or provide the file (I can't access the link above) please?

[2019-02-27 11:12] jmarrec commented on #221
Do you guys have a way to retrieve the script and/or files so we can test if this is still a thing?

[2019-02-27 11:15] jmarrec commented on #2610
Expected behavior would be to only keep the unique objects from the Component being inserted?

[2019-02-27 11:40] jmarrec commented on #320
thermalConductivity corrrectly does a LOG_AND_THROW. conductivity is still wrong.
I would say just remove conductivity() altogether, since it's always been completely wrong and there's a `thermalConductivity()` that matches other method naming conventions.

Also, there's a lot of uncessary shadowing happening between (Material > ) OpaqueMaterial > MasslessOpaqueMaterial, especially on the public s

[2019-02-27 11:47] jmarrec commented on #322
Multipliers works as intended now. (Space multiplier isn't a thing, so ignoring the other two bullet points)

[code]

[2019-02-27 11:47] #322 closed

[2019-02-27 11:51] jmarrec commented on #324
![image](https://user-images.githubusercontent.com/5479063/53488290-2dd1c500-3a8e-11e9-97b0-948177b0329e.png)

![image](https://user-images.githubusercontent.com/5479063/53488312-3de9a480-3a8e-11e9-98d5-d6c11de7e7da.png)

![image](https://user-images.githubusercontent.com/5479063/53488358-58238280-3a8e-11e9-86d3-0999ca01987a.png)

[2019-02-27 12:58] jmarrec commented on #1737
Is this valid @DavidGoldwasser @rHorsey ?

[2019-02-27 13:05] jmarrec commented on #228
Tested with 2.7.1 in both Sketchup and OS App by loading a IDF at version 7.0. It does try to load the file, though it doesn't crash.

![image](https://user-images.githubusercontent.com/5479063/53492257-b7869000-3a98-11e9-852f-cfd81ec6430e.png)

[2019-02-27 13:14] jmarrec commented on #1722
Bump!

[2019-02-27 13:15] jmarrec commented on #2660
I agree with macumber on paper. Closed until someone can actually reproduce this.

[2019-02-27 13:15] #2660 closed

[2019-02-27 13:22] jmarrec commented on #931
This is the case with every object really, you can put a lot of trash in `setName`, except now I don't think it crashes. I can reload this model in both the CLI and the OS App.

[code]

[2019-02-27 13:24] jmarrec commented on #931
Closing now

[2019-02-27 13:24] #931 closed

[2019-02-27 13:28] jmarrec commented on #2925
Should we close this as won't fix @macumber ?

[2019-02-27 13:33] jmarrec commented on #2798
I've reproduced this in OS App, and now I understand why it could get confusing indeed, so I propose we do make a change, shouldn't be too hard to add the non-editable name on the edit tab.

[2019-02-27 13:34] jmarrec commented on #1633
Does this still belong on this repo or is there another better place for BCL changes?

[2019-02-27 13:38] jmarrec commented on #1544
tested that this didn't change yet with 2.7.1.

I actually think we should just close this issue instead of doing some funky business in the OS App. If you want to clone a terminal to other zones, you can in most cases do that by clicking on the AirLoopHVAC splitter and selecting your thermal zones.

But if you insist of having this implement, I could take care of it.

[2019-02-27 13:41] jmarrec commented on #2365
Thoughts? Should the OS App use 7A instead of 7, or should standards use 7 instead of 7A? Once we define this, it shouldn't be hard to fix it.

[2019-02-27 13:49] jmarrec commented on #3199
I'm having trouble remembering what this issue was really about... Could you refresh my memory so I can double check?

If this is linked to parsing the JSON files to suggest Standards Template/Building Type/Space Type (see picture) then yes, it was done.

![image](https://user-images.githubusercontent.com/5479063/53494807-da1ba780-3a9e-11e9-973b-a17d6bc08a3c.png)

[2019-02-27 13:52] jmarrec commented on #1306
Still true OS 2.7.1

[2019-02-27 14:03] jmarrec commented on #2686
I just tried on 2.7.1 on windows, clicking back on forth between OpenStudio Results and EnergyPlus Results (after creating a model via OpenStudio::Model::exampleModel and running it). After a good minute or crazy clicking, I couldn't see any slow downs, and Task Manager didn't show my memory usage vary one bit.

Could you retry on Mac @DavidGoldwasser to see if you can still reproduce?

[2019-02-27 14:08] jmarrec commented on #2993
@shorowit I'm having trouble reproducing this on Windows with 2.71, could you help?

Things I tried:

* If I'm on the 'Editor' tab, do something new, then click "Preview OSM" and in there I hit refresh, nothing is lot.

* If I'm on the 'Editor' tab, and try to switch to '3D View', I get a message
![image](https://user-images.githubusercontent.com/5479063/53496011-6c24af80-3aa1-11e9-9f6d-3e1bb7bd27

[2019-02-27 14:12] macumber commented on #2925
Yes let’s close as won’t fix for now

[2019-02-27 14:14] jmarrec commented on #3027
Reproduced it in 2.7.1, windows 10, (recent Ryzen 1800X, 8-CPU, 32 GB RAM machine).

I'm not super familiar with the backend of Apply Now, but I'm guessing it's just the measure manager that basically loads the current model to compute potential user_arguments. Loading the "DEER_2017.osm" model itself in OS App takes a comparable amount of time.

[2019-02-27 14:18] macumber commented on #2610
Or somehow merge the new unique object content with existing one, easiest and probably most clear way would be to replace existing unique object with the new one

[2019-02-27 14:19] macumber commented on #324
What happened in the last frame to delete a surface?

[2019-02-27 14:20] macumber commented on #3172
Yes let’s remove

[2019-02-27 14:22] macumber commented on #2567
The path error is not good and should be captured with ruby and c++ unit tests and an issue

[2019-02-27 14:24] macumber commented on #2756
Let’s keep open and rename

[2019-02-27 14:25] macumber commented on #2796
I think we want to figure this out, it’s like an issue with cmake that could lead to other problems

[2019-02-27 14:46] jmarrec commented on #3392
@shorowit That's because it'll only search under the category you have selected, that is "Envelope", while the inject_idf_object is under 'Whole Building".

![image](https://user-images.githubusercontent.com/5479063/53498579-df7cf000-3aa6-11e9-9f2d-87a20b963c44.png)

I think this works as intended and issue should be closed

[2019-02-27 14:50] jmarrec commented on #2289
Is this still a thing now that 2.X is out?

Also seems somewhat related to https://github.com/NREL/OpenStudio/issues/3114

[2019-02-27 14:58] jmarrec commented on #2264
Reproduced in OS 2.7.1 on the Space tab, switching from "Properties" subtab to "Loads" subtab does resize the edit pane.

[2019-02-27 15:19] jmarrec commented on #3123
Checked in 2.7.1 with libraries `ASHRAE 90_1_2010.osm` and `ASHRAE 90_1_2013.osm` and dragging the same set (Office, CZ 4A, eg `90.1-2010 - Office - ASHRAE 169-2006-4A`).

The naming conventions for Exterior Wall constructions are confusing (`Typical Insulated Exterior Mass Wall`) but the constructions themselves are fine.

The 90.1-2010 has an insulation layer called `Typical insulation R-14.76`

[2019-02-27 15:28] jmarrec commented on #894
Tested in OS App 2.7.1, it works already:

![image](https://user-images.githubusercontent.com/5479063/53501510-9a5bbc80-3aac-11e9-89c5-7572eadd75fe.png)

![image](https://user-images.githubusercontent.com/5479063/53501538-a8114200-3aac-11e9-9d0c-bcfafb7af5cd.png)

[2019-02-27 15:28] #894 closed

[2019-02-27 15:33] #1585 closed

[2019-02-27 15:49] DavidGoldwasser opened #3434 "OS app repeatable crash on Mac"
Many internal users have seen stability issues on mac, but have been seemingly random. I came up with a repeatable case from a clean model following steps below.

1. Launch OpenStudioApp
2. Go to Space Types tab
3. Bring in first space type from library into model.
4. Go to "Loads" sub-tab
5. Click on text cell in Space Type Name, Load Name, or Multiplier Column.
6. Without doing anything else aft

[2019-02-27 16:00] DavidGoldwasser opened #3435 "OS App mac crashes if load model before measures load"
When the OS app launches initially the tabs are disabled as shown below until the measures load. But this doesn't stop you from trying to use the menu to load a model, which causes the app to crash.

@macumber and @kbenne I know this is an old issue. Did we decide there wasn't a good away to lock up the menu on mac to prevent this?

<img width="903" alt="screen shot 2019-02-27 at 8 11 04 am" src="

[2019-02-27 16:10] jmarrec commented on #3434
Just tested with 2.7.1 on Windows, no crash.

[2019-02-27 16:20] jmarrec opened #3436 "More path issues with special characters"
Found in #2567.

[code]

The path error is not good and should be captured with ruby and c++ unit tests and a new issue

[2019-02-27 16:21] jmarrec commented on #2567
Opened a specific issue at #3436

[2019-02-27 16:21] jmarrec commented on #324
That's probably the "it has been automatically fixed"...

[2019-02-27 16:45] macumber commented on #324
Oh that deletes it?  That is not good.....

[2019-02-27 16:52] macumber commented on #3199
I believe this was about updating the list of keys you see in drop downs, I believe you did that work so can close this

[2019-02-27 16:52] #3199 closed

[2019-02-27 16:52] macumber commented on #2365
We should save whatever Climate Zone identifiers that OpenStudio Standards accepts

[2019-02-27 16:54] macumber commented on #2798
Yes please add the non-editable name where appropriate

[2019-02-27 17:05] rpg777 commented on #2936
I would argue a reporting measure will be better-suited to handle the data coming from Radiance output, anyway. And since the DView transition openly dissed the need for this visualization in the first place...

[2019-02-27 17:11] carlobianchi89 commented on #3434
It happens to me on Mac too, both opening an existing project and starting from an empty project, as David described.
It crashes not only with the Loads sub-tab, but also on Measure Tags, clicking on text cell in Standards Template or Standards Building Type or Standards Space Type.
After I click on any of these text cells, if I click on any other other tab, OpenStudio crashes.

[2019-02-27 17:33] DavidGoldwasser commented on #2365
zero energy guides have also been supporting recommendations for climate zone 0, so it could be although it isn't a valid option in OpenStudio standards for 90.1

[2019-02-27 17:55] macumber commented on #2365
If this is like the other standards fields, it should suggest values based off the standards json but allow free text entry

[2019-02-27 18:18] jmarrec commented on #2365
Isn't the whole idea of ASHRAE standards to be normative though? So I'd day whatever ashrae says plus maybe a couple others if we have backing up (cz zero for eg).

For 7a v 7, I guess I'm unclear if they are supposed to represent the same thing, a cursory look gave me a table of climate zones and 7 and 8 don't have a/b(/c) unlike the rest. If it's all the same then we just have to pick one.

[2019-02-27 19:04] #2925 closed

[2019-02-28 13:38] lrebello commented on #3327
Also, if you filter and then Select all spaces, you will get the filter undone.

[2019-02-28 16:50] inkmug commented on #3430
@jmarrec Hi Julien, let me know if you received my previous message and if this is something that you can clarify or fix (if there's a bug) soon. If it will take some time for you to look at it, do i have to delete it manually along with all the connections, or what do you recommend? I need to move on given the project schedule. thanks!

[2019-02-28 20:45] eringold commented on #2960
There seems to be no way to make a water-cooled VRF system even with the SDK. Despite there being FT code to handle the plant nodes, (https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateAirConditionerVariableRefrigerantFlow.cpp#L771-L815), neither `plantLoop.addDemandBranchForComponent(vrf)` or `vrf.addToNode(demandBranchNode)` will do an

[2019-03-01 09:43] jmarrec commented on #3430
I can reproduce this in OpenStudio 2.7.1 indeed, switching tabs produces the crash. I will investigate and fix this, but it won't happen soon enough if you are on a deadline.

I suggest removing the four pipe beam terminals using the ruby bindings as a workaround for now.
Load the model into a variable `m` then do `m.getAirTerminalSingleDuctConstantVolumeFourPipeBeams.each {|atu| atu.remove}` then

[2019-03-01 09:45] jmarrec commented on #1671
Closing for now, can always reopen if someone runs into this again.

[2019-03-01 09:45] #1671 closed

[2019-03-01 09:48] jmarrec commented on #2848
I vote we should close this one, since #3229 provides what I need at least.

[2019-03-01 09:51] jmarrec commented on #1447
I think this is outdated, or I'm missing what "all fields of thermal comfort objects" mean.

You can set the People Comfort fields on the loads tabs for SpaceType/Spaces at least, just not the Load Definition tab. See https://github.com/NREL/OpenStudio/issues/2756

[2019-03-01 09:54] jmarrec commented on #1454
#2964 would be a good reference if someone wants to implement this, since I similarly implemented reordering the AVMs within the AVM list on plant loop "Controls" subtab.

[2019-03-01 12:10] jmarrec commented on #2365
Looking at ASHRAE 169-2013:

![image](https://user-images.githubusercontent.com/5479063/53637394-52ab7100-3c23-11e9-95ce-af406c30f657.png)

[2019-03-01 22:43] DavidGoldwasser commented on #2686
I think that got fixed a while ago, I would notice if it still happened, but I'll do some testing to confirm this on current mac installer.

[2019-03-01 22:45] DavidGoldwasser commented on #1544
I'm fine closing this.

[2019-03-01 22:45] #1544 closed

[2019-03-04 17:12] #3410 closed

[2019-03-04 22:47] DavidGoldwasser commented on #836
Works as expected now, When it exports to IDF with zones, which than fails as expected, because of the mismatch.

[2019-03-04 22:47] #836 closed

[2019-03-04 22:50] DavidGoldwasser commented on #974
@jmarrec "Adiabatic Surfaces' under "Other Constructions" seems like a good solution.

[2019-03-04 23:07] DavidGoldwasser commented on #2449
@jmarrec `b.clone(m2)` should be cloning the building `b' into model `m2`. Model 'm2' should no longer be empty. If you look at zones and spaces size it probably already matches the original model.

Here is code in measure where I replace the building from the model passed into the measure with a building from a user provided model.
https://github.com/NREL/OpenStudio-measures/blob/develop/nrel_dev

[2019-03-05 16:20] jmarrec commented on #974
Done in #3439

[2019-03-05 16:25] jmarrec commented on #2449
So, should the title of the issue be changed to "building.clone should clone HVAC" ?

[2019-03-05 18:17] DavidGoldwasser commented on #2449
@jmarrec it already clones most of the HVAC objects; zone equipment, air loops and plant loops. For some reason doesn't VRF's are not included in that. The primary model objects that should not be  included are simulation settings, site related objects, and output requests.

[2019-03-05 18:55] mdahlhausen opened #3441 "Enhancement request: method to apply "Schedule:Rule" for all days of week"
From [openstudio-standards issue #568](https://github.com/NREL/openstudio-standards/issues/568)

Add
[code]
to ScheduleRule in the API

[2019-03-06 14:08] jmarrec opened #3442 "OS:Site:WaterMainsTemperature missing choice `CorrelationFromWeatherFile`"
Just a very simple IDD change. Was added in 9.0 (cf https://github.com/NREL/EnergyPlus/pull/6771)

[2019-03-06 16:06] jmarrec commented on #2449
Does it really clone Airloops and plant loops? I'd be surprised if it did, given the implementation of Building::clone [here](https://github.com/jmarrec/OpenStudio/blob/develop/openstudiocore/src/model/Building.cpp#L132:L216).

A dumb test shows it appears not to:

[code]

**m2 has 0 AirLoopHVACs**

[2019-03-06 17:46] DavidGoldwasser commented on #2449
I may have mis-understood what it clones, you can re-assign to me and I can close it if this is expected behavior. This isn't anything necessary for 2.8.0

[2019-03-06 18:05] MatthewSteen commented on #3426
FYI @jmarrec I'm experiencing this issue again with CoilCoolingWater and CoilHeatingWater, which appears to be an EnergyPlus issue.

I created a model with the API with the code and topology below. All of the hydronic coils are connected to plant loops.

**Code**
[code]

**Topology**
![image](https://user-images.githubusercontent.com/8397034/53902025-890b3680-3ffd-11e9-908f-6db9549387e3.png)

**Er

[2019-03-06 18:15] shorowit commented on #2993
Hmm, looks like the Refresh button was removed at some point. So this issue can be closed.

OS 2.4.1
![image](https://user-images.githubusercontent.com/5861765/53903477-0f754780-4001-11e9-9b78-a49b068d24c6.png)

OS 2.7.1
![image](https://user-images.githubusercontent.com/5861765/53903523-2a47bc00-4001-11e9-8df0-df0eae3c1037.png)

[2019-03-06 18:15] #2993 closed

[2019-03-06 18:18] shorowit commented on #3392
Ah, ok. I think it would be preferable to have it search the entire BCL (since there's no way to do that if the search is specific to the selected category), but I guess it's working as expected.

[2019-03-06 18:18] #3392 closed

[2019-03-06 21:14] jmarrec commented on #3426
@MatthewSteen I don't have enough to reproduce this, could you share more, if this is proprietary and you cannot create a MCVE you can send it to me privately via Slack or email. Thanks!

[2019-03-07 12:33] jmarrec commented on #2449
I don't think there's any bug right now indeed. "Severity Major Bug" has to go.

Like I said above, I'm fine with changing the title to "building.clone should clone HVAC" and relabeling to "Enhancement Request" if that's what we want.

[2019-03-07 12:34] jmarrec commented on #3392
@shorowit Feel free to reopen and relabel as " Allow searching entire BCL from OS App and not just within categories" and label this as an Enhancement request if that's something you do want to see happen.

[2019-03-07 16:35] #974 closed

[2019-03-07 17:09] DavidGoldwasser commented on #974
We should make sure this gets in release notes, while it seems small it is a nice enhancement to have. We can also update measures like create bar from building type ratio to make use of this. That measures uses adiabatic for party walls, and also floor/ceiling boundaries when using zone multiplies for tall buildings.

[2019-03-07 19:04] jmarrec commented on #974
I wonder if the library sets should set a default adiabatic construction or not

[2019-03-07 19:58] macumber commented on #974
Probably should have a default otherwise people will still hit.  I think the templates come from os standards right?  Possibly this default would be added there?  We need to remake our templates for 2.8.0 (there has been a new version of standards released) so we can address then.

[2019-03-07 21:56] jmarrec commented on #974
Yes they do come from openstudio standards.

I'm not sure it's a bad thing if people hit this, at least they have a place to conveniently set one instead of hard assigning a construction to each surface.

If we can figure out what we should put in there as defaults then let's do it. Otherwise let it fatal out (or catch it in FT, but currently the eplusout.err is easier to access than FT errors...

[2019-03-11 13:50] jmarrec commented on #3272
@macumber I can't seem to reproduce any problem there, though I don't see any changes to that file aside from Copyright updates.

Here's the history of test results:

![image](https://user-images.githubusercontent.com/5479063/54128667-d8da6b00-440c-11e9-80e0-64cff87ec26d.png)

And the `refrigeration_system.rb` does access this method: https://github.com/jmarrec/OpenStudio-resources/blob/develop/mo

[2019-03-11 16:21] ljbrackney opened #3447 "App segfaults when opening a model with missing library data"
OpenStudio App segfaults when opening a model that relies on additional library data and that library has not been added a priori.  Expected behavior is to report the missing library as an error and halt the load process or open the add library dialog for the user to point to it before continuing.

[2019-03-11 16:35] ljbrackney commented on #3447
![libraries](https://user-images.githubusercontent.com/2230150/54140489-f5f94480-43e0-11e9-961f-9224da852c09.jpg)

[2019-03-11 17:59] macumber commented on #3447
This is odd, @jmarrec can you add this to the top of your 2.8.0 list?

@ljbrackney can you give a bit, more info about what you did?  Did you install 2.7.1 and these files were not there?  You added them manually and the crash went away?  I don't think you can configure libraries on a per OSM level.  I believe they are set in user preferences or suggested by the app.  There might be issues if you

[2019-03-11 18:02] ljbrackney commented on #3447
1) Did a 2.7.1 install
2) Updated RUBYLIB in my .profile
3) Started App
4) Went to preferences and reset to standard libraries
5) Was able to load and run some old models
6) Received new model that was built with DEER 1985 and 2007 library definitions
7) App crashed on multiple load attempts
8) Added DEER 1985 and 2007 libraries in preferences
9) Model loads and simulates

[2019-03-11 18:04] macumber commented on #3447
That is very odd, can you send the OSM via email?

[2019-03-11 20:34] jmarrec commented on #3447
That's super strange. No model should rely on libraries, since what's happening when you drag from library to model is that the object is cloned to the user's model... it could be that one object doesn't correctly clone its resources though I don't see why it wouldn't segfault when libraries and readded.

I can investigate this first thing in the AM, please do send your offending OSM via private e

[2019-03-12 08:31] jmarrec commented on #3447
I'm going to need @ljbrackney 's file: I tried reproducing the above steps on my Ubuntu machine, but couldn't reproduce any segfault.

Also, what platform are you using? Mac if I remember correctly?

[2019-03-12 14:55] jmarrec commented on #1722
Ok, so I did some digging.

For sure, we need to add a SPM:MixedAir on the Cooling Coil Outlet Node or E+ will fatal out. I've already taken care of that, but here's a potential additional todo list:

* I think we should modify `CoilCoolingWater::addToNode` and `HeatExchangerAirToAirSensibleAndLatent::addToNode` to not allow connection if the coil is contained inside a `CoilSystemCoolingWaterHeatE

[2019-03-12 15:38] shorowit commented on #3421
I can reproduce the issue. It also occurs for the `CoilWaterHeatingDesuperheater`. Here's some sample code to reproduce:

[code]

This results in:

[code]

[2019-03-13 16:26] joseph-robertson commented on #745
Here is a sql for a simulation run with a AMY 2012 weather file (includes 2/29 leap day):
[eplusout.zip](https://github.com/NREL/OpenStudio/files/2962500/eplusout.zip)

The Time table looks correct; it includes timestamps for 2/29 and has the correct year. However, `sqlfile.timeSeries(...).dateTimes` does not show data for 2/29, instead it extends one day past 12/31 (see Dan's comment above).

[2019-03-14 13:58] jmarrec commented on #3421
Fixed in #3452. If you need a quick workaround before the next release that integrates this PR, wrap your cooling coil inside another object such as a UnitarySystem

[2019-03-15 10:35] jmarrec commented on #817
@jasondegraw added the year field in the Sql in 8.9.0 in https://github.com/NREL/EnergyPlus/pull/6456

Looks like we can close this one, since I don't see any other action items that aren't part of another open issue.

[2019-03-15 14:05] jmarrec commented on #3079
@macumber I wonder if we shouldn't just change the uniquelyIdentifiableName method to look by object class when no reference group, in which case we don't need to change the IDDs. Of course both cases will need the VT work. Thoughts?

[2019-03-15 16:15] macumber commented on #3079
That makes sense to me, the E+ requirement is at the object class level right?  Another way to do this would be to automatically add a reference group to each object in the idd parsing.

[2019-03-15 16:24] asparke2 opened #3454 "Remove 2.6.2 API-change warnings"
These API-change warnings are clogging up openstudio-standards logging, making it difficult to find the actual issues.  Propose removing them.

For example, 4,500 of 6,500 lines of a recent openstudio-standards circleci file were:
`[openstudio.model.AirTerminalSingleDuctVAVReheat] <0> Prior to OpenStudio 2.6.2, this field was returning a double, it now returns an Optional double`

[2019-03-16 15:28] macumber opened #3456 "Ubuntu products linked to shared libraries in build dir on develop3"
[code]

[2019-03-16 15:30] macumber commented on #3456
Also affects

[code]

[2019-03-16 21:28] damianCaceres opened #3457 "Conan and python bindings"
Good night:
After the conan package manager introduction, I can compile OS in Ubuntu 18.04 but not the python bindings (py2 and py3)

`
[  7%] Building CXX object src/utilities/CMakeFiles/python_OpenStudioUtilities.dir/python_OpenStudioUtilities_wrap.cxx.o
In file included from /usr/include/python3.6m/Python.h:39:0,
                 from /home/damian/openstudio/build-core/src/utilities/python_Open

[2019-03-17 20:37] macumber commented on #3457
I don't think anyone has yet built the python bindings on develop3.  Our initial focus is on separating the OS App so we probably won't be working on that in the near future.

[2019-03-17 20:44] #3457 closed

[2019-03-18 10:47] jmarrec commented on #3091
Fixed in #3200 already

[2019-03-18 10:47] #3091 closed

[2019-03-18 10:54] jmarrec commented on #3272
@macumber ?

[2019-03-18 12:01] jmarrec commented on #3140
@avicarmeli Thanks for opening this issue. Which version did you use to reproduce the issue? And which variables did you check for?

**I have tried reproducing the issue just now with 2.7.1 on Ubuntu, and I couldn't**.

Here are the steps I followed: I created an empty model, added a thermal Zone, then went to the Output:Variable tab and enabled two random variables:
* `Zone Other Equipment Total

[2019-03-18 14:20] macumber commented on #3456
Just lowered priority for now, we can address once app is separated

[2019-03-18 20:24] jasondegraw commented on #817
@jmarrec There are underlying issues with the implementation of time, dates, and timeseries that are not as far as I know addressed, reopening.

[2019-03-18 21:09] jmarrec commented on #817
I thought that #745 and #1895 captured the problems fairly well in my opinion.

If that's not the case, could you please include specific details/action items? I myself don't know what needs fixing here, and if others are the same I'm afraid that this issue could stay open indefinitely.

[2019-03-18 21:28] jasondegraw commented on #817
@jmarrec You do see that this issue is assigned to me, right? This is something that can be revisited once develop3 has been merged, and not until then.

[2019-03-18 22:20] jmarrec commented on #817
Yes, I did see it was assigned to you, and also clearly tagged as an Energyplus issue to add the year in the SQL file, 5 years ago.

I'm just trying to clean up the issue backlog when I can, I **genuinely** thought this one made for an excellent candidate given the actual information on the issue (cant really read anyone's mind unfortunately).
I'd rather close really old issues with no reamining u

[2019-03-19 19:48] DavidGoldwasser opened #3460 "Reverse translation of WindowMaterial:Glazing sets Optical Data type field incorrectly"
Maybe related to #2216. This one relates to reverse translation.

[code]

The IDF object above (from E+ 9.0.1 data sets) comes in with Optical Data Type to "Spectral" which then fails when I run the simulation. I had to manually switch them to "SpectralAverage".

[code]

[2019-03-20 15:14] jmarrec commented on #3351
So there is already a warning when it fails, but it's not great, at all.

Here's a dummy example where I introduced a `\choice` mistake for the 'Season' field of `UtilityCost:Charge:Block`

ExampleD-SeasonalEnergyCharngesWithMinimumCharge-Invalid.idf
[code]

[code]

[2019-03-20 15:22] #3272 closed

[2019-03-20 15:29] jmarrec commented on #3351
Hum so when you run an E+ measure, the strictness is actually None (tested by outputing workspace.strictnessLevel.valueName inside a measure run).

source_idf_path = 'ExampleD-SeasonalEnergyCharngesWithMinimumCharge-Invalid.idf'
source_idf = OpenStudio::IdfFile::load(OpenStudio::Path.new(source_idf_path)).get
w = OpenStudio::Workspace.new("None".to_StrictnessLevel, "EnergyPlus".to_IddFileType)
add

[2019-03-20 18:55] MatthewSteen commented on #3128
A related enhancement is to rework how Run Period Profiles are added to a schedule.

As of 2.7.0, Run Period Profiles are added to the top of the list and take the place of `Priority 1`. It would be more convenient if additional Run Period Profiles were added to the bottom of the list with a sequential Priority #.

**Add 1st Run Period Profile (rename Priority 1)**
![image](https://user-images.git

[2019-03-20 23:02] macumber commented on #2385
Duplicate of https://github.com/NREL/OpenStudio/issues/3079

[2019-03-20 23:02] #2385 closed

[2019-03-21 02:26] #72 closed

[2019-03-21 02:26] #3079 closed

[2019-03-21 02:26] #3172 closed

[2019-03-21 12:10] DaveInCaz commented on #1721
Referenced here: https://unmethours.com/question/37125/openstudio-user-interface-scaling-problems-very-small-buttons/

[2019-03-21 20:50] #3430 closed

[2019-03-21 20:50] #1722 closed

[2019-03-21 20:50] #3421 closed

[2019-03-21 20:50] #745 closed

[2019-03-21 20:50] #3454 closed

[2019-03-21 20:50] #2798 closed

[2019-03-21 22:31] JShultz89 commented on #1721
The scaling issue was more readily solved by finding the application shortcut > properties > compatibility > change DPI settings > override. See image below

![DPI Settings](https://user-images.githubusercontent.com/3712065/54789003-7e5cbe00-4c07-11e9-94d3-1ff53757c74b.png)

[2019-03-22 22:51] macumber opened #3470 "No Fan:OnOff in HVAC library"

[2019-03-23 01:59] jmarrec commented on #3470
Can you actually put a Fan:OnOff directly onto an airloophvac? I was under the impression that FanOnOff could only live inside another component (zonehvac or unitary). There are plenty of FanOnOff inside the hvac_library but all are part of a containing component and therefore not showing in the OS app.

 (This is somewhat of a rhetorical question to remember to start by checking this)

[2019-03-23 02:02] macumber commented on #3470
I'm not sure.  The request was to put it in the system you get when you create a "Packaged Rooftop Unit" using the Add HVAC System template menu in the App.

[2019-03-25 08:27] jmarrec commented on #3470
Fan:OnOff cannot be placed directly onto an AirLoopHVAC branch, it must be inside another component such as a ZoneHVAC or a Unitary system.

I knew that looking at the E+ IDD, because Fan:OnOff doesn't bear these references:

[code]

I then made a test file anyways, taking 5ZoneAirCooled.idf and swapping the Fan:CV by a Fan:OnOff, and watched it failed:

[code]

[2019-03-25 08:27] #3470 closed

[2019-03-25 10:05] jmarrec opened #3471 "Wrong return in develop3 for Sdd FT"
https://github.com/NREL/OpenStudio/blob/82a74e94a930205555d14867840d173d576d046a/openstudiocore/src/sdd/ForwardTranslator.cpp#L553

Signature is `bool translateModel(const openstudio::model::Model& model, pugi::xml_document& document);`

I'm confused about why I'm getting this build error only now.

[2019-03-27 18:23] MatthewSteen commented on #2996
I'm experiencing this issue in 2.7.0.

[2019-04-02 22:01] Machbo opened #3483 "Basic Envelope Change results opposite EUI results of those expected"
This is a very basic question.  I have two OpenStudio files.  The only difference is one wall construction with a higher R value between the two.  After running the simulation, the file with the higher R value in an exterior wall has returned a higher EUI.  I can't find the issue. I've attached the two files.  The ALt file is the improved wall construction with the worse EUI.  Any ideas?
[Building

[2019-04-02 22:41] macumber commented on #3483
Hey @Machbo thanks for the report, this type of question is best asked on https://unmethours.com/questions/.  If it is found that there is an OpenStudio bug responsible we can reopen the ticket

[2019-04-02 22:41] #3483 closed

[2019-04-05 20:50] MatthewSteen opened #3486 "Allow rearraging of AirLoop and PlantLoop components"
It would be nice to be able to rearrange the components (fans, pumps, coils, boilers, chillers, SetPointManagers, etc.) of an AirLoopHVAC or PlantLoop by dragging and dropping an object rather than removing it and then adding a new object from the Library.

[2019-04-06 00:18] chriswmackey commented on #3398
@macumber ,

Here is a code example that you can run on your end to re-create the error:
[code]
I know that it is in Python but it should be quickly translate-able to Ruby.

Also, to be clear, this is an issue that affects the C# bindings

[2019-04-06 02:06] MingboPeng opened #3487 "Wrong "Temperature Setpoint Node Name" in CoilHeatingElectric"
Hi @macumber,

I found there is a bug when adding CoilHeatingElectric to loop. it's field "Temperature Setpoint Node Name" is not set correctly, this only happens when the Fan is added before the CoilHeatingElectric, and its "Temperature Setpoint Node Name" is set to Fan's inlet node, instead of loop's supplyOutletNode.

This happens in HVACTemplates.cpp where CoilHeatingElectric is added to fanIn

[2019-04-06 05:39] macumber commented on #3398
Thanks @chriswmackey , I think this must be specific to the C# bindings since the following Ruby code runs fine:

[code]

That makes me feel like this is a bit too risky to include in the release at this stage, I will mark it as high importance though

[2019-04-06 05:42] macumber commented on #3487
Thanks for the great reports @MingboPeng. I don't think we will get this in the 2.8.0 release but I think @jmarrec should be able to get to it pretty easily.

Do you have a repository with a set of automated tests we could run each release?  We don't have good test coverage for our C# bindings, running a test suite of your work could be very helpful.

[2019-04-06 06:14] jmarrec commented on #3487
Which HVACTemplate system are you using exactly? No further modifications?
Are you checking the resulting IDF file or the OSM itself?
Thanks

[2019-04-06 14:29] MingboPeng commented on #3487
Thanks @macumber , thanks for looking at this issue. Currently, I mainly use Visual Studio to see if there is any problem during [Irongbug](https://github.com/MingboPeng/Ironbug/tree/master/src/Ironbug.HVAC)'s compiling process.
Beside that, I do have a several unit tests for some workflows and basic use of OpenStudio API.
https://github.com/MingboPeng/Ironbug/tree/master/src/Ironbug.HVAC.Test
It

[2019-04-06 16:04] chriswmackey commented on #3398
Ok @macumber . I ran a few more tests and this seems to be the only issue with the C# bindings that is large enough to stop us from telling the Honeybee legacy users to move on from OpenStudio 2.5.  If this gets addressed in a pre-release after the release of 2.8, we should hopefully be able to point people towards an updated version of OpenStudio that is compatible with Honeybee legacy.

[2019-04-06 17:24] macumber commented on #3487
This issue seems like something we should have covered in our regression tests?

[2019-04-06 22:54] jmarrec commented on #3487
I have enough information to reproduce I think (great thanks @MingboPeng!), I'll take a look early next week. It's possible the forward translator is also doing its thing. I'll report back

[2019-04-07 08:32] jmarrec commented on #3487
Are you seeing a difference in output results after e+ simulation? Total site energy for eg.

I took a brief look on my phone and I see that indeed since is just translated as is, BUT unless you have explicitly set a SetpointManager on coil outlet / fan inlet node, then openstudio adds a SPM:MixedAir to that node so it should all end up just fine.
(That would also answer Dan's question on regressi

[2019-04-07 16:49] MingboPeng commented on #3487
Thanks @jmarrec for looking at this issue. Yes, I checked the simulation results, that is how I found this issue (or may not be an issue). The simulation results are different between following two orders:

 **1. Add heating coil before the fan**
[code]
**2. Add fan before heating coil**
[code]
The reason I see this might be an issue is because they looks identical in current OpenStudio App, until

[2019-04-08 13:50] jmarrec commented on #3487
After discussion with Kyle, we seem to have found a potential roadmap.

@MingboPeng How about the following:

* Change the coils addToNode methods to **not** set the 'Temperature Setpoint Node' field like it does now (it's an optional field)
* Optionally: show the 'Temperature Setpoint Node' in OS App.
    * I myself am against it. I think this is going to be confusing for most users, and if an ad

[2019-04-08 15:43] MingboPeng commented on #3487
@jmarrec
I think this works, not setting the 'Temperature Setpoint Node' in addToNode method. This removes discrepancy of simulation results when user (even advanced user) add this CoilHeatingElect to airloop in a different order.

Agree with 'Temperature Setpoint Node' in OS App. I think it can either be not shown (as it is now), or shown as a disabled field.

Let's preserve the API.

Thanks agai

[2019-04-08 19:43] #3487 closed

[2019-04-10 16:14] #3398 closed

[2019-04-10 16:56] chriswmackey commented on #3398
Thank you @jmarrec and @macumber !

[2019-04-18 07:23] jmarrec commented on #3398
More C# swig cleanup in https://github.com/NREL/OpenStudio/pull/3494

[2019-04-18 07:25] jmarrec commented on #3158
I reproduced it with 2.8.0 installed.

[code]

[2019-04-18 14:26] jmarrec commented on #3326
Should we close this since we can't reproduce it?

[2019-04-19 16:24] DavidGoldwasser commented on #3434
There is UH post here. I can reproduce crash vs. lockup when working with stories, but I have not been able to reproduce crash or lockup in space tab
https://unmethours.com/question/38296/open-studio-keeps-freezing-when-trying-to-assign-space-names/?comment=38320#post-id-38320

[2019-04-19 18:54] DavidGoldwasser commented on #3434
I updated this in the initial ticket.

[2019-04-19 19:03] #3326 closed

[2019-04-19 19:08] DavidGoldwasser commented on #3447
Wondering step 7 (loading the model) could be crashing because of issue #3435. This will crash with otherwise valid models, if you try to open it too soon.

[2019-04-19 19:20] DavidGoldwasser commented on #3056
I agree with @jmarrec that with 2x PAT this should be closed. For those wanting to use PAT projects on version control repos I will offer the following advise.

1. Clear all results on the run tab (using the column header "C" in circle)
2. Save PAT project
3. Quit PAT
4. Now you can make commit to repository.

The reason for these steps 1 and 2 is that that the `pat.json` file is not only an input

[2019-04-19 19:20] #3056 closed

[2019-04-19 21:20] luisclv opened #3499 "Addd method for StraightComponent objects to return a Plantloop"
Currently `StraightComponent` objects have the `airLoopHVAC` method that returns the system to where an air to air component is located.

Using a similar method for objects in a `PlantLoop`  would be beneficial as there is no straightforward way for a `StraightComponent` to return the associated `PlantLoop`

[2019-04-19 21:31] #3499 closed

[2019-04-22 20:19] ljbrackney opened #3500 "Model fails to run first time after loading in app"
In Mac builds of OS App - 2.8.0

1) Load model
2) Run model
3) Run fails
4) Click the run button a second time
5) Model runs

[2019-04-22 20:21] ljbrackney opened #3501 "Loading libraries in app is incredibly slow"
Starting the App (on Mac, can't speak for Windows) is incredibly slow.  I'm running with a couple of the DEER libraries, and the App takes 3-5 minutes to start - this is hitting both me and Sammy.  I think the time is being spent in version translation of the libraries.

[2019-04-22 20:48] macumber commented on #3501
You are probably right about the source of the slowness.  Can you (make a copy first) open your DEER libraries in the App directly and save them?  That will do the version translation for you.

@Shoussai FYI

[2019-04-22 20:49] macumber commented on #3501
I wonder if your preferences are pointing to templates from an older installer?

[2019-04-22 20:51] ljbrackney commented on #3501
They are - 2.7.1 to be exact.  I deleted all the entries and tried a restore to defaults, but it jumps right back to 2.7.1.  There's no way to navigate into the 2.8.0 version of the app/Contents/Resources/...

[2019-04-22 20:55] macumber commented on #3501
Related to https://github.com/NREL/OpenStudio/issues/3146

[2019-04-22 21:17] DavidGoldwasser opened #3502 "OpenStudio Application crashes when making new plan in geometry editor tab"
This happens as soon as I click on the "New" button in the Editor sub-tab in the Geometry tab

[2019-04-22 21:40] DavidGoldwasser commented on #3502
I tried opening a model made in 270 with FloorSpaceJS. When I went to editor it didn't crash right away, but then crashed a few seconds later.

[2019-04-22 21:59] DavidGoldwasser commented on #3500
I wasn't able to re-create this. In my case the model I loaded was a 2.7.0 model that I ran in 2.7.0 to test, then loaded and ran in 2.8.0

@ljbrackney when the simulation fails to run the first time, what is in the out.osw? I assume it isn't an eplus.out error but failed somewhere else in the workflow?

[2019-04-23 13:11] jmarrec commented on #3501
@ljbrackney try deleting the `~/Library/Preferences` plist files.

[code]

[2019-04-23 13:50] DavidGoldwasser commented on #3434
Workaround for crash is detailed here. On the screenshot in original post the people load instance name was altered. If you type and change tabs without tabbing out, it crashes. It you tab out, it looks like below. Original cell is still yellow, but another cell (active)  is outlined in blue. It crashes if you leave hear as well.

<img width="896" alt="Screen Shot 2019-04-23 at 7 43 19 AM" src="ht

[2019-04-24 09:18] jmarrec commented on #3434
Reproduced with current develop on Mac. Backtrace:

[code]

[2019-04-29 04:06] mdahlhausen opened #3510 "App doesn't re-load schedule fixed intervals after apply measure now"
1. Open empty OpenStudio v2.8 model in the OSApp
2. Use the [Add Interval Schedule From File](https://bcl.nrel.gov/node/84422) measure with Apply Measure Now to add a ScheduleFixedInterval object the the model.  Save the model.

The Schedule:FixedInterval appears in the .osm in a text editor, but is not listed under Schedule Fixed Intervals in the app.  Saving, closing, and then re-opening the mod

[2019-04-30 14:57] macumber opened #3511 "OpenStudio CLI doesn't return error code on measure test failure"

[2019-04-30 15:00] #2820 closed

[2019-04-30 15:01] macumber commented on #2802
@jmarrec Did your symlink work fix this?

[2019-05-01 17:16] ryandmeyer1017 opened #3513 "OS Mac App crash on Loop tab"
In general, I am seeing repeated OS App crashes working in the Loop Tab. The crash tends to occur when I am attempting to navigate between two connected loop: i.e. clicking on a Water Use Connection object that would normally jump to the connect Heating Plant Loop.

I can make this crash occur on a brand new models using the following steps:
1. New Model
2. Navigate to Loop Tab
3. Add new Water Us

[2019-05-01 17:35] DavidGoldwasser commented on #3513
cc @macumber

[2019-05-01 17:56] DavidGoldwasser commented on #3513
@jmarrec @macumber and @kbenne to make this a little more confusing I don't see any of these crashes on my mac with 2.8.0. My mac is 10.12.6.

[2019-05-01 19:02] ryandmeyer1017 commented on #3513
I can the reproduce crashes on my OpenStudio versions 2.7.0. Perhaps this is my machine? @mdahlhausen have you been able to reproduce these?

[2019-05-01 19:12] mdahlhausen commented on #3513
@DavidGoldwasser , @ryandmeyer1017 I can't reproduce these crashes on my Windows 10 Machine OpenStudio version 2.8.0.

[2019-05-02 00:04] DavidGoldwasser commented on #3513
@ryandmeyer1017 my guess is that it's not just your computer but some gremlins in 10.13.6, I don't think we have many internal people on that new of a mac OS yet

[2019-05-02 13:07] jmarrec commented on #3513
I can reproduce this with current develop on macOS High Sierra 10.13.6.
I cannot reproduce this with current develop on Ubuntu 16.04.

The way I've reproduced it is to add a new "Service Hot Water Plant Loop" Then click a bunch between the Plant Loop water use connection, then on the Servce Hot Water viiew I click on the Equipment (to bring the edit pane), then on the "Loop" thing to try to go bac

[2019-05-02 13:10] jmarrec commented on #3513
@ryandmeyer1017 first example also throws on mac if I click quickly to jump between water use connection and Service Hot Water view

[2019-05-02 13:13] jmarrec commented on #3513
Actually, not even going fast. If I go to the Detailed view by clicking on the water use connection, it'll crash when I try to go back to the Service Hot Water view. Backtrace slightly different this time.

[code]

[2019-05-02 13:22] jmarrec commented on #3513
@DavidGoldwasser Do you use an external mouse? Can you try with the trackpad on your macbook? Try to voluntarily drag with two fingers above the icon before clicking. I found this Qt bug report that seems to indicate that this is due to the MBP filtering for trackpad gesture events. I plugged an external mouse and it didn't crash...

https://bugreports.qt.io/browse/QTBUG-46429?focusedCommentId=424

[2019-05-02 15:04] DavidGoldwasser commented on #3513
@jmarrec that is really weird. When using track pad I don't even have to do anything funny with two fingers. I can navigate with one finger, then crashes when I click. I even tried a variation on this where i used the most to move over (still connected via bluetooth) and then only used the trackpad to click. That also crashed.

Just as a third test I used the trackpad to move and then the mouse to

[2019-05-03 07:02] jmarrec commented on #3436
This is an encoding error obviously.

Put yourself inside a folder with a special char, such as `AfolderwithspécialCHar#%ù`.

In both irb, and running a file with `ruby test.rb`
[code]

In irb, if I do this

[code]

While if put the same code in test2.rb and do ruby test2.rb I get "UTF-8"

[2019-05-03 13:58] macumber opened #3514 "Fix unit test failures on develop and develop3"

[2019-05-06 14:57] macumber opened #3516 "Verify CLI working with Ruby 2.5.5"
- [x] Gem::Specification.add_spec is deprecated and will be removed in RubyGems 3.0 (https://github.com/rubygems/rubygems/issues/2469)
- [x] warning: already initialized constant JSON::VERSION, something weird is going on when loading json, probably due to json pure gem. (Originally posted as https://github.com/NREL/OpenStudio/issues/3545)
     - Related: https://github.com/NREL/OpenStudio/issues/

[2019-05-06 15:03] macumber opened #3517 "Build C# bindings for develop3"

[2019-05-06 15:05] macumber opened #3518 "Update Readme.md for develop3"

[2019-05-06 15:06] macumber opened #3519 "Update SDK Documentation Page"
https://openstudio-sdk-documentation.s3.amazonaws.com/cpp/OpenStudio-2.4.0-doc/model/html/index.html

Link OS to E+ IDD comparison (for each object, and summary on single page), Document Model API conventions

[2019-05-06 15:06] macumber commented on #382
https://docs.google.com/document/d/1lFGikWM0ufbe-kWNi9vRD_EfRZe-mcIc4fDxA61YynI/edit

[2019-05-06 16:17] macumber opened #3521 "Update to Visual Studio 2019"

[2019-05-06 18:09] macumber opened #3522 "Make sizing:parameters object editable in Simulation Settings tab"
The sizing:parameters object controls the sizing of hvac components in a model. ASHRAE 90.1 Appendix G requires 1.25 sizing factor for heating and 1.15 sizing factor for cooling. In order to enable people to make their own 90.1-compliant systems with OpenStudio, this object must be made available for editing. The Simulation Settings tab is probably the best place to put it.

[2019-05-06 18:16] macumber opened #3523 "OpenStudio geometry tab renders EnergyPlus example file surfaces as white"
https://unmethours.com/question/38115/openstudio-geometry-tab-renders-energyplus-example-file-surfaces-as-white/?comment=38593#post-id-38593

[2019-05-06 18:18] DavidGoldwasser opened #3524 "Building::remove creates invalid HVAC Connections"
I will link to measure with unit test that demonstrates this. The seed model for the measure test can forward translate fine, and the measure (which reverse translates and imports IDF objects) forward translates fine when added to an empty model, but not when added to the non-empty seed model.

I first saw this in OS app, it had different behavior in workflow vs. apply measures now. In workflow th

[2019-05-06 18:22] #3012 closed

[2019-05-06 18:23] macumber opened #3525 "AFN cleanup"
- [ ] Refactor translation
- [ ] Change ctors of internal objects to take ModelObject instead of Model and Handle
- [ ] Add more methods to C# bindings

FYI, https://github.com/NREL/OpenStudio/issues/3012

[2019-05-06 18:23] DavidGoldwasser commented on #3524
https://github.com/NREL/OpenStudio-files/blob/master/Git%20Issue%20Files/issue3524/ImportEnvelopeAndInternalLoadsFromIdf.zip

I'm assuming the reverse translation into non-empty model is maybe making two of object where only one is expected, or something like that.

[2019-05-06 18:43] DavidGoldwasser commented on #3524
I did a little more testing. There is nothing unique about this OSM or IDF. replaced both of them and saw the same thing. So this seems to happen with many non-empty OSM files.

If I used the OS app to create a new model, save that and then use that as the starting model, it doesn't crash. It is something else being added later that create the issue.

[2019-05-06 18:50] macumber opened #3526 "OpenStudio Release - Clone for each release"
- [ ] Release standards gem (if needed), Andrew
- [ ] Release workflow gem (if needed), Ry
- [ ] Release measure tester gem (if needed), Nick
- [ ] Double check gem files for correct versions of standards and workflow gems (use released versions only), Dan
- [ ] Update resources and library files (if needed), Julien
- [ ] Run Regression Tests, Julien
- [ ] Create Debian, Darwin, and Windows untest

[2019-05-07 02:49] jcseruet opened #3527 "AccessViolationException while converting FloorPlanJS object to ThreeScene object using OpenStudio sdk"
I am trying create a three scene file from a floorspace file using OpenStudio SDK 2.7.0 (C#) and getting this error _"Attempted to read or write protected memory. This is often an indication that other memory is corrupt"_ while converting FloorPlanJS object to ThreeScene object.

Here are the steps I have followed:

1. Read floorspace file using standard file reader.
2. Convert floor space json st

[2019-05-08 17:00] chriswmackey opened #3529 "SWIG-Related Bug in OpenStudio 2.8 CSharp Bindings: (EntryPointNotFoundException): Unable to find an entry point named 'CSharp_OpenStudio_WorkspaceObject_SWIGUpcast'"
I have found an issue that seems to affect a small percentage of installations (likely < 10%) of OpenStudio 2.8 on Windows.  For the vast majority of 2.8 users, things seem fine but I know of at least one person that has experienced the following error:

`Runtime error: (EntryPointNotFoundException): Unable to find an entry point named 'CSharp_OpenStudio_WorkspaceObject_SWIGUpcast' in DLL 'openstu

[2019-05-08 17:15] macumber commented on #3529
Thanks @chriswmackey yes anything you can do to diagnose would be helpful, I do suspect this might be related to Windows version as well as presence or absence of other dynamic libraries on the system

@tijcolem FYI

[2019-05-08 17:19] chriswmackey commented on #3529
Thanks @macumber .  Apparently, someone was able to solve it by reinstalling a few times if you check the forum link I posted.  Will let you know if I find out more.

[2019-05-08 17:38] tijcolem commented on #3529
The fact that reinstalling works leads me to believe it's a wrong dll (perhaps older version) and not finding the entry point due to something being updated in the new dll.   Have you tried uninstalling and reinstalling?

[2019-05-08 21:00] MingboPeng commented on #3529
This might because of an old version was loaded in the Rhino (Grasshopper) before the 2.8 installation, and two versions of OpenStudio are loaded in the same instance of Rhino.  Open or restart the rhino, and only load one version of OpenStudio would probably solve this problem.

[2019-05-09 18:23] MatthewSteen opened #3531 "Subsurfaces subtab doesn't filter Door, OverheadDoor, or Skylight objects"
In 2.8.0 the Subsurfaces subtab doesn't filter Skylight SubSurface Types correctly. It looks like the filter is just showing the last object. Probably related to #2776.

**Many Skylights (no filter)**
![image](https://user-images.githubusercontent.com/8397034/57476835-ab673d80-7254-11e9-8587-9bfc771906e7.png)

**One Skylight (filter)**
![image](https://user-images.githubusercontent.com/8397034/574

[2019-05-09 20:00] mdahlhausen opened #3532 "ZoneHVACLowTempRadiantVarFlow shouldn't require a cooling coil"
Currently, the constructor for zone low temp radiant systems is: ZoneHVACLowTempRadiantVarFlow (const Model &model, Schedule &availabilitySchedule, HVACComponent &heatingCoil, HVACComponent &coolingCoil)

This gets populated with Coil:Heating:LowTemperatureRadiant:VariableFlow and Coil:Cooling:LowTemperatureRadiant:VariableFlow objects.

The underlying EnergyPlus object doesn't require coils, but

[2019-05-10 03:55] DavidGoldwasser commented on #3523
Viewer seems to be case sensitive to surface type being "WALL" vs. "Wall". While the view model code could be mode more flexible, also seems like the API should be more strict when surface type is set in reverse translation.

[2019-05-10 14:39] DavidGoldwasser commented on #3524
@macumber one thing I can't figure out, why is the OS app in apply measure now even doing post measure forward translation for? Is it I guess running as an OSW that does this even if using measures only flag.

[2019-05-10 18:41] ryandmeyer1017 opened #3533 "Segmentation fault in script run by CLI (such as an OS measure) hangs on Mac and never returns"
I've encountered a scenario which causes the OS application to lockup but not crash.

I have  an OS measure modifying SHW Plant Loops. At a high level, the measure keeps existing WaterUseConnections already defined in the model and places them on a new plant loop. The scenario that causes the OS application is as follows:

1. Find existing SHW plant loops in the model and remove(), but keep WaterU

[2019-05-10 21:33] macumber commented on #3529
Is requiring a restart of Rhino sufficient to fix this?  If so I think we can close it.

[2019-05-10 21:38] macumber commented on #3502
Is this Mac only?

[2019-05-11 14:42] chriswmackey commented on #3529
This sounds possible and I know having g two instances of OpenStudio loaded cases errors. Let me check with the person experiencing the issue or try to recreate it myself.

[2019-05-11 19:17] DavidGoldwasser commented on #3502
yes

[2019-05-13 09:11] jmarrec commented on #3447
@ljbrackney Could you send your file please?

[2019-05-13 11:05] jmarrec commented on #3533
@ryandmeyer1017 Can you clarify one thing for me please: what do you mean by "keep WaterUseConnections"? Are you **cloning** them before remove or storing a pointer to them such as adding them to a Ruby Array?

When you call `PlantLoop::remove` any `WaterUseConnections` object attached to it will be disconnected **and** then removed.

So if you do the following (or something similar such as storin

[2019-05-13 11:19] jmarrec commented on #3533
I believe you are on Mac @ryandmeyer1017 aren't you? I wonder if it's not just the App that loses focus (which is a known issue). I think if you hit CMD+M or something you might be able to retrieve the focus. This was posted on an issue but I can't seem to find it again (@DavidGoldwasser might know).

FYI I tested a dumb dumb measure on Ubuntu to produce a crash, and the App doesn't lock up. If I

[2019-05-13 11:44] jmarrec commented on #3533
Ok I ran the same measure on develop with a Mac Debug Build in Apply Now, it gets stuck on the "Running Measure" (the green arrow keeps spinning). If I click "Cancel" I get brought back to the list of Apply Now Measures, and if I click "Cancel" again to go back to my model, the OS App crashes.

macOS Sierra 10.13.6
OpenStudio 2.8.0 d0721e8679

[2019-05-13 12:37] jmarrec commented on #3533
Hum, so I think this may be more of a openstudio-workflow-gem problem.

https://github.com/NREL/OpenStudio-workflow-gem/blob/v1.3.3/lib/openstudio/workflow/run.rb#L216

https://github.com/NREL/OpenStudio-workflow-gem/blob/v1.3.3/lib/openstudio/workflow/jobs/run_os_measures.rb#L52

https://github.com/NREL/OpenStudio-workflow-gem/blob/v1.3.3/lib/openstudio/workflow/util/measure.rb#L467

Basically it

[2019-05-13 13:46] jmarrec commented on #3533
Ok the problem boils down to this:

[code]

On Ubuntu, the segfault returns to the terminal. On Mac it keeps hanging.

[2019-05-13 14:01] ryandmeyer1017 commented on #3533
A few notes to your questions above:

1. Yes, I am running Mac HighSierra 10.13.6 and OS 2.8.0
2. Yes, by 'keep' I am storing a pointer to the existing WaterUseConnections in an array and did not want to remove them from the model. It makes sense why the .disconnect() method called before .remove() works.

Let me know if you need anything additional from me.

[2019-05-13 14:15] jmarrec commented on #3533
Thanks for your prompt reply @ryandmeyer1017. I have everything I need. Basically for you, do make sure you don't produce a segmentation fault by trying to manipulate removed objects, here do use `disconnect` first. We'll fix the underlying issue though.

[2019-05-13 14:39] jmarrec commented on #3524
@DavidGoldwasser The problem is that through `m.getBuilding.remove`, you end up with bad connections. I can boil down your problem to this MCVE:

[code]

[2019-05-13 14:43] jmarrec commented on #3524
I guess this is pretty much the same problem as #2449. Just like Building::clone, Building::remove doesn't handle HVAC correctly. Doing a diff between `dummy.osm` and `dummy_bldg_remove.osm` shows that you end up with bad Connections/PortLists:

![image](https://user-images.githubusercontent.com/5479063/57630623-3cfce500-759e-11e9-9bd0-f58e64faf29b.png)

[2019-05-13 15:13] macumber commented on #3533
I'm not sure that you can or should rescue a seg fault.  I think you can define some custom finalizer scripts that might run after a seg fault, that might be enough to write some output.

[2019-05-13 15:14] macumber commented on #3533
Also, why would a seg fault hang?  That is kind of odd.

[2019-05-13 15:14] jmarrec commented on #3524
I'm pretty confused about `ParentObject::remove`... I was really expecting it to call remove on each modelObject it should delete, but apparently it isn't... https://github.com/jmarrec/OpenStudio/blob/develop/openstudiocore/src/model/ParentObject.cpp#L105. this ends up calling directly Workspace::removeObjects.

The problem here is that the ThermalZone is being deleted as is, instead of actually b

[2019-05-13 15:28] macumber commented on #3524
Overloading Building::remove seems like the right choice.  Just add a bunch of unit tests.

[2019-05-13 15:29] jmarrec commented on #3524
@macumber Are you ok only disconnecting ThermalZones for 2.8.1 to fix this specific bug? If we want to handle all corner cases it's going to be a lot of effort.

[2019-05-13 15:30] macumber commented on #3524
Sure, if you can think of any other corner cases then it would be good to get those here too.

[2019-05-13 15:57] jmarrec commented on #3524
In a very dumb fashion, I actually think that refactoring Building::remove to do

[code]

would not produce any side effects and do things a lot better than what's currently done. The larger issue is that currently children (therefore remove and clone methods) are limited to Meters, Building Stories, Shading Surface Groups, Thermal Zones, and Spaces. No HVAC (which is covered in #2449)

[2019-05-13 16:03] jmarrec commented on #3533
The weird thing is that it's only on Mac that it doesn't actually exit: it hangs after producing the crash dump in the terminal (I can't even CTRL+C to kill it and get the prompt back), while on Ubuntu it prints "Segmentation Fault" and returns the prompt.

[2019-05-13 16:12] macumber commented on #3533
I wonder if it is trying to run the ensure block after the segfault?  In any case, I think fixing the segfault is sufficient here

[2019-05-13 16:50] jmarrec commented on #2449
My two cents:

* AirLoopHVACs should be considered de facto part of the building
* PlantLoops may merit more attention: if a PlantLoop doesn't serve an AirLoopHVAC or a ThermalZone, should it be considered part of the Building?
    * eg: a PlantLoop serving only a LoadProfile:Plant?

[2019-05-13 20:40] macumber opened #3535 "No way to exclude bundle groups in cli"

[2019-05-14 11:12] jmarrec commented on #3447
Can't reproduce on Ubuntu, tried 2.8.0 and 2.7.1.

Will try on mac.

[2019-05-14 12:06] jmarrec commented on #3447
I am closing this issue since I cannot reproduce it.
We can reopen it if a new occurrence is found in the future.

[2019-05-14 12:06] #3447 closed

[2019-05-14 14:54] jmarrec commented on #3533
I'm closing this issue as it is the result of user code.

[2019-05-14 14:54] #3533 closed

[2019-05-14 15:22] jmarrec opened #3536 "OpenStudio embedded ruby interpreter hangs when segfault on Mac"
Found via #3533

**test.rb**
[code]

On Mac if I do:
* `ruby test.rb`: Prompt returns quickly after throwing the C crash dump with "Abort trap: 6"
* `openstudio test.rb`: hangs after throwing the C crash dump and prompt never returns. I have to kill the 'openstudio' process manually.

On Ubuntu both methods will return the prompt quickly.

Here's the backtrace on Mac when I attach to the hanging o

[2019-05-14 15:49] jmarrec commented on #3500
I cannot reproduce it either. @ljbrackney can you provide more information? Otherwise let's close it

[2019-05-14 16:01] mdahlhausen commented on #3532
Additional request: add heating and cooling design fields to the OpenStudio API.

- Heating Design Capacity Method
- Heating Design Capacity
- Heating Design Capacity Per Floor Area
- Fraction of Autosized Heating Design Capacity

+ the same for cooling

[2019-05-14 16:19] ljbrackney commented on #3500
I think this may have been a result of working with a new OSM and a copy of an old model’s directory structure, which I copied and renamed to maintain measures in the workflow and supporting data.  Kind of a weird corner case, but certainly something triggered by a legit use case.

From: Julien Marrec <notifications@github.com>
Reply-To: NREL/OpenStudio <reply@reply.github.com>
Date: Tuesday, May

[2019-05-14 17:53] jmarrec commented on #3500
@ljbrackney thanks for the info. Any chance you still have the offending model and companion directory?

[2019-05-15 07:30] jmarrec commented on #3500
So I got the files from Larry (thank you!) along with instructions to reproduce. Basically:
* You have an old companion directory called `Model_A`
* You have a new model called `Model_B.osm` and which to use the same workflow (with measures, files, etc) as the old `Model_A.osm` did.

Rename directory `Model_A` to `Model_B`. Problem is that the workflow.osw still referenced the old model:

**workfl

[2019-05-15 08:03] jmarrec commented on #3502
I can reproduce with current develop on macOS 10.13.6.

[2019-05-15 15:31] jmarrec commented on #3502
Hum I think I finally found a hint after much trial and error.

in `openstudiocore/src/openstudio_lib/library/embeddable_geometry_editor.html`

I started by deleting the custom <script> around line 257. That would still crash. I then had to figure out what else was making it crash, and finally found that in the style section arouhd line 7 you have a big minified line in which there's basically:

[

[2019-05-15 15:43] jmarrec commented on #3502
Between the javascript and the debugger breakpoint (and a bit of luck in juddling the two) I have gotten the floorspaceJS editor to load up and render  - then it crashed anyway - so I think it may be a race condition indeed.

I had two breakpoints on FloorspaceEditor::loadEditor and FloorspaceEditor::FloorspaceEditor

I wrapped part of the javascript init function inside a setTimeout.
[code]

[2019-05-15 16:43] shorowit commented on #3516
👍 for dealing with the json warnings. they are annoying.

[2019-05-15 19:43] MatthewSteen opened #3537 "SketchUp RuntimeError: bad_weak_ptr"
I've experienced the following error in the OS 2.6.0 and 2.8.0 SketchUp plugin with SketchUp 2018. The error occurs after importing a DXF into SU and *before* creating OpenStudio geometry.

[SketchUp 2018.skp.txt](https://github.com/NREL/OpenStudio/files/3184188/SketchUp.2018.skp.txt)

[code]

[2019-05-16 00:43] chriswmackey commented on #3529
According to the person who reported the issue, that was indeed the problem.  So we can close out this issue now and sorry for the trouble.

[2019-05-16 00:43] #3529 closed

[2019-05-16 22:09] macumber opened #3539 "Create MinGW distribution"
Create and distribute a MinGW build of openstudio which is compatible with MinGW Ruby distributions

[2019-05-17 16:35] macumber commented on #3501
Fix also needs to have script added to CI before this is closed

[2019-05-17 16:37] macumber commented on #3501
@jmarrec do we also need to check if this is a new install and offer to relocate resource dir in preferences?

[2019-05-17 16:41] macumber commented on #3502
@jmarrec should this be assigned to @kbenne or are you able to keep looking at it

[2019-05-17 17:09] DavidGoldwasser commented on #3166
@DavidGoldwasser one path is to have OS app write "show_import_export" as true in the floorspace.jsonfile, but I assume that would mess up the OS APP GUI. On the web environment could there be a way on upload that it changes that flag to true? Is there ever a use case on the web environment where you wouldn't want the option to import/export. It isn't clean for users to have to hand edit text file

[2019-05-17 18:47] macumber commented on #3537
Thanks @MatthewSteen.  How are you importing the DXF, through regular SketchUp import?  Are you able to share the DXF privately?

[2019-05-17 18:49] macumber commented on #3536
From what I have read segfault behavior is undefined so it is hard to fix this.  Might be a good one for @lefticus

[2019-05-17 18:53] macumber opened #3540 "Design feature for OS CLI to use measure from extension gem"
Create a design document detailing how measures which use extension gem functionality can be used in CLI.  Basic idea is to add Gemfile to OSW (either as link or embedded).  Does user have to create Gemfile?  Is Gemfile populated by looking at Measures and collecting their requirements?  What happens if you put Measures with incompatible gem requirements in a workflow?

Design should also cover ho

[2019-05-17 18:54] macumber commented on #2932
Believe that the best solution for this is https://github.com/NREL/OpenStudio/issues/3539

[2019-05-17 18:58] MatthewSteen commented on #3537
@macumber yes, I imported through SU. Here's the file.

[218252-00_SCA_Arch_R18_Central - Sheet - A-111 - OVERALL FLOOR PLAN.dxf.txt](https://github.com/NREL/OpenStudio/files/3192724/218252-00_SCA_Arch_R18_Central.-.Sheet.-.A-111.-.OVERALL.FLOOR.PLAN.dxf.txt)

[2019-05-17 18:59] macumber opened #3541 "Create local bundle with OpenStudio CLI"
Want to add `bundle --install` and `bundle --update` commands to OpenStudio CLI.  Need to be able to handle installing gems for following cases:

- Local gems
- Gems from rubygems
- Gems from github
- Native gems (rely on user installed devkit?)

[2019-05-21 09:29] jmarrec commented on #3501
I'm not sure what happened above as I haven't been able to reproduce it.
Are you suggesting that the OpenStudio installer would just delete the preferences and reset the library to the defaults?

[2019-05-21 14:24] ljbrackney commented on #3501
No – unless that’s required to fix the issue.

I just started the App, and it took nearly 2 CPU minutes from launch to the App window opening and being ready for business.  This time was spent stuck on the library loading window – presumably in a translation step.

From: Julien Marrec <notifications@github.com>
Reply-To: NREL/OpenStudio <reply@reply.github.com>
Date: Tuesday, May 21, 2019 at 2:29

[2019-05-21 17:11] shorowit opened #3543 "Use E+ 9.1 bugfix builds in OS 2.8.1"
E+ 9.1 bugfix builds will be provided by @Myoldmopar. Packages will include [this bugfix](https://github.com/NREL/EnergyPlus/pull/7280), which only affects a new feature introduced in E+ 9.1.

[2019-05-21 17:15] Myoldmopar commented on #3543
Release tagged [here](https://github.com/NREL/EnergyPlus/releases/tag/v91AndBugFix) at SHA e96d7c1

[2019-05-21 17:19] macumber commented on #3543
@tijcolem FYI

[2019-05-21 20:03] jmarrec commented on #3501
@ljbrackney yeah that is inacceptable. The fact that you can't restore the library defaults is the most problematic. Did you try deleting the .plist files as I suggested above? If so, it didn't fix the reset?

[2019-05-22 09:49] lambrtz opened #3545 "warning: previous definition of VERSION was here"
I also posted this question on Unmet Hours, so apologies for cross-posting.

I just upgraded OpenStudio from 2.6.0 to 2.8.0. While OpenStudio can process the original file, it gives me the following warnings.

[code]

Do you know what causes this problem, and what we can do to solve it?

Many thanks,
Nicholas

[2019-05-22 12:36] jmarrec commented on #3502
I'm kinda at a loss on this one, and with my old mac it's not practical to try more stuff like building Qt in Debug, so if Kyle can take a look that would be great.

[2019-05-22 12:36] jmarrec commented on #3543
Probably should keep energyplus versions at 9.1.0 instead of 9.2.0 as it's confusing now.

[2019-05-22 15:12] macumber commented on #3545
We have seen this, our current understanding is that the warnings are benign. I would suggest ignoring them for now, if you find that they are causing an issue please add more detail

[2019-05-22 21:20] macumber opened #3546 "Update PAT for 2.8.1"
https://github.com/NREL/OpenStudio-PAT/commit/bd645b38e00b8a123829d7be798016fdd3e7381c

[2019-05-22 22:59] macumber commented on #3511
Now it is returning false incorrectly...

[2019-05-23 16:55] macumber opened #3547 "OpenStudio 2.8.1 Release"
- [x] Release standards gem (if needed), Andrew
- [x] Release workflow gem (if needed), Ry
- [x] Release measure tester gem (if needed), Nick
- [x] Double check gem files for correct versions of standards and workflow gems (use released versions only), Dan
- [x] Update resources and library files (if needed), Julien
- [x] Run Regression Tests, Julien
- [x] Create Debian, Darwin, and Windows untest

[2019-05-23 17:30] jmarrec commented on #3151
I'm closing as I can't reproduce with 2.8.0 on either 16.04 nor 18.04

[2019-05-23 17:36] #3151 closed

[2019-05-23 18:42] macumber commented on #3151
This might be the same SSL issue @kbenne was seeing.  It looks like all the JS libraries are loaded over http https://github.com/NREL/OpenStudio-measures/blob/develop/nrel_published/openstudio_results/resources/report.html.erb#L47

There could be different versions of the measure floating around that use https?

[2019-05-23 19:07] jmarrec commented on #3151
The user might have a custom measure too.
In the absence of further information, we can't reproduce. I'm happy to reopen the issue of course if we manage to reproduce!

[2019-05-23 19:08] jmarrec commented on #3151
Also, I don't think it's SSL, the user's message seems to say it's ICU that failed to initialize.

[2019-05-23 19:19] macumber commented on #3151
Possibly they just need to install `libicu` ?

[2019-05-23 19:39] jmarrec commented on #3151
Hum, perhaps we should check with a clean VM then... I'll start one now.

I would find it strange that all this time nobody would have ran into this, but it's possible since the ubuntu user base is probably small.

Currently OS only depends on gtk: https://github.com/jmarrec/OpenStudio/blob/develop/openstudiocore/CMakeLists.txt#L1606

[2019-05-23 19:51] jmarrec commented on #3151
Fresh 16.04 install:

[code]

[2019-05-23 20:10] jmarrec commented on #3151
Ok on a clean 16.04 VM, I installed OpenStudio 2.5.1, and I ran the OpenStudio::Model::exampleModel with the OpenStudio Results measure from BCL, and everything worked as intended.

[2019-05-23 21:38] MatthewSteen opened #3550 "Unhandled Exception after stopping sim"
I've been experiencing this in 2.7.0 and 2.8.0. on Windows 10. Steps to reproduce...

1. Run model
2. Stop run before complete
3. Run model again.

![image](https://user-images.githubusercontent.com/8397034/58288128-f6627400-7d6f-11e9-80fe-fa88f9ed4802.png)

Choosing `Relaunch` doesn't work either.

[2019-05-23 22:16] macumber commented on #3550
Which measures are you using (if any)?

[2019-05-24 11:28] MatthewSteen commented on #3550
The 2.8.0 model had the following BCL measures...

* AddOutputDiagnostics
* Tariff Selection-Time and Date Dependant
* OpenStudio Results

[2019-05-24 15:21] macumber commented on #637
Issues https://github.com/NREL/OpenStudio/issues/3146 and https://github.com/NREL/OpenStudio/issues/3501 are addressed by updating the libraries shipped with OS.  However, this issue needs to look at why this translation is so slow in the first place.  We need to do profiling and possibly refactor the way version translation works.

[2019-05-24 15:22] macumber opened #3551 "Identify objects to change/refactor for OpenStudio 3"
OpenStudio 3 will be an opportunity to remove or refactor any existing objects.  Let's identify objects here and then create new tickets to do the work

[2019-05-24 15:24] macumber commented on #3551
Move standards fields of OS:SpaceType and OS:Building to be AdditionalProperties?

Remove OS:StandardsInformation:Material and OS:StandardsInformation:Construction, replace with AdditionalProperties?

[2019-05-25 16:12] #3158 closed

[2019-05-25 16:12] #2802 closed

[2019-05-25 16:12] #3436 closed

[2019-05-25 16:12] #3146 closed

[2019-05-25 16:12] #3501 closed

[2019-05-25 16:12] #3434 closed

[2019-05-25 16:12] #3546 closed

[2019-05-25 16:13] macumber commented on #3543
Closed in https://github.com/NREL/OpenStudio/commit/7df25adc7a06e345ccb84572f6b6938988a011cd

[2019-05-25 16:13] #3543 closed

[2019-05-25 16:14] macumber commented on #3535
Fixed in https://github.com/NREL/OpenStudio/commit/120e53b6fc7c08b4a62a9e68acee850457bfc61c

[2019-05-25 16:14] #3535 closed

[2019-05-25 16:15] macumber commented on #3513
@kbenne @jmarrec did this get fixed?

[2019-05-25 16:16] #3500 closed

[2019-05-25 16:16] #2704 closed

[2019-05-25 16:18] macumber commented on #2792
@jmarrec @kbenne did this get fixed?

[2019-05-25 16:18] macumber commented on #2822
@jmarrec @kbenne did this get fixed?

[2019-05-25 16:19] macumber commented on #3502
Related to errors in SSL connections, possible fix in https://github.com/NREL/OpenStudio/pull/3552

[2019-05-25 16:19] #3511 closed

[2019-05-25 16:22] macumber commented on #3511
We are now returning the exit_code given by measure tester gem, would like better control over failure limits https://github.com/NREL/OpenStudio-measure-tester-gem/issues/35

[2019-05-25 16:31] macumber commented on #3527
I validated your file against the [FloorspaceJS JSON schema](https://github.com/NREL/floorspace.js/blob/develop/schema/geometry_schema.json) and it appears valid.

[FloorplanJS::load](https://github.com/NREL/OpenStudio/blob/e077c7edfa6c94bb37aeb0e31f40b69ed2740223/openstudiocore/src/utilities/geometry/FloorplanJS.hpp#L140) returns an OptionalFloorplanJS. The crash occurs because you are calling ge

[2019-05-25 16:32] macumber commented on #3527
FYI, equivalent code to do this is in the FloorspaceJS [import_floorplan measure](https://github.com/NREL/floorspace.js/blob/develop/measures/import_floorplan/measure.rb#L61)

[2019-05-25 16:45] macumber commented on #3527
When I run the following code in Ruby:

[code]

I get an error `test.rb:16:in `toThreeScene': Key 'type' is of wrong type (RuntimeError)`.  I think this is being thrown at [this line](https://github.com/NREL/OpenStudio/blob/e077c7edfa6c94bb37aeb0e31f40b69ed2740223/openstudiocore/src/utilities/geometry/FloorplanJS.cpp#L311).  The `type` key isn't documented in the schema but it appears you need a v

[2019-05-25 16:45] macumber commented on #3527
Closing here

[2019-05-25 16:45] #3527 closed

[2019-05-29 00:28] MatthewSteen opened #3553 "HeaderedPumps missing methods"
The following fields for the `HeaderedPumpsConstantSpeed` and `HeaderedPumpsVariableSpeed` classes  appear in the app (2.8.0), but are missing from the API and need to be put in the ForwardTranslator. All are present in the IDD.

![image](https://user-images.githubusercontent.com/8397034/58520482-4d53b900-8175-11e9-84b3-bee1606044be.png)

[2019-05-29 11:51] mjwitte commented on #3543
@shorowit Actually, this bug affected any use of AirloopHVAC:UnitarySystem as zone equipment in combination with other zone equipment running after the unitary system since the time AirloopHVAC was added to EnergyPlus.

[2019-05-30 15:56] pflaumingo opened #3554 "As a user, I want the gbXML import to store the id attribute of each element so I can retrieve elements imported from the gbXML translator"
At times it is desired to be able to append information to elements that are stored in the gbXML, but not translated by the gbXML translator. An example could simply be a different opinion on how the translation occurs for a property. Currently the only way to retrieve elements is by name and there is no guarantee that the name is unique or that it is supported (sometimes OpenStudio translates cha

[2019-05-30 16:04] pflaumingo opened #3555 "As a user, I want the gbXML import to store the CADObjectId element value of each element so I can map data back to the CAD/BIM environment"
This is required in addition to storing IDs because often the mapping from BIM/CAD to gbXML isn't one to one. For example, a single wall in BIM may be triangulated on export to gbXML and therefore be represented by multiple walls. When mapping back to the CAD/BIM environment it may be necessary to fetch all objects of a specific CADObjectId and transform the data (i.e. sum them) to get the desired

[2019-05-30 16:06] pflaumingo opened #3556 "Windows Ruby 2.2.4 doesn't support running ruby from a directory that contains non-ascii characters"
This problem arises for international users that may have a user directory with non-ascii characters in it. Sometimes users may not have the ability to change the directory they are running the analysis from.

[2019-05-31 15:12] luisclv commented on #1402
This would be useful for applications where the VRF unit is inside a space.

[2019-05-31 15:13] luisclv commented on #2960
Even just having methods in the SDK to add the condenser to a branch in a plantloop would be useful. A lot of large building applications have water cooled systems.

[2019-05-31 16:34] macumber commented on #3434
Assigned to @DavidGoldwasser to accept

[2019-05-31 19:10] macumber opened #3559 "Transfer conan distribution to OpenStudio org on bincrafters"

[2019-05-31 19:33] jmarrec commented on #3471
I definitely adjusted this in a couple unrelated PRs. Will check on Monday that its it's already fixed

[2019-06-03 20:15] kbenne commented on #3513
not fixed, but I've been looking at it for a while today and I have a question for anyone who has tested. Has anyone reproduced this when using a mouse? In tests on my laptop, I have only been able to reproduce when using the built in trackpad. If I plug in a mouse it appears rock solid.

[2019-06-04 03:09] tijcolem commented on #3502
I ran in debug and produced the same call stack as @jmarrec .  It points to an issue with the method in QtNetwork::ssl3_connect which is in the Qt shared library that is loaded at run time. This dylib is included in the version of [Qt](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/CMakeLists.txt#L973) that is statically linking OpenSSL 1.02q vs the previous version that used the O

[2019-06-04 10:11] jmarrec commented on #3471
Definitely fine now:

https://github.com/jmarrec/OpenStudio/blob/401205d1f4e6bb27743e5076be58f2dbb931df6d/src/sdd/ForwardTranslator.cpp#L553

[2019-06-04 10:11] #3471 closed

[2019-06-04 14:52] jmarrec commented on #3456
Is this really worth looking into plain develop3 now that we're nearing App separation?

[2019-06-04 15:29] macumber commented on #3456
We should look into it after the killswitch merge

[2019-06-04 18:51] macumber commented on #3267
Issue is probably in the [FloorplanJS::toThreeScene](https://github.com/NREL/OpenStudio/blob/e077c7edfa6c94bb37aeb0e31f40b69ed2740223/openstudiocore/src/utilities/geometry/FloorplanJS.hpp#L149) method

[2019-06-05 17:44] pflaumingo opened #3563 "Getting the last OpenStudio model from runner doesn't work for post-processing measures"
Using OpenStudio 2.8.0 and running the following code snippet just returns a Model.new object when running post-processing measures only from the command line. It works fine when doing a full run.

[code]

[2019-06-05 18:12] #3502 closed

[2019-06-05 18:12] #3267 closed

[2019-06-05 21:33] joseph-robertson opened #3564 "CoilWaterHeatingDesuperheater heating sources"
Should this list of possible heating sources be expanded to match what's in the energyplus idd? https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/CoilWaterHeatingDesuperheater.hpp#L155-L159

Should unit tests be expanded as well?

[2019-06-06 15:00] #3513 closed

[2019-06-06 15:56] kbenne commented on #2792
I can no longer reproduce this, and based on the callstack from @jmarrec I think it was fixed here https://github.com/NREL/OpenStudio/commit/e86278e6091bf025ccb49447ef48504888146b4b#diff-87cebb5848376f7a0e478a2ba4c19802

[2019-06-06 16:30] #2792 closed

[2019-06-07 16:56] luisclv opened #3568 "Expand the methods available to AvailabilityManagerNightCycle"
AvailabilityManagerNightCycle is added by default when changing the Airloop Availability to Cycle with loads through the GUI.

Currently, the SDK does not provide access to changing items available in the openstudio and energyplus IDD. The most critical methods missing are methods that set the availability and fan schedules, therefore, measures cannot correctly implement the object.

We could star

[2019-06-11 22:50] lefticus commented on #3521
Status Update:

* Conan doesn't seem to have official MSVC 2019 support yet? It may need to be added to the local configuration file.
* lzma doesn't have a build for MSVC 2019 and doesn't have its SDK updated, so it requires the Windows 10 Creators SDK to be installed. See issue: https://github.com/bincrafters/community/issues/827

[2019-06-11 22:55] lefticus commented on #3521
Status Update:

* Conan doesn't seem to have official MSVC 2019 support yet? It may need to be added to the local configuration file.
* lzma doesn't have a build for MSVC 2019 and doesn't have its SDK updated, so it requires the Windows 10 Creators SDK to be installed. See issue: https://github.com/bincrafters/community/issues/827

[2019-06-13 14:55] #3420 closed

[2019-06-13 22:13] chriswmackey opened #3571 "Changing the ShadowCalculation Method to TimestepFrequency"
I have searched pretty extensively through the OpenStudio SDK and through the issues posted on this github but I can't find any documentation showing how to change the Calculation Method on the `ShadowCalculation` object to be `TimestepFrequency` instead of the default `AverageOverDaysInFrequency`.

You can see here that the [SDK object for ShadowCalculation](https://openstudio-sdk-documentation.s

[2019-06-13 22:56] DavidGoldwasser commented on #3563
@pflaumingo I have always had to call this extra setup code for that to work in reporting measures.
https://github.com/NREL/OpenStudio-measures/blob/develop/lib/os_lib_reporting.rb#L41-L75

[2019-06-14 16:50] macumber opened #3573 "Use conan to build all Ruby extensions on all platforms"
Should not have to use homebrew.  Is it still ok to rely on apt?

[2019-06-14 16:52] macumber commented on #3456
Transfered to https://github.com/NREL/OpenStudioApplication/issues/16

[2019-06-14 16:52] #3456 closed

[2019-06-14 18:36] DavidGoldwasser commented on #3434
:) spot checked in 2.8.1

[2019-06-14 22:00] tijcolem commented on #3559
The bintray repo has been set up to store openstudio conan artifacts.

https://api.bintray.com/conan/commercialbuilding/openstudio

Travis and appveyor have been enabled to build https://github.com/NREL/conan-openstudio-ruby
Test runs were successful.  Now looking into adding encryption to securely upload conan builds to bintray.

[2019-06-18 18:01] inkmug commented on #3430
Hi, @jmarrec looks like the issue is fixed? How can I update on my end? Do I need to use a new version, reinstall v2.6, or download some kind of updated library file? thanks

[2019-06-18 18:07] macumber commented on #3430
Looks like the fix is included in OpenStudio 2.8.0 which you can download from https://www.openstudio.net/downloads

[2019-06-18 18:12] inkmug commented on #3430
thanks, is there any way i can use this in v2.6?

[2019-06-18 18:35] macumber commented on #3430
Unfortunately it looks like it required a code change that is not available in 2.6.0

[2019-06-18 20:12] tijcolem commented on #3559
This is done for both Travis and Appveyor.
PR - https://github.com/NREL/conan-openstudio-ruby/pull/6

[2019-06-18 20:52] tijcolem commented on #3547
This has been released.  https://github.com/NREL/OpenStudio/releases/tag/v2.8.1

[2019-06-18 20:52] #3547 closed

[2019-06-19 21:51] MingboPeng opened #3575 "Add NuGet packages per release"
Hi All,

Is it possible to update NuGet per each release?
The last version in NuGet is still 2.6.2.
It would be very helpful for developers to manage references.

Thanks so much,
Mingbo

[2019-06-19 22:13] macumber commented on #3575
@kbenne FYI

[2019-06-20 15:32] jmarrec opened #3577 "Turn back -Werror on Unix on develop3"
https://github.com/jmarrec/OpenStudio/blame/d56398b5a89b2e95c98a12af4267a668545ca9c5/CMakeLists.txt#L342

[2019-06-20 19:35] joseph-robertson opened #3578 "Warning message when running measure test 'Cannot find current Workflow Step'"
This error is logged in the following places:
* https://github.com/NREL/OpenStudio/blob/develop/src/measure/OSRunner.cpp#L196-L200
* https://github.com/NREL/OpenStudio/blob/develop/src/measure/OSRunner.cpp#L271-L275

It occurs when initializing `runner = OpenStudio::Measure::OSRunner.new(OpenStudio::WorkflowJSON.new)`
and then calling `measure.run(model, runner, argument_map)`.

Results in warning

[2019-06-20 21:25] macumber opened #3580 "Point conan to official nrel repos"
Remove these lines:
https://github.com/NREL/OpenStudio/blob/develop3/ConanInstall.cmake#L35

Point to nrel official
https://github.com/NREL/OpenStudio/blob/develop3/ConanInstall.cmake#L81

[2019-06-20 22:22] macumber commented on #3580
Duplicate of https://github.com/NREL/OpenStudio/issues/3559

[2019-06-20 22:22] #3580 closed

[2019-06-23 17:51] macumber commented on #3541
Test case https://github.com/NREL/openstudio-cli-demo/tree/bundle

[2019-06-24 14:26] macumber commented on #3540
https://github.com/NREL/openstudio-extension-gem/issues/23

[2019-06-27 01:43] macumber commented on #3166
@DavidGoldwasser can you retest with the separated application?

[2019-06-27 22:05] DavidGoldwasser commented on #3435
A nice (maybe planned) byproduct of 3x having the menu items in the app vs. Apple's menu bar is that the you can no longer re-create this crash because the app interface is locked out. Unless there is a plan to try something for 2x (which I don't think there is, we can probably close this now.

[2019-06-27 22:13] #3435 closed

[2019-06-27 22:54] macumber opened #3584 "ZoneControl:Thermostat is missing the Temperature Difference Between Cutout And Setpoint field"
In the OpenStudio ProposedEnergy+.idd the `ZoneControl:Thermostat` is missing the `Temperature Difference Between Cutout And Setpoint` field at the end of the object.  This is because OpenStudio  treated this object as extensible when really it is not (it does look like it should be extensible).

[2019-06-27 22:55] macumber commented on #3584
Reported by @ebonnema

[2019-06-28 16:42] antonszilasi opened #3585 "FloorspaceJS json north axis not being imported into OS model"
@macumber

I have created a floor space model where I rotated the north axis by -270 degrees/90 degrees (see the jpg below)

![270 degrees rotated](https://user-images.githubusercontent.com/8773483/60357806-ddae3500-9991-11e9-90d2-fd9ed7eb143f.jpg)

This north axis rotation can be seen in the north_axis property of the Floorspace JS json which is produced from the floor space app.

![north_axis](h

[2019-07-05 15:53] macumber commented on #2822
@DavidGoldwasser can you accept this?

[2019-07-05 15:55] macumber commented on #3513
@ryandmeyer1017 can you confirm this is fixed in 2.8.1?

[2019-07-05 15:56] macumber commented on #3502
@DavidGoldwasser can you confirm this is fixed in 2.8.1?

[2019-07-08 14:58] shorowit commented on #50
I really dislike this proposal. Now that OpenStudio users can specify a ScheduleFile object, they should only get an E+ Schedule:File when they specifically request it. If a user instead specifies a ScheduleFixedInterval object, they should get an E+ Schedule:Compact object. I intentionally use ScheduleFixedInterval in OpenStudio on occasion to avoid the E+ Schedule;File. I don't want OpenStudio t

[2019-07-09 14:48] DavidGoldwasser commented on #2822
@macumber traditional 2.8.1 still crashes, but pre 3x 2.8.1 does not crash.

[2019-07-09 14:54] DavidGoldwasser commented on #3502
@macumber there is no longer a crash in the 2.8.1 installer, but the pre 3x 2.8.1, while it doesn't crash, doesn't properly setup a new floorplan. I think you filed that as a different issue.

[2019-07-09 19:09] shorowit commented on #3578
For what it's worth, we _just_ had a user confused by this. They thought our OpenStudio-based workflow was giving an error and wasn't working.

[2019-07-09 19:36] antonszilasi opened #3589 "Shading height is set to 80 ft but the height of the shading is the height of only one story"
Shading height is set to 80 ft but the height of the shading is the height of only one story,
see the floor js json here: https://drive.google.com/file/d/1srbSWQeqPscuunlv1zAX4MJBByWIvcRl/view?usp=sharing

Here is a picture of the osm import:
![shadingIssueDan](https://user-images.githubusercontent.com/8773483/60917595-9310a080-a24e-11e9-82f6-23a11eb416fd.jpg)

[2019-07-09 23:13] macumber commented on #3578
They saw this message when running tests or some other workflow?

[2019-07-09 23:14] shorowit commented on #3578
Running tests.

[2019-07-09 23:22] macumber commented on #50
We could possibly add a new field that controls forward translation?

[2019-07-09 23:31] shorowit commented on #50
That would be fine. I assume FT should default to current behavior for backwards compatibility.

Would another option be to create a method in OpenStudio::Timeseries that can create a CSV file, and then the user can easily create a Schedule:File from it? Or something along those lines.

[2019-07-09 23:38] macumber commented on #50
Yeah, I think there should be something like a CSVFile that can have multiple timeseries in it, both read and write ability.  The new thing that makes this possible is the ability of the model to get the OSW file directories to save CSV to.

[2019-07-10 16:42] macumber opened #3590 "OpenStudio CLI segfaults on launch on Windows"
Reported by @mdahlhausen.  If user has MinGW compiled native gem in GEM_HOME or GEM_PATH, the CLI will try to load that and segfault.  Temporary workaround is to clear those environment variables.  We need to ensure that the CLI depends on json-pure

[2019-07-10 18:55] ryandmeyer1017 commented on #3513
@macumber yes, the 2.8.1 build I tested on June 5th confirmed it was fixed.

[2019-07-10 21:14] johnrkramer opened #3591 "End Use by Subcategory does not ForwardTranslate for Fan:VariableVolume or Fan:ConstantVolume"
Newer versions of OpenStudio include the end-use by subcategory for `Fan:ConstantVolume` and `Fan:VariableVolume` in the GUI but they do not translate to the [IDF](https://bigladdersoftware.com/epx/docs/9-0/input-output-reference/group-fans.html#field-end-use-subcategory-2-000).

Please see related issues to add them to the GUI here:
#3001  @jmarrec
#3260  @matthewsteen

Forward translation for en

[2019-07-10 21:38] macumber opened #3592 "Point develop3 to NREL bincrafters for OpenStudio Ruby"
https://github.com/NREL/OpenStudio/blob/develop3/ConanInstall.cmake#L83 should be https://bintray.com/commercialbuilding/openstudio/openstudio_ruby%3Aopenstudio/2.5.5-4c07d68b72%3Atesting

[2019-07-10 21:38] macumber commented on #3592
Or should we have merge to master push to a latest tag?

[2019-07-11 03:16] macumber commented on #3589
This error is actually in the FloorspaceJS JSON, the shading object field `floor_to_ceiling_height` is set to "80" which is a string, it should be 80 which is numeric.

@bgschiller FYI

[2019-07-11 03:16] #3589 closed

[2019-07-11 03:17] macumber commented on #3589
![image](https://user-images.githubusercontent.com/1327850/61019640-271a5f00-a358-11e9-96b3-c3006d91f0fc.png)

[2019-07-11 03:20] macumber opened #3594 "Show true north on view model page"

[2019-07-11 18:06] antonszilasi commented on #3589
@macumber thanks for seeing this, you are right we'll get out floor js jsons written out as numbers now
instead of strings.

[2019-07-12 16:11] macumber commented on #3514
@tijcolem can you list the test failures on each platform for these branches and indicate if they are regular or intermittent

[2019-07-12 16:26] #3585 closed

[2019-07-13 02:34] macumber commented on #3590
@mdahlhausen what was the initial value of GEM_HOME on your computer, I'd like to try to reproduce your crash

[2019-07-15 14:33] amagr0 opened #3598 "Youtube Channel"
First of all, congratulations for the amazing open-source piece of software, is unbelievable how no one of the big fishes from software companies have not bought it yet, let's hope that that never happens.

Since this is a really rich software I think youtube channel and the other social platforms could be more dynamic, with more frequently contents.

Cheers,
AMagro

[2019-07-15 16:46] inkmug opened #3599 "outside air control at OS:AirTerminal:SingleDuct:InletSideMixer primary air inlet"
when using OS:AirTerminal:SingleDuct:InletSideMixer with DOAS airloop and OS:ZoneHVAC:FourPipeFanCoil, it is noticed that the outside air for the zone is not controlled. And there is no field at the inlet side mixer to maintain a minimum OSA for each zone.

please refer to details here, the model is in v2.8.1:
https://unmethours.com/question/39498/outside-air-control-for-four-pipe-fan-coil-with-in

[2019-07-15 18:56] MatthewSteen opened #3600 "plant loop supply side equipment order"
The app's behavior for plant loop supply side equipment should follow the Thermal Zone tab's where objects appear in the order that they're added to the drop zone because it determines the order in EnergyPlus' `PlantEquipmentList` object. This is not the behavior for some objects as of 2.8.0. For example, when the desired order is a HX first and a chiller second, the chiller jumps to the top. Also

[2019-07-15 21:07] #3591 closed

[2019-07-15 21:08] #3590 closed

[2019-07-15 22:05] macumber commented on #3554
Thinking to use an additional property named "gbxml_id"

[2019-07-15 22:06] macumber commented on #3555
Thinking to use an additional property named "CADObjectId"

[2019-07-15 22:26] joseph-robertson commented on #50
Notes:
* i think its pretty straighforward (one new field to the schedulefixed interval object, translate to csv yes/no) but some of the new stuff about finding the model's working directory is a bit odd
* I think "Translate to Schedule File" defaults to false
* version translator will have to insert that field
* i dont think we can translate schedule variable interval to csv so let's skip for now

[2019-07-15 22:34] macumber commented on #50
Let me know when you get started, I can help with a CSVFile class for reading and writing CSV if that helps.

[2019-07-15 22:37] pflaumingo commented on #3555
I should note this is what is used with some objects currently (i.e. ThermalZones), but it'd be helpful to have it on other objects such as surfaces.

[2019-07-15 22:40] pflaumingo commented on #3554
Some objects such as spaces are translated with and "id" feature added to additional properties (ThermalZones). Although the gbXML schema doesn't seem to state that the id attribute has to be unique, I believe most vendors would/should use it as such.

[2019-07-15 22:42] macumber commented on #3554
Would it break anything for you if I moved "id" to a more descriptive attribute like "gbXMLId"?

[2019-07-15 22:45] pflaumingo commented on #3554
Nothing that couldn't be fixed easily

[2019-07-16 01:47] macumber opened #3601 "Update FloorspaceJS"

[2019-07-16 04:20] macumber commented on #3555
In schema version 6.01, CADObjectId can be an array of ids.  Is this ever used?  One OSM object relates to multiple CAD objects?

[2019-07-16 10:14] jmarrec commented on #3600
I agree with you @MatthewSteen, it's confusing. Rest assured that this is nothing but a display thing though, stuff will still end up in the PlantEquipmentList in the order you added it.

I tracked it down, and it appears that the branches are sorted, which makes sense for the demand side, especially of an AirLoopHVAC because it will sort that by the ThermalZone Name. In the case of our plant Loop

[2019-07-16 10:45] jmarrec commented on #3592
Fixed via #3596, reverted temporarily, but now added back in https://github.com/NREL/OpenStudio/commit/f238cefd76b92b2839ff49feca2efe2596c84fe1 and tested that works

[2019-07-16 10:45] #3592 closed

[2019-07-16 10:46] jmarrec commented on #3559
Confirmed good to go https://bintray.com/beta/#/commercialbuilding/nrel/openstudio_ruby:nrel?tab=overview

[2019-07-16 10:46] jmarrec commented on #3559
Confirmed good to go https://bintray.com/beta/#/commercialbuilding/nrel/openstudio_ruby:nrel?tab=overview

[2019-07-16 10:46] #3559 closed

[2019-07-16 15:10] pflaumingo commented on #3555
I can't think of a time I've used it, but I could see it being possible. Would we split it as multiple additional properties? Or store it as one string with some separator?

[2019-07-16 17:56] macumber commented on #3555
Here's a list of issues to discuss:

- I've imported CADObjectId where it is allowed in the v6.01 schema
- I am importing id attribute from all objects as gbXMLId
- The schema allows for an array of CADObjectId, I am only importing the first one if any exist
    - CADObjectId has an optional programIdRef attribute, I think the idea is that a given element might have CADObjectId in multiple program

[2019-07-17 20:21] pflaumingo opened #3604 "As a user, I want to be able to connect the AirConditionerVariableRefrigerantFlow to a plant loop so that I can model WC-VRF units"
Currently OpenStudio doesn't support water-cooled VRF units as seen in the code here: https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/AirConditionerVariableRefrigerantFlow.cpp#L1925

[2019-07-17 20:21] kbenne commented on #3604
@jmarrec are you available for this, or should I pick it up?

[2019-07-22 15:55] joseph-robertson commented on #3347
Appears someone has written `ReverseTranslateScheduleFile.cpp`. I will check that it's working and that there are sufficient tests.

[2019-07-23 15:05] luisclv opened #3605 "Extend AvailabilityManager:NightCycle to include more fields"
Currently the AvailabilityManager:NightCycle class does not have methods to modify the `Fan Schedule` and the `Applicability Schedule` fields. This prevents measures and the OpenStudio-Standards gem from correctly implementing the AM, translating in a lot of unmet hours.

[2019-07-23 15:21] jmarrec opened #3606 "Chiller:Electric:EIR API related to node need a serious refactor"
None of these should exist, especially not in the public header (`ChillerElectricEIR.hpp`):

[code]

All of these plant loop connections are supposed to be set using addToNode / addToTertiaryNode.

ChillerElectricEIR::addToNode should probably be overloaded to do something like what I've done for CentralHeatPumpSystem:

https://github.com/NREL/OpenStudio/blob/5dc8c4e966066dcbeffddfb0ae1f9a65d84536

[2019-07-23 15:33] eringold commented on #3606
[code]

The above will not hard crash, but will print:

    [BOOST_ASSERT] <2> Assertion result failed on line 665 of bool __cdecl openstudio::model::detail::ChillerElectricEIR_Impl::setHeatRecoveryInletNodeName(class std::basic_string<char,struct std::char_traits<char>,class std::allocator<char> >) in file C:\Users\jenkins\git\OpenStudio\openstudiocore\src\model\ChillerElectricEIR.cpp.

and

[2019-07-25 09:45] #3598 closed

[2019-07-25 17:58] DaveInCaz commented on #2772
Its been close to 2 years on this one... is there any impediment to adding these files to the package?

[2019-07-26 15:12] macumber commented on #2772
The Nuget packages haven't been part of our standard build process, @kbenne has been making them as one off packages. We have another ticket to add the Nuget package to our standard release, https://github.com/NREL/OpenStudio/issues/3575.  This issue should be addressed as part of that work.

[2019-07-26 15:15] macumber commented on #3362
http://nrel.github.io/OpenStudio-user-documentation/getting_started/roadmap/

[2019-07-26 15:16] DaveInCaz commented on #2772
Got it, thanks!

[2019-07-26 15:17] macumber opened #3607 "Update to SWIG 4 on develop3"

[2019-07-27 10:00] MingboPeng opened #3608 "Workflow issue with ExternalFile."
Hi All,

I am currently trying to use ExternalFile.getExternalFile() right after Model is constructed, and there is an issue related to this workflow.

Here is a short c# code example:
[code]

In ExternalFile current constructor, it only takes the filename string, instead of absolute filepath, or Path object. It uses `workflowJSON` to complete the filepath, and this will always cannot find the fil

[2019-07-29 14:28] #3605 closed

[2019-07-29 14:29] luisclv commented on #3605
Duplicate of #3568

[2019-07-30 20:49] macumber commented on #3608
Hey @MingboPeng thanks for the report.  I'm not sure it's valid though.  The following Ruby code works for me.  You can put your file in one of the WorkflowJSON file paths and find it by name.  Otherwise, you can also pass an absolute path, [findFile](https://github.com/NREL/OpenStudio/blob/e077c7edfa6c94bb37aeb0e31f40b69ed2740223/openstudiocore/src/utilities/filetypes/WorkflowJSON.cpp#L495) will

[2019-07-31 01:34] MingboPeng commented on #3608
Hi @macumber , thanks for testing this issue. I am using the absolute path in getExternalFile(). But when it saved to osm file, the ExternalFile's file name only shows the file name instead of absolute file path.
[code]

The result of running the simulation is it failed to find the file.
![image](https://user-images.githubusercontent.com/9031066/62176657-59442e80-b310-11e9-836f-dab6496bea95.png)

[2019-07-31 01:41] macumber commented on #3608
I think I see what is happening here.  Can you confirm if this is the workflow you are using?

1. Generate an OSM with external file in some script or code
1. Open that OSM in the OpenStudio Application
1. Hit run button in the OpenStudio Application

[2019-07-31 01:44] macumber opened #3609 "Schedule CSV written in measure is not found"
Users are having issues with CSV files generated by measures.  Users tend to write these in the measure directory which can lead to trouble.  Need to have good example measure with tests in several contexts (CLI, App, PAT, openstudio-resources)

[2019-07-31 01:46] macumber commented on #3609
Measure should do something simple like write a CSV file and associate it with a load

[2019-07-31 01:47] MingboPeng commented on #3608
Correct.
I think based on the OSM file only, without WorkflowJSON file, it cannot locate the absolute file path.
Saving the absolute file path like EPW file might just solve the problem.
Thanks.

[2019-07-31 02:00] macumber commented on #3608
I would recommend creating the companion directory when you save your model, then it will be detected when you load the model from the CLI or in the app:

[code]

[2019-07-31 02:02] macumber commented on #3609
@mleachNREL thanks for the report

[2019-07-31 02:30] MingboPeng commented on #3608
Thanks @macumber ,
I just tested and run in app, it works.
But with CLI, it seems still a problem. I checked the folder, the csv file is inside, it seems the path in following error missing the file extension ".csv".
![image](https://user-images.githubusercontent.com/9031066/62179103-539f1680-b319-11e9-967b-894917531292.png)

[2019-07-31 02:40] macumber commented on #3608
I just updated the code above, can you try the above (adding weather file, etc as needed) and by running the OSW file like:

`/openstudio run -w schedule_file/workflow.osw`

[2019-07-31 03:53] MingboPeng commented on #3608
Thanks @macumber , I think it works so far. There is also a bug in Honeybee that removes ".csv" extension https://github.com/mostaphaRoudsari/honeybee/issues/727.

[2019-07-31 11:10] jmarrec commented on #3604
@kbenne here's my initial scoping of this. Can you chime in please?
@pflaumingo if you have a few minutes to spare to think about whether you like the user aspect of this or not, and stuff I might have missed, please do let me know.

## Revamp of the VRF object:

* Condenser Type should be exposed
    * `OpenStudio.idd` should uncomment the `! \key EvaporativelyCooled`
    * `AirConditionerVariabl

[2019-07-31 21:09] kbenne commented on #3604
Sounds good to me.

[2019-08-01 19:56] macumber opened #3611 "Create CSVFile class"

[2019-08-01 20:02] joseph-robertson commented on #3611
Notes:
* shouldn't need a new c++ csv library
* class would go in https://github.com/NREL/OpenStudio/tree/develop/openstudiocore/src/utilities/filetypes
* probably a constructor from file path to read a file, empty constructor for new file, save as method
* methods to get and set columns
* set of three files CSVFile.hpp, cpp, _Impl.hpp, with methods like read_external_file,write_external_file, som

[2019-08-02 10:00] ergo14 opened #3612 "Failed to build openstudiocore on ubuntu bionic"
I am having issues compiling openstudiocore on ubuntu.

Here is a `Dockerfile` for the environment
[code]

The `sudoers.txt` file needed

[code]

Commands used to build the image and run a container on a linux machine
[code]

The error message by `make`
[code]

After googling the error, I found issue #2796 and I tried running `make GenerateIddFactory` first instead of `make`. It still failed with

[2019-08-06 15:24] brianlball opened #3614 "Develop3 measure failure"
an osw that works in 2.8.1 is not working in develop3-2.8.1.

getting undefined method `getSolarAbsorptance' for #<OpenStudio::Model::StandardOpaqueMaterial:0x000055774b897bd8>, which should work.
[develop3-error.txt](https://github.com/NREL/OpenStudio/files/3472957/develop3-error.txt)
[develop3_error.zip](https://github.com/NREL/OpenStudio/files/3472958/develop3_error.zip)

cli commands and error

[2019-08-06 15:49] macumber commented on #3614
That method returns a quantity object it was deprecated in develop3, the measure should be updated to not use that method

[2019-08-06 15:51] macumber commented on #3614
Can use solarAbsorptance instead

https://github.com/NREL/OpenStudio/blob/e077c7edfa6c94bb37aeb0e31f40b69ed2740223/openstudiocore/src/model/MasslessOpaqueMaterial.hpp#L82

[2019-08-06 16:54] brianlball commented on #3614
yep, that plus a few other deprecated methods fixed it.

[2019-08-06 16:54] #3614 closed

[2019-08-07 18:50] lymereJ opened #3615 "Wrap Refrigeration:CompressorRack in OpenStudio"
This issue is a feature request to support the `Refrigeration:CompressorRack` EnergyPlus object in OpenStudio. This object is needed to align the DOE prototypes building models generated by OpenStudio-Standards with the [Commercial Prototype Building models](https://www.energycodes.gov/development/commercial/prototype_models).

[2019-08-08 18:30] luisclv opened #3616 "OpenStudio Simulation crashes, Energyplus returns non-zero code"
**Platform: Windows 10
OS version: 2.8.0
Workstation Specs: i7-8750H & 64 GB RAM**

I can share the file privately if needed. The error appeared with the simulation files saved on a network location, it ran fine there until it didn't.

When running the simulation over the GUI, the simulation fails randomly. eplusout.err looks like it was stopped abruptly and does not indicate a _normal_ EnergyPlus

[2019-08-08 19:05] luisclv commented on #3616
I traced the problem back to an Airloop. I have an Airloop connected to zones that have a multiplier of `11`. If I delete the Airloop, the simulation runs fine. If I add the Airloop back, the simulation crashes again. In both scenarios, running the .idf file with my local copy of EnergyPlus solves the issue.

[2019-08-09 15:52] tijcolem commented on #3612
Assuming you are trying to build openstudio off the develop branch I would try the following changes to see if this fixes things.

1 ) Update your cmake to the latest version. I am using cmake  3.14

2 ) Use docker image ubuntu:xenial vs bionic. There is one lib change to bionic that has a known issue.

Also, here is the dependency setup on one of our CI machines.

 packages:
      - unzip
      -

[2019-08-12 11:21] jmarrec opened #3617 "Fix Typo in OS App for "Acuators""
![image](https://user-images.githubusercontent.com/5479063/62861536-16b52580-bd04-11e9-82fd-2d2beb6601f2.png)

[2019-08-12 22:14] luisclv commented on #3616
It looks like it is somehow related to the system airflow sizing. I added VRF equipment. If I leave it autosized, the simulation crashes again. Hard-sizing the airflows solves the issue.

[2019-08-12 22:39] macumber opened #3618 "Create list of deprecated methods for changelog"

[2019-08-13 17:10] macumber opened #3620 "Issue warning if measure_dir_name is full path in OSW"
If user puts full path in measure_dir_name  the simulations will fail, should warn

[2019-08-13 19:57] chriswmackey opened #3621 "Exposing the YearDescription in C# Bindings"
I believe that what I am submitting here is a feature request but it is totally possible that there is already a way to access what I am looking for and the several hours that I have spent trying to access it are instead the result of me being unable to understand the documentation or find any examples.

Specifically, I am trying to access the [YearDescription](https://openstudio-sdk-documentation

[2019-08-13 20:03] macumber commented on #3621
Thanks @chriswmackey can you call the following method on the OpenStudio Model class?

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/Model.hpp#L131

[code]

[2019-08-13 20:12] chriswmackey commented on #3621
@macrumber ,
Trying that code, I get the following:
`Runtime error (MissingMemberException): 'Model' object has no attribute 'yearDescription'`
So I am afraid that one is not the solution.

I should also note that I have tried the following code:
[code]
... and I get an OpenStudio.WorkspaceObjectVector and, the first index [0] of the vector has a YearDescription object in there but it's not one th

[2019-08-13 21:47] pflaumingo commented on #3604
Sorry, I'm late to the party. I agree with most of what is being proposed, however, I actually think your alternative suggested is better for when setCondenserType is called with a PlantLoop connected. Doing the proposed rather than the alternative means that whatever object interacts with the condenser will need to know how to peer into its state and then based off of that decide what to do to th

[2019-08-14 00:20] jmarrec commented on #3604
@pflaumingo that was one example of why I prefer to just reject setCondenserType("AirCooled") if a plant loop. Others:

* It matches the API behavior for other objects such as ChillerElectricEIR (I haven't searched for other occurrences, and I'm the one who did chiller condenser logic, so that's perhaps not a great argument to be fair...)
* I favor warning user before inducing non reversible chang

[2019-08-14 03:13] macumber opened #3623 "Access model in arguments for Reporting Measures"
Currently, the arguments methods have the following signatures:

Model Measure
[virtual std::vector<OSArgument> arguments(const openstudio::model::Model& model) const;](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/measure/ModelMeasure.hpp#L63)

EnergyPlus Measure
[virtual std::vector<OSArgument> arguments(const openstudio::Workspace& workspace) const;](https://github.com/NREL

[2019-08-14 03:15] macumber commented on #3623
Propose adding runner as an optional second input to all arguments methods.  This would allow users to get the last OSM in EnergyPlus Measures, and last OSM or IDF in Reporting Measures.  You could also log error messages in the method, not sure where those would go in the out.osw.

[2019-08-14 16:23] pflaumingo commented on #3604
I agree with the first point if it's the common implementation throughout the API, but would consider making a breaking change for 3.0 if it results in better API design.

For the second point, I think whether its UI or interactive Ruby its coupling a potential user facing issue for a specific user with the API design and that should be avoided. They are separate concerns even though that specific

[2019-08-14 21:57] jmarrec commented on #3604
My current PR would return false if connected to a plant loop but also issue a warning saying you need to disconnect it first.

You can already write both versions of your code, checking condenserType before being my preferred option rather than checking the return type, disconnect, then try again.

I guess I can follow your last point (we have different usage of the API for sure so not 100% sure

[2019-08-15 01:37] antonszilasi opened #3624 "Floor JS json import fails"
@macumber

This is the first time I've seen this and Im not sure why its happening, this is a relatively simple model in the floor js json here: https://drive.google.com/file/d/1KEMAPw5uivBzvcbtV9yaAIWQDb2dVzxo/view?usp=sharing

Unfortunately when I try to import it using

[code]
I get the error `toThreeScene': Cannot find key 'name' (RuntimeError).

I am using OpenStudio 2.8.0, is there something

[2019-08-16 02:50] DavidGoldwasser opened #3625 "SpaceTypes missing from MyLibrary when in SpaceTypes tab"
When in the space types tab and viewing "MyModel" in right pane "Space Types" are not visible. "Space Types" are visible when in "Library" they should be visible to drag into space type drop zone.

[2019-08-16 03:11] macumber commented on #3625
This might be intentional.  You can drag space types in from the library to clone into your model.  But if you drag a space type from my model in to space types, what happens?  Aren't the space types in the model visible in another list?

[2019-08-16 10:45] jmarrec commented on #3573
https://github.com/NREL/OpenStudio/blob/develop3/CMakeLists.txt#L653

As of today, there are no `ADDITIONAL_RUBY_LIBS` passed on mac anymore. We have trouble with the readline one which doesn't support static on mac and need to figure out what to do (ship the dylib, or modify conan readline to allow static on mac, cf https://github.com/NREL/conan-openstudio-ruby/issues/8#issuecomment-519963213)

O

[2019-08-16 11:51] jmarrec commented on #3618
| namespace | class_name                    | method                                           | Deprecated Since                                                                             | Replace With                                                                           |
|-----------|-------------------------------|--------------------------------------------------|-----------------------

[2019-08-16 13:31] jmarrec commented on #3625
What Dan said. If you want to clone an existing SpaceType in your model, then use the "x2".
If you go to the Thermal Zones tab, "My Model" won't present your with Thermal Zones either. If you go to Schedules Tab, same happens.

Closing as it works as expected.

[2019-08-16 13:31] #3625 closed

[2019-08-16 16:49] antonszilasi commented on #3624
@macumber it took me a while looking at it manually but somehow there is no name object for each
thermal zone object

[2019-08-16 16:50] #3624 closed

[2019-08-16 21:34] jmarrec opened #3627 "Hide Fan Schedule in OS App on AirLoopHVAC only"
It's confusing, if the fan is on an AirLoopHVAC, the loop's availability schedule will replace the fan one.

https://github.com/jmarrec/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateFanVariableVolume.cpp#L68:L84

I do realize this isn't trivial since there's no way to hide fields on select tabs, and we do want this field for other fans that are in HVACComp

[2019-08-19 12:26] jmarrec opened #3629 "Remove minimum limits for Heat Pump Heating Minimum Outdoor Dry-Bulb Temperature to match E+"
cf https://github.com/NREL/EnergyPlus/issues/7437. E+ IDD was changed around E+ 8.8.0 to remove some compressor OAT limits. OpenStudio is out of sync with these changes (and probably a ton more).

**OpenStudio.idd**

[code]

**ProposedEnergy+.idd:**

[code]

-----

**E+**:
[code]

[2019-08-19 12:54] jmarrec commented on #3140
Closing as can't reproduce

[2019-08-19 12:54] #3140 closed

[2019-08-19 12:57] jmarrec commented on #3123
Is the wanted behavior to rename constructions to bear the "90.1-XXX" suffix? If so, please open a PR on openstudio-standards instead.

[2019-08-19 12:57] #3123 closed

[2019-08-19 13:29] jmarrec commented on #221
@macumber bump. Without more info, I'm inclined to just close it (it's 6 years old)

[2019-08-19 14:49] macumber commented on #221
Let's just close

[2019-08-19 14:49] #221 closed

[2019-08-19 18:01] DavidGoldwasser commented on #3625
Good point, agree, it shouldn't show.

[2019-08-21 03:12] macumber commented on #3621
Here's the source:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/ModelSimulation.i#L25

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/ModelSimulation.i#L81

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/ModelSimulation.i#L120

[2019-08-21 03:19] macumber commented on #3621
@chriswmackey would these convenience methods work for you, https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/Model.hpp#L135

You don't get access to the YearDescription object but can get at all of its data

[2019-08-21 03:23] macumber commented on #3571
This will require adding a field in the OpenStudio idd and potentially adding version translation

[2019-08-21 04:10] macumber commented on #3571
Going to add the field to the end of the object so we don't have to do any version translation

[2019-08-21 13:27] #2291 closed

[2019-08-21 19:31] kbenne commented on #3604
@jmarrec I think it is safe to say we have all been wrestling with figuring out the right way to go. The comments here are just a sample of the discussion that has been elaborated offline. All of it has been very well thought out and considerate so thanks to everyone for fostering a good community.

I'm personally landing on something that I think and hope is a compromise. The OpenStudio Doctrine

[2019-08-21 22:07] eringold commented on #3604
Ahem, just chiming in uninvited to note that this:

is not how I understand the evaporatively-cooled condenser option to work. See inputs [Evaporative Condenser Effectiveness](https://bigladdersoftware.com/epx/docs/9-1/input-output-reference/group-variable-refrigerant-flow-equipment.html#field-evaporative-condenser-effectiveness-002), and [Evaporative Condenser Air Flow Rate](https://bigladdersoft

[2019-08-21 22:40] jmarrec commented on #3604
Yes, @eringold. Watercooled if plant. Aircooled or evaporatively cooled if no plant.

I don't like moving that stuff back at FT for ChillerElectricEIR (which behaves exactly the same way as the aircondVRF with respect to condenser type). I like having a getter that would tell me what's the current situation.
My take is to let plant connection/disconnection drive the condenser type with two main (m

[2019-08-22 00:57] chriswmackey commented on #3571
Thank, @macumber .  That would be perfect.

[2019-08-22 01:26] chriswmackey commented on #3621
Thanks for digging into it, @macumber .  To clarify: does "getting access to the data" mean that this data can still be set/edited for a Model?  For example, will we be able to set the leap year for the simulation?  If so, that sounds fine to me.

[2019-08-22 01:32] macumber commented on #3621
Yes you can call ‘model.isLeapYear’ and ‘model.setLeapYear’

[2019-08-22 01:47] chriswmackey commented on #3621
Wonderful!  That should do it, then.

[2019-08-22 01:50] #3621 closed

[2019-08-22 02:10] macumber opened #3632 "Update to E+ 9.2"

[2019-08-23 09:14] amagr0 opened #3633 "Autodesk Revit 2020 + OpenStudio app"
Since Autodesk is using OpenStudio application through [Revit 2020](https://www.youtube.com/watch?v=aQ63HJ41X7A&t=3s), can we expect the continuity of the OpenStudio apllication?

[_Given the recent timing of this announcement, no entity or entities have yet announced specific plans to continue support for the OpenStudio Application after the transition period._
](https://www.openstudio.net/new-fu

[2019-08-23 16:18] shorowit commented on #3564
Does https://github.com/NREL/OpenStudio/pull/3565 address this?

[2019-08-23 16:23] macumber commented on #2822
@kbenne will retest and see if he can reproduce, @DavidGoldwasser will provide test model

[2019-08-23 16:34] macumber commented on #3573
Depends on https://github.com/NREL/conan-openstudio-ruby/pull/16

Link against homebrew readline on Mac for now, new ticket to transfer that to conan
Get FFI and other extensions working on Windows

[2019-08-23 16:47] jmarrec commented on #3632
Please do fix #3584 and #3629 while you're messing with IDDs.

[2019-08-23 22:43] joseph-robertson commented on #3564
Yes: https://github.com/NREL/OpenStudio/pull/3565/files#diff-9777b13cb103632d702c9c2f8c774165R158-R162.

[2019-08-25 01:06] macumber commented on #3051
I believe that all vertices are translated to site (i.e. global) coordinates on translation to gbXML, https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/gbxml/ForwardTranslator.cpp#L900

The gbXML might not have a populated north axis field, but all the vertices should be correct.

[2019-08-25 01:06] #3051 closed

[2019-08-26 21:33] macumber opened #3635 "Translate AirWalls to Construction:AirBoundary"

[2019-08-26 21:37] macumber opened #3636 "Update ScheduleFile Column Separator keys"
Fixed->Space.  Update in OS IDD, add Version translation

[2019-08-26 21:38] macumber opened #3637 "Add Thermal Resistance to WindowMaterial:Glazing:EquivalentLayer"
Add to object and app

[2019-08-26 21:46] macumber opened #3638 "Allow InternalMass to be translated to a ZoneList"

[2019-08-27 14:10] jmarrec commented on #3521
LZMA I have taken care of. Boost system 1.69 has an open issue here: https://github.com/bincrafters/community/issues/781, but hopefully 1.70 should be out soonish and compatible with MSVC 2019

[2019-08-28 09:01] jmarrec commented on #3612
@ergo14 For OpenStudio 2.x, the supported distribution is Ubuntu Xenial (16.04) for building, and 14.04 too. It will not build on Ubuntu Bionic (18.04), though you *can install* a package on Bionic (that was built with Xenial). See the Wiki notes here: https://github.com/NREL/OpenStudio/wiki/Configuring-OpenStudio-Build-Environments#linux

Like Tim suggested, you can downgrade your docker image to

[2019-08-28 09:01] #3612 closed

[2019-08-28 09:04] jmarrec commented on #3612
Ah yes, another alternative is to checkout the `develop3` branch which targets Ubuntu Bionic and will become our OpenStudio 3.0 pre release in a few months. **Use at your own risks though**. Build instructions are at https://github.com/NREL/OpenStudio/wiki/Configuring-OpenStudio-Build-Environments---New