[2015-02-05 16:17] macumber commented on #1393
I updated PAT and OS App a while ago to display clickable links in runner messages, so that is an option.  I also like the idea of any measure dropping html files that can be viewed in the app or server

[2015-02-05 16:18] macumber commented on #1391
I know that @ljbrackney is aware of this and that it is on his radar.  Removing low frequency and replacing with High Demand

[2015-02-05 16:19] macumber commented on #1391
We want a system that will work for us as well as regular users.  Potentially something built into BCL that runs when users submit measures would be ideal

[2015-02-05 16:24] kbenne opened #1402 "Expose VRF Condenser node"
Allow selection of VRF Condenser node, by choosing from available zone nodes / zones.

[2015-02-05 16:34] kbenne opened #1403 "Add a HVAC Schedule Set that will include thermostats"

[2015-02-05 16:38] DavidGoldwasser commented on #1171
Sorry, for some reason file didn't make it into repo. I just forward it the file and user email to both of you. You can check it it in current build and close if it isn't an issue anymore.

[2015-02-05 16:47] asparke2 commented on #1398
@DavidGoldwasser I don't need it for the reference buildings.  However, we would need it for creating code baseline models at some point.

[2015-02-05 16:48] asparke2 commented on #1400
Unit heaters are already done.

[2015-02-05 17:00] nfonner opened #1404 "Results screen - reporting error - 1.6.0"
Results page (results tab) monthly reporting has a problem with erratic values under certain conditions. There is no correlation with equipment, season and or logic.
![erratic results summary 1 6 0](https://cloud.githubusercontent.com/assets/8645649/6064787/f2909d26-ad25-11e4-8092-e1493503b7e1.png)

However, the EnergyPlus Results and the sql file in the Results Viewer both had working (correct) d

[2015-02-05 17:01] kbenne opened #1405 "3rd-party friendly build system and software refactor"
Kyle should develop design doc comments that begins to address Dan's points below.  Intent is to document process and software changes in sufficient detail that Jason, Alex, or another performer could begin executing a refactor under guidance from Kyle, Dan, et. al.

We need to have a design document that describes how the OpenStudio GUIs, libraries, and dependencies are deployed on each platform.

[2015-02-05 17:04] kbenne opened #1406 "AirLoop::Clone"
AirLoop::clone needs to follow connections in the supply and demand side and clone those objects foud there and then attach them to the newly cloned AirLoop

[2015-02-05 17:05] #1400 closed

[2015-02-05 17:08] kbenne opened #1407 "Make unitary equipment "thick-walled""
This really means figure out a good way to enable the system graph search routines dig into compound objects like unitary systems and terminals.  Need to make "inside" connections and hook those up to the outside boundary of the compound object.  This will enable things like make AirLoopHVAC::supplyFan be  aware of supply fans inside of unitary equipment.

[2015-02-05 17:08] macumber commented on #1405
Excellent ticket, I'd give this my vote.  Related to https://github.com/NREL/OpenStudio/issues/1383

[2015-02-05 17:10] kbenne commented on #1405
I believe you wrote most of that @macumber!

[2015-02-05 17:14] macumber opened #1408 "Standard and calibration reports do not show all non-zero fuel types."

[2015-02-05 17:15] macumber opened #1409 "Too much padding in grid view, especially vertical padding."
The more spreadsheet-like the better.

[2015-02-05 17:16] macumber opened #1410 "StdError and StdOut not working correctly in apply measures now"
This feature isn't showing the stderr messages. I routinely still hit the "ruby failed with exit code of 1" message, and then when I click "Advanced Output" I only see stdout messages, not stderr messages, forcing me to go into the temp directory to find the actual stderr file.

https://github.com/NREL/OpenStudio/commit/b4fe664443beb03757da167253abce6b4a2ce039

Run the Measure a second time withou

[2015-02-05 17:19] macumber opened #1411 "IG should not add a NULL choice to the lights definition combo box."
If choice field is required, empty option should not be added to the combo box

[2015-02-05 17:19] macumber opened #1412 "Changing a Space Type definition's load in IG does not update in gridview"

[2015-02-05 17:21] macumber opened #1413 "Unparented widget flash on selected in grid view"

[2015-02-05 17:23] macumber commented on #1405
Hehe, glad I still agree with myself :-)

[2015-02-05 17:28] kbenne opened #1414 "Add support for per door ref. properties in GUI"
Backend support has been added, but we need to add columns in the case table view for per door properties.

[2015-02-05 17:30] kbenne opened #1415 "Doc Simulation Settings"

[2015-02-05 17:32] macumber commented on #1415
@kbenne are you going to transfer all the documentation request tickets from the Pivotal backlog to here?  What did you have in mind for documenting this item?  A tutorial or something else on the http://nrel.github.io/OpenStudio-user-documentation/ page?

[2015-02-05 17:38] kbenne commented on #1415
Well this was a request from @asparke2  hanging out in my Pivotal list.  Yes I was thinking a page there.  Do you not want carry over doc requests in here?  This is the only one of these I have right now.

[2015-02-05 17:47] asparke2 commented on #1415
@macumber I will move the rest of the documentation pivotal tasks over here.

[2015-02-05 17:48] macumber commented on #1415
No I think it is good to move them, I just figured @asparke2 was going to do it.  We need to get these documentation features done, putting them in github should allow us to sprinkle a few into each release.

[2015-02-05 17:49] macumber opened #1416 "Update Model mainpage.hpp"
This is way out of of date and confusing to people trying to use the SDK docs

https://s3.amazonaws.com/openstudio-sdk-documentation/cpp/OpenStudio-1.6.0-doc/model/html/index.html

[2015-02-05 18:25] kbenne opened #1417 "Add -werror on Mac and Linux"
I think we need some code cleanup before this is possible.

[2015-02-05 18:40] evanweaver commented on #1405
Were's the "like" button?

[2015-02-05 18:42] kbenne commented on #1405
@evanweaver  That actually seems like a simple and useful feature request in this case.

[2015-02-05 18:43] #1171 closed

[2015-02-05 18:45] evanweaver commented on #1405
@kbenne I was liking the discussion thread, not the bug :)

[2015-02-05 18:45] mbadams5 commented on #1405
@evanweaver could use emoji...

:+1: :shipit:

[2015-02-05 18:50] evanweaver commented on #1405
@kbenne I like the feature request too, and @mbadams5 :beer:  :+1:

[2015-02-05 20:12] asparke2 opened #1419 "Publish Radiance BSDFs to BCL"

[2015-02-05 20:13] asparke2 opened #1420 "bcl"

[2015-02-05 20:13] #1420 closed

[2015-02-05 20:14] asparke2 opened #1421 "Allow access to private BCL content"

[2015-02-05 20:15] asparke2 opened #1422 "Document Thermal Zones and Zone Equipment"

[2015-02-05 20:16] asparke2 opened #1423 "Document Airloops"

[2015-02-05 20:16] asparke2 opened #1424 "Document Plantloops"

[2015-02-05 20:16] asparke2 opened #1425 "Document VRF"

[2015-02-05 20:16] asparke2 opened #1426 "Document Refrigeration"

[2015-02-05 20:17] asparke2 opened #1427 "Document Utility Rates"

[2015-02-05 20:17] asparke2 opened #1428 "Document EnergyPlus Troubleshooting"

[2015-02-05 20:18] asparke2 opened #1429 "Document Timeseries Results"

[2015-02-05 20:18] asparke2 opened #1430 "Document General Modeling QAQC"

[2015-02-05 20:19] asparke2 opened #1431 "Provide Example Models with Installer"

[2015-02-05 20:20] asparke2 opened #1432 "Create Measures for 90.1 Appendix G System Types"

[2015-02-05 20:21] asparke2 opened #1433 "Add 90.1-2013 to OpenStudio Standards Spreadsheet"

[2015-02-05 20:23] asparke2 opened #1434 "Utility Rates GUI"

[2015-02-05 20:26] asparke2 opened #1435 "Document Run and Results Tabs"

[2015-02-05 20:27] asparke2 opened #1436 "Document Schedules"

[2015-02-05 20:30] asparke2 opened #1437 "Update BCL Measure Schema"

[2015-02-05 20:46] asparke2 commented on #984
Cannot reproduce in 1.6.0 SketchUp 2015

[2015-02-05 20:46] #984 closed

[2015-02-05 20:48] asparke2 commented on #982
Closing since we are now using Ruby 2.0.0 exclusively

[2015-02-05 20:48] #982 closed

[2015-02-05 20:52] asparke2 commented on #979
Closing this because we are not adding new features to reverse translator for the foreseeable future.

[2015-02-05 20:57] asparke2 commented on #453
@axelstudios I believe this one can be closed, can you confirm that it is no longer relevant?

[2015-02-05 21:44] #847 closed

[2015-02-05 22:00] axelstudios commented on #453
Closing, since we now only support Boost 1.55

[2015-02-05 22:00] #453 closed

[2015-02-05 22:06] asparke2 commented on #7
Merged pull request that fixed this

[2015-02-05 22:06] #7 closed

[2015-02-05 22:54] macumber commented on #739
@axelstudios I can't reproduce, can you verify this?

[2015-02-05 22:55] macumber commented on #734
Duplicate of https://github.com/NREL/OpenStudio/issues/72

[2015-02-05 22:55] #734 closed

[2015-02-05 22:58] macumber commented on #484
@DavidGoldwasser should we close this as won't fix?

[2015-02-05 22:59] kbenne commented on #1380
I'm working on this now.  Another workaround I discovered while troubleshooting is to use the remove button "X" on the component itself.  If you do that while viewing the air system the water coil will be removed from the air side, but remain on the water side.  Conversely if you click on the remove button while viewing the component from the plant side, it will be removed from the plant, but rema

[2015-02-05 23:02] macumber commented on #428
@DavidGoldwasser can we close this as won't fix?

[2015-02-05 23:04] macumber commented on #376
@DavidGoldwasser can we close this as won't fix?

[2015-02-05 23:05] axelstudios commented on #739
Closing, looks like this was fixed in a previous Qt release

[2015-02-05 23:05] #739 closed

[2015-02-05 23:34] MatthewSteen commented on #1432
Would be nice to have these create the baseline model from the proposed by removing the HVAC systems.

[2015-02-06 02:52] macumber commented on #315
@rpg777 we saw this today

[2015-02-06 02:53] macumber opened #1438 "Too many copies of radout.sql"
The radout.sql file is copied twice for every OpenStudio run, which leads to some serious directory bloat. I believe the file was copied once so that folks could find it easier, but I dunno why it's copied the other time. A small (one space) model can easily generate a 150MB radout.sql file, and when we make a couple of copies, this gets nutso.

[2015-02-06 02:54] macumber opened #1439 "AWS.rb script should put logs in project dir"
Make separate files for launch server and workers

Can change directory by launching QProcess in project dir, can change file name inside script

[2015-02-06 02:56] macumber opened #1440 "Integrate openstudio-aws-gem into openstudio"
Current version is here: https://github.com/NREL/OpenStudio-aws-gem .

The methods listed in the tasks need to be implemented in the openstudio_aws_wrapper.rb https://github.com/NREL/OpenStudio-aws-gem/blob/master/lib/openstudio/lib/openstudio_aws_wrapper.rb

[2015-02-06 03:01] macumber opened #1441 "Ship Radiance with OpenStudio"

[2015-02-06 03:10] macumber opened #1442 "Implement parallel QuickSim for OpenStudio application"

[2015-02-06 03:12] macumber commented on #1442
http://www.pnl.gov/main/publications/external/technical_reports/PNNL-19961.pdf

[2015-02-06 03:12] macumber commented on #1442
Might also want to consider automatically reducing model simulation fidelity parameters

[2015-02-06 03:14] macumber opened #1443 "Add ComponentCost widgets to OS App"
Constructions, building, etc.  Start the pattern then can be extended.  Also need a main widget for setting global life cycle cost parameters

[2015-02-06 03:15] macumber opened #1444 "Easily set weather file in PAT"
Could be implemented as a measure

[2015-02-06 03:15] macumber opened #1445 "Add schedule type limits to schedules in HVAC libraries"
Purpose is to keep other things from stealing HVAC schedules

[2015-02-06 03:16] macumber opened #1446 "Update OS App run tab to look like PAT's"

[2015-02-06 03:18] macumber opened #1447 "Support all fields needed for thermal comfort studies"

[2015-02-06 03:20] macumber opened #1448 "Limit Measure and Component search results to those matching current OS version"
Need this in the local and remote BCL searches, relates to:

https://github.com/NREL/bcl/issues/15

[2015-02-06 03:21] macumber opened #1449 "Show source for all inherited values"
Needs mockups

[2015-02-06 03:23] macumber opened #1450 "Create OSM to OSM diff report measure"

[2015-02-06 03:25] macumber opened #1451 "Improve performance of ScheduleRuleset translation"
Forward translating the example model still spends a good chunk of time in schedule translation, specifically ScheduleRuleset_Impl::getDaySchedules and ScheduleRuleset_Impl::getActiveRuleIndices.

[2015-02-06 03:26] macumber commented on #1427
Do this after https://github.com/NREL/OpenStudio/issues/1434

[2015-02-06 03:26] macumber commented on #1434
Incorporate OpenEI rates in utility tab. Also provide instructions and code snippet for IDF rates substitution.

[2015-02-06 03:28] macumber opened #1452 "Deprecate attributes from Model"
Requires replacing all GUI components built on attributes

[2015-02-06 03:34] macumber opened #1453 "Show text or something for non-Schedule:Ruleset objects on Schedules tab"

[2015-02-06 03:41] macumber opened #1454 "Allow rearranging material layers in construction GUI"

[2015-02-06 03:51] macumber opened #1455 "Add check for update to all applications"

[2015-02-06 07:33] DavidGoldwasser commented on #376
Yes, we can close this, there is a more current one that had issues with OpenStudio based intersect in another issue. I may keep this model in mind for testing OpenStudio's native intersect.

[2015-02-06 07:33] #376 closed

[2015-02-06 07:36] DavidGoldwasser commented on #428
I can't find the file. I'll close it but re-open if I see it again. May just be issue with user script code vs. core plugin.

[2015-02-06 07:36] #428 closed

[2015-02-06 14:55] #645 closed

[2015-02-06 16:20] #484 closed

[2015-02-06 16:21] DavidGoldwasser commented on #1450
@macumber you already made this, unless you had enhancements you wanted to add to it.

[2015-02-06 16:26] DavidGoldwasser commented on #628
@macumber I assume this should be a feature. I have an idea how it could work.

First, the issue with using a string argument like I use now.
- You don't have a nice browse window (minor)
- You can't run on cloud or transfer your project to someone else (major)

Instead of re-inventing the wheel, I thought we could mimic how the weather file is brought into the project files. If you keep changing

[2015-02-06 17:16] macumber commented on #628
Yeah I think this is a pretty important one

[2015-02-08 05:16] macumber commented on #1303
I think we need to fix this bug https://github.com/NREL/OpenStudio/issues/1348

But this feature request is asking for all kinds of problems, I am not in support of it

[2015-02-09 15:41] macumber commented on #50
For the record, the reason we do not just simply wrap this object or create it on translation is the additional problems of tracking external file references.  I think the safest thing to do would be for the ForwardTranslator to write out a CSV file in the directory which that job runs in then set and absolute path to it in the IDF.  Since we have removed the use case of jobs within a single workf

[2015-02-10 05:39] macumber opened #1458 "Ruby bindings to EpwFile are not very useful"

[2015-02-10 05:40] macumber commented on #1458
Reported by @stephen-frank and @henryHorsey the Ruby bindings to the EpwFile class are not very useful, I think mostly due to needing to import more of the other utilities sub projects (such as data and time)

[2015-02-10 05:40] macumber commented on #1458
require 'openstudio'

epw = OpenStudio::EpwFile::load('C:\EnergyPlusV8-2-0\WeatherData\USA_CO_Golden-NREL.724666_TMY3.epw').get
puts epw

startDate = epw.startDate.public_methods
puts startDate.is_a? OpenStudio::Date
puts OpenStudio::Date.new.is_a? OpenStudio::Date

# This would work but we need to export std::vector<EpwDataPoint>
#data = epw.data
#data.each do |d|
#  puts "#{d.date}, #{d.time}"
#

[2015-02-10 05:43] macumber commented on #1458
We need to add a ruby test that uses all this functionality

[2015-02-10 14:56] macumber commented on #50
Just to be clear I think we should start off by writing Schedule:File only, we don't need to wrap the object in OS (that would require all the file tracking nonsense).  If we want to do reverse translation we could import schedules from Schedule:File to OS:ScheduleFixedInterval

[2015-02-10 14:56] macumber commented on #1458
While we are at it I recommend removing the setters from EpwDataPoint, if you need to make these you can set then in the ctor.  @jasondegraw we probably already discussed this, do you remember the reason to keep these public?

[2015-02-10 15:05] eringold opened #1459 "LowTemperatureRadiant system input 'Radiant Surface Type' translates unexpected surfaces to SurfaceGroup"
Tested in OpenStudio 1.6.0 Window x64, for Variable Flow, Constant Flow, and Electric Low Temperature Radiant Systems:
1. Create space and apply internal source construction to all surfaces, create and assign thermal zone to space.
2. Apply LowTemperatureRadiant:VarFlow/ConstFlow/Electric, change 'Radiant Surface Type' in edit pane.
3. Run, examine 'in.idf' from \5-EnergyPlus-0.

Results:
- If Rad

[2015-02-10 21:00] MatthewSteen opened #1460 "Inherited Default Construction and Schedule Sets Not Displayed in Facility Tab"
If there's a default construction or schedule set assigned at the building level it doesn't show up as an inherited attribute with green text at the space type level.

![openstudio_issue1460-1](https://cloud.githubusercontent.com/assets/8397034/6136359/523b2182-b12d-11e4-9b02-cd3c66cf5a15.png)

![openstudio_issue1460-2](https://cloud.githubusercontent.com/assets/8397034/6136360/55588fd0-b12d-11e4-

[2015-02-10 22:11] asparke2 opened #1461 "Sql.annualTotalUtilityCost and .annualTotalCost methods incorrect when dist htg or dist clg"
The [sql.annualTotalUtilityCost method](https://github.com/NREL/OpenStudio/blob/0d1320b512a04a867f2a5614316ef44ac6725f47/openstudiocore/src/utilities/sql/SqlFile_Impl.cpp#L1060) works by calling [sql.annualTotalCost](https://github.com/NREL/OpenStudio/blob/0d1320b512a04a867f2a5614316ef44ac6725f47/openstudiocore/src/utilities/sql/SqlFile_Impl.cpp#L1008) with each of the different fuels and adding u

[2015-02-10 23:13] asparke2 commented on #1461
This affects the PAT results tab.

[2015-02-11 21:58] #1380 closed

[2015-02-12 00:39] MatthewSteen opened #1462 "SizingPlant Units and Conversion Appear Incorrect"
@kbenne - the `Loop Design Temperature Difference` field is labeled  as "K" but should be "C" according to the EP documentation. The unit conversion also appears to be incorrect...

**Code:**

    hot_water_plant.setName("Plant Loop HHW")
    sizing_plant = hot_water_plant.sizingPlant
    sizing_plant.setLoopType("Heating")
    sizing_plant.setDesignLoopExitTemperature(OpenStudio.convert(180,"F","

[2015-02-12 02:57] kbenne commented on #1462
@MatthewSteen this field as a delta T so wouldn't Rankine and Kelvin be appropriate scales?  And in the example code don't you want to convert from Delta F to Delta C which would be equivalent to converting from R to K?  i.e. OpenStudio.convert(32,"R","K").get which is 32 * 5/ 9 ~= 17.8.

[2015-02-12 19:58] macumber opened #1464 "Need to deprecate find_energyplus.rb"
With OpenStudio shipping a version of EnergyPlus this should be removed

We should also add a method like energyPlusInstallDir() to ApplicationPathHelpers

[2015-02-13 15:45] asparke2 opened #1465 "Can't remove some SPMs via GUI because icons don't show"
When you have the following SPMs on certain nodes, you can't remove them via the GUI because the icons don't show up:

On any node:
- SetpointManager:MultiZone:Humidity:Minimum
- SetpointManager:MultiZone:MinimumHumidity:Average

On the OA inlet node of the OA system:
- Every SPM type (yes, I know it makes no sense to put these there in the first place, but if you mistakenly drop one you should be

[2015-02-13 17:36] macumber opened #1466 "Allow load library to load an IDF"
Would translate to OSM and use as the library model

[2015-02-13 19:29] DavidGoldwasser commented on #1444
@macumber we have a measure like this in coffee. It of course has the possible weather files in resources folder vs. having the user browse for it. I have a feature request in to allow path arguments in measures that support cloud runs (when you set the argument the file needs to be brought into the project.

[2015-02-13 19:32] DavidGoldwasser opened #1467 "In 1.6.0 Measures from OSM file don't come in to PAT project when loaded as seed"
In the past they came in as always run measures. User reported that in 1.6.0 the don't come in at all.

[2015-02-13 21:42] kbenne commented on #1462
Hey @MatthewSteen what do you think, am I off base here or can I close this with no action?

[2015-02-13 21:51] MatthewSteen commented on #1462
@kbenne it did work for me with the conversion set to R and K. I had tried other combinations such as R to C expecting that OS wanted R and EP wanted C like in the IO Ref which gave strange results. Case closed.

[2015-02-13 21:51] #1462 closed

[2015-02-13 21:53] kbenne commented on #1462
@MatthewSteen I would say the IO Ref is just a little imprecise.  They really mean delta C.  Thanks for following up.

[2015-02-13 22:05] asparke2 opened #1468 "Change peak flow rate in water use equipment definitions from cfm to gal/min"
![image](https://cloud.githubusercontent.com/assets/2009290/6196052/b29caa3a-b391-11e4-9619-ec7410115f55.png)

[2015-02-13 23:29] macumber opened #1469 "ScheduleEditor issues"
These are issues not addressed by https://github.com/NREL/OpenStudio/pull/1463

When purging multiple schedules, the schedule editor may show an empty page, it should find the next non-removed schedule

When you first go to the schedules tab, the default profile page shows for the first schedule, but the line isn't plotted. This only happens when you open the model, and before you've clicked on an

[2015-02-16 18:11] mattdoiron commented on #1398
This feature would be very useful for the work we do at our company - we do a lot of compliance-type modelling. I would love to take a look at the sample linked to in the original comment, but the link appears to be broken.

[2015-02-17 06:36] mostaphaRoudsari commented on #1019
Ah! Does it mean that OpenStudio is not intended to support idf import anymore? I think it will make it really hard for many of the users to change to OpenStudio from EP specially for advanced EP users who already have they workflows built in EP. :disappointed:

[2015-02-17 18:18] macumber commented on #1019
@mostaphaRoudsari we aren't planning on deprecating any of the IDF->OSM translation that we already have, we are just not expanding the scope to include translation of more things (specifically HVAC).

This one strikes me as something we should be translating but are just not doing correctly.  I would consider re-opening, @asparke2 what do you think?

[2015-02-17 18:51] macumber opened #1471 "SQL files containing illuminance maps are very large"
The schema of our illuminance map data matches that in E+, this allows ResultsViewer to open datasets from E+ or radiance runs. However, these SQL files are very large.  Possible that database structure could be improved in E+ and matched in OS.

[2015-02-17 18:52] macumber commented on #1471
Currently daylightmaphourlyreports has a separate time index for each map, can we reuse the time table for report variables?

[2015-02-17 18:53] macumber commented on #1471
daylightmaphourlydata has x and y point for each illuminance map point, possible that this could be reduced

[2015-02-17 18:57] macumber commented on #1471
@mbadams5 have you taken a look at these tables?

[2015-02-17 19:28] macumber commented on #1471
Would be best to store all the illuminance map values for each map as an array inside a single cell for each timestep, This would cut down size by a factor of 4 at least.

http://www.experts-exchange.com/Database/Miscellaneous/Q_27114435.html

[2015-02-17 19:36] mbadams5 commented on #1471
@macumber I'd be curious about the size difference between 8.2.0 and current develop. I removed an index on DaylightMapHourlyData which should dramatically reduce the database file size.

[2015-02-17 21:04] MatthewSteen opened #1472 "SimulationControl choices not translating to E+"
Looks like the choices from SimulationControl aren't being translated to E+ correctly (ref: [UnmetHours](https://unmethours.com/question/3054/disable-zoneplantsystem-sizing/)).

![openstudio_issue1472-1b](https://cloud.githubusercontent.com/assets/8397034/6237638/c01c1100-b6b1-11e4-836d-2dd69e6a9621.png)
![openstudio_issue1472-2b](https://cloud.githubusercontent.com/assets/8397034/6237647/d1826458

[2015-02-17 21:07] kbenne commented on #1472
@MatthewSteen Well there are some overrides in the translator to make sure simulations don't crash.  This is a great example of OpenStudio trying to thread a needle between usability and full EnergyPlus power.  Did we miss the mark?

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateSimulationControl.cpp#L59

[2015-02-17 21:11] kbenne commented on #1472
@MatthewSteen maybe I should be more explicit. If you said no to zone sizing (and there are zones and design days) your simulation would fail anyway.  It has been a while since I have been in these dark corners, but I'm pretty sure it has to do with how we define ventilation.  Maybe other things too.

[2015-02-17 21:21] kbenne commented on #1472
OK.  I reviewed the Unmet Hours post.  I see LSurf points has a valid scenario where zone sizing could be off and OpenStudio is not allowing it.  Seems like a valid complaint.  Maybe that override logic should just go away.  OS default zone sizing on, allow it to be turned off manually and respect that choice potential E+ failure or not.

[2015-02-17 21:35] MatthewSteen commented on #1468
@asparke2 this came up today in one of our projects, do you happen to know if OS is correctly converting/translating this value to EP?

[2015-02-17 21:36] asparke2 commented on #1468
@MatthewSteen yeah, OS is correctly changing from cfm to m^3/s.  You can also see the conversion by toggling IP to SI units.

[2015-02-17 21:53] #1413 closed

[2015-02-17 21:55] kbenne commented on #1413
w00t

[2015-02-17 22:00] evanweaver commented on #1413
you know it

[2015-02-17 22:13] macumber commented on #486
Fixed in https://github.com/NREL/OpenStudio/commit/097c82b0eab504cbfd7e37a8888223308e329e52

[2015-02-17 22:47] MatthewSteen commented on #1460
Possibly related to Feature Request #1449 - Show Source for All Inherited Values.

[2015-02-17 23:59] MatthewSteen opened #1473 "Add Import / Load Library Feature for MEP Schedules"
This feature could significantly speed up the workflow for consulting, and to my knowledge is not supported in other software. I mentioned this in a conversation with @asparke2, but I thought I'd get the ball rolling and document it.

My suggestion is to use an Excel-based template that the user could paste a schedule into, reorganize to fit, and then be read by a measure that would add the equipm

[2015-02-18 01:36] macumber commented on #1460
@MatthewSteen #1449 is a feature request to have a mouseover or something show you where the inherited value is coming from (e.g. inherited from building, from space type, etc).  This issue #1460 is just a bug and should stay.

[2015-02-18 16:09] macumber commented on #1398
What are the specific methods that people want?

double BuildingStory::exteriorPerimeter() const
double Space::exteriorPerimeter() const
double Surface::effectiveWidth() const
double Surface::effectiveHeight() const

?

[2015-02-18 17:04] mattdoiron commented on #1398
I can only speak for myself, but for compliance with things like ASHRAE 90.1 there is a need to create F-factor constructions for slab-on-grade surfaces. These require the "exposed perimeter" of a given surface as an input and I _just_ finished doing it manually for 100+ surfaces (in Sketchup plugin)! So I would suggest Surface::exteriorPerimeter() or something similar. The space-level and buildin

[2015-02-18 19:06] macumber commented on #1473
@MatthewSteen what new features are needed in OpenStudio to support this?

[2015-02-18 20:22] macumber opened #1474 "Bad warning message when no weather file attached"
If seed model does not have weather file and version is upgraded, user gets this confusing message from PAT:

The upgrade process was only partially successful. If there are errors, you may also want to check project.log for more information.

[2015-02-18 23:07] MatthewSteen commented on #1473
@macumber I think the main feature would be populating the Thermal Zones and HVAC Systems tab Libraries with project-specific equipment that could be dragged/dropped in to a model. This could be done through File > Load Library as currently available for schedules, constructions, loads, and space types.

For example, in a model with ~100 FCUs, these could translated to OSM via Excel/Measure and th

[2015-02-18 23:13] macumber commented on #1473
I believe you can load a custom OSM to get new zone equipment/system components in the library, @kbenne or @asparke2 might know for sure

Measures can currently have resource files (e.g. your Excel file) that they can read from at run time (currently we don't have an Excel reader library available for Measures on Mac, that would be an addition) to get data to make calls to the OpenStudio API (e.g.

[2015-02-19 16:16] kbenne commented on #1378
Duplicate of https://github.com/NREL/OpenStudio/issues/1380 which was fixed here https://github.com/NREL/OpenStudio/commit/875df593050b9976fd9826e628ee042fbe8d5ad7.  If the issue unexpectedly persists then please reopen.

[2015-02-19 18:52] #1372 closed

[2015-02-20 05:02] MatthewSteen opened #1476 "IG Hard Sized / Autosized Behavior"
To reproduce:

1. Add ZoneHVAC equipment to zone
2. Click the blank space in the sizing section leaving the Autosized bullet selected. A ghost cursor will appear in the Hard Sized field
3. Click anywhere in the IG which will add a ghost 0 or 2.2204460492503e-16 value to the Hard Sized field
4. Run the model which should fail because the hard sized ghost values are used even though Autosized is sel

[2015-02-20 14:31] eringold commented on #1473
@MatthewSteen I've had success with measures that use the [CSV] (http://ruby-doc.org/stdlib-1.9.2/libdoc/csv/rdoc/CSV.html) class to read from a formatted spreadsheet of mechanical schedules to create and assign e.g. zone HVAC objects. The ::foreach method is useful for looping through the CSV rows, and takes a string argument of the file path (I believe OpenStudio supports a Path argument, but a

[2015-02-20 14:54] MatthewSteen commented on #1473
Thanks @eringold, do you assign the equipment to the appropriate zone in the measure or have you been able to populate the library with equipment from the MEP schedule to drop into the zone?

Adding project-specific equipment to the`hvac_library.osm` file would be one way to accomplish this, but I think having a separate HVAC library file that's attached to the model would be preferable to alterin

[2015-02-20 15:17] eringold commented on #1473
@MatthewSteen The measure assigns the equipment to the appropriate zone. I haven't considered adding the equipment to a library file. Right now I just have the equipment schedule values mapped to the zone name in the .csv, and the measure loops through the model zones and csv rows, matches the zone name, creates the equipment and assign it to the zone, and sets the equipment parameters from the sp

[2015-02-20 15:22] MatthewSteen commented on #1473
@eringold that's the dream, thanks again for the input.

[2015-02-20 17:17] macumber opened #1477 "URL links in measure description are not clickable"
We are using html formatting so <a href=''>link</a> looks like a link in OS app and PAT but it is not clickable, would be useful for measure writers to link for more information

[2015-02-20 17:19] kbenne commented on #1477
@macumber I think [this](http://qt-project.org/doc/qt-4.8/qlabel.html#openExternalLinks-prop) is the answer.

[2015-02-20 17:30] macumber opened #1478 "Timeseries constructor not available from Ruby"
The constructor TimeSeries(const DateTime& firstReportDateTime, const std::vector<long>& secondsFromFirstReport, const Vector& values, const std::string& units); is not available from Ruby because we do not export the std::vector<long> template:

https://github.com/NREL/OpenStudio/commit/8912ee26129de42bc7c5496a5cfce23fbfe68486

Further, we should not be using the long data type in our public inte

[2015-02-20 17:30] macumber commented on #1478
@asparke2 FYI

[2015-02-20 17:50] macumber opened #1479 "Construct Vector from Ruby array"
We should add a constructor of Vector from Ruby array, it is not convenient to use Vector currently.  Alternatively we could remove Vector from the public interfaces and only use std::vector<double> in public interfaces

[2015-02-20 17:52] macumber commented on #1477
Yeah, probably something like that, I think the fields are actually line edits

[2015-02-20 19:13] macumber commented on #1364
@asparke2 I can't reproduce this on develop, I think this might have been fixed by https://github.com/NREL/OpenStudio/commit/f5e08476527cc0be1adc02f034b8dd9be9911d55

[2015-02-20 22:25] macumber commented on #1346
@asparke2 This allows a model to open if it has a bad-project.osp file in it:

https://github.com/NREL/OpenStudio/commit/747741a7c3e5c56012320ce4e4124e87bb75ac60

However, I don't know how or why you got the bad-project.osp in the first place.  Do either you or @MatthewSteen know what happened to cause that file to appear in the first place?

[2015-02-20 22:35] MatthewSteen commented on #1346
@macumber for me it happens when I open a model created in an earlier version than 1.6.0.

[2015-02-21 00:02] macumber commented on #1346
@MatthewSteen I created a new model in 1.4.0, added measures to it, then opened in 1.6.2.  I did not seen any errors and the bad-project.osp was not created.

[2015-02-21 00:03] macumber commented on #1346
Unless we can figure out how the bad-project.osp 's are being created I think we will have to close this with just the one commit.

[2015-02-21 00:22] macumber commented on #1363
Crash may have been related to #1372

I will do some profiling on the speed, it is pretty slow

[2015-02-23 16:06] macumber commented on #628
Need to make sure these files get uploaded to the cloud too

[2015-02-23 16:24] macumber commented on #1473
@MatthewSteen if there are no changes needed to OpenStudio to support this feature can we close this issue?

[2015-02-23 16:25] macumber opened #1480 "Run Reporting Measures in Apply Measure Now"
If user has already run their model, allowing them to run reporting measures in apply measures now without having to re-run the model would be helpful.  This would be especially useful for the 3D viewer reporting measures.

[2015-02-23 16:40] macumber opened #1481 "Infinite directories for OSM in measure directory"
1) create a measure, 2) create an osm in that measure, 3) open the osm in OS App, 4) add the measure to the osm using the app

[2015-02-23 16:41] macumber commented on #1481
https://unmethours.com/question/3176/openstudio-not-responding-too-long-filename/?answer=3178

[2015-02-23 16:56] DavidGoldwasser opened #1482 "Define New Schedule dialog isn't modeal, can get lost behind app."
If you click the green "+" on the schedule tab to make a new schedule this dialog opens up. If you mistakenly click somewhere else in the APP, the dialog appears to go away (but is really just behind the app). If you click the green "+" again it doesn't function (the window is already open but in the back).

I assume this should just be a modal dialog. If not then re-clicking could bring focus bac

[2015-02-23 18:53] MatthewSteen commented on #1473
@macumber I was waiting to hear from @asparke2 or @kbenne about their thoughts. I realize that additional hvac components (e.g. FanOnOff) can be added to the shared hvac library. However, to my knowledge loading hvac equipment into a model as can be done with schedules, constructions, and loads is not currently supported.

[2015-02-23 19:09] kbenne commented on #1473
Currently OpenStudio will only look for hvac_library.osm and there is no way to coerce it into using a different file of your choosing.  So you're forced to edit that file if you want to make custom libraries.  It is a small task to enhance OpenStudio with a user facing option to select a library osm.

If you want to queue up a feature request along these lines be my guest.  It will probably get p

[2015-02-23 19:15] macumber commented on #1473
@kbenne What about loading HVAC components in the user's library that they load with File->Load Library?

[2015-02-23 19:25] kbenne commented on #1473
@macumber essentially tell OS hey don't look at hvac_library.osm look here instead?  What I'm saying is if @MatthewSteen wants that I'm pretty sure it can be delivered with low effort.  It doesn't solve the more systemic maintenance problem but it is a useful feature.

[2015-02-23 19:33] macumber commented on #1473
@kbenne well it already works for things like constructions, etc.  The user can pick a second OSM to load as their library, I just don't know if HVAC objects in that user library are being merged with the list presented on HVAC tabs.

[2015-02-23 19:35] kbenne commented on #1473
@macumber I see your point.  I'm not sure.  I was assuming it didn't just work, but I guess it is possible thinking about how that is all put together.

[2015-02-23 19:39] MatthewSteen commented on #1473
For my use, being able to load HVAC equipment into a model via the File > Load Library menu would be preferable. We already do this for inputs common to both the baseline and proposed models (e.g. schedules).

Being able to add HVAC equipment for the proposed design with the object fields already completed (e.g. FCU 3-1 serving the 3rd floor corner office) and then simply dropping them into the re

[2015-02-23 19:42] DavidGoldwasser commented on #1398
Matt, sorry about delay re the bad link. It is a private repo. The sample code is here on unmet hours as well
https://unmethours.com/question/3055/f-factor-ground-floor-construction/?answer=3067#post-id-3067

@macumber based on Matt's description it sounds like another like this could be useful
dobule building::exteriorPerimeter() const

It would basically find anywhere in the building (independen

[2015-02-23 19:42] macumber commented on #1473
I think it is just a matter of returning a combined hvac model here'ish:

https://github.com/NREL/OpenStudio/blob/3aaa0984dbc185867261bde6305b141deb118d5e/openstudiocore/src/openstudio_lib/OSDocument.cpp#L1342

Looking at it, I think I see some bugs that need to get fixed though

[2015-02-23 19:45] kbenne commented on #1473
Not giving me warm fuzzies.

https://github.com/NREL/OpenStudio/blob/3aaa0984dbc185867261bde6305b141deb118d5e/openstudiocore/src/openstudio_lib/OSDocument.cpp#L1335

Looking at this code I'd say its pretty clear it doesn't "just work" but I'm testing just to confirm.

[2015-02-23 21:41] macumber opened #1483 "Allow measures to require gems"
Would allow users to specify gems to use in their measures.  Would have to allow users that download the measure to get the gem as well as on upload to the cloud.

[2015-02-23 21:47] macumber commented on #386
I don't get this crash anymore, I do see this dialog which is expected
![2-23-2015 2-46-53 pm](https://cloud.githubusercontent.com/assets/1327850/6338274/e8683086-bb6a-11e4-82f5-3dccda91497d.jpg)

[2015-02-24 02:52] MKSahm commented on #1483
Thank you, this would b every useful

[2015-02-24 15:50] DavidGoldwasser commented on #386
@macumber I'm fine closing it based on your test. That was a pretty stale bug.

[2015-02-24 15:50] #386 closed

[2015-02-24 15:59] MatthewSteen commented on #1454
Maybe overwrite by dropping a new material on top of old layer too.

[2015-02-24 18:04] #1482 closed

[2015-02-24 22:33] macumber commented on #1350
There is a fundamental issue with SketchUp that makes it difficult to get the correct transformations when editing groups:

http://sketchucation.com/forums/viewtopic.php?f=180&t=61105

[2015-02-25 17:58] macumber opened #1485 "Enable build of OpenStudio without QWebKit"
This should be fairly straightforward and would support work on peregrine

[2015-02-25 18:03] kbenne commented on #1485
@macumber yes but build options can get numerous and intertwined.  How about focusing on carving out some big targets.  I keep trying to push three. Utilities, Model, Apps.  QWebKit would fall under Apps.

[2015-02-25 18:10] macumber commented on #1485
Even better, I was just trying to carve down the scope to something that would be feasible to get done quickly.  Here is what I get when building on peregrine:

The WebKit build was disabled for the following reasons:
    * ICU is required. To build QtWebKit with Qt 5 you need to build Qt 5 with libICU support. Check for ICU support being mentioned in qtbase/config.summary.
    * Missing gperf fro

[2015-02-25 19:13] axelstudios commented on #1485
QtWebEngine similarly has a [long list of dependencies](http://qt-project.org/wiki/QtWebEngineHowToTry)

[2015-02-26 17:16] kbenne commented on #746
Opened in 1.6.0 and assigned living zone without incident.  This model was from version 1.1 so I'm going to assume this issue has been resolved under other changes.

![screen shot 2015-02-26 at 11 14 52 am](https://cloud.githubusercontent.com/assets/707488/6397220/e03f50ac-bda8-11e4-87e5-2e418e31ab9f.png)

[2015-02-26 17:16] #746 closed

[2015-02-26 18:22] kbenne commented on #641
@DavidGoldwasser can you send the file again or put it in the openstudio-files repo?

[2015-02-26 18:49] kbenne commented on #641
@DavidGoldwasser don't bother I followed your exact steps and was able to reproduce this.  Weird.  I'm a little surprised this has managed to lurk so long.  Stay tuned for a fix.

[2015-02-26 18:54] kbenne commented on #641
@DavidGoldwasser Oh.  I think I know what it is.  When you remove all zones from an AirLoopHVAC system, the terminal is also removed.  Attached zones with no equipment (the terminal counts as equipment) do not get added to the mechanical ventilation controller.

You might want the terminal to hang around after detaching the last zone, or you might prefer more explicit messaging of the root error,

[2015-02-26 19:49] kbenne commented on #641
Going with [this](https://github.com/NREL/OpenStudio/pull/1488) instead, which adds the untranslated objects, errors and warnings at @macumber's request.

[2015-02-26 20:03] kbenne commented on #1297
@macumber well the model requires the schedule so I think the bug is upstream of the translator.  https://github.com/NREL/OpenStudio/blob/v1.6.0/openstudiocore/src/model/ExteriorLights.hpp#L72

There are two constructors one that requires a schedule and the other that default constructs an always on schedule.  https://github.com/NREL/OpenStudio/blob/v1.6.0/openstudiocore/src/model/ExteriorLights.c

[2015-02-26 20:49] macumber commented on #1297
This line still feels too harsh:
https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateExteriorLights.cpp#L46

If the schedule is missing we could log an error and fail the translation but this shouldn't be a program abort.

[2015-02-26 20:50] macumber commented on #1297
Also this:

https://github.com/NREL/OpenStudio/blob/v1.6.0/openstudiocore/src/model/ExteriorLights.cpp#L234

Should use the model alwaysOnDiscreteSchedule if possible:

https://github.com/NREL/OpenStudio/blob/v1.6.0/openstudiocore/src/model/Model.hpp#L115

[2015-02-26 20:51] macumber commented on #1297
@DavidGoldwasser , @kbenne does have a point.  Do you recall how the object that was causing this crash was being created?  I assume it was a measure, do you have a copy of that?

[2015-02-26 20:53] kbenne commented on #1297
It should use always on discrete.  I assumed this was written before we had that.

I feel like the error is to late in translator.  The model returns Schedule not boost::optional<Schedule> so if you want to do some error processing model seems like the correct location.  You could catch in the translator but if you start up that pattern for everything that the model claims is true where do stop?

[2015-02-26 21:07] macumber commented on #1297
Oh I see, I thought the model returned an optional schedule.  Ok, well then yeah there is nothing to do I guess?

[2015-02-26 21:09] kbenne commented on #1297
Perhaps figure out the origin of the model to see how it got in this condition.

[2015-02-26 21:11] macumber commented on #1297
Well here is one way that we don't defend against now:

schedule = exteriorLights.schedule
schedule.remove

I guess we could reject the remove of the schedule?

[2015-02-27 03:17] macumber commented on #521
Cannot reproduce any more

[2015-02-27 03:17] #521 closed

[2015-02-27 15:57] kbenne commented on #1297
@macumber How would you like to proceed?  One option might be create a schedule in ExteriorLights::schedule if one is missing.  I don't know if that is a great precedent or not.

[2015-02-27 16:36] macumber commented on #1297
@kbenne I'm not 100% sure, let's just chat about it offline for a bit

[2015-02-28 18:14] asparke2 opened #1491 "OS App incorrectly indicates unsaved changes with *"
Sometime the OS App inexplicably shows model.osm\* in the top bar, indicating that you have unsaved changes, even if you haven't made any changes to the model.

This happens:
1.  Whenever you go to the Site tab
   osm changes from:
   `file:files/USA_IL_Chicago-OHare.Intl.AP.725300_TMY3.epw, !- Url`
   to:
   `file:///C:/Users/aparker/Desktop/Testing/GridView MultiEdit/Office with Many HVAC System

[2015-03-02 17:52] macumber opened #1494 "registerValue not working with units"
Reported by @phylroy

 If you use runner.registerValue(''name','some_string_value', 'some_unit' ) the value turns into the some_unit and not the some_string_value.  The work around is to not use the units optional arg...

[2015-03-02 17:55] macumber commented on #1494
I wonder if the correct version of the function is getting called?  There are several overloads:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/ruleset/OSRunner.hpp#L136

[2015-03-02 19:33] macumber opened #1495 "Shading surfaces not imported from gbXML"
This line of code is incorrect for shading surfaces:
https://github.com/NREL/OpenStudio/blame/develop/openstudiocore/src/gbxml/ReverseTranslator.cpp#L446

https://unmethours.com/question/3326/shading-objects-not-importing-via-openstudios-sketchup-plugin/

https://github.com/OpeningDesign/Sports_Complex/blob/55ea57365f7df3ed7f19afde72467e4123eda09b/Models/Proposal%202/gbxml%20test/test.xml#L615

[2015-03-02 23:15] #1495 closed

[2015-03-03 14:05] kbenne opened #1496 "Installer puts 64 bit E+ in 32 bit OS installer."
Probably need to reconfigure the build machine and watch out for this in the future, as there is no programatic catch for this in the cmake finder.  On that note consider adding guards against this in the finder.

https://unmethours.com/question/3110/openstudio-160-unable-to-run-energyplus-82/

[2015-03-03 15:58] rpg777 opened #1497 "epw2wea check fails on Linux"
https://unmethours.com/question/142/radiance-simulations-fail-on-openstudio/

This may be a Radiance package issue and not a toolfinder issue.

[2015-03-03 16:58] macumber commented on #688
@DavidGoldwasser @rpg777 should this be closed?

[2015-03-03 17:06] rpg777 commented on #688
I guess; the initial complaints about this at the top of the issue still apply (confusing and limited feature), but it works and I have a separate ticket to fix the workflow issue related to these controls in the Radiance scripts (which I plan to fix this week and then document).

[2015-03-03 17:11] macumber commented on #368
Tested and closed, used the following code in name, arguments, and run sections:

    require "net/http"
    p = Net::HTTP.get('www.example.com', '/index.html') # => String
    md = /<title>(.*)<\/title>/.match(p)

[2015-03-03 17:11] #368 closed

[2015-03-03 17:18] #688 closed

[2015-03-03 17:27] macumber commented on #498
Tested and works in 1.6.3

[2015-03-03 17:27] #498 closed

[2015-03-03 17:29] macumber commented on #667
Still possible, now generates the "Plugin has stopped working error"

[2015-03-03 17:40] macumber commented on #667
Possible solution is to lock down the field and add a new user script that let's people change group from one type of shading group to another.  @DavidGoldwasser do you have any ideas for the interface?  Maybe "Change Selected Shading Group Type" and the input is type to change to?  I can preserve global location.

[2015-03-03 17:44] macumber commented on #978
@kbenne is this fixed?  Can you close it?

[2015-03-03 17:44] macumber commented on #980
@kbenne is this fixed? Can you close it?

[2015-03-03 17:45] macumber commented on #978
@kbenne nevermind, I accepted the pivotal ticket I will close

[2015-03-03 17:45] #978 closed

[2015-03-03 17:45] macumber commented on #980
@kbenne nevermind, I accepted the pivotal ticket I will close

[2015-03-03 17:45] #980 closed

[2015-03-03 17:49] macumber commented on #1297
@kbenne I believe the resolution for this was to change the ExteriorLights object API to return an optional schedule, use the building's default always on schedule in the ctor for astronomical clock, set the schedule to default always on schedule in E+ translation if not set (because E+ requires this), then document the API change in the change log that @axelstudios is creating.  Is that correct?

[2015-03-03 17:55] #1378 closed

[2015-03-03 17:57] macumber commented on #1357
@asparke2 looks like you accepted in pivotal, can you close here?

[2015-03-03 18:00] #870 closed

[2015-03-03 18:02] macumber commented on #668
@DavidGoldwasser is this still valid?

[2015-03-03 18:04] macumber commented on #599
@kbenne @asparke2 I don't see this in pivotal.  As I said before, this is too general.  If there are any specific objects missing let's add those and close this issue.

[2015-03-03 18:05] macumber commented on #534
@DavidGoldwasser @evanweaver I don't see this in pivotal, is it something we need for 1.7.0?  If invalid let's close it.  If not needed in 1.7.0 let's remove the milestone.

[2015-03-03 18:06] #486 closed

[2015-03-03 18:06] #318 closed

[2015-03-03 18:20] evanweaver commented on #534
@macumber @DavidGoldwasser Using the Construction Sets sub-tab, this appears to be invalid.  As you move off of the dropzone, the "+" turns to a "-"; at this point, the dropzone will not receive a drop signal, which is the expected behavior.

[2015-03-03 18:20] #1296 closed

[2015-03-03 18:59] #1357 closed

[2015-03-04 16:49] muh182 commented on #1479
@macumber, adding this new constructor would be very helpful.  A common example that we need to deal with in our geometry codes is:

[code]

[2015-03-04 23:43] #447 closed

[2015-03-04 23:48] DavidGoldwasser commented on #641
Makes sense, users needs to add the terminal back on their own if they have added, and then deleted a zone from an air loop, and then want to add a new one back.

[2015-03-04 23:48] #641 closed

[2015-03-05 16:46] evanweaver opened #1500 "Extend GridView focus event to true selection pattern"
From Andrew's testing:

Selection:
1.	When you scroll up or down in the grid view, you lose the yellow selected cell.  This makes it impossible to click "Apply to Selected" from a row you have to scroll down to get to.
2.	When you click an object in the grid, the cell turns yellow and that object opens in the inspector.  Then when you then click inside the inspector to edit that object, you lose t

[2015-03-05 16:50] evanweaver opened #1501 "Deleting a thermal zone leaves an orphaned Connection object."

[2015-03-05 19:16] kbenne commented on #1297
yeah that's what I got in my chat log from our conversation.  I just haven't done it yet with distraction on grid styling.

[2015-03-05 20:05] axelstudios commented on #1496
Since both architectures of E+ install to `C:\EnergyPlusV8-2-0`, is there any possibility for using `Program Files` and `Program Files (x86)` as the default locations?

[2015-03-05 20:32] kbenne commented on #1496
oh yuck.  There isn't a good way to determine architecture in the finder is there?  EnergyPlus has a long history of C:\ I believe I tried to move to Program Files once in the past and met resistance.  I think the near term solution is to just make sure the build machines are configured with the right flavor and then for E+ release maybe I should add a ticket to provide some kind of signal for whi

[2015-03-05 20:36] axelstudios commented on #1496
Those cli arguments aren't in 8.2.0, right?  Maybe just a `energyplus --arch` so that it's machine parsable

[2015-03-05 20:38] kbenne commented on #1496
They are not, but will be in the coming 8.3.0.

[2015-03-05 20:53] macumber commented on #1496
Program Files would likely be a non starter, agree with the command line interface (see ruby's it tells you arch) and maybe a file too

[2015-03-05 22:02] alnjxn opened #1502 "modelToGbxml method produces incomplete gbXML file (C#)"
I am working with a well formed OpenStudio model. This model produces no errors in the OpenStudio GUI and can be run w/o issue. Exporting to gbXML via the GUI produces a complete gbXML file. Exporting the same model programmatically through the C# libraries produces an incomplete XML file. The XML shows only Zones where as the GUI version has Spaces, Zones, Surfaces, etc.

Openstudio Version: v1.6

[2015-03-06 01:26] macumber commented on #1502
@alnjxn that is very strange, I can't think of any reason that would be.  Is there anyway you could send me a link to your program that you are using to do this?  I should be able to load debug version of OpenStudio binaries and take a look.

[2015-03-06 01:30] macumber commented on #1502
Also, any chance you could send me the OSM?

[2015-03-06 16:19] alnjxn commented on #1502
Here is a link the the OSM file.
http://cl.ly/1n3N3s1Z0421/TestModel.osm

I would love to send you the entire application but it has dependencies on Autodesk Revit and Dynamo applications. Not sure how helpful it would be, but let me know.

[2015-03-06 16:23] MatthewSteen opened #1504 "Add End Use Subcategory Fields"
The End Use Subcategory fields are missing from the following loads. This would be a nice feature to submeter certain process loads (e.g. elevators, kitchens, etc.).

* ElectricEquipment
* GasEquipment
* SteamEquipment

[2015-03-06 16:52] macumber commented on #1502
@alnjxn thanks, is it possible to run with just Dynamo?  When looking at issues in Ladybug I can use a demo version of Rhino (nice that it does not expire) and Grasshopper is free.

[2015-03-06 16:54] macumber commented on #1504
@MatthewSteen Maybe you are looking at the definition objects, these fields are available on the instances:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/ElectricEquipment.hpp#L88

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/GasEquipment.hpp#L87

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/SteamEquipment.hpp#L87

[2015-03-06 16:55] macumber commented on #1502
@alnjxn is it possible to get the Vasari demo version to use with dynamo?

[2015-03-06 16:55] macumber commented on #1502
(I'm also curious to check out your work ;-)

[2015-03-06 17:31] alnjxn commented on #1502
@macumber Because the creation of the OSM model is dependent on Revit Levels and Rooms existing I don't think Vasari will work because it does not contain a room object. See below on how we build the OpenStudio Spaces, Building Stories, Thermal Zones etc. Maybe we can have a GoTo?

![2015-03-06 at 12 30 pm](https://cloud.githubusercontent.com/assets/1423708/6530174/a0ed657e-c3fc-11e4-9e73-de6ecfec

[2015-03-06 19:02] macumber commented on #1502
@alnjxn would it be possible for you to create a small standalone command line C# app that reproduces the issue?

[2015-03-06 19:03] macumber commented on #1504
I think we can close this as invalid

[2015-03-06 19:03] #1504 closed

[2015-03-06 19:11] macumber commented on #1502
Hey Alan, can you make sure to instantiate a Facility object in your model?  This line of code might not write out the campus if you don't have one:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/gbxml/ForwardTranslator.cpp#L150

[2015-03-06 19:16] MatthewSteen commented on #1504
@macumber I was looking at the definitions. Where can this be specified in the GUI for these objects? I didn't see it in the Loads, Space Types, or Facility tabs. Thanks.

[2015-03-06 19:20] YixingChen commented on #974
Is this problem solved?

[2015-03-06 19:54] macumber commented on #1504
Currently this is only available to edit in the SketchUp plugin's inspector, you can view it if you drill all the way down to the load instances in the app

[2015-03-06 19:55] macumber commented on #974
@YixingChen no, the only solution currently is to explicitly set the construction for each adiabatic surface.

[2015-03-06 20:05] MatthewSteen commented on #1504
Ok, I see it now under the Load Name in Space Types tab. Assuming this field will be unlocked in a post 1.6.0 release.

[2015-03-06 22:08] alnjxn commented on #1502
@macumber Ahhhhh. You win.

[code]

[2015-03-06 22:08] #1502 closed

[2015-03-06 22:09] #1350 closed

[2015-03-06 22:29] #1485 closed

[2015-03-06 22:44] macumber commented on #979
I am going to re-open this one, we should be supporting loads including exterior lights

[2015-03-09 16:42] rpg777 commented on #485
Fixed.
https://github.com/NREL/OpenStudio/commit/4d9d2d3297010bda087b64cefcb36da0986d8c48

[2015-03-09 16:42] #485 closed

[2015-03-09 16:45] rpg777 commented on #244
This behavior is better captured in other issues, most of which have been fixed, and the remaining cases are better documented in other issues.

[2015-03-09 16:45] #244 closed

[2015-03-09 16:46] kbenne opened #1506 "GridView column headings are sometimes clipped"
Recent GridView layout improvements caused a regression in grid header labels causing multiline labels to sometimes be clipped.

[2015-03-09 16:47] #623 closed

[2015-03-09 16:50] rpg777 opened #1507 "Unused resource objects not purged from input models to RadianceForwardTranslator"
All unused shading controls must be purged before converting the osm to Radiance or the DaylightSim routine will run 3-phase when it should be running 1-phase.
Pivotal: 89812206

[2015-03-09 17:27] #1506 closed

[2015-03-09 17:54] mleach-noresco commented on #1398
I ran into the same situation as mattdoiron.  surface.exteriorPerimeter would be ideal.

[2015-03-09 18:39] kbenne opened #1509 "ZoneHVACComponent::clone"
clone leaves a reference to a connection related to the original ZoneHVACComponent object.  These references are invalid for the clone and leaving them in place can damage the original object's connections.

[2015-03-09 21:10] macumber opened #1511 "Two EnergyPlus Results show up in results tab during radiance runs"
We appear to be finding the EnergyPlus html from the gen_eplus run, we should explicitly delete this

[2015-03-09 21:47] macumber commented on #1511
@rpg777 FYI

[2015-03-09 21:52] macumber commented on #1507
https://github.com/NREL/OpenStudio/commit/cf8dc10453b01934f97cba7143d6779db1d9a638

[2015-03-10 15:11] #477 closed

[2015-03-10 15:12] #379 closed

[2015-03-10 15:12] #196 closed

[2015-03-10 15:21] #534 closed

[2015-03-10 15:25] evanweaver commented on #387
Fixed via Pivotal 90020870

[2015-03-10 15:25] #387 closed

[2015-03-10 15:41] evanweaver commented on #304
@DavidGoldwasser your original attachment is not available, so I am unable to compare it to PAT's current state.  Please verify that you still have the above concerns.  If you still have a desire for some GUI changes, we need to have @marj-schott review and approve them, prior to me working on them.

[2015-03-10 15:41] macumber commented on #397
@evanweaver did you test this out and make sure the changes are being written to the OSM?  If you can test that out and it works, then go ahead and close the bug.

[2015-03-10 15:44] #312 closed

[2015-03-10 15:45] evanweaver commented on #257
@DavidGoldwasser your original attachment is not available, so I am unable to compare it to the App's current state. Please verify that you still have the above concerns. If you still have a desire for some GUI changes, we need to have @marj-schott review and approve them, prior to me working on them.

[2015-03-10 15:53] macumber commented on #170
Current app SI units are 'L/s*W', EnergyPlus IDD has 'm3/s-W' for SI (it is possibly confusing that SI units differ from the input file units)

Current app IP units are 'ft^3*hr/min*Btu', EnergyPlus IDD has 'cfm/met/person' for IP

I'd say this is still valid, ask Danny Studer or @asparke2 for correct units

[2015-03-10 15:56] evanweaver commented on #235
@DavidGoldwasser your original attachment is not available, so I am unable to compare it to the GUI's current state. Please verify that you still have the above concerns. If you still have a desire for some GUI changes, we need to have @marj-schott review and approve them, prior to me working on them.

[2015-03-10 15:56] macumber commented on #229
Space load instance multipliers are fractional, https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/SpaceLoadInstance.hpp#L53, so the original bug report was invalid (at least in context of space load multiplier)

However, the multiplier has a minimum of 0.  I noticed that I can enter in a negative number in the multiplier field in grid view.  Number appears to stick but gets

[2015-03-10 15:58] macumber commented on #229
@evanweaver not sure if you want to open a new issue for the negative multipliers in gridview. If you open a new issue I think you can close this one.

[2015-03-10 16:02] macumber commented on #335
Appears to be fixed

[2015-03-10 16:02] #335 closed

[2015-03-10 16:04] evanweaver commented on #229
@macumber I've been considering a more holistic fix, and also thinking about how this bug fits with https://github.com/NREL/OpenStudio/issues/656.  I think that extending the OSConcepts to expose base Qt widget validator functionality of min, max, and range would be good starting place for gridview instances.

[2015-03-10 16:05] macumber commented on #363
Yup this is fixed

[2015-03-10 16:05] #363 closed

[2015-03-10 16:08] macumber commented on #397
Just verified, this is fixed

[2015-03-10 16:08] #397 closed

[2015-03-10 16:10] macumber commented on #229
Ok, let's just keep #656 then

[2015-03-10 16:10] #229 closed

[2015-03-10 16:11] macumber commented on #656
For space load instances, the multiplier has a minimum of 0. I noticed that I can enter in a negative number in the multiplier field in grid view for loads in a space type. Number appears to stick but gets cleared when I switch tabs and come back,

[2015-03-10 16:11] evanweaver commented on #170
@asparke2 thoughts?

[2015-03-10 16:22] evanweaver commented on #238
ModelFixture.RoofVegetation_SpecificHeatofDrySoil_Quantity currently passes
SimulationControl_LoadsConvergenceToleranceValue_Quantity currently passes
SimulationControl_TemperatureConvergenceToleranceValue_Quantity currently passes

[2015-03-10 16:22] #238 closed

[2015-03-10 17:19] #1297 closed

[2015-03-10 17:21] evanweaver commented on #170
@jasondegraw Dan has acknowledged your excellence, and recommended I tap you for the answer  :)

[2015-03-10 19:20] evanweaver commented on #198
Fixed via Pivotal 90045936

[2015-03-10 21:51] evanweaver commented on #219
1133 passed
1 skipped (ISOModelFixture, DISABLED_ForwardTranslator)
1 failed (ModelFixture, Surface_createAdjacentSurface)

@macumber I am going to close this, with the knowledge that you are currently working on Surface_createAdjacentSurface, and Kyle is working on the release-only test failure.

[2015-03-10 21:51] #219 closed

[2015-03-10 22:44] evanweaver commented on #210
@DavidGoldwasser this bug appears to no longer be valid.

[2015-03-10 22:47] evanweaver commented on #204
@DavidGoldwasser this bug appears to no longer be valid.

[2015-03-11 03:08] macumber commented on #283
Once we have a reporting measure that is up to parity with the eplustbl.html file we will block the users ability to change this flag.  Looking at Workflow::addStandardWorkflow it appears that EnergyPlusPreProcessJob is the right place to do this.

[2015-03-11 03:24] macumber opened #1513 "Surfaces with doors do not triangulate correctly"

[2015-03-11 03:25] macumber commented on #1513
Fixed in https://github.com/NREL/OpenStudio/commit/6c6565c82d2732e4f7a6aa70878645028edd04bf

[2015-03-11 03:25] #1513 closed

[2015-03-11 03:54] macumber commented on #667
Going to just change policy with no new user script, users can copy content in SketchUp if needed

[2015-03-11 04:17] macumber opened #1514 "Run measures from inside SketchUp plugin"
We should allow users to run measures in my measures directory from inside the SketchUp plugin.  This will allow us to eventually deprecate the user scripts in favor of measures

[2015-03-11 05:55] macumber commented on #1514
Related to #164

[2015-03-11 05:59] #667 closed

[2015-03-11 15:48] DavidGoldwasser commented on #667
I think that is fine. It should be a common need. I just assume have them copy the geometry. then make a new shading group and use paste in place. That will resolve any transformations.

[2015-03-11 15:49] DavidGoldwasser commented on #204
agreed

[2015-03-11 15:49] #204 closed

[2015-03-11 15:50] #210 closed

[2015-03-11 16:01] macumber commented on #667
Turns out you can't choose the shading group type when you make a new one so I ended up making the user script anyway

[2015-03-11 18:11] DavidGoldwasser commented on #198
Here is picture with construction set from our current library in fresh build of develop. Apparently since this was first written our construction names have gotten longer, or the horizontal space is shorter, now 4 lines. I know we can't jsut keep adding on more lines, but I think there is a way to improve it. While vertically centered is fine fro short names, a top justified with only the last li

[2015-03-11 18:14] DavidGoldwasser commented on #667
@macumber If you are inside of a space when you place a new one, it already makes it a space shading surface group. But I see your point, when doing it at top level, you can't choose if you want it to be site or building. Why not just adjust that tool to pop up a dialog to choose site or building? Unless just doing a script is easier.

[2015-03-11 18:36] DavidGoldwasser commented on #235
@evanweaver the three listed below are still valid, although I will admit 3 and 4 are super trivial as far as importance. @macumber is there any reason we are not supporting item 2 (wrap around year)?

2. EnergyPlus lets me span January 1st on a run (for example using a start date of July 1st, and a finish date of June 1st. The GUI here doesn't let me do that, is that by design?

3. When you click

[2015-03-11 18:39] macumber commented on #667
The script is done, so that is easiest :-)

[2015-03-11 18:43] DavidGoldwasser commented on #304
outdated

[2015-03-11 18:43] #304 closed

[2015-03-11 18:50] DavidGoldwasser commented on #257
Looks good now

[2015-03-11 18:50] #257 closed

[2015-03-11 18:51] evanweaver commented on #198
What I thought you were referring to (... Materials tab, last 2 objects).  Look at the lower lefthand corner of the image.
![image](https://cloud.githubusercontent.com/assets/4974134/6604317/2cc87c66-c7ed-11e4-8047-e1ac262ced4f.png)

[2015-03-11 18:53] DavidGoldwasser commented on #198
Sorry, I got things mixed up. Yes, this issue was specifically about what is shown in your screenshot

[2015-03-11 18:54] evanweaver commented on #198
Here is my fix:
![image](https://cloud.githubusercontent.com/assets/4974134/6604402/b1ccd358-c7ed-11e4-84a8-a62cedf7187b.png)

[2015-03-11 18:54] evanweaver commented on #198
@DavidGoldwasser it's already been committed to my bug fix branch

[2015-03-11 18:56] DavidGoldwasser commented on #198
@evanweaver looks good, but I don't see it on develop, I assume you will push from your local build. I still see issue on my build from this morning.

[2015-03-11 18:57] evanweaver commented on #198
@DavidGoldwasser again, I have committed it to my bug fix branch

[2015-03-11 19:01] DavidGoldwasser commented on #367
We still have the name right justified when everything else is left justified, and a long name doesn't wrap. While minor should still stay open.

[2015-03-11 19:04] DavidGoldwasser commented on #198
Sorry, didn't see pull request and didn't know you had a branch for bugs. I merged pull requests assigned to me into my local develop build. I'll close this if it is on branch that will be merged.

[2015-03-11 19:04] #198 closed

[2015-03-11 19:07] DavidGoldwasser commented on #477
The original BCL did switch units in web interface, but that broke (or was a feature of the new one). I'll just flag this as won't fix. At some point will have to go back to it.

[2015-03-11 19:09] evanweaver commented on #367
@marj-schott thoughts?

[2015-03-11 19:15] DavidGoldwasser commented on #974
Would be good to get feedback in case we update in the future. Witch of these options sound good, or is there another one.

1. Add adiabatic to the construction set
2. Leave construction set alone but have adiabatic surfaces take on interior construction.
3. Leave construction set alone but have adiabatic surfaces take on exterior construction.
4. Leave everything as it is but develop a user confi

[2015-03-11 19:34] marj-schott commented on #367
@DavidGoldwasser I think it is not a good idea to make this different in one spot of the application. The user can adjust the panel to make it larger. Most users will have a larger screen then the application is designed for anyway and will have room to drag it out.

[2015-03-11 19:43] DavidGoldwasser opened #1515 "Reverse Translator should retain thermal zone name from IDF instead of re-naming it."
Currently when you have a zone named "MyZone in an IDF, it comes into OpenStudio with a thermal zone named something like "MyZone Thermal Zone" and a space associated with that thermal zone named "MyZone"

Below are my two possible solutions.
1. Retain the thermal zone name as "MyZone" and rename the space to be "MyZone Space"
2. Or retain the thermal zone name as "MyZone" and keep the space also

[2015-03-11 20:01] DavidGoldwasser commented on #367
Ok, I give up, but just to clarify, I'm ok with the name being truncated, It just makes sense since it is left justified under normal circumstances, that the end of the name be truncated, vs. the beginning. And I think this should be the global behavior everywhere so we don't have a number like 320.22222 being displayed as 22222 instead of as 320.22. We ran across this in demo someone gave in iter

[2015-03-11 20:01] #367 closed

[2015-03-11 23:24] #1299 closed

[2015-03-12 14:02] kbenne commented on #1348
Is this specific to OS App or does PAT suffer the same problem?

[2015-03-12 16:30] macumber commented on #1348
@kbenne I am not sure, it might well be.  My understanding was that both apps should cache an E+ translated version of the model that they would use to update measures.  This is expensive in the OS app because that translation would have to occur every time you switch to the measures tab.  Pat can just cache the translated model when it sets the baseline.

[2015-03-12 16:32] kbenne commented on #1348
Yeah that expense is what I'm concerned about.  I'm fairly certain this impacts PAT too, but like you say the expense is less because the Model and therefore translated Workspace is not changing, thus requiring update.  I should have more details soon.

[2015-03-12 16:40] macumber commented on #1348
Yeah this is making me suspect that this is being done in PAT but not in OS App.  Now that we have tab switching I guess the best thing to do now is do that translation on switching to the measure tab

[2015-03-12 17:11] macumber commented on #1348
@kbenne seems like this might be a good use for a future.  When you switch the to the tab you might start another process when you switch to the tab, update all the model measures, then block on the future when you go to update energyplus measures

[2015-03-12 17:14] kbenne commented on #1348
I'm about to make a commit that will highlight and fix (at least part of) the issue.  It will block on the translation, we can work from there.  Perhaps introducing a new process.

[2015-03-13 16:46] kbenne commented on #1348
@DavidGoldwasser @macumber can one of you point me to a measure that has some workspace supplied arguments? For testing.

[2015-03-13 17:03] macumber opened #1518 "ResultsViewer bugs from QWT update"
Found a few issues after the QWT update, I know illuminance maps have issues, not sure what else might be in there

[2015-03-13 17:04] macumber commented on #1518
@DavidGoldwasser @asparke2 @axelstudios  can you guys do some testing with the 1.6.3 package?

[2015-03-13 17:04] macumber commented on #1518
@axelstudios could you check out Linux and @kbenne could you check out Mac?

[2015-03-13 17:06] macumber commented on #1348
@kbenne I'm pretty sure the one you create with new measure has an argument

[2015-03-13 17:42] DavidGoldwasser opened #1519 "People Def can have values for multiple unit types, other loads can't"
I thought for all internal loads that at least the GUI (if not the API) only allowed you to enter a value for one of the unit types. This is true for other load types, but for some reason not for people. @macumber I assume this is an un-intentinal oversight vs. a design. Not clear what would happen on forward translation if you have multiple values. See screenshot below

![3-13-2015 11-34-05 am](h

[2015-03-13 18:01] DavidGoldwasser commented on #1348
@macumber the new measure just has a string value. While I have never gotten this to work, I assume it would look something like this. But it doesn't populate arguments for me in OS app.

[code]

If I put the code below into the arguments section and run test via ruby, it does get the zone names.
[code]

[2015-03-13 18:07] rpg777 commented on #1518
The two issues I know about with this are:
(1) Nighttime illuminance map data displays all white, instead of blue (which is the color that is supposed to represent zero values): ![Nighttime Data in RV 1.6.3](https://cloud.githubusercontent.com/assets/3161332/6644322/7a22cda4-c978-11e4-9094-edcbeff491d2.png)

(2) Stepping through timestep data causes RV to crash. I can pretty reliably reproduce thi

[2015-03-14 05:24] DavidGoldwasser commented on #123
@kbenne and @macumber it seems this has become more complex with grid view. Users used to be able to turn off the thermostat which deleted the shared connection between zones. Removing that was a good idea but the end result is that you can't remove a shared thermostat. I think the right fix for this is to have a "Make Unique" test done whenever the App tries to change zone heating or cooling set

[2015-03-14 18:12] macumber opened #1520 "Shading surface translation to IDF"
Translation to IDF https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateShadingSurface.cpp#L88 should respect the shaded surface or shaded surface specified on the shading group https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/ShadingSurfaceGroup.hpp#L86

If that is not specified, we should use a distance to plane m

[2015-03-14 18:12] macumber commented on #1520
@DavidGoldwasser @asparke2 specifying the shaded object is one of the uses of the shading group

[2015-03-14 20:05] DavidGoldwasser commented on #1520
@macumber has shading sue face group  always had those fields? We definitely should  be using it. I'll want to update the SkechUp user script,the basic overhang measure and also the k12 and office AEDG fenestration no measures. At the time i didn't think there was a way to do this, so I use the name of the shading surface to associate it with a sub-surface. That is how the measure can delete exist

[2015-03-14 20:15] DavidGoldwasser commented on #1520
If we have a some logic to pick a base surface if not specified we should make sure it doesn't use an interior surface between two spaces that are in the same zone (which will end up being an internal mass object in the idf)

But in general when using rapid to add, given the option i'll always specify the base surfce or sub-surface.

[2015-03-14 20:33] macumber commented on #1520
@DavidGoldwasser it's been there for a while.  It gets set when you use the [add overhang](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/SubSurface.cpp#L791) method.  I guess it should also get used when you remove a surface or subsurface too?

[2015-03-16 04:14] kbenne opened #1521 "ZoneHVACComponent coils should stay attached to plant when cloning into same model"
When cloning a ZoneHVACComponent such as PTAC, attached coils are also cloned but they are separated from any PlantLoop instances.  Change this behavior so that if client is cloning into the same model, the cloned coil is added to a new branch on the same plant as the original coil.

[2015-03-16 04:16] #1521 closed

[2015-03-16 14:56] macumber opened #1522 "Issues with Workspace::swap"

[2015-03-16 15:02] macumber commented on #1522
Several people have reported issues with Workspace::swap, including apparent differences when using measures on the server and with the app.

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/utilities/idf/Workspace.cpp#L145

We should consider deprecating this function if it does not work correctly, a work around is:

    # remove existing objects
    handles = OpenStudio::UUIDVe

[2015-03-16 15:08] macumber commented on #1522
There is also a Workspace::swap method that takes a single object.  However, this doesn't seem like it uses the clone and remove methods so I think we might want to remove this from the public interface as well

https://github.com/NREL/OpenStudio/blob/3aaa0984dbc185867261bde6305b141deb118d5e/openstudiocore/src/utilities/idf/Workspace.cpp#L2885

[2015-03-16 15:08] macumber commented on #1522
@kbenne @asparke2 @nllong @phylroy FYI

[2015-03-16 19:06] kbenne opened #1523 "TableMultiVariableLookup not translating correctly"
Objects referencing TableMultiVariableLookup instances are detached from associated object (VRF coil for instance), because the Proposed IDD object references do not include the family of curve object lists.

[2015-03-16 19:43] macumber commented on #167
Looking at the DaylightingDeviceShelf.idf example file it looks like E+ 8.0 and up does allow for multiple illuminance maps per zone, guess I just missed the memo...

@rpg777 @DavidGoldwasser not sure what we want to do here we could update OS or just punt

[2015-03-16 19:46] macumber opened #1525 "Illuminance maps have confusing time scale"
Illuminance maps in ResultsViewer have a time scale that first goes through the design days and then the annual simulation.  This is different than the other results which have a different environment period for the sizing days.  Might want to address this if we change the SQL schema for https://github.com/NREL/OpenStudio/issues/1471

[2015-03-16 19:47] macumber commented on #1525
This mirrors the way data is stored in E+ results

[2015-03-16 20:34] #1507 closed

[2015-03-16 20:47] DavidGoldwasser opened #1526 "Floor/Ceiling Constructions creating issues with construction.getNetArea method"
When I call this method in a new model I hit it for every matched floor/ceiling surface, and since I loop through all constructions I hit this 527 on a single measure. As the images and text below show they are exact opposite constructions of each other. They are the constructions made with space type and construction set generator, and the plugin.

[code]

[code]

[code]

![3-16-2015 2-35-37 pm](

[2015-03-16 20:54] DavidGoldwasser commented on #1526
I updated the test to use a new version of the old test model where I changed the attic to a typical space. It then hits the same error as the new model. It seems like mirrored matched constructions are falsely triggering the warning. Note: there are no surfaces named "1" in the model.

[2015-03-16 21:14] DavidGoldwasser commented on #1526
OK, so it seems like any time matched surfaces don't refer to the exact same construction this is triggered. So it isn't triggered on typical internal walls where we use the same construction for both sides, but it is triggered for floor/ceiling where we have mirrored constructions.

For this particular error message it doesn't seem to matter if the construction you pick is symmetrical or not, but

[2015-03-17 05:03] #1348 closed

[2015-03-17 13:49] #1523 closed

[2015-03-17 14:20] asparke2 commented on #1364
@macumber tested and confirmed fixed in 1.6.3

[2015-03-17 14:20] #1364 closed

[2015-03-17 14:52] asparke2 commented on #1363
Confirmed fixed with 1.6.3

[2015-03-17 14:52] #1363 closed

[2015-03-17 15:01] asparke2 commented on #1346
Confirmed that with 1.6.3, models with a bad-project.osp file will still open correctly.  Cannot figure out how to reproduce making the bad-project.osp itself.

[2015-03-17 15:01] #1346 closed

[2015-03-17 15:32] DavidGoldwasser commented on #167
@macumber if you supported multiple, then would you just get rid of the field for the illuminance map in the thermal zone object, and then any spaces with illuminance maps automatically included in the zone the spaces are in. Seems nice to keep parity with EnergyPlus, but I don't have a strong preference either way on supporting this.

[2015-03-17 15:34] #1509 closed

[2015-03-17 15:38] asparke2 commented on #1299
Confirmed with 1.7.0 build

[2015-03-17 17:10] macumber commented on #1518
I have fixed the crash but still seem white pages when doing flood plots of data that is all 0's

Also the app is much slower but I don't need to look at that

[2015-03-17 18:04] macumber opened #1531 "Add overload to getObjectsByType taking a string instead of IddObjectType"
Would be useful in ruby bindings for IDF measures

[2015-03-17 18:15] macumber commented on #1348
@kbenne I never saw the progress bar on model translation but I didn't try this with any huge models

[2015-03-17 18:17] kbenne commented on #1348
I know, me either.  I tried it on baseline 07 test file and even that is very fast.  So I'm not positive it is there, but I think it is.

[2015-03-17 18:18] macumber commented on #1348
I think this will be a good kick in the pants to keep our idf translation times down

[2015-03-17 19:53] macumber commented on #1525
This probably makes comparison of illuminance maps incorrect when comparing radiance outputs to E+

[2015-03-17 20:30] DavidGoldwasser commented on #1518
@macumber I was seeing crash on my machine with E+ run. I'll build with your commit and try again.

One other minor thing I see. When I first load the map, the timescale slider is at the left, but the displayed day is 7/21. If I move the time up and down with arrows the slider stays at the left. As soon as I use the up/down on the date, the slider jumps to the middle of the year.

![3-17-2015 2-26

[2015-03-17 21:58] MatthewSteen opened #1532 "WaterHeaterSizing object missing in 1.6.3"
When a `WaterHeaterMixed` object is set to Autosized, the `WaterHeaterSizing` object doesn't appear to be translated to EP causing the sim to fail.

[2015-03-17 22:11] MatthewSteen commented on #669
I'm seeing this in 1.6.0 and 1.6.3.

[2015-03-17 22:12] MatthewSteen commented on #1532
closing, duplicate of #669.

[2015-03-17 22:12] #1532 closed

[2015-03-18 03:45] #1481 closed

[2015-03-18 03:45] macumber commented on #1461
@asparke2 you still working on this for 1.7.0?

@axelstudios FYI

[2015-03-18 03:46] macumber commented on #1412
@evanweaver you still working on this for 1.7.0?

@axelstudios FYI

[2015-03-18 03:46] macumber commented on #1411
@evanweaver you still working on this for 1.7.0?

@axelstudios FYI

[2015-03-18 03:47] macumber commented on #1325
@evanweaver you still working on this for 1.7.0?

@axelstudios FYI

[2015-03-18 03:48] macumber commented on #1310
@axelstudios you still working on this for 1.7.0?

[2015-03-18 03:49] macumber commented on #775
@kbenne you still working on this for 1.7.0?

[2015-03-18 03:49] macumber commented on #773
@DavidGoldwasser is this fixed it is listed as needed for 1.7.0

[2015-03-18 03:50] macumber commented on #668
@DavidGoldwasser is this still valid?  it is listed as needed for 1.7.0

[2015-03-18 03:50] macumber commented on #656
@evanweaver you still working on this for 1.7.0?

[2015-03-18 03:50] macumber commented on #599
@kbenne @asparke2 I don't see this in pivotal. As I said before, this is too general. If there are any specific objects missing let's add those and close this issue.

[2015-03-18 03:51] #369 closed

[2015-03-18 03:59] macumber commented on #801
@DavidGoldwasser I am assigning this to you to better document or close

[2015-03-18 04:00] macumber commented on #889
@axelstudios this is assigned to you in pivotal, you still able to look at it?

[2015-03-18 04:00] macumber commented on #942
@axelstudios this is assigned to you in pivotal, you still able to look at it?

[2015-03-18 04:01] macumber commented on #668
@DavidGoldwasser assigned to you to better document or close

[2015-03-18 13:21] kbenne commented on #775
I am working on it, but I have changed my mind about putting it in 1.7.0.  This is too close to the wire and I haven't figured out the repercussions.  I'll merge something right after 1.7.

[2015-03-18 14:20] evanweaver commented on #656
@macumber I think that this ticket is fairly risky and somewhat involved.  For the newer, second generation of data display widgets, osconcept classes will need to be extended to allow provisions for setting min and max settings.  In turn, any IDD min and maxes will need to be provided at widget creation.

A additional approach would be to attempt to set a widget's a new value in model, check for

[2015-03-18 14:58] macumber commented on #775
Cool, let's put it in 1.8.0

[2015-03-18 15:36] DavidGoldwasser commented on #656
@evanweaver and @macumber I'm fine waiting on this, It is known issue with easy work around.

[2015-03-18 15:53] macumber commented on #1325
@evanweaver this is listed as closed in pivotal, if so can you please close here?  otherwise if this is not in 1.7.0 let's move to 1.8.0 milestone

[2015-03-18 15:53] macumber commented on #1411
@evanweaver if not going in 1.7.0 can you please move to 1.8.0 milestone here and in pivotal

[2015-03-18 15:54] macumber commented on #1412
@evanweaver if not going in 1.7.0 can you please move to 1.8.0 milestone here and in pivotal

[2015-03-18 15:55] macumber commented on #942
@axelstudios unless you are working on this i suggest we push it off until 1.8.0 or un-assign milestone

[2015-03-18 15:55] macumber commented on #889
@axelstudios unless you are working on this i suggest we push it off until 1.8.0 or un-assign milestone

[2015-03-18 15:56] macumber commented on #1310
@axelstudios this is probably the most important of the bugs assigned to you for 1.7.0, have you started to look at it?  it seems difficult to test.  if you can't get to it let's move to 1.8.0

[2015-03-18 16:14] evanweaver commented on #1325
@macumber I broke this ticket into 2 pivotal tickets, the first closed, and the second being https://www.pivotaltracker.com/n/projects/134010/stories/90606578, which I still need to work on.

[2015-03-18 16:24] macumber opened #1533 "ReportRequest built in measure shows as broken in PAT"

[2015-03-18 18:58] asparke2 commented on #1461
Yeah, just finished up the tests.

Andrew Parker
Staff Engineer
NREL Commercial Buildings Group
W:  303-275-4568
C:  252-626-8842
andrew.parker@nrel.gov

From: Dan Macumber [mailto:notifications@github.com]
Sent: Tuesday, March 17, 2015 9:46 PM
To: NREL/OpenStudio
Cc: Parker, Andrew
Subject: Re: [OpenStudio] Sql.annualTotalUtilityCost and .annualTotalCost methods incorrect when dist htg or dist cl

[2015-03-18 19:54] #1340 closed

[2015-03-18 20:40] macumber opened #1535 "Resultsviewer center and span button defaults are wrong for flood plots"
When doing line plots center and span correctly default to mid-year and entire year

When doing flood plots center and span incorrectly default to 1 and 0, correct range is shown but changing the sliders is difficult

[2015-03-18 20:40] macumber commented on #1518
Filed https://github.com/NREL/OpenStudio/issues/1535 for the center and span issue

[2015-03-19 02:55] macumber commented on #1224
This behavior was changed

[2015-03-19 02:55] #1224 closed

[2015-03-19 03:01] macumber commented on #1533
could be related to https://github.com/NREL/OpenStudio/issues/1232

[2015-03-19 03:02] macumber commented on #987
@DavidGoldwasser I think this is fixed now, can we close?

[2015-03-19 03:03] macumber commented on #986
@DavidGoldwasser can we close this?

[2015-03-19 03:04] macumber commented on #955
@asparke2 this was fixed, closing

[2015-03-19 03:04] #955 closed

[2015-03-19 03:04] macumber commented on #1022
Done

[2015-03-19 03:04] #1022 closed

[2015-03-19 03:06] macumber commented on #932
@DavidGoldwasser can you confirm if this is still valid?

[2015-03-19 03:06] macumber commented on #929
@DavidGoldwasser is this done?  Also if this is a measure that you maintain can you assign to yourself?

[2015-03-19 03:11] macumber commented on #1467
@DavidGoldwasser I just confirmed that this works correctly in 1.7.0 Release candidate.  Can we close this?

[2015-03-19 03:13] macumber commented on #893
@DavidGoldwasser is this still valid?

[2015-03-19 03:14] macumber commented on #883
I fixed this

[2015-03-19 03:14] #883 closed

[2015-03-19 03:17] macumber commented on #833
Already done https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/Surface.cpp#L406

[2015-03-19 03:18] macumber commented on #762
This was fixed

[2015-03-19 03:18] #762 closed

[2015-03-19 03:21] macumber commented on #544
@DavidGoldwasser is this still valid?

[2015-03-19 03:21] macumber commented on #531
Addressed by GUI refactor

[2015-03-19 03:21] #531 closed

[2015-03-19 03:22] macumber commented on #441
@DavidGoldwasser can we close this?

[2015-03-19 03:24] macumber commented on #385
Reassigning to @DavidGoldwasser

[2015-03-19 03:25] macumber commented on #354
This has been fixed

[2015-03-19 03:25] #354 closed

[2015-03-19 03:26] macumber commented on #341
@DavidGoldwasser can you test and confirm or close this?

[2015-03-19 03:28] macumber commented on #338
Looks like this is fixed https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ReverseTranslator/ReverseTranslateBuildingSurfaceDetailed.cpp#L109

[2015-03-19 03:28] #338 closed

[2015-03-19 03:30] #321 closed

[2015-03-19 03:30] macumber commented on #316
@DavidGoldwasser is this invalid?

[2015-03-19 03:32] macumber commented on #302
@DavidGoldwasser can you confirm this is fixed?

[2015-03-19 03:37] macumber commented on #281
@axelstudios is this still valid?

[2015-03-19 03:38] #280 closed

[2015-03-19 03:40] #252 closed

[2015-03-19 03:42] macumber commented on #223
@rpg777 can you test this?

[2015-03-19 03:42] #211 closed

[2015-03-19 03:44] #184 closed

[2015-03-19 03:44] #176 closed

[2015-03-19 03:45] macumber commented on #317
Works for daylighting control but not glare sensor

[2015-03-19 03:46] macumber commented on #174
Don't do this

[2015-03-19 03:46] #174 closed

[2015-03-19 03:49] macumber commented on #91
@DavidGoldwasser was this addressed by my GUI updates for 1.7.0?

[2015-03-19 14:41] DavidGoldwasser opened #1536 "setMinimumHotWaterOrStreamFlowRate (should be steam instead of stream)"
User reported typo in method name.

https://github.com/NREL/OpenStudio/search?utf8=%E2%9C%93&q=setMinimumHotWaterOrStreamFlowRate

@kbenne @asparke2 and @macumber. Is anyone using this yet, or can we fix it and drop support for the current name. My guess is nobody is using steam yet or we would have seen this.

[2015-03-19 14:46] DavidGoldwasser commented on #91
yep

[2015-03-19 14:46] #91 closed

[2015-03-19 14:49] DavidGoldwasser commented on #833
@macumber they are both set to false now. I think they should both be true.

[2015-03-19 14:53] #302 closed

[2015-03-19 14:56] #341 closed

[2015-03-19 14:58] #441 closed

[2015-03-19 14:59] DavidGoldwasser commented on #316
@I'm not sure, but since by name is seems to pre-date measures, I think we can close it, and then re-open or make new issue if it comes up wit most current radiance workflow.

[2015-03-19 14:59] #316 closed

[2015-03-19 15:02] DavidGoldwasser commented on #544
Doesn't seem to be an issue anymore. Maybe because I'm not editing XML directly, but editing in measure.rb, with app editing XML behind the scenes. Either way it works :)

[2015-03-19 15:02] #544 closed

[2015-03-19 15:03] DavidGoldwasser commented on #893
I haven't seen any use reports of it recently.

[2015-03-19 15:03] #893 closed

[2015-03-19 15:29] rpg777 commented on #223
@macumber, this works -- has for a while AFAIK, and I just tested it on a simple model. I don't have a unit test for it, but the Radiance forward translator replaces spaces with underscores for exported space name references.

[2015-03-19 15:29] #223 closed

[2015-03-19 15:37] kbenne commented on #1536
I'll fix this right away, but I can guarantee you that nobody is doing steam systems because we don't have all of the component they need.  Plus E+ developers claim it is flat out broken, so.... I guess someone could be doing heavy idf measures to put together a steam system, but very doubtful.

[2015-03-19 16:07] macumber commented on #223
@rpg777 was it spaces in the Space name or spaces in the filename?  I thought the issue was for the latter?  Just wait until someone runs a model named प्रकाशीय.osm....

Please find your translated text below:

    daylighting (English)
    प्रकाशीय (Hindi)

[2015-03-19 17:33] kbenne commented on #1536
@DavidGoldwasser actually I see now that this is in AirTerminalSingleDuctVAVReheat.  That is a majorly common object.  I don't think changing the method name is a good idea.  I could add a synonym, but really I'd prefer to just to nothing.

[2015-03-19 18:01] macumber opened #1538 "Change default idd file type for Workspace.new"
Apparently I have been living under a rock or something but I thought that Workspace.new made an EnergyPlus workspace.  It actually makes an OpenStudio one and has for some time:

https://github.com/NREL/OpenStudio/blame/develop/openstudiocore/src/utilities/idf/Workspace.cpp#L2672

I think that most people calling Workspace.new want an EnergyPlus workspace, if they wanted an OpenStudio one they wo

[2015-03-19 18:05] macumber commented on #1538
Found this while testing, had to change the IDF measure tests in this commit https://github.com/NREL/OpenStudio/commit/9a8e5317b58f89c823df95a7efc923d2c8744a66

If we fix this issue we can change the tests back to Workspace.new (so people dont have to worry about what strictness or iddfiletype are)

[2015-03-19 18:08] kbenne commented on #1538
I guess I was living under the same rock.  It sure seems like the implications could be major for this.  Like not accessing the fields you think you are when writing an IDF Measure.  If that is true then surely we would have encountered this by now?  And what about validation?  Is the default strictness simply weak enough to let it go through?

[2015-03-19 18:11] macumber commented on #1538
I think so, I ended up with an idf file that had an OS:Version object and a Zone one

[2015-03-19 18:14] kbenne commented on #1538
I guess most idf measure work would use integer field keys so I can imagine this sliding by.  But then there is the object list tracking... are you sure the workflow isn't specifying the IDD on Workspace creation for IDF Measure?

[2015-03-19 18:15] macumber opened #1539 "Window reveals are incorrect"
Starting from the window surface and going into space rather than the base surface and going into space

[2015-03-19 18:15] macumber commented on #1539
@axelstudios we want to wait on this for the package too

[2015-03-19 18:18] kbenne commented on #1538
certainly the translator is doing the right thing.

https://github.com/NREL/OpenStudio/blob/9a8e5317b58f89c823df95a7efc923d2c8744a66/openstudiocore/src/energyplus/ForwardTranslator.cpp#L374

but that probably doesn't guarantee other parts of the workflow.

[2015-03-19 18:20] macumber commented on #1538
@kbenne when you run ModelToIDF in the app you get out a correct workspace, that is passed in to you measure.  This is specifically about calling Workspace.new which we were doing in some IDF measure tests, the defaults are wonky.

I had to change our default tests to now do:

    OpenStudio::Workspace.new("Draft".to_StrictnessLevel, "EnergyPlus".to_IddFileType)

which is just ugly

[2015-03-19 18:29] #1461 closed

[2015-03-19 18:35] kbenne commented on #1538
good.  That is defiantly key.  That you get the correct type of workspace passed to you in idf measure.  Seems this issue is not as alarming as I originally read it to be.

[2015-03-19 19:59] DavidGoldwasser commented on #1536
@kbenne someone is going to use that object, that's how they saw this issue, I assume we want it matching the IDF object field which I assume is "steam" and not "stream". I'm much happer with synonym approach vs. doing nothing. Could the documentation point to the synonym vs. the original object?

[2015-03-19 20:06] #1467 closed

[2015-03-19 20:25] DavidGoldwasser commented on #929
@macumber  @asparke2  I think the measure has been updated, this is now mainly as reminder to update templates with skylight constructions. Maybe some work has been done on this in the standards spreadsheet

[2015-03-19 20:29] #986 closed

[2015-03-19 20:30] #987 closed

[2015-03-19 21:21] #1539 closed

[2015-03-19 21:22] #1376 closed

[2015-03-19 21:22] #1518 closed

[2015-03-19 21:31] DavidGoldwasser commented on #668
@macumber yep, Steve (the scale figure) says it is still valid, Just import the medium office reference building and run the WWR user script with the default values.

![3-19-2015 3-25-56 pm](https://cloud.githubusercontent.com/assets/4857055/6741399/b91b3324-ce4c-11e4-95f6-a5e3223e3002.png)

When you re-open the model you have three sub surfaces missing their base surfaces. (FYI - I only ran WWR o

[2015-03-19 21:35] DavidGoldwasser commented on #801
@macumber so the issue here was really that the XML not matching prevented BCL upload from working. I can flatten the epw out in the testing folder, I don't want to put it in resources, because it is only for use in the test. Since it isn't very easy without a text editor to edit the OSM pat to be outside of the typical directory, the reporting measure tests should have code to add in the path to

[2015-03-19 21:38] DavidGoldwasser commented on #599
I think at least 5 specific objects are listed in the issue and comments. If all of those are in, then we can close, it but not a bad idea to proactively check that everything is in there by going through them. In one case an object showed up twice in the list.

[2015-03-19 21:41] DavidGoldwasser commented on #773
It will take me some time to look into it, not important for 1.7.0.

[2015-03-19 23:24] macumber opened #1541 "Revision control in OSM"
This is a pie in the sky request but I think it would be great to build revision control into OSM.  Basically the OSM/companion dir would be replaced by a zip of a git repository.  Save could create a revision and we would have tools to revert to previous versions.

[2015-03-20 02:01] MatthewSteen opened #1542 "Move BCL Measures to GitHub"
Unfortunately I haven't seen a lot of community interaction on the BCL and I think moving development here may facilitate more involvement from the larger BEM community. Not sure if this strays from the larger vision for BCL Measures, but I will close this feature request if it does.

[2015-03-20 02:36] macumber commented on #1542
@MatthewSteen we already use github for our measure repository however the repo is currently private.  The long term plan is for this to be public but we need to do some cleanup and housekeeping before we are ready for that.  @DavidGoldwasser can grant you access in the meantime

[2015-03-20 12:45] andrewmcalpin commented on #883
How did you go about fixing this @macumber?  I have the same error with OS:ClimateZones on ModelToIDF.

[2015-03-20 13:54] rpg777 commented on #223
Right again, Dan-o. Well that issue is fixed too. Just tested a model with spaces in the file name ("spaces in name.osm") and the Radiance loop worked fine.

[2015-03-20 15:18] DavidGoldwasser opened #1543 "Seeing "Autocalculate" in Maximum Air Flow Rate for termial object"
@kbenne is this normal, I would expect the "Autosized" radio button to be checked.

![3-20-2015 9-16-19 am](https://cloud.githubusercontent.com/assets/4857055/6754418/07b257f2-cee2-11e4-90bb-b8c1e71b51a1.png)

[2015-03-20 15:36] DavidGoldwasser opened #1544 "Multi-select - Can't copy terminals, to other zones, but looks like you can"
@kbenne and @evanweaver I can see the reason for not copying terminals across zones, as they have connections to many other objects. My use case was an air loop with a few zones, I changed one terminal and wanted to apply that change to other terminals on the same loop. Clicking "Apply to Selected" doesn't do anything.

My first thought was should we remove the "Apply to Selected" from the top of

[2015-03-20 15:37] kbenne commented on #1543
Not normal.  Or at least not desired.  The IG doesn't know how to distinguish autocalculate and autosize.  I think we just need to mark it autosize in our IDD for IGs benefit.  Or perhaps enhance IG.

[2015-03-20 15:45] DavidGoldwasser opened #1545 "Apply to Selected - issue on larger models scrolling loses selected object"
I talked with @evanweaver about this. We know this will just be known issue for now, it is a complicated fix, the preferred solution maybe keeping the header row always visible so scrolling isn't necessary. We should note this in release notes so people know how to get around it.

Issue: If select an object (hilighted in yellow as copy object for "Apply to Selected" and then use the scroll bar to

[2015-03-20 15:48] kbenne commented on #1544
@DavidGoldwasser that is a good use case if you ask me.  But I think you're appreciating the complications of multi edit / cloning terminal.  The work to make any of this happen is not hard.  It is more tricky to define all of the potential scenarios, and design a solution that is not opaque, magical or confusing to a client.  If you narrate a complete description of behaviors (with maybe a little

[2015-03-20 15:49] DavidGoldwasser opened #1546 "Apply to Selected - issue on larger models (Selecting affect zones/ space types)"
When you select a row in the column with checkbox for (Apply to Selected) on a longer model that doesn't fit on the screen, the display jumps back to the top, so you have to scroll down again to get back to the zone/space type you were just looking at. It would be good if it could maintain it's position. When you want to check 5/6 zones you need to keep scrolling back down each time.

Again, I thi

[2015-03-20 15:57] DavidGoldwasser opened #1547 "SpaceType Tab - Load filter should function on infiltration objects"
This may be more feature than bug, as infiltration objects are a different animal than the other internal loads. There are two parts to this issue. The more important issue is having infiltration objects not show up when you filter by a specific load type. In the attached screenshot it would be nice to be able to select all to quickly delete all people objects from space types. The second part wou

[2015-03-20 16:09] DavidGoldwasser commented on #1544
Thanks @kbenne, I'll loop @asparke2 into this as well. I'll assign you instead of @evanweaver , but it can probably simmer for a while while we get user feedback from everyone. I don't think this is critical. I do think if we make a decision to have it not clone the object, that eventually the model should send a signal back to the GUI to let the use know this is an invalid object for "Apply to Se

[2015-03-20 16:20] kbenne commented on #1544
How about this?  When "applying terminal to selected" if the selected zone that you are applying to is attached to an air system, then clone the terminal and attach to the selected zone.  Do this regardless of an existing terminal there or not.  If there is an existing terminal, remove it, then apply the new one.  I think all of this should happen at the App level, no Model implementation of this

[2015-03-20 16:22] evanweaver commented on #1544
Sounds fine to me.  If this works for you David, I'll be the one to implement the fix.

[2015-03-20 16:25] kbenne commented on #1544
They key points of my above suggestion is that it acknowledges that zones can be attached to air systems without a terminal in place.  And it avoids the rather extreme step of cloning entire systems, or adding new branches to existing ones.

[2015-03-20 16:27] DavidGoldwasser commented on #1544
Sounds good to me. I assume then if you try to attach terminal to a zone that isn't on an air loop, it will just do nothing? That is that you don't want terminals hanging out on a zone unless their is an air loop.

[2015-03-20 16:41] kbenne commented on #1544
@DavidGoldwasser right.

[2015-03-20 16:49] evanweaver commented on #1544
Kyle, it occurred to me that the Qt event loop is processed differently on Mac / Linux, compared to Windows.  Potentially, we could be facing a race condition with the "Apply to" button sending its clicked signal, and that same button being disabled because the GUI thinks that the work has been done.

[2015-03-20 17:06] macumber commented on #883
@andrewmcalpin the fix is in this commit https://github.com/NREL/OpenStudio/commit/579c9e8eea7df9c39d2b1629bbe7fdd09c0db419

I was being lazy when I closed the ticket because I didn't think anyone was watching :-)

[2015-03-20 19:07] jasondegraw commented on #1458
It also appears that the data period parser is not accepting dates with years, which it should:

![weather-tbl14-pg45](https://cloud.githubusercontent.com/assets/4623433/6758908/7565a4e2-cf01-11e4-86bc-c3457a92c00e.png)

@macumber @nllong What should the policy be? Start date and end date both have a year or both do not?

[2015-03-20 19:20] macumber commented on #1458
@jasondegraw what do you mean by start and end date?  are these entries in the header?

[2015-03-20 19:31] jasondegraw commented on #1458
@macumber The problematic data period line looks like this:

    DATA PERIODS,1,1,weather,Sunday,1/1/2008,12/31/2011

It occurred to me that someone might put in

    DATA PERIODS,1,1,weather,Sunday,1/1/2008,12/31

or

    DATA PERIODS,1,1,weather,Sunday,1/1,12/31/2011

I tend to think that we should accept the first one above, but neither of the others. But maybe need to see what E+ will take.

[2015-03-20 19:32] macumber commented on #1458
Ok, I get it now and agree with your assessment

[2015-03-20 21:51] jasondegraw commented on #1458
@macumber It turns out that E+ will take all of the variations in my earlier comment under the "right" circumstances... so I think we need to try to accept all of them. Could we do something with an optional year, or do we just need to have the bigger discussion about multi-year simulations?

(also, @nllong)

[2015-03-22 22:15] rpg777 commented on #1135
The Radiance simulation settings get __reset__ to "coarse" every time you visit the Simulation Settings tab, even if you don't expand the Radiance Sim settings triangle thingy.(!) If the user sets the Rad settings to fine or custom, and then goes straight to the run tab, the user-selected settings are used. But if the user revisits the Simulation Settings tab for any reason, the Radiance settings

[2015-03-23 15:47] axelstudios commented on #281
Nope

[2015-03-23 15:47] #281 closed

[2015-03-23 17:27] macumber opened #1548 "HVAC string in measure name looks goofy"
"Fix HVAC" gets parsed as 'fix_hV_aC'

[2015-03-23 17:30] macumber commented on #1548
Class name seems fine, this is just the dir name and test name

[2015-03-23 18:16] macumber commented on #1135
@rpg777 looks like this was always this way but it used to get reset only when you started the app, now it gets reset every time you switch to the sim settings tab (due to the one tab in memory refactor):

https://github.com/NREL/OpenStudio/blame/develop/openstudiocore/src/openstudio_lib/SimSettingsView.cpp#L945

@evanweaver I thought there was more logic around detecting if the user had coarse, f

[2015-03-23 18:21] macumber commented on #1135
Raised to major severity due to changing user model without warning

[2015-03-23 18:25] macumber commented on #1135
I believe a simple fix would be to only create a RadianceParameters and set these options if the users model did not already have one

https://github.com/NREL/OpenStudio/blame/develop/openstudiocore/src/openstudio_lib/SimSettingsView.cpp#L1570

[2015-03-23 19:04] rpg777 commented on #1135
So, two questions then:
1. Is this something that we are trying to push into the 1.7.0. RC?
2. If so can I add a parameter to this set (it doesn't have to be displayed in the GUI for now)

[2015-03-23 19:15] macumber commented on #1135
Send me your parameter, I'll make a commit and let @axelstudios decide if he can handle the bandwidth of remaking packages

[2015-03-23 19:42] macumber commented on #1135
This https://github.com/NREL/OpenStudio/commit/d03ac678501af30a4df573673fcf8490eecb7f0a fixes the settings getting whacked each time the tab reloads

However, the radio button state is not maintained correctly after the one tab in memory change so I think we should keep the issue open

[2015-03-23 20:01] rpg777 opened #1549 "Coordinate fine/coarse Sky Subdivision Params in idd"
"coarse" Radiance settings should use 146 divs (145 sky + 1 ground); "fine" should use 2306 ((144sky * 16) + 1zenith + 1ground)

See:

https://github.com/NREL/OpenStudio/blob/3b37505da2004880ffd80bc448a6ece2333cf243/openstudiocore/src/radiance/ForwardTranslator.cpp#L353

https://github.com/NREL/OpenStudio/blob/0774a1a564ca869fcb097bb2a4645386abd3ca4e/openstudiocore/src/osversion/VersionTranslator.

[2015-03-23 20:15] macumber commented on #1549
There seems to be some flip flopping about whether the "medium" level should be 578 or 581.  @rpg777 do we even need a medium setting?

[2015-03-23 20:26] rpg777 commented on #1549
Yeah, it's 578, and I included the "medium" discretization out of convention. I think most people use the fine, and sometimes the coarse for testing. What really should do is change the thing to a simple INT subdivision parameter, since that's how Radiance interprets it anyway. Users can specify as many subdivisions of the Tregenza as they wish, really.

[2015-03-23 23:33] MatthewSteen opened #1550 "Thermal Zone tab Library disappears"
I haven't found the steps to reproduce this yet, but will update or close if I haven't identified it.

While working on a large model (175 zones) all the options in the Thermal Zone Library disappear (eg FanZoneExhaust, PTAC, etc).

[2015-03-24 03:14] macumber commented on #1491
Kristin hit this and was concerned about it too, lowers confidence in the software.

[2015-03-24 03:18] macumber opened #1551 "Cannot see all schedules on schedules tab"
Understanding that they might not be editable users are concerned if they cannot see their schedules in the model.  Kristin was concerned that all of her schedule compacts had been removed after importing model from idf.

Alternatives are to show schedules in read only or convert all schedules to schedule ruleset

[2015-03-24 03:20] macumber opened #1552 "Grid view column headers should stay fixed when scrolling"
When scrolling grid view if headers do not stay fixed it is very difficult to tell what each column is

[2015-03-24 03:25] macumber opened #1553 "Remove scan for tools"
We are now shipping most tools needed for simulation, we should begin shipping radiance and remove the scan for tools functionality

The scan for tools dialog is confusing to users (what is default idf directory for?  are you supposed to pick the e+ version? etc)

Would be better to just have methods like energyplusDir and radianceDir that work for all installs

[2015-03-24 03:26] macumber commented on #1553
Potentially kill all these issues in one fell swoop https://github.com/NREL/OpenStudio/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+scan+for+tools

[2015-03-24 03:27] macumber opened #1554 "Always enable revert to saved"
Supports the use case where user edits OSM in notepad or SketchUp then wants to reload in App.

[2015-03-24 03:28] macumber opened #1555 "Cannot set or view site name in app"
This name gets exported to IDF so it should be set somewhere, either automatically based on weather file or explicity in GUI

[2015-03-24 03:29] macumber commented on #1555
User should be able to see it at least

[2015-03-24 03:33] macumber opened #1556 "Create One With Selected Measures creates design alternative with empty name"
@asparke2 is this by design?

[2015-03-24 03:38] macumber opened #1557 "Status bar confusing when E+ run fails"
Green arrow and flashing progress bar make it look like things are still happening (even though text changes to failed).  Kristin sat around wondering when the simulation would be done even after it had failed and stopped minutes ago.

[2015-03-24 12:22] MatthewSteen commented on #1552
A feature like Excel's Freeze Panes would be nice.

[2015-03-24 15:29] macumber commented on #1135
@evanweaver my suggestion is to move the coarse, medium, and fine radiance parameters into the object.  Then we just have applyCoarseSettings and isCoarseSettings methods for the GUI to use, we can call applyCoarseSettings in the object ctor.

We also need to fix this at the same time:
https://github.com/NREL/OpenStudio/issues/1549

[2015-03-24 15:30] macumber commented on #1549
Making it an int is great and does not require futzing with the version translator.  Can Radiance really support any number?  I would think there might be only so many ways you can subdivide the sky evenly?

[2015-03-24 15:43] rpg777 commented on #1549
It can; more specifically, the .cal files that use this subdivision support it, but tools downstream can choke on higher resolutions. The subdivisions work with any integer because that number is applied in the x,y dimensions of the baseline 144 Tregenza patches that define the hemisphere _excluding the zenith patch_. At some point Patch#145 (the zenith) gets disproportionately larger than the oth

[2015-03-24 15:57] evanweaver commented on #1552
See also https://github.com/NREL/OpenStudio/issues/1545

[2015-03-24 22:49] evanweaver commented on #1135
We will still need to address #1549.

[2015-03-24 23:18] MatthewSteen opened #1559 "BCL Components can't be purged from model"
After adding components from the BCL to a 1.6.3 model they can't be purged from Constructions or Materials and must be deleted individually. Probably a minor, low frequency bug.

Steps to reproduce:
1. add components from BCL to model
2. try to purge from Constructions or Materials

[2015-03-25 04:55] macumber commented on #1559
@MatthewSteen I know what this is about, thanks for reporting

@kbenne FYI

[2015-03-25 05:55] macumber commented on #1556
Found out that if you assign names to the alternatives, then change a measure, and update measures the names of the alternatives will be cleared as well

[2015-03-25 05:56] macumber commented on #1556
Looks like the names are only blank on tab 2, they are still populated on tabs 3 and 4

[2015-03-25 05:57] macumber commented on #1556
Names on tab 2 are blanked whenever you go to tab 2

[2015-03-25 13:30] MatthewSteen commented on #1542
Closing and happy to help out @DavidGoldwasser.

[2015-03-25 13:30] #1542 closed

[2015-03-25 18:45] macumber opened #1560 "Diagnostic script does not remove orphan surfaces"
https://unmethours.com/question/3888/how-to-fix-openstudio-input-file-errors-and-warnings/?comment=3930#comment-3930

[2015-03-25 18:54] macumber commented on #1560
Might also want to consider windows with area larger than base surface? https://unmethours.com/question/3908/openstudio-error-sub-surface-is-not-contained-by-its-base-surface/

[2015-03-25 18:56] macumber opened #1561 "Temporary run directories not removed"
https://unmethours.com/question/3408/os-does-not-delete-temporary-folders/

[2015-03-25 18:59] kbenne commented on #1561
I do believe this is something we might want to cleanup, but at the same time isn't a temporary location the operating system's responsibility to clean up.  Isn't that the whole idea of tmp?  @lefticus ?

[2015-03-25 19:05] macumber commented on #1561
Recently I had to delete all the kruft in my tmp directory on Windows, some was OpenStudio but most was not, it had accumulated to like 10 GB!  Nothing seemed to break when I did that so I guess it was ok but Windows was not cleaning these up on it's own

[2015-03-25 19:26] lefticus commented on #1561
@kbenne on Unix, yes. A reboot almost always cleans up tmp. I don't think that Windows has ever done that though. IMO, it's a good idea to clean up as much in the tmp if you can, but if you crash and leave something behind, that's not the end of the world.

[2015-03-25 20:38] macumber opened #1562 "Loading empty DDY file appears to work but does nothing"

[2015-03-25 22:11] MatthewSteen commented on #1561
I recently noticed this as well on my Windows machine. Running OS sims every day had created a lot of wasted space so I scheduled `disk cleanup` to run once a week as a fix.

[2015-03-26 08:38] jmarrec opened #1563 "Diagnostic script does not remove subsurfaces not contained by its base surface"
https://unmethours.com/question/3908/openstudio-error-sub-surface-is-not-contained-by-its-base-surface/

To expand further, I created geometry in Rhino (badly apparently), and I'm processing it and exporting it to osm with honeybee, hence the problematic subsurfaces.

I am using:
Sketchup Make 2015
OpenStudio 1.6.0.1229eac298
E+  8.2.0

The diagnostic script doesn't remove any object. When I close

[2015-03-26 14:56] macumber commented on #1563
Thanks @jmarrec, yes please post a link to your file.  We have another place where we store files related to issues so we can dig them up when we go to fix bugs

[2015-03-26 15:22] jmarrec commented on #1563
One guilty model here: http://we.tl/FUFjX5I1qE (there so much more wrong in it too!)

[2015-03-27 17:04] macumber opened #1564 "Set WWR script does not report correctly"
Many of the surfaces in a users file are too complex to apply the setWWR function, however I don't think the script is reporting this correctly

https://unmethours.com/question/3993/set-window-to-wall-ratio-in-sketchup-fails/?comment=4024#comment-4024

@jmarrec FYI

[2015-03-27 17:13] jmarrec commented on #1564
Thanks @macumber !

[2015-03-27 21:49] MatthewSteen opened #1566 "ptac default view in the inspector is not consistent with other zone hvac objects"
In the Thermal Zones tab when selecting a `ZoneHVACPackagedTerminalAirConditioner` object to edit in the Inspector I've noticed the following behaviors in 1.6.0 and 1.7.0:
1. When changing the name of the PTAC in the Inspector and moving to another field, the view is reset to the default connections subtab (loses focus?).
2. The default view in the Inspector is the connection subtab which differs

[2015-03-30 21:40] DavidGoldwasser commented on #1560
@macumber the user script doesn't currently attempt to do this.
https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/ruby/openstudio/sketchup_plugin/user_scripts/Reports/OSM_Diagnostic_Script.rb

It only checks for very small surfaces, or for more than one surface with the same geometry (or more than one sub-surface with the same geometry). Is the error triggered in the plugin on opening

[2015-04-01 01:06] DavidGoldwasser commented on #110
issue #561 which is an open feature request covers this

[2015-04-01 01:06] #110 closed

[2015-04-01 15:20] mdahlhausen opened #1567 "Results summary not aggregating energy use in monthly bins"
The results summary in OpenStudio is not aggregating the results correctly.

As an example, here is the gas consumption over the course of a year, which is reasonable:
![results_viewer](https://cloud.githubusercontent.com/assets/2249271/6944021/a784863e-d85f-11e4-91c0-ac4a08c57677.png)
This is what the results summary shows:
![results_summary](https://cloud.githubusercontent.com/assets/2249271/694

[2015-04-01 15:58] lukedorna opened #1568 "Blank Results Viewer in OpenStudio 1.7"
I just installed OpenStudio 1.7 and ran through the simulation of a simple office model. It's a central chilled/hot water plant, hot water reheat terminals, for a three story office building in CZ3.

Sadly, the OpenStudio results viewer shows no results, just a blank screen. I have not seen any instructions or indications about needing to enable the results viewer.

![image](https://cloud.githubus

[2015-04-01 16:28] macumber commented on #1568
Thanks @lukedorna, we will look into this

Possibly related to https://github.com/NREL/OpenStudio/issues/1567

[2015-04-01 16:29] macumber commented on #1567
Thanks @mdahlhausen

Possibly related to https://github.com/NREL/OpenStudio/issues/1568

[2015-04-01 16:48] macumber commented on #1568
@lukedorna can you provide an OSM to reproduce this?  What is your RunPeriod? Are you attempting to match an actual year or just use TMY file?

[2015-04-01 16:48] macumber commented on #1567
@mdahlhausen can you provide an OSM to reproduce this? What is your RunPeriod? Are you attempting to match an actual year or just use TMY file?

[2015-04-01 17:06] lukedorna commented on #1568
OSM attached. Simple tmy annual run peroid.
On Apr 1, 2015 12:59 PM, "Dan Macumber" <notifications@github.com> wrote:

[2015-04-01 17:06] lukedorna commented on #1568
I have the same issue as #1567 as well.

[2015-04-01 17:27] mdahlhausen commented on #1567
Hi Dan,

Here is the OSM file.
RunPeriod is a full year, using a TMY file.
Windows 7 Enterprise, 64 bit

We were able to replicate the problem with OS 1.6.3, and on another machine
running Windows 7 with OS 1.6.3 and OS 1.7.  The problem did NOT show up in
OS 1.6.3 on a Mac.

On Wed, Apr 1, 2015 at 1:05 PM, Dan Macumber <notifications@github.com>
wrote:

[2015-04-01 19:10] macumber opened #1569 "ResultsViewer cannot open file on network drive"
Can open sql file on a mapped drive but not at a network path such as \xhome\home\eplusout.sql

I think this also affects Parallels users as some files are stored in the Mac home dir and appear in Windows as network locations

[2015-04-01 19:11] macumber commented on #1569
Reported by Ian Doebber

[2015-04-01 19:22] macumber commented on #1567
@mdahlhausen can you attach a link to your file?  I don't think email attachments come through

[2015-04-01 19:23] macumber commented on #1568
@lukedorna can you attach a link to your file? I don't think email attachments come through

[2015-04-01 19:36] mdahlhausen commented on #1567
let's try google drive [link](https://drive.google.com/file/d/0B20gWa-PODz5em1WZS1sZWZqOUk/view?usp=sharing)

[2015-04-01 19:44] lukedorna commented on #1568
@macumber  At the risk of sounding ridiculous, I have no clue how to attach a file in github. I just discovered you guys moved your support to this platform, which appears to be geared toward developers, not simple users like me.

Can you tell me how to get a file to you?

[2015-04-01 19:47] macumber commented on #1568
No its not your problem, its ours.  You can either upload it to something like dropbox and then send a link or you can email openstudio@nrel.gov

[2015-04-01 19:52] lukedorna commented on #1568
@macumber File sent to openstudio@nrel.gov with subject "OSM for issue #1568"

[2015-04-01 19:53] macumber commented on #1568
excellent thanks!

[2015-04-01 20:11] macumber commented on #1567
Hmm, I am not seeing this:

![4-1-2015 1-53-45 pm](https://cloud.githubusercontent.com/assets/1327850/6950313/44d0b090-d877-11e4-8dbe-09b59f2c0970.jpg)

Can you go into your model's companion directory and find the report.html file, for me this is in E:\test\Issue1568\run\6-UserScript-0\.  Can you open that html file in a web browser (preferably Chrome or Firefox) and see if it renders?

[2015-04-01 20:13] macumber commented on #1568
Hmm, I am not seeing this:

![4-1-2015 2-09-39 pm](https://cloud.githubusercontent.com/assets/1327850/6951526/43617468-d879-11e4-850f-07812325b82f.jpg)

Can you go into your model's companion directory and find the report.html file, for me this is in E:\test\Issue1568\run\6-UserScript-0. Can you open that html file in a web browser (preferably Chrome or Firefox) and see if it renders there?

[2015-04-01 20:14] macumber commented on #1567
I wonder if you are somehow looking at stale results?

[2015-04-01 20:14] macumber commented on #1568
What operating system are you on (Windows 7?) and are you using 32 or 64 bit OpenStudio?

[2015-04-01 20:20] lukedorna commented on #1568
![image](https://cloud.githubusercontent.com/assets/11756861/6951613/82d125ba-d88a-11e4-93a9-15a16e54e33d.png)

This is what I see when I navigate to the file you directed, which is similar to the other issue.

Also, I am using Windows 7, 64 bit, with 64 bit OpenStudio.

[2015-04-01 20:31] muh182 commented on #1567
@macumber I do receive the same error as @mdahlhausen mentioned it. Here is my screenshots from the app and html file.

![capture](https://cloud.githubusercontent.com/assets/2249257/6951870/5e282e28-d88c-11e4-9466-092690a21316.PNG)

![capture1](https://cloud.githubusercontent.com/assets/2249257/6951871/6094a7cc-d88c-11e4-9b97-4264230e5ab6.PNG)

May be we are missing some dependencies.

[2015-04-01 20:31] macumber commented on #1568
@asparke2 the only thing I can think of (besides Webkit problems) would be changes to the sql queries

@lukedorna if you save your model as different files and run this multiple times do you get different results html files?

[2015-04-01 20:34] mdahlhausen commented on #1567
It renders, but gives the same error.  [here is the folder](
https://drive.google.com/folderview?id=0B20gWa-PODz5fjdZZVZHRzQ4MDh5UEJnQlBuTWFXblgtUHgyOC1OdzBFTnZ3SGliMFNUSzg&usp=sharing)

[2015-04-01 20:37] lukedorna commented on #1568
@macumber
![image](https://cloud.githubusercontent.com/assets/11756861/6952050/3c39d266-d88d-11e4-8d86-7fb7ba79b24f.png)

Nope. The resaved file provides the same results. Note that the results are actually correct in the energyplus output file. It's just the OS results viwer that has the weird values.

[2015-04-01 20:54] macumber commented on #1567
I am simulating with EnergyPlus, Version 8.2.0-8397c2e30b and you seem to be simulating with EnergyPlus, Version 8.2.0-e53a815bb2.  This should not be possible but I guess it is.  Can you try running scan for tools and then re-run your simulation?

[2015-04-01 20:55] macumber commented on #1568
I am simulating with EnergyPlus, Version 8.2.0-8397c2e30b, can you check what version you are running by looking at the eplusout.err file or the eplustbl.htm file?

If you have something different can you try running scan for tools and then re-run your simulation?

[2015-04-01 21:04] kbenne opened #1570 "Update to EnergyPlus 8.3"

[2015-04-01 21:12] mdahlhausen commented on #1567
I tried with both EnergyPlus versions and both had the same issue.  It shows up in the results viewer, so I don't think it is an issue with the EnergyPlus run.  any other ideas?

[2015-04-01 21:21] DavidGoldwasser opened #1571 "New building.clone breaks space surface matching"
I made a quick measure to test this out. Found a similar issue to what I see if I loop through spaces in an external model and clone them over one by one. The surface matching breaks.

Here is the test measure
https://github.com/NREL/OpenStudio-measures/blob/develop/NREL%20working%20measures/clone_building_from_external_model/measure.rb

Here is a screenshot in SketchUp
![4-1-2015 3-09-19 pm](http

[2015-04-01 21:28] DavidGoldwasser commented on #1571
![4-1-2015 3-24-39 pm](https://cloud.githubusercontent.com/assets/4857055/6953007/b3be7968-d883-11e4-8437-15c277fd721b.png)

I'm pretty certain, that the handles changing on objects as they clone plays a role in the issue; it isn't the surface names that match to each other, it is the handles. @kbenne this seemingly would also create issues re-linking to space types, thermal zones and stores, but

[2015-04-01 21:53] macumber commented on #1571
Oh gross, ok

[2015-04-01 21:54] macumber commented on #1567
How did you get OpenStudio to use a different version of EnergyPlus than Version 8.2.0-8397c2e30b

[2015-04-01 21:58] macumber commented on #1571
@DavidGoldwasser I'm not sure that cloning spaces one by one should preserve surface matching.  If you clone the entire building at once is it preserved?  Or if you clone an entire story is surface matching preserved within the story?

[2015-04-01 22:03] macumber opened #1572 "Updates to measure guide"
Boolean arguments not working?
Return types of getArgument methods
Discuss registerNA

[2015-04-01 22:16] asparke2 commented on #1568
@macumber I wonder if fixing the sql query here: https://github.com/NREL/OpenStudio/pull/1534 could have done something?  I added unit tests, but maybe messed something up?

[2015-04-01 22:21] macumber commented on #1568
@asparke2 maybe, I have not been able to reproduce this yet

[2015-04-02 00:36] AndaMar3 commented on #974
Option 1 is the most universal and versatile option in my opinion. Hopefully, it could be easily added to the 'Other Constructions' in the Construction Set window.

[2015-04-02 03:45] DavidGoldwasser commented on #1571
@macumber surface matching isn't preserved using building.clone. The screenshots in the original post are the results of the measure I created that uses building.clone with 1.7.0.

[2015-04-02 13:37] mdahlhausen commented on #1567
I'm not sure; maybe I had version 8.2.0-e53a815bb2.before version 8.2.0-8397c2e30b?.  @muh182 is having the same issue with version 8.2.0-8397c2e30b.  We can demo it tomorrow in our call with @muh182  and @nmattise.

[2015-04-02 14:24] kbenne opened #1573 "Some RefrigerationCase defrost options are not supported"
The problem is that you don't have access to the supporting curve in the app.

https://unmethours.com/question/4096/defrost-correction-curve/

[2015-04-02 15:42] macumber commented on #1567
I am guessing that this might be due to use of the wrong EnergyPlus version, see this post https://unmethours.com/question/2660/energyplus-sql-query-returns-incorrect-value/

Let's talk tomorrow with @kbenne

[2015-04-02 17:22] DavidGoldwasser commented on #801
@macumber I'll close this, but by not nesting the weather file for reporting measure tests in the typical location made by the OS app, that does mean that anyone writing a reporting measure test (which should be everyone writing a reporting measure) will need to edit their OSM file with a text editor to provide the flattened weather path. We will have to update measure writing guide to show people

[2015-04-02 17:22] #801 closed

[2015-04-02 18:01] macumber commented on #1572
Discuss how users can attach a weather file and run OSM for reporting measure, may need to update default reporting measure

[2015-04-02 18:39] macumber commented on #1491
Certain tabs create unique objects the first time you open them (e.g. settings tab).  So clicking on the tab really does change the model.  These objects should be initialized either on open or in the model ctor.  Doing in the ctor is not great because we do have the idea of model as a component.  Maybe model could initialize everything but component would not?

This issue is worse now that we are

[2015-04-02 18:39] macumber commented on #1491
@kbenne @evanweaver FYI

[2015-04-02 19:04] macumber commented on #138
@evanweaver I believe you are working on this

[2015-04-02 19:04] macumber commented on #298
@evanweaver I believe you are working on this

[2015-04-02 19:04] macumber commented on #407
@evanweaver I believe you are working on this

[2015-04-02 19:05] macumber commented on #1555
@evanweaver I believe you are working on this

[2015-04-02 19:06] macumber opened #1574 "Weather files with non-epw extensions (e.g. amy)"
The app should allow you to select the _._ filter for opening weather files with other extensions

[2015-04-02 19:07] macumber commented on #1574
Also, if you set an amy file, save your osm, then set another weather file, the previous amy file remains in the files dir.  I think the code to clean up weather files must only be looking for epw files.  It should also look for the name of the file referenced by the current model

[2015-04-02 19:07] macumber commented on #1574
@evanweaver I believe you are working on this

[2015-04-06 21:54] dstuder opened #1576 "Results Summary View Not Working Properly in 1.7"
The Results Summary tab in OS 1.7 is not displaying end-use energy consumption properly. Annual values are incorrect and are apportioned oddly over the year. Values were identified as incorrect by converting the OS total kWh to GJ, comparing that value to the energy use shown in the E+ .htm file, and noting that the two do NOT match.

![image](https://cloud.githubusercontent.com/assets/6117383/701

[2015-04-06 21:59] macumber commented on #1567
Determined that the issue was OpenStudio incorrectly using EnergyPlus 8.2.0 instead of EnergyPlus 8.2.0-Update 1 even after running scan for tools.  After removing EnergyPlus 8.2.0 and installing [v8.2.0-Update-1](https://github.com/NREL/EnergyPlus/releases/tag/v8.2.0-Update-1.2) then running scan for tools, the issue was resolved.  All users should update their 8.2.0 installs to 8.2.0 Update 1.

[2015-04-06 21:59] #1567 closed

[2015-04-06 21:59] macumber commented on #1576
Duplicate of https://github.com/NREL/OpenStudio/issues/1567

 Remove EnergyPlus 8.2.0, installing v8.2.0-Update-1, then running scan for tools

[2015-04-06 21:59] #1576 closed

[2015-04-06 22:01] macumber commented on #1568
@lukedorna can you check if the resolution to https://github.com/NREL/OpenStudio/issues/1567 works for you?

Remove EnergyPlus 8.2.0, install [EnergyPlus v8.2.0-Update-1](https://github.com/NREL/EnergyPlus/releases/tag/v8.2.0-Update-1.2), then running scan for tools

[2015-04-06 22:16] macumber opened #1577 "Scan for tools finding wrong EnergyPlus version"
Several users were able to run EnergyPlus 8.2.0 with OS 1.7.0 instead of EnergyPlus 8.2.1-Update-1, https://github.com/NREL/OpenStudio/issues/1567. This should not be possible.

Best fix is https://github.com/NREL/OpenStudio/issues/1553

We should do something for the 8.3.0 release

[2015-04-07 16:05] evanweaver opened #1578 "Add per-column precision to gridview"

[2015-04-07 16:21] dstuder opened #1579 "Sensible Heat Fraction Incorrect Inheritance Tag"
Looks like the Sensible Heat Fraction field in the People Definition object is incorrectly assuming that it has been inherited from another object, since it's displayed in green. Observed in OS 1.7 on a Windows machine.

![image](https://cloud.githubusercontent.com/assets/6117383/7027921/71904d5e-dd20-11e4-84a3-2c75a2f2aa86.png)

[2015-04-08 20:04] dstuder opened #1581 "Consistent Placement of Add/Delete/Copy Buttons"
It would be more intuitive if the add/delete/copy buttons were placed on a consistent part of the page, and in a consistent relation to each other. See example screenshots below.

![lump controls 3](https://cloud.githubusercontent.com/assets/6117383/7054185/dc650960-de08-11e4-8efe-ed12dae04b78.png)
![lump controls 2](https://cloud.githubusercontent.com/assets/6117383/7054186/dc6543f8-de08-11e4-896

[2015-04-08 20:07] evanweaver commented on #1581
@dstuder your middle image, the grid view, is by Marj's design.

[2015-04-08 20:08] dstuder opened #1582 "Increase Header Emphasis"
It would be awesome if the text identifying which tab a user has navigated to was larger/emphasized. This same comment applies to tab titles as well.

![header emphasis](https://cloud.githubusercontent.com/assets/6117383/7054291/8bf2bca6-de09-11e4-87ac-6495eda96fbb.png)

[2015-04-08 20:11] dstuder opened #1583 "Wrap Tab Boundary Around Whole Viewing Pane"
I've noticed that while the top and left tab boundaries are bounded by blue, the right and bottom tab boundaries are not (see screenshot). To me, this makes it look like the page content bleeds to the right and down off the page even when there is no additional content (granted, sometimes there is more content, but this is indicated by scroll bars). In future releases, I think it would be great if

[2015-04-08 20:12] dstuder opened #1584 "Expand Arrow Trigger Area"
I’ve noticed that the arrows that expand sections (in this specific instance, I was defining schedules) seem to only operate if you click to the left of the arrow, and won’t work if you click the arrow itself. I was puzzled by this for a long time thinking that my computer was not being responsive. If there’s a way to move the trigger point so that it overlays the arrows, or becomes larger such th

[2015-04-08 20:17] dstuder commented on #1581
@evanweaver I don't think it matters what the final design is, but I think that it is important to keep it consistent across tabs. I see that the dark gray bar is present at the bottom of the viewing pane in the grid view tab, but is truncated in the Loads tab and placed at the top of the viewing pane in the HVAC Systems tab. I guess my comment really should extend to this background pane as well,

[2015-04-08 20:50] dstuder opened #1585 "Thermal Zones Tab Rectangular Button Revision Request"
It was recently pointed out to me that you can click the dark gray rectangles at the top of columns in the “Thermal Zones” tab to add them to the “Custom” view. It’s a pretty neat feature, but I doubt I would have ever figured that out on my own. Just my two cents, but I feel like turning those into actual buttons would be helpful to users. One solution would be to add a button that said “Add to C

[2015-04-08 20:58] macumber opened #1586 "joinAll method seems to be order dependent"
Need more testing around this method

[2015-04-08 21:58] marj-schott commented on #1582
These are smaller in order to avoid taking up too much space in the interface. There will be times when there are more tabs and we will need the room. Because of the strong affordances of the tabs I think we are OK in assuming that these will be understood as headers because they are in the tabs.

[2015-04-08 22:02] macumber commented on #1586
@asparke2 FYI

[2015-04-08 22:03] marj-schott commented on #1581
The bar with the buttons goes under the area where it provides actions. In the third example the buttons do not effect the center panel and should not be shown under that panel. In the second the buttons do effect the central panel and so should go across the as they do. We can move the trash button over to the right more like the 3rd image if that makes more sense.

HVAC is a different story and

[2015-04-08 22:16] marj-schott commented on #1585
This would have to be a toggle button that then said "Remove from Custom". I think we should talk with Andrew to see if he thought this change would solve this problem and also with Evan to see how hard that would be to do.

[2015-04-08 22:27] marj-schott commented on #1585
It sounds like Kyle, Dan, Larry, Andrew, and others have had issues with the custom select. So we should all come to some idea that pleases everyone.

[2015-04-09 09:35] felixcollins commented on #277
Is there a work around?

[2015-04-09 13:23] dstuder commented on #1581
@marj-schott That logic makes sense. I do think it would be a little easier to use if the trash button was scooted over to the left (in the 2nd image) much like it is in the 3rd. Thanks for the info!

[2015-04-09 13:28] dstuder commented on #1582
@marj-schott Planning ahead?!? Nice! But what about the white text that tells you what page you're on ("Site" in this case)? Would it take up too much screen real estate to make it a bit larger/bold? Also, delaying the start of the first tab (for pages with tabs) could also help to un-crowd that space and make it easier to identify which page the user is on.

[2015-04-09 14:16] macumber commented on #277
Duplicate of https://github.com/NREL/OpenStudio/issues/185

[2015-04-09 14:16] #277 closed

[2015-04-09 14:21] dstuder opened #1587 "Grid View Column Width Sizing"
It appears to me that the column widths in grid view mode are autosizing to fill the entire width of the viewing pane. However, in certain views, this autosizing behavior causes the units in the right-most column to be cutoff from view and necessitates use of a horizontal scroll bar. Is there a way to tweak the logic so that this does not happen? The image below shows this cutoff occurring for the

[2015-04-09 14:53] marj-schott commented on #1584
I am having some difficulty reproducing this, could you send a screenshot?

[2015-04-09 15:46] MatthewSteen opened #1588 "1.7.0 OSM library files not updated"
The building type OSMs are still in version 1.6.0 so after loading the update version dialog shows up. The HVAC library is version 1.6.1.

[2015-04-09 15:51] MatthewSteen opened #1589 "Launch OS button doesn't work for OSM files on network drives"
Possibly searching for OS 1.6.0 which I don't have installed.

Plugin/OS build = 1.7.0.c5bad04b2c

[2015-04-09 15:57] macumber commented on #1588
This doesn't really cause you any issues other than seeing the dialog right?  Possibly some extra time to version translate these?

[2015-04-09 16:00] macumber commented on #1589
What version do you see in the plugin's about menu?  Can you open the ruby console and then press this button?  Do you see any output?

[2015-04-09 16:00] MatthewSteen commented on #1588
Yeah, not a big deal, just an extra mouse click.

[2015-04-09 16:04] MatthewSteen commented on #1589
See above for version. The console does show that it's accessing 1.7.0.

[2015-04-09 16:08] marj-schott commented on #1587
@kbenne and @evanweaver you two would know how this is set up and could address this better than me. I am not able to reproduce this. It looks like it is not set to fit until you exceed some panel width and I am not seeing the units get cut off when it autosizes. I am on a Mac if that makes any difference.

[2015-04-09 16:12] MatthewSteen commented on #1550
This happens in the Facility tab in 1.7.0 after applying a measure and accepting changes.

![openstudio_issue1550-1](https://cloud.githubusercontent.com/assets/8397034/7071182/e272c58e-dea0-11e4-9cdc-2a767cfb38d5.png)

[2015-04-09 16:13] macumber commented on #1589
My guess is that the issue is the file path which appears to be a network location

[2015-04-09 16:17] marj-schott commented on #1583
I think this is one that we should wait and see if we get additional feedback indicating that this is confusing. I would hate to give up any additional content space if we don't have to and I think this would take a quite a bit of custom GUI work to implement.

[2015-04-09 16:20] MatthewSteen commented on #1589
In previous versions I've been able to use the button for network locations.

[2015-04-09 16:26] marj-schott commented on #1584
@evanweaver and @kbenne  Could you respond to this?

[2015-04-09 16:32] macumber commented on #1583
I kind of prefer it the way it is.  I think if this is just a matter of competing preferences Marj should make the final call

[2015-04-09 16:38] macumber opened #1590 "Add Model::path() method to support copying files to resources"
Use case is when calling setWeatherFile in a measure the weather file should be copied into the companion directory for you.  Currently logic to do this lives in the OS app, it should move into model.

Requires setting this path when the file is loaded and managing the path as file is saved/saved as.

Will also require that this is set on model when running measures.  Need to discuss if this path

[2015-04-09 16:39] macumber commented on #1590
I anticipate that this feature will require a lot of testing.

[2015-04-09 16:39] macumber commented on #1590
@DavidGoldwasser @evanweaver @kbenne @asparke2 @nllong you guys want to weigh in?

[2015-04-09 16:40] macumber commented on #1590
Might be able to implement https://github.com/NREL/OpenStudio/issues/1444 at same time

[2015-04-09 16:40] macumber commented on #1590
@nllong we may need to coordinate on what this returns on server versus locally?

[2015-04-09 16:48] dstuder commented on #1583
Definitely a preference thing. I agree with @marj-schott's suggestion to take a wait and see approach, with the default to leave as-is.

[2015-04-09 16:57] evanweaver commented on #1587
There is a minimum column width that Qt has dynamically determined.  If we try to modify it, we are likely going to introduce other undesirable behaviors (obviously, Qt has spent considerable time tring to make their sizing work well on all operating system, and various applications).  Additionally, if we made a "fix", another user with just a few pixels less than we planed for, would be in the sa

[2015-04-09 16:58] dstuder commented on #1584
@evanweaver and @kbenne this appears to only be an issue on the "Schedules" tab of the "Schedules" page.

[2015-04-09 17:06] DavidGoldwasser commented on #1590
I'm doing some testing with the proof of concept BCL measure I wrote, which changes/set the weather file. It does change the weather path and downloads the component from BCL. Works fine via command line, and apply measure now, but had very odd behavior in PAT with local run. All of the jobs run, but they run with the original weather file, vs. the one on BCL. I would expect the simulation to fail

[2015-04-09 17:12] DavidGoldwasser commented on #1590
@macumber I think what you are suggesting is a good idea. In my case with example above the run section of the measure would be where the file is copied over, but I can see cases where we want to copy files over in the arguments section, in particular for measures that let you pull in resources from anywhere on your local system. We want that pulled in when arguments is run so you can do cloud PAT

[2015-04-09 17:13] asparke2 commented on #1590
Not sure how this would be different than `"#{File.dirname(__FILE__)}"` or something.

Below is the current code that the Create DOE Prototype Buildings Measure uses so that it will work on the Server, PAT and OS App, and OS App Apply Measure Now.  If what you are proposing helps simplify this, then yes, I support it.

[code]

[2015-04-09 17:39] macumber commented on #1590
Yeah I think this would be a more robust way to do what you are trying to do @asparke2

[2015-04-09 17:39] macumber commented on #1590
@rpg777 this is also helpful for reorganizing the exported radiance files

[2015-04-09 17:44] macumber commented on #1590
I am changing my mind on which path should be returned.  If you are running an apply measure now measure that sets the weather file then the weather file should be changed in the companion directory.  If you are running as part of a workflow then the input weather file should not be changed.  I assume this is what @asparke2 's code is doing.

[2015-04-09 17:47] macumber commented on #1590
It sounds like OSRunner needs a method for isApplyNowMeasure

[2015-04-09 21:01] DavidGoldwasser commented on #1590
@macumber if you aren't going to change the path as part of a workflow run, then how will PAT local run get fixed to work? It isn't working now if a measure tells it to sue a different weather file.

[2015-04-09 21:04] DavidGoldwasser opened #1591 "Filtering on BCL component attribute doesn't work for measures in OS app"
I made test measure and added in filtering by attribute to create more specific search results than a basic search. It works fine in ruby measure test, but the app breaks in arguments section. The offending code is highlighted link below.
https://github.com/NREL/OpenStudio-measures/blob/develop/NREL%20working%20measures/get_weather_file_from_building_component_library/measure.rb#L61-67

Error I se

[2015-04-09 21:32] DavidGoldwasser opened #1592 "If file requested by OS:WeatherFile can't be found no simulation should be run."
This is related to issue #1590, but is a bit more specific so I filed it by itself.

The screenshot below shows an OSM file on the left that is the result of the ChangeBuildingLocation measure setting the weather file (EPW and DDY) to Chicago. The baseline model was set for Denver. The Denver weather file is in the "files" directory" and the Chicago weather file is in the EnegyPlus install. This w

[2015-04-09 21:36] DavidGoldwasser commented on #1591
I should point out the ChangeBuildingLocation measure works fine on server using spreadsheet or scripted workflow. So only issue I'm aware of is running in PAT. There does appear to be an issue in Apply measures now, but the file fixes itself the next time you open the file by copying the weather file with the "Files directory"  I have not tried changing via Apply Measures Now, and then running ri

[2015-04-09 21:47] macumber commented on #1592
No each datapoint does not currently get it's own resources directory which is why there is confusion

[2015-04-09 21:48] macumber commented on #1590
@DavidGoldwasser the weatherfile should be changed for the datapoint being run but not for the starting osm seed

[2015-04-09 21:48] macumber commented on #1591
Hovering over the error gave additional information pointing to the OpenStudio Attribute class

[2015-04-09 21:52] macumber commented on #1591
Looks like we need to load openstudioutilitiesdata here:

https://github.com/NREL/OpenStudio/blob/9eb5f1f4a27a9fe5376d0967b369e2da6ed6a800/openstudiocore/src/openstudio_app/main.cpp#L76

[2015-04-09 21:53] macumber commented on #1591
Related to the ongoing question of which subset of the ruby modules are available for measures mentioned here:

https://github.com/NREL/OpenStudio/issues/1383

[2015-04-10 01:22] MatthewSteen commented on #1589
@macumber I confirmed that it's because of the network location, button works for local paths.

[2015-04-10 14:30] #1588 closed

[2015-04-10 14:56] DavidGoldwasser commented on #1590
@macumber I agree with that, as long as the datapoint has a way to run with the correct weather file. For cloud PAT simulation we can't leave it where it is, because it is on local hard drive location. Has to get packaged up somewhere.

[2015-04-10 20:13] dstuder commented on #1579
Looks like this may also be occurring for the "North Axis" parameter on the "Facility" tab. At least I don't think this field is being inherited.

![image](https://cloud.githubusercontent.com/assets/6117383/7095919/73968f54-df9c-11e4-80fe-e78f114f56e6.png)

[2015-04-10 20:19] dstuder commented on #1587
@evanweaver Thanks for the explanation. I had assumed that the auto sizing was being performed incorrectly (and forcing the last few pixels off the end of the page) rather than the minimum possible width serendipitously being just wider than my screen.

I suggest that this still be turned into a feature request and left open. I'm not sure how the text entry space is set up in Qt, but there is obvi

[2015-04-10 20:21] macumber commented on #1579
There is a technical difference between defaulted (which building north axis is) and inherited.  I'd leave it to Marj to decide how (or if) she wants to differentiate between those

[2015-04-10 20:32] dstuder commented on #1579
@macumber I was under the impression that OS did not treat default values. Is that incorrect? If OS does display defaulted values in green, what rule set is used to determine if a value is a "default?"

[2015-04-10 20:34] macumber commented on #1579
Default corresponds to no value in the OSM file, the default value comes from the IDD or somewhere in the code.  Inheritance is a special (more complicated) case of default.

[2015-04-10 20:52] dstuder commented on #1579
@macumber Oh, well in that case, I guess neither of these are bugs.

@asparke2

[2015-04-12 05:52] macumber opened #1594 "RadianceParameters gtest failures"
ModelFixture.RadianceParameters_AmbientBouncesVMX (Failed)
ModelFixture.RadianceParameters_AmbientDivisionsVMX (Failed)
ModelFixture.RadianceParameters_KlemsSamplingDensity_Quantity (Failed)

I think these are probably related to the recent GUI work?

[2015-04-12 05:53] macumber opened #1595 "RubyTest-DaylightSim_Test-DaylightSim_genannual failure"
Not sure why this is failing now

[2015-04-13 13:13] kbenne commented on #1585
I think that a traditional button is too much visual clutter and importance for this feature, but the current look is certainly obfuscated.  But what is the alternative?  A button that says "Click here to add this column to the custom view" !  You're know best @marj-schott so I defer.

[2015-04-13 14:21] marj-schott commented on #1585
It does feel really heavy handed. I will work on some alternatives @kbenne and @evanweaver

[2015-04-13 14:35] evanweaver commented on #1579
@dstuder it's good GitHub form to close your own tickets when you realize they are chaff.

[2015-04-13 15:02] #1579 closed

[2015-04-13 15:04] MatthewSteen opened #1596 "measure Set Exterior Roof Assembly to User Input U Value references walls"
Several lines reference Wall instead of RoofCeiling. Email with changes to measure.rb file inbound.

Line 154
Line 323
Line 337
Line 344

![openstudio_issue1596-2](https://cloud.githubusercontent.com/assets/8397034/7119392/7f258244-e1c2-11e4-96b9-2468eb7badf7.png)

[2015-04-13 16:09] marj-schott commented on #1585
What about this idea? It works sort of like favorites so I am using that style of icon. It would go on the column and on the custom button to help clarify. @dstuder , @kbenne , @evanweaver , @ljbrackney

[2015-04-13 16:24] DavidGoldwasser opened #1597 "API allows you to enter invalid object names"
I ran acros this testing fix for issue #1591. It seems like the fix is more likely related to changes made between 1.7.1 and 1.7.2 than fixes made for BCL attributes. Below are screenshots of the issue. It doesn't seem to matter what weather file I chose. I hit the same thing. If you look at screenshots from #1591 you can see that it didn't hit the issue then?

Screenshots in apply measures now
![

[2015-04-13 16:26] evanweaver commented on #1585
I think it is a simple, additional visual queue, which utilizes a currently common paradigm.  I like it, and like Kyle, I defer to you so you have my proxy vote too.

[2015-04-13 16:30] DavidGoldwasser commented on #1597
Here is the site object from the ruby test.
OS:Site,
  {34fceb3c-6e0d-46e1-8ddf-19844eea695a}, !- Handle
  Denver Centennial  Golden   Nr, CO, USA, !- Name
  39.74,                                  !- Latitude {deg}
  -105.18,                                !- Longitude {deg}
  -7,                                     !- Time Zone {hr}
  1829,                                   !- Elevation {m}
  ;

[2015-04-13 16:40] #1591 closed

[2015-04-13 16:55] DavidGoldwasser commented on #1597
I updated title reflect the cause of the issue. People shoudl be able to ignore this if they know the issue, but seems like the API should be smart enough to avoid it.

[2015-04-13 18:32] DavidGoldwasser opened #1598 "dynamic generated argument choice values in measure.xml"
Looking at the test BCL measure I see that measure.xml populates measure argument choice values.
https://github.com/NREL/OpenStudio-measures/blob/develop/NREL%20working%20measures/get_weather_file_from_building_component_library/measure.xml

I'm not sure if this is the desired behavior? This may be dynamic for a number of reasons. New objects added, old objects may be removed, and private content

[2015-04-13 19:59] DavidGoldwasser opened #1599 "Could use feedback when loading measure arguments with BCL search"
In the OS app you see this when you go first select the measure. It doesn't show anything is happening while the search is going on. You still see "Select Measure to Apply" after choosing one, until search is done.

When adding measure to workflow, the delay occurs when you first take the measure and drop it on the dropzone. It doesn't look like it took. Then when it does show up the arguments are

[2015-04-13 20:13] evanweaver commented on #1594
@macumber originally, the default values for the radiance were neither "coarse" or "fine", but a mix of the 2.  The gtest values now match the coarse settings which are now consistently applied.

[2015-04-14 13:24] macumber opened #1601 "PAT ruby script path not set"
User reported this issue: https://unmethours.com/question/4404/primary-ruby-script-path-not-set-for-passed-in-measure/

[2015-04-14 14:42] marj-schott commented on #1585
@kbenne , @evanweaver : here are the files for the heart button. I think it is the most intuitive solution.
![custom_on](https://cloud.githubusercontent.com/assets/8094932/7139153/ea0918ae-e281-11e4-95a9-f74cbffe8113.png)
![custom_off](https://cloud.githubusercontent.com/assets/8094932/7139163/ef85827c-e281-11e4-98f5-d8388f7b33a1.png)
![custom_over](https://cloud.githubusercontent.com/assets/80949

[2015-04-14 15:52] macumber commented on #1599
Apply measure now dialog is also slow, need some measures that have sleep commands in arguments and run to test

[2015-04-14 15:56] macumber commented on #1601
Link to error message in code https://github.com/NREL/OpenStudio/blob/3aaa0984dbc185867261bde6305b141deb118d5e/openstudiocore/src/runmanager/lib/RubyJobUtils.cpp#L1212

[2015-04-14 16:10] DavidGoldwasser opened #1602 "Apply Measures Now dialog taking 5 seconds to Open on my computer"
I think this is just because I have so many measures in my measure directory (168). It seems that this dialog may parse the XML data each time it is opened. I think the "measures" tab just does this when the app is launched. I wonder if this dialog should do the same. All the dialog should need at first is the taxonomy information.

@macumber @asparke2 and @evanweaver any thoughts?.

[2015-04-14 16:11] DavidGoldwasser commented on #1602
I did find that trimming out un-necessary choice options off the XML on a few BCL search measures trimmed about 1/4th of a second. I'll keep an eye on those measures to manage the XML.

[2015-04-14 16:48] DavidGoldwasser opened #1603 "OpenStudio app won't launch after force quit (in some instances)"
So this happened to me yesterday and today. I was working with the App for a few hours, and at some point it's perforce got bad, and appeared to hang. In this case I was reverting changes in a model and it got stock on loading it.

After the force quit when I launch the OS app, it starts a process but not the application. It doesn't affect the PAT or the plugin.

When this happened I tired the fol

[2015-04-14 18:01] asparke2 commented on #1585
@marj-schott  I like it, such a sweet fix (and it's universally understandable)!

[2015-04-14 18:11] asparke2 opened #1604 "PumpConstantSpeed - PumpFlowRateSchedule not in schedule registry"
The "Pump FlowRate Schedule" for PumpConstantSpeed does not appear to be put in the schedule registry correctly.  Therefore, this method will not work.  To reproduce:

1. Run this script.
[code]
2. Resulting error:
`
setPumpFlowRateSchedule':C:\OpenStudio.x64\openstudiocore\src\model\ScheduleTypeRegistry.cpp@88 : No 'Pump Flow Rate Schedule' Schedule is registered for class PumpConstantSpeed.`

[2015-04-14 18:32] kbenne opened #1605 "Error in AirLoopHVACUnitarySystem Library"
** Severe  ** AirLoopHVAC:UnitarySystem = UNITARY - CW COOLING - HW HEATING - CAV - HW REHEAT
   **   ~~~   ** Supply Fan Object Type = FAN:CONSTANTVOLUME
   **   ~~~   ** Fan type must be Fan:OnOff when Supply Air Fan Operating Mode Schedule Name = Blank.

[2015-04-14 18:40] DavidGoldwasser commented on #1599
@macumber I have slow dialog lunch under issue #1602

[2015-04-14 18:43] asparke2 opened #1606 "HW Coil in AirTerminalSingleDuctParallelPIUReheat cannot be connected"
The coil link icon in the inspector is not available for the AirTerminalSingleDuctParallelPIUReheat, which means you can't hook up the HW coil to a plant loop.  See picture below from 1.7.0.

![image](https://cloud.githubusercontent.com/assets/2009290/7144101/5ed10156-e2a0-11e4-8e0e-89dff3f167cc.png)

Suggested workaround:

Make an OpenStudio Measure containing the following code to hook up the co

[2015-04-14 18:43] DavidGoldwasser opened #1607 "Seeing broken script on one of new BCL measures but not the other"
Not sure of the cause. They both use BCL attributes, and the one with the error works in app despite the broken script icon. Here is link to problematic one
https://github.com/NREL/OpenStudio-measures/tree/develop/NREL%20working%20measures/get_exterior_wall_construction_from_bcl

screenshot of problematic measure
![4-14-2015 12-38-54 pm](https://cloud.githubusercontent.com/assets/4857055/7144590/d

[2015-04-14 19:14] MatthewSteen opened #1608 "Thermal Zone tab crash when editing zone equipment"
To reproduce in 1.7.1:

1. create several thermal zones
2. add zone equipment to each (tested on FCUs and WSHPs)
3. move through the zone equipment like you're trying to edit each one
4. if you have one selected, select another, and then click the IG scroll bar before the app has had time to switch to the next one.

At this point the app will close or crash (closed for me on a new model, crashed o

[2015-04-14 20:45] DavidGoldwasser commented on #1607
I think this was issue. I had return false in arguments section when no argument choices are returned. Since I don't have access to runner to do registerError I instead gave informative message under the display name for the choices.

[code]

[2015-04-14 20:45] #1607 closed

[2015-04-14 20:52] DavidGoldwasser opened #1609 "Allow use of BCL component attributes in OpenStudio API search"
Currently workflow to search for components with specific attribute values requires a lot of code, and also runs slow in some situations. Ideally a method similar to what is available in the BCL API that allows you to enter a number of attribute name/value pairs, and get back a list of components that meet those criteria.

[2015-04-15 01:08] MatthewSteen opened #1610 "boiler efficiency curve causes fatal error"
Steps to reproduce in 1.7.1:

1. Select an option from the field `Efficiency Curve Temperature Evaluation Variable`
2. Run the model
3. Change the field back to blank (default)
4. Run the model

The sim will fail because the auto-generated curve hasn't been removed from the field `Normalized Boiler Efficiency Curve Name`. @kbenne

[2015-04-15 12:34] macumber commented on #1572
Show how to use is model dependent flag, @DavidGoldwasser anything else to add?

[2015-04-15 12:35] macumber commented on #289
See https://github.com/NREL/OpenStudio/issues/283 for the resolution

[2015-04-15 12:35] #289 closed

[2015-04-15 12:36] macumber opened #1611 "Make IP reporting measure"
Should contain everything in the eplusout.html file but in IP

@asparke2 @DavidGoldwasser can one of you assign yourself if you are already working on this?

[2015-04-15 12:36] macumber commented on #283
Feature request for IP reporting measure https://github.com/NREL/OpenStudio/issues/1611

[2015-04-15 12:37] macumber commented on #1611
Need to fix https://github.com/NREL/OpenStudio/issues/283 once this is complete

[2015-04-15 12:38] macumber opened #1612 "Enable standard controls in reporting measure views"
Ctrl-f for find, Ctrl-c, Ctrl-v

Requested at https://unmethours.com/question/4422/determining-the-heating-and-cooling-loads-for-each-zone/?comment=4442#comment-4442

[2015-04-15 13:00] jmarrec commented on #1611
+1

[2015-04-15 13:02] jmarrec commented on #1612
CTRL-V wouldn't be relevant, but yes, CTRL+F would be great (I always end up opening it in a web browser for that reason).
I wouldn't mind having an "open in browser" button, or make it the standard action when double clicking in the report (right now when double clicking, it opens in a separate window of the results viewer)

[2015-04-15 14:28] asparke2 commented on #1611
I'll take the lead on this, but will work with @DavidGoldwasser to build on the coffee work he's done.

[2015-04-15 15:20] DavidGoldwasser commented on #1611
Is this making an IP version of the eplusout.htm

I updated the annual end use summary to pull in additional data from the tabular energy plus results. Should that be the starting point for this? This builds on work done for COFEE with table of contents and modular methods for table and graph generation. Currently this version just writes html, but once we support gems it can write Excel as well,

[2015-04-15 15:35] DavidGoldwasser opened #1613 "sort order of measures in GUI should be alphabetical"
@macumber @axelstudios maybe this is related to API improvements mentioned in issue #1609.

The comment on YouTube about not finding measures is more common of an issue now that we have enough measures that results often span multiple pages. Ideally If I have enough screen space I'd like to see more than 10 at a time, but if I see 10 at a time, they should be alphabetical. Currently they are rever

[2015-04-15 15:53] macumber opened #1614 "joinAll fails on cases with inner loop in result"
![joinall](https://cloud.githubusercontent.com/assets/1327850/7163065/3580b552-e355-11e4-8036-61ad1903148f.jpg)

[2015-04-15 15:53] macumber commented on #1614
@asparke2 FYI

[2015-04-15 16:02] DavidGoldwasser commented on #1572
@macumber that sounds good. As far as the weather file, maybe add in some specifics about measure testing for reporting measure. That currently isn't covered under the "Measure Testing" or "Advanced Topics/Reporting Measure", section, but if a new reporting measure made in app is well commented, then maybe we don't need this?

[2015-04-15 16:32] DavidGoldwasser opened #1615 "Make Water Use Equipment part of space type and allow area and person weighted inputs"
This has been discussed, but not sure if it is still documented anywhere.. This is related to #825 and a few other issues.

Space types won't really be complete until we add this. It will make work easier on a lot of people to not have to add service water heating outside of space types. I have found through testing that if it is in the model and just not hooked up to a water system, that EnergyPl

[2015-04-15 16:47] DavidGoldwasser opened #1616 "Address naming discrepancies between BCL attributes and OpenStudio Standards"
In writing measure to use attributes from the model and from BCL, I had to map some name changes accross the two systems. It coudl be nice to bring these into alignment with each other.

cc: @macumber @asparke2 @nllong

Here are two examples.
In OpenStudio the "Intended Surface Type" is equivalent to the attribute type named "Construction" on BCL. OpenStudio uses CamelCase while BCL uses spaces be

[2015-04-15 16:56] rpg777 commented on #1595
WorksForMe[TM].  Where are you seeing failures, @macumber?

[code]

[2015-04-15 17:17] MatthewSteen commented on #1613
+1

[2015-04-15 18:13] MatthewSteen commented on #283
Also prevents the end use results from displaying in PAT.

[2015-04-15 19:58] DavidGoldwasser commented on #1613
The original post was about the "Find Measures" dialog, but there seems to be odd sorting in the Library within the app as well, shown below.

![4-15-2015 1-56-34 pm](https://cloud.githubusercontent.com/assets/4857055/7168009/68b5b75c-e377-11e4-95ff-0f1057d90fc8.png)

[2015-04-16 14:42] DavidGoldwasser opened #1617 "Repeatable crash when loading specific seed model"
I'm using develop build. The seed model doesn't have any measures in it, and neither does the PAT project. It is is a freshly made PAT project.

1. Launch PAT and make new project
2. choose "0416_lab_a.osm" as seed

Should crash with error about "Passed in measure does not have primary RubyScript Path set, which is required for RubyJobBuilder. It is an odd message since no measures are involved ye

[2015-04-16 14:58] DavidGoldwasser commented on #1617
Throwing away the database didn't make a difference. Neither did doing a simulation run in the OSM file (which ran successfully) and then saving the OSM.

I did load another OSM as a seed model to confirm that this doesn't always happen.

[2015-04-16 15:10] macumber commented on #1617
Great, seems related to https://github.com/NREL/OpenStudio/issues/1601

[2015-04-16 15:57] DavidGoldwasser commented on #1617
Also tried changing "My Measures" directory and throwing away my "BCL" directory. Neither of those did anything.

[2015-04-16 17:35] macumber commented on #1594
Closed by https://github.com/NREL/OpenStudio/pull/1600

[2015-04-16 17:35] #1594 closed

[2015-04-16 18:18] DavidGoldwasser commented on #1572
@macumber a question came in about using choice arguments from model objects. I gave an example of what I normally do which is using the normal choice object, since I typically want to filter.
https://unmethours.com/question/4501/how-to-make-a-choice-argument-for-all-objects-of-a-certain-type-measure/?answer=4504#post-id-4504

I saw issue #385 is related to this. We could probably expand on the me

[2015-04-17 00:31] DavidGoldwasser opened #1618 "Issue in IDF file when OSM file has thermal zone with same name as space within it"
In IDF thermal zone ends up with handle as name instead of the OS:ThermalZone name.
https://unmethours.com/question/4503/zone-handle-instead-of-name-e-file-output-not-os/?answer=4513#post-id-4513

[2015-04-17 00:37] macumber commented on #1502
@alnjxn I thought you might find this link interesting.  It is a web viewer for OSM files I am working on, I used this model as a test case :-)

http://rawgit.com/macumber/openstudio-vA3C/master/doc/Issue1502.html

[2015-04-17 00:42] DavidGoldwasser commented on #1616
Minor discrepancy sometimes between what the name of the component looks like on BCL, and what is return on a api call to response.name as shown in the measure test on the left.

On the website there are underscores in the object name. The API returns spaces instead of underscores. The importance of this if you are making a spreadsheet analysis (or a ruby based script like the measure test) you ha

[2015-04-17 01:16] macumber commented on #1618
Did you reproduce this @DavidGoldwasser?  Can we give this one to @kbenne I'm feeling a little overloaded on bugs lately

[2015-04-17 14:24] alnjxn commented on #1502
@macumber this is amazing! Would really love to help as more of this work gets moved to the web. very exciting.

[2015-04-17 15:20] DavidGoldwasser opened #1619 "Add colors to air loops objects"
Would be useful for render by air loop. I don't see a way to do render by plant loop, at least not on spaces (since multiple loops may apply) but it may still be good to have color on plant loops as well for non-geometric diagrams.

[2015-04-17 15:24] DavidGoldwasser commented on #1618
No, I haven't tried to reproduce it. @kbenne if you want to assign to me first I can reproduce it to confirm it happens, but the user description was pretty detailed.

[2015-04-17 16:06] mostaphaRoudsari commented on #1502
@macumber woohoo! We should have a load local file somewhere there. :tada:

[2015-04-17 16:47] rpg777 opened #1620 "Building shading surfaces exported incorrectly in RadFwdTrans"
Interior/exterior reflectance mismatch in the material definition, will result in colored surface materials in Radiance if shadingSurface.interiorVisibleAbsorptance and shadingSurface.interiorVisibleAbsorptance are different. Nice, huh?

[2015-04-17 17:36] macumber commented on #1502
Thanks :-)  We are going to be releasing this as a measure once I get the render by data working, eventually we want to integrate it into the app so you can click on surfaces in the web frame and have them get selected in the app.  The repo for this is here in case you are interested:

https://github.com/macumber/openstudio-vA3C

[2015-04-17 17:45] DavidGoldwasser commented on #1592
Wanted to link to same measure that get BCL site object which includes design day, water main temp, site object, and weather file.

When I add the main component, it results in path shown to epw in a temp zip folder
``ruby
new_site_object = componentData.get.primaryComponentObject.to_Site.get
``
https://github.com/NREL/OpenStudio-measures/blob/develop/NREL%20working%20measures/get_site_from_buildi

[2015-04-17 18:20] kbenne opened #1621 "EvaporativeCoolerDirectResearchSpecial::RecirculatingWaterPumpPowerConsumption is auto sizable in E+ 8.3"
Update the API to allow autosizing.  One side effect of this is that ::recirculatingWaterPumpPowerConsumption() will return optional<double> instead of double because the field may be autosized.

[2015-04-17 18:35] macumber opened #1622 "Need to SWIG time_t"
Apparently this is not automatically swig'd, used in DateTime.toEpoch,https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/utilities/time/DateTime.hpp#L121

[2015-04-17 20:19] kbenne opened #1623 "EvaporativeCoolerIndirectResearchSpecial::RecirculatingWaterPumpPowerConsumption is auto sizable in E+ 8.3"
Update the API to allow autosizing. One side effect of this is that ::recirculatingWaterPumpPowerConsumption() will return optional instead of double because the field may be autosized.

[2015-04-17 22:47] rpg777 commented on #1620
https://github.com/NREL/OpenStudio/commit/3d2c644211e5e9fd80b7bc54a33e25b4bee7b009

[2015-04-17 22:47] #1620 closed

[2015-04-18 17:03] mostaphaRoudsari commented on #1502
This is awesome! We should find a way to have an exporter from Honeybee OpenStudio component to this viewer. We had an issue at the time to load measures but I haven't tried it recently. Thanks for the link.

[2015-04-20 16:41] #1621 closed

[2015-04-20 16:41] #1623 closed

[2015-04-20 17:40] macumber opened #1625 "BCLComponent should use BCLXML for file access similar to BCLMeasure"
I thought these two shared that code but it looks like they still do not

@axelstudios @DavidGoldwasser FYI

[2015-04-20 18:09] macumber commented on #1625
Due to the fact that we have not written xml files for components from within OpenStudio

[2015-04-20 19:16] DavidGoldwasser commented on #1476
Good catch @MatthewSteen. @kbenne I just confirmed this on my machine as well. It took a little testing, but it appears that clicking anywhere on the name of the field title will do this. This same behavior happens on components in the HVAC tab as well, not just zone equipment on the Thermal Zone tab.

[2015-04-20 19:20] DavidGoldwasser opened #1626 "Ability to copy log messages from measures"
This would include copying out of the apply measures now dialog. Ideally it would be nice to do this in PAT run tab as well, but isn't as critical there since the log data is saved to disk (but not always easy to find).

[2015-04-20 19:24] DavidGoldwasser opened #1627 "HVAC Tab - Low Temp Radient components come in without any names"
I assume this can be fixed by giving the components in the library names. This happens two Electric, Variable Flow and Constant Flow. Even if Library objects are not named, the GUI and even the API normally forces a name if you don't have one. @macumber any thoughts why this ins't doing that? Maybe it gives new objects name even if you don't set it, but cloning an object may not?

Note in attached

[2015-04-20 19:30] DavidGoldwasser commented on #1286
@kbenne this seems to have broken. I'm wondering if it is related to the newer #1476 that @MatthewSteen identified. It almost seems like clicking on the field naem isntead of the "Hard Sized" radio button is activating the hard sized value field.

I have confirmed this, brought to my attention by unmet hours post.
https://unmethours.com/question/4610/outdoor-air-flow-rate-of-vrf-systems/?answer=46

[2015-04-20 20:25] DavidGoldwasser commented on #1618
I wasn't able to break it with some monkey testing. I did multiple spaces in zone with different space types. I matched zone and space name. GUI prevented me from also using duplicate name of space/zone for the space type. At first glance it appears like zone list names come from the space type name.

[2015-04-21 17:05] kbenne opened #1629 "Evap cooler 1.7.1 -> 1.7.2 version translation error"
Recent enhancements to indirect and direct evap coolers introduced an error in OS version translation.  The version translator was attempting to write to fields that are not available in the 1.7.1 IDD and as a result the new required fields were not inserted into the updated osm file.  A test named "ModelSimulationFixture.lifecyclecostparameters_osm" catches this error but at the time of the updat

[2015-04-22 14:42] germolinal opened #1632 "Incorrect results in OpenStudio App."
Hello everyone, I want to report the following issue.

 **When running a model from the OpenStudio applications, the monthly results shown within the application are different from those seen in EnergyPlus files** (i.e. Results Summary tab, when choosing EnergyPlus results and OpenStudio results). My model only has Lighting as loads.

[2015-04-22 16:49] DavidGoldwasser opened #1633 "Measure Names entered for new measure doesn't make it in as typed to BCL"
cc: @macumber @nllong @kflemin

This may need to be addressed both in OpenStudio and BCL.

When I make a new measure in the OpenStudio app called "Schedule Profile Report" this is what the start of the XML looks like

[code]

When I post this to BCL what the user see's seems to be "name" vs. "display_name"
https://bcl.nrel.gov/node/82784

The OS GUI's also use the "name" vs. "display_name" so the

[2015-04-22 16:52] DavidGoldwasser opened #1634 "Add ability for OS app to look for updated BCL components and measures."
Currently the user has to know something has been updated on BCL, to decide to update it, or stumble across it when searching for something else. A number of times I had updated measures but users didn't know there was a newer one with new features and or bug fixes. It would be great for a way in the GUI to update all BCL content for the latest version that works on my OS version.

From what I lea

[2015-04-22 17:04] macumber commented on #1632
Thanks @germolinal could you break this into two issues?  For the second issue, with differences in monthly results, it would be helpful to provide more description on what differences you are seeing.

[2015-04-22 17:44] germolinal commented on #1632
Divided, @macumber.

I have a weekly schedule for lighting, working the whole year. EnergyPlus results (through OpenStudio application) show similar electricity consumption along the year (modulated by the number of days in the month). However, the OpenStudio results only show electricity consumption during January and February.

[2015-04-22 18:03] macumber commented on #1632
Hmm that is odd, any chance you can send the OSM file over?

[2015-04-22 18:15] germolinal commented on #1632
sent!

[2015-04-22 18:17] macumber commented on #1632
Added file to the files repo

[2015-04-22 18:37] asparke2 opened #1635 "WaterUseEquipment.remove crashes if definition already removed"
If you first call .remove on a WaterUseEquipment's definition, then call .remove on that WaterUseEquipment itself, there is a crash.

To reproduce:

[code]

Suggested workaround:
Call .remove on all WaterUseEquipments, then afterward, .remove on their definitions.

Taylor Roberts from Group14 found this issue.

[2015-04-23 13:24] eringold opened #1636 "Output Control Reporting Tolerance units default to SI despite app unit preference"
In OS App v1.7.0, Windows 64-bit: if app unit preferences are set to I-P or SI, upon entering the Simulation Settings tab the Output Control Reporting Tolerance units will be SI (K).

While within the tab, cycling the unit preference to SI and back to I-P will change the tolerance units to I-P (R). Exiting and reentering the tab (with unit preference set to I-P) will reset the tolerance units back

[2015-04-23 15:58] #1570 closed

[2015-04-23 16:00] kbenne opened #1637 "DistrictHeating/Cooling capacity is autosizable in E+ 8.3"
Enable this feature in OpenStudio.   One side effect of this is that ::nominalCapacity() will return optional instead of double because the field may be autosized.

[2015-04-23 17:48] kbenne opened #1638 "HumidifierSteamElectric::ratedCapacity is auto sizable in E+ 8.3"
Enable this feature in OpenStudio. One side effect of this is that ::ratedCapacity() will return optional instead of double because the field may be autosized.

[2015-04-23 21:01] kbenne opened #1640 "Add HVAC Components Part 1"
There are many new HVAC features scheduled for addition.  To speed things up lets group some together and add them under the same branch and pull request.  Here in Part 1 include the following:

- [x] HeaderedPumps_ConstantSpeed (StraightComponent)
- [x] HeaderedPumps_VariableSpeed (StraightComponent)
- [x] TemperingValve (StraightComponent)
- [x] CoilPerformance_DX_Cooling (ModelObject)
- [x] Coi

[2015-04-27 14:52] DavidGoldwasser commented on #1636
Thanks, good catch. Below are additional fields affected in simulation settings

-Temperature Convergence Tolerance Value in the Simulation Control section.
- Min and Max Surface Convection fields in Heat Balance Algorithm.

Their is one field with units that wasn't affected by this issue. Surface Temperature Upper Limit in Heat Balance Algorithm.

[2015-04-27 15:59] DavidGoldwasser commented on #1618
User sent a file, and I was able to reproduce the issue.Somehow the user was able to make SpaceType names matching thermal zones names. (I must have doing something wrong before, or things have changed after 1.7.0. In 1.7.0 I can reproduce matching spaceType/thermal zone names.
https://github.com/NREL/OpenStudio-files/tree/master/Git%20Issue%20Files/Issue1618

In most cases the zone list takes on

[2015-04-27 16:03] DavidGoldwasser commented on #1618
@macumber seems like one for you. While this seems like may be minor, it is creating issue with some reporting measures. I'll look into specifically the annual end use one. It may be expecting zone names from the OSM to be in SQL results? not sure. Standard report does seem to run.

[code]

[2015-04-27 16:15] DavidGoldwasser commented on #1618
Ok, so when I tried this last week, I tried to name the space, space type, and thermal zone all with the same name. That isn't allowed.

- There is protection against a space and a space type having the same name
- There is protection against a space and and thermal zone having the same name.

- There is not any protection against a space type and a thermal zoen having the same name. That seems to

[2015-04-27 17:04] DavidGoldwasser commented on #1618
FYI - the reporting measure error he was seeing was un-related to the thermal zone names. It was a typo in the measure which I'm fixing now.
https://unmethours.com/question/4715/openstudio-run-fails-after-successful-simulation/?answer=4759#post-id-4759

[2015-04-28 00:25] MatthewSteen commented on #1618
@DavidGoldwasser regarding your 3 bullets above, I have routinely violated #2 as part of my regular workflow without problem. In SU and text editor:

1. Add New Thermal Zone for Spaces With No Thermal Zone
2. Rename Thermal Zones Based on Space Names
3. Open OSM in text editor and strip "Thermal Zone: " from all OS:ThermalZone object names

and have never run into a problem. he same name for space

[2015-04-28 15:08] DavidGoldwasser commented on #1199
I'll close this and open a new feature request for effective leakage area.

[2015-04-28 15:08] #1199 closed

[2015-04-28 15:10] DavidGoldwasser opened #1642 "Add Space Infiltration Effective Leakage Area object to library files"
Currently it is very hard in the GUI  to make a new object of this type, and soon it will be impossible (once facility tab has grid view). We should add an object of this type to all the library files we make for OS app. Don't change template by hand update the script that makes them to add this, otherwise we may loose it next time an update is made.

[2015-04-29 03:06] #1629 closed

[2015-04-29 16:03] CheyenneBerlin opened #1643 "adibatic exterior walls and extract data to use in matlab"
Hey,
I have some questions working with EnergyPlus, Open Studio and SketchUp, I'm trying to get my first project done, but its taking quite a while...
i try to figure out how to make two of my exterior walls adiabatic, is that possible?
And I would like to make my own graphes regarding the temperatur in the diffrent themal zones, how can I extract these data from OpenStudio?

Thanks for the help,

[2015-04-29 16:29] MatthewSteen commented on #1643
@CheyenneBerlin this isn't the place for questions, it's for submitting bugs or feature requests with the development team. Please ask questions on the [UnmetHours](https://unmethours.com/questions/) site.

[2015-04-29 16:36] #1643 closed

[2015-04-29 16:38] MatthewSteen commented on #1643
@CheyenneBerlin also see the [Guidelines for Contributing](https://github.com/NREL/OpenStudio/blob/develop/CONTRIBUTING.md).

[2015-05-01 18:33] eringold opened #1644 "Wrong unit shown for Heat Exchanger U-Factor Times Area Value in OS:HeatExchanger:FluidToFluid"
In OSApp v1.7.0, Windows 64bit:
![hxbug](https://cloud.githubusercontent.com/assets/10799524/7435120/cfa61f6c-f00e-11e4-96ac-57c4ee03cf16.png)
Should be Btu/h*F and W/K.

[2015-05-01 19:07] DavidGoldwasser opened #1645 "Sometimes get crash when pasting text into string argument value in measures tab"
This doesn't always happen, but has happened to me three times in last two days.
1. Load completed model
2. add in View data measure
3. Run simulation (simulation is successful)
4. Load rdd file
5. copy choice from rdd file into clipboard
6. return to OS app and past into string field.

When I re-launch and paste the exact same thing in, there is no crash. I didn't even re-copy, was still in my cl

[2015-05-01 20:13] DavidGoldwasser commented on #1645
Removed low frequency. Seems to be pretty easy to reproduce.

[2015-05-01 20:15] DavidGoldwasser commented on #1645
It also crashes if I go in and copy the text from the measure argument after sim run. Not just pasting into the field

[2015-05-01 21:02] eringold commented on #1608
@kbenne I also get this error (with OSApp v1.7.0, using FCU objects), but with the following additions to @MatthewSteen's list:

1. crash typically occurs after 6-12 cycles between selecting zone equipment and clicking the scroll bar before the object edit information loads (however, I have had it happen after only one or two cycles).
2. crash can occur if the selection cycle is between just one e

[2015-05-01 21:04] kbenne commented on #1608
OK.  I'll get to the bottom of this.  Probably related to the recent grid view feature.

[2015-05-05 19:15] kbenne commented on #1640
At this point all of the objects have been added for part one, but we need a little more development.

- [ ] Swig them.
- [ ] Add to GUI with Icons.
- [ ] Develop a pattern for Components interacting with three loops such as the absorption chillers.
- [ ] Create simulation tests.

[2015-05-05 20:38] kbenne opened #1648 "Remove AirLoopHVAC::addAirLoopComp"
addAirLoopComp has been marked deprecated for a long time in favor of using ::addToNode for everything.  Please remove it entirely and record the change in the changelog.

[2015-05-07 16:20] kbenne opened #1649 "HVACComponent::addToNode derived implementations have inconsistent behavior"
::addToNode is not consistent between StraightComponent, WaterToAirComponent, WaterToWaterComponent and AirToAirComponent.  StraightComponent will fail (return false) if ::addToNode is called on a component already attached to a system.  The other derived class of HVACComponent will first detach and then reattach to the new system.  Update all classes to be like StraightComponent failing when ther

[2015-05-07 21:35] eringold commented on #1399
+1. This feature would be great for compliance modeling (e.g., buildings with multiple baseline system types).

[2015-05-08 17:49] nllong commented on #1399
I think this would work for the analysis side if we couch these as array of values. So we would need array of strings, array of doubles and array of integers.

[2015-05-08 19:32] brianlball commented on #1399
Issue will be defining variables in the spreadsheet.

[2015-05-08 20:51] nllong commented on #1399
yeah, but we can treat them the same way as we do the discrete options.
Basically if it can be eval'd, then it is okay. So ["a","b", "c"], [1,2,3],
[1.5,2.0,2.5].

On Fri, May 8, 2015 at 1:32 PM brianlball <notifications@github.com> wrote:

[2015-05-08 20:58] brianlball commented on #1399
hmmm, whats the min max mean of the above? How would you sample that?

[2015-05-09 14:03] evanweaver opened #1650 "Results Tab Crash Bug"
Steps to reproduce:
1) Start OpenStudio,
2) Navigate to the Results Summary tab,
3) Navigate to the Run Simulation tab.

![image](https://cloud.githubusercontent.com/assets/4974134/7550464/0c7dbd92-f621-11e4-9c1e-9272ce22f6d2.png)

[2015-05-09 14:10] evanweaver commented on #1650
@macumber  @axelstudios  I think that this was introduced recently; any ideas on app development which may have caused it?

[2015-05-09 18:17] axelstudios commented on #1650
I'm not seeing that on v1.7.3 - Dan?

[2015-05-09 20:56] macumber commented on #1650
If this only happens in debug mode it is likely due to the debug console that I enabled

[2015-05-10 01:20] MatthewSteen opened #1651 "Convert method units documentation"
Some of the units listed for the built in convert method are displaying incorrectly on the [Measure Code Examples](http://nrel.github.io/OpenStudio-user-documentation/reference/measure_code_examples/) page. Looks like a markdown issue where units are displayed in italics instead of with a `*` separator. For example power is displayed as **ft_lb_f_/s** instead of **ft*lb_f/s**. Could be confusing f

[2015-05-15 13:51] kbenne opened #1654 "Plant Component Setpoint Operation Scheme"
The component setpoint operation scheme is not working for components after the supply side mixer, and directly upstream of the supply outlet node.  The workaround is to insert a pipe between the setpoint component and the supply outlet node.

This does not work.

![screen shot 2015-05-15 at 8 50 23 am](https://cloud.githubusercontent.com/assets/707488/7654013/8e9cefe2-fadf-11e4-8c8d-e7ebffd383a6.

[2015-05-15 16:03] macumber opened #1655 "SQLFile queries much slower for E+ 8.3 results"
Timeseries queries are up to 1000x slower for SQLFiles produced by E+ 8.3 than for E+ 8.2.  This seems to be the root cause of this issue:

https://github.com/macumber/openstudio-vA3C/issues/14

@mbadams5 are you able to take a look at this?  There is an example model attached to the ticket in the vA3C repo.

[2015-05-15 16:03] macumber commented on #1655
@kbenne @DavidGoldwasser FYI

[2015-05-15 16:18] macumber commented on #1655
This is the query that is much slower

openstudio::OptionalTimeSeries SqlFile_Impl::timeSeries(const std::string& envPeriod, const std::string& reportingFrequency, const std::string& timeSeriesName, const std::string& keyValue)

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/utilities/sql/SqlFile_Impl.cpp#L2434

[2015-05-15 16:22] macumber commented on #1655
Ultimately ends up at this sql query

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/utilities/sql/SqlFile_Impl.cpp#L2297

[2015-05-15 16:32] kbenne opened #1656 "VRF OA Unit IG policy"
Hide Zone Terminal Unit List.

[2015-05-15 16:33] kbenne commented on #1656
![screen shot 2015-05-15 at 11 32 49 am](https://cloud.githubusercontent.com/assets/707488/7657277/31341a1c-faf6-11e4-84d4-384328828d28.png)

[2015-05-15 17:28] macumber opened #1657 "SketchUp Plug-in installation error message does not apply to all cases"
The sketchupArchErrorMessage set at:
https://github.com/NREL/OpenStudio/blob/develop/NSIS.template.in#L768

is shown for several error cases for which it does not apply, this confuses many users:

https://unmethours.com/question/7835/installation-openstudio-170/

This is the error users see:

"32-bit Openstudio is incompatibile with 64-bit Sketchup 2015. The OpenStudio Sketchup Plug-in will not in

[2015-05-15 17:31] macumber commented on #1657
I believe this has to do with SketchUp installing to different directories or setting different registry values for international users

[2015-05-15 17:36] macumber commented on #1657
This post indicates that you have to install SketchUp on the C: drive, https://unmethours.com/question/4648/sketchup-2015-error-with-openstudio-170-plugin/

[2015-05-15 18:48] kbenne opened #1658 "StraightComponent::addToNode behaves differently from other HVACComponent derived types"
StraightComponent::addToNode will return false if the component is already attached to a system.  Other types will remove from existing system and add to the new node.  Please make StraightComponent consistent with other types.

[2015-05-15 20:33] macumber commented on #1655
@mbadams5 can you look into this test failure too?

SqlFileFixture.CreateSqlFile

unknown file: error: C++ exception with description &quot;Error executing SQL statement: insert into reportdatadictionary (ReportDataDictionaryIndex, IsMeter, VariableType, IndexGroup, TimestepType, KeyValue, VariableName, ReportingFrequency, ScheduleName, VariableUnits) values (1, &apos;0&apos;,&apos;Sum&apos;, &apo

[2015-05-20 16:57] asparke2 opened #1660 "PAT and OS App helps links are dead"
The OS App and PAT Help>OS App/PAT links are dead from the documentation reorganization:

Currently point to:
http://nrel.github.io/OpenStudio-user-documentation/comparative_analysis/parametric_studies/
http://nrel.github.io/OpenStudio-user-documentation/next_steps/openstudio_application_interface/

Should point to:
http://nrel.github.io/OpenStudio-user-documentation/reference/parametric_studies/

[2015-05-21 15:25] #1655 closed

[2015-05-21 15:56] MatthewSteen commented on #1613
related to #353

[2015-05-21 16:23] MatthewSteen opened #1661 "Add IP / SI unit preference to measures"
Not sure if this has been brought up before, but it would be nice to be able to write and use measures without worrying about the unit system. This would make measures easier to use for  those outside the US and eliminate the need to use the convert method when writing measures.

[2015-05-21 19:30] kbenne opened #1662 "WaterHeaterMixed is not fully initialized"
When you instantiate a new WaterHeaterMixed there are a couple of required (for successful simulation) fields that are not initialized.  These include the ambient temperature schedule and the setpoint schedule.  The hvac library has these items initialized to suitable schedules, but the api does not initialize when you create a new instance.

[2015-05-22 14:19] macumber opened #1663 "Closing sqlfile in ResultsViewer does not remove the timeseries associated with it"
This makes you thing the close did not succeed

[2015-05-22 20:39] lbirkett opened #1664 "Issues when trying to create a new project under IFC Import"
When I click Create Project in the Import IFC, New Project window I get a java.lang.NullPointerException error. This error displays at the bottom of the Import Project window.

I believe I have BIMserver working correctly. Oh, just noticed an error in there...

22-05-2015 14:36:19 ERROR org.bimserver.JsonHandler - Missing parameters: addProject -> schema
22-05-2015 14:36:19 ERROR org.bimserver.Jso

[2015-05-22 21:04] macumber commented on #1664
Thanks for the bug report.  The IFC import feature was developed by @zhouchong90, maybe he or @pengwei can look into this.

[2015-05-26 15:55] axelstudios opened #1665 "OpenStudio OS X Packages are broken"
libopenstudio_radiance.dylib is getting built, but the Radiance libraries aren't making it into the package.  To reproduce, install OpenStudio v1.7.3 or v1.7.4 and attempt to launch the OpenStudio app.

[2015-05-26 17:44] macumber commented on #1665
Can we reassign this to @kbenne ?  I'm guessing that we somehow need to tell CMake's dependency finder that there is a dependency here.

[2015-05-26 18:39] kbenne commented on #1665
Gee thanks :) I'm switching to Windows...

[2015-05-26 19:26] kbenne commented on #1640
I have developed the third item, "components interacting with three loops" on a separate branch and will deliver later after more testing.  Absorption chillers use this feature, but also work without it.

[2015-05-27 02:59] #1660 closed

[2015-05-27 15:29] kbenne commented on #1345
On my Mac, using the system's ruby 2.0, I have exactly the reverse problem.  This change breaks the test for me.

[code]

[2015-05-27 17:32] kbenne opened #1667 "SketchUp Inspector does not properly create ThermalZone"
https://unmethours.com/question/8069/openstudio-application-crash-when-clicking-on-facility-tab/

ThermalZone instances created in SektchUp do not have the required ZoneHVACEquipmentList or PortList that are normally created by the ThermalZone constructor.

[2015-05-27 17:35] macumber commented on #1667
Changed to blocker since this causes a crash when clicking on facility tab

[2015-05-27 17:35] macumber commented on #1667
Adding user file to files repo

[2015-05-27 20:49] macumber commented on #1533
Just looked at this, measure loads fine but it seems like errors that are present in the xml are not cleared when updating

[2015-05-28 15:22] macumber commented on #1345
The version of Ruby built on Windows and Unix for super build is ruby-2.0.0p594, I found [this link](http://apple.stackexchange.com/questions/107853/which-versions-of-mac-os-x-has-ruby-installed-on-default) which says OS X10.9 uses ruby 2.0.0p247.  @kbenne does that match your system?

@axelstudios FYI

[2015-05-28 15:23] kbenne commented on #1345
no i have...

[2015-05-28 15:23] kbenne commented on #1345
[code]

[2015-05-28 15:24] macumber commented on #1345
Well it seems that we need to find a solution that works for all of these versions.

[2015-05-28 15:30] kbenne commented on #1345
Pretty crappy that ruby would have such a breaking change in a build revision.  Not even a minor version increment!  Are we doing it wrong?  Is Apple using some non standard crap?

[2015-05-28 15:50] macumber commented on #1345
Looks like:

    require 'test/unit'
    MiniTest::Unit::TestCase

is what I found to work for all the cases I tested, https://github.com/NREL/OpenStudio/commit/10635ea7cf9d3a064695e06c4bc84c3b257fa224.  But in 594 it seems to want:

    require 'minitest/autorun'
    MiniTest::Unit::TestCase

I tested that in several versions and it seems to work.  @kbenne can you fire up irb and see if that work