[2017-03-01 19:47] DavidGoldwasser commented on #2494
cc: @rHorsey

[2017-03-01 22:44] asparke2 commented on #2476
OS 2.0.4 CLI works for me on Windows.

[2017-03-02 23:01] shorowit commented on #2476
OS 2.0.3 CLI has issues for me. It seems to be influenced by external conditions, which is not good.

For example, this works for me:
[code]

But then if I switch to the openstudio bin dir, I get an error:
[code]

And now if I switch back to the original dir that worked, it no longer works:
[code]

Above commands run simply in cmd.exe, Windows 64.

[2017-03-02 23:02] shorowit commented on #2476
In summary, I think the ticket should remain open. Unless you think it's been fixed for OS 2.0.4.

[2017-03-02 23:05] asparke2 commented on #2476
@shorowit Can you test w/ 2.0.4?  @macumber changed the way that the gem path is resolved, which fixed some CLI stuff for me.

[2017-03-02 23:22] shorowit commented on #2476
I get the same results for 2.0.4.

[code]

[2017-03-03 16:09] asparke2 opened #2495 "data_point.zip doesn't copy to local results for prototype measure"
From @DavidGoldwasser

When I used the prototype measure in a workflow the Results (SQL file) fails to copy to local results. See screenshot below. The log message shows “vendor-93aa470504.js:24010 Invalid LOC header (bad signature)”

+larry.brackney@nrel.gov FYI, figured it was just using the Prototype measure in a design alternative that was causing the issue. +asparke2@gmail.com I assume this m

[2017-03-03 16:09] asparke2 commented on #2495
I believe the root of this issue is the handling of .zip files on Windows vs. Mac.  @henryHorsey and I tested a fix which appears to work.

[2017-03-03 16:10] macumber commented on #2476
@shorowit is your previous command failing in a git shell?  the command prompt looks like a normal msdos prompt

[2017-03-03 16:12] asparke2 opened #2496 "Chinese characters in Design Alternatives grid"
For some reason there are Chinese? characters in the Design Alternatives grid. Screenshot from 2.0.4 in Windows.

This only appears in the installed version.  When I run the developer version from code, these look like check mark symbols.

![](https://cloud.githubusercontent.com/assets/2009290/23523399/f8c82d54-ff43-11e6-9d03-5dffbbf31779.png)

[2017-03-03 16:13] macumber commented on #2476
Also can you please share your 'hvac_None.osw' file, are you running against master on the beopt repo?

[2017-03-03 16:14] asparke2 opened #2497 "All options not getting first column value when measure arg isn't "variable""
If a measure argument is not "variable," when you change the value in the first option, all of the other options should change to use this same value. This currently happens if you check then uncheck the "variable" box, but should happen whenever you change the value in the first option.

After this is fixed, you should not be able to have a different input for an argument unless the argument is "

[2017-03-03 16:15] asparke2 opened #2498 "Clean up OpenStudio-PAT repo README"
requested by @pmkary

[2017-03-03 16:17] asparke2 commented on #2498
Agree.  At a minimum, we should include:

1. What the repo is
2. Where to report issues (OpenStudio issues)
3. Where the build instructions live (Wiki)

[2017-03-03 16:26] DavidGoldwasser opened #2499 "Can't select multiple design alternatives at a time and duplicate them"
I thought there was a time this worked, but doesn't with 2.0.4. not important for 2.1 release but I wanted to document it for a future release.

I'm referent to being able to check more than one row using the left column.

![screen shot 2017-03-03 at 9 25 18 am](https://cloud.githubusercontent.com/assets/4857055/23559194/64378fd0-fff3-11e6-9981-1694c6d87718.png)

[2017-03-03 16:37] asparke2 opened #2500 "Make PAT "Additional Analysis Files" path relative"
Currently, in PAT, the paths to "Additional Analysis Files" directories are absolute paths.

Pros to absolute paths:
- If you copy/paste the project or move the project on your local computer, you don't have to update the path.

Pros to relative paths:
- If you send the project to another user, you can copy the resources directory into the PAT project directory and when the new user opens the proj

[2017-03-03 16:38] asparke2 commented on #2500
@brianlball can you weigh in on this?

[2017-03-03 16:48] brianlball commented on #2500
the spreadsheet is relative paths, but like you state it does have its cons.

can we handle both cases?

[2017-03-03 16:50] asparke2 commented on #2500
@kflemin What do you think?  Can we handle both relative and absolute paths?

[2017-03-03 20:06] asparke2 opened #2501 "Show units & descriptions for arguments in PAT"
PAT 2.X "Project Measures & Options" tab doesn't show units or descriptions for measure arguments.  These need to be included.  Units are particularly important for clarity.

Argument units in PAT 1.X.  Could append to argument name in () or add a units column.
![image](https://cloud.githubusercontent.com/assets/2009290/23567042/b6b62d8e-0011-11e7-8c19-5faa596d6ccd.png)

Argument descriptions in P

[2017-03-03 20:12] macumber commented on #2395
@DavidGoldwasser I think this is fixed in 2.0.4, can you confirm?  I ran the create_typical_building_from_model_test.rb file (had to modify it due to missing method errors) and got this output, notice initial and final condition printed twice:

[code]

[2017-03-03 20:46] mdahlhausen opened #2502 "SketchUp Import Schedules - Hardcode path prevents accessing schedules in app"
I'm having a hard time exactly pinpoint when this error does and does not occur.

It happens to me in OpenStudio v.1.14 and v2.0.1 when I make geometry, use a template generator or load an existing model, and then try to load in schedules from another model using "Extensions -> OpenStudio -> Import -> Import Schedules".  The exception is thrown when I import schedules, save, the model, and open th

[2017-03-03 21:12] DavidGoldwasser opened #2503 "Skipping measures in datapoint throws measure messages out of sync"
<img width="1920" alt="screen shot 2017-03-03 at 2 08 28 pm" src="https://cloud.githubusercontent.com/assets/4857055/23569167/38cde2e0-001b-11e7-8343-59d7f3ee7fa9.png">

The messages shown are meant for the PV measure a few steps down. This is in 2.0.4

Cause - choosing "None" as measure option for one or more measures for a datapoint. The skipped measure shows the log message of the next measure

[2017-03-03 21:56] macumber commented on #2503
Can you post the osw files (in and out)?  That will identify if this is a WFG thing or a PAT thing

[2017-03-03 21:59] macumber commented on #2456
@eringold these were actually two separate issues, but if you see anything else where a measure that worked in 1.14 does not work in 2.0 please let us know!

[2017-03-03 22:00] macumber commented on #2503
Whoops my commit referenced the wrong bug, multitasking is hard...

[2017-03-03 22:02] macumber commented on #2456
Closed in https://github.com/NREL/OpenStudio/pull/2504/commits/3291356ee9320a060c2f1744b153d9cbf9447a33

[2017-03-03 22:02] #2456 closed

[2017-03-03 22:11] asparke2 opened #2505 "RDD file isn't included in data_point.zip"
This file is useful to users.  I think the solution is to comment out [this line in the workflow gem](https://github.com/NREL/OpenStudio-workflow-gem/blob/6c95fb95a92c3ebf1233219fd3bf89f493f71dab/lib/openstudio/workflow/jobs/run_postprocess/run_postprocess.rb#L107).

[2017-03-03 22:56] #2418 closed

[2017-03-03 23:22] asparke2 commented on #2467
Fixed in 2.0.4.  Was a gem issue unrelated to openstudio-standards.

[2017-03-03 23:23] asparke2 commented on #2352
Closing this.  Not relevant as of 2.0.0

[2017-03-03 23:23] #2352 closed

[2017-03-03 23:28] asparke2 commented on #1433
Closing.  This is long-resolved.

[2017-03-03 23:28] #1433 closed

[2017-03-03 23:30] asparke2 commented on #2490
@kbenne Can you do this when you do the E+ update?  This is that new enum that you had to fix in the fwd translator a while back.

[2017-03-03 23:35] asparke2 commented on #240
Not relevant anymore b/c no on-demand space types

[2017-03-03 23:35] #240 closed

[2017-03-03 23:38] asparke2 commented on #597
This is fixed.  Confirmed w/ 1.14.0

[2017-03-03 23:38] #597 closed

[2017-03-03 23:40] asparke2 commented on #1121
Closing.  This has been fixed since we changed to grid view.

[2017-03-03 23:40] #1121 closed

[2017-03-04 03:06] DavidGoldwasser commented on #2503
Looks like this is affecting the OSW.

Here is part of it before measure option of "None" was used.

`   {
      "arguments": {
        "costTotalKitchenSystem": 0,
        "numberOfStudents": 650
      },
      "description": "Option 1 Description",
      "measure_dir_name": "AedgK12Kitchen",
      "measure_id": "92750b5a-7eb5-4df5-899f-c186c7c27935",
      "measure_type": "ModelMeasure",
      "

[2017-03-04 03:28] DavidGoldwasser commented on #2503
Here are the two measure (that are out of sync on run tab) shown in the measure options tab

<img width="927" alt="screen shot 2017-03-03 at 8 26 21 pm" src="https://cloud.githubusercontent.com/assets/4857055/23575760/e200eae0-004f-11e7-95db-644d9157900e.png">

<img width="859" alt="screen shot 2017-03-03 at 8 26 37 pm" src="https://cloud.githubusercontent.com/assets/4857055/23575761/e5c8062c-004f

[2017-03-04 03:40] DavidGoldwasser commented on #2503
And here they are in pat.json, look fine.

VRF
`      "measure_dir": "/Users/dgoldwas/Documents/working/PAT_01311341_zedg_test/measures/vr_fwith_doaszedg",
      "name": "vr_fwith_doaszedg",
      "directory": "/Users/dgoldwas/Documents/working/PAT_01311341_zedg_test/measures/vr_fwith_doaszedg",
      "uid": "83cf7834-2554-49c3-8910-5b6679060bb7",
      "uuid": "{83cf7834-2554-49c3-8910-5b6679060b

[2017-03-06 16:50] macumber commented on #2336
If this feature is just for the CLI and not PAT, I think it can be closed.  @shorowit can you confirm this is working?

[2017-03-06 16:57] shorowit commented on #2336
I have been successfully using `openstudio.exe run -m`, if that's what you're asking.

(I do sometimes get permission denied errors on my run.log file, though that may be unrelated.)

[2017-03-06 17:06] macumber commented on #2505
Also keeping mtd

[2017-03-06 17:06] #2505 closed

[2017-03-06 17:06] macumber commented on #2336
Thanks Scott

[2017-03-06 17:06] #2336 closed

[2017-03-06 17:11] macumber commented on #2498
@asparke2 do you really want this assigned to you?  should be assigned to @evanweaver or @kflemin ?

[2017-03-06 17:12] macumber commented on #2495
@henryHorsey  is this closed?

[2017-03-06 17:14] macumber commented on #2476
@shorowit is having trouble running cli, seeing but difficult to reproduce, going to close this and reopen new issue when we can reproduce

[2017-03-06 17:14] #2476 closed

[2017-03-06 17:14] macumber commented on #2395
Assigned to @DavidGoldwasser to confirm

[2017-03-06 22:20] macumber commented on #2333
Fixed in https://github.com/NREL/OpenStudio/commit/8d36292969e0a2a3908c5e8fd06fe23119bbcc01

[2017-03-06 22:20] #2333 closed

[2017-03-07 00:39] macumber commented on #2334
@DavidGoldwasser can you accept if documentation [here](http://nrel.github.io/OpenStudio-user-documentation/reference/command_line_interface/) is sufficient?

[2017-03-07 00:43] macumber commented on #2488
Possibly related to https://github.com/NREL/OpenStudio/issues/2438

[2017-03-07 00:47] macumber commented on #2484
Is this still happening @DavidGoldwasser @ljbrackney ?

[2017-03-07 00:48] #2481 closed

[2017-03-07 00:50] macumber commented on #2459
@DavidGoldwasser i think this is fixed, can you test in newest installer?

[2017-03-07 00:54] macumber commented on #2447
@ljbrackney @DavidGoldwasser can we close this?

[2017-03-07 00:55] macumber commented on #2428
@kbenne should this be closed?

[2017-03-07 00:56] macumber commented on #2427
Relevant line:

https://github.com/NREL/OpenStudio/blob/72e4961a2d6547dcb40be48f722345b5691e3a74/openstudiocore/sketchup_plugin/openstudio/sketchup_plugin/lib/MenuManager.rb#L570

[2017-03-07 01:04] macumber commented on #1946
@DavidGoldwasser can you please list any areas in the app that this is still an issue?

[2017-03-07 01:11] #2454 closed

[2017-03-07 01:19] macumber commented on #2503
Can you post the datapoint (OSW, seed, measures, etc)?  When I run the test in the WFG related to skipping measures I don't see this issue

https://github.com/NREL/OpenStudio-workflow-gem/blob/osw/spec/openstudio/workflow/workflow_analysis_spec.rb#L65

[2017-03-07 01:27] ljbrackney commented on #2447
Yes

On Mar 6, 2017, at 4:54 PM, Dan Macumber <notifications@github.com<mailto:notifications@github.com>> wrote:

@ljbrackney<https://github.com/ljbrackney> @DavidGoldwasser<https://github.com/DavidGoldwasser> can we close this?

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/NREL/OpenStudio/issues/2447#issuecomment-284585282

[2017-03-07 01:28] ljbrackney commented on #2484
Was working in the last installer I tested.

On Mar 6, 2017, at 4:47 PM, Dan Macumber <notifications@github.com<mailto:notifications@github.com>> wrote:

Is this still happening @DavidGoldwasser<https://github.com/DavidGoldwasser> @ljbrackney<https://github.com/ljbrackney> ?

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/NRE

[2017-03-07 02:32] #2447 closed

[2017-03-07 02:32] #2484 closed

[2017-03-07 04:04] macumber commented on #2451
This appears to happen because the grid is doing a refresh/redraw but still reacting to the on change signal from the model object

[2017-03-07 06:55] DavidGoldwasser commented on #2503
@macumber here is zip file or project.
https://drive.google.com/open?id=0BziGk7eItbVVQXdLQnhMWURGTE0

[2017-03-07 06:58] DavidGoldwasser commented on #2459
I'll check this in next installer. It is still mostly broken in the pre 2.0.4 installer from a few days ago.

[2017-03-07 06:59] DavidGoldwasser commented on #2488
@macumber possible but #2438 is OS app specific and this is PAT specific.

[2017-03-07 07:54] DavidGoldwasser opened #2507 "For measure args without default values I have to set as variable to run properly"
This has happened with both of these measures.

Change Building Location has two string arguments and a choice argument, all of the fields are effected by this.
https://github.com/NREL/OpenStudio-measures/tree/develop/NREL%20working%20measures/ChangeBuildingLocation

Made a new measure today that has 5 optional string arguments, which hit same issue.
https://github.com/NREL/OpenStudio-measures/tre

[2017-03-07 18:37] #2445 closed

[2017-03-07 19:08] DavidGoldwasser commented on #1946
Default ScheduleSet and Construction set missing in a few places. Then one that I assume is harder is inherited infiltration schedule in inspector.

![screen shot 2017-03-07 at 11 59 11 am](https://cloud.githubusercontent.com/assets/4857055/23673262/d12264f6-032e-11e7-9370-13c0ba24c019.png)

![screen shot 2017-03-07 at 12 04 52 pm](https://cloud.githubusercontent.com/assets/4857055/23673265/d48e92

[2017-03-07 19:12] DavidGoldwasser commented on #2459
@macumber still an issue with last nights 2.0.4 installer. Building type populates fine, it is the space types that don't also still can't type in text.

![screen shot 2017-03-07 at 12 11 22 pm](https://cloud.githubusercontent.com/assets/4857055/23673384/5da8d950-032f-11e7-9e4c-f0544f8e34f4.png)

[2017-03-07 19:17] DavidGoldwasser commented on #2459
@macumber for Constructions, Standard, Intended Surface Type and Standards Construction Type work (note: CEC is only standards option, which may be fine, but user can type)

All other fields are locked, but oddly on new model this isn't an issue, not sure what is happening.

![screen shot 2017-03-07 at 12 14 01 pm](https://cloud.githubusercontent.com/assets/4857055/23673578/0b138356-0330-11e7-9819

[2017-03-07 19:20] DavidGoldwasser commented on #2459
Even on new model the composite fields in materials are still locked out

![screen shot 2017-03-07 at 12 19 27 pm](https://cloud.githubusercontent.com/assets/4857055/23673684/6b22e728-0330-11e7-8166-d83877c779f9.png)

[2017-03-07 19:24] DavidGoldwasser commented on #2395
@macumber do you think this is just on mac?

Here is what i see in newest installer

stepInitialCondition: The building started with 505 objects.
stepFinalCondition: The building finished with 563 objects.
**MEASURE APPLICABILITY**
[openstudio.WorkflowStepResult] <0> WorkflowStepResult value called with undefined stepResult, returning 'Success'
0 = Success
**INITIAL CONDITION**
#<OpenStudio::LogMe

[2017-03-08 00:02] macumber commented on #1946
Thanks @DavidGoldwasser the inspector is not going to work w inheritance but the grid views should

[2017-03-08 00:11] #2395 closed

[2017-03-08 00:11] macumber commented on #2395
I think this was fixed in the CLI but not the ruby bindings, should be fixed in both now

[2017-03-08 03:40] ljbrackney opened #2508 "OS App Sometimes Segfaults when opening a model from an earlier version of OS"
I've now had multiple 2.0.x models crash the app on opening in 2.0.5.  Model opens, version update dialog pops up, click ok, boom.  Behavior is inconsistent - sometimes it crashes immediately.  It can also crash when quitting the app without saving - as one would do when trying to test repeatability.  I've seen this with 2.0.0 and 2.0.4 models.

[2017-03-08 03:43] ljbrackney opened #2509 "OS App Runs Fail in Postprocess"
Tail of run report looks like:

This has occurred in every test model I've tried to run in 2.0.5 so far.  EPlus and OS Reports are generated and look okay.

[2017-03-08 03:48] ljbrackney commented on #2508
Likely related:  Sometimes App reports that OS Reporting measure (which was in the model) has empty arguments - then crashes.  When I have been able to work with the model and save before a crash, I've removed the Reporting measure and re-added it.  That seems to fix the crash.

[2017-03-08 03:52] DavidGoldwasser commented on #1946
Figured that changes to inspector are off table. That's fine.

[2017-03-08 04:38] macumber commented on #2508
I don't think this has to do with the reporting measure, the app is failing to build the component libraries which is a classic failure of the version translator.  I see this message in the log:
[code]

@kbenne

[2017-03-08 05:05] macumber commented on #2508
@kbenne I wrote the following script to try to find out which objects are messed up in the translator but it is acting really weird, maybe there is some issue with a merge of cbecc transition rules?  something else?  I don't get why i can load the file outside of the version translator but not through it, I think that must mean the issue is in the translator?

[code]

[2017-03-08 21:54] #2508 closed

[2017-03-08 21:55] kbenne commented on #2508
You know I closed this, but maybe I shouldn't have. I think there may be two issues conflated here. Somehow we got on the track of hvac lib, which was a real issue, but @ljbrackney originally reported something else about opening models.

[2017-03-08 21:56] kbenne commented on #2508
@ljbrackney want to send me a trouble model?

[2017-03-09 08:56] kpelckmans opened #2510 "SketchUp plugin classifies doors as windows when pasting geometry in space"
Steps to reproduce:
- copy existing geometry that contains doors and windows
- create new space
- past existing geometry in space

Expected result:
- 4 doors and 1 window

Result:
- 2 doors and 3 windows

[OpenStudio converts to windows.zip](https://github.com/NREL/OpenStudio/files/830230/OpenStudio.converts.to.windows.zip)

Probably I am doing something wrong, but cannot seem to find it.

Many th

[2017-03-09 16:08] macumber commented on #2509
I think this was fixed in https://github.com/NREL/OpenStudio-workflow-gem/commit/e56ac3d2ca81907abcbc69aeda647311f1968a01

[2017-03-09 16:09] macumber commented on #2509
Will be in next 2.0.5 package for testing

[2017-03-10 15:48] #2509 closed

[2017-03-10 15:57] kbenne commented on #2330
@macumber closing.

[2017-03-10 15:57] #2330 closed

[2017-03-10 16:44] chrisbalbach commented on #2438
Still happening in OS Application (installation v2.0.4 Windows release) from Github.
Renderings (of any report) in the Results Summary Tab is unusable, while the underlying HTML files are entirely viewable when opened in a native browser (tested chrome and firefox).

[2017-03-10 17:22] DavidGoldwasser opened #2511 "OpenStudio lets you enter a value for output_variable.setVariableName that make the OSM invalid to open"
See this post.
https://unmethours.com/question/23258/failed-simulation-without-getting-severe-fatal-error/

[2017-03-10 17:37] chrisbalbach opened #2512 "Dropdown menu for "Select Cluster or Make New One" is not functioning correctly. PAT v2.0.4 (windows 7)"
Run Screen of PAT 2.0.4 (Windows 7 64 bit install)

After entering and saving the cluster settings (and getting an acknowledgement that they were saved) The PAT application dropdown box for selectring a cluster does not allow a user to retrieve the saved cluster settings.

![image](https://cloud.githubusercontent.com/assets/5746765/23806061/39e2056c-058e-11e7-81e1-a4b90294e4ba.png)

[2017-03-10 17:41] ljbrackney commented on #2438
This has been addressed in 2.0.5.

From: Chris Balbach <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, March 10, 2017 at 8:44 AM
To: NREL/OpenStudio <OpenStudio@noreply.github.com<mailto:OpenStudio@noreply.github.com>>
Cc: Larry Brackney <larry.brackney@nrel.gov<mailto:larry.brackney@nrel.go

[2017-03-10 22:59] asparke2 commented on #2467
@ljbrackney This is the cause of the Prototype measure not working.
@macumber Somehow your gem magic either stopped working or didn't make it into 2.0.5.  I've included the gem env info from PAT and the App below.

Here is the error (same as what we saw before 2.0.4):

[code]

Here is the gem environment from PAT (Mac 2.0.5 installer):

[code]

And here is the gem env from the OS App, Mac 2.0.5 in

[2017-03-11 01:59] #2487 closed

[2017-03-11 06:01] macumber commented on #2467
I relaxed a requirement a little too much apparently, I will have to put back in the constraint that you can only update an embedded gem with one on the file system if the file system gem has the same major version as the embedded one.  I'm sure that is going to cause its own issues later.

[2017-03-11 06:37] #2467 closed

[2017-03-11 19:25] shorowit opened #2514 "cli measure --help doesn't show help"
See below. `run --help` works correctly but `measure --help` does not.

[code]

[2017-03-11 19:48] macumber commented on #2514
This was fixed in this commit https://github.com/NREL/OpenStudio/commit/f769c626b094105d5b3175de552790fb12ebda89

[2017-03-11 19:48] #2514 closed

[2017-03-12 05:51] DavidGoldwasser opened #2515 "update standards os_lib_schedules"
Update methods here
https://github.com/NREL/openstudio-standards/blob/master/openstudio-standards/lib/openstudio-standards/btap/os_lib_schedules.rb

To match functionality from here
https://github.com/NREL/OpenStudio-measures/blob/develop/NREL%20shared%20libraries/os_lib_schedules.rb

There are 40 or so measure that use this file, but so far only noticed impact in OpenStudio Results, but haven't t

[2017-03-13 14:22] #2450 closed

[2017-03-13 14:23] #2425 closed

[2017-03-13 14:24] kbenne commented on #2020
https://github.com/NREL/OpenStudio/commit/442115c3982d4c3758f6aa32d78660a5f12aed71

[2017-03-13 14:24] #2020 closed

[2017-03-13 18:03] macumber commented on #2441
@michaelderu @eringold I have not been able to reproduce this.  We had been seeing issues with the BCL going down fairly often, it is possible that you were trying to set these keys when the BCL was down.  Have you had this problem anymore?  If you don't mind, copy the BCL directory in your user directory to a temporary location and try again?  That will require you to input your keys again.  Once

[2017-03-13 18:08] eringold commented on #2441
@macumber I'll try again when I get home. I'm certain that I could access BCL from a browser when I was doing those tests.

[2017-03-13 18:11] ljbrackney commented on #2441
I routinely blow away my key to test that. I most recently verified it works with 2.0.5.

On Mar 13, 2017, at 11:03 AM, Dan Macumber <notifications@github.com<mailto:notifications@github.com>> wrote:

@michaelderu<https://github.com/michaelderu> @eringold<https://github.com/eringold> I have not been able to reproduce this. We had been seeing issues with the BCL going down fairly often, it is possi

[2017-03-13 21:33] #2451 closed

[2017-03-13 23:11] eringold commented on #2441
@macumber still no luck. Tried with 2.0.4, and with deleting the BCL directory.

[2017-03-13 23:34] macumber commented on #2441
No luck meaning it is not working?  If you are still having trouble can you write the steps you are following so I can try to reproduce?

[2017-03-14 02:03] eringold commented on #2441
On Windows 10 Home x64, starting with no OpenStudio installed, no BCL folder:

- Install OpenStudio 1.14.0, open app
- Enter key (Components and Measures -> Find Measures), successfully connect to BCL, the measure browse window comes up, I can download measures into BCL folder
- Copy BCL folder to another location

- Install OpenStudio v2.0.4, open app
- Components and Measures -> Find Measures
-

[2017-03-14 02:11] kbenne commented on #2465
https://github.com/NREL/OpenStudio/pull/2513

[2017-03-14 02:11] #2465 closed

[2017-03-14 04:49] #2322 closed

[2017-03-14 04:50] macumber commented on #2322
Thanks @chriswmackey I can see what was going on now, I am going to close this as "user error" but it really isn't your fault.

[2017-03-14 16:44] macumber commented on #2495
@henryHorsey @asparke2 is this closed?

[2017-03-14 16:46] asparke2 commented on #2495
@macumber I still need to test this

[2017-03-14 19:05] ljbrackney opened #2518 "AWS Workers Stuck in Queued State w/ 4 Core Server"
m3.xlarge server leaves all worker jobs stuck in queued state.  Ry recommended going to m3.2xlarge which worked.  He may have already fixed this, but putting a ticket in to make sure it doesn't slip through cracks.

[2017-03-14 19:07] ljbrackney opened #2519 "Server Plots Not Working"
Only input variables show up in server plots - regardless of which outputs are checked.  Outputs are being specified correctly and are properly populated in individual data points.

[2017-03-14 19:08] ljbrackney opened #2520 "LHS Samples Not Being Respected"
Number of samples looks to be set to 5 regardless of what is entered.  Other algorithm settings (e.g. DOE samples) do appear to work correctly.

[2017-03-14 19:14] DavidGoldwasser commented on #2511
invalid file, was likely hand edited, and reason for not opening not related to the variable value.

[2017-03-14 19:14] #2511 closed

[2017-03-14 19:28] asparke2 commented on #2495
Tested with 2.0.5 on Windows

[2017-03-14 19:28] #2495 closed

[2017-03-14 20:37] kbenne commented on #2492
@DavidGoldwasser I think I have nuked the issue with this...

https://github.com/NREL/OpenStudio/commit/ebe0c8a18285abfa8f3b21f0f0a578b09ec3c717

basically make pat os server install writable by anyone.

[2017-03-14 20:37] #2492 closed

[2017-03-14 20:39] #2494 closed

[2017-03-14 20:41] asparke2 commented on #2512
@chrisbalbach Did you try to open the cluster settings in the same project where you saved them, or a different project?  Cluster settings are saved per-project.

[2017-03-14 20:49] asparke2 commented on #2493
@evanweaver Can you test this on a clean Mac?  @DavidGoldwasser has seen this, but @ljbrackney has not.  Need to figure out whether it is developer-specific or is going to be a common problem for users.

[2017-03-14 21:26] chriswmackey commented on #2322
@macumber ,

Thanks for looking into this.  Unfortunately, I don't seem to be able to use the `makeDate()` method for the same reason that I can't use the `setDayofWeekforStartDay()` method.  The following code on my end:

[code]

returns the following error:
`Runtime error (MissingMemberException): 'SWIGTYPE_p_openstudio__model__YearDescription' object has no attribute 'setDayofWeekforStartDay'`

[2017-03-14 22:03] macumber commented on #2322
Ah I forgot about that, let me see if I can bring that object back since it is required.  Alternatively I could just tack that method on Model as well, model.makeDate()

[2017-03-14 22:41] chriswmackey commented on #2322
That would be wonderful, @macumber .  Thank you, as always, for all of the great support!

[2017-03-14 22:46] macumber commented on #2322
I'm going the easy route, just going to add those methods to Model.  This will be in the 2.0.5 package that is coming out Friday or early next week, it will be our 2.1 preview so would be great if you could do some testing with it.

[2017-03-14 23:22] chriswmackey commented on #2322
Wonderful!  I would be happy to run some tests once the 2.0.5 package is out.  Thank you, again, for working this in.  It will be nice to finally be able to write this into the OSM from Honeybee.

[2017-03-15 02:16] #2477 closed

[2017-03-15 03:09] kflemin commented on #2507
this should be fixed now.
https://github.com/NREL/OpenStudio-PAT/commit/f4a87ce04e5cef742fadd89f42374819955e6489

[2017-03-15 03:09] kflemin commented on #2520
this should be fixed:
https://github.com/NREL/OpenStudio-PAT/commit/c9034a6db9d213863059c95e4dd40f4e22d03d01

[2017-03-15 03:12] kflemin commented on #2499
you cannot select multiple rows in the grid...you must duplicate one at a time.

[2017-03-15 03:14] kflemin commented on #2488
this has to do with the way this page is implemented. There is a scrollbar for the modal window and another scroll bar inside the frame showing the report.  They can't be removed.

[2017-03-15 03:20] kbenne commented on #2452
https://github.com/NREL/OpenStudio/commit/beafe0bc6f360947b142110c6cff62305b80e20f

[2017-03-15 03:20] #2452 closed

[2017-03-15 03:25] kbenne commented on #2420
@mostaphaRoudsari the install path is now (unfortunately) directly at C:\ and there are no spaces in the prefix. This is a requirement of PAT.

On the SmartScreen thing, the mystery to me is why you haven't seen this with other builds. We are going to post the latest this Friday and I'm hoping you can retest.

[2017-03-15 03:43] #2427 closed

[2017-03-15 03:44] kbenne commented on #2496
@kflemin is this for me to review or to fix?

[2017-03-15 16:22] ljbrackney commented on #2520
Verified!

[2017-03-15 16:22] #2520 closed

[2017-03-15 16:47] #2499 closed

[2017-03-15 16:47] #2488 closed

[2017-03-15 16:48] ljbrackney opened #2521 "Results Tab Not Working on Cloud Run"
Cloud algorithm run completes normally.  Downloaded data points and verified that OpenStudio Results measure did run in the workflow.  Results tab says all autogenerated points did not include the OpenStudio Results measure -> No summary report.

[2017-03-15 16:53] kbenne commented on #2490
Looks like this happened during the 8.7 update.

![screen shot 2017-03-15 at 11 52 02 am](https://cloud.githubusercontent.com/assets/707488/23960417/e9402936-0975-11e7-9c39-43f46d681712.png)
<img width="1440" alt="screen shot 2017-03-15 at 11 52 36 am" src="https://cloud.githubusercontent.com/assets/707488/23960420/ecd4b418-0975-11e7-96de-e4e596358754.png">

[2017-03-15 16:53] #2490 closed

[2017-03-15 16:57] asparke2 commented on #2521
@ljbrackney In algorithmic mode, the datapoint.osw information does not get included in the pat.json (and therefore does not get passed to the Project Reports tab) b/c the datapoint.osw format has too much information which would easily fill up memory for large runs.  The intent, which @kflemin is working on, is for PAT to pass the results and metadata CSVs to the project reports tab for algorithm

[2017-03-15 16:59] ljbrackney commented on #2521
Thanks for clarifying.  It's kind of hard to rapidly see what's going on across an analysis without the server plots working.  At a minimum, the reports tab needs to provide alternative guidance to the user, so I'll leave this issue open.

[2017-03-15 17:03] asparke2 commented on #2490
@kbenne Can you set this via the API now?

[2017-03-15 17:19] ljbrackney commented on #2519
This is not limited to the plots as I just discovered.  None of the output variables are populated in the CSV results file either.  The headings are correct, but the data cells are all empty.  Hope that's helpful.

[2017-03-15 17:20] #2442 closed

[2017-03-15 17:24] DavidGoldwasser commented on #2507
@kflemin I tested in new Mac installer today and still saw same issue. Here is what OSW looks like for this measure. It isn't showing any values. I have single option with values entered for each of three arguments, none set to variables.

[code]

[2017-03-15 17:25] adhilton25 commented on #2490
@kbenne Yes, the gui and translation are fine. It's the setter in the API that doesn't have the support.

[2017-03-15 17:28] kbenne commented on #2490
that should take care of it.

[2017-03-15 17:59] kbenne commented on #2436
@jmarrec can you test again? I'll send you a build on Slack.

[2017-03-15 18:02] DavidGoldwasser commented on #2507
@macumber if I skip a measure that has required arguments without default values when OpenStudio runs it also hits this. Is there a way the CLI can look for Skipped argument first, and if it see's that don't worry if anything else is missing. Otherwise not sure how in the PAT GYU  I can populate argument values for measure I'm skipping.

[2017-03-15 18:15] kbenne commented on #2457
I believe this is the root cause..

https://github.com/NREL/OpenStudio/commit/845e17c4eaa718b2032288266d0b4a73c3f9996d

[2017-03-15 18:41] ljbrackney commented on #2521
Another thought.  Would it be worth embedding a link to the results csv in the results window for algorithm runs?

[2017-03-15 18:44] asparke2 commented on #2521
Yeah that's probably a good idea

[2017-03-15 19:31] macumber commented on #2507
I'm having trouble following you @DavidGoldwasser .  I understand the issue about not caring to validate measure arguments if the measure is going to be skipped.  I don't understand how that relates to PAT.  I can make a change in workflow gem, but PAT bugs have to be routed to the PAT team.

[2017-03-16 00:12] jmarrec commented on #2436
I still have a bouncing icon (and an model build on 2.0.0 doesn't run, yet it bounces on the results tab (nothing to show...))

[2017-03-16 03:29] DavidGoldwasser commented on #2507
@macumber if a measure is set to be skipped in the OSW and is missing required default value for another argument, it breaks when it runs. Was wondering if the "skipped" value can be looked at first, so missing default arguments wouldn't be an issue. @kflemin has a fix for making OSW's where the "static" value for an argument will also be set for the measure's "default value". This follows with wh

[2017-03-16 03:37] DavidGoldwasser commented on #2457
Is there a pattern in what is done for People Definitions that can work elsewhere? or is implementing that just a lot of work. It would be a really big loss in 2x not to have units, I think even if we don't put them in 2.1 they have to go in soon after. I guess it is a matter of time and risk and what else has to be done for the release. We should decide something on this at iteration meeting tomo

[2017-03-16 04:05] macumber commented on #2507
This was fixed in the workflow gem here https://github.com/NREL/OpenStudio-workflow-gem/commit/c9a53a165f53a763955a7534af5f18bd436b5807

Kat's fixes to PAT are separate i think

[2017-03-16 04:06] macumber commented on #2457
@kbenne and i are going to get this in the release, hopefully make 2.0.5 but will make 2.1 for sure

[2017-03-16 04:07] macumber commented on #2457
https://www.pivotaltracker.com/story/show/141187433

[2017-03-16 04:13] rHorsey commented on #2507
Released WFG v 1.1.5

[2017-03-16 16:06] #2485 closed

[2017-03-16 19:52] ljbrackney opened #2523 "Database backup on server returns an error"
Please make it work gooder.

[2017-03-16 20:13] ljbrackney opened #2524 "PAT is orphaning measure manager processes"
openstudio processes are not being shutdown correctly (on Mac at least).  Just found out I had a dozen or more processes hanging out in the background when I went to add a new measure to a project and it wouldn't let me.  Killed processes and things were okay again.

[2017-03-16 20:16] kflemin commented on #2500
this should be fixed, the path is now relative to the project directory.  https://github.com/NREL/OpenStudio-PAT/commit/37991085d59ad9d545d5ba6d1d66ebbb431f7468

[2017-03-16 20:52] macumber commented on #2524
I haven't really been involved with PAT starting and stopping measure manager.  Not sure if this would be a @rHorsey or @kflemin thing?  Or a @kbenne thing?

[2017-03-16 21:04] ljbrackney commented on #2524
Ok.  I added Kat to this.

[2017-03-16 21:32] kflemin commented on #2524
Can you provide a sequence of events that would reproduce this?  (Do you open and close pat right away?  Is the app also open?  etc..)  thanks!

[2017-03-16 21:45] ljbrackney commented on #2524
After discussing this with Kat, I suspect the openstudio tasks were actually orphaned by the App when I was debugging segfaults in an earlier package.  Measure management in the App doesn't seem to care about orphaned openstudio processes, whereas PAT can't deal with it.  I'm going to close this issue, but we may want to document that in a known issue or put a Q/A on Unmet Hours about it.  It WILL

[2017-03-16 21:45] #2524 closed

[2017-03-16 21:54] ljbrackney commented on #2512
Stickiness of these settings was an issue in 2.0.4.  I believe this is resolved in 2.0.5.

[2017-03-16 22:01] macumber commented on #2524
Do the orphaned measure managers cause a problem or is it just that they exist?  At some point we may want a measure manager service (one for all processes to share) but that would require a good bit of hardening

[2017-03-16 22:03] ljbrackney commented on #2524
They do cause a problem for PAT.  The measure manager dialog in PAT can't find any measures if there are orphans.  That's the clue there's a problem. OS App doesn't seem to care one way or another.

From: Dan Macumber <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, March 16, 2017 at 2:01 P

[2017-03-16 22:14] macumber commented on #2524
Hmm, so any orphan measure manager prevents PAT from being able to use its measure manager?

Can you use PAT's measure manager if the App (and its non-orphaned measure manager) are running?

If you start a random measure manager on some random port (e.g. openstudio measure -s 3030) will that break PAT?

[2017-03-16 22:24] ljbrackney commented on #2524
You can have the App running along with PAT.  If you start getting multiple orphans things break down in PAT.  You can probably test that by killing the App repeatedly while stopping and starting PAT and checking measure functionality.  The failure mode in PAT is that the measure manager will be empty regardless of which sources or categories are checked.

From: Dan Macumber <notifications@github.

[2017-03-16 22:36] ljbrackney opened #2525 "ResultsViewer button in App starts RV but doesn't load data"
RV launches, but doesn't automatically open the correct sql file.  Manually navigating to the sql file and opening it works okay.

[2017-03-17 03:49] macumber commented on #2525
@ljbrackney this is working for me on windows, both right after I run and when I re-open a previously run osm.

Have you tried both of these cases?  Does it not work in either case?  If it only doesn't work right after the run I would guess that the automatic save that is supposed to happen after a run isn't happening.  If neither case works I would guess that this is a Mac only thing.

@kbenne FY

[2017-03-17 04:14] ljbrackney commented on #2525
I tested it on a previously run and saved model.  I can check it with a fresh run tomorrow.

On Mar 16, 2017, at 8:50 PM, Dan Macumber <notifications@github.com<mailto:notifications@github.com>> wrote:

@ljbrackney<https://github.com/ljbrackney> this is working for me on windows, both right after I run and when I re-open a previously run osm.

Have you tried both of these cases? Does it not work i

[2017-03-18 22:56] macumber commented on #2438
Figured out the problem, we need to install WebEngine resources on Windows:

https://doc.qt.io/qt-5/qtwebengine-deploying.html#deploying-resources

![3-18-2017 4-53-22 pm](https://cloud.githubusercontent.com/assets/1327850/24076647/bd9ea2b6-0bfb-11e7-8be1-6967c7190127.png)

[2017-03-18 22:56] macumber commented on #2438
@kbenne FYI

[2017-03-18 23:07] #2438 closed

[2017-03-20 21:13] macumber commented on #2459
It sounds like some fields are working but others are not?  Can we get a list of the fields that are not working?  Also, it is probably time to update the JSON in OS App?

@asparke2 FYI

[2017-03-20 23:58] macumber commented on #2503
Assigned back to @DavidGoldwasser to reproduce with simpler model

[2017-03-21 03:45] macumber commented on #2457
Noticing that space loads like electric equipment have fields 'Energy Per Space Floor Area', should be 'Watts Per Space Floor Area' or 'Power Per Space Floor Area'

[2017-03-21 04:01] DavidGoldwasser opened #2527 "joinAll method sometimes doesn't include all surfaces"
Hit this making a measure to join all ground exposed surfaces
https://github.com/UnmetHours/openstudio-measures/blob/master/get_lat_long_from_ground_exposed_floors/measure.rb#L107

Test model shown has 4 zones, with the south zone split into 5 surfaces.
https://github.com/UnmetHours/openstudio-measures/blob/master/get_lat_long_from_ground_exposed_floors/tests/get_lat_long_from_ground_exposed_floor

[2017-03-21 14:44] asparke2 opened #2529 "PAT won't download datapoint zip on Mac"
@rHorsey It looks like your Windows vs. Mac differentiation for the datapoint zip file never got merged:

https://github.com/NREL/OpenStudio-server/blob/dockerize-master/server/app/controllers/data_points_controller.rb#L360

[2017-03-21 15:28] DavidGoldwasser opened #2530 "Crash on go to results after saving new model"
- Launch OS app (03/20 installer)
- Save model
- go to results tab

This crashes on mac

[2017-03-21 15:37] kbenne commented on #2530
The symptom looks really close to this. https://github.com/NREL/OpenStudio/pull/2528 bouncing doc icon is very close to a crash. more than it may seem.

[2017-03-21 15:44] DavidGoldwasser opened #2531 "2.0.5 03/20 pat results tab not working, not finding results measure"
probably caused by change to osw format

[2017-03-21 15:49] DavidGoldwasser opened #2532 "can't delete datapoints from Run or Reports tabs"
If I delete a datapiont from the Design Alternatives tab, it still show up on results tab and can't be removed.
[code]

[2017-03-21 16:08] DavidGoldwasser commented on #2530
Not sure if this is helpful, but if you go to results tab before saving the file it doesn't crash.

[2017-03-21 16:40] DavidGoldwasser commented on #2493
@henryHorsey this bug was already logged and open. Behavior is similar to this.

I can generally get clean run by either

1. Clicking "Run Entire Workflow" prior to the "Server Status" going to green
2. Clicking "Stop Local Server" and then "Run Entire Workflow"
3. Try to run 10 times, and may work one time?

Each failed attempt adds an analysis with no datapoints and unknown status.

- Running wh

[2017-03-21 16:52] DavidGoldwasser commented on #2493
Not sure if useful, but when I look at the analysis log on server there are 900 lines of normal looking log

Then this repeats for about 100 lines
[code]
[1] "Create and Run Datapoint 1 z: {\"status\":false,\"id\":\"9a134f7e-3fe2-41b1-8709-4ed2354ed600\"}"
[1] "json: FALSE"
[2] "json: 9a134f7e-3fe2-41b1-8709-4ed2354ed600"```

[2017-03-21 17:05] brianlball commented on #2493
these are just debugging messages
whats the value of 'debug_messages' in your analysis.json?

[2017-03-21 17:28] DavidGoldwasser commented on #2493
@brianlball when NREL24b is free I can re-send the long was from NREL24b. When I run from PAT app not sure what equivalent file is. 'temp_data just has empty directories and I don't find 'debug_messages' in 'PAT_0321_0809.json' or 'pat.json'

![screen shot 2017-03-21 at 11 26 26 am](https://cloud.githubusercontent.com/assets/4857055/24161275/88fb69c4-0e29-11e7-94b5-23c0738e1592.png)

[2017-03-21 19:05] #2525 closed

[2017-03-21 19:06] #2436 closed

[2017-03-21 19:37] #2515 closed

[2017-03-21 19:44] DavidGoldwasser opened #2536 "Can't view OpenStudio Results or some other Reporting measures in OS App"
Hit this with the OpenStudio-2.0.5.31a1faa854-Darwin installer. @ljbrackney saw this first and I was able to confirm it. When you go to Results tab you instead see the EnergyPlus report.

This seems to affect some but not all reporting measures. For example View Data is effected by this but Generic QAQC is not. The report HTML files are in the "results" directory where they typically are and they

[2017-03-21 19:45] #2530 closed

[2017-03-21 20:29] DavidGoldwasser opened #2537 "I may have missed 8.6 to 8.7 changes for tariff reporting"
Just seeing "Additional" and "Water" in test with Tariff measure. I'll update with more details later.

[2017-03-21 20:29] DavidGoldwasser commented on #2537
I should also confirm this with PAT

[2017-03-21 20:45] evanweaver commented on #2493
@asparke2 No problems on my Mac VM currently.

[2017-03-21 21:46] DavidGoldwasser commented on #2536
@macumber see's this on his machine

Unhandled exception at 0x0000000180675E4B (Qt5WebEngineCored.dll) in OpenStudioApp.exe: 0xC0000005: Access violation reading location 0xFFFFFFFFFFFFFFFF.

[2017-03-21 23:13] #2536 closed

[2017-03-22 15:00] DavidGoldwasser commented on #2536
@macumber I confirmed this is good in installer from this morning

[2017-03-22 17:28] DavidGoldwasser commented on #2507
@kflemin and @macumber I still have to set required arguments without default values as variables with latest installer from today (OpenStudio-2.0.5.ea07797068-Darwin)

This also is creating problem where I want to skip a measure that has required arguments without default values. I don't have an work around for this situation.

[2017-03-22 20:42] asparke2 opened #2540 "PAT projects created on Windows don't run successfully on Mac"
Note: PAT projects created on Mac **DO** run successfully on Windows.

I suspect that this is a bug in how path strings are being set or concatenated.

Steps to reproduce:

1. Create a PAT project on Windows
2. Zip it and send to Mac
3. Unzip the file on Mac
4. Open the project in PAT
5. Run

In the following example, `aparker` is Windows and `dgoldwas` is Mac.  Ignore the diff order.

Diffing the

[2017-03-22 20:43] asparke2 commented on #2540
@kflemin This is not the same thing as the `ERROR EOFError: bad content body` error we were discussing.  Still don't know what caused that one.

[2017-03-22 21:51] asparke2 commented on #2507
@kflemin I confirmed that this is still a bug in PAT 2.0.5 from 3/22.

The arguments "Weather Directory," "Weather File Name" and "Climate Zone" are `required` arguments which do not have default values.  I manually entered values in PAT:
![image](https://cloud.githubusercontent.com/assets/2009290/24221857/9c18cc58-0f15-11e7-8ace-a7916c0a1bee.png)

But the values I entered aren't making it to the

[2017-03-22 22:00] ljbrackney commented on #2507
I was just chatting w/ Kat about another default value error that may be related.  She mentioned a fix she was working on.

From: asparke2 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, March 22, 2017 at 2:51 PM
To: NREL/OpenStudio <OpenStudio@noreply.github.com<mailto:OpenStudio@noreply

[2017-03-22 22:42] ljbrackney commented on #2507
I tried a similar workaround on my SEB project.  It changed the nature of the failure - no longer a default error, but a weird type casting of a string (end date) to a double.

From: asparke2 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, March 22, 2017 at 2:51 PM
To: NREL/OpenStudio <Op

[2017-03-23 17:20] DavidGoldwasser commented on #2537
Fixed with two commits on this branch. Will push measure to BCL after 2.1 release (want to wait in case any issues)
https://github.com/NREL/OpenStudio-measures/commits/shorten_tariff_file_names

[2017-03-23 17:20] #2537 closed

[2017-03-23 19:27] macumber commented on #2441
Issue was missing ssleay32.dll and libeay32.dll files in /bin

The validateAuth key method is really lame, basically all it does it check that it can access the BCL, no authentication of the key occurs

[2017-03-23 19:29] macumber commented on #2441
This fix will not make 2.0.5, affected users can copy the dlls from an OpenStudio 1.x install

[2017-03-23 19:47] eringold commented on #2441
Thanks Dan!

[2017-03-23 20:12] ljbrackney commented on #2519
Working!

[2017-03-23 20:12] #2519 closed

[2017-03-23 20:23] asparke2 commented on #2493
We have isolated the cause of this bug.  If one or more of the measures in a project contains a lot of files (or a few large files), creating the `analysis.zip` file takes a while.  There is currently no checking that the `analysis.zip` is complete before it is sent to the server.  On Mac, this manifests as a `Faraday` error in the PAT log and on Windows looks like an `ERROR EOFError: bad content

[2017-03-23 21:03] #2441 closed

[2017-03-24 15:03] ljbrackney opened #2541 "Variable distribution plots appear on server as broken links"
Variable distribution plots from R aren't being generated or aren't where they're supposed to be on AWS or Brian's box.  A typical broken link takes the form of:

http://YourAWSURLhere/assets/variables/58d2a13806e53e0001844802/original/r_samples_plot20170322-1-dv4gwc.png?1490198840

[2017-03-24 15:32] DavidGoldwasser commented on #2503
I haven't been able to reproduce this on a new project. Will close unless it comes back up.

[2017-03-24 15:48] DavidGoldwasser commented on #2502
What happens if instead you try to import the schedules from the OpenStudio Applicaiton. You can do this by using "Load Library" in the file menu, then the content of that file will show up in "Library" section at the right, and can be dragged into to schedule drop zones in the app. Doing that will clone it into the model. If you plan to use schedules in multiple places best option is to drag into

[2017-03-28 09:28] jmarrec commented on #2497
+1

[2017-03-28 09:31] jmarrec commented on #2496
Same problem on Mac. This also does it when you click on a column header to sort with it. I can see it change, probably supposed to be uparrow and downarrow.

![screen shot 2017-03-28 at 11 30 24](https://cloud.githubusercontent.com/assets/5479063/24398520/0c1a379c-13aa-11e7-80e4-7e905190c4dc.png)

[2017-03-28 09:47] jmarrec opened #2543 "PAT Add Measure - Missing "Category" Filter"
- OpenStudio Version: 2.0.5
- Operating System: macOS Sierra 10.12.3

When I click on “Add Measures”, it loads the window titled "Building Component Library" (is this really an appropriate title???), and there’s no filter for “Category"

![screen shot 2017-03-28 at 11 22 09](https://cloud.githubusercontent.com/assets/5479063/24399218/58cb3008-13ac-11e7-96ae-0e5dab195bbe.png)

[2017-03-28 13:07] eringold commented on #2543
There are category filters in the Windows x64 PAT install (v2.0.5).

[2017-03-28 13:59] jmarrec commented on #2428
It now installs to `/Applications/OpenStudio-2.0.5` and the cli is put in `/usr/local/bin/openstudio`. I cannot see any variable $RUBY_PATH though.

[2017-03-28 14:07] kbenne commented on #2428
The cli in /usr/local/bin/openstudio is actually a symbolic link. I'm glad to know you have confirmed it is working.

The install path in /Applications/OpenStudio-2.0.5. is also according to plan. I would rather have spaces instead of "-", but parts of PAT do not play well with spaces.

The installer is not currently trying to put the ruby bindings in the ruby path. This is 90% by design and maybe

[2017-03-28 14:08] kbenne commented on #2428
I want to close this is @jmarrec gives it a thumbs up.

[2017-03-28 14:12] jmarrec commented on #2428
Yeah I don't think it's necessary to add it to the Ruby path, I use my system ruby for interactive sessions anyways.

I figured it was a symlink. I'm wondering if the owner shouldn't be the user rather than `root`

    (py36)julien@~$ ls -l /usr/local/bin/open*
lrwxr-xr-x  1 root  staff  45 Mar 16 01:05 /usr/local/bin/openstudio -> /Applications/OpenStudio-2.0.5/bin/openstudio

Other than that, I'

[2017-03-28 14:18] kbenne commented on #2428
root owner is what we want. read / execute everyone. write only if you are God.

[2017-03-28 16:54] kflemin commented on #2540
just committed a fix

[2017-03-28 16:58] kflemin commented on #2532
Manual or Algorithmic?

If manual, each datapoint corresponds to a design alternative (so they won't totally go away from the results tab, but some of the data may be deleted).

How are you trying to delete a datapoint exactly?

[2017-03-28 17:17] kflemin commented on #2493
this should be fixed.

[2017-03-28 22:41] mdahlhausen commented on #2502
Loading schedules in the OpenStudio App with "Load Library" works fine.  It is a Sketchup Plugin Error - The "Import Schedules" method in the SketchUp plugin breaks things most of the times I try to use it.  I'm thinking it has something to do with the hardcoded paths I'm seeing in the errors above?

[2017-03-29 16:14] rHorsey commented on #2518
Fixed by https://github.com/NREL/OpenStudio-server/commit/133d7e23637e1ebebd739f2bc94d3b0e64f6aec5

[2017-03-29 16:17] rHorsey commented on #2523
FYI @ljbrackney this milestone should be 2.1.1

[2017-03-29 16:18] kflemin commented on #2507
@ljbrackney, can you send me the project that has the 'change building location' measure?  I'll test it locally.  thanks!

[2017-03-29 16:18] rHorsey commented on #2541
FYI @ljbrackney This should also have a 2.1.1 milestone. We decided this and the mongo bug were a combination of not-intrusive enough and high risk enough to wait until after the iteration package to patch.

[2017-03-29 20:02] shorowit opened #2544 "PAT arg default value is missing"
Create a new project, add the attached measure, and add a measure option. Note that Garage Width and Garage Protrusion are blank, whereas they should have default values of 0.0.

[ResidentialGeometrySingleFamilyDetached.zip](https://github.com/NREL/OpenStudio/files/880240/ResidentialGeometrySingleFamilyDetached.zip)

[2017-03-29 20:04] shorowit commented on #2501
+1

[2017-03-30 16:23] DavidGoldwasser commented on #2532
This was in manual. and I deleted the datapoints from the Design Alternatives tab and it still shows on the run tab. Maybe that is as designed, but seems like it will clutter up project. This also affects the reports tab. @asparke2 will for most reports this is just cosmetic, but will it have bigger impact on EDAPT? or is it fine if extra datapoints are there?

I think this is a minor issue, and I

[2017-03-30 16:34] DavidGoldwasser opened #2545 "Optional (string) argument not working as expected in PAT 2.1.0"
I upgraded the change building location measure to have an optional argument for 'weather_directory'. This was done to make use of the 'runner.findFile' method in OpenStudio to find any files included with the analysis. I tested this in 2.0.5 and it worked fine. I had the epw, ddy, and stat files in the 'weather' directory.
https://github.com/NREL/OpenStudio-measures/blob/develop/NREL%20working%20

[2017-03-30 16:44] macumber commented on #2545
It would be correct to either omit the key 'weather_directory' or to set the value to nil (whatever JSON wants that to be).  We do not treat empty strings as nil.

[2017-03-30 16:45] macumber commented on #2545
Depending on where this happens, @rHorsey might also be the person to assign

[2017-03-30 17:52] DavidGoldwasser commented on #2544
I'm seeing this as well in the initial 2.1.0 installer. Here is what I see in the console for an argument

[code]

Here is what I see for a variable, warning doesn't show, but still setting value as empty string.

[code]

Issue #2545 may be related to this?

[2017-03-30 20:23] ljbrackney opened #2546 "Output Variable Table in Output Tab is Empty in PAT 2.1.0"
![output_tab](https://cloud.githubusercontent.com/assets/2230150/24524595/05000074-154c-11e7-9ad1-3cb73d366f59.png)

This happens in all of my projects on Mac.

[2017-03-30 20:47] DavidGoldwasser commented on #2503
I was able to re-produce this on a clean simple model. Issue seems to come up only when all of the datapoints in the project use "None" for a particular model. If just one of the datapoints doesn't use "None" then all of the datapoints are fine.

Here are the datapoints in GUI

![screen shot 2017-03-30 at 2 41 45 pm](https://cloud.githubusercontent.com/assets/4857055/24525356/255b9f62-1557-11e7-81

[2017-03-30 21:00] DavidGoldwasser commented on #2544
@kflemin I'm not sure, but think I'm seeing this on bool arguments as well, but only when the default value is FALSE. I'll do a little more testing on clean project to confirm.

[2017-03-30 21:36] DavidGoldwasser commented on #2544
I was able to reproduce this with "AddCostPerAreaToConstruction" measure. It has two bool args. One defaults to true and is fine. The other defaults to false (see link below).
https://github.com/NREL/OpenStudio-measures/blob/develop/NREL%20working%20measures/AddCostPerAreaToConstruction/measure.rb#L70-L74

It gets this error when I run it in project. Was clean project with small office building pr

[2017-03-30 22:45] DavidGoldwasser commented on #2545
Add overhang by projection factor is another measure with optional argument.

[2017-03-31 02:21] miwamasa opened #2547 "OpenStudio 2.0 Ruby inteface mismatch? or missing? from 1.x versions"
I have been  using ruby interface to manupulate osm.
Some of my existing script does not work under OpenStudio 2.0 enviroment.

For example, following Ems_test.rb reports several errors

OpenStudio / openstudiocore / ruby / openstudio / model / test / Ems_Test.rb

followings are the two of the errors I found on the Ems_Test.rb
I have corrected manually the first API error, then I encountered the s

[2017-03-31 14:39] DavidGoldwasser commented on #2531
@asparke2 this has been working on mac. If good on windows as well you can close this

[2017-03-31 16:03] DavidGoldwasser commented on #2544
@kflemin this is working for me with the newest 2.1.0 installer. I did notice that existing files made with older versions may still see this, but a clean project worked as expected. @shorowit I'll close this, but if some reason doesn't work for you on fresh project, let me know.

[2017-03-31 16:03] #2544 closed

[2017-03-31 16:05] DavidGoldwasser commented on #2501
@evanweaver I see units in some cases in 2.1.0 installer, but it looks like it doesn't like special characters. Look in image below how 'ft' is fine, but 'ft^2' is not.

![screen shot 2017-03-31 at 10 01 23 am](https://cloud.githubusercontent.com/assets/4857055/24558743/7bad8cf2-15f9-11e7-83fb-b7b5c6c720ae.png)

[2017-03-31 16:20] DavidGoldwasser commented on #2501
After going through it with @evanweaver looks like issue occurs when data is written to 'pat.json'. Looks like this

[code]

If I manually change the unit string to 'ft^2' in this file the GUI displays it fine. The '^' seems to be issue, as 'ft2' is fine if that is used in measure.rb and measure.xml instead. I assume there could be other offending alpha numeric characters.

[2017-03-31 16:57] ljbrackney opened #2548 "Results disappear from Run Tab in Cloud Mode"
After a completed cloud run w/ populated results - navigating away from the run tab and back erases the results from the run tab.  This is likely a display issue, as results are still in the project.  It does not effect local, manual projects.

[2017-03-31 17:19] DavidGoldwasser opened #2549 "Duplicate Measure and Option can create invalid workflow"
I created this on clean project with new installer by using these steps.

1. Add One or more OpenStudio Measures
2. Optionally Add E+ measure
3. Add OpenStudio Results
4. Click "Duplicate Measure & Option" for one of the OpenStudio Measure

Things look fine on the measure options page but are out of order on the design alternatives page and results in failed analysis if the project is run (looks l

[2017-03-31 17:50] DavidGoldwasser commented on #2549
Here is link to project zip
https://drive.google.com/open?id=0BziGk7eItbVVWnZ5dEQtVDQ1WUU

[2017-03-31 19:48] eringold commented on #1398
Surface::effectiveHeight() would also be useful for Construction:CFactorUndergroundWall [input].(http://bigladdersoftware.com/epx/docs/8-6/input-output-reference/group-surface-construction-elements.html#field-height)

[2017-04-03 05:51] ljbrackney opened #2551 "Need some human-readable diagnostic messages for missing arguments"
Missing arguments often causes data points to fail with no useful diagnostic messages in the data point.  This usually shows up as all data point measures having no I/O messages.  Errors need to get back to the GUI somehow to help users identify the issue.  In my case, I changed the seed and a model choice argument became invalidated and was reset to nothing.  Took me a while to figure that out wi

[2017-04-03 06:07] ljbrackney opened #2552 "Visualize should be defaulted to true for any selected outputs"
The design as-is has me pick which outputs I want.  Then I get to tell the UI that I REALLY REALLY want them as outputs.  No seriously, make them outputs because I want to see them.

[2017-04-03 19:13] ljbrackney opened #2553 "Enable Scaling in PAT"
Need tp enab;e ctrl/cmd +/- or mouse wheel to scale PAT.

[2017-04-04 09:06] jmarrec commented on #2428
@kbenne I installed the os 2.1.0, it didn't update the /usr/local/bin/openstudio symlink

[2017-04-04 13:57] kbenne commented on #2428
didn't "update"

Does that mean you had a link, perhaps to a previous install, but it didn't get updated to point to the new install?

[2017-04-04 14:26] jmarrec commented on #2428
That is correct, it was pointing to openstudio-2.0.5 which I had trashed (didn't use the maintenance tool, I trashed the entire folder)

[2017-04-04 14:29] kbenne commented on #2428
ok. I can fix this.

The maintenance tool will by the way remove the link.

[2017-04-05 19:42] ljbrackney commented on #2546
Thanks, Kat!

[2017-04-05 19:42] #2546 closed

[2017-04-05 20:42] ljbrackney commented on #2548
Still seeing this in 4/5/17 packages.

[2017-04-05 22:38] DavidGoldwasser opened #2555 "Larger font on Windows in vrf system view"
https://unmethours.com/question/23627/openstudio-vrf-font-size/?answer=23688#post-id-23688

[2017-04-06 14:38] shorowit opened #2556 "Links to older SDK documentation"
It would be really helpful to have links to the SDK documentation for older versions of OpenStudio on the [documentation website](https://openstudio-sdk-documentation.s3.amazonaws.com/index.html). At the moment, it's really hard to find.

E.g.,
[1.14.0](https://s3.amazonaws.com/openstudio-sdk-documentation/cpp/OpenStudio-1.14.0-doc/model/html/index.html)
[1.13.1](https://s3.amazonaws.com/openstudi

[2017-04-06 15:05] macumber commented on #2556
If anyone wants to take a crack at updating that page and sending us an updated html we can take a look at it and post it

[2017-04-06 15:39] jmarrec commented on #2556
[index.txt](https://github.com/NREL/OpenStudio/files/903152/index.txt)

Done. I grepped all release tags from the github repo, and added a section on the index.html called "Documentation for older versions" that has a `<ul>` list, styled to display 6 columns, with all links to past versions.

[2017-04-06 15:47] jmarrec commented on #2556
Oops wait I put it on https://s3.amazonaws.com/openstudio-sdk-documentation/cpp/OpenStudio-2.1.0-doc/model/html/index.html without thinking. Been told it should be there: https://s3.amazonaws.com/openstudio-sdk-documentation/cpp/OpenStudio-2.1.0-doc/model/html/index.html

Gimme a minute

[2017-04-06 18:39] jmarrec commented on #2556
Here's the new version: [google drive](https://drive.google.com/open?id=0B6iX99bTtTWxRERXRWVURkdDZWc)

Added a third column to https://s3.amazonaws.com/openstudio-sdk-documentation/index.html with a dropdown to select the version, and then there's some jQuery to dynamically change the links in said column. When a new release appears, you just have to add a new `<option>vX.Y.Z</option>`.

![screen

[2017-04-06 18:43] macumber commented on #2556
Fixed by @jmarrec and posted live!

[2017-04-06 18:43] #2556 closed

[2017-04-07 01:33] jmarrec commented on #2556
For "fun" I created another version that doesn't require updating going forward. The HTML portion is empty save for some html tags since all is dynamic.

It queries the github api to get the latest releases and creates the entire table dynamically using jQuery. I also added ajax calls when you select a version using the dropdown to not provide links if they don't exist (example: "measure" namespac

[2017-04-07 16:22] shorowit opened #2557 "PAT 2.1.0 datapoint error due to optional arg"
See attached project file.

[pat_bug.zip](https://github.com/NREL/OpenStudio/files/906159/pat_bug.zip)

The second measure (Ceiling Thermal Mass) has 4 required double arguments and 4 optional double arguments, which are not provided. The datapoint fails on one of the optional double arguments:
[code]

[2017-04-07 18:44] asparke2 commented on #2557
@shorowit Can you make a separate issue for the second thing?

[2017-04-07 18:46] asparke2 opened #2558 "Can't start Amazon server on Windows w/ PAT 2.1.0"
Tried to start an Amazon cluster, but it never gets past the "starting" icon.  Nothing shows up in the EC2 console.  Based on the developer console output, it appears that there is a problem in setting up the environment variables or reading the credentials yml file.

![image](https://cloud.githubusercontent.com/assets/2009290/24814699/f868121c-1b8f-11e7-8b20-cff1340de7af.png)

**Workaround**

1.

[2017-04-07 18:47] #2531 closed

[2017-04-07 18:56] shorowit opened #2559 "PAT 2.1.0 missing units"
See attached project file.

[pat_bug.zip](https://github.com/NREL/OpenStudio/files/906534/pat_bug.zip)

There's a bug where units are shown for every other argument in the second measure even though all 8 arguments have units.

![f669b452-1b7b-11e7-8e11-d832ab63b5ef](https://cloud.githubusercontent.com/assets/5861765/24815167/88a61666-1b91-11e7-92c6-12404659ac73.png)

[2017-04-07 18:56] shorowit commented on #2557
Done.

[2017-04-07 19:04] asparke2 commented on #2547
That test should be removed; I believe it was accidentally committed before the development of EMS objects was complete.  As for `OpenStudio::Model::Meter,` it was renamed `OpenStudio::Model::OutputMeter` last June by this PR:  https://github.com/NREL/OpenStudio/pull/2263

[2017-04-07 19:06] asparke2 commented on #2547
@macumber I think that this test file snuck through the ruby code purge, probably from the EMS branch merge, and should be removed.
https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/ruby/openstudio/model/test/Ems_Test.rb

[2017-04-07 19:56] DavidGoldwasser opened #2560 "intersectSurfaces having inconsistent results on measure test for model articulation"
I run the same test three times, and get three different results. This test is update to model articulation to allow partial top floors by entering 5.5 vs 6 for number of above grade stories.

In this run of test the right side split non-convex surfaces, and didn't intersect or split non-convex  on the left.

![screen shot 2017-04-07 at 1 23 12 pm](https://cloud.githubusercontent.com/assets/485705

[2017-04-07 20:04] macumber commented on #2560
Bummer, I have some hope that upgrading boost might fix some of these things.

My first question will be why are you generating this weird top floor that doesn't match the other floors footprints?

[2017-04-07 20:05] macumber commented on #2560
Another option is to do some sorting of spaces and surfaces before matching, that will at least make this deterministic.

[2017-04-07 20:06] macumber commented on #2547
Yeah that test should be removed and a new test added to regression repo, @brianlball FYI

[2017-04-07 20:10] macumber commented on #2547
https://github.com/NREL/OpenStudio/commit/1f84fa7a4ceb4e13473425f92e752ec1d14f6827

[2017-04-07 20:17] nmerket opened #2561 "Symlinked CLI cannot find EnergyPlus on Mac"
I am trying to use the OpenStudio CLI and it complains of not being able to find EnergyPlus unless I set the `ENEREYPLUS_EXE_PATH` environment variable. This only happens when I use the CLI that is symlinked into `/usr/local/bin/openstudio`. When I use the one in `/Applications/OpenStudio-2.1.0/bin/openstudio` it is able to find EnergyPlus just fine.

If I run the following ruby script using the C

[2017-04-07 21:13] DavidGoldwasser commented on #2560
I updated the number of stories above grade to take any double (1 or greater) vs. just positive integers. This was done for project to model specific tenants from a building that may span full and partial stories

This test happens to use 5.5 stories above grade. My current logic just reduces the floor area of the top story while maintaining the same aspect ratio and x,y origin. I could just chang

[2017-04-11 13:06] adhilton25 opened #2562 "Apply Measure Now Clears Measures Tab"
Running a measure in the OS App 'Apply Measure Now' dialog clears all measures in the measures tab in 2.1.0. Tested on multiple computers, on multiple *.osm files, with multiple measures. Even the 'blank' model file initially loaded can exhibit this behavior.

1. Launch the OS App
2. Verify that the 'OpenStudio Results' reporting measure is in the measures tab or drag and drop another measure in
3

[2017-04-11 13:54] asparke2 opened #2563 "Pre-run error checking in PAT for algorithmic mode"
Sometimes no simulations will run and there are no obvious errors for a user to diagnose the issue.  As we encounter combinations that cause failures, the should be added to this list so they can be addressed in the future.

Error-causing conditions:
1. Need at least 1 argument.  You can't set everything to Pivot to run a full factorial.
2. Need to fill in weighting factors for discrete arguments,

[2017-04-11 16:17] kbenne commented on #1725
This was supposed to be addressed in [this commit](https://github.com/NREL/OpenStudio/commit/be6d336926fe9d45f48ecf80bd02cce1bf98bd7e).

The work was done under a duplicate issue number [here](https://github.com/NREL/OpenStudio/issues/2525)

Rumor has it that the issue is still lurking for someone, so the fix needs more verification.

[2017-04-11 18:00] shorowit opened #2564 "PAT 2.1.0 integer_sequence distribution for pivot variable"
In PAT 2.1.0, there is no way to specify integer_sequence distribution for a pivot variable using diagonal sampling. This is a blocker for ResStock, as the user would have to type in the individual numbers 1 through 100,00 for example.

(I could have sworn this was implemented, but I don't see it in the released version.)

[2017-04-11 18:45] shorowit opened #2565 "PAT 2.1.0 datapoint errors using duplicate measure"
See attached project file.

[resstock_pnw.zip](https://github.com/NREL/OpenStudio/files/914358/resstock_pnw.zip)

It runs correctly as specified. But when I simply click Duplicate Measure twice for the Apply Upgrade measure (resulting in "Apply Upgrade 2" and "Apply Upgrade 2 2") and then re-run the analysis, I get the error below for every datapoint. For some reason, it thinks the duplicated meas

[2017-04-11 18:54] asparke2 commented on #2564
This is a blocker for ResStock to use OS 2.0

[2017-04-11 18:54] asparke2 commented on #2565
This is a blocker for ResStock to use OS 2.0

[2017-04-11 20:09] rHorsey commented on #2564
Fixed by https://github.com/NREL/OpenStudio-PAT/commit/ce7e34122c0d247378ba45aaf7864f006afc5771 - this will be in 2.1.1. Can someone with sufficient privileges close this issue?

[2017-04-11 20:14] #2564 closed

[2017-04-11 22:09] #2414 closed

[2017-04-12 14:56] DavidGoldwasser commented on #2565
May be duplicate of issue #2549

[2017-04-12 15:21] DavidGoldwasser opened #2566 "Window 2.1 installer sometimes silently quits"
I'm seeing this on fresh NREL windows 7 machine with this installer from GitHub releases
OpenStudio-2.1.0.fae436fc10-Windows.exe

@macumber has seen something similar on his home machine. This doesn't seem to always happen, not sure what makes specific systems unique. I have deleted and re-downloaded installer, but will try a few more things.

[2017-04-12 15:31] DavidGoldwasser commented on #2566
@evanweaver maybe just need to re-post installer to GitHub releases?
https://github.com/NREL/OpenStudio/releases/tag/v2.1.0

The installer at link above is 245mb, but when I want to OpenStudio website logged in and downloaded, I get a 314mb installer, which ran fine.
https://www.openstudio.net/downloads

[2017-04-12 15:52] ljbrackney commented on #2566
I've seen the installer hang on Mac. Very rare. Killing the proc and restarting fixes it.

On Apr 12, 2017, at 8:22 AM, David Goldwasser <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm seeing this on fresh NREL windows 7 machine with this installer from GitHub releases
OpenStudio-2.1.0.fae436fc10-Windows.exe

@macumber<https://github.com/macumber> has seen something similar

[2017-04-12 16:41] mdahlhausen opened #2567 "SketchUp plugin can't open files with non a-z letters in filepath"
[From this unmethours question](https://unmethours.com/question/23709/problem-to-save-osm-file/).
User had an **é** in their windows username, which prevented them from opening or saving files to their desktop/documents directories.  Using Sketchup 2017 Make and OpenStudio 2.1.0 (Window 10 64 bits).

I was able to re-create the issue on my machine with an é in a directory name. I can save, but not

[2017-04-12 16:44] evanweaver commented on #2566
This has been rectified, and I have implemented corrective action for the future.

[2017-04-12 17:01] DavidGoldwasser opened #2568 "Install Instructions page needs to be updated for 2.x"
http://nrel.github.io/OpenStudio-user-documentation/getting_started/getting_started/#installation-steps

- [ ] SketchUP 2016 needs to change to 2017

- [ ] Ruby version needs to be upgraded.

Maybe be other changes needed as well, but wanted to document this while I was thinking about it.

[2017-04-13 14:08] ljbrackney opened #2569 "PAT 2.1.0 Analyses Fail w/ No Useful User Feedback Under Some Default Arg Conditions"
Some PAT projects with no defaults cause a server failure and return an "undefined" state to PAT.  Data points all fail with no useful feedback to the user unless they open the developer console.  Some of the failed default cases I've seen include:

1) Model choice arguments that come unset when changing a seed model
2) Life cycle cost arguments that actually do have 0 as a default, but show up as

[2017-04-13 15:36] shorowit opened #2570 "PAT duplicate measure names don't increment"
When you duplicate a measure Foo in PAT 2.1.0, you get "Foo 2". If you then duplicate "Foo 2", you get "Foo 2 2" instead of "Foo 3". It does work correctly if you duplicate measure "Foo" twice.

@asparke2

[2017-04-13 15:44] shorowit commented on #2570
I should clarify that this is in algorithmic mode.

[2017-04-13 15:52] gokmartian commented on #2560
I think I have a similar version of this problem. My model has two buildings. Different floors of the buildings don't have similar floor plans, as above. Intersection and surface matching completely removes surfaces from one of the surfaces, and creates holes. The other matching surface, as a result, is set to outdoors/roofcieling/ground, instead of getting matched to the adjacent surface. Differe

[2017-04-13 16:04] shorowit opened #2571 "PAT ability to rename measures in algorithmic mode"
In PAT, if you have a measure Foo and duplicate it in algorithmic mode, you get Foo 2, Foo 3, etc. It'd be really helpful for ResStock if you could rename the measure display names in the interface to keep track of things.

@asparke2

[2017-04-13 16:27] ljbrackney commented on #2571
+1 for renaming capability.

On Apr 13, 2017, at 9:06 AM, Scott Horowitz <notifications@github.com<mailto:notifications@github.com>> wrote:

In PAT, if you have a measure Foo and duplicate it in algorithmic mode, you get Foo 2, Foo 3, etc. It'd be really helpful for ResStock if you could rename the measure display names in the interface to keep track of things.

@asparke2<https://github.com/aspark

[2017-04-13 19:05] rHorsey commented on #2565
This issue appears to be due to the workflow reorganization method not being invoked during the measure step duplication process. As a result, measure steps are appended to the end of the workflow, as expected, but not reorganized into the correct order, as would be expected. This causes the workflow validation code to error out, as Ruby measures are called after the EnergyPlus run should have tak

[2017-04-13 19:07] DavidGoldwasser commented on #2549
this is duplicate of #2565

[2017-04-13 19:07] #2549 closed

[2017-04-13 19:21] asparke2 commented on #2565
@henryHorsey Is the fix something that needs to happen in PAT, or on the server?

[2017-04-13 20:33] adhilton25 opened #2572 "Unable to Scale Minimum OA"
Right now, the [forward translator](https://github.com/NREL/OpenStudio/blob/2e71acadf03eb258ca9297679d3b21d96163686b/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateControllerMechanicalVentilation.cpp#L100) gets the `Minimum Outside Air Schedule` from `OS:Controller:OutdoorAir`. When the `Controller:OutdoorAir` is setting the outside air flow rate has the [`Minimum Outside Air Sche

[2017-04-13 20:34] DavidGoldwasser commented on #2565
@asparke2 I think this is at least in part in PAT because I see issue before running the job. See screenshots in #2549

[2017-04-14 05:10] #2493 closed

[2017-04-14 05:17] DavidGoldwasser opened #2573 "ScheduleDay accepts nan for values in API."
Edge case as measure should not do this, but I did it by mistake, resulting schedule crashes app if the schedule is inspected, and EnergyPlus run fails.

API should be more strict on what it accepts for doubles.

[2017-04-14 05:18] DavidGoldwasser commented on #2570
Behavior is same in manual model

[2017-04-14 05:36] DavidGoldwasser opened #2574 "Odd behavior on measure options grid for bool template"
This behavior prevents ability to change bool value on anything after the first measure option. Screenshots below walk through the process

<img width="1254" alt="screen shot 2017-04-13 at 11 25 27 pm" src="https://cloud.githubusercontent.com/assets/4857055/25034106/6b343148-20a1-11e7-8eba-f297450ea426.png">
Image above shows new project with measure option made for measure with a number of  bool

[2017-04-15 22:52] asparke2 opened #2575 "Enable autosizing of WaterToWaterHeatPumps"
`WaterToWaterHeatPumpEquationFitHeating` and `WaterToWaterHeatPumpEquationFitCooling` are [now autosizable](http://bigladdersoftware.com/epx/docs/8-7/input-output-reference/group-plant-equipment.html#field-rated-load-side-flow-rate).  Each object has 4 autosizable fields, plus an extra rated COP field and field that links the heating and cooling heat pump objects for sizing purposes.  It looks lik

[2017-04-15 22:55] asparke2 commented on #2575
@kbenne This seems straightforward, but I don't know if there's precedence for referencing objects like [this](http://bigladdersoftware.com/epx/docs/8-7/input-output-reference/group-plant-equipment.html#field-heating-companion-name) in the SDK yet.

[2017-04-18 13:47] adhilton25 opened #2576 "OS 2.1.0 SketchUp Plugin Attempts Install in Wrong Directory"
The installer attempts to install the plugin to C:/ regardless of where the install directory, or more importantly SketchUp is. My local disk drive letter is D:/ and is where SketchUp is installed, but I get an error saying that it couldn't create the folder on C:/, on which I have no drive mounted.

![image](https://cloud.githubusercontent.com/assets/19593469/25139566/e2ba03ce-241a-11e7-9e8a-94c0

[2017-04-19 15:02] jmarrec opened #2579 "ShadowCalculation field updates another in OS App"
I think this is just a Qt bug:

In OS App 2.1.0:

![screen shot 2017-04-19 at 4 58 37 pm](https://cloud.githubusercontent.com/assets/5479063/25186933/e9155856-2521-11e7-865b-5ec6a511ced9.png)

Change in calculation Frequency field updates the Maximum Figures in Shadow Overlap Calculations.

The underlying object is fine though (looking at ruby API)

[2017-04-19 15:06] jmarrec commented on #2579
Problem is here I think: https://github.com/NREL/OpenStudio/blob/03f83a103fc74708c84671bc24c7d3843bd8907e/openstudiocore/src/openstudio_lib/SimSettingsView.cpp#L1439

[2017-04-19 15:52] asparke2 commented on #2532
I think the current behavior is exactly what I described to @kflemin...but unfortunately I think that in this case I got it wrong.  There needs to be some way to delete results from design alternatives that no longer exist from the run tab.  Have realized this after getting some questions from EDAPT users.

[2017-04-20 14:50] DavidGoldwasser opened #2581 "About ParametricAnalysisTool doesn't show proper version number"
just shows 0.0.1.

For reference, here is what OS app looks like.

![screen shot 2017-04-20 at 8 49 26 am](https://cloud.githubusercontent.com/assets/4857055/25236913/61eb21a0-25a6-11e7-94c4-3562dbdc4b64.png)

[2017-04-20 15:01] shorowit opened #2582 "PAT 2.1.0 bug when switching discrete -> integer_sequence"
All of the discrete textboxes still remain when switching to integer_sequence. Screenshot:

![patbug](https://cloud.githubusercontent.com/assets/5861765/25237423/e06202aa-25a7-11e7-89db-f9b00dedad12.png)

**Workaround**
Click the `X` button to delete the discrete textboxes.

[2017-04-20 15:03] shorowit commented on #2582
And if you delete all the discrete values, the "+" button still remains.

[2017-04-20 15:51] shorowit opened #2583 "Diag.rb error using integer_sequence"
Specified integer_sequence distribution in PAT 2.1.1 for diagonal sampling and I get this error:

[code]

If I switch from integer_sequence to discrete, it works correctly. But we want to use integer_sequence for ResStock.

@rHorsey @asparke2

[2017-04-20 15:53] shorowit commented on #2583
JSON file:

[analysis.json.txt](https://github.com/NREL/OpenStudio/files/944283/analysis.json.txt)

[2017-04-20 18:49] asparke2 commented on #2565
This was just hit by an EDAPT user working on a project.  They couldn't figure out what the issue was.

[2017-04-20 19:21] shorowit commented on #2558
I'm having the same problem. It continues to work on my old laptop but doesn't work on my new laptop.

[2017-04-21 15:21] shorowit opened #2585 "PAT 2.1.0 analysis error w/ no variables for diag"
When using diagonal sampling, if you don't have any variables specified, PAT does not complain and simply gives "analysis error" when running the workflow. It's impossible for a user to figure out what the problem is. It'd be helpful if PAT could catch this and give a more helpful error message.

cc @brianlball

[2017-04-21 15:35] shorowit commented on #2585
Nevermind... diag can work with no variables. This is not the cause of my failed analysis runs.

[2017-04-21 15:35] #2585 closed

[2017-04-22 15:41] ljbrackney opened #2586 "PAT Project Measures Get Out of State"
It's fairly easy to get the installed project measures out of state with the UI/JSON through Save As or Cancel Save on Exit.  Process:

1) Open Project
2) Delete one or more measures
3) Save as or quit without saving
4) Reopen project later
5) PAT tab 1 indicates all measures are there, but they are no longer in the measures directory
6) Run results in data point failures with no useful feedback i

[2017-04-24 18:55] shorowit opened #2587 "PAT 2.1 runs on wrong target"
1. Run an analysis where you are pointing to, e.g., the NREL24b server.
2. Create a new project, which defaults to Run Locally in the interface.
3. Run this new analysis and note that the runs end up on NREL24b instead of being run locally.

[2017-04-24 19:01] ljbrackney opened #2588 "Duplicate discrete variables cause server failures"
Submitting a project with duplicate discrete values causes an untrapped failure on OS Server in the DOE algorithm - and likely others.  @brianlball suggests this is easiest to trap on the GUI client side of the house.  This would be a fairly stupid user error, but it should be trapped if at all possible.

[2017-04-24 23:40] shorowit commented on #2054
Subscribing.

[2017-04-25 07:52] jmarrec commented on #2054
There are plenty of other objects and methods that have this problem, eg:
[CoilCoolingDXTwoSpeed::setRatedHighSpeedTotalCoolingCapacity](
https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/CoilCoolingDXTwoSpeed.hpp#L281)

[2017-04-25 07:53] jmarrec commented on #2054
[code]

[2017-04-25 08:39] jmarrec commented on #2054
Here's the list without the false positives:

[code]

[2017-04-25 10:25] jmarrec commented on #2054
Fixed for all above objects in #2589.

[2017-04-25 18:55] ljbrackney opened #2590 "PAT Results Tab Shows Datapoint Errors in Algorithm Mode"
PAT currently displays datapoint errors on the results tab:

_The OpenStudio Results measure was not included in DOE Autogenerated 1, cannot show results._

Instead it should state that algorithm results aren't available on the reports tab and should be obtained from the server - perhaps with a URL link.

[2017-04-25 20:45] DavidGoldwasser commented on #2432
Users reporting this on windows machines when launch OSM by double clicking it, but not when loading through file menu.
https://github.com/NREL/OpenStudio/issues/2432

I could see it on windows but not mac, I'll try again on mac with home machine.

[2017-04-25 22:22] shorowit opened #2591 "GroundHeatExchangerVertical::gFunctions not swigged"
GroundHeatExchangerVertical::gFunctions did not get swigged and cannot be used in a measure.

@macumber @jasondegraw

[2017-04-25 22:31] macumber commented on #2591
My suggestion is to create a small struct like class:

class GFunction{
  GFunction(double, double);
  double whateverFirst() const;
  double whateverSecond() const;
}

std::vector<GFunction> gFunctions();

and export the type std::vector<GFunction>

[2017-04-26 18:43] shorowit commented on #2558
I got it to work!

The PAT project on my old laptop had this in the pat.json:
`"yamlFilename": "shorowit",`
while the new laptop had:
`"yamlFilename": "..\\..\\Users\\shorowit\\AppData\\Roaming\\.aws\\shorowit",`

I updated the pat.json file with the line from my old laptop and was able to start an AWS cluster.

@rHorsey

[2017-04-26 21:07] asparke2 commented on #2558
@kflemin made a fix for this that I tested.  It was parsing the slashes in the Windows paths wrong.

[2017-04-27 05:16] DavidGoldwasser commented on #1980
Another UH post
https://unmethours.com/question/24102/getting-started-with-ventilation-simulation-in-os/?answer=24104#post-id-24104

[2017-04-27 20:31] asparke2 opened #2592 "Can't run PAT 2.X projects from network drive"
If your PAT project is stored on a network drive and you open it from that location, the simulations won't run correctly because the analysis won't start.

**Workaround:**
1. Copy PAT project from the network drive to your computer
2. Open the copied PAT project and run simulations
3. Close PAT
4. Copy PAT project back to the network drive

[2017-04-29 16:14] shorowit opened #2593 "WorkflowJSON.save minor enhancements"
When you save a WorkflowJSON, it automatically saves the MeasureStep fields and the arguments in alphabetical order like so:

[code]

It should really return the arguments in the order defined by the user via setArgument. In some cases, the order of arguments can be important and it becomes confusing when the argument order is arbitrarily changed. (In my example above, the dst_foo arguments are of

[2017-05-02 20:42] chrisbalbach opened #2594 "PAT 2.1.0 Model generated datapoints have no means of attaching measure taxonomy tags."
Description of Issue:

In previous versions of PAT (v1.14.0 going back to to v1.9.0), users were able to create a design alternative datapoint by uploading a .osm file. From within the (legacy) PAT GUI, users were then able to tag the model generated design alternative datapoint with (cost) and (measure taxonomy category) pairs. This information was included in the EDAPT .xml export file, and post

[2017-05-04 20:40] shorowit opened #2595 "PAT extraneous algorithm setting for Diagonal"
PAT 2.0 includes an algorithm setting for Number of Samples when using Diagonal sampling, but this value is not actually used. Rather, the number of datapoints is defined by the pivot variables. As this would be confusing to a user, the Number of Samples textbox ought to be removed from the interface.

Not sure if this is true of any algorithms other than Diagonal? @brianlball

[2017-05-04 22:39] asparke2 opened #2596 "Measure manager doesn't remove missing files from the XML"
When you remove (or rename) files in the /tests or /resources directory of a measure, the measure.xml file includes the new filenames but doesn't remove the old filenames.  This happens if you change the capitalization of the resource file names too.

Hit this issue when uploading a modified measure on BCL.  Unless you manually fix the XML, the measure cannot be uploaded successfully.

Workaround:

[2017-05-06 16:09] asparke2 opened #2598 "Fwd translation of EMS:InternalVariable does not sub UIDs w/ object names"
When you create an `EnergyManagementSystemInternalVariable`, the UID of the object that it references does not get converted to the object name in the IDF during forward translation.  I suspect that the solution is to put something like [this code](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateEnergyManagementSystemSensor.cpp#L69-L9

[2017-05-06 16:16] ljbrackney commented on #2523
mongodump.tar.gz downloads from the server have been working for a bit, but I tried uploading a tarball to both 24b and AWS without success.  The upload itself appears to work, but I believe it fails upon extraction or processing thereafter.

[2017-05-06 16:21] ljbrackney commented on #2551
Duplicates 2569

[2017-05-06 16:21] #2551 closed

[2017-05-06 16:23] #2518 closed

[2017-05-06 16:24] #1735 closed

[2017-05-06 16:24] ljbrackney commented on #2521
Moved to 2590

[2017-05-06 16:24] #2521 closed

[2017-05-06 16:26] ljbrackney commented on #2529
Can this be closed?

[2017-05-06 16:28] ljbrackney opened #2599 "PAT does not filter incompatible (newer) AMIs"
PAT 2.1.0 shows 2.1.1 AMIs in the choice list for configuring an AWS Cluster.  Need filtering logic in GUI.

[2017-05-06 16:32] ljbrackney commented on #2558
Feedback from multiple users that this continues to be blocking on Windows.

[2017-05-06 18:20] asparke2 commented on #2529
If you open a PAT project and look inside `/localResults/12345...` do you see a `data_point.zip` file?  If you do, and you can successfully open up the .zip and look at the files inside, then this can be closed.

@rHorsey It looks like PAT is now [wired up](https://github.com/NREL/OpenStudio-PAT/blob/0aeaf99c918e91bc094a83da13a92230ecc0e6e8/app/app/project/osServerService.js#L1452) to [download_re

[2017-05-08 14:52] brianlball commented on #2598
This was a design decision to leave that field as just an /alpha and it doesnt not do any UID substitution since that field can be really anything.  Its similiar to the Actuator Component type and Control Type fields or the Sensor Index Key Name.  Its just too hard to figure out what the "right" values are so its up to the user to put in the right /alpha.

The solution is as you said, the end user

[2017-05-08 15:26] DavidGoldwasser opened #2600 "Apply Measure Now incorrectly reporting warning message count with data from info messages."
This example has 15 info messages and no warnings.

![screen shot 2017-05-08 at 8 57 55 am](https://cloud.githubusercontent.com/assets/4857055/25811406/70069138-33d0-11e7-94dd-51a2da990475.png)

[2017-05-08 19:34] shorowit opened #2601 "Ability to skip NA simulations"
For ResStock, it would be extremely helpful to be able to skip simulations. The context is that we have measures (e.g., apply wall insulation) that only apply to a subset of the building stock (e.g., buildings with uninsulated walls). If the simulation continues without applying this measure, it means we are running a huge number of additional simulations that we don't need to be.

Skipping simula

[2017-05-09 15:31] shorowit opened #2602 "Can't save PAT 2.1.1 project on exit"
I've encountered a situation where you are unable to save your PAT project upon exiting the application, causing any project modifications to be lost. As far as I can tell, this behavior can be reproduced by opening a project in PAT 2.1.1, connecting to an Existing Server (e.g., nrel24a), running simulations to completion, and then clicking the X button on the window to close the application. PAT

[2017-05-09 16:11] shorowit commented on #2602
Hmm, this time I disconnected first but was still unable to save. Not sure I can figure out what allows it to work occasionally.

[2017-05-09 16:49] Yalelush opened #2603 "Failing to upload model in OpenStudio"
Hi,
Upon trying to upload a simple model from Sketchup to OpenStudio, we encountered an error.
We used the diagnostic tool on user scripts, however we received the following message:
[code]
We would appreciate your help in understanding these errors and how to fix them.
We're using SketchupMake2017 and Openstudio 2.1.0.

Thanks!

[2017-05-09 21:06] ljbrackney opened #2604 "App locks up on Results Tab in Windows 10"
https://unmethours.com/question/24372/openstudio-211-results-tab-unavailable/

User reports that report.html is created and viewable within the model folder, but attempts to view in the results tab locks the app.

[2017-05-09 21:33] shorowit commented on #2604
Just tried it on one of my models, and the results tab works fine using OS 2.1.1 on Windows 10. So might be specific to their model?

[2017-05-10 18:19] asparke2 commented on #288
PAT 1.X issue, no longer relevant.

[2017-05-10 18:19] #288 closed

[2017-05-10 18:20] asparke2 commented on #290
PAT 1.X issue, no longer relevant.

[2017-05-10 18:20] #290 closed

[2017-05-10 18:20] asparke2 commented on #292
PAT 1.X issue, no longer relevant.

[2017-05-10 18:20] #292 closed

[2017-05-10 18:21] asparke2 commented on #294
PAT 1.X issue, no longer relevant.

[2017-05-10 18:21] #294 closed

[2017-05-10 18:22] asparke2 commented on #300
PAT 1.X issue, no longer relevant.

[2017-05-10 18:22] #300 closed

[2017-05-10 18:22] asparke2 commented on #303
PAT 1.X issue, no longer relevant.

[2017-05-10 18:22] #303 closed

[2017-05-10 18:24] asparke2 commented on #306
PAT 1.X issue, no longer relevant.

[2017-05-10 18:24] #306 closed

[2017-05-10 18:25] #309 closed

[2017-05-10 18:26] asparke2 commented on #310
PAT 1.X issue, no longer relevant.

[2017-05-10 18:26] #310 closed

[2017-05-10 18:27] asparke2 commented on #305
This is a feature request.

[2017-05-10 18:27] #305 closed

[2017-05-10 18:27] asparke2 commented on #329
PAT 1.X issue, no longer relevant.

[2017-05-10 18:27] #329 closed

[2017-05-10 18:28] asparke2 commented on #331
PAT 1.X issue, no longer relevant.

[2017-05-10 18:28] #331 closed

[2017-05-10 18:28] asparke2 commented on #332
PAT 1.X issue, no longer relevant.

[2017-05-10 18:28] #332 closed

[2017-05-10 18:28] asparke2 commented on #339
PAT 1.X issue, no longer relevant.

[2017-05-10 18:28] #339 closed

[2017-05-10 18:29] asparke2 commented on #342
PAT 1.X issue, no longer relevant.

[2017-05-10 18:29] #342 closed

[2017-05-10 18:30] asparke2 commented on #343
PAT 1.X issue, no longer relevant.

[2017-05-10 18:30] #343 closed

[2017-05-10 18:31] asparke2 commented on #346
PAT 1.X issue, no longer relevant.

[2017-05-10 18:31] #346 closed

[2017-05-10 18:33] asparke2 commented on #351
PAT 1.X issue, no longer relevant.

[2017-05-10 18:33] #351 closed

[2017-05-10 18:34] asparke2 commented on #353
PAT 1.X issue, no longer relevant.

[2017-05-10 18:34] #353 closed

[2017-05-10 18:35] asparke2 commented on #362
PAT 1.X issue, no longer relevant.

[2017-05-10 18:35] #362 closed

[2017-05-10 18:44] asparke2 commented on #480
PAT 1.X issue, no longer relevant.

[2017-05-10 18:44] #480 closed

[2017-05-10 18:44] asparke2 commented on #507
PAT 1.X issue, no longer relevant.

[2017-05-10 18:44] #507 closed

[2017-05-10 18:46] asparke2 commented on #541
PAT 1.X issue, no longer relevant.

[2017-05-10 18:46] #541 closed

[2017-05-10 18:47] asparke2 commented on #542
PAT 1.X issue, no longer relevant.

[2017-05-10 18:47] #542 closed

[2017-05-10 18:47] asparke2 commented on #546
PAT 1.X issue, no longer relevant.

[2017-05-10 18:47] #546 closed

[2017-05-10 18:48] asparke2 commented on #569
PAT 1.X issue, no longer relevant.

[2017-05-10 18:48] #569 closed

[2017-05-10 18:48] asparke2 commented on #600
PAT 1.X issue, no longer relevant.

[2017-05-10 18:48] #600 closed

[2017-05-10 18:48] asparke2 commented on #613
PAT 1.X issue, no longer relevant.

[2017-05-10 18:48] #613 closed

[2017-05-10 18:49] asparke2 commented on #614
PAT 1.X issue, no longer relevant.

[2017-05-10 18:49] #614 closed

[2017-05-10 18:49] asparke2 commented on #621
PAT 1.X issue, no longer relevant.

[2017-05-10 18:49] #621 closed

[2017-05-10 18:49] asparke2 commented on #626
PAT 1.X issue, no longer relevant.

[2017-05-10 18:49] #626 closed

[2017-05-10 18:50] asparke2 commented on #658
PAT 1.X issue, no longer relevant.

[2017-05-10 18:50] #658 closed

[2017-05-10 18:50] asparke2 commented on #703
PAT 1.X issue, no longer relevant.

[2017-05-10 18:50] #703 closed

[2017-05-10 18:51] asparke2 commented on #702
PAT 1.X issue, no longer relevant.

[2017-05-10 18:51] #702 closed

[2017-05-10 18:51] asparke2 commented on #815
PAT 1.X issue, no longer relevant.

[2017-05-10 18:51] #815 closed

[2017-05-10 18:51] asparke2 commented on #868
PAT 1.X issue, no longer relevant.

[2017-05-10 18:51] #868 closed

[2017-05-10 18:53] asparke2 commented on #916
PAT 1.X issue, no longer relevant.

[2017-05-10 18:53] #916 closed

[2017-05-10 18:54] #922 closed, assigned to macumber

[2017-05-10 18:54] asparke2 commented on #959
PAT 1.X issue, no longer relevant.

[2017-05-10 18:54] #959 closed

[2017-05-10 18:54] asparke2 commented on #989
PAT 1.X issue, no longer relevant.

[2017-05-10 18:54] #989 closed

[2017-05-10 18:55] asparke2 commented on #1001
PAT 1.X issue, no longer relevant.

[2017-05-10 18:55] #1001 closed

[2017-05-10 18:55] asparke2 commented on #1042
PAT 1.X issue, no longer relevant.

[2017-05-10 18:55] #1042 closed

[2017-05-10 18:56] #2575 closed

[2017-05-10 18:58] asparke2 commented on #1047
This seems like something that measure manager would be responsible for.

[2017-05-10 18:59] asparke2 commented on #1051
PAT 1.X issue, no longer relevant.

[2017-05-10 18:59] #1051 closed

[2017-05-10 18:59] asparke2 commented on #1115
PAT 1.X issue, no longer relevant.

[2017-05-10 18:59] #1115 closed

[2017-05-10 18:59] asparke2 commented on #1116
PAT 1.X issue, no longer relevant.

[2017-05-10 18:59] #1116 closed

[2017-05-10 19:02] asparke2 commented on #2596
Essentially a duplicate of  https://github.com/NREL/OpenStudio/issues/1147

[2017-05-10 19:02] #2596 closed

[2017-05-10 19:03] asparke2 commented on #1161
PAT 1.X issue, no longer relevant.

[2017-05-10 19:03] #1161 closed

[2017-05-10 19:03] asparke2 commented on #1203
PAT 1.X issue, no longer relevant.

[2017-05-10 19:03] #1203 closed

[2017-05-10 19:03] asparke2 commented on #1204
PAT 1.X issue, no longer relevant.

[2017-05-10 19:03] #1204 closed

[2017-05-10 19:04] asparke2 commented on #1261
PAT 1.X issue, no longer relevant.

[2017-05-10 19:04] #1261 closed

[2017-05-10 19:05] asparke2 commented on #1439
PAT 1.X issue, no longer relevant.

[2017-05-10 19:05] #1439 closed

[2017-05-10 19:06] asparke2 commented on #1444
PAT 1.X issue, no longer relevant.

[2017-05-10 19:06] #1444 closed

[2017-05-10 19:06] asparke2 commented on #1474
PAT 1.X issue, no longer relevant.

[2017-05-10 19:06] #1474 closed

[2017-05-10 19:07] asparke2 commented on #1477
PAT 1.X issue, no longer relevant.

[2017-05-10 19:07] #1477 closed

[2017-05-10 19:07] asparke2 commented on #1553
Fixed with 2.X

[2017-05-10 19:07] #1553 closed

[2017-05-10 19:10] asparke2 commented on #1690
PAT 1.X issue, no longer relevant.

[2017-05-10 19:10] #1690 closed

[2017-05-10 19:10] asparke2 commented on #1708
PAT 1.X issue, no longer relevant.

[2017-05-10 19:10] #1708 closed

[2017-05-10 19:10] asparke2 commented on #1710
PAT 1.X issue, no longer relevant.

[2017-05-10 19:10] #1710 closed

[2017-05-10 19:11] asparke2 commented on #1723
PAT 1.X issue, no longer relevant.

[2017-05-10 19:11] #1723 closed

[2017-05-10 19:11] asparke2 commented on #1885
PAT 1.X issue, no longer relevant.

[2017-05-10 19:11] #1885 closed

[2017-05-10 19:12] asparke2 commented on #1898
PAT 1.X issue, no longer relevant.

[2017-05-10 19:12] #1898 closed

[2017-05-10 19:12] asparke2 commented on #2017
PAT 1.X issue, no longer relevant.

[2017-05-10 19:12] #2017 closed

[2017-05-10 19:14] asparke2 commented on #2044
PAT 1.X issue, no longer relevant.

[2017-05-10 19:14] #2044 closed

[2017-05-10 19:16] asparke2 commented on #2497
Fixed in 2.1.0

[2017-05-10 19:16] #2497 closed

[2017-05-10 19:21] asparke2 commented on #2512
Confirmed fix with development version, should be closed w/ 2.1.2 release

[2017-05-10 19:31] ljbrackney commented on #958
RunManager deprecated

[2017-05-10 19:31] #958 closed

[2017-05-10 19:31] ljbrackney commented on #1726
RunManager deprecated

[2017-05-10 19:31] #1726 closed

[2017-05-10 19:31] ljbrackney commented on #76
RunManager deprecated

[2017-05-10 19:31] #76 closed

[2017-05-10 19:32] ljbrackney commented on #181
RunManager deprecated

[2017-05-10 19:32] #181 closed

[2017-05-10 19:33] ljbrackney commented on #628
Path and supplementary data functionality appears to be working via PAT in 2.1.0.  Close?

[2017-05-10 19:34] asparke2 commented on #2565
Confirmed on development, should be fixed in 2.1.2 installer

[2017-05-10 19:36] ljbrackney commented on #1939
Is this still an issue as of 2.1.0?

[2017-05-10 19:47] asparke2 commented on #2603
@DavidGoldwasser at minimum there is an untrapped call to `.get` in the diagnostic script.

@Yalelush we will need the .osm to reproduce the error and see what's going on.  Could you please upload here or send to us?  You can change the extension to .txt to upload here.

[2017-05-10 19:51] asparke2 commented on #2594
Solution is to make the measure category and subcategory editable on the EDAPT export Project Report.  Users will have add generic cost measure, include in design alternative, then set the categories correctly before export.

[2017-05-10 19:59] #2579 closed

[2017-05-10 20:04] asparke2 commented on #2567
**Workaround**
Don't put special characters in the file path.

[2017-05-10 20:06] asparke2 commented on #2540
Confirmed fixed w/ 2.1.1 by @DavidGoldwasser on Mac

[2017-05-10 20:06] #2540 closed

[2017-05-10 20:09] asparke2 commented on #2543
@ljbrackney Can you confirm that there are indeed categories in PAT 2.X now and close this issue if there are.  They should look something like this:

![image](https://cloud.githubusercontent.com/assets/2009290/25918902/3dd00b84-358a-11e7-98f8-98e4fb276e62.png)

[2017-05-10 20:11] asparke2 commented on #2479
Confirmed still an issue with OS App 2.1.0

[2017-05-10 20:26] asparke2 commented on #2437
@jmarrec is this inside of a PAT project, an OS App model, your My Measures directory, or somewhere else?

[2017-05-10 20:26] #2435 closed

[2017-05-10 20:27] #2431 closed

[2017-05-10 20:27] #2429 closed

[2017-05-10 20:30] asparke2 commented on #2413
Confirmed that this is fixed in [the code](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateZoneHVACFourPipeFanCoil.cpp#L177-L180).

[2017-05-10 20:30] #2413 closed

[2017-05-10 20:34] ljbrackney commented on #2543
Confirmed in 2.1.0 - used in a demo yesterday. :)

[2017-05-10 20:34] #2543 closed

[2017-05-10 20:38] asparke2 commented on #2412
Might be related to https://github.com/NREL/OpenStudio/issues/2412

[2017-05-10 20:40] #2409 closed

[2017-05-10 20:40] #2404 closed

[2017-05-10 20:54] asparke2 commented on #2345
Closing this issue as the group adding the ISO model is no longer continuing work on this feature.

[2017-05-10 20:54] #2345 closed

[2017-05-10 20:56] asparke2 commented on #2339
Closing this issue.  The general practice (to keep the API stable) is to keep the methods and IDD field name changes out.

[2017-05-10 20:56] #2339 closed

[2017-05-10 20:56] ebotman commented on #2412
I
 don't think so, the first vertical bore hole
 works fine, only the secund one present a
 bad result.
Can you let me know how in which direction
 investigate the issue.

 to #2412

 --------------------
Energy Village sprl - Bureau d'études
 - Bureau d'Etudes spécialisé
 en énergétique du bâtiment,
 en efficacité énergétique
 industrielle et en énergies renouvelables
Energy Village Installations

[2017-05-10 20:58] asparke2 commented on #2337
This is just variable naming that shouldn't be affecting functionality.

[2017-05-10 20:58] #2337 closed

[2017-05-10 20:59] asparke2 commented on #2324
PAT 1.X issue, no longer relevant.

[2017-05-10 20:59] #2324 closed

[2017-05-10 21:02] asparke2 commented on #2317
@macumber Can you close this if the changes got merged?

[2017-05-10 21:07] asparke2 commented on #2273
Not going to fix this at this point.  Can reopen if it happens in future version updates.

[2017-05-10 21:07] #2273 closed

[2017-05-10 21:12] asparke2 commented on #2229
This is fixed in [the code](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVACUnitarySystem.cpp#L180-L188).  Confirmed in OS 2.1.0

[2017-05-10 21:12] #2229 closed

[2017-05-10 21:18] asparke2 commented on #2198
@kbenne @mbadams5 did this get fixed during the 2.X overhaul?  If so, can you close?

[2017-05-10 21:25] asparke2 commented on #2167
Closing this issue.  Current code follows the convention OS has established of not changing the API when E+ changes the IDD field names.

[2017-05-10 21:25] #2167 closed

[2017-05-10 21:26] #2161 closed

[2017-05-10 21:33] DavidGoldwasser commented on #628
I have tested a string argument that works as a path, but not the makePathArgument vs. makeStringArgument, but that is more of a feature request, that would have GUI to browse for file in interface, and would copy file over to project. I'm fine with this closing as a bug unless anyone has any objections.

[2017-05-10 21:40] asparke2 commented on #1592
@DavidGoldwasser Can you confirm or close this bug while you are testing the BCL lookup measure?

[2017-05-10 21:43] asparke2 commented on #1583
Declaring the wait-and-see period closed and closing this issue.

[2017-05-10 21:43] #1583 closed

[2017-05-10 21:44] ljbrackney commented on #628
There already is functionality to locate and upload data files from PAT.  We use it in the SEB example projects to upload consumption data JSONs and the path location where they end up on the worker.  Unless I misunderstand the ticket, I think this functionality exists.

From: David Goldwasser <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github

[2017-05-10 21:45] DavidGoldwasser commented on #1592
@asparke2 I can test this, but may just be relevant for OS app now since PAT (and OSW) allows you to have a seed without a weather file set.

[2017-05-10 21:45] asparke2 commented on #1536
Closing this issue.  Haven't heard of it being an issue for anyone since opened.

[2017-05-10 21:45] #1536 closed

[2017-05-10 21:50] asparke2 commented on #1497
Closing since toolfinder isn't a thing anymore.

[2017-05-10 21:50] #1497 closed

[2017-05-10 21:56] asparke2 commented on #1842
PAT 1.X issue, no longer relevant.

[2017-05-10 21:56] #1842 closed

[2017-05-10 21:57] #2547 closed

[2017-05-10 22:00] asparke2 commented on #2364
Closing as @adhilton25 is correct, `addToThermalZone` is the method that does this.

[2017-05-10 22:00] #2364 closed

[2017-05-10 22:03] asparke2 commented on #2122
Currently works correctly, but I agree it's annoying.

[2017-05-10 22:07] #2566 closed

[2017-05-10 22:09] asparke2 commented on #2420
@mostaphaRoudsari can you reconfirm or close this issue using OS 2.1.0 or higher installer?  None of us have Windows 10 here.

[2017-05-10 22:10] asparke2 commented on #183
Obsolete, references openstudio.nrel.gov

[2017-05-10 22:10] #183 closed

[2017-05-10 22:11] #59 closed

[2017-05-10 22:16] asparke2 commented on #2021
RunManager has been deprecated in OS 2.X.

[2017-05-10 22:16] #2021 closed

[2017-05-10 22:17] asparke2 commented on #1724
Works correctly, so changed to feature request.

[2017-05-10 22:17] #1724 closed

[2017-05-10 22:19] asparke2 commented on #1494
@phylroy can you reconfirm this issue?

[2017-05-10 22:21] asparke2 commented on #1483
This now works.  You can require the (few) gems that  are included with OS:

[code]

[2017-05-10 22:21] #1483 closed

[2017-05-10 22:23] #1315 closed

[2017-05-10 22:24] #692 closed

[2017-05-10 22:25] #385 closed

[2017-05-10 22:41] #650 closed

[2017-05-10 23:01] macumber commented on #2198
Not fixed

[2017-05-10 23:03] macumber commented on #2317
I'm not sure if this got fixed, needs testing.

@david_goldwasser will be interested

[2017-05-10 23:05] macumber commented on #2566
Issue was partial packages due to upload failure for posterity sake

[2017-05-10 23:07] macumber commented on #628
This is for measure arguments that are paths pointing to files. For example a measure that reads from a CSV.  You'd want to click on that argument, browse your computer to find the file, select it.  Then PAT or OS app would copy the file into your resources and set the argument to the file name.

 It is still a feature request

[2017-05-10 23:10] macumber commented on #1047
Measure manager can detect this, but we aren't passing it on to PAT or OS App for them to display to the user

[2017-05-10 23:11] macumber commented on #1047
This came up when we were testing simuwatt (and many more times past that).  No matter how many times we tell people to use the apps to copy measures, they will still copy and paste measures in their my measures directory.

[2017-05-10 23:12] ljbrackney commented on #628
Isn't that exactly what is demonstrated in this screenshot from PAT?

[cid:9FB3864D-0A20-4CF0-8955-B51197D527BE]

From: Dan Macumber <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, May 10, 2017 at 4:07 PM
To: NREL/OpenStudio <OpenStudio@noreply.github.com<mailto:OpenStudio@noreply.github.

[2017-05-10 23:15] macumber commented on #628
Screenshot didn't make it, it's great if implemented in PAT but I know it is not implemented in OS App

[2017-05-10 23:17] ljbrackney commented on #628
![files](https://cloud.githubusercontent.com/assets/2230150/25925229/30235d9e-359c-11e7-8f6e-a8332cda8322.png)

[2017-05-10 23:59] macumber commented on #628
I think the feature is mostly to add a browse button to allow you to find the file, then pat/app would do the file copying and relative path fixing up for you.  You can do it manually but it's nicer to have in the gui.  That's my understanding at least

![feature](https://cloud.githubusercontent.com/assets/1327850/25926113/57c9cbf4-35aa-11e7-9863-dac047c182ad.jpg)

[2017-05-11 00:33] ljbrackney commented on #628
I won't speak for the App, but this sounds like a refinement to functionality that we technically have in PAT.  That's my $0.02 when it comes time to prioritize bugs and feature requests.

From: Dan Macumber <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, May 10, 2017 at 4:59 PM
To: NREL/

[2017-05-11 01:07] rHorsey commented on #2599
@ljbrackney I'm not sure we actually need to turn this off. Maybe just gray out the text and say 'Not recommended in this version of PAT'? At this point the OSA format isn't changing, save for bug fixes, and this offers a quick and easy way to test code against new OS versions? Unless you've tried this and it's failed, in which case disregard the above as hubristic!

[2017-05-11 01:14] rHorsey commented on #628
I think the critical issue (really a blocking known limitation) here is addressed: server and local relative path resolution has been brought into alignment. I'd recommend we detach the cloud tag from this, as this is now a GUI issue according to the above.

[2017-05-11 01:21] rHorsey commented on #2523
I redeployed 24b yesterday and upload / download works fine there. I believe you're hitting the same limitations imposed by compose as we're seeing.... in pivotal tickets, gah. On AWS we deploy with swarm, and we really should on bball as well. I'm working to transition us over to that locally. It's tested and implemented, but the takeaways aren't disseminated yet. The network becomes far more sta

[2017-05-11 01:27] rHorsey commented on #1939
My memory is that this is fixed. It may now be fixed in two places. the #1699 workaround is still in the WFG - see https://github.com/NREL/OpenStudio-workflow-gem/blob/develop/lib/openstudio/workflow/util/energyplus.rb#L201-L210

This can be closed.

[2017-05-11 01:42] macumber commented on #628
Yup not a priority, just keep as a feature request, we've had this on the list for a long time

[2017-05-11 14:14] ljbrackney commented on #2604
Anyone else with Windows 10 experiencing this?  User reports that the HTML generates and displays correctly in browser but crashes the App for him.  Other users in his organization report a blank screen (but no crash) when navigating to the results tab.

[2017-05-11 14:16] ljbrackney commented on #2523
I'm still using 2.1.0 so I can test/respond to user queries.  Perhaps someone on 2.1.1 could try a mongodump save/restore on AWS?

  - larry

From: rHorsey <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, May 10, 2017 at 6:21 PM
To: NREL/OpenStudio <OpenStudio@noreply.github.com<mailto:Ope

[2017-05-11 15:58] asparke2 opened #2605 "Deal with external volume storage driver"
Probably best to fix this with Convoy and a 30/30 data-vol/docker-lib solution with thinpool scaling for the remaining 40. Additionally, this would let us back-up and re-provision the mounted fs for simulations, as well as the mongo collections.

[2017-05-11 15:59] asparke2 opened #2606 "Large Uploads to Server (i.e. lots of weather files) Seem to Timeout"
Reported by Scott: Error running ResStock national project

[2017-05-11 16:00] asparke2 opened #2607 "Use private swarm-based registry"
Use a private swarm-based registry to fix swarm's default pull latest behavior when deploying stack based services.

This will fix 2.1.1 and 2.1.1-nrcan not in fact being 2.1.1 and 2.1.1-nrcan.

[2017-05-11 16:05] asparke2 opened #2608 "Implement server & worker init & final scripts"
Necessary for ResStock and ComStock

[2017-05-11 16:42] asparke2 opened #2609 "Add new E+ VRF objects: AirConditionerVariableRefrigerantfFowFluidTemperatureControl and AirConditionerVariableRefrigerantfFowFluidTemperatureControlHR"
Add the new VRF terminal type

[2017-05-11 19:54] rHorsey commented on #2583
Kat has fixed this on the PAT side with https://github.com/NREL/OpenStudio-PAT/commit/96ab4b271d7ae0eb77781528a06806dcf62b67b8 - Brain's looking at another potential issue.

[2017-05-11 19:59] rHorsey commented on #2583
Fixed and confirmed PAT side. Cheers

[2017-05-11 20:43] shorowit commented on #1375
If/when OpenStudio switches from ResultsViewer to DView, this can be closed as DView has a right-click menu option to 'Save data to CSV'.

[2017-05-11 22:11] macumber opened #2610 "insertComponent can create duplicate unique model objects"
m = OpenStudio::Model::Model.new
m.getSite
m.getSiteWaterMainsTemperature
m.getWeatherFile

remote = OpenStudio::RemoteBCL.new
remote.downloadComponent('f38beff0-edc6-0131-6605-48e0eb16a403')
component = remote.waitForComponentDownload()
component = component.get
osc_path = component.files("osc")[0]
vt = OpenStudio::OSVersion::VersionTranslator.new
component_object = vt.loadComponent(OpenStudio::P

[2017-05-12 09:37] jmarrec commented on #2182
This already made it in develop

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/resources/model/OpenStudio.idd#L23385

Close it

[2017-05-12 09:39] jmarrec commented on #2122
I fixed it in https://github.com/NREL/OpenStudio/pull/2589

[2017-05-12 09:39] #2122 closed

[2017-05-12 09:44] jmarrec commented on #2437
OS App model, happen in model/measures folder

[2017-05-12 09:44] jmarrec commented on #2435
Closed because of?

[2017-05-12 12:01] jmarrec commented on #2428
I installed 2.1.1 and I don't have a symlink to /usr/local/bin/openstudio anymore

[2017-05-12 14:12] rHorsey commented on #2428
Seconded. I had an old 2.0.5, rmrf'ed it, installed 2.1.1, and the old 2.0.5 symlink-to-nowhere persisted. I just assumed rmrf-ing was not supported behavior, but if the installer could overwrite the symlink than that would be very cool.

[2017-05-15 16:21] aaron-boranian commented on #2432
@DavidGoldwasser, @kbenne, @jmarrec for what it's worth, I've seen this in OS v2.1 as well during a workshop last week. One solution we found was to make a minor change, then use the menu command **File / Revert to Saved** (see below). When OpenStudio reopens, the HVAC library components appear like they normally should.
![screen shot 2017-05-15 at 10 17 34 am 2](https://cloud.githubusercontent.co

[2017-05-15 19:41] jmarrec commented on #2432
Had the same thing happen to me in 2.1.1 on Mac today as well. File > Loa library > hvac_library.osm did the trick.

Envoyé de mon iPhone

[2017-05-17 14:52] johnsontimp opened #2612 "OpenStudio 2.1.1 Results Tab Unavailable"
After upgrading to OpenStudio 2.1.0, followed by 2.1.1, I am no longer able to open the "Results Summary" tab in the OS interface on Windows 10 Pro whether I have a model open or not. I am able to run models successfully and view the results in the model folder, but the program locks up after clicking on the "Results Summary" tab. I have tried this with and without the "OpenStudio Results" measure

[2017-05-17 14:57] ljbrackney commented on #2612
Duplicate of Issue 2604

[2017-05-17 14:57] #2612 closed

[2017-05-17 14:58] ljbrackney commented on #2604
Info from User:

After upgrading to OpenStudio 2.1.0, followed by 2.1.1, I am no longer able to open the "Results Summary" tab in the OS interface on Windows 10 Pro whether I have a model open or not. I am able to run models successfully and view the results in the model folder, but the program locks up after clicking on the "Results Summary" tab. I have tried this with and without the "OpenStudio

[2017-05-18 14:46] DavidGoldwasser opened #2613 "OS app Crash if update measures and then quickly go to run tab and start sim"
@macumber I'm filing this for @brianlball who found this on Windows. He was not going really quick, but was running I think before measure manager finished. I thought we had the GUI locked out until measure mangers was done, but I guess at least in this case it still is not, or something else is happening.

[2017-05-18 15:33] DavidGoldwasser opened #2614 "Update Measure guide for 2.x measure tests"
http://nrel.github.io/OpenStudio-user-documentation/reference/measure_writing_guide/#putting-it-all-together-a-complete-measure-test-file

There may be other areas to update as well.

[2017-05-18 15:45] DavidGoldwasser commented on #2614
Found new restriction for measure output variable names. IfI have something like "test_cop2". It will be changed to "test_cop_2". Seems the rule is that letters and numbers should be separated by an underscore.

On measure name side it seems like multiple uppercase letters next to each other can create issues. Here is example
  <name>bestesthe_reporting</name>
  <class_name>BESTESTHEReporting</cla

[2017-05-18 18:02] nmerket commented on #2605
Allow me to ask an ignorant question: This solution sounds complicated. What about just increasing the size of the volume and/or making open studio do a better job of cleaning up after itself?

[2017-05-19 20:19] rHorsey commented on #2607
This was completed with https://github.com/NREL/OpenStudio-server/pull/177

[2017-05-19 20:19] #2607 closed

[2017-05-19 21:31] phylroy opened #2616 "OpenStudio CLI fails to run properly if not run using absolute path."
**OS: Ubuntu 14.04
Openstudio Version : 2.1.1
Component: OpenStudio CLI**

**Issue**:  OpenStudio CLI fails to run properly if not run using absolute path.

The cli is installed to /usr/bin/openstudio-2.1.1.  When it is invoked from the command line like so

[code]

Most basic functionality exists, however if a simulation is required, it will not run the simulation and also complain that there was

[2017-05-22 18:05] DavidGoldwasser opened #2617 "Custom Output Variables don't make it into analysis JSON properly"
Output variables that are described in the measure.rb are show up on the analysis JSON with CamelCase "MyMeasure.my_variable_name". But custom outputs typed in PAT by the user come in like "MyMeasure.my_measure.my_variable_name". The variables appear to be fine with values in datapoint JSON files but are not added to csv results or visualizations.

"unmet_hours_during_occupied_heating" in the scre

[2017-05-22 18:10] DavidGoldwasser opened #2618 "Static value for measure arguments/variables not being set properly in analysis JSON"
This hit me and @henryHorsey when trying to use Baseline Perturbation, which makes use of the static value.

"default_value" is set off of what is shown in the GUI, but "static" seems to come from the measure.rb default value for a specific argument.

Screenshot below shows GUI on left and analysis JSON on the right for Window to Wall Ratio variable.

![screen shot 2017-05-22 at 11 44 39 am](https

[2017-05-22 18:14] DavidGoldwasser commented on #2618
I looked into a case where the measure.rb argument doesn't have a default value of 0, and was surprised that in that case both the 'default_value' and 'static' used the measure.rb default, but 'value' still used the correct 0.4

![screen shot 2017-05-22 at 12 11 42 pm](https://cloud.githubusercontent.com/assets/4857055/26322405/2e519102-3ee8-11e7-8de1-d720feee527a.png)

[2017-05-23 15:14] DavidGoldwasser commented on #2617
Here are some additional screenshots of GUI

![screen shot 2017-05-23 at 9 14 03 am](https://cloud.githubusercontent.com/assets/4857055/26361442/385b0bb4-3f98-11e7-97d0-9526a44bc339.png)

![screen shot 2017-05-23 at 9 14 11 am](https://cloud.githubusercontent.com/assets/4857055/26361449/3c3a44fc-3f98-11e7-9981-28f40231f967.png)

[2017-05-23 16:16] ljbrackney opened #2619 "Successive add/delete of Measures in App's Measures Tab Creates Cruft"
Successively adding and deleting something like the Results Measure produces increasing variants of the Measure in the model's measures directory - each suffixed with an additional " 1"

![measures](https://cloud.githubusercontent.com/assets/2230150/26364163/395c8bdc-3f98-11e7-8410-d6f64a932e39.png)

Deleting the model folder doesn't clear this up - as all of the files are written upon OSM save.

[2017-05-23 16:58] Yalelush commented on #2603
Thanks, I attached the file in text format.

[try12.txt](https://github.com/NREL/OpenStudio/files/1022990/try12.txt)

[2017-05-23 19:25] kflemin commented on #2617
this is fixed with this commit: https://github.com/NREL/OpenStudio-PAT/commit/cecb0452a825b5a51161a54ec647fdf06d8c2edd

Note that you will have to re-enter old custom outputs as they will not fix themselves.

[2017-05-23 21:44] DavidGoldwasser commented on #2603
@Yalelush what happens if you try to manually open the OSM file in the OpenStudio application. For me (On mac with OpenStudio 2.1.1)  it opens in the OpenStudio application, in the SketchUp plugin, and the diagnostic script runs fine. I'm wondering if there is something windows or path specific in the diagnostic script error you are seeing.

File - /Users/dgoldwas/Downloads/try12.osm
Model has 766

[2017-05-24 04:38] DavidGoldwasser commented on #2507
Looks good in 2.1.1

[2017-05-24 04:38] #2507 closed

[2017-05-24 09:22] jmarrec opened #2620 "Standardize return types for set(...) Methods"
Using `SizingZone` as an example.

From [SizingZone_Impl.hpp#L298](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/SizingZone_Impl.hpp#L298)

[code]

Is there any reason the first one that accepts a double would be `void` while the other is `bool`?

I mean 2 lines below you do have

[code]

**I think this needs to be standardized**, methods that set should always return a

[2017-05-24 09:24] jmarrec commented on #2620
I just pushed a commit on my fork where I've made some changes, and put some "TODO" comments in there.

I won't open a PR, the only thing I'm asking is to start a discussion on this. Moving forward, this should really be unified and standardized I think, and I'm willing to help.

[2017-05-24 15:06] Yalelush commented on #2603
Hi David,
When trying to open the OSM file straight from OpenStudio, I received a message that this file cannot be opened.
"Failed to open file at .....[destination]"
What else can be done?
Thanks for the quick replies!
Yael

[2017-05-24 15:58] DavidGoldwasser opened #2621 "Any reason for 2x API to support Meter as well as OutputMeter, or should measures using this just change"
I just updated the one measure I know that uses this.
https://unmethours.com/question/24584/add-meter-bcl-measure-error-os-21/?answer=24598#post-id-24598

If we don't think there are a lot of uses of this (which I expect there are not) then we can just close this, but I thought I'd ping @kbenne, @macumber to confirm that it doesn't need a fix.

This is not a utility bill object, but the EnerygPlus

[2017-05-24 20:30] sarocu opened #2622 "App crash in macOS while editing water fixtures/connections"
OpenStudio desktop app will occasionally crash while editing service water heating loops or connections.

Details:
- macOS Sierra
- OpenStudio 2.1.0

Appears to be a UI issue based on crash report:
<img width="1112" alt="screen shot 2017-05-24 at 2 25 39 pm" src="https://cloud.githubusercontent.com/assets/14132529/26424141/6bcd9cbe-408d-11e7-9eeb-0a9125bef052.png">

Full text:
[code]

[2017-05-25 03:47] rHorsey commented on #2621
This is used in several deployed frameworks I'm aware of. Outside of AssetScore, however, I'm unaware of any of them currently intending to migrate to the 2.X suite.

[2017-05-25 03:58] rHorsey commented on #2618
@kflemin - Some specifics here.

Currently, in the first measure in the second image, when Electric Equipment Power Density has it's static default field set to '0.4' the corresponding `[:variable][:argument][:value]` is set. (The measure default is `0.55`.) I don't know that this is wrong, (i.e. I wouldn't change that,) but the `[:variable][:static_value]` needs to be set equal to the updated val

[2017-05-25 04:01] rHorsey commented on #2617
@DavidGoldwasser or @asparke2 - Can one of you confirm in a dev PAT environment? Thanks!

[2017-05-25 04:03] rHorsey commented on #2619
@macumber & @kbenne Shout out for the added spaces not causing massive and indecipherable errors!

[2017-05-25 04:08] rHorsey commented on #2616
I assumed it was something in https://github.com/NREL/OpenStudio-workflow-gem/blob/develop/lib/openstudio/workflow/util/energyplus.rb but the workaround makes me question this. @phylroy was this on OSX or a Linux flavor?

[2017-05-25 04:12] rHorsey commented on #2606
I've spent about 10 hours on this, and I'm nowhere. If you need more than 100MB of zip uploaded to the server, chances are that using worker or server initialization and finalization scripts makes more sense, for the sake of far more reliable hosting and streaming options; once I have the server/worker init/final scripts working I'll change the severity to Major, at least until the cause is identi

[2017-05-25 04:18] rHorsey commented on #2605
@nmerket Thanks so much for your 'ignorant' question! For future reader's sake, it's worth noting that making OpenStudio clean up after itself can buy quite a bit of room to run on this issue, and the size of the mount can be manually increased as well concurrently. (Thanks to @phylroy for this realization.) That having been said, it finally occurred to me that a non-thinpool approach to this issu

[2017-05-25 04:23] rHorsey commented on #2583
I think @asparke2 confirmed this fix a few weeks ago. If so this can be closed.

[2017-05-25 04:24] #2565 closed

[2017-05-25 04:30] rHorsey commented on #2558
This will be an issue until a new build is rolled. That being said, the issue appears to be closed when tested in a development environment. @ljbrackney is it customary for us to close these sorts of issue out at this stage, or wait until a new build confirms the fix to close them out? If the later, should we assign them to the build milestone?

[2017-05-25 04:32] rHorsey commented on #2541
This is a confirmed static assets issue.

[2017-05-25 04:33] rHorsey commented on #2523
@ljbrackney I'll test this next time I spin up a 2.1.1. The new (correct OpenStudio version) 2.1.1 AMI has a lot of fixes in it, which should catch what we were seeing locally, at least.

[2017-05-25 04:37] rHorsey commented on #2334
@DavidGoldwasser - is Dan's link sufficient?

[2017-05-25 05:01] ljbrackney commented on #2558
Verify before closing please.

On May 24, 2017, at 9:30 PM, rHorsey <notifications@github.com<mailto:notifications@github.com>> wrote:

This will be an issue until a new build is rolled. That being said, the issue appears to be closed when tested in a development environment. @ljbrackney<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fljbrackney&data=02%7C01%7Clarry.b

[2017-05-25 12:09] phylroy commented on #2616
Hey Ryan,

It was on Linux Ubuntu 14.04

On May 25, 2017 12:08 AM, "rHorsey" <notifications@github.com> wrote:

I assumed it was something in https://github.com/NREL/
OpenStudio-workflow-gem/blob/develop/lib/openstudio/
workflow/util/energyplus.rb but the workaround makes me question this.
@phylroy <https://github.com/phylroy> was this on OSX or a Linux flavor?

—
You are receiving this because yo

[2017-05-25 12:10] phylroy commented on #2616
Whoops Henry...damn. early morning....

On May 25, 2017 8:09 AM, "Phylroy Lopez" <phylroy.lopez@gmail.com> wrote:

[2017-05-25 15:35] macumber commented on #2621
We could add in backwards compatible interfaces if that is required, i had a reason not to do this at the time but I can't recall it right now

[2017-05-25 16:09] kflemin commented on #2545
This commit should fix the issue, but please test.
https://github.com/NREL/OpenStudio-PAT/commit/ec26572edb5e71ec4997c6eb073d566ad31e6d0b

[2017-05-25 19:20] #2334 closed

[2017-05-25 19:22] DavidGoldwasser commented on #2617
@henryHorsey If I can borrow someone's dev environment I can test this. My machine isn't currently setup for development.

[2017-05-25 20:29] rHorsey commented on #2558
Confirmed by @shorowit

[2017-05-25 20:29] #2558 closed

[2017-05-25 21:36] nmerket opened #2623 "Forward Translate AvailabilityManager:DifferentialThermostat"
It's not happening right now.

[2017-05-30 16:07] kflemin commented on #2618
now setting static_value to 'value' key's value.  default_value remains the measure's default_value unless it is nil, in which case the 'value' key's value will be used.  https://github.com/NREL/OpenStudio-PAT/commit/151da4e393f53c7f0cfa04660a37d1230a13ce0b

[2017-05-30 20:09] kflemin commented on #2552
added this feature in commit: https://github.com/NREL/OpenStudio-PAT/commit/5eb1ad9d203f0c8d926ce4ff9293502fc56e4ee8

should also work retroactively for existing projects.

[2017-05-31 15:46] MatthewSteen opened #2625 "VAV air terminals missing Autosized option for Fixed Minimum Air Flow Rate field"
According to the IO Reference the "Fixed Minimum Air Flow Rate" field is auto-sizable, which is also the default in EnergyPlus. Seems like these fields should have the "Hard Sized" and "Autosized" options like the "Maximum Air Flow Rate" field.

* [AirTerminal:SingleDuct:VAV:NoReheat](http://bigladdersoftware.com/epx/docs/8-7/input-output-reference/group-air-distribution-equipment.html#airterminal

[2017-05-31 19:18] kflemin commented on #2557
should be fixed by this commit: https://github.com/NREL/OpenStudio-PAT/commit/375523b7701096593c3ecabe8a575e8ed5425dc9

[2017-05-31 21:04] macumber commented on #2613
@rpg777 also found a crash if you open app, then open OSM before tabs are enabled (app is locked but top menu bar is still active).  Might be different than @brianlball 's crash

[2017-06-01 04:36] rHorsey commented on #2605
Will be fixed with https://github.com/NREL/OpenStudio-server/pull/179

[2017-06-01 16:41] johnsontimp commented on #2604
To update this issue, I found that the results tab works if I open the model from the Sketchup plugin. If I try to open it directly in the OpenStudio app, the results tab does not work.

[2017-06-01 16:47] DavidGoldwasser opened #2627 "Measures copied into workflow should have tests/output directory removed"
This will only hit anyone writing or testing measures and then adding those measures to a project. This mainly causes issues with reporting measures that have very large test outputs (simulation results).

[2017-06-01 17:03] phylroy opened #2628 "Feature Request: Add actual number of floors to model."
Sometimes the number of defined BuildingStory object is not the actual number of floors in the building due to multipliers.  For some standards, and residential buildings that are defined by diff. It would be good for standards work to have this data field added to the model class.

[2017-06-01 17:15] shorowit commented on #2628
Can you store that information here?
https://openstudio-sdk-documentation.s3.amazonaws.com/cpp/OpenStudio-2.1.1-doc/model/html/classopenstudio_1_1model_1_1_building.html#af082f581d4a65c52b3502a5b59ceac2f

[2017-06-01 18:57] kflemin commented on #2569
added the "better" option and also the analysis will not run if errors are found: https://github.com/NREL/OpenStudio-PAT/commit/31a8a89e125dba126eca831093f22008cb6aff66

[2017-06-02 03:06] rHorsey opened #2629 "Duplicated measure results are overwritten"
Reported by PNNL during use of OpenStudio for additional AssetScore analyses. When the same measure is used iteratively the results hashes overwrite each other in the measure_attributes.json file - kudos to @macumber for picking this out as a potential issue. I've staged a fix here https://github.com/NREL/OpenStudio-workflow-gem/commit/621e582bbf03d55f0608fe84ed586b8a05f12130 however I'm worried t

[2017-06-02 03:07] rHorsey commented on #2618
Thank you @kflemin!

[2017-06-02 03:08] rHorsey commented on #2605
@shorowit can you confirm that this is fixed?

[2017-06-02 03:17] rHorsey commented on #2529
Thanks for chasing this down @asparke2 ! https://github.com/NREL/OpenStudio-server/commit/adcf9ade29a1facf05a63b8b7fa7ab7f60de05bf should fix this. I'll not here when it's merged into develop. Let's leave this open until we make you and @DavidGoldwasser new server packages, and have you both test it to make triply sure.

[2017-06-02 12:54] shorowit opened #2630 "OS Cloud Management Console pagination bugs"
See description and screenshots here:
https://github.com/NREL/OpenStudio-server/issues/172

Ry: "I think it's a major-bug"

cc @rHorsey

[2017-06-02 14:26] phylroy commented on #2628
I did not see that! Thanks!

[2017-06-02 14:26] #2628 closed

[2017-06-02 18:13] rHorsey opened #2632 "Server takes to long to start"
By fiddling with the swarm-join token the registry should be able to be pre-populated on build. This would reduce provisioning time by 8-10 minutes, bringing us back down to ~2 minutes for full cluster initialization.

[2017-06-02 18:15] macumber commented on #2601
https://github.com/NREL/OpenStudio/commit/97a52031d59c1e0e70b6db20ad424d6be5ac5377

[2017-06-02 18:15] rHorsey commented on #2529
Merged with https://github.com/NREL/OpenStudio-server/pull/181

[2017-06-02 18:15] macumber commented on #2601
https://github.com/NREL/OpenStudio-workflow-gem/commit/77e5a95b3c631278ec1c47c5fce557997b710f2d

[2017-06-02 19:11] #2623 closed

[2017-06-02 21:00] rHorsey commented on #2630
Fixed by https://github.com/NREL/OpenStudio-server/commit/ef82945ed6e1c14ca9cc95a006158f562dbe773d - waiting to 2.1.1-p2 build to confirm and close.

[2017-06-02 21:58] nmerket commented on #2591
from @shorowit

[2017-06-05 20:02] asparke2 commented on #2501
tested and closed using developer setup

[2017-06-05 20:22] DavidGoldwasser commented on #2459
@macumber and @asparke2 I hit this again creating test model for ParkingGarage, I have a work around,but if not for June, then for September release it would be nice to fix this.

I did find out that the issue in Space Type tab where you see space type's for wrong building type seems to be an update issue. If I change from Hospital to Hotel, I sill still see Hospital space types. If I leave the ta

[2017-06-05 20:38] asparke2 commented on #2574
tested and closed using developer setup

[2017-06-05 20:38] #2574 closed

[2017-06-06 15:11] jmarrec opened #2633 "Hide "Schedule" for SpaceInfiltrationDesignFlowRate in OS App"
In OS App, on the space type when you click on a `SpaceInfiltration:DesignFlowRate` object, you should the "Schedule Name" field in the inspector, when it's actually assigned on the grid

![screen shot 2017-06-06 at 5 09 19 pm](https://user-images.githubusercontent.com/5479063/26836434-20a533de-4adb-11e7-8167-4a4ab5b05c85.png)

[2017-06-06 15:39] macumber opened #2634 "Crash on Utility Bill page"
Reported by @jmarrec

Select a Weather file year (2017)
go to “Utility Bills”
Add a new electric bill
Add a new billing period
click in the fields
change tabs (Schedule for eg)
go back to the billing tab
click the “X” to delete the billing periods
“OpenStudio quit unexpectedly”

[2017-06-06 16:56] snlavu opened #2635 "Area mismatch"
Open studio envelope summary report has a net wall area (gross wall area- glazing area) calculated at a different value than Energy plus output.
Expecting to see 57,706 on the open studio report. Using open studio version 1.14.
![eplus table](https://user-images.githubusercontent.com/12649036/26841473-953e5320-4ab7-11e7-979c-b5ca1f3c9147.PNG)
![open studio envelope summary](https://user-images.git

[2017-06-06 17:01] evanweaver commented on #2586
After reviewing options with Kat, the following approach will be employed: When deleting a measure, a dialog will be displayed with the text "Are you sure you want to delete this measure? Deleting this measure will result in the saving of this project". The rationale for this approach is that it is robust and simple (ie. cheap). The other alternative we felt was appropriate, was much more involved

[2017-06-06 17:17] asparke2 commented on #2569
Looks like "false" boolean arguments are being incorrectly interpreted as blank.  The error trapping is therefore blocking any run where a boolean argument is set to "false."  When a boolean argument is set to "true," it is correctly interpreted as "true" in the analysis JSON.  Not sure if this is new behavior or if it is existing behavior that is now being brought to light by the error trapping.

[2017-06-06 18:27] #2635 closed

[2017-06-06 18:32] asparke2 commented on #2545
Confirmed w/ developer environment.  If an optional argument is not filled in, both the key and the value are left out of the OSA, which the server seems to handle correctly.

[2017-06-06 18:32] #2545 closed

[2017-06-06 18:46] asparke2 commented on #2557
Confirmed fixed w/ developer environment.  The optional arguments that aren't filled in are left out of the OSA.

[2017-06-06 18:46] #2557 closed

[2017-06-06 19:04] asparke2 commented on #2559
Working with developer build.  Confirmed fixed after updating the measure.

[2017-06-06 19:04] #2559 closed

[2017-06-06 19:15] asparke2 commented on #2583
Confirmed that this works in developer build by modifying ComStock.

[2017-06-06 19:15] #2583 closed

[2017-06-06 21:16] kflemin commented on #2569
the evil == operator!  fixed for real hopefully!  https://github.com/NREL/OpenStudio-PAT/commit/8786d4d8f1c0db1f7fbbf476cc06a9426371d6e1

[2017-06-07 18:11] #2591 closed

[2017-06-07 23:09] ljbrackney opened #2637 "Rerunning old PAT project in 2.1.2 creates new data points instead of overwriting old ones"
![patrun](https://user-images.githubusercontent.com/2230150/26905340-b672f07a-4b9b-11e7-9d7e-637c7ba26abf.png)
![patres](https://user-images.githubusercontent.com/2230150/26905343-b94debba-4b9b-11e7-8153-d5ad6d2f032b.png)

[2017-06-08 15:43] #1066 closed

[2017-06-08 16:03] shorowit commented on #2571
Screenshot of issue:

![image](https://user-images.githubusercontent.com/5861765/26938526-ae9d0e9e-4c31-11e7-8bd4-7fe48d4fcd00.png)

[2017-06-08 16:59] macumber opened #2638 "Issue with Measure Manager in PAT"
PAT will mark a project measure as broken. Haven't been able to find the inciting incident or step(s), but an existing measure in a PAT project will be indicated as broken and unable to be updated. Running ```openstudio measure -u [measure_dir]```, and then quitting and restarting PAT has worked in the past, but not consistently.

I currently have a project that refuses to allow me to update the m

[2017-06-08 17:08] ljbrackney commented on #2638
Verified in at least one of my test projects - Prototype measure shows up as broken but project runs fine.

[2017-06-08 17:11] rpg777 commented on #2638
This just in, if you wait long enough after a PAT restart (> 00:01:00), PAT seems to get itself sorted.

[2017-06-08 17:43] ljbrackney commented on #2638
I'm also seeing measures w/ available updates.  Clicking the update button appears to update it, and the indicator disappears briefly but then comes right back.

[2017-06-08 18:14] shorowit opened #2639 "PAT 2.1.1 copy measure creates invalid measure"
Initial state:
![image](https://user-images.githubusercontent.com/5861765/26943699-b5776338-4c43-11e7-8850-c084c68fd8dc.png)

Click Copy on Apply Upgrade measure:
![image](https://user-images.githubusercontent.com/5861765/26943711-beefd67a-4c43-11e7-8f71-040efde912c2.png)

Try to Add to the project (Error - not unique name):
![image](https://user-images.githubusercontent.com/5861765/26943718-c64e0

[2017-06-08 19:24] rHorsey commented on #2618
@DavidGoldwasser are you able to test these yet? If so, could you try this one again on PAT develop?

[2017-06-08 19:26] rHorsey commented on #2608
Worker is implemented and tested. Server will get implemented next week.

[2017-06-09 01:50] ljbrackney commented on #2586
Tested.

[2017-06-09 01:50] #2586 closed

[2017-06-09 04:08] ljbrackney commented on #2548
Tested.

[2017-06-09 04:08] #2548 closed

[2017-06-09 12:03] jmarrec commented on #2613
I just had a similar issue on macOS Sierra, OS App 2.1.1. I clciked "Sync project measures with library", one needed updating. The tab refreshed with no measures in it, and OS App crashed immediately.
I just reopened my project and did it a second time, it worked though.

I then tried one more time, and while the page was refreshing I just switched to the Config tab, upon going back to the Measure

[2017-06-09 12:10] jmarrec commented on #2621
This change from `Meter` to `Output:Meter` happened when I did PR #2263

[2017-06-09 16:52] DavidGoldwasser commented on #2529
Tested with 2.1.2 mac today. Me on NREL24a, and @ljbrackney on AWS

[2017-06-09 16:52] DavidGoldwasser commented on #2617
Tested with 2.1.2 installer on mac running on NREL24a

[2017-06-09 16:52] #2617 closed

[2017-06-09 16:57] ljbrackney opened #2640 "PAT's Results Tab Goes Completely Blank w/ Large Algorithm Projects"
Navigating to the Results Tab causes it to blank out (including the tabs) with large algorithm projects.  This should be repeatable when opening a large project - I can provide a large zip.  Navigating to Run tab populates correctly after a brief pause.  Results tab blanks, effectively hanging the app for any purpose other than quit/save/load.

[2017-06-09 17:09] mostaphaRoudsari commented on #2420
Hi all, Sorry for the late reply. I didn't get the SmartScreen for OS 2.1.0 but another similar error.
I think the main difference between version 2.x and 1.x is the publisher.

![image](https://user-images.githubusercontent.com/2915573/26986282-cf113d9c-4d14-11e7-811f-663c0c5ae6f6.png)

[2017-06-09 17:16] asparke2 commented on #2529
@DavidGoldwasser This needs to be tested on a local run.

[2017-06-09 17:25] shorowit commented on #2605
Was able to run ~6000 simulations without hitting this issue. Seems good.

[2017-06-09 17:25] #2605 closed

[2017-06-09 18:13] DavidGoldwasser commented on #2618
Looks good running on NREL24a with Mac 2.1.2 installer

[2017-06-09 18:13] #2618 closed

[2017-06-09 18:50] DavidGoldwasser commented on #2529
I'm seeing 'datapoint.zip' in "localResults" as well on local manual run.

[2017-06-09 18:50] #2529 closed

[2017-06-09 19:00] ljbrackney commented on #2529
If I understand what Andrew was discussion - he's talking about an algorithmic run that runs on a locally hosted instance of OS Server.  There's really no such thing as a discrete download step for manual mode.  We've tested downloads from AWS and external dedicated servers, but I don't think anyone has tested PAT with a local dedicated server.

From: David Goldwasser <notifications@github.com<mai

[2017-06-09 21:12] DavidGoldwasser opened #2643 "Updating measure in PAT doesn't handle new and/or deleted arguments properly."
Scenario 1: Measure in PAT project is edited in external repo and a new argument is added. If you update that measure in PAT, it will see that there is an update, but the new argument doesn't show up in the interface. This is true for both manual and algorithmic. If the new argument has a default measure than things will run fine, but the user won't know they are missing the argument but they can'

[2017-06-09 21:13] DavidGoldwasser commented on #2643
@macumber I'm not convinced this is measure manager, I think it is doing it's job, but the PAT project is just keeping what it had when the measure was first imported?

[2017-06-09 21:37] rHorsey commented on #2529
@ljbrackney What are you considering a local dedicated server vs an external dedicated server in the comment above?

[2017-06-09 23:46] ljbrackney commented on #2529
I understood people wanted verification that this works with a full instance of OS server on the same physical machine. That seems like a seriously cornerish case, and I'm satisfied that downloads are working on Mac for AWS and our own servers.

On Jun 9, 2017, at 2:37 PM, rHorsey <notifications@github.com<mailto:notifications@github.com>> wrote:

@ljbrackney<https://na01.safelinks.protection.outl

[2017-06-10 21:14] asparke2 opened #2644 "Cancel run from PAT prevents later analyses from starting"
1. Start an analysis running (I used 24B) via PAT.
2. Click "Cancel Run" in PAT.
3. The status of this project will change to "completed" on the server.
4. Try to re-run the analysis again via PAT.

Result: A new analysis will be created, but it will stay at status "queued" and will never start running.

Going into the server and clicking "Delete Project" removes the project that is stuck at "queu

[2017-06-10 22:59] asparke2 commented on #2569
Confirmed w/ developer environment.

[2017-06-10 22:59] #2569 closed

[2017-06-12 14:25] chriswmackey commented on #2420
@asparke2 and @kbenne ,
I just wanted to second @mostaphaRoudsari 's explanation here and note that i's still possible to install OpenStudio 2.1 on Windows 10 if one disables Windows Smart Screen.  However, users will get this Smart Screen warning as long as the publisher continues to be "Humanity" instead of the "National Renewable Energy Laboratory."  This is because Windows recognizes the "Nati

[2017-06-12 14:30] kbenne commented on #2420
Thank you for the investigation. I'll see if I can set the publisher. We are using a new packaging technology that in some cases is less capable, and in other cases just different.

[2017-06-12 17:12] kbenne opened #2645 "PTAC, PTHP and WAHP should omit OA Mixer when not used"

[2017-06-12 21:08] rHorsey commented on #2644
This appears to be a PAT interaction only issue. It seems like the cloud console buttons work as expected. I'll work with Kat on finding the difference between the calls to the server.

[2017-06-12 22:08] rHorsey commented on #2644
It's a get vs post issue apparently. The analysis looks like it's queued in the log, but it's not. 👎 I'm starting by adding in the rails log to the admin screen so I can see the log more clearly, and then I'll compare the jobs queue against the log real time.

[2017-06-13 03:50] kbenne opened #2646 "PTAC, PTHP, and water to air HP should support blow through and draw through"
The api ::fanPlacement method leads you to think it is supported, but the translator does not rewire the plumbing to make the change.

[2017-06-13 03:50] #2645 closed

[2017-06-13 03:51] kbenne commented on #2646
https://github.com/NREL/OpenStudio/commit/98c74cba3b5b2fb71235f7825f83ff186b91a37c
https://github.com/NREL/OpenStudio/commit/73a33ae3b0490edf7545dbf3cb6279979ba91816
https://github.com/NREL/OpenStudio/commit/8ad80a88adf7623a3ce3ed521200e49edd0f99ba

[2017-06-13 03:51] #2646 closed

[2017-06-13 17:28] mattdoiron opened #2647 "Intersect and Surface Match Regression Between v2.1 and v1.14"
We've recently tried upgrading to Sketchup 2017 and OpenStudio v2.1 and have been having problems with intersection and surface matching. I've attached a few screenshots and the file in question.

This is a screenshot of before intersection and surface matching (in 2017+v2.1)
![image](https://user-images.githubusercontent.com/3885555/27094946-c6c72fac-5020-11e7-85aa-f03e81f453f5.png)

This is the

[2017-06-13 19:17] kflemin commented on #2503
The problem is in the out.osw file.  The "name" and "description" keys in each of the steps doesn't have information from the correct measures when a previous measure is skipped. The data are off by one following the skipped measure.
<img width="1423" alt="screen shot 2017-06-13 at 12 52 57 pm" src="https://user-images.githubusercontent.com/2205659/27100236-9409b732-503a-11e7-9440-f0ed00c7853a.png

[2017-06-13 23:21] macumber commented on #2503
I do not see this happen in 2.1.0 installer and I know that we added a unit test/fix for this in WFG https://github.com/NREL/OpenStudio-workflow-gem/blob/develop/spec/openstudio/workflow/workflow_analysis_spec.rb#L578

Is anyone still seeing this?  If so let's get together and look at the datapoints

[2017-06-14 03:40] shuet01 opened #2650 "Solution exception:index out of range: 0 _ energyPlus"
Hi everyone,

I encounter an error when I launch EnergyPlus simulation component : the message show "Solution exception:index out of range: 0". I really don´t know what is the problem with my model, it is a very simple one by the way... I would like next add a downdraft evapoative cooling tower, but next step... Could you please help me to fix this first problem ? It may also be a pb with the inst

[2017-06-14 05:07] kbenne opened #2651 "ZoneHVACFourPipeFanCoil fan operating mode schedule"
Other ZoneHVAC have a fan operating mode schedule, but OpenStudio has omitted this feature for the four pipe fan coil even though it is available in EnergyPlus.

Also on a related note there are enums missing for "Capacity Control Method".

Finally, there are two additional fields, required for Capacity Control Method = ASHRAE90VariableFan. These fields are "Minimum Supply Air Temperature in Cooli

[2017-06-14 09:23] jmarrec opened #2652 "Update Command Line Interface documentation"
https://nrel.github.io/OpenStudio-user-documentation/reference/command_line_interface/

Can you update this please? it’s got some typos/errors

this command should be `openstudio.exe -h`

----

this doesn’t work, should read `openstudio.exe run --measures_only --workflow /path/to/workflow.osw`

Same for the post-process only that follows

[2017-06-14 19:15] macumber commented on #2503
@asparke2 pointed out that this bug only occurs if a measure is skipped in all datapoints.  When this happens the measure is omitted from the problem->workflow in the analysis.json but not omitted from the design_alternatives leading to off by one errors when the server converts this to datapoint.json files.  I think the right solution is for PAT to include all measures in the problem->workflow of

[2017-06-14 20:12] kflemin commented on #2503
@macumber, thanks for the additional information.  I think there was a reason to not send the skipped measure to the server.  It might be better to remove the skipped measure from the design alternatives instead.  I'll try that first.

[2017-06-14 20:16] macumber commented on #2503
Removing the measure from the analysis.json completely would only cause issues if you later added new datapoints that did not skip the measure, then the datapoints would not be in the same parameter space.  But I don't think you can do that now (add datapoints to a previously run analysis) so I guess it doesn't matter.  I also recall there was a reason for not sending the skipped measures and I th

[2017-06-14 22:34] macumber commented on #2638
Few thoughts after meeting with @rpg777:

If you have one measure manager running and you use the CLI (or another instance of PAT/OS App) to update a measure, the first measure manager instance may not be aware of the changes made to the measure.xml by another process (a file checksum test may be required).

The error Rob saw reported comes from here, https://github.com/NREL/OpenStudio/blob/a9720b

[2017-06-14 23:16] rHorsey commented on #2608
@shorowit found a lovely bug with *.sh files coming from windows. This has been addressed using dos2unix in https://github.com/NREL/OpenStudio-server/commit/7dc6836f02ba8a450f0438d410091efa4a0c97e1

[2017-06-14 23:17] mostaphaRoudsari commented on #2650
Hi @shuet01, This is a Honeybee error and not OpenStudio. Post your question yo the [ladybug forum](http://www.grasshopper3d.com/group/ladybug/forum).

[2017-06-15 02:56] rHorsey commented on #2601
This should be done. Testing it well is difficult until we have 2.1.2 builds, but that should be doable shortly.

[2017-06-15 19:02] Intrinzec-Hackerman commented on #2647
Try and not use the openstudio plugin surface matching or intersecting tools and instead download a BCL measure called "SurfaceMatching". Once you are done modeling in the plugin, open it up inside of the actual openstudio app and at the very top under "Components and Measures" click on apply measure now. It will be under envelope->Form->SurfaceMatching. Then click apply. There is a check box that

[2017-06-15 19:47] rpg777 commented on #2638
I just updated the Measure Writer's Reference Guide to reflect the change in preference for ```OpenStudio::Measure::ModelMeasure``` over ```OpenStudio::Ruleset::ModelUserScript``` for measure class instantiation, BTW.

[2017-06-15 20:37] mattdoiron commented on #2647
I tried this method and it appears to work as well as the previous versions. Is there a reason that the tools provided in the plugin are no longer as robust? They have worked well for us for many versions. If they have been changed this should be noted in the release notes along with deprecation warnings, suggested future workflow, etc.

[2017-06-15 20:49] ljbrackney commented on #2647
The plugin code hasn't changed significantly aside from updates for new SketchUp versions.   It's more likely that changes in SketchUp itself have impacted performance.  Suggested future workflows will rely more heavily on the new geometry editor.

On Jun 15, 2017, at 1:38 PM, Matt Doiron <notifications@github.com<mailto:notifications@github.com>> wrote:

I tried this method and it appears to work

[2017-06-15 22:21] kflemin commented on #2503
this should be fixed now: https://github.com/NREL/OpenStudio-PAT/commit/932c19fb1f06ff74ef0662857e878cb9652f4dc5

[2017-06-16 11:52] jmarrec opened #2656 "Change template for new measures to replace deprecated OpenStudio::Ruleset with OpenStudio::Measure"
When you click on "Create new measure", the measure template has references to deprecated `OpenStudio::Ruleset::` instead of the new `OpenStudio::Measure`

OpenStudio::Ruleset::ModelUserScript => OpenStudio::Measure::ModelMeasure

OpenStudio::Ruleset::OSArgumentVector => OpenStudio::Measure::OSArgumentVector

OpenStudio::Ruleset::OSArgument=> OpenStudio::Measure::OSArgument

[2017-06-16 12:13] jmarrec opened #2657 "Cannot delete Measure Option in PAT"
OS 2.1.1, macOS Sierra 10.12

Sometimes when I click on the cross to delete a measure option, it stays there (the cross itself disappears). Upon save and reopen, it's still there, but when I do it again, it disappears. It may be when I click quickly on something else after

![screen shot 2017-06-16 at 2 13 30 pm](https://user-images.githubusercontent.com/5479063/27226181-045183e8-529e-11e7-9877-fd

[2017-06-16 14:53] shorowit commented on #2656
`OpenStudio::Ruleset` is also used in the template unit test, so this should be updated too.

[2017-06-16 16:06] macumber opened #2658 "Superclass mismatch for class when updating measure"
@rpg777 and @jmarrec have reported getting the error message 'Superclass mismatch for class' when attempting to update a measure.  Unclear if this is related to using old Ruleset::ModelUserScript base class or not.  Error can be reproduced by previously defining the class name in the same file.  Possible that error occurs when another measure exists with same class name?

    class SwapConstructio

[2017-06-16 16:07] macumber commented on #2658
Prevents users from being able to update and use their measures so labeled as major

[2017-06-16 16:08] macumber commented on #2658
Possible that one idea is to load each measure into a unique module to prevent name collisions

[2017-06-16 16:10] macumber opened #2659 "WorkflowStepResult value called with undefined stepResult message from template test"
Need to update template measure and measure writing guide to avoid this annoying message in the template tests

[2017-06-17 14:15] Dinosaver opened #2660 "OpenStudio fails to run with an ERROR"
Win10 Pro, only restart of OS resolves the problem
The run log:
[16:11:10.541588 ERROR] :/ruby/2.2.0/gems/openstudio-workflow-1.2.1/lib/openstudio/workflow/util/energyplus.rb failed with Permission denied @ rb_sysopen - C:/Users/Nikolay/AppData/Local/Temp/OpenStudioApp.Qr2744/resources/run/energyplus.exe, :/ruby/2.2.0/fileutils.rb:1392:in `initialize'
:/ruby/2.2.0/fileutils.rb:1392:in `open'
:/rub

[2017-06-19 15:44] macumber commented on #2621
Happened before 1.14 which is the LTS version of 1.x

[2017-06-19 16:47] macumber commented on #2639
@shorowit i cannot replicate this in my current build

We will put out a new package early this week, can you try to reproduce with that?

[2017-06-19 17:08] macumber commented on #2638
@rpg777 's issue was specific to the "superclass mismatch error" , I am not sure @ljbrackney was seeing that same error.  We'll need more information about how to reproduce/what the actual error is

[2017-06-19 17:09] macumber commented on #2638
Also note that running measure -u on a measure should only be done while PAT is not running and you may have to add whitespace or make some other change to your measure files to force measure manager to detect a change.

[2017-06-19 17:21] ljbrackney commented on #2638
MM-related issues I see with regularity:

  1.  Fail to download results measure dialog routinely shows w/ new models in the App
  2.  PAT weirdness with update icons - Downloading an update makes icon go away briefly, but it quickly reappears.

From: Dan Macumber <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github

[2017-06-19 17:33] macumber commented on #2638
Thanks @ljbrackney

On 1) are you deleting the results measure from your local bcl so it should be re-downloading?

On 2) you should not really be seeing updates available on remote BCL, we are not updating measures there with any regularity.  When you say downloading an update do you mean processing a local update?  Like you changed a measure in my measures directory and want to update it in your

[2017-06-19 17:59] ljbrackney commented on #2638
I haven't deleted it, and I didn't do anything screwy like manually install it outside of the manager.  Do you want me to try that?

I'm saying that I have seen 1 or 2 measures that were identified as having available updates - e.g. DOE prototype and results - that exhibit this behavior.

From: Dan Macumber <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <repl

[2017-06-19 18:49] macumber opened #2661 "Cannot quit PAT"
I am running PAT in developer mode based on instructions from @asparke2.  I cannot quit PAT.  Every time I try to quit PAT I get the message

    Uncaught Error: EBUSY: resource busy or locked, unlink 'E:\test\skipping\data\db\collection\0-6062630297938895337.wt'fs.unlinkSync @ fs.js:1093rimrafSync @ E:\openstudio-PAT\ap\node_modules\rimraf\rimraf.js:305removeSync @ E:\openstudio-PAT\app\node_modu

[2017-06-19 19:48] asparke2 commented on #2661
I had seen this in the past, so I made a .cmd script to kill the processes:

[code]

Not sure why it happened, but it stopped eventually.

[2017-06-19 19:57] ljbrackney commented on #2661
Haven't seen this on mac with PAT itself, but the OpenStudio process gets orphaned with regularity.

On Jun 19, 2017, at 12:49 PM, asparke2 <notifications@github.com<mailto:notifications@github.com>> wrote:

I had seen this in the past, so I made a .cmd script to kill the processes:

Taskkill /IM ruby.exe /F
Taskkill /IM mongod.exe /F
Taskkill /IM openstudio.exe /F
pause

Not sure why it happened,

[2017-06-19 20:09] macumber opened #2662 "Problems with results measure"
Error 1) Start new PAT project, do not assign seed model, add results measure to workflow.  Get developer message:

    angular.js:14199 measure.seed is undefined. Unable to compute measure arguments.

Should not need a seed model to compute arguments, should use empty model

Error 2) Go to check for updates, results measure shows as having update (even though version id and timestamp match what i

[2017-06-19 20:11] macumber commented on #2662
Error 4) press delete button on results measure in workflow, results measure is deleted from Local BCL!

[2017-06-19 20:12] macumber commented on #2662
@ljbrackney are these similar to what you are seeing?

[2017-06-19 20:13] macumber commented on #2662
Starting OS App correctly downloaded and applied the results measure to a new osm

[2017-06-19 21:24] ljbrackney commented on #2662
I've also seen the unable to compute arguments message.  Errors 2 and 3 sound right.  I haven't observed 4, but I haven't tried that either.

[2017-06-19 21:36] macumber opened #2663 "PAT should not start measure manager on default port"
PAT should find an open port for measure manager each time it starts

[2017-06-19 21:38] macumber commented on #2638
If the results measure is already downloaded and in your local bcl, then there should be no issues adding it to a new model.  Only thing that jumps to my mind is that the measure manager might not be fully started and ready when the results measure is requested which would make this related to https://github.com/NREL/OpenStudio/issues/2613

[2017-06-19 21:50] macumber commented on #2638
Working with @rpg777 saw some erratic behavior where measure was marked as broken, changing measure by adding whitespace and re-checking for updates cleared the error.  It was possible that measure manager had crashed when measure was first marked as having an error (measure manager did crash on one run of PAT).  Once error is in xml then measure.rb must be updated to cause another refresh

[2017-06-20 14:56] ljbrackney opened #2665 "App not shutting down correctly"
App in my most recent installer doesn't always shut down correctly.  It appears to be measure manager related - the app appears to crash reliably if there is an orphaned measure manager process.  I have also seen the app hang during shutdown.  Killing the measure manager process frees the app up, but generates a MM-related error as you might expect.

[2017-06-20 15:02] ljbrackney commented on #2665
Poking at this further, it appears the issue is related to using menu bar commands too quickly after starting the app.  Quitting causes a crash and orphans MM processes.

[2017-06-20 15:25] macumber commented on #2665
Are you able to make a video of this?

@kbenne FYI

[2017-06-20 15:29] macumber commented on #2665
I don't think the file menu's should be constructed until everything is ready to go after https://github.com/NREL/OpenStudio/commit/c1f5c75f4b67d4af4660ca47be853e1436b47805 but I'm not looking on Mac where the app file bar is handled differently

[2017-06-20 15:31] macumber commented on #2665
I suspect that if you ask MM to scan a directory with a lot of measures (e.g. measures repo) and you quit the app while this is running there might be issues

[2017-06-20 15:35] ljbrackney commented on #2665
My BCL directory:

drwxr-xr-x   3 lbrackne  NREL_NT\Domain Users    102 Mar 10 12:20 18c59c3c-d994-46a9-b3eb-39b983b93ef8
drwxr-xr-x   3 lbrackne  NREL_NT\Domain Users    102 Mar 31 13:27 1e29e117-3916-4368-b24d-75da54045956
drwxr-xr-x   3 lbrackne  NREL_NT\Domain Users    102 Mar 10 12:21 28e4e4fb-a10a-4f85-82f9-c4ad2dd3cf12
drwxr-xr-x   3 lbrackne  NREL_NT\Domain Users    102 Mar 10 12:21 298c56

[2017-06-20 15:37] macumber commented on #2665
Shouldn't be, but might be enough.  This could especially occur if you shutdown while on the measures tab

[2017-06-20 15:47] ljbrackney commented on #2665
That I have done.

From: Dan Macumber <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, June 20, 2017 at 8:37 AM
To: NREL/OpenStudio <OpenStudio@noreply.github.com<mailto:OpenStudio@noreply.github.com>>
Cc: Larry Brackney <larry.brackney@nrel.gov<mailto:larry.brackney@nrel.gov>>, Author <auth

[2017-06-20 18:08] macumber commented on #2665
This might be related for interactions with measure managers launched by PAT https://github.com/NREL/OpenStudio/issues/2663

[2017-06-20 18:39] macumber commented on #2665
Looks like the cause of this was having two entries for the standard results measure in the local bcl index but one of the results measures was not present on disk (not sure if deleted manually or by software).  This caused issues for this line of code:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/openstudio_lib/OSDocument.cpp#L1397

[2017-06-20 19:46] #2665 closed

[2017-06-22 19:21] DavidGoldwasser commented on #2657
@evanweaver have you heard any other reports like this. I can't reproduce this on 2.1.2 macOS 10.11.6

[2017-06-22 19:24] evanweaver commented on #2657
@DavidGoldwasser I've experienced this nor heard of it before.

[2017-06-23 02:57] ljbrackney opened #2667 "Closing App Window on Mac Destroys Menu Options"
On Mac, clicking the close window button in the App also eliminates all Menu options.  There is no way to open or create a new model at that point and the Quit option is grayed out.  The only recourse is to right click on the App icon to quit.  I'm concerned this may be related to the focus issue with the hidden dialog that Kyle just worked on.  Temporarily assigning to him for a quick look.

[2017-06-23 03:07] ljbrackney opened #2668 "PAT Shows Updates Available for Measures but Clicking the Update Button Does Nothing"
When clicking add measures several project Measures indicate that updates are available.  Clicking the update icon brings up the correct dialog stating that a local update is available, but clicking the update button does nothing.  Leaving the Measure Manager window and re-entering shows the Measure still has an available update.

When checking for updates, those Measures and a few others indicate

[2017-06-23 03:18] ljbrackney commented on #2668
Further, the project no longer runs.  Had to blow away ALL Measures in the project and rebuild the alternatives. :(  Lesson learned - don't allow OpenStudio to corrupt your Local BCL forcing you to delete it.  Not sure what you want to do with this issue.

[2017-06-23 12:36] jmarrec opened #2669 "Prevent user from naming PAT project 'PAT'"
Currently it's allowed to name your project 'PAT'. The problem is that `pat.json` is overwritten by the ProjectName.json that is created when you run the analysis. Basically you need to trash your entire project and start from scratch (in my case that's 30 min of work gone out the window).

Should forbid the user from naming a project "PAT"

[2017-06-23 13:09] jmarrec opened #2670 "PAT 2.1.2 Error: Infinity not allowed in JSON"
All of my datapoints (except the baseline where I run only OpenStudio Results measure) are failing, I don't understand why. I can see that the measures I'm applying are working correctly.

if I open localResults, pick a datapoint randomly, and extract the zip to look at `run.log` here's the end of it:

[code]

[2017-06-23 13:27] shorowit commented on #2496
This is fixed.

[2017-06-23 13:27] #2496 closed

[2017-06-23 13:29] shorowit commented on #2630
Looks good to me.

[2017-06-23 13:29] #2630 closed

[2017-06-23 14:50] jmarrec commented on #2670
I think I found why. In temp_data/measures/ only my OpenStudio Results (BCL) measure is there. When trying to run the .osw, it cannot find the measure folder for the other measures, and therefore returns this Infinity error
in PATProject/Measures I also have only the OpenStudio Results measure and not the other ones.

[2017-06-23 15:04] ljbrackney commented on #2670
Can you try deleting all the Measures from your project and re-adding them?  I had a similar problem last night and that fixed it.

From: Julien Marrec <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, June 23, 2017 at 7:50 AM
To: NREL/OpenStudio <OpenStudio@noreply.github.com<mailto:OpenStudi

[2017-06-23 15:11] kbenne commented on #2667
yeah. it does sound related.

[2017-06-23 15:44] jmarrec commented on #2670
I found the culprit.

It's a BCL measure: https://bcl.nrel.gov/node/37850

It's using runner.registerValue and some of it is returning infinity. It's using space.infiltrationDesignFlowPerExteriorWallArea ==> Infinity, when you have no exterior wall area.

The guilty procedure is here, called from space.infiltrationDesignFlowPerExteriorWallArea: https://github.com/NREL/OpenStudio/blob/72e4961a2d654

[2017-06-23 16:57] macumber commented on #2670
Need to fix that method as well as the fact that this crashes PAT

[2017-06-26 09:35] jmarrec opened #2671 "PAT Crashes due to non ascii characters"
Using my own copy for the BCL measure [tariff_selection_generic](https://bcl.nrel.gov/node/82925) I added new utility .idf files in /resources/ folder, in which I was using IDF comments including the € sign. For eg:

[code]

Turns out this makes PAT blow up. It runs just fine when I use the OpenStudio CLI...

The problem is the € sign, if I change that to "EUR" instead, PAT runs fine... I'm not su

[2017-06-26 09:46] jmarrec commented on #2670
This should have been an OptionalDouble to begin with I guess. But changing this might not be backwards compatible and break some measures... Maybe it's good enough to have it return 0 instead?

[2017-06-26 13:15] #2667 closed

[2017-06-26 14:03] jmarrec opened #2672 "Show Stdout output from E+ in PAT in real time"
On my macOS, with PAT 2.1.2, I cannot see the output from E+ sims in PAT, which is annoying since I don't know if the simulation is going well or just crashed.

[2017-06-26 14:17] jmarrec opened #2673 "PAT run fails due to mongo validation, starts E+ over and over again"
I'm running into an issue where PAT apparently fails to validate a datapoint, will then relaunch the E+ simulation, etc etc.

See the log retrieved from /temp_data/analysis_593fcac3-d036-435c-b089-76406ee383b8/data_point_8a8cda99-907b-49eb-b676-541ce40d593f/.

In real time I could just see energyplus completing, then starting again...

[8a8cda99-907b-49eb-b676-541ce40d593f.txt](https://github.com/

[2017-06-26 14:24] johnsontimp commented on #2604
One more update on this issue. When opening through Sketchup, I can run simulations, but I have found all the objects in the zone and systems level tabs are missing. Those will load if I open the model directly in OpenStudio, but then I can't see the results tab. I have switched back to the 1.X versions of OpenStudio.

[2017-06-26 14:27] kbenne opened #2674 "PlantLoop GlycolConcentration is not initialized"

[2017-06-26 14:31] #2674 closed

[2017-06-26 14:36] jmarrec commented on #2673
Confirmed, removing the `.` in the measure option allows me to run the design alternatives that use them successfully

[2017-06-26 14:39] jmarrec commented on #2662
I'm having error 3) all the time as well.

[2017-06-27 08:11] jmarrec opened #2675 "PAT starts more runs than cores"
I have a dual core i7 (2 cores, 4 threads). PAT displays that it started 16 runs when only 3 energyplus instances can be run at any time (the 4th thread is used by ruby)

![screen shot 2017-06-27 at 10 09 26 am](https://user-images.githubusercontent.com/5479063/27577432-ef31ba4c-5b20-11e7-80b2-e3544fe2a708.png)

[2017-06-27 14:58] shorowit opened #2676 "PAT 2.1.2 deletes measure from library"
I removed a measure from a PAT project, and not only was it removed from the project, but the measure was deleted from my measure library. That is not good. Thankfully I have a fairly recent version of it committed on GitHub, but I did lose some changes.

[2017-06-27 15:07] DavidGoldwasser commented on #2676
@macumber I remember you looking for this happening sometime in the past, but it wasn't something we could repeat. This doesn't happen for me when I delete a measure from a project.

[2017-06-27 15:08] jmarrec opened #2677 "PAT Results Summary Table Report has wrong sign for capital cost increase"
This is reporting a negative number instead of a positive number for first year capital cost increase. Which explains also why the payback is a negative number.

![screen shot 2017-06-27 at 5 00 43 pm](https://user-images.githubusercontent.com/5479063/27594722-d84c2eea-5b5a-11e7-96da-dea02bb49590.png)

[2017-06-27 15:24] macumber commented on #2676
Noted in the comments here https://github.com/NREL/OpenStudio/issues/2662

[2017-06-27 15:24] macumber commented on #2676
It deleted the results measure from my local bcl

[2017-06-27 15:26] shorowit commented on #2676
Not sure if it's helpful, but here was the full sequence of events:
- Start PAT, load existing project file.
- Click Update Measures button, the measure of interest had an update (as I had made changes to it), update it.
- Click X next to the measure of interest to remove it from the project. (I removed it with the intention of re-adding it so that everything would be fully defaulted.)

At this po

[2017-06-27 15:58] shorowit commented on #2639
Could this have to do with the fact that my measure is called `ApplyUpgrade` and the first copy ends up called `apply_upgrade`?

[2017-06-27 16:45] DavidGoldwasser opened #2678 "Allow custom analysis name different than PAT project name"
This is similar to "Analysis Name" in the Run setup section of the analysis spreadsheet. Both on local and cloud runs i may have 10-15 runs with the same name, and it is hard to keep track of them. It isn't reasonable to keep doing save as locally on PAT projects for this. I typically appended some common name with what is unique about that run. When doing QAQC I fix one thing and re-run ,fix anot

[2017-06-27 16:56] DavidGoldwasser commented on #2503
Looks good! Tested on local manual run with development build on mac.

[2017-06-27 16:56] #2503 closed

[2017-06-27 17:02] ljbrackney commented on #2541
Fixed and verified.  Thanks Nick and Ry!

[2017-06-27 17:02] #2541 closed

[2017-06-27 17:06] ljbrackney opened #2679 "Scatter Plot on Server Contains Extraneous Data"
Scatter Plots on the server are cluttered with several non-useful values that make it hard to use.  Please remove _id, name, run_start_time, run_end_time, status, status_message from this plot.  This is borderline between minor bug and feature request, and is low priority.

[2017-06-27 17:11] #2637 closed

[2017-06-27 17:47] ljbrackney opened #2680 "Results Icon in PAT's Run Tab Not Populating Correctly"
Observed in build with PAT SHA: 23608c48727821d8ac530e142af60ca78d1bbda6

Ran large project on 24a.  Project ran fine w/ point truncation in PAT.  Even when downloading data points and models, the results icon remains grayed out.  The HTML files in the zip are fine.

![results](https://user-images.githubusercontent.com/2230150/27601955-e95a5746-5b25-11e7-8507-b65ba4c4a1c4.png)

[2017-06-27 17:48] ljbrackney commented on #2640
Corrected by point truncation.

[2017-06-27 17:48] #2640 closed

[2017-06-27 17:51] ljbrackney commented on #2667
Working correctly in new build.  Thanks!

[2017-06-27 18:59] shorowit commented on #2601
Worked well in my tests!

[2017-06-27 18:59] #2601 closed

[2017-06-27 19:09] padmassun opened #2681 "Surface disappears after saving in SketchUp - after using Intersect and Divide Inter-Zone Surface for the entire model"
Hello,

Some surfaces disappear after opening a saved document whose model has its surfaces intersected before the save.

Starting model: https://github.com/NREL/openstudio-standards/blob/47252763df700d5fac194ac98c2a9f69428edb15/openstudio-standards/data/geometry/Geometry.hospital_new.osm
SketchUp Pro 2017 Ver. 17.2.2555 64-bit, Plugin Ver. 2.1.1
OpenStudio Ver. 2.1.1 Build 141d4b9cb6 64-bit
Windo

[2017-06-28 05:18] rHorsey commented on #2650
Thanks @mostaphaRoudsari !

[2017-06-28 05:18] #2650 closed

[2017-06-28 05:26] rHorsey commented on #2675
Thanks @jmarrec for making an issue for this! I've seen this before on our still unstable large-scale (more than 200 thread) server deployments, but just tonight on one of our CI boxes. (https://travis-ci.org/NREL/OpenStudio-server/jobs/247794187) I'll try and take a look at this next week. I'm still not clear on what the impact of this is; I expected it to be catastrophic, but on our large deploy

[2017-06-28 05:28] rHorsey commented on #2673
@kflemin and @nllong Where is the preferred sanitation point in your opinions: PAT, or the model import pipeline?

[2017-06-28 05:31] rHorsey commented on #2608
Worker looks to be mostly stable. There are some paradoxes in when to apply worker finalization in the workflow, but otherwise the implementation appears solid.

[2017-06-28 07:26] jmarrec opened #2682 "PAT order of design alternatives isn't preserved"
I define the order of my DA because I have good reasons to on the Design Alternatives Tab.
On the Run tab, it's a different order.
On the Results Summary table, it's the order of the Run Tab, but in reversed..

The order defined on the DA Tab should be preserved.

[2017-06-28 08:51] jmarrec commented on #2682
So I understand jack squat about electron app development nor debugging.

But I was able to test a couple of things.

Project.designAlternatives is the order I have defined and would like to keep.

Project.datapoints is another order (the one in the Run Tab).

On the Summary Results table, Project.datapoints is passed to the webview as $scope.results, and $scope.resultsWithInfo is reversed order f

[2017-06-28 09:28] jmarrec commented on #2682
Ok I think I understand what's going on, and can propose steps to retrace the behavior.

Create two design alternatives, Alt1 and Alt2, in this order.

Go to the run tab. [runController.js#L199](https://github.com/NREL/OpenStudio-PAT/blob/develop/app/app/run/runController.js#L199), setUpDatapoints is called.

It doesn't find any datapoints currently, so it goes into the loop in #L222 and creates d

[2017-06-28 10:47] jmarrec commented on #2675
In my case, I'm pretty sure the problem was from https://github.com/NREL/OpenStudio/issues/2673

[2017-06-28 13:58] adhilton25 commented on #2562
Is this on the radar for 2.2.0 at all?

[2017-06-28 14:28] nllong commented on #2673
model import

[2017-06-28 15:00] ljbrackney commented on #2562
I don't see commits against it, so I suspect not given that the release is being prepared as I type this.

[2017-06-28 15:04] adhilton25 commented on #2562
Ah, okay, thanks. Guess I'm still on 1.14 for a while longer then ;)

[2017-06-28 15:07] eringold commented on #1286
Still relevant as of v2.1.2.

[2017-06-28 15:22] macumber commented on #2562
Sorry we missed this, it is pretty serious, I just confirmed this still exists in 2.2.0.  I'll label as blocker since it results in data loss.

[2017-06-28 15:23] #2634 closed

[2017-06-28 15:24] macumber commented on #2613
@DavidGoldwasser can you test this in 2.2.0?

[2017-06-28 15:25] macumber commented on #2613
@brianlball and @rpg777 can you test as well?

[2017-06-28 15:29] adhilton25 commented on #2562
No worries, thanks for the update. I really appreciate everything you guys are do!

[2017-06-28 15:52] macumber commented on #2457
@DavidGoldwasser can you test this?  I think it is closed.

[2017-06-28 15:53] macumber commented on #2498
@asparke2 is this complete?  can we close it?

[2017-06-28 15:53] #2512 closed

[2017-06-28 15:54] macumber commented on #2523
@ljbrackney can you test and close once 2.2.0 is out?

[2017-06-28 16:30] asparke2 commented on #2498
No, it is still the electron boilerplate:

https://github.com/NREL/openstudio-pat

[2017-06-28 16:53] ljbrackney commented on #2523
Yes

From: Dan Macumber <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, June 28, 2017 at 8:54 AM
To: NREL/OpenStudio <OpenStudio@noreply.github.com<mailto:OpenStudio@noreply.github.com>>
Cc: Larry Brackney <larry.brackney@nrel.gov<mailto:larry.brackney@nrel.gov>>, Mention <mention@noreply

[2017-06-28 17:20] shorowit commented on #2678
+1

[2017-06-28 19:35] shorowit commented on #2661
I see this sometimes. I'm not really sure why it occurs. Here's what I'm seeing in the console:

[code]

[2017-06-28 23:00] shorowit opened #2684 "PAT can show incorrect # of datapoints"
Running 20k simulations via algorithmic mode in PAT 2.1.2.

When PAT refreshes, it sometimes shows a total # of datapoints that is greater than or less than 20k.

![image](https://user-images.githubusercontent.com/5861765/27664156-291f2552-5c23-11e7-8573-483dbb011bc2.png)

![image](https://user-images.githubusercontent.com/5861765/27664157-2c6317b4-5c23-11e7-9e64-fe7c13aaa341.png)

[2017-06-29 15:29] DavidGoldwasser commented on #2613
@macumber I was not able to get a crash trying to quickly run or opening an OSM. I also tried changing from and back to a directory with large number of measures using "Change my Measures Directory" (This is with 2.1.2 installer)

[2017-06-29 15:39] rpg777 commented on #2613
I'm still waiting for a 2.2.0 Mac package to test this. This wait dialog commit from Kyle is not in 2.1.2.

[2017-06-29 16:18] shorowit opened #2685 "PAT improvements for Algorithmic projects"
When you have a project in Algorithmic mode, which therefore only runs on the cloud, there are some annoyances that occur when you open the project:
- The run screen dropdown defaults to "Run Locally". Ideally, you would see the exact same information on the Run screen that you saw when you closed PAT and saved your project.
- The local server automatically starts up (even though you will not be u

[2017-06-29 16:25] ljbrackney commented on #2685
+1
+0 - There are use cases where you want to "pre-flight" check analyses locally before committing to the cloud
+1

From: Scott Horowitz <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, June 29, 2017 at 9:18 AM
To: NREL/OpenStudio <OpenStudio@noreply.github.com<mailto:OpenStudio@noreply.gi

[2017-06-29 16:41] shorowit commented on #2685
@ljbrackney Not sure I follow your second point. PAT currently only allows running algorithmic mode analyses on the cloud, doesn't it?

[2017-06-29 18:05] DavidGoldwasser opened #2686 "OpenStudio Application Results tab becomes less responsive when user goes back and forth multiple times between reports"
I hit this in 2.2.0 (but went back and confirmed same behavior with 2.1.2) on mac OS 10.11.6. At first it looks like it is very quick, but then when you try to scroll a beach ball comes up. At first may refersh in 0.5 seconds, but didn't take too many cycles to get to 5 to 20 seconds for beach ball to go away. Then for some reason one time might be really quick again, then gets slower. Maybe rende

[2017-06-29 19:57] ljbrackney commented on #2685
PAT was intended to allow tests of the Seed and measures in manual mode prior to switching to algorithm mode.  I have projects where I've configured both and jump between them for testing.

From: Scott Horowitz <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, June 29, 2017 at 9:41 AM
To: NR

[2017-06-29 20:22] shorowit commented on #2685
Sure. Presumably PAT would start the local server if you switch from algorithmic mode to manual mode then. And stop it when you switch back.

[2017-06-29 20:26] ljbrackney commented on #2685
That was not part of the original design spec for PAT.  The assumption was that local server always starts.  Implementing the behavior you describe would be problematic.

From: Scott Horowitz <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, June 29, 2017 at 1:22 PM
To: NREL/OpenStudio <Open

[2017-07-03 11:21] jmarrec commented on #2658
I don't think this has to do with the old ModelUserScript or the new ModelMeasure, nor about class Name conflict.

To me it seems it always comes from a measure or modeler description problem.

I ran into this error today again. I had something in my modeler description wiht special chars: `Watts @ 80/60/20`. Removing this fixed it. Weirdly enough, putting it back doesn't make `openstudio measure

[2017-07-03 16:03] snlavu opened #2688 "Supply air fan operating mode"
I am using v1.14 and trying to model a Fan coil unit with fan operating on a schedule- unfortunately, the osm file does done have supply air fan operating mode field that makes it relevant to operate the unit at that schedule and cycle it per demand at other hours. It is only operating as either run as constant(24X7) or cycling it on demand(OA cycles as well!!!!). How can I get this to work?
The f

[2017-07-03 16:43] macumber commented on #2658
I don't think this is specific to the modeler description, I think the key is that changing the measure.rb file results in a new file checksum and causes measure manager to recompute the xml file contents.  I have seen this clear the errors when modifying whitespace only (e.g. add a space somewhere).  The very weird thing to me is that the measure update check errors are intermittent.

[2017-07-05 14:35] #2688 closed

[2017-07-05 16:10] MatthewSteen commented on #2030
For those still running 1.14.0, I'm still seeing this.

[2017-07-05 16:30] chriswmackey commented on #2371
@macumber ,

I have unfortunately uncovered a recent case of this issue again with OpenStudio 2.1.0.  The computer was using C# bindings and running Windows 10.  It is presently the only case of this issue that I know of for OpenStudio 2.1.0 and I am sure that there are hundreds of other machines running it fine.

Still, it seems we are not yet finished with this issue.  Do you know if there are a

[2017-07-05 17:17] DavidGoldwasser commented on #2681
@padmassun the SketchUp intersection relies on parts of SketchUp API we don't have control of. Can you confirm if there are issues with the "Intersect Surfaces" option in the Surface matching measure on BCL. This uses just OpenStudio's API.
https://bcl.nrel.gov/node/39833

Here is an UnmetHours post about the measure. The native OpenStudio intersect isn't perfect, but has been more reliable than t

[2017-07-06 14:57] snlavu opened #2689 "Issues with PAT2.1.2"
I am running into a couple of issues with the new PAT and looking for a solution. Currently using a v2.1.2 with instructions to model via PAT from https://github.com/NREL/OpenStudio/re...

I have posted this earlier on unmet hours and have reduced the issues down to

First off, the simulations take really long to run- I am running locally but the parent file runs 5 mins but the run time on the par

[2017-07-10 15:32] #2681 closed

[2017-07-10 20:37] DavidGoldwasser commented on #2581
I thought I had seen this fixed in later 2.1.x, but It is still valid in the 2.2.0 (pre) installer.

[2017-07-10 20:50] rHorsey commented on #2629
Confirmed in 2.2.0

[2017-07-10 20:50] #2629 closed

[2017-07-10 20:52] rHorsey commented on #2570
Confirmed fixed in 2.2.0

[2017-07-10 20:56] DavidGoldwasser opened #2690 "Duplicate Measure, breaks if you then update the measure"
CC @henryHorsey

If you duplicate a measure instance named "My Measure" you get one named "My Measure 2" (as described in #2570) and everything works fine, as shown below with "Create Typical Building From Model"

![screen shot 2017-07-10 at 2 40 32 pm](https://user-images.githubusercontent.com/4857055/28039348-2b884d40-657f-11e7-831f-b4de7f12a7d1.png)

If you have to update the measure code in th

[2017-07-11 08:40] pachi commented on #2391
I'd suggest using litres per second (l/s) in the GUI and indeed keeping m3/h internally if there's no precision problem there.

[2017-07-11 08:46] pachi commented on #2675
Is this really wrong? The energyplus runs are indeed bounded by CPU use, but the overall OpenStudio run uses much more time doing IO, so this excess of parallelism should improve throughput as more CPU work can be done while waiting for IO.
In our experiments we use at least N+1 or N+2 project runs, where N is the number of CPU processes.

[2017-07-11 17:16] jmarrec commented on #2675
This is really wrong yes because in my case it launched 16 energyplus runs. 16 on a two core four thread machine. And energyplus, not ruby or something.
And the settings defined (default) are 3 threads for e+ and one for misc (server gem etc) on my machine so it shouldn't happen

Envoyé de mon iPhone

[2017-07-12 15:49] ljbrackney opened #2691 "About PAT window hasn't been updated in agest"
The About PAT window on Mac states:

![about](https://user-images.githubusercontent.com/2230150/28126643-e9fee83c-66de-11e7-8a41-018d134fa0b1.png)

This needs to be updated.

[2017-07-12 21:00] kflemin opened #2692 "Setpoint Manager Schedule Segfault"
segfault when running urbanOpt workflow.  Seems to segfault on measure 'create typical building from model', specifically when the setpoint manager schedule object is added to the supply outlet node on the airloop.

Stack trace:
[code]
[segfault.osw.txt](https://github.com/NREL/OpenStudio/files/1143303/segfault.osw.txt)

[2017-07-13 03:40] macumber commented on #2692
This issue might belong in the openstudio-standards repo instead of here.  Here is a modified osw that does not use the measures which connect to a project database (you will have to modify the paths to point to your own measure dirs).  This file runs for me but errors on in E+ with:

    ** Severe  ** IP: IDF line~10095 Object=CONTROLLER:MECHANICALVENTILATION, name=12 ZONE PVAV VENTILATION CONTRO

[2017-07-13 03:41] macumber commented on #2692
Because this works when not using Kat's geometry, I am suspecting that the issue might have to do with her particular datapoint.  I probably need to make an adaption to the urban geometry measure so we can load in datapoints from disk for testing offline.

[2017-07-13 04:00] macumber commented on #2692
@kflemin when you get a chance, can you run the following query with the project and feature id's from a problem datapoint and upload the output here so we can test offline?

Net::HTTP::Get.new("/api/feature.json?project_id=#{project_id}&feature_id=#{feature_id}")

[2017-07-13 04:32] macumber commented on #2371
Thanks @chriswmackey this error is the generic error that SWIG provides when a dll dependency fails to load (either missing, or wrong version, or something).  I think we have found many of the potential problems but I guess there must be something we are still missing.  The solutions are still the same, try to track down the missing or incorrect dlls being loaded with dependency walker or a simila

[2017-07-13 15:46] kflemin commented on #2692
here's the feature.json for one of the failing datapoints:
[feature.json.txt](https://github.com/NREL/OpenStudio/files/1145766/feature.json.txt)

[2017-07-16 00:38] ljbrackney opened #2693 "Importing DDY file creates duplicate design days"
Importing one of the stock E+ DDY files into the App produces duplicate copies of both heating and cooling design days in the App.

![ddy](https://user-images.githubusercontent.com/2230150/28243571-4710b846-6984-11e7-92e5-f8aeacef0803.png)

[2017-07-16 01:10] MatthewSteen commented on #2693
I've noticed this happen in previous versions where if the user has already imported a DDY file and imports one again the app will append the design days rather than replace the existing ones, which can add to sim time on the EnergyPlus end.

[2017-07-16 02:40] ljbrackney commented on #2693
This happens with a brand new model.

On Jul 15, 2017, at 6:10 PM, MatthewSteen <notifications@github.com<mailto:notifications@github.com>> wrote:

I've noticed this happen in previous versions where if the user has already imported a DDY file and imports one again the app will append the design days rather than replace the existing ones, which can add to sim time on the EnergyPlus end.

-
You are

[2017-07-17 13:36] chriswmackey commented on #2371
@macumber ,
Thank you for the response. I don't have direct access to the computer that is experiencing the issue but the colleague of mine who is experiencing it is close by so there's a chance that we could do some debugging. If we manage to run dependency walker and track down the dll that is misbehaving, we will report it here.
Thanks again,
-Chris

[2017-07-18 20:46] #2397 closed

[2017-07-18 20:49] evanweaver commented on #2317
@DavidGoldwasser please test and confirm

[2017-07-18 20:57] evanweaver commented on #2689
@snlavu can you email us a PAT project which reproduces issue #2?

[2017-07-18 20:59] DavidGoldwasser commented on #2317
Yes, I believe this is fixed, there also is an explicit check in reporting measure with small tolerance that will issue warning that will check if EnergyPlus reported area isn't the same as OpenStudio reported area.

Details of how it was checked are in issue #561

[2017-07-18 20:59] #2317 closed

[2017-07-18 21:01] evanweaver commented on #2660
@kbenne this maybe an issue with copying the dlls.

[2017-07-18 21:08] evanweaver commented on #2639
@shorowit have you noticed this in 2.2.0?

[2017-07-18 21:12] evanweaver commented on #2622
@sarocu can you send us the offending osm?

[2017-07-19 16:58] DavidGoldwasser commented on #2656
I also need to identify proper change for

```OpenStudio::Ruleset::WorkspaceUserScript```

and

``` OpenStudio::Ruleset::ReportingUserScript```

Do the changes from them follow the same patten? Replace "UserScript" with "Measure"

[2017-07-19 18:16] evanweaver commented on #2457
See https://www.pivotaltracker.com/n/projects/134010/stories/141187433

Ticket accepted by David June 8 2017

[2017-07-19 18:16] #2457 closed

[2017-07-20 15:58] DavidGoldwasser commented on #1632
This model was made with OpenStudio 1.7.0, looking at the code this pre-dates our current OpenStudio results measures, so any bug that may have existed then isn't in the code anymore
https://github.com/NREL/OpenStudio/blob/v1.7.0/openstudiocore/src/pat_app/Measures/StandardReports/measure.rb

[2017-07-20 15:58] #1632 closed

[2017-07-20 17:38] ljbrackney opened #2694 "Segfault in Materials Tab"
App Segfaults when opening Materials Sub-Tab.  Other Constructions Sub-Tabs are fine.  Model runs okay.

[openstudio.units.QuantityConverter] <1> Cannot convert base unit 'g' to SI because it is not registered with the QuantityConverter.
[BOOST_ASSERT] <2> Assertion test failed on line 65 of openstudio::OSQuantityEdit2::OSQuantityEdit2(const std::string &, const std::string &, const std::string &,

[2017-07-20 18:26] ljbrackney opened #2695 "User Reports PAT Local Server Not Starting Reliably on Mac"
User reports that Ruby processes begin to start and then quit during PAT startup.  Using the Start Server button multiple times eventually resulted in Ruby processes starting and remaining active.  I have requested log files from the user, but here is a screenshot of the developer window in PAT:

![kromer](https://user-images.githubusercontent.com/2230150/28432821-437c56f0-6d3e-11e7-99a5-d427713d3

[2017-07-20 18:31] ljbrackney commented on #2695
User logs attached now.

[logs.zip](https://github.com/NREL/OpenStudio/files/1163346/logs.zip)

[2017-07-20 18:45] evanweaver commented on #2694
@ljbrackney are you using a debug build of the current dev tip?

[2017-07-20 18:56] ljbrackney commented on #2694
Current build from Dan's branch.  Please confirm this behavior in release with the model I attached.

From: evanweaver <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, July 20, 2017 at 11:45 AM
To: NREL/OpenStudio <OpenStudio@noreply.github.com<mailto:OpenStudio@noreply.github.com>>
Cc: Lar

[2017-07-20 19:03] evanweaver commented on #2694
@ljbrackney sorry, but we've all made lots of branches. Are you using geometry_editor? That appears to be Dan's currently active branch.

[2017-07-20 19:05] ljbrackney commented on #2694
Yes

From: evanweaver <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, July 20, 2017 at 12:03 PM
To: NREL/OpenStudio <OpenStudio@noreply.github.com<mailto:OpenStudio@noreply.github.com>>
Cc: Larry Brackney <larry.brackney@nrel.gov<mailto:larry.brackney@nrel.gov>>, Mention <mention@noreply.g

[2017-07-20 20:47] rHorsey commented on #2673
We apparently should ascii character code the restricted mongo characters.