[2015-05-28 15:57] kbenne commented on #1345
The second one works, the first one does not.

[2015-05-28 16:00] kbenne commented on #1345
you can also just require minitest.  the whole thing.

[2015-06-01 13:17] #1640 closed

[2015-06-01 13:17] #1637 closed

[2015-06-01 13:17] #1638 closed

[2015-06-01 13:17] #1648 closed

[2015-06-01 13:17] #1658 closed

[2015-06-01 13:17] #1662 closed

[2015-06-01 21:24] #1665 closed

[2015-06-02 14:33] kbenne opened #1670 "Add support for heat pump water heater"

[2015-06-02 18:41] macumber opened #1671 "Catch and report all no RTTI data errors"
No RTTI data exceptions seem to be thrown for several types of errors.  We should catch these (e.g. in the top level application error handling) and display a more informative error to the user.  Something like:  An unknown error has occurred, please send your model to OpenStudio@nrel.gov for diagnostics.

[2015-06-02 19:42] macumber commented on #1667
@kbenne here is the magic that fixes up zones added using the plugins inspector:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/ruby/openstudio/sketchup_plugin/lib/interfaces/ThermalZone.rb#L62

[2015-06-02 19:44] kbenne commented on #1667
@macumber  Who calls ```check_model_object``` and when?  It seems like one explanation might be that events to trigger that method are not happening deterministically.

[2015-06-02 20:02] macumber commented on #1667
It's quite a call stack:

Kicked off here:
https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/ruby/openstudio/sketchup_plugin/lib/watchers/PluginModelWatcher.rb#L55

Goes here:
https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/ruby/openstudio/sketchup_plugin/lib/interfaces/ModelInterface.rb#L1026

Then here:
https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/ru

[2015-06-02 20:56] nealkruis opened #1672 "Show error or warning when DDY file has no design days"
Possibly related to #1562. @macumber?

See my comment under @asparke2's answer in this [Unmet Hours question](https://unmethours.com/question/1566/severe-error-caused-by-controller-mechanical-ventilation-openstudio-150/?comment=8264#comment-8264).

From a user's perspective, they only see EnergyPlus errors related to mechanical ventilation controllers.

[2015-06-02 20:58] asparke2 commented on #1672
@nealkruis You're correct, this is a duplicate of #1562.  We are working on a GUI change that will show all design days that are in the model so you can see when a ddy file is empty.

[2015-06-02 20:58] #1672 closed

[2015-06-02 21:04] nealkruis commented on #1672
@asparke2 there may be an important distinction between:
 - showing that there are zero design days and
 - giving a user more information before they encounter the error as a problem with the mechanical ventilation controllers.

Does the GUI change address both of these?

[2015-06-05 16:22] mbadams5 opened #1673 "UnitHeater doesn't allow Fan:OnOff"
Starting with EnergyPlus 8.2, ZoneHVAC:UnitHeater allows Fan:OnOff as an allowable fan type. The [OpenStudio.idd](https://github.com/NREL/OpenStudio/blob/8e67be624fef6e4182f66df4782f45195422cf25/openstudiocore/resources/model/OpenStudio.idd#L19174) does not allow this combination nor does it currently complain during construction of the object or forward translation.

[2015-06-07 19:05] mbadams5 opened #1675 "WaterHeater:Mixed not forward translated when not on loop"
If a WaterHeater:Mixed is not on a SWH PlantLoop then it is not forward translated.

A water heater can be standalone when PeakUseFlowRate and UseFlowRateFractionSchedule are set.

I came across this in a few prototype buildings where this is used.

This iddobjectype just need to be added to [here](https://github.com/NREL/OpenStudio/blob/8e67be624fef6e4182f66df4782f45195422cf25/openstudiocore/src/

[2015-06-07 19:14] mbadams5 opened #1676 "Two HeatExchangerAirToAirSensibleAndLatent are output to EquipmentList"
I came across this working on the prototype buildings but it is even seen in the heatexchanger_airtoair_sensibleandlatent.rb simulation test.

One HeatExchangerAirToAirSensibleAndLatent is created on the Outdoor Air Loop but when forwarded translated there are two instances output to AirLoopHVAC:OutdoorAirSystem:EquipmentList (but both are the same single HeatExchangerAirToAirSensibleAndLatent).

[2015-06-08 19:19] kbenne opened #1679 "Add Support of dual duct systems and related components."

[2015-06-08 19:25] kbenne commented on #1679
- [ ] AirTerminal_SingleDuct_SupplySideMixer (StraightComponent)
- [ ] AirTerminal_DualDuct_VAV_OutdoorAir (Mixer)
- [ ] AirTerminal_DualDuct_ConstantVolume (Mixer)
- [ ] AirTerminal_DualDuct_VAV (Mixer)
- [ ] Update APIs to work with this new topology.
- [ ] Update graphical outline in App.

[2015-06-09 01:11] #1676 closed

[2015-06-09 02:45] #1673 closed

[2015-06-10 17:44] mbadams5 opened #1682 "Add support of WaterHeater:Stratified"

[2015-06-10 18:59] #1605 closed

[2015-06-10 19:46] DavidGoldwasser opened #1683 "Failure in intersectSurfaces method in some cases"
Error below from user model when running surface matching measure with intersect turned on.

DL is deprecated, please use Fiddle

QSslSocket: cannot resolve TLSv1_1_client_method

QSslSocket: cannot resolve TLSv1_2_client_method

QSslSocket: cannot resolve TLSv1_1_server_method

QSslSocket: cannot resolve TLSv1_2_server_method

QSslSocket: cannot resolve SSL_select_next_proto

QSslSocket: cannot r

[2015-06-10 19:49] MatthewSteen commented on #1683
+1

[2015-06-10 19:51] DavidGoldwasser commented on #1683
Thanks for  finding it MattewSteen, I have file on private repo
https://github.com/NREL/OpenStudio-files/tree/master/Git%20Issue%20Files/Issue1683

[2015-06-11 15:58] MatthewSteen commented on #1683
As a "workaround" I was able to use the plugin surface matching script without any errors.

[2015-06-11 16:40] kbenne commented on #773
Still closed in Pivotal and not closed here.  I'm going to reopen in Pivotal until it gets resolved.

[2015-06-11 16:54] macumber commented on #773
Might need to also check for duplicate uuids

[2015-06-11 17:37] axelstudios commented on #889
Tested with David, unable to reproduce crash.

[2015-06-11 17:37] #889 closed

[2015-06-11 17:37] axelstudios commented on #942
Tested with David, unable to reproduce crash.

[2015-06-11 17:37] #942 closed

[2015-06-11 18:14] #1411 closed

[2015-06-11 19:51] axelstudios commented on #1310
Unable to reproduce crash -- I uploaded a new measure, downloaded it, changed the `name` `class_name` & `display_name`, and redownloaded it.  There was no crash after redownloading, nor after relaunching PAT.

If anyone has a workflow to reproduce this, we can reopen.

[2015-06-11 19:51] #1310 closed

[2015-06-11 20:49] evanweaver commented on #1650
@axelstudios is this still valid and open?

[2015-06-12 15:04] #1650 closed

[2015-06-12 19:18] DavidGoldwasser opened #1684 "Crash when editing string argument value after running a successful simulation."
This is reproducible with this model. I tried with another model with a different measure type and din't have the issue. I have seen this at least one time in the past.

Steps to reproduce.
1. Launch OSM model
2. Run simulation
3. Go back to "Measures" tab
4. Click on any alphanumeric field
5. Type  int the cell (in this example need to type a number since no string fields)

Should crash. I have t

[2015-06-12 19:29] DavidGoldwasser commented on #1684
Link to model to reproduce crash
https://github.com/NREL/OpenStudio-files/tree/master/Git%20Issue%20Files/Issue%201684

[2015-06-12 19:35] jetface commented on #1260
I know this is an older thread but I haven't found any more recent posts concerning this issue.  I had the same problem with OpenSuse 13.1.  I found out I hadn't installed the ruby-devel package.  Did that through Yast and cmake worked fine afterwards.  I am running CMake 3.0.1 (before and after devel install).

[2015-06-13 16:32] MatthewSteen commented on #1608
Also occurred when deleting PTACs in 1.7.5.

[2015-06-15 15:49] DavidGoldwasser commented on #1667
On a fresh model check_model_object does appear to get called. (I checked making new zone via the inspector, a user script, and the space attributes dialog). Here is the resulting model object.

OS:ThermalZone,
  {bebcb225-dd00-41b1-afd9-2b9bc502c121}, !- Handle
  Thermal Zone 1,                         !- Name
  ,                                       !- Multiplier
  ,

[2015-06-15 15:55] DavidGoldwasser commented on #1667
Deleting a thermal zone via the inspector does seem to orphan an OS:Connection object

OS:Connection,
  {88cc17b4-44f1-400c-8e4c-c7247ed12586}, !- Handle
  {fed54bd8-57ba-4dff-91a5-ca6dcbea7c5f}, !- Name
  ,                                       !- Source Object
  11,                                     !- Outlet Port
  ,                                       !- Target Object
  2;

[2015-06-15 16:13] DavidGoldwasser commented on #1667
@macumber and @kbenne Below is what the thermal zone looks like in the user file. I can't reproduce this in a new file. @macumber my only thought is that SketchUp was in a bad state where observers were not working as expected (e.g. failed intersect)? Does that seem possible.

I could disable the new and delete feature for thermal zones in the inspector, but I have my doubts that is the cause. The

[2015-06-15 18:48] DavidGoldwasser commented on #1667
@kbenne I'll close this and then assign story in Pivotal and Git pull request to you.

[2015-06-15 18:48] #1667 closed

[2015-06-15 19:15] DavidGoldwasser commented on #1684
I can't reproduce this from a fresh file. I'll lower frequency and severity. But still does happen from file attached to bug. It is one I made (no head editing of OSM file)

[2015-06-16 16:37] kbenne commented on #1608
@MatthewSteen and @eringold I tested this on my Mac with the official 1.7.0 package and I was able to reproduce the issue.

I built a debug build of current develop and was not able to reproduce.  That is not absolute proof that the bug is gone.  My ability to reproduce amounted to rapid fire clicking through various zone equipment AND jumping over to scroll quickly before the inspector is loaded.

[2015-06-16 16:38] kbenne commented on #1608
I know @evanweaver has done some work in this area.  @evanweaver if you can point to a specific commit that you think addresses this issue, that would be nice for record keeping.

[2015-06-16 16:38] kbenne commented on #1608
Note I just saw @MatthewSteen's comment about 1.7.5.  That doesn't look promising.  There are some commits between then and now but not many that appear related.

[2015-06-16 16:53] evanweaver commented on #1608
Sorry @kbenne, I've been in gridview feature branches.  I haven't seen the issue, but I'm not aware that I may have inadvertently fixed it.

[2015-06-16 19:27] MatthewSteen commented on #1608
FYI @kbenne this occurred in a large model after applying the 90.1 System 1 measure. I was in the process of deleting PTACs from the secondary zones.

[2015-06-16 19:31] kbenne commented on #1608
Yeah its defiantly still a thing.  I think @eringold's comments are key.  It seems that if you want to recreate this issue it helps to rapid fire select several times (6-12 cycles seems about right) between zone equipment then quickly jump to IG. We'll get this tracked down. Two or three cycles doesn't seem to do it for me.

[2015-06-16 19:45] #1606 closed

[2015-06-16 20:06] #1644 closed

[2015-06-16 20:14] kbenne commented on #1476
Yep.  I see it now.  Not when i click in the field, but when i click on the field names label.  Strange...

[2015-06-16 20:53] #1476 closed

[2015-06-16 21:53] eringold commented on #1608
@kbenne I'm happy to test a develop build if you put together an installer.

[2015-06-17 16:50] MatthewSteen commented on #1341
+1

[2015-06-17 17:06] MatthewSteen commented on #1286
In 1.7.5 this behavior is present in ZoneHVAC equipment fields such as the SA and OA flow rates for PTACs and WSHPs.

If the user want to hard size the flow rates to 0, it requires and extra click into the value box, not simply clicking the Hard Sized bullet which automatically enters a zero value by default.

[2015-06-17 17:43] kbenne commented on #1608
OK @eringold @MatthewSteen,  @evanweaver and I have spent a lot of time on this issue now.  Like I said I can confirm that it is definitely an issue.  I have now reproduced it on Mac and Windows.  The problem is that it has taken us a very long time clicking around in the manner described to reproduce.  I cannot identify an exact sequence that does it.  I know you gotta be fast.  (or at least in m

[2015-06-17 18:07] MatthewSteen commented on #1608
@kbenne sounds reasonable to me. I haven't been able to reproduce it in the past day deleting PTACs, even with some :monkey_face: clicking.

[2015-06-17 18:23] kbenne commented on #1608
For record here is my best guess at a fix.

https://github.com/NREL/OpenStudio/commit/b7a931dce05488bf7c31988f1a8c565420dbc883

Now that I talked everyone off this issue, I actually couldn't help myself from rolling a package.  I'll send out a download link for testing if anyone is so inclined.  The route I actually went with in that commit is pretty low risk so if you think it clears up the issue

[2015-06-18 01:25] kbenne commented on #599
@MatthewSteen you may correct me if I'm wrong but I believe the only way to get CoilCoolingWaterToAirHP or CoilHeatingWaterToAirHP on air loop is to put it in a AirLoopHVACUnitarySystem.  Even the coil system wrapper won't do it, if I recall correctly.   I think the correct course of action on those two is to simply remove the category.

[2015-06-18 01:33] kbenne commented on #1608
@MatthewSteen I sent you a link to a package for testing.

@eringold I don't think I have your email, but if you send me a note I'll pass the link along to you too.

[2015-06-18 01:43] kbenne commented on #599
Parallel fan powered boxes are now covered.

![screen shot 2015-06-17 at 8 42 34 pm](https://cloud.githubusercontent.com/assets/707488/8222464/74205836-1531-11e5-8461-b5b187da6eae.png)

[2015-06-18 01:47] kbenne commented on #599
It appears that Air Terminal Single Duct VAV Reheat is correct in current code.  See above screenshot.

[2015-06-18 01:54] #599 closed

[2015-06-18 01:55] MatthewSteen commented on #1608
@kbenne received, I'll pass it along to @eringold.

[2015-06-18 13:20] kbenne opened #1686 "ThermalZone::clone is broken"
irb(main):006:0> m = OpenStudio::Model::Model.new
irb(main):007:0> t = OpenStudio::Model::ThermalZone.new(m)
irb(main):008:0> t2 = t.clone
irb(main):009:0> t2.remove
irb(main):010:0> t.remove # will crash

[2015-06-18 13:49] kbenne opened #1687 "ThermalZone::remove leaves an orphaned connection"

[2015-06-18 19:50] macumber commented on #937
@asparke2 can you still reproduce this?

[2015-06-18 20:03] macumber commented on #1345
@kbenne seems like you have to require 'minitest/autorun' if you want tests to automatically run when loading the test file (which we do)

[2015-06-19 16:09] macumber opened #1690 "Issues with commas in choice arguments in PAT"
I created a measure with choice arguments like "70,000 Btu".  This looked fine in the OS App but in PAT it showed up as two choices "70" and "000 Btu"

[2015-06-19 16:11] macumber opened #1691 "Surfaces with no vertices should not be translated"
Kristin hit this on tent modeling, when a surface with 0 vertices is in the model it gets translated to E+ and causes an error.  This should be removed by the diagnostic script.  Possible that it should cause a translation warning/error as well.

[2015-06-19 21:52] eringold commented on #1608
@kbenne unfortunately I still get a crash with your build, but it's not the same 'hard' crash I was experiencing. I'm sending you an email with more info and a link to files.

[2015-06-19 22:22] asparke2 opened #1692 "TimeSeries timestamps made incorrectly using E+ 8.3 sql file"
The calibration report was not showing up correctly in 1.7.2 onward (per @brianlball example model).  After some digging into this, it looks like the BillingPeriod::modelConsumptionValues() query was failing with log messages indicating that the time period being asked for was outside of the length of the timeseries itself:

[code]

Digging deeper, it looks like the timeseries constructor? is no l

[2015-06-19 22:23] asparke2 commented on #1692
@kbenne This reinforces the point you made about not having a good method to catch changes in the E+ output file during the migration process.

[2015-06-19 22:38] asparke2 commented on #1692
might be related to changes made in https://github.com/NREL/OpenStudio/pull/1659 by @mbadams5 ?

[2015-06-19 22:44] macumber commented on #1692
@jasondegraw should be aware of this too

[2015-06-19 22:45] macumber commented on #1692
I take it this is a show stopper to be fixed for the release?

[2015-06-19 22:51] macumber commented on #1692
The unit test we added on @jasondegraw 's timeseries branch might have caught this (although I don't think we had daily timesteps in there)

[2015-06-19 23:58] mbadams5 commented on #1692
@asparke2 So are you saying the timeseries is wrong in EnergyPlus output or in the way OpenStudio reads in the EnergyPlus output?

[2015-06-20 00:01] macumber commented on #1692
@mbadams5 not sure yet, both changed recently, I will look into it

[2015-06-20 00:01] macumber commented on #1692
@axelstudios FYI, we will likely want a fix in the final package.  I'll look into this tonight

[2015-06-20 01:36] jasondegraw commented on #1692
You'll want to check that the best ctor is getting used. It should probably
use one of the interval versions, but if I recall correctly it is not.
On Jun 19, 2015 8:01 PM, "Dan Macumber" <notifications@github.com> wrote:

[2015-06-20 06:51] macumber commented on #1692
@mbadams5 If you look at the 1ZoneEvapCooler-V8-2-0.sql and 1ZoneEvapCooler-V8-3-0.sql in the test I have been working on (https://github.com/NREL/OpenStudio/commit/50d7a51aa4f5e9ab26bb595d3f9f08f7a23d3ed3) you can see that the issue is that Daily, Monthly, and RunPeriod variables seem to have the interval reported out as 60 minutes in 8.3, in 8.2 and previous versions of E+ the intervals were cor

[2015-06-20 06:57] macumber commented on #1692
I may be able to provide a workaround for existing 8.3 files, but this should get fixed in E+

[2015-06-21 05:47] macumber commented on #1692
@brianlball this fixed the issue
@asparke2 ResultsViewer looks good with all timesteps at first glance
@axelstudios we should run the unit tests and sanity tests, then good to merge and make packages

![6-20-2015 11-40-52 pm](https://cloud.githubusercontent.com/assets/1327850/8270621/eae38922-17a5-11e5-873d-0f37cd221475.jpg)

[2015-06-22 14:33] #1692 closed

[2015-06-23 03:04] lincolnharmer opened #1695 "the min. cfm/sf value in the zone:sizing object is being converted from IP to SI wrong in OS 1.7.0"
This may have been resolved in a recent iteration release but I didn't find any related issues documented here. When the value is entered in the GUI in IP units the value is not properly translated to SI units for simulation. This only happens in the gridview. When clicking on the zone sizing settings on the HVAC tab the conversion works properly. This is one of the most critical inputs for a typi

[2015-06-23 15:18] evanweaver opened #1696 "Add inheritance to grid view"
Create a new space type, set a default schedule set, add a load definition, the schedule should appear in green because it is inherited (currently inheritance is not indicated). Now click on the schedule name, the schedule should appear in the inspector but the delete X button should be disabled (you cannot clear an inherited schedule)

[2015-06-23 15:27] evanweaver opened #1697 "Re-wrap Thermochromic window model properly"
Edit by @jmarrec on 2025-06-10 (empty message before):

The ThermochromicGlazing class we have is useless. because it tries to wrap this (emphasis mine)

[code]

So there are two extensible groups, but the class itself only has a single getter/setter pair for Optional Data Temperature and does not handle extensible groups at all, nor any Window Material Glazing Name

[2015-06-23 15:29] evanweaver commented on #1697
https://docs.google.com/document/d/1FZaHTw_I_qkzKQmtsfK0c6CylMvtR-5x4V4sCU9SjXQ/edit#heading=h.24cfythh6riu

Widget to display extensible groups name and temp. GetExtensibleGroup(0).getFoo()

[2015-06-23 16:05] #1687 closed

[2015-06-23 16:05] #1686 closed

[2015-06-23 16:08] #1501 closed

[2015-06-23 16:48] macumber commented on #360
This appears to be fixed in 1.8.0

[2015-06-23 16:48] #360 closed

[2015-06-23 16:53] macumber commented on #1349
I am not able to reproduce in 1.8.0, @asparke2 can you try and close if you cannot

[2015-06-23 17:28] #1556 closed

[2015-06-24 17:06] macumber opened #1699 "Meters are missing time indices in sql file"
Testing by @asparke2 seems to indicate that meters are not sufficient to create entries in the time table, only variables seem to do that.  Therefore, if your model has only meters at timestep frequency you will not have entries in the time table for time intervals that the meter is reported at.  Adding a variable at the same timestep seems to create the entries in the time table and these are ass

[2015-06-24 17:11] macumber commented on #1699
@MatthewSteen FYI

[2015-06-24 19:04] macumber commented on #1699
Confirmed that this fix works for me

[2015-06-24 19:58] #1533 closed

[2015-06-24 19:59] macumber commented on #1232
I believe this is fixed by https://github.com/NREL/OpenStudio/commit/fbe2aacc2f6f5d5720739eaeabeb3fe6c3b9d164

[2015-06-24 19:59] #1232 closed

[2015-06-24 20:08] macumber commented on #1388
Checking if an alternative model has measures is too complex so I will not prevent a user from loading an alternative with measures (all alternatives have the built in measures)

[2015-06-24 23:06] MatthewSteen opened #1701 "Deleting plant equipment with setpoint schedule on outlet node orphans setpoint schedule"
Occurred in 1.7.5 when deleting a boiler with a setpoint manager on the outlet node. Deleting the setpoint manager from the OSM file in a text editor fixed the error.

[2015-06-25 13:38] MatthewSteen commented on #1596
@DavidGoldwasser happy to help fix if needed.

[2015-06-25 14:46] DavidGoldwasser commented on #123
@kbenne @macumber @lgentile this continues to come up on unmethours. I don't want us to touch this for 1.8.0, but we should fix it for 1.9.0. There isn't any real reason we couldn't put it in a early 1.8.x iteration installer instead of waiting for crunch time when we get close to 1.9.0 release.

[2015-06-25 14:55] DavidGoldwasser commented on #1596
@MatthewSteen thanks for pointing this out, I think I had quickly incorporated your log message changes but didn't realize there were other issues in the measure.

[2015-06-25 15:06] MatthewSteen commented on #1596
Sorry, I didn't bother to test the changes I suggested above. I did a quick diff with the complimentary wall measure and nothing appeared to be out of place which is strange because that one works.

[2015-06-25 15:33] DavidGoldwasser commented on #773
The affected bugs have been fixed. but if alter existing taxonomy we will have to update measures again.

[2015-06-25 15:33] #773 closed

[2015-06-25 15:43] MatthewSteen commented on #1596
@DavidGoldwasser to clarify my comment above, I had made the changes to my copy of the measure but it doesn't appear to fix it. Looks like the current BCL measure still references walls.

[2015-06-25 19:23] DavidGoldwasser opened #1702 "Can't open PAT project on one of our repo's that previously worked."
https://github.com/NREL/OpenStudio-Beopt/tree/master/Slab_FINAL

When I try to open it I see this
![6-25-2015 1-23-01 pm](https://cloud.githubusercontent.com/assets/4857055/8363623/594be8ec-1b3d-11e5-84d1-4d9380fbf78b.png)

Then this
![6-25-2015 1-23-12 pm](https://cloud.githubusercontent.com/assets/4857055/8363626/5d331a02-1b3d-11e5-8656-2b1a165bb869.png)

[2015-06-25 19:31] DavidGoldwasser commented on #1702
I get the same error as above using 1.7.0 vs. 1.7.5. The file does open in 1.6.0 but with errors about scripts it doesn't think it can find (but that really are there)

![6-25-2015 1-29-47 pm](https://cloud.githubusercontent.com/assets/4857055/8363761/73ae1376-1b3e-11e5-89f1-2d48d12a3fb9.png)

[2015-06-25 19:44] DavidGoldwasser commented on #1702
There are 5 other directories named (pat*) that have PAT projects
https://github.com/NREL/OpenStudio-Beopt

4 of the 5 also fail to open in 1.7.5. The one that does open gives errors about missing measures similar to what the original file did when opened in 1.6.0

![6-25-2015 1-43-05 pm](https://cloud.githubusercontent.com/assets/4857055/8364037/5998ac74-1b40-11e5-9688-377942d96bf9.png)

[2015-06-25 20:12] macumber commented on #1702
Sounds like @DavidGoldwasser will recreate these PAT projects in the BeOpt repo using either OS 1.7.0 or 1.8.0.  Not sure if I still need to look at what went wrong with the original PAT projects?

[2015-06-25 20:12] macumber commented on #1702
Downgrading to normal

[2015-06-25 20:24] DavidGoldwasser commented on #1702
So, in testing another file @axelstudios see's a crash, but it opens fine for me
https://github.com/NREL/OpenStudio-training/tree/master/Exercises/Basic%20Workflow/Models/Section%2012%20-%20PAT

[2015-06-26 15:15] macumber opened #1703 "Radiance simulation does not use the EnergyPlus installed with OpenStudio"
https://unmethours.com/question/8510/clear-the-approach-to-use-radiance-in-openstudio-without-getting-run-modeltorad-error/?answer=8676#post-id-8676

[2015-06-26 15:43] macumber commented on #1703
@rpg777 FYI

[2015-06-26 15:46] rpg777 commented on #1703
Any way we can bundle this with the "install Radiance with OpenStudio" task?

[2015-06-26 16:24] muh182 opened #1704 "Chiller:Electric:EIR missing outdoor air node"
@kbenne this is the E+ warning for the Chiller:Electric:EIR about the missing OutdoorAir:Node:

 *\* Warning *\* GetElectricEIRChillerInput: Chiller:Electric:EIR="CHILLER ELECTRIC EIR 1"
 *\*   ~~~   *\* Adding OutdoorAir:Node=CHILLER ELECTRIC EIR 1 INLET NODE FOR CONDENSER

E+ automatically adds the node.

[2015-06-26 16:44] macumber commented on #1703
This should be easier than installing radiance with OpenStudio but it wouldn't hurt to include both in 1.9.0

[2015-06-26 18:00] #1699 closed

[2015-06-26 18:01] macumber commented on #1440
@axelstudios can you close this once merged?

[2015-06-26 19:39] axelstudios commented on #1440
Done.

[2015-06-26 19:39] #1440 closed

[2015-06-29 15:32] MatthewSteen opened #1706 "Zones with FanZoneExhaust require thermostat schedules"
For zones with only a FanZoneExaust OS requires thermostat schedules to run successfully whereas EP does not. I think the problem is that when the cooling and heating setpoints are deleted from a zone with only an exhaust fan the ThermostatSchedule:DualSetpoint objects are being deleted but the ZoneControl:Thermostat object that reference the setpoint schedules is not until the FanZoneExhaust is d

[2015-06-30 15:39] MatthewSteen commented on #1701
@kbenne this happened with a boiler and cooling tower in series on a condenser loop. Each has a scheduled SPM on the outlet node as produced by the WSHP measures on the BCL.

In addition to happening when the boiler was deleted before its LWT SPM, this also occurred when deleting the cooling tower before its LWT SPM.

[2015-06-30 15:44] kbenne commented on #1701
Schedules derive from ResourceObject which I think means this is normal behavior.  That is we allow resources to float around in the model like islands.  I think @macumber is a little better with the resource semantics so maybe he can comment.

[2015-06-30 16:05] macumber commented on #1701
When a object that uses a resource is deleted then it should not delete the resource.  If you deleted the schedule explicitly then this would cause problems.  Deleting the setpoint manager should not delete the schedule.

[2015-07-01 20:23] DavidGoldwasser commented on #1706
Thanks @MatthewSteen nice catch

[2015-07-01 20:29] DavidGoldwasser opened #1708 "Error exporting PAT project to analysis spreadsheet"
I made a fresh PAT project in 1.7.5 to recreate an old one I couldn't open. project ran fine. There are 28 always run measure, and no measure groups, so just a baseline run. I get an error that export failed, although the measures and two csv files do export. Not sure what else I should have, does it normally also export the weather file and seed model? See screenshot below.

![7-1-2015 1-13-03 pm

[2015-07-02 06:22] macumber commented on #1211
@axelstudios Looks like Qt 5.5 is released, maybe we should see if this fixes things?  http://blog.qt.io/blog/2015/07/01/qt-5-5-released/

[2015-07-02 17:17] supriyagoel opened #1709 "Bug in plant operation schemes object for component setpoint"
Translator for plant operation schemes set the demand calculation node for plant equipment as the component outlet node, in the 'PlantEquipmentOperation:ComponentSetpoint' object.
This instead should be the component inlet node.

Specifying the demand calculation node as the component outlet node results in high loop temperatures and high number of unmet load hours.

[2015-07-02 17:39] DavidGoldwasser opened #1710 "Export to spreadsheet when argument is choice list from model static value shows UUID vs. string"
Dan, not sure how man people hit this, but this is what it looks like in the test I did yesterday.

Choice      {a57e9a2b-e5fd-41c9-9b62-f35844eeaed6}  |attic spacetype,garage spacetype,living spacetype|

[2015-07-03 15:40] axelstudios commented on #1211
About time - looks like a pretty good update.  I'll try it out

[2015-07-06 16:37] kbenne opened #1712 "Add missing availability managers"
We need:

AvailabilityManagerHybridVentilation
AvailabilityManagerOptimumStart
AvailabilityManagerDifferentialThermostat
AvailabilityManagerNightVentilation

See design document [here](https://docs.google.com/document/d/1lCbmzkL_tLjAd99B88n5nxP5vE5IeoasJecJjF7KjPI/edit#heading=h.ve83x9n67ogo).

[2015-07-07 02:08] saberian opened #1713 "open studio not working on windows 8.1"
I installed openstudio 1.7 on my windows 8.1 laptop. However, every time I open a file browser, e.g. file > open, the windows says that it encounters an error and closes the openstudio. I also checked with version 1.75 and it has the same problem. The same error occurs when I try to open openstudio plug-in inside SketchUp and ResultViewer.

Thanks

[2015-07-07 06:11] DavidGoldwasser opened #1714 "measure testing issue on mac"
@macumber I updated new reporting measure to use the newest testing standards. The measure tests works on windows, but for some reason it fails on my mac? Didn't know if it works for you on mac. This only affects the test, not use of measure elsewhere.

Here is the specific problem code
'''assert(!@@co.getDefaultEPWLocation.to_s.empty?)'''

Here is a link to it in use
https://github.com/NREL/OpenS

[2015-07-07 06:21] DavidGoldwasser commented on #1684
Hit this on mac 1.7.5, so it isn't isolated to windows.

[2015-07-09 17:41] lincolnharmer opened #1715 "Thermal Zone Grid View won't accept decimals for zone multiplier"
This feature is useless without the ability to use a decimal point. If the value is hard entered in the raw OSM file it is still not translated correctly. Found in v1.7.0

[2015-07-09 18:18] evanweaver commented on #1715
@lincolnharmer In the IDD, the Multiplier field is defined as an integer.

[2015-07-09 19:22] lincolnharmer commented on #1715
Gotchya @evanweaver . I wish EnergyPlus would allow for floating-point values for this field...

[2015-07-09 19:30] macumber commented on #1715
@lincolnharmer you might ask this as a question at unmethours, I'm interested in your use case.

[2015-07-10 15:45] muh182 opened #1717 "Direction of fan in outdoor air supply"
@kbenne Direction of the fan in the outdoor air supply should be reversed

![capture](https://cloud.githubusercontent.com/assets/2249257/8622347/ff5e7f80-26f8-11e5-81da-9ba0d70e4be9.PNG)

[2015-07-12 19:54] mbadams5 opened #1718 "Add missing setpoint managers"
We need:

SetpointManager_Coldest
SetpointManager_FollowGroundTemperature
SetpointManager_FollowSystemNodeTemperature
SetpointManager_MultiZone_Cooling_Average
SetpointManager_MultiZone_Heating_Average
SetpointManager_MultiZone_Humidity_Maximum
SetpointManager_MultiZone_MaximumHumidity_Average
SetpointManager_MultiZone_MinimumHumidity_Average
SetpointManager_ReturnAirBypassFlow (maybe just in tran

[2015-07-13 20:31] lincolnharmer commented on #1715
@macumber I just was hoping to use this to quickly scale the area of my model. I don't know of an other way because this isn't allowed in Skecthup....is it?

[2015-07-13 20:38] eringold commented on #1715
@lincolnharmer it can be done with a [measure](https://unmethours.com/question/3566/scaling-commercial-reference-buildings/?answer=3579#post-id-3579).

[2015-07-13 20:39] lincolnharmer opened #1720 "allow user to apply tags to zones, spaces"
I was thinking it would be useful to allow users to create custom tags for zones/spaces that would allow them to be categorized in different ways. For example, if an alternative mechanical design proposes fan coils in certain zones but it doesn't correlate to the native information in the app the user could apply a tag to certain zones where the fan coil should be added by an openstudio measure.

[2015-07-13 20:43] eringold commented on #1720
+1

[2015-07-14 02:38] eringold opened #1721 "Improve scaling on high-DPI displays"
Probably a low frequency (and low priority) feature request.. While OpenStudio (and PAT) are not terrible at high DPI, they still contain a good amount of text that's either tiny or too big for the field, and panes that need to be manually re-sized to see all content.

[2015-07-14 17:39] kbenne opened #1722 "CoilSystemCoolingWaterHeatExchangerAssisted is not translated correctly"
For one there needs to be an inner SPM on a node which is not described until translation time.  For two it seems the forward translator is just not handling this type correctly.  It seems to show up on the branch but the object itself is not translated.

[2015-07-14 18:47] axelstudios opened #1723 "PAT Cloud not able to download detailed results"
Cloud simulations end normally if you don't have any "detailed download" options selected.  However, if you do, the simulation ends but appears to still be running, and the detailed results will never be downloaded.  The Pat log shows many lines of the following:

[code]

[2015-07-15 16:31] macumber opened #1724 "RegisterInfo method very slow"
Reported by @brianlball for a measure that diffs timeseries, was logging a ton of messages.

[2015-07-15 16:43] nllong commented on #1724
Was this being run via the workflow manager? If so, we should add that as part of the potential issue since it has a logger as well.

[2015-07-15 16:51] brianlball commented on #1724
run on the server

[2015-07-15 18:52] axelstudios opened #1725 "Open in ResultsViewer doesn't work on mac"
The _Open ResultsViewer for Detailed Reports_ button in OpenStudio doesn't correctly launch ResultsViewer on mac - the app launches, but the sql data doesn't load.
@macumber

[2015-07-15 21:11] MatthewSteen commented on #1375
+1

[2015-07-15 23:44] axelstudios commented on #1417
There are *very* few clang warnings now -- I cleaned up as many as I could right before 1.8.0.  What's left:

##### Ruby bindings
- ~20 warnings about usage of calls to OS_DEPRECATED functions
- 3 AnalysisDriver ruby warnings (ruby_OpenStudioAnalysisDriver_wrap.cxx:6506:1: warning: control may reach end of non-void function [-Wreturn-type])

##### 3rd-party
- openstudiocore sqlite has 1 warning
-

[2015-07-15 23:57] mbadams5 commented on #1417
I thought I suppressed those OS_DEPRECATED warnings in the Ruby bindings... humm

[2015-07-16 00:08] mbadams5 commented on #1417
@axelstudios You probably just need to move [this](https://github.com/NREL/OpenStudio/blob/e0af434eb0cd130c5da1cd9a922d91b54cd3f89d/openstudiocore/ProjectMacros.cmake#L349) to [here](https://github.com/NREL/OpenStudio/blob/e0af434eb0cd130c5da1cd9a922d91b54cd3f89d/openstudiocore/ProjectMacros.cmake#L343) and then get rid of [this entirely](https://github.com/NREL/OpenStudio/blob/e0af434eb0cd130c5da

[2015-07-16 00:54] mbadams5 commented on #1417
Or vice versa. That clang needs the -Wno-deprecated-declarations

[2015-07-16 01:00] axelstudios commented on #1417
Gotcha - I think 0082bc4f665650058f48d95ed47746d4e492b53b should do it

[2015-07-16 21:40] kbenne opened #1726 "Runmanager loads models against wrong version of idd"
When creating a new job with OpenStudio's RunManager, calling Workflow::create to create a new job causes the model (osm) to be loaded into a workspace.  This happens immediately, before the job is queued up and running.  RunManger does this to "normalize" url fields before queueing up the job.  (in part to find weather files it seems)  This action happens [here](https://github.com/NREL/OpenStudio

[2015-07-18 18:45] mbadams5 opened #1728 "Add missing coils"
We need:

Coil:Cooling:DX:SingleSpeed:ThermalStorage
Coil:Cooling:DX:VariableSpeed
Coil:Cooling:WaterToAirHeatPump:VariableSpeedEquationFit
Coil:Heating:DX:MultiSpeed
Coil:Heating:DX:VariableSpeed
Coil:Heating:WaterToAirHeatPump:VariableSpeedEquationFit
Coil:WaterHeating:AirToWaterHeatPump

[2015-07-20 14:29] MatthewSteen opened #1729 "Add method for creating non-ribbon windows"
The built in `setWindowToWallRatio` method is great for early design and quick model creation. However, it would be nice to have a complementary method to create normal windows for late design models, especially those with shading structures. This would facilitate a measure to add windows based on window dimensions, height offset, spacing, etc.

[2015-07-20 15:02] macumber opened #1730 "ModelObjects not translated to E+"
Several model objects are not being translated to E+, https://github.com/NREL/OpenStudio/commit/2ccd1315eeb05d0a9eddc0277842fc12b18b6ff0.  I have not done a full audit, suspect there may be others.

[2015-07-20 15:29] macumber commented on #1708
Also, when exporting the spreadsheet need to fix the following things identified by @brianlball

Download the project template xlsx file from the spreadsheet develop branch.

Copy the analysis_spreadsheet_export dir to the spreadsheet directory and change the measure path in the spreadsheet to match that directory

Copy the seed file in the seeds directory and update the path in the spreadsheet

C

[2015-07-20 16:49] germolinal opened #1731 "Ubuntu 15.04 error: 'LoadError: libQt5Sensors.so.5: cannot open shared object file'"
The title pretty much summarizes my issue. When I write the following in the Ruby Console (and/or in a script)

[code]

I get the following error

[code]

I am not sure if this is an OpenStudio error, or maybe I need to install something else. So I decided to post it here.

I have recently upgraded to Ubuntu 15.04, which I regret now, because my scripts used to work wonderfully.

If you could help

[2015-07-20 19:08] DavidGoldwasser commented on #1729
@MatthewSteen we have talked about this before, one question that comes up is that there could be a lot of ways to model the discrete windows, and should that be done in a measure (where users can make their own variations) or hard coded in C++.

One approach would be to set a target wwr, but also provide a window size and sill height, along some constraints on how close the window can be to an ed

[2015-07-20 19:21] #1682 closed

[2015-07-20 20:56] DavidGoldwasser opened #1732 "Issue log related to New OpenStudio Results Measure"
The units for the End Use and Energy Use tables in the annual summary section are correctly shown as (kBtu), but the label for that column shows "Percentage" and "Value" . Both labels should be changed to "Consumption" to match the rest of the annual summary tables. This is only visible to people expanding the tables, and doesn't affect the values.

[2015-07-20 21:13] DavidGoldwasser commented on #1732
Hide the "Other" row on the Energy Type Summary. Currently it includes water, not just district heating and cooling, so the number average rate doesn't make sense.

[2015-07-21 14:28] DavidGoldwasser commented on #1732
Work with @axelstudios to address various things he has found. Bootstrap bugs, speed improvements, issue with narrow screen (overlapping navigation).

[2015-07-22 14:32] MatthewSteen opened #1734 "Weather file location 1.8.1"
The `Change Weather File` and `Import From DDY` buttons do not link to the wx file location in the Preferences menu. Tested for both local and network paths.

FYI @evanweaver

[2015-07-22 17:32] MatthewSteen commented on #1734
Fixed by closing and reopening OS. This change was immediate in previous versions.

[2015-07-22 19:44] evanweaver commented on #1734
Hey @MatthewSteen, did you also run "scan for tools"?  Also, is wx file location like a default file location?

[2015-07-22 19:49] MatthewSteen commented on #1734
I hadn't yet, but just did. Even though the wx path in `Show Tools` now has the default location...

C:/Program Files/OpenStudio 1.8.1/share/openstudio/EnergyPlusV8-3-0/WeatherData

...when I use the `Set Weather File` button it points at the network path I had set during a previous session.

[2015-07-23 14:42] ljbrackney opened #1735 "Standard report results take too long to render in 1.8.0"
Ref: https://unmethours.com/question/9456/results-summary-window-is-empty-openstudio-180/

Standard report HTML is correctly produced and renders okay in browser, but takes many minutes to render within the Application.

[2015-07-23 15:29] DavidGoldwasser opened #1736 "PAT shows EnergyPlus Error but keeps running"
I think we have seen this before. EnergyPlus has an error, but it isn't a fatal error. As a result in PAT it looks like the datapoint failed, but when you go to the results page it ran just fine.

cc: @evanweaver @macumber @kbenne

@kbenne the specific EnergyPlus error looks like it is about an air loop that has an outdoor air object, but no thermal zones on the air loop have any outdoor air requi

[2015-07-23 16:05] DavidGoldwasser opened #1737 "Cant get runner.lastEpwFilePath to work on OpenStudio server"
Testing AEDG slab/basement measure using OpenStudio server in preparation for custom version for Danny Studer, and I haven't gotten it to run yet. Runs fine locally in OS app and PAT.
https://www.pivotaltracker.com/story/show/99644162

I know there are already a few epw related issues filed, sorry if this is a duplicate but I couldn't find one that looked like it matched this specific issue.
Here

[2015-07-23 16:28] asparke2 opened #1738 "Web asset path in Calibration Report is hard-coded"
In the report.html file, the web asset is hard-coded, and it should not be.  This results in the report not ever rendering when offline.  This could be fixed by using the code from the Standard Report to populate this path.

[code]

[Here is a link to the file](https://github.com/NREL/OpenStudio/blob/bf5f68c76b79a69deaff25aae05cbb8a798b31b1/openstudiocore/src/pat_app/Measures/CalibrationReports/re

[2015-07-23 17:12] DavidGoldwasser commented on #1737
@macumber I'm hitting this on the BEopt measures as well. I got a running PAT project, but can't get a spreadsheet to run. They access the weather file in another way to come up with proper constructions.

[2015-07-23 17:18] macumber commented on #1737
I'm not sure if runner.lastEpwFilePath is implemented on the server, @nllong would know

[2015-07-23 17:28] brianlball commented on #1737
if its a path issue, you might need to do something like this:

ems_path = '../AdvancedRTUControls/ems_advanced_rtu_controls.ems'
    json_path = '../AdvancedRTUControls/ems_results.json'
    if File.exist? ems_path
      ems_string = File.read(ems_path)
      if File.exist? json_path
        json = JSON.parse(File.read(json_path))
      end
    else
      ems_path2 = Dir.glob('../../**/ems_advanc

[2015-07-23 17:29] DavidGoldwasser commented on #1737
I'll follow up with Nick. Also digging into the BEopt measure code, they seem to have made their own "WeatherProcess". Don't know if you know any of the history on that? Screenshot below walks through it. The BEopt is not time critical and we can wait to discuss until you get back.

![7-23-2015 11-22-47 am](https://cloud.githubusercontent.com/assets/4857055/8857314/2269eff2-312e-11e5-8db5-0c32e833

[2015-07-23 18:09] macumber commented on #1633
Which places in the OpenStudio GUIs use name instead of display name?  @kflemin scoped the change to use display name on BCL but we had to hold off for now.

[2015-07-23 19:21] DavidGoldwasser commented on #1633
@macumber The XML in the measures you download only have "name" field even though what I uploaded had "name" and "display_name". The library in the APP and PAT seem to fall back on "name" if it can't find "display_name".

measure.rb knows what should be shown. Can the App use this to generate "display_name" and ideally alter the XML file (or is altering data in the database a bad idea?)

[2015-07-23 19:26] macumber commented on #1633
Probably not  a good idea as this would invalidate the checksum from BCL.  We should just wait until we can do the BCL fixes.

[2015-07-24 22:03] MatthewSteen commented on #1706
This may also affect CBECC-Com users and require them to assign tstat schedules.

[2015-07-24 22:09] MatthewSteen opened #1740 "detached drop downs"
To reproduce in 1.8.1:

1. Edit an object and click on a drop down field
2. Move the cursor off the drop down
3. Scroll away from the drop down

Tested in the Thermal Zones and HVAC Systems tabs for PTACs, AirLoopHVAC, and PlantLoop objects.

![openstudio_issue1740](https://cloud.githubusercontent.com/assets/8397034/8885587/6c57a078-321e-11e5-8359-c5b5bb01eeb5.png)

[2015-07-24 22:13] asparke2 commented on #1349
@macumber I can still reproduce this with both 1.8.0 and the External File branch.

[2015-07-24 22:28] asparke2 commented on #937
@macumber I reproduced this with 1.8.0 by following these steps:

1. Create a PAT project, pick any baseline model
2. Add the Add Exterior Lights Measure as an always-run Measure
3. Create a model from external file.  Pick any model (doesn't need to have any Measure)
4. Run the model.
5. The Add Exterior Lights measure fails with the following stderr:

[code]

[2015-07-24 22:37] asparke2 commented on #937
Actually accidentally just reproduced again with the Measure AddCostperFloorAreaToUnusedLights.  It works fine when applied to the seed model, it just crashes with the following error on the External File model (which is the same model as the seed model in my case).

[code]
which points to:
[code]
Seems like something is different after a model is loaded from external file vs. how the seed model i

[2015-07-25 15:45] macumber opened #1741 "Error message for bad openstudio enum value is not clear"
Error message when accidentally typing:

[code]

instead of

[code]

is

[code]

We should mention the string and the enum name in the message to better point users to what the issue is

[2015-07-28 17:17] kbenne commented on #1395
@macumber I think we should remove this issue.

[2015-07-28 18:56] macumber commented on #1437
What updates are required?

[2015-07-28 18:57] macumber commented on #1553
Depends on https://github.com/NREL/OpenStudio/issues/1441

[2015-07-28 18:58] macumber commented on #1421
What new user facing features will this provide?

[2015-07-28 18:59] macumber commented on #1406
@kbenne this seems like it is a bug instead of a feature?

[2015-07-28 19:01] macumber commented on #1396
duplicate of https://github.com/NREL/OpenStudio/issues/1553

[2015-07-28 19:01] #1396 closed

[2015-07-28 19:01] #1395 closed

[2015-07-28 19:01] kbenne commented on #1406
@macumber if that helps get this done then sure. I will agree that there is at least a bug in that a cloned air loop is left in a bad state. Leaving behind some supply components is one thing, but what we have now are cloned air loops that don't even have the required supply / demand inlet / outlet nodes connected up like a new properly constructed air loop will have.

[2015-07-28 19:02] macumber commented on #1389
@DavidGoldwasser is this complete?  Where these new attributes to support @brianlball ?

[2015-07-28 19:03] #1388 closed

[2015-07-28 19:04] macumber commented on #1405
Related to https://github.com/NREL/OpenStudio/issues/1383

[2015-07-28 19:06] macumber commented on #891
@DavidGoldwasser is this complete?

[2015-07-28 19:07] macumber commented on #854
@rpg777 is this complete?

[2015-07-28 19:08] macumber commented on #845
@DavidGoldwasser is this about setting constructions on interior partition surfaces?  Can you clean up the text and rephrase this as a feature request?

[2015-07-28 19:14] ljbrackney commented on #1421
The ability to pull down content that is private to a group is the most immediate benefit.  Right now such content has to be shared via email or LAN and loses the BCL provenance and versioning capability.

[2015-07-28 19:15] macumber commented on #1611
@DavidGoldwasser is this complete?

[2015-07-28 19:19] macumber commented on #1381
This will be implemented by a measure

[2015-07-28 19:19] #1381 closed

[2015-07-28 19:20] macumber commented on #1419
@asparke2 can you clarify what this feature request is about? @rpg777 FYI

[2015-07-28 19:22] macumber commented on #1311
@DavidGoldwasser what is the feature request here?  Can you change the title to sound like a feature request?

[2015-07-28 19:22] #854 closed

[2015-07-28 19:26] macumber commented on #1391
Relates to https://github.com/NREL/OpenStudio/issues/500

[2015-07-28 19:26] rpg777 commented on #1419
The new Radiance model format and shade handling routines only require a small handful of BSDF files, so I propose including them with OpenStudio (we are doing so in the resources now, on a dev branch).

[2015-07-28 19:31] macumber commented on #1448
Requires measures have the ability to specify a max version in addition to min version

[2015-07-28 19:32] macumber commented on #1446
Maybe needs to wait until we move to workflow gem?

[2015-07-28 19:37] macumber commented on #1483
Current thinking is that we will package a fixed set of gems with OpenStudio, these will be available to all users.  There is a process for developers to install their own set of gems to use before a gem is added to OpenStudio.  @axelstudios can you elaborate on this?

[2015-07-28 19:38] macumber commented on #1634
Would be good for the GUIs to indicate this

[2015-07-28 20:03] #1392 closed

[2015-07-28 21:27] asparke2 commented on #1437
@macumber Right now, I believe that the BCL sends you back the old version of the measures.xml file, not the current version.  The differences are stuff like the naming convention changing to snake case and some other things I can't remember.

[2015-07-28 21:32] asparke2 commented on #1419
@macumber I have no idea what this is anymore...I think it was originally to help Rob get the BSDFs uploaded?  I'm closing it.

[2015-07-28 21:32] #1419 closed

[2015-07-28 22:25] axelstudios commented on #1483
Packaged gems get added [here](https://github.com/NREL/OpenStudio/blob/develop/dependencies/ruby/Gemfile)

Packaged gems can be made available to everyone by adding them [here (prod)](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/ruby/openstudio.rb#L154) and [here (dev)](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/ruby/openstudio_dev.rb#L128), or they can be req

[2015-07-30 00:35] #1611 closed

[2015-07-30 00:38] DavidGoldwasser commented on #891
Yep, new measure does this

[2015-07-30 00:38] #891 closed

[2015-07-30 00:39] DavidGoldwasser commented on #1389
@axelstudios is helping me wit this now. Brian's attributes are needed for the updates to the calibration measure. I wasn't going to try and squeeze the calibration measure into 1.9.0.

[2015-07-30 16:27] MatthewSteen commented on #1465
The SetpointManagerSchedule also might be affected on plant loops...

https://unmethours.com/question/9816/setpoint-manager-symbol-lost-in-openstudio/

[2015-07-30 16:46] MatthewSteen commented on #1634
A related feature request would be to send allow BCL users the option to receive an email whenever a new measure is added to the BCL.

[2015-07-30 16:50] macumber opened #1746 "OpenStudio 1.8.0 does not work with installed E+"
Users have reported they have to delete the copy installed with OS and install E+ 8.3 on their own:

https://unmethours.com/question/9286/openstudio-180-unable-to-run-energyplus-83/

[2015-07-30 16:50] macumber commented on #1746
Might be related to https://github.com/NREL/OpenStudio/issues/1577 and https://github.com/NREL/OpenStudio/issues/1496

[2015-07-30 17:19] DavidGoldwasser commented on #1450
@macumber just wanted to ping you again on this t see if this was to enhance the one you already made?

[2015-07-30 17:45] macumber commented on #1450
I think that is this one, https://github.com/NREL/OpenStudio-measures/tree/develop/NREL%20working%20measures/ReportModelChanges

I can never find it, we should probably rename it to have diff in the title.

[2015-07-30 17:45] #1450 closed

[2015-07-30 18:48] mbadams5 opened #1747 "SetpointManager:Scheduled crash"
This crash was discussed on [unmethours](https://unmethours.com/question/9815/os-180-crashes-over-incomplete-setpoint-manager-specification/).

This happens when updating an OSM from OS 1.4.0 to OS 1.8.0. For some reason, a blank controlVariable was allowed as a valid option in OS 1.4.0. Looking back at the code, nothing stands out that would allow this.

OS 1.8.0 does not allow this anymore and r

[2015-07-30 19:25] #1709 closed

[2015-07-30 21:35] #1389 closed

[2015-07-31 15:17] MatthewSteen commented on #1729
I think having one built in method available through the Ruby bindings (and a measure) would be very useful to most users.

Yeah, lots of way to do it, but I think a measure using only an `addDiscreteWindows` method could accommodate many of them. Here are some of the ways IES VE handles windows:

**Add Window**
![ve_windows-1](https://cloud.githubusercontent.com/assets/8397034/9010483/672b624c-37

[2015-08-01 00:37] ranchhand6 opened #1748 "Problem with assigning certain weather files into models"
We've discovered that with about 16% of the weather models in a four state area (OR, WA, ID, MT), we get the following error when we try to use the change_building_location measure:

/private/var/folders/vs/c6y5rcmr8xj0yy0059b64z5h0000gr/T/OpenStudio.A86965/resources/run/1-UserScript-0/user_script.rb:108:in `setAnnualAverageOutdoorAirTemperature': Wrong arguments for overloaded method 'SiteWaterMa

[2015-08-01 12:21] mbadams5 opened #1749 "Missing SetpointManager:Scheduled icon"
This crash was discussed on [unmethours](https://unmethours.com/question/9816/setpoint-manager-symbol-lost-in-openstudio/).

The issue is that it is currently looking for "Temperature" using istringequal [here](https://github.com/NREL/OpenStudio/blob/4a2ce201a8b9cf2a40fde7feb39c287fc46b56d5/openstudiocore/src/openstudio_lib/GridItem.cpp#L95), [here](https://github.com/NREL/OpenStudio/blob/4a2ce201

[2015-08-03 01:36] muh182 commented on #1729
@DavidGoldwasser  @MatthewSteen We have developed a SketchUp plugin a while ago to create individual windows. We just did not get a chance to finalize the plugin/measure and upload it on BCL. I spoke with @macumber last week about the plugin, and Dan mentioned it would be a good time to publicize the plugin.

The SketchUp plugin is accessible [here](https://github.com/buildsci/openstudio_measures/

[2015-08-03 02:24] MatthewSteen commented on #1729
Will do @muh182, thanks!

[2015-08-03 02:35] MatthewSteen commented on #1729
Will do @muh182, thanks!

[2015-08-03 05:22] macumber opened #1750 "Setting color scales in ResultsViewer does not work"
See this user post: https://unmethours.com/question/9909/flood-plot-scale/

I tried this and setting the color scale did not seem to correctly update the image.  Would be nice to also be able to set the limits on y axis of line plots manually too.

[2015-08-03 17:00] DavidGoldwasser commented on #1750
Good catch, pretty nasty, since the scale at the right changes, but just not the image map. Would be good to fix that for 1.9 since it can cause someone to mis-interpenetrate simulation data. While I tested did some screenshots, I'll add them here since I have them already.

I like the ability to scale the color data. I'm no ta big fan of scaling the x or y. The general use of these flood plots is

[2015-08-03 17:19] eringold opened #1751 "SetpointManager:Scheduled allows control variable/schedule type mismatch, causing ModelToIdf failure"
Possibly related to https://github.com/NREL/OpenStudio/issues/1749, https://github.com/NREL/OpenStudio/issues/1747

Setting a SetpointManager:Scheduled control variable to 'HumidityRatio' (or 'MassFlowRate', or any controlVariable other than temperature) and leaving the default Schedule Name (referencing a schedule of type: Temperature) is allowed and the model will save. Attempting to run this mo

[2015-08-04 17:14] #1732 closed

[2015-08-04 19:51] evanweaver opened #1752 "Modify Space Types Loads Definition behavior per new design doc."
https://docs.google.com/document/d/1QmcpED4BGvdzA2TD_yszF2XbxV8DuMypOf7ISrfgOTQ/

[2015-08-04 21:46] MatthewSteen opened #1753 "Error Opening Project - PAT 1.8.2"
Tried openning a 1.7.x EDAPT project in PAT 1.8.2 and got the following message.

![image](https://cloud.githubusercontent.com/assets/8397034/9073609/bb69c3e0-3abf-11e5-97a9-f8437881e7c6.png)

[2015-08-04 22:24] MatthewSteen commented on #1753
Actually, it was 1.5.2 trying to open 1.7.x so no issue except related to #1343.

[2015-08-04 22:24] #1753 closed

[2015-08-06 16:14] macumber opened #1754 "ProjectDatabase::preOpenCheck breaks existing connections"
Affects calls to:

ProjectDatabase::open
ProjectDatabase::isExistingProjectDatabase
ProjectDatabase::requiresUpdate

Causes ProjectFixture, ProjectDatabaseRecord to fail

[2015-08-06 16:24] macumber opened #1755 "OpenStudio App crash on user file"
Hello,

This file is in reference to the following post:

https://unmethours.com/question/9983/any-experience-with-the-following-openstudio-crash-an-unhandled-exception-has-occurred-access-violation-no-rtti-data/

I was assigning spaces to thermal zones and received the error when I went into OS and attempted to access the Facilities tab.  There are several simple images attached that I hope will

[2015-08-07 14:55] DavidGoldwasser opened #1756 "We show Constant Schedule heading in the Library and My Model but objects don't appear there"
This was spurred by this question.
https://unmethours.com/question/10018/availability-schedule-name-always-on-discrete/?answer=10036#post-id-10036

I tried to load a model I know had constant schedules as a library, but it doesn't populate the library with the Constant Schedule objects. Seems we should hide the category if we aren't going to let people see those objects (not edit them, but just ha

[2015-08-07 15:22] DavidGoldwasser opened #1757 "Schedule Sets sub tab "My Model" doesn't populate at first"
This first screenshot shows what I see when I open a model and click on the "Schedules Tab"
![8-7-2015 9-11-38 am](https://cloud.githubusercontent.com/assets/4857055/9139063/08679506-3ce5-11e5-9d1f-232c88c105f3.png)

Clicking on other schedules sets still doesn't populate "My Model" with schedules from my model.. The "Library" tab is fine, but switching to that and back to "My Model" doesn't' fix

[2015-08-07 15:25] DavidGoldwasser commented on #1757
Ok, so didn't happen in 1.8.0. My guess is that it is tied to the removal of the "Year Settings" tab which used to be the landing sub-tab when you went to "Schedules" tab. There seems to be some glitches in which tab is the landing tab now, and making sure that that tab renders.

[2015-08-07 15:32] DavidGoldwasser commented on #1756
This is invalid. Not sure sure what I was doing before but I can see the constant schedules now.

[2015-08-07 15:32] #1756 closed

[2015-08-07 16:11] DavidGoldwasser commented on #1382
Wanted to refer to this post on unmet hours
https://unmethours.com/question/10029/set-holidays-in-os/

I noticed that there is API access to setUserWeatherFileHolidays in the RunPeriod object, but there isn't API access for a ScheduleRule object to setApplyHoliday.

@macumber did we disable that to prevent people from getting into trouble. I was trying to recommend some work around since it it tak

[2015-08-07 16:23] DavidGoldwasser commented on #1752
@evanweaver the plan to add this in addition to the current behavior of "Loads" tab or do you plan to remove the "Loads tab.

Removing the loads tab is problematic because not all loads are used in space types or even if spaces.

[2015-08-07 16:54] asparke2 opened #1758 "OpenStudio::EpwFile.new() crashes on Linux"
To repeat (bug on linux only, works fine on windows and mac):

result:

This is a blocker because the Create Prototype Building Measure (and in turn the PTool work) both need this method to work in order to dynamically set the weather file on the server.

@macumber @jasondegraw FYI

[2015-08-10 14:22] evanweaver commented on #1752
@DavidGoldwasser, I am unaware of any plan to remove the Loads tab.

[2015-08-10 19:45] mbadams5 opened #1761 "Add various ZoneHVAC objects"
Add the following ZoneHVAC objects...

ZoneHVAC_Dehumidifier_DX
ZoneHVAC_EnergyRecoveryVentilator_Controller
ZoneHVAC_EnergyRecoveryVentilator
ZoneHVAC_UnitVentilator
ZoneHVAC_Baseboard_RadiantConvective_Water
ZoneHVAC_Baseboard_RadiantConvective_Electric

[2015-08-10 20:20] #1758 closed

[2015-08-11 17:58] DavidGoldwasser commented on #1736
Strange, I hit this again today, but in this case the results tab looks empty. As a result I increased the severity. This is with develop build (maybe a week old?)

![8-11-2015 11-43-56 am](https://cloud.githubusercontent.com/assets/4857055/9205540/fed71e7e-401f-11e5-8475-3a99494056be.png)

![Uploading 8-11-2015 11-45-50 AM.png…]()

![Uploading 8-11-2015 11-44-09 AM.png…]()

[2015-08-11 18:46] macumber commented on #1736
Does the EnergyPlus simulation complete?  Could this be related to this E+ issue, https://github.com/NREL/EnergyPlus/issues/4838 ?

[2015-08-11 18:47] macumber commented on #1736
Also, @DavidGoldwasser your second set of screenshots seem to be indicating a different issue than the first set of screenshots.  In the first you have results, in the second you do not.

[2015-08-11 22:13] macumber opened #1762 "Documentation for removeSupplyBranchWithComponent is incorrect"
This method says that it does not remove the selected component but I believe that it does, https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/PlantLoop.hpp#L169

Needs some more unit testing and for documentation to match behavior

[2015-08-12 10:09] jmarrec opened #1763 "An unhandled exception has occurred. Access violation - no RTTI data"
I'm using Openstudio 1.8.0 build 97b69c8a8d.

I am getting this exception repeatedly, similar to #1755

![2015-08-12 12_08_12-unhandled exception](https://cloud.githubusercontent.com/assets/5479063/9221470/dc164d44-40ea-11e5-94da-d36959ce4e8e.jpg)

I tried pretty much everything: delete the folder that goes with the osm file, trying to copy out the code to paste it in another file that had a worki

[2015-08-12 10:10] jmarrec commented on #1763
Similar to #1755

[2015-08-12 10:19] jmarrec commented on #1671
+1

[2015-08-12 14:35] DavidGoldwasser commented on #1736
@macumber I do have results in the second one, but I guess this the second issue is really user error. The second PAT project I didn't have a working baseline model. That is why all of the results are blank.

Also we currently don't stop PAT for E+ error unless it is fatal error, so that makes me think the whole issue here is invalid.

[2015-08-12 14:35] #1736 closed

[2015-08-12 15:33] macumber commented on #1763
Added user file from email

[2015-08-12 15:39] jmarrec commented on #1763
Any idea if someone will be able to take a look at it soon and if it's usually a fixable problem? (As with most problems, this one happens while I'm on an impossible deadline, so I just want to know if I should pretty much restart from scratch or not.)

[2015-08-12 15:55] macumber commented on #1763
This will be on our fix list for 1.9.0.  let me spend a few minutes and see if I can find a workaround for you now

[2015-08-12 16:40] jmarrec commented on #1763
Thanks!

[2015-08-12 17:08] DavidGoldwasser commented on #1703
related to issue #1577

[2015-08-12 17:13] DavidGoldwasser commented on #1706
@kbenne please assign to 1.9.0 milestone if you think it is needed for that release.

[2015-08-12 17:15] DavidGoldwasser commented on #1737
@nllong @henryHorsey This should be moved to the workflow gem repo. Doesn't affect OpenStudio code.

[2015-08-12 17:16] DavidGoldwasser commented on #1730
We can constrain this to just simulation settings for now, but we need to do a full audit that every model object is being translated.

[2015-08-12 17:18] DavidGoldwasser commented on #1725
You can still manually load the SQL file on mac, it just doesn't load for you.

[2015-08-12 17:26] DavidGoldwasser commented on #1568
Likely due to EnergyPlus SQL query bug

[2015-08-12 17:26] #1568 closed

[2015-08-12 17:30] DavidGoldwasser commented on #929
@DavidGoldwasser move this to measure repo issue as an enhancement.

[2015-08-12 17:37] DavidGoldwasser commented on #945
@kbenne is this still valid? If so any changes needed for 1.9.0?

[2015-08-12 17:38] axelstudios commented on #1725
I think the problem is [here](https://github.com/NREL/OpenStudio/blob/3afb112b5ec80e791583c51be16121405eaff99b/openstudiocore/src/openstudio_lib/ResultsTabView.cpp#L153).

It has something to do with the command that is passed to ResultsViewer, and the temporary copy argument.  IIRC, passing the command on the command line worked, but that needs to be reverified

[2015-08-12 17:40] DavidGoldwasser commented on #1020
@DavidGoldwasser confirm this and add to bug as standards repo.

[2015-08-12 17:41] DavidGoldwasser commented on #1159
Stale, issue.

[2015-08-12 17:41] #1159 closed

[2015-08-12 17:45] DavidGoldwasser commented on #507
@DavidGoldwasser re-verify post 1.9.0

[2015-08-12 17:46] DavidGoldwasser commented on #555
Stale

[2015-08-12 17:46] #555 closed

[2015-08-12 17:48] DavidGoldwasser commented on #611
Pivotal ticket closed in 2013

[2015-08-12 17:48] #611 closed

[2015-08-12 17:52] DavidGoldwasser commented on #322
@macumber see if still valid

[2015-08-12 17:52] #168 closed

[2015-08-12 17:53] DavidGoldwasser commented on #173
Stale

[2015-08-12 17:53] #173 closed

[2015-08-12 17:54] DavidGoldwasser commented on #1161
@DavidGoldwasser should re-verify

[2015-08-12 17:57] DavidGoldwasser commented on #836
@DavidGoldwasser reverify

[2015-08-12 17:58] DavidGoldwasser commented on #886
FYI @brianlball

[2015-08-12 18:00] DavidGoldwasser commented on #926
@DavidGoldwasser verify and and to standards repo,

[2015-08-12 18:03] #936 closed

[2015-08-12 18:05] #179 closed

[2015-08-12 18:09] DavidGoldwasser commented on #284
invalid, it is in the schedule set but doesn't show in inspector choice list.

[2015-08-12 18:09] #284 closed

[2015-08-12 18:11] DavidGoldwasser commented on #287
@macumber will verify.

[2015-08-12 18:12] #325 closed

[2015-08-12 18:15] #326 closed

[2015-08-12 18:16] #327 closed

[2015-08-12 18:18] #520 closed

[2015-08-12 18:19] #554 closed

[2015-08-12 18:20] #618 closed

[2015-08-12 19:11] macumber commented on #1763
The call stack for this crash in OS 1.8.0 is:

    msvcr120d.dll!_wassert(const wchar_t * expr, const wchar_t * filename, unsigned int lineno) Line 369	C
    openstudio_model.dll!boost::assertion_failed(const char * expr, const char * function, const char * file, long line) Line 51	C++
    openstudio_model.dll!openstudio::model::detail::ZoneHVACEquipmentList_Impl::thermalZone() Line 252	C++
    op

[2015-08-12 19:20] macumber commented on #1755
The call stack for this crash in OS 1.8.0 is the same as in #1763

[2015-08-12 19:21] macumber commented on #1763
Also, I was clicking on the Facility tab so not sure why the ThermalZonesGridController was activated?  @evanweaver FYI

[2015-08-12 21:25] evanweaver commented on #1763
@macumber I've been unable to replicate that call stack by clicking the Facility main tab.

"return t.equipmentInHeatingOrder();" (line 644 of ThermalZonesGridView) appears to only be hit from within ThermalZonesGridView

[2015-08-12 21:56] macumber commented on #1763
@evanweaver I was running in OS 1.8.0.  Do you get a crash in 1.8.3?

[2015-08-12 22:50] evanweaver commented on #1763
Sorry @macumber, I was focused on 1.8.3, which also crashed.  The model appears to have a malformed object which doesn't successfully cast.  From the perspective of the gridviews, I am considering ways to make it gracefully handle this scenario, and introduce that in 1.9.0.

As for how this bad object was created, that is certainly something of interest if the app made it.

Finally, 1.8.0;s Facili

[2015-08-13 07:05] jmarrec commented on #1763
If that's any relevant:

- I created the geometry in sketchup
- Once fully satisfied, I set in the Openstudio App the defaut construction sets, the spacetypes etc (importing them from another file)
- I assigned spacetype to pretty much all spaces in Sketchup
- I created Thermal Zones in Sketchup, and renamed them like spaces via the userscript
- I cleaned up the thermal zone name by removing "Ther

[2015-08-13 11:21] mbadams5 commented on #1763
@jmarrec A workaround for the moment that I found is to delete the OS:Sizing:Zone and OS:ZoneHVAC:EquipmentList that are causing the problem. You have one more OS:Sizing:Zone object than number of OS:ThermalZone objects. Look at your OSM in a text editor for the OS:Sizing:Zone that does not have a "Zone or ZoneList Name" UUID in it. Then delete that object, the OS:ZoneHVAC:EquipmentList below it,

[2015-08-13 11:52] jmarrec commented on #1763
I found the culprit `OS:Sizing:Zone` (73e73e86-7e9a-4ab0-b807-eee0593c6092) and did what you said and it seems to work fine.

Thanks a lot @mbadams5

[2015-08-13 15:05] kbenne commented on #1763
@mbadams5 and @macumber it is because he created the thermal zones in the plugin. We have seen this before but can't isolate why it happens. It seems that in some cases the zone initialization code is being bypassed from the plugin. Basically everything that normally happens [here](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/ThermalZone.cpp#L2175) doesn't happen.

@jma

[2015-08-13 15:47] macumber commented on #1763
Here is the old issue about creating zones in the plugin, https://github.com/NREL/OpenStudio/issues/1667

[2015-08-13 16:17] kbenne commented on #1755
I repaired Nick's model and sent it back. The underlying issue is similar to https://github.com/NREL/OpenStudio/issues/1667 but almost the opposite. There we were seeing zones that did not get initialized. Here it is as if the initializers are over zealous and being called an extra time on a phantom zone.

@jmarrec's [description](https://unmethours.com/question/9983/any-experience-with-the-follow

[2015-08-13 16:21] kbenne commented on #1763
@jmarrec I retract. Your model seems fine with the fixes you described. Like I said over on #1755 this is basically the opposite problem we saw in #1667 where zones did not get initialized at all. Here it is as if the init routine is called an extra time on a phantom zone. I believe this all amounts to basically the same root issue of the observers not firing properly, but I'm not sure I have conv

[2015-08-13 20:57] jmarrec commented on #1763
@kbenne I did manage to remove the extra stuff, then I added all my HVAC equipment, (then went through a really painful geometry cleaning removing degenerate surfaces and stuff like that...), and got the E+ simulation eventually running.

[2015-08-13 21:19] jmarrec commented on #1375
+1

[2015-08-14 15:17] jmarrec commented on #1763
I have no idea what's going on and if related, but I have another file that throws out an "Error: Error with conversion: Access violation - no RTTI data!" when I run it in the PAT with a couple of measures. Where it says that is at the "ModelToIdf" stage

[2015-08-14 15:24] kbenne commented on #1763
Sounds like it might be something else. I suggest that you open a new issue and provide demonstrating files.

[2015-08-14 15:30] kbenne commented on #1763
@jmarrec are you talking about https://unmethours.com/question/10276/what-could-cause-a-measure-to-run-fine-in-apply-now-but-fail-in-pat/ ?

[2015-08-14 15:51] jmarrec commented on #1763
@kbenne: yeah, it's my fault, I had the same curves being shared by my two chillers... Is there somewhere where that kind of recommendations is written? Or is it some standard C++/Ruby convention? I feel like I keep breaking openstudio and I don't know if it's just a brute or what :)

[2015-08-14 15:56] kbenne commented on #1763
We just need to mature some of these areas.

[2015-08-14 16:24] MatthewSteen opened #1767 "Hard Crash Opening 1.5.3 CBECC-Com OSM in 1.8.3"
![image](https://cloud.githubusercontent.com/assets/8397034/9278517/93139c48-426e-11e5-88b4-4606040fe604.png)

![image](https://cloud.githubusercontent.com/assets/8397034/9278523/97523fe4-426e-11e5-9305-16843e58afb6.png)

[2015-08-14 16:48] evanweaver commented on #1767
@MatthewSteen I'm unsure of this file's location, could you help out? Thanks

[2015-08-14 16:51] MatthewSteen commented on #1767
@evanweaver I don't have access to the file repo, so I just emailed it to you.

[2015-08-14 18:46] macumber commented on #1412
@evanweaver is this still valid?  I am going to move to 1.9.0 milestone. If that won't be possible please remove the milestone

[2015-08-14 21:02] MatthewSteen commented on #1767
Emailed. This one has a sorted history...

IES VE > CBECC-Com v3 XML > opened and run in CBECC-Com v3c > OS 1.5.3 > OS 1.8.3

[2015-08-14 21:32] MatthewSteen commented on #1767
@evanweaver more info...

![image](https://cloud.githubusercontent.com/assets/8397034/9284409/cc160b0a-4298-11e5-8334-e723f12f4a3d.png)

![image](https://cloud.githubusercontent.com/assets/8397034/9284411/d37f7ef8-4298-11e5-8d0a-f0633dbb6fde.png)

[2015-08-14 21:45] asparke2 opened #1770 "Facility tab grid view crash"
@macumber determined that this isn't due to corrupt or orphaned sizing:zones and has a different call stack/  He is going to upload the model to the OpenStudio-files repo.  The issue doesn't seem to happen with 1.8.0, just 1.8.3.

To reproduce:
1. Open the model
2. Click the facility tab
3. Crash

[2015-08-14 22:05] macumber commented on #1770
Appears to be column 3 of the Shading Surface Group grid:

    msvcr120d.dll!_wassert(const wchar_t * expr, const wchar_t * filename, unsigned int lineno) Line 369	C
    openstudio_lib.dll!`openstudio::ConceptProxy::cast<openstudio::model::ModelObject>'::`1'::catch$1() Line 296	C++
    openstudio_lib.dll!openstudio::ConceptProxy::cast<openstudio::model::ModelObject>() Line 287	C++
    openstudio_l

[2015-08-14 22:52] mbadams5 opened #1771 "AirTerminalSingleDuctSeriesPIUReheat leaves ZoneHVAC:EquipmentList in bad state"
[From unmethours post here.](https://unmethours.com/question/10291/bug-report-in-air-terminal/)

When AirTerminalSingleDuctSeriesPIUReheat::remove() is called, it does not clean up ZoneHVACEquipmentList, leaving it in a bad state that causes a crash.

AirTerminalSingleDuctSeriesPIUReheat needs to reimplement remove() to properly account for this, [similar to this](https://github.com/NREL/OpenStudi

[2015-08-14 23:23] evanweaver commented on #1767
Hey @MatthewSteen, you sent me 14095_Kilroy_T24 - ap.osm.  Is this the correct file?  I opened and navigated it with no problems.

![image](https://cloud.githubusercontent.com/assets/4974134/9285994/07ec0c5a-42a9-11e5-93dd-79adb4e49945.png)

[2015-08-16 12:35] lincolnharmer opened #1772 "Can't add schedule to ZoneControlHumidistat"
Schedules can't be add to this object in the GUI or via measure rendering it useless. This may have something to do with the fact that OpenStudio doesn't support schedules with unit type 'Humidity'

[2015-08-16 14:09] mbadams5 commented on #1772
@lincolnharmer You need to make sure the schedule has a ScheduleTypeLimits that has Units of "Percent".

In the GUI you do this when defining a new schedule...
![screen shot 2015-08-16 at 9 50 28 am](https://cloud.githubusercontent.com/assets/2001544/9293572/4ee20c58-43fe-11e5-81d6-c245dde5cec5.png)

When using ZoneControlHumidistat through a measure you need to build the ScheduleTypeLimits yourse

[2015-08-16 15:15] lincolnharmer commented on #1772
@mbadams5 That does the trick. Thanks!

[2015-08-16 15:16] #1772 closed

[2015-08-17 14:05] MatthewSteen commented on #1767
Hmmm, I just did an uninstall/reinstall of the Win64 version of 1.8.3 with no change. Went back to 1.8.2 and it opens so it seems to be a 1.8.3 issue at least on my machine.

[2015-08-17 15:44] evanweaver commented on #1767
Thanks @MatthewSteen.  Initially I looked at this in debug, once I tried a release build it crashed.

[2015-08-17 15:50] macumber commented on #1767
Possibly require code in an assert statement is not getting executed in Release?

[2015-08-17 16:29] evanweaver commented on #1767
Or something like #if _DEBUG

[2015-08-17 17:52] mbadams5 opened #1774 "Add miscellaneous remaining objects"
Add the following objects..

ThermalStorage_ChilledWater_Stratified
EvaporativeFluidCooler_TwoSpeed
CentralHeatPumpSystem
ChillerHeaterPerformance_Electric_EIR
PlantComponent_TemperatureSource
LoadProfile_Plant

Coil_Cooling_DX_SingleSpeed_ThermalStorage // this is a huge object, it may not make it in

[2015-08-17 20:00] kbenne opened #1775 "Array bounds error with Controller:MechanicalVentilation and no DesignSpecification:OutdoorAir objects"
Best way to describe this is to go to the corresponding E+ issue. OS should not be producing these mal formed idf files. The only reason it is an E+ bug is because E+ is crashing.

https://github.com/NREL/EnergyPlus/issues/5112#issuecomment-131943130

[2015-08-18 14:03] kbenne opened #1776 "WaterHeaterStratified does not work with HPWH"

[2015-08-18 16:40] dstuder commented on #1642
@DavidGoldwasser I agree that this should be added; it is now (as of 1.8.4) impossible to add this object to a model. It would be great if this could be added for the 1.9.0 release.

[2015-08-18 16:48] asparke2 opened #1778 "Incorrect SI to IP unit conversion in sizing:zone gridview"
See [this unmet hours question](https://unmethours.com/question/10384/minimum-air-flow-per-zone-floor-area/). The heating and cooling minimum airflow per zone floor area columns in the Thermal Zones grid view do not convert correctly to IP:

  `m^3 of air/s*m^2 of zone floor area`

to

  `cfm air/min* ft^2 zone floor area`

I'm guessing this is because the units represent different quantities.  If

[2015-08-18 16:53] dstuder opened #1779 "Can't Delete the First OS:WaterHeater:Stratified object Added to Plant Loop Using Measure"
When viewing a DHW plant loop in the HVAC Systems tab, where an OS:WaterHeater:Stratified object has been added via measure, there is no way to delete the OS:WaterHeater:Stratified object. Subsequent tanks (mixed or stratified) added via the GUI are able to be deleted.

[2015-08-18 16:53] dstuder commented on #1779
@kbenne Is this just a consequence of the manner in which the measure adds the object?

[2015-08-18 16:55] kbenne commented on #1779
No. this is because the stratified tank is (I assume in your case) is inside a hpwh. The tank has a method ::containingHVACComponent that signals to the GUI that it is contained by something else and therefore don't allow it to be removed. We are going to have to do some work to iron this all out in the UI.

[2015-08-18 16:57] dstuder commented on #1779
Ok, thanks. Just wanted to document the behavior since it seemed unusual.

[2015-08-18 17:04] DavidGoldwasser commented on #1642
@dstuder would like this in. @macumber and @asparke2 the preferred way to do this would be to add it into code that we have to generate the template OSM's however that is on the way to being deprecated for the prototype work @asparke2 has been doing. The other way to do this is just to manually edit the OSM's to add this object, which is probably the most straight forward.

There is also an issue

[2015-08-18 17:12] kbenne commented on #1776
@dstuder are you good with this fix?

[2015-08-18 19:16] macumber commented on #1642
Could this be done with a measure?

[2015-08-18 19:18] asparke2 commented on #1642
It could be done with a measure, but we should have one object of this type in the library .osm file.  People shouldn't have to write a measure to access a basic type of object.

[2015-08-18 19:18] dstuder commented on #1642
Sure, but that defeats the purpose of the grid view implementation, which is to allow the modeler to easily see what's going on in their model. In my opinion, this needs to be added to the library (even a blank object that someone could drag into their model and then fill in).

[2015-08-18 19:24] macumber commented on #1642
So we put one object of this type in every space type osm or we could put it in the hvac library.

[2015-08-18 19:40] DavidGoldwasser commented on #1642
@macumber I don't think we need it in every space type, we just need an un-assigned one in the 16 osm's that people typically use as a library from the OS app. It doesn't need to be part of a space type in the library. I don't think putting it in the HVAC library would work? But maybe it would? I've never tried putting an internal load in it.

[2015-08-18 21:05] dstuder commented on #1776
Yep. I don't think I can close it though.

[2015-08-18 21:46] dstuder opened #1780 "WaterHeating:AirToWaterHeatPump Rated Condenser Inlet Water Temperature Forcing Random Value"
When attempting to input a value for the "Rated Condenser Inlet Water Temperature" in the "WaterHeating:AirToWaterHeatPump" object, OpenStudio is forcing it to 55.72 C (the EnergyPlus default is 57.5 C). While OpenStudio appears to take the value when in Inspector, navigating away and coming back shows that the value did not persist. Hitting "enter" does not change the behavior.

@kbenne So far th

[2015-08-18 22:15] macumber opened #1781 "OpenStudio measure without measure.rb file crashes PAT"

[2015-08-18 22:21] macumber commented on #1781
If you create a measure, drag it into PAT, then delete the measure.rb file; PAT will crash when you run the datapoint.  Not sure if OpenStudio App does the same.  Issue reported by Matt Stewart:

https://unmethours.com/question/4404/primary-ruby-script-path-not-set-for-passed-in-measure/?answer=4412#post-id-4412

[2015-08-18 22:22] macumber commented on #1781
Need to do a preflight check on all measures in the workflow (or potential workflows) to make sure they have measure.rb files.

[2015-08-19 15:44] #1776 closed

[2015-08-19 16:01] asparke2 opened #1783 "Files won't open with OS App 1.8.3"
These files open fine with 1.8.0, but won't open in 1.8.3.  The final.osm model was created using the prototype measure, so it might be an issue with the measure code.  The other model is a user model from unmet hours, and appears to have been created with 1.8.1.  The app just crashes with no message.

[2015-08-19 16:04] macumber commented on #1781
Duplicate of https://github.com/NREL/OpenStudio/issues/1601

[2015-08-19 16:04] #1781 closed

[2015-08-19 16:05] macumber commented on #1617
I think this is a duplicate of https://github.com/NREL/OpenStudio/issues/1617

[2015-08-19 16:10] asparke2 commented on #1783
Files are [here](https://github.com/NREL/OpenStudio-files/tree/master/Git%20Issue%20Files/Issue%201783)

[2015-08-19 16:11] asparke2 commented on #1783
@evanweaver not sure if you or @macumber are the right person to figure this one out.

[2015-08-19 16:12] evanweaver commented on #1783
@asparke2 does the app just lock up, or does it seg fault?

[2015-08-19 16:13] evanweaver commented on #1783
@asparke2 @macumber this is very similar to one that I am currently looking at from Matt Steen.

[2015-08-19 16:15] asparke2 commented on #1783
It does this:

![image](https://cloud.githubusercontent.com/assets/2009290/9361943/2897b3a4-465b-11e5-8d28-2babca60d6ac.png)

[2015-08-19 16:15] evanweaver commented on #1783
OK, looks to be the same as Matt's bug.

[2015-08-19 16:33] DavidGoldwasser commented on #1617
I'll confirm if this still happens and assign to @macumber if it does

[2015-08-19 16:48] dstuder opened #1784 "Crash When Deleting HPWH"
When deleting a HPWH system (by deleting the HPWH from the Zone Equipment list in the "Thermal Zones" tab by clicking the "X" icon in Inspector), OpenStudio will crash and exit the program if you try to navigate to the hot water plant loop on the "HVAC Systems" tab (the loop that previously contained the WaterHeater:Mixed or WaterHeater:Stratified object that was associated with the HPWH).

OpenSt

[2015-08-19 19:11] dstuder commented on #1784
@kbenne OpenStudio also crashes after deleting the HPWH from the Zone Equipment list and then navigating to the "Measures" tab.

[2015-08-19 19:52] evanweaver commented on #1767
Fixed with commit 3afb112b5ec80e791583c51be16121405eaff99b: Do not access uninitialized objects' data members.

[2015-08-19 19:56] evanweaver commented on #1767
@MatthewSteen, this fix will be available this Friday.

[2015-08-19 19:57] axelstudios commented on #1767
Fixed in 3afb112b5ec80e791583c51be16121405eaff99b

[2015-08-19 19:57] #1767 closed

[2015-08-19 20:11] axelstudios commented on #1783
Duplicate of #1767

[2015-08-19 20:11] #1783 closed

[2015-08-19 21:04] #1761 closed

[2015-08-19 23:12] evanweaver commented on #1770
Fixed.  See https://www.pivotaltracker.com/n/projects/134010/stories/101543198

[2015-08-20 01:35] #1718 closed

[2015-08-20 01:35] #1728 closed

[2015-08-20 17:29] elainethale opened #1786 "Issue with Python bindings for v1.8.0"
I get an import error:

[code]

Looking around at .i files, etc., I don't see any recent (last 6 month) changes that should have caused this, nonetheless, there it is. There is a workaround that I will use for now: adding

[code]

to `src/model/ModelCore.i`.

[2015-08-20 18:37] macumber commented on #1786
@mbadams5 have you seen this?

[2015-08-20 18:43] DavidGoldwasser commented on #1642
I updated the template files used as default directory in load library for OS app. This was important because changes to facility tab took away the work around that had bypassed the issue.

[2015-08-20 18:43] #1642 closed

[2015-08-20 18:45] macumber commented on #1786
Also @elainethale did you get this error importing bindings based on a build of the v1.8.0 tag?

[2015-08-20 18:46] macumber commented on #1642
@DavidGoldwasser Is there a commit that implements this change?

[2015-08-20 18:51] DavidGoldwasser commented on #1617
@macumber so I confirmed this happens both in 1.8.1 installed version of OpenStudio and in my current development build (from earlier today). Throwing away everything but the OSM doesn't change what happens.

[2015-08-20 18:55] macumber commented on #1617
Last update on this thread had a similar issue, failure when no user defined measures in the workflow:

https://unmethours.com/question/4404/primary-ruby-script-path-not-set-for-passed-in-measure/?comment=10483#comment-10483

User's osm had utility bills in it so it is trying to use calibration measure, maybe your test model had this too @DavidGoldwasser ?

[2015-08-20 19:23] DavidGoldwasser commented on #1642
Yep, I just did it in develop, but I did build and test it before I synced the commit.

[2015-08-20 19:38] mbadams5 commented on #1786
@macumber Yes i've seen this. I don't know why it is happening.

This is how I fixed it on my machine.
[code]

The key part is adding `openstudioutilitiescore` before Debug. My rough guess is that it is hitting some protected key word and it needs the fully qualified path to be correct. How to make sure this happens through the swig bindings, no clue yet.

[2015-08-20 19:53] elainethale commented on #1786
Yes, v1.8.0, and it did not happen previously for me. (I was probably on v1.7.0 or even v1.6.0.)

[2015-08-20 20:09] macumber commented on #1786
@mbadams5 or @elainethale if you want to fix this for 1.9.0 please feel free.  I think Elaine's patch is reasonable.

[2015-08-20 20:16] eringold opened #1787 "Orphaned connections when deleting Air-to-Air HX from outdoor air system with other outdoor air equipment"
Deleting the Air-to-Air HX from this configuration in the GUI will result in two orphaned connection objects:
![outdoorairequip](https://cloud.githubusercontent.com/assets/10799524/9394252/b35550c0-4744-11e5-9a54-7be812c4f451.png)

![connection](https://cloud.githubusercontent.com/assets/10799524/9394383/6dcf4604-4745-11e5-8963-654d7f42e5ca.png)

Causes EnergyPlus simulation failure at start of an

[2015-08-20 20:55] #1770 closed

[2015-08-21 15:37] macumber commented on #1730
The following objects do not have translate functions in the ForwardTranslator, emphasis on ones that are a problem (@kbenne @mbadams5 can you edit to include HVAC ones that are an issue?):

AirTerminalDualDuctVAV
AirTerminalSingleDuctConstantVolumeCooledBeam
BuildingStory - ok, no E+ counterpart
ClimateZones - ok, no E+ counterpart
CoilCoolingCooledBeam
CoilCoolingDXMultiSpeedStageData
CoilCoolin

[2015-08-21 15:43] macumber opened #1792 "OpenStudio Model Object class names do not match E+ names"
Several model object class names do not match the names of their E+ counterparts.  This increases the documentation burden and confuses users.

[2015-08-21 15:49] kbenne commented on #1730
I'd say these many or most of these are translated, but not registered in the objects to translate function.

[2015-08-21 15:49] macumber commented on #1792
AirGap
Blind
CFactorUndergroundWallConstruction
DesignDay
FFactorGroundFloorConstruction
Gas
GasMixture
InfraredTransparentMaterial
InsideSurfaceConvectionAlgorithm
MasslessOpaqueMaterial
OutsideSurfaceConvectionAlgorithm
RefractionExtinctionGlazing
RoofVegetation
Screen
Shade
SimpleGlazing
SkyTemperature
StandardGlazing
StandardOpaqueMaterial
ThermochromicGlazing

[2015-08-21 15:50] macumber commented on #1792
I'm not sure what the right thing to do is, we don't want to break existing APIs

[2015-08-21 15:51] macumber commented on #1792
Surface
SubSurface
ShadingSurface

are also examples

[2015-08-21 15:53] macumber commented on #1730
I think we need to do better at documenting the translator, not sure if any of this stuff needs to be documented?  I was also thinking we should have a case statement for each IDD object type where we explicitly say "// this object will be translated with AirLoop" or whatever

[2015-08-21 15:54] macumber commented on #1730
The ones I've highlighted are just plain being missed, you could add them to your osm in a measure and they would simply not show up in the idf

[2015-08-21 15:55] macumber commented on #1730
For the Utility objects, my feeling is we should remove them from the model.  Then when we get to utility rates we can add those back in.  Thoughts on that?

[2015-08-21 15:57] kbenne commented on #1730
Lets talk about this one on Monday.

[2015-08-21 15:58] macumber commented on #1730
Cool, for 1.9.0 I think I will just issue a warning for UtilityBill objects

[2015-08-21 16:01] macumber commented on #1792
Maybe the thing to do is to add aliases in Ruby for the EnergyPlus name?

[2015-08-21 17:07] DavidGoldwasser opened #1793 "Show Simple ventilation in reporting measure"
@asparke2 with ZoneVentilation:DesignFlowRate in the model we now use simple ventilation which has been hidden from our standard OpenStudio report but is in the E+ tabular table for outdoor air.

There would be to columns for this (we have merged the avg and min tables into one). Or we make a new table just for simple ventilation that only shows if you have non zero values. May want to do somethin

[2015-08-21 17:14] evanweaver commented on #1778
This bug will be fixed via https://www.pivotaltracker.com/n/projects/134010/stories/101286352 and is partially represented by https://github.com/NREL/OpenStudio/issues/1695.

[2015-08-21 17:15] DavidGoldwasser commented on #1793
@kbenne I don't run ideal air loads much these days, but in my test for ZoneVentilation:DesignFlowRate I did use ideal air loads, and as shown below I noticed that the baseline model (before I add ZoneVentilation:DesignFlowRate already has simple ventilation objects, except for the 2nd floor core zone where I added in an exhaust fan.

Are you doing something fancy where you change how DesignSpecif

[2015-08-21 17:17] evanweaver commented on #1695
This bug will be fixed via https://www.pivotaltracker.com/n/projects/134010/stories/101286352 and is also mentioned in https://github.com/NREL/OpenStudio/issues/1778.

[2015-08-21 17:35] DavidGoldwasser opened #1794 "Minor update issue on Surface sub-tab of Space tab"
Not critical for 1.9.0 but wanted to document this. In the API if you change a surface's Outside Boundary Condition from "Surface" to something else, it clears out the Outside Boundary Condition Object field. In the screesnhot below surface 28 in story 1 core was linked to surface 16 in story 1 east. When I changed it to "Outdoors" it did correctly also change the value to "Outdoors" for surface 1

[2015-08-21 17:42] DavidGoldwasser opened #1795 "Any reason not to hide "Apply to Selected" for Outside Boundary Condition Object"
I can't think of a use case to batch change the outside condition object on either the surface or sub-surface sub-tabs. They should always be unique or empty. In the case of being empty changing the "Outside Boundary Condition" from "Surface" to something else will clear out the boundary objects for both surfaces and sub-surfaces.

@macumber, @evanweaver and @asparke2 any thoughts on this?

Anothe

[2015-08-21 18:05] DavidGoldwasser opened #1797 ""Shading" Sub-tab on building tab, pull down list shouldn't show "Space" as option"
Space shading groups are shown in the space tab under the appropriate space. This tab looks like it is intended only for building and site shading. The pulldown list under the "Type" menu shows Building, Site, and Space. It doesn't let you choose space, which is correct, but it should be hidden.

By the way, interesting that this sub-tab lets you make a surface group with the green "+" button and

[2015-08-21 18:06] evanweaver commented on #1795
@asparke2, I'd like a quorum of at least 2.  Do you agree?

[2015-08-21 18:10] asparke2 commented on #1795
I agree with David, I can't think of a situation where you'd need to bulk-apply an outside boundary condition object to multiple surfaces or subsurfaces

[2015-08-21 18:15] DavidGoldwasser commented on #320
@macumber does someone just hit this if they have a massless material and try to set conductivity?

Here is an example of how it is typically used in our measures. If I'm looping through construction layers I typically confirm what type of material it is before doing anything to it.
https://github.com/NREL/OpenStudio-measures/blob/a9e00dbe625a4895780303b42cd751e99618572a/NREL%20working%20measures/

[2015-08-21 18:22] macumber commented on #320
It happens if they try to get conductivity, if they are not catching errors they will get a crash

[2015-08-21 18:24] DavidGoldwasser commented on #320
If you were to fix it what would the fix be? If you also add conductivity as a field, that would be odd, possible conflicting values. Deleting resistance would be an issue, because it would break current measures. It is possible removing it from base class may also break things. Another words measures may get a material and ask are you massless or air gap, if not then material.getConductivity? (no

[2015-08-21 18:29] macumber commented on #320
You can't really get conductivity because you don't know how think the layer is.  The right answer is probably to remove the method in the base class or make it return optional.

[2015-08-21 18:31] macumber commented on #320
We should probably look at what E+ reports for these materials, if E+ does not report a conductivity then we should remove it from the base class

[2015-08-21 19:09] evanweaver commented on #1795
To be complete, this appears in SpacesSurfacesGridView, SpacesSubtabGridView, SpacesSubsurfacesGridView.  I am assuming that all of these instances should have the Apply To button hidden.  Correct?

[2015-08-21 20:08] evanweaver commented on #1795
Fixed via https://www.pivotaltracker.com/n/projects/134010/stories/101795128

[2015-08-24 22:56] macumber commented on #598
Elizabeth Gillmor also reported that the diagnostic script does not fix errors for shading surfaces

@asparke2 FYI

[2015-08-24 23:06] dstuder opened #1801 "HeatPump:WaterHeater Inlet Air Zone Name Not Exposed"
@kbenne I am writing a measure to modify whether the WaterHeater:HeatPump is ducted or uses zone air as the inlet to the evaporator, but realized when trying to reference the "Inlet Air Zone Name" parameter that it doesn't look like that specific parameter was wrapped/accessible. Am I missing something?

[2015-08-25 02:03] macumber commented on #1740
@MatthewSteen what problems does this end up causing?  Can you not interact with other parts of the GUI?  Is there a model corruption problem?

[2015-08-25 02:14] MatthewSteen commented on #1740
@macumber just aesthetics. I was still able to make a selection. The image above is from a fresh Untitled.osm so no corruption problem.

[2015-08-25 02:14] #1740 closed

[2015-08-25 14:24] #1617 closed

[2015-08-25 14:25] DavidGoldwasser commented on #1601
Closed with 1601.

[2015-08-25 14:25] #1601 closed

[2015-08-25 14:56] DavidGoldwasser commented on #1787
@kbenne and @asparke2 just wanted you to be familiar with this to look at for 1.9.0.

[2015-08-25 14:58] kbenne commented on #1801
I intend to give the HPWH a going over during this bug fix period. I know it certainly needs it.  But off the cuff, I think this one might not actually be an issue. The HPWH is zone equipment, meaning it has the ::addToThermalZone method like all other ZoneHVACComponents. Use this method to apply the water heater to a zone and inlet air zone name should be taken care of for you. OpenStudio is tryi

[2015-08-25 15:01] DavidGoldwasser commented on #1780
I thought this might be related to be issue #656, but if that were the case then "57.5" you are typing would have to be an invalid EnergyPlus value. @kbenne, @asparke2 or @macumber any ideas?

[2015-08-25 15:04] DavidGoldwasser commented on #1748
@macumber has issues with bad weather files, and may know what the problem is.

[2015-08-25 16:00] macumber commented on #1748
@DavidGoldwasser that looks like a problem with that measure and not the general EpwFile parsing

@jasondegraw FYI

[2015-08-25 16:01] macumber commented on #1748
Assigning back to @DavidGoldwasser since this is measure specific

[2015-08-25 17:54] asparke2 opened #1804 "Pipe:Adiabatic icon doesn't show, OS 1.8.4 Develop Branch on Windows"
See image below.  Pipe icon not showing up.

![image](https://cloud.githubusercontent.com/assets/2009290/9474776/d789811c-4b1f-11e5-9753-9e44025ab7d9.png)

[2015-08-25 18:06] dstuder commented on #1801
I worked with @asparke2 to include this into a measure that @brianlball wrote to originally modify the zone to which the WaterHeater:Stratified object was assigned to. The measure works like a charm, in that the HeatPump:WaterHeater object now displays in the proper zone in the "Thermal Zones" tab. However, for some reason, the HeatPump:WaterHeater never actually turns on in the simulation, and th

[2015-08-25 18:10] dstuder commented on #1801
In an interesting addendum to this, if I open the model, make a HeatPump:WaterHeater zone assignment (using the drop down list of zone options that is part of the measure), and run the model, I encounter no issues. But if I then go back to the "Measures" tab and attempt to assign the HeatPump:WaterHeater to a new zone (by again selecting from the drop down list), I get an "OpenStudio has stopped w

[2015-08-25 21:28] dstuder commented on #1801
I'm still working on this, but this may actually be an EnergyPlus and not OpenStudio issue (except the crash thing). I'm running into interesting behavior regarding control of the supplemental heaters. I'll investigate more tomorrow.

[2015-08-26 15:34] dstuder opened #1808 "Effective Air Leakage Area Units Incorrect"
In the OS:SpaceInfiltration:EffectiveLeakageArea object, m2 is the listed unit for the "Effective Air Leakage Area" parameter. However, EnergyPlus expects (per the IDD) this to be in units of cm2. I checked the output from my model, and OS is not making this conversion. Seems like the easiest thing to do would be to just relabel this parameter as "cm2".

[2015-08-26 15:57] macumber commented on #1808
Duplicate of https://github.com/NREL/OpenStudio/pull/1575

[2015-08-26 15:57] #1808 closed

[2015-08-26 16:02] macumber commented on #1795
@evanweaver can you close this if it is fixed?

[2015-08-26 16:04] evanweaver commented on #1795
@DavidGoldwasser, what say you?

[2015-08-26 16:07] #1795 closed

[2015-08-26 19:39] #937 closed

[2015-08-27 20:39] kbenne opened #1810 "os version test failing"
1955 - OSVersionFixture.VersionTranslator_ExampleModel_1_1 (Failed)
1975 - OSVersionFixture.VersionTranslator_AllDefaultObjects_0_11 (OTHER_FAULT)
1976 - OSVersionFixture.VersionTranslator_AllDefaultObjects_1_0 (OTHER_FAULT)
1977 - OSVersionFixture.VersionTranslator_AllDefaultObjects_1_1 (OTHER_FAULT)
1978 - OSVersionFixture.VersionTranslator_AllDefaultObjects_1_2 (OTHER_FAULT)
1979 - OSVersionFix

[2015-08-27 20:54] kbenne commented on #1801
@dstuder did you ever get to the bottom of this? One thought is that the HPWH does not have to be assigned to a zone from the E+ perspective. As I recall the ambient conditions can come from a variety of sources such as outdoor conditions, zone, or a schedule.

[2015-08-27 21:03] dstuder commented on #1801
@kbenne I did not get to the bottom of it, but it now appears to be working. I cannot replicate the OS crash, and the HPWH behavior is as expected. Closing OS and reopening the file seemed to fix the issue.

[2015-08-28 15:00] macumber commented on #1729
Hey @MatthewSteen have you and Eric had a chance to check this out?

[2015-08-28 15:10] macumber commented on #1729
@DavidGoldwasser and @asparke2 you guys might want to try this as well, the plugin user script is at https://github.com/buildsci/openstudio_measures/tree/master/individualWindows

[2015-08-28 15:11] MatthewSteen commented on #1729
@macumber only briefly, we're starting several OS models so will do more testing. Feel free to close if you're cleaning up the issues backlog.

[2015-08-28 15:14] macumber commented on #1729
No pressure to close, @muh182 was just looking for some feedback

[2015-08-28 17:18] macumber commented on #1730
@DavidGoldwasser maybe we should issue a warning for RunPeriodControlSpecialDays not being translated

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator.cpp#L257

[2015-08-28 17:18] macumber commented on #1730
@kbenne what are you thoughts on all this?

[2015-08-28 17:26] kbenne commented on #1730
@macumber wanna give me a call?

[2015-08-28 18:14] YixingChen opened #1812 "Build Win Version Ruby - Product extension is set to .so"
The extension suppose to be .dll or default (.dll)

[2015-08-28 18:21] macumber commented on #1730
To recap the call @kbenne and I just had:

* ForwardTranslator::translateModelObject is not particularly useful and might be deprecated
* We are in favor of registering every ModelObject with a translate function, ideally in a way that is testable
* Simulation tests should be merged with the proposed measure testing framework

[2015-08-28 18:26] kbenne commented on #1784
@DavidGoldwasser and @dstuder can you two collectively verify that this is the right fix?

[2015-08-28 18:26] kbenne commented on #1801
@dstuder can we close this?

[2015-08-28 18:58] kbenne commented on #1779
@dstuder can we close this one too? I admit it would be nice if the gui gave you some feedback about why you can't remove, but I don't think that is on the table at this point. If we do it here, it needs to be applied consistently to the many other objects that encounter this situation.

From the API there is a method WaterToWaterComponent::removePlantLoop that will let you remove the object from

[2015-08-28 19:13] kbenne commented on #1780
I can't reproduce this. I know that the inspector can be twitchy. The "commit action" doesn't happen until you press return or leave focus from the input field. Leaving focus normally happens however you leave the IG, but like I said twitchy. Can you double check that this is actually a thing?

[2015-08-28 19:21] dstuder commented on #1780
I can no longer reproduce this. Guess we can close it.

[2015-08-28 19:21] #1780 closed

[2015-08-28 19:22] #1779 closed

[2015-08-28 19:23] kbenne commented on #1763
@macumber close?

[2015-08-28 19:28] dstuder commented on #1801
I don't think so. I was just able to replicate the OpenStudio has stopped working error.

[2015-08-28 19:31] #1763 closed

[2015-08-28 19:31] kbenne commented on #1801
oh this part...

"In an interesting addendum to this, if I open the model, make a WaterHeater:HeatPump zone assignment (using the drop down list of zone options that is part of the measure), and run the model, I encounter no issues. But if I then go back to the "Measures" tab and attempt to assign the WaterHeater:HeatPump to a new zone (by again selecting from the drop down list), I get an "OpenSt

[2015-08-28 19:39] macumber commented on #1746
@axelstudios @evanweaver it sounds like this issue was actually because we were bundling 64 bit EnergyPlus with out 32 bit builds.  Users on 32 bit platforms could not use this.  Has this issue been fixed?  Do we make 64bit and 32bit OpenStudio builds on the same machine? Do we have any way to test this?  Do we have a 32 bit VM we can use?

[2015-08-28 20:06] macumber commented on #1730
And we are ok to merge this

[2015-08-28 20:15] macumber commented on #1746
Duplicate of https://github.com/NREL/OpenStudio/issues/1496

[2015-08-28 20:17] macumber commented on #1746
@axelstudios I found out that the cheapest version of Windows 7 (Starter) is 32 bit only, this might be why there are people using 32 bit Windows 7 machines?

[2015-08-28 20:20] evanweaver commented on #1746
We'll work on a solution for the next iteration build.

[2015-08-28 20:32] #1577 closed

[2015-08-28 20:34] kbenne commented on #1787
@eringold if i send you an installer can you verify this fix?

[2015-08-28 20:36] eringold commented on #1787
Yes sir.

[2015-08-28 20:36] eringold opened #1814 "Space Tab Grid View column width change after 100 spaces"
Possibly related to https://github.com/NREL/OpenStudio/issues/1587

In OpenStudio v1.8.4 (Windows 64-bit) the Space tab grid view exhibits a strange column size shift after 100 spaces:
![1 8 4_spacegrid](https://cloud.githubusercontent.com/assets/10799524/9556243/994585cc-4d90-11e5-84fa-9bf2e6099fae.png)

This occurs (to varying degree) on all sub-tabs:
![1 8 4_spacegridloads](https://cloud.github

[2015-08-28 20:37] macumber commented on #1746
Just confirmed that this is still an issue with the current posted 1.8.4 32 bit builds

[2015-08-28 20:38] kbenne commented on #1814
that is a pretty serious example of the issue. it has to do with the paginating that happens to the rows. Every 100 rows is in a new layout which does its own column layout.

[2015-08-28 20:50] evanweaver commented on #1814
@eringold thanks for bringing this to our attention. @kbenne , what was that emoticon text again?

[2015-08-28 20:54] macumber commented on #1746
Also there is something fishy going on in the Radiance install with the 32 bit build.  The version of Radiance installed with 32 bit OS is 32 bit.  However, there are 64 bit Qt dlls in the Radiance package.  Aside from the horror that we are distributing Qt twice in our installer (!) they are 64 bit Qt dlls in the 32 bit Radiance package.

[2015-08-28 20:55] macumber commented on #1746
Probably the only safe way to avoid this problem is to build all of our 32 bit packages on a 32 bit machine.  That way there are no 64 bit binaries floating around.

[2015-08-28 20:56] kbenne commented on #1814
this :shit: one?

[2015-08-28 20:56] eringold commented on #1814
@evanweaver :beers:

[2015-08-28 20:57] evanweaver commented on #1814
Haha.  Happy Friday folks!  :)

[2015-08-28 21:03] macumber opened #1815 "Install Radiance with OpenStudio"
We get the message "Radiance was found but it is not the NREL version" when we install radiance with OpenStudio

[2015-08-28 21:07] macumber commented on #1441
https://github.com/NREL/OpenStudio/issues/1815

[2015-08-28 21:07] #1441 closed

[2015-08-28 21:07] evanweaver commented on #1746
Or roll with @rpg777's 32 bit solution.

[2015-08-28 21:09] macumber commented on #1746
What is @rpg777 's 32 bit solution?

[2015-08-28 21:10] rpg777 commented on #1746
yeah, what's all that, then?

[2015-08-28 21:26] rpg777 commented on #1746
OK I remade a Win32 Radiance package -- following my copious AlexNotes for making 32 on a 64 --  if anyone wants to check it for fish.

[2015-08-28 21:35] rpg777 commented on #1815
We never really parsed the NREL Radiance version file very well. Now that we're including it, we should.

[2015-08-28 21:57] macumber commented on #1815
Problem is that text file is not being included in the radiance install that we are including

[2015-08-28 22:02] macumber commented on #1815
Looks like this is just a configuration thing.  @axelstudios and @evanweaver when we build with radiance package can we just set RADIANCE_LOCATION to the directory containing the full install, e.g. 'C:\Program Files\Radiance'?  Right now it looks like that was configured to just install the bin directory, e.g. 'C:\Program Files\Radiance\bin'

https://github.com/NREL/OpenStudio/blob/develop/openstu

[2015-08-28 22:03] rpg777 commented on #1815
Honestly I think a better way to do it would be to get the version from the version string off of one of the critical executables. I've started embedding a breadcrumb in there, e.g.:

[code]

[2015-08-28 22:08] macumber commented on #1815
That is nice.  However, right now we are just installing the bin dir, we are not installing the lib dir.  That won't work right?

[2015-08-28 22:09] macumber commented on #1815
And @rpg777 I meant that is nice sincerely :-)

[2015-08-28 22:13] rpg777 commented on #1815
Yeah, no, that definitely won't work, LOL. Need both the ./bin and the ./lib dirs, and they need to be in the same parent directory. From there the measure (should) take care of setting the RAYPATH and getting radiance/bin into the search path.

[2015-08-28 22:36] axelstudios commented on #1815
@macumber Which build platform has this problem?  In all cases we were setting `RADIANCE_LOCATION` to the root Radiance directory rather than the bin directory.

[2015-08-28 22:38] macumber commented on #1815
Looks like Windows 64 bit 1.8.4 install is correct, the 32 bit 1.8.4 installer I tested had this issue.

[2015-08-28 22:39] axelstudios commented on #1746
Makes sense.  We're definitely bundling 64-bit EnergyPlus with 32-bit OpenStudio packages.  It really sucks that both architectures of EnergyPlus install to the same location.  My recommendation would be to zip up the separate EnergyPlus installs, put them on S3, and add a step to the package builds that downloads the exact one that's necessary for packaging.

[2015-08-28 22:43] rpg777 commented on #1746
=/

[2015-08-29 14:22] macumber commented on #1746
We also need to ensure that we only package 32 bit Ruby in the 32 bit packages

[2015-08-30 04:34] axelstudios commented on #1746
Ruby is already taken care of: https://github.com/NREL/OpenStudio/blob/develop/CMakeLists.txt#L544

[2015-08-30 15:30] macumber opened #1816 "EDAPT XML not encoded in UTF-8"
PAT can export an EDAPT XML that is not UTF-8 encoded and does not specify an encoding.  This prevents upload to EDAPT:

https://unmethours.com/question/10744/pat-180-fails-on-every-run/

[2015-08-30 15:37] macumber opened #1817 "Need to warn user if IP units measure is used"
Preventing use of this measure might be too heavy handed but we should at least warn users that reporting measures and other functionality might not work if IP results are requested

[2015-08-30 15:37] macumber commented on #1817
https://unmethours.com/question/10744/pat-180-fails-on-every-run/?answer=10761#post-id-10761

[2015-08-31 16:45] kbenne commented on #1787
@eringold take a look and see what you think. https://drive.google.com/file/d/0B6AYyX2ggNyBLXZHdFBHQmhMZFE/view?usp=sharing

[2015-08-31 17:08] eringold commented on #1787
@kbenne  With that build I was able to delete the HX from the Outdoor Air System and run the simulation without error. Thanks!

[2015-08-31 17:08] #1787 closed

[2015-08-31 17:10] kbenne commented on #1787
Appreciate the testing.

[2015-08-31 17:11] ranchhand6 commented on #1748
If this is in the measure, could someone give me a clue as to how to fix the measure so that it works with the OpenStudio software?  Seems to me like the error happens during the assignment of the weather file to the simulation, which is below the level that the measure can check.  Am I just not seeing something?

[2015-08-31 17:31] kbenne commented on #1784
ping @dstuder

[2015-08-31 17:32] kbenne commented on #1801
@dstuder can you send me the measure and possibly the seed model? This is possibly unrelated to HPWH implementation.

[2015-08-31 18:11] kbenne commented on #1762
@macumber your ball.

[2015-08-31 18:13] kbenne commented on #1755
@macumber and @DavidGoldwasser are we good to close?

[2015-08-31 18:13] #1701 closed

[2015-08-31 18:14] #1670 closed

[2015-08-31 18:16] #1762 closed

[2015-08-31 18:16] #1755 closed

[2015-08-31 18:57] #1656 closed

[2015-08-31 19:05] DavidGoldwasser opened #1819 "Material in templates is missing roughness and causes failed simulation"
This material seems to come from CEC work. This material is missing roughness in osm file. GUI shows it as VeryRough. If you just change the material roughness then it should export to the IDF file fine. It is in all of our template files and used in a number of CEC constructions.

OS:Material,
  {065acb20-8e01-4415-81ba-78a9157df073}, !- Handle
  Air - Metal Wall Framing - 16 or 24 in. OC, !- Nam

[2015-08-31 19:09] DavidGoldwasser commented on #1819
CC: @macumber @asparke2

If this is all we want to change in the templates then hand fixing with text editor is probably easier than updating standards spreadsheet and re-generating templates.One material to change in each template.

Can't remember if CEC work is in space type and construction set wizard, but I don't think it is.

Another fix we may want to consider is addressing the GUI showing "

[2015-08-31 19:40] macumber commented on #1819
@DavidGoldwasser the constructor is actually correctly asking for this value, however if you pass in a bad value it wont set, this will be silent in a release build.  I guess the ctor should throw in that case?

@kbenne @mbadams5 what do you guys do in this case?

[2015-08-31 21:31] evanweaver commented on #1778
Bug fix accepted in Pivotal Aug 24.

[2015-08-31 21:32] #1778 closed

[2015-08-31 21:33] evanweaver commented on #1695
This bug fix also accepted in Pivotal Aug 24.

[2015-08-31 21:33] #1695 closed

[2015-08-31 21:47] macumber commented on #1819
@DavidGoldwasser I am fine fixing in text editor for now

[2015-08-31 21:50] kbenne commented on #1747
@mbadams5 your move.. What do you think about my solution?

[2015-08-31 21:57] #1712 closed

[2015-08-31 21:57] #1679 closed

[2015-08-31 22:01] kbenne commented on #1496
@macumber this sounds like what you are working on. Can it be assigned to you?

[2015-08-31 23:55] axelstudios commented on #908
Old bug... it was fixed at some point:

![image](https://cloud.githubusercontent.com/assets/411466/9593249/6f5c60e8-5009-11e5-9dbc-90970e44b4ec.png)

[2015-08-31 23:55] #908 closed

[2015-09-01 14:04] DavidGoldwasser commented on #171
After unmet hours post looking back at this
https://unmethours.com/question/10810/openstudio-merged-surfaces-inside-a-thermal-zone-to-internalmass/

Here is feedback from Edwin.

Cut the wall in half and unfold it.  Like the attached image.  You'll need to cut the wall in half.  For convenience, I'd suggest just creating material layers of 1/2 thickness from the original partition and create a new

[2015-09-01 14:06] #1786 closed

[2015-09-01 14:13] DavidGoldwasser commented on #171
Issue #687 is related to this. It also addresses the concept of merging internal mass with a zone that use the same construction to speed up simulation, but there are some limitations.

[2015-09-01 14:15] DavidGoldwasser commented on #171
May also think about what we are doing for interior partitions. I believe we export 1ft^2 for 1ft^2. Of course in this case the use has more control to do what they want. By default interior partitions don't convert to internal mass. I expect not many people are flipping that switch.

[2015-09-01 15:22] kbenne commented on #1706
@MatthewSteen I'd like to follow my favorite new way of verifying bug fixes and send you an installer package to test. What do you think, is this something you could do for me?

[2015-09-01 15:24] MatthewSteen commented on #1706
Sure, fire away.

[2015-09-01 15:24] kbenne commented on #1706
also @MatthewSteen and @evanweaver read my commit log for the details, but basically yes this problem has been agitated by grid view, but my solution is actually in the translator. I don't think the grid view behavior is all that bad.

@evanweaver for what it is worth the alternative solution in grid view would be to remove the thermostat on the last schedule reset [here](https://github.com/NREL/O

[2015-09-01 15:27] MatthewSteen commented on #1706
@kbenne I'm actually at your office today if you want to put it on a 5.25" :floppy_disk:

[2015-09-01 15:31] evanweaver commented on #1706
Ha, our technical prowess has been recognized.

[2015-09-01 15:50] kbenne commented on #1627
@DavidGoldwasser I actually noticed this when I did ZoneVentilationDesignFlowRate. I made a fix that got lumped in with that work. You can see it [here](https://github.com/NREL/OpenStudio/commit/364738434801ef9515af01b62599f66534aa76e1#diff-61f9cf5b4a22f70a3f283a0468b08219R92).

[2015-09-01 15:50] kbenne commented on #1627
In other words please verify and close.

[2015-09-01 16:51] kbenne commented on #1706
@MatthewSteen I emailed a link to you.

[2015-09-01 17:24] #1810 closed

[2015-09-02 02:33] macumber commented on #1748
I am not familiar with this measure (@DavidGoldwasser wrote it) but it looks like it is trying to parse a stat file to get the mean dry bulb temperature:

https://github.com/NREL/OpenStudio-measures/blob/develop/NREL%20working%20measures/ChangeBuildingLocation/measure.rb#L132

Either that weather file does not have a stat file, the stat file is incorrect, or the stat file parser in that measure is

[2015-09-02 03:44] #1816 closed

[2015-09-02 03:44] #1817 closed

[2015-09-02 05:55] DavidGoldwasser commented on #1748
@ranchhand6 are you downloading the weather data from here
http://apps1.eere.energy.gov/buildings/energyplus/cfm/weather_data3.cfm/region=4_north_and_central_america_wmo_region_4/country=1_usa/cname=USA

If so I can take the two files you mention in original question (one that works and one that doesn't) and I can try and work it out. I susspect @macumber is right about stat file. If the issue is

[2015-09-02 14:00] #1747 closed

[2015-09-02 14:02] ranchhand6 commented on #1748
Yes, I believe so.  We downloaded the files about a year ago and checked them into a deployment repository.  We haven't updated them recently, I can try that if you think it might be an issue.

[2015-09-02 14:09] mbadams5 commented on #1774
Added in #1788

[2015-09-02 14:09] #1774 closed

[2015-09-02 14:59] DavidGoldwasser commented on #1748
I'll let you know if I can't reproduce the error with what I pull off the site.

[2015-09-02 15:09] MatthewSteen commented on #1706
@kbenne received, tested against 1.8.2, and **works**.

[2015-09-02 16:38] #1706 closed

[2015-09-02 21:33] evanweaver opened #1831 "Select All in GridView should only select all rows/sub-rows that are currently visible (i.e. unfiltered)"

[2015-09-03 04:11] #1496 closed

[2015-09-03 04:11] #1746 closed

[2015-09-03 04:11] #1815 closed

[2015-09-03 04:36] macumber commented on #1657
The real issue here is if you are installing OpenStudio on a 32 bit computer there will not be a c:\program files (86)\ so the installer will think that 32 bit SketchUp is not installed

[2015-09-03 11:42] lisacng opened #1834 "Changing minimum values in SpaceInfiltration:DesignFlowRate object"
Hello, I am working on a Measure for infiltration but it requires that values (for A, B, C, and D) in the SpaceInfiltration:DesignFlowRate object be less than 0. Currently, these minimums are set at 0 in the OpenStudio.idd file. Would it be possible to change these?

It should be noted that EnergyPlus v8.0 and above does not set minimum values in the ZoneInfiltration:DesignFlowRate object.

[2015-09-03 13:43] #1834 closed

[2015-09-03 15:13] #1771 closed

[2015-09-03 15:13] #1784 closed

[2015-09-03 15:35] #1703 closed

[2015-09-03 17:28] DavidGoldwasser commented on #1819
@macumber while most of the templates just had one material like this. The CECTemplate.osm had 18 air materials like this. Will have to remember to go back and fix those in the source later on.

I set everything to Smooth which is what the default roughness is when you make a new material. All of these materials are intended for use within a wall, so roughness shouldn't impact much.

Do you want t

[2015-09-03 18:52] #1804 closed

[2015-09-03 20:17] #1819 closed

[2015-09-03 21:31] DavidGoldwasser commented on #320
Makes sense, I could get conductance but not conductivity.

[2015-09-03 22:21] DavidGoldwasser commented on #1797
As an update with screenshot. I noticed it will let me change a shading surface group fro "Space" to "Building" or "Site' and then it doesn't let you change it back to "Space".

![9-3-2015 4-18-26 pm](https://cloud.githubusercontent.com/assets/4857055/9672432/d5300104-5257-11e5-97db-0b6fbc5e36ea.png)

[2015-09-03 22:40] DavidGoldwasser opened #1836 "Fresh develop build Crash "Bad cast" after clicking on "Spaces" tab"
Is repeatable with this model, but some other models I have seem fine.To reproduce open the linked model and then go to spaces tab. Takes about a minute, then you briefly see grid come up, then just after that the unhanded exception happens. I think model has in neighborhood of 40 spaces.

![9-3-2015 4-33-27 pm](https://cloud.githubusercontent.com/assets/4857055/9672744/735b5c46-525a-11e5-880a-2f2

[2015-09-03 22:57] jasondegraw opened #1838 "Grotesque assumptions are being made about start times of interval schedules"
Interval schedules aren't doing enough checking of input time series. In certain situations, that means that calling the timeSeries() method won't return the same time series that was used to construct the schedule and bad stuff happens at forward translation time. I believe this applies to both fixed and variable interval schedules.

[2015-09-04 05:30] DavidGoldwasser commented on #1836
The model in original post was made from AEDG measures with earlier version of OpenStudio. I tried to re-run the measures using 1.8.5 and then open the resulting file in the OS app. I see the same crash. Here is the workflow I'm running
https://github.com/DavidGoldwasser/OpenStudio-programmatic-modeling/blob/nrel_measure_group_testing/projects/workflow_aedg_k12.rb

To make sure the seed model wasn

[2015-09-04 05:54] DavidGoldwasser commented on #1836
The original file I put up is this
AedgK12HvacFanCoilDoas_ASHRAE 169-2006-5B.osm

I just uploaded another one. This was made with a different seed and a different set of measures (although the AEDG office measures are similar to the AEDG K12 measures). It has similar crash.
AedgOfficeHvacAshpDoas_ASHRAE 169-2006-5B.osm

[2015-09-04 05:54] evanweaver commented on #1836
David,  because you are using a debug build,  you are subject to asserts failing.  These are useful for developers investIgating root cause,  but not always critical and not something users are exposed to with a release build. I'll investigate further tomorrow by clicking the "Retry" button, but from the area that the code failed,  my guess is that you have a slightly malformed model; an IDD key s

[2015-09-04 06:00] DavidGoldwasser commented on #1836
I have a release build as well. I see the crash in it, and also in 1.8.4 installer.If my measures are making invalid objects then I'll get them updated. I thought that generally the API doesn't accept invalid inputs. I added blocker, but that is really that I feel we need to address for release, not specifically for 1.8.5 unless others are seeing this as well.

[2015-09-04 15:11] DavidGoldwasser commented on #1836
I had my suspicion that there were objects unique to the AEDG models that we just weren't seeing in other models. My first target was fenestration and daylighting controls measure, it does does a number of things that are not common.
https://github.com/NREL/OpenStudio-measures/blob/develop/NREL%20working%20measures/AedgK12FenestrationAndDaylightingControls/measure.rb

Removing this measure did get

[2015-09-04 15:16] evanweaver commented on #1836
@DavidGoldwasser, rather than investing more time here, give me a moment to succinctly investigate by using the debugger. I'm balancing a number of things at the moment, and will get to this soon.

[2015-09-04 15:43] macumber commented on #1836
Thanks @DavidGoldwasser, @evanweaver has a lot going on today, he'll take a look at this when he gets a chance and can pull me in if he has any questions.  I'm not opposed to slipping 1.8.5 if we find out that this is a bug that users of the packages would see, we don't want people testing stuff we know is broken.  But let's given Evan some time to trace it down.

[2015-09-04 15:52] DavidGoldwasser commented on #1836
Thanks @macumber and @evanweaver I understand there are a lot off competing needs. I wasn't trying to push but just help narrow down the cause. If it is just specific objects, which it looks like to me, then maybe no need to hold up 1.8.5. I could spend an hour or so to isolate the exact object(s) but if you don't want me to that's fine.

I do feel good that I can reproduce it entirely from measur

[2015-09-04 16:01] macumber commented on #1836
Hey @DavidGoldwasser I just talked with @evanweaver and it is clear he is a machine at squashing these bugs, he knows exactly what is going on and how to fix it, right now he is just waiting on his build to finish.  So this was good testing to find this but at this point Evan has it under control, he just needs time to get to it.

[2015-09-04 16:09] #1657 closed

[2015-09-04 16:24] kbenne opened #1839 "component setpoint operation scheme logic is flawed"
There is a bug causing the energyplus translator to crash in some situations where there is a setpoint manager on plant supply node. In short, the translator has logic to determine if a component is a "setpoint" component, meaning it has a SPM on the component outlet node. The problem is that the logic is categorizing the node itself as a setpoint component. This causes assumptions to break down a

[2015-09-04 16:28] #1839 closed

[2015-09-04 17:11] kbenne opened #1840 "AVM Night Cycle Issue"
"In the OS App, if you have an AVM:nightcycle and you change the "Use Night Cycle" dropdown on the control type field, the change modifies the nightcycle manager correctly.  However, if your model has some other type of AVM, the "Use Night Cylcle" dropdown does nothing (when you switch tabs and switch back, the original setting is there)."

[2015-09-04 17:12] #1840 closed

[2015-09-05 02:26] evanweaver commented on #1836
Fixed via https://www.pivotaltracker.com/n/projects/134010/stories/102755696

[2015-09-05 17:15] axelstudios commented on #1347
@asparke2 David updated the dependencies a couple months ago:
- Bootstrap v3.2.0 (with javascript)
- D3 v3.4.8
- Dimple v2.1.2

Is that enough to close this ticket?

[2015-09-08 12:37] jmarrec opened #1842 "PAT - Amazon EC2 - Unable to update uuid with mismatches child job type"
Openstudio PAT is crashing when I run on the cloud. Gives me the following dialogbox

![pat error-amazon ec2-unhandled exception](https://cloud.githubusercontent.com/assets/5479063/9734815/682da18c-5636-11e5-8953-3d04625330bf.jpg)

It will do it repeatedly. When I close and reopen up the project, I get the error right away. I have to go kill the cloud from the AWS console.

The cloud seems to have

[2015-09-08 12:54] jmarrec commented on #1842
That's what I thought, all of the runs actually failed. Simulation is complete, but they failed. I thought the time to run was way to short

I'm not quite sure what to put in terms of error log, so here's the entire page for one of the datapoints that I have opened before shutting the server down.

https://drive.google.com/file/d/0B6iX99bTtTWxdUVWR2R1THNRVjQ/view?usp=sharing

[2015-09-08 14:21] asparke2 commented on #1347
Closed per @axelstudios  comment

[2015-09-08 14:21] #1347 closed

[2015-09-08 14:44] macumber commented on #1842
@axelstudios @evanweaver have you guys tested the cloud option in 1.8.5?

[2015-09-08 14:44] macumber commented on #1842
@nllong @henryHorsey  FYI

[2015-09-08 14:59] jmarrec commented on #1842
The measure you use, do they HAVE to be uploaded on BCL or can you use local measures?

[2015-09-08 15:23] macumber commented on #1842
You can use local measures, they are all uploaded to the EC2 computers when you start the cloud.

[2015-09-08 16:58] #1836 closed

[2015-09-08 17:00] evanweaver commented on #1135
Previously fixed, closed in Pivotal, but not in GitHub.  See https://www.pivotaltracker.com/n/projects/134010/stories/101286556

[2015-09-08 17:00] #1135 closed

[2015-09-08 17:01] evanweaver commented on #1547
Fixed via https://www.pivotaltracker.com/n/projects/134010/stories/102491628

[2015-09-08 17:01] #1547 closed

[2015-09-08 17:03] evanweaver commented on #1636
Fixed via https://www.pivotaltracker.com/n/projects/134010/stories/102621426

[2015-09-08 17:03] #1636 closed

[2015-09-08 18:14] DavidGoldwasser opened #1843 "Space Tab - Subsurfaces sub-tab in lets you make new spaces with green "+""
I assume the intent is to have this disabled?
@asparke2 or @macumber any thoughts on this.

![9-8-2015 11-32-41 am](https://cloud.githubusercontent.com/assets/4857055/9743352/17e96e12-5623-11e5-89aa-5c5313e4d43c.png)

[2015-09-08 18:16] asparke2 commented on #1843
Yeah, you shouldn't be able to create surfaces or subsurfaces.  I remember Marj talking about it, but not sure if it is specified in the design or not.  Basically, it is too difficult to create them accurately without a 3D view.

[2015-09-08 18:38] DavidGoldwasser opened #1844 "Space Tab - Shading Controls sub-tab"
@asparke2 and @macumber @evanweaver another one that may need some thought.

OpenStudio 1.8.5 lets you see and edit shading control objects. Everything has an "Apply to Selected" except for the Shading Control object. OS:ShadingControl is a shared resource. If you change the Shading Type or Schedule in one area it already changes everywhere else that shading control is used, even without the "Appl

[2015-09-08 18:40] MatthewSteen opened #1845 "Default low temp radiant variable flow setpoint schedules reversed"
In 1.8.5 and before the default schedules for the following fields causes an EP error which can be fixed by reversing the schedules or temps.

`Heating Control Temperature Schedule Name`

* `Var Vol Rad Htg Air Temp Sch` = 122F / 50C

`Cooling Control Temperature Schedule Name`

* `Var Vol Rad Clg Air Temp Sch` = 59F / 15C

From the IO Reference:

...The heating control temperature schedule specif

[2015-09-08 18:47] DavidGoldwasser opened #1846 "Space Tab - Daylighting Shelves"
We have drop zones for inside and outside shelf name, but the interior partition surfaces in "MyModel". To allow any editing of the objects we should allow users to re-assign or clear out the inside or outside shelf. Ideally we should also allow users to use this interface to make light shelves in the first place. currently this has to be done via a measure. Again not critical for 1.9.0, just wond

[2015-09-08 18:49] DavidGoldwasser opened #1847 "Space Tab - Shading sub tab is mising Shading Surface Name column"
Look like Shading Surface Name column is missing. If you have multiple shading surfaces in a space you won't be able to identify them from each other. Mainly important if you want to assign construction or transmittance schedule.

![9-8-2015 11-54-12 am](https://cloud.githubusercontent.com/assets/4857055/9744268/0fcffdfe-5628-11e5-8ff7-d77c93e7fbba.png)

[2015-09-08 19:14] macumber commented on #1843
Making spaces is ok I guess, but I would prefer to have it disabled

[2015-09-08 19:16] macumber commented on #1844
I'm not sure I understand what the issue is here?  Applying a shading control to all selected subsurfaces would make those subsurfaces use the shading control.  Editing the shading control in the inspector would affect all subsurfaces that use that shading control.  Is that what it does?

[2015-09-08 19:17] macumber commented on #1846
Would this be solved by adding Interior Partition Surfaces to the My Model list?

[2015-09-08 19:18] macumber commented on #1847
Agree

[2015-09-08 19:18] macumber commented on #1844
@rpg777 FYI

[2015-09-08 19:36] marj-schott commented on #1846
We were not going to have interior partitions editable until we have some 3D view for them. Not sure I totally understand this issue so maybe we should discuss sometime.

[2015-09-08 19:59] marj-schott commented on #1843
Disabled is what I had in the document in the write up part but in the outline it is a question mark so that explains the confusion. Here are the things I listed in the text part of the Facility Tab document as not yet editable.
"The user can’t add, copy, or delete:
Spaces
Surfaces
Subsurfaces
Shading Surfaces
Interior Partitions"

[2015-09-08 20:12] DavidGoldwasser commented on #1843
Link to related issue. It shows that the shading group section of facility tab lets you add shading groups (site or building, not space). It also lets you lets you change site/building to space which is bad.
https://github.com/NREL/OpenStudio/issues/1797

I would also put Interior Partition Group on this list (which I think is the current behavior). It is probably also a bad idea for THE GUI to mo

[2015-09-08 20:16] DavidGoldwasser commented on #1846
@macumber yes, that fixes half of the issue (I only want it in MyModel and not in Library. The other half is making a new light shelf object.

@marj-schott I don't wan to add or alter the geometry itself, just want to associate it with a light shelf object, ideally would have the ability to make a new light shelf vs. just alter one made by a measure.

[2015-09-08 20:22] DavidGoldwasser commented on #1844
@macumber and @rpg777 currently you can't apply a new shading control to a sub-surface. You can only alter the shading surface properties (globally) for any shading surfaces that using that shading control.

So if I have 2 different shading controls used for 20 sub-surfaces. If a specific sub-surface used shading control "A" and I either wanted to change it to use shading control "B" or to make a

[2015-09-08 20:31] evanweaver commented on #1843
@DavidGoldwasser please state explicitly what you want to accomplish with this bug.  Your most recent comment above appears to commingle 2 other issues which are dissimilar to "Please disable green + button on SpacesSurfacesGridView and SpacesSubsurfacesGridView" (which is what I believe you initially wanted).

[2015-09-08 20:41] DavidGoldwasser commented on #1843
@evanweaver I don't want the green "+" to make a new space. I didn't know if the intent was to have this disabled, or if it was supposed to be enabled, but to make a shading control object, frame and divider object, or light shelf, depending upon the current view. My reference to the other issue is related to the list of things @marj-schott says we should not be able to make until the next part of

[2015-09-08 21:15] macumber commented on #1846
I don't think you should be able to make a new light shelf in OS app at this point, it's too geometry focused.  Associating an existing object is fine.

[2015-09-09 14:27] jmarrec commented on #1842
Hum. I set up a dumdum building (4 zones), a new PAT project and used very simple measures (rotate building, etc.).

This actually ran on EC2 fine... No idea what's wrong with my other project

[2015-09-09 14:30] MatthewSteen commented on #1845
https://unmethours.com/question/9543/overlapping-heating-and-cooling-control-temps-in-radiant-system/

[2015-09-09 14:41] jmarrec commented on #1842
Hum. But even with the above I keep getting "Detailed Results will be Downloaded when ready" even after 45min after the runs have completed...

[2015-09-09 16:36] axelstudios commented on #1842
Yep, there's currently a bug with downloading detailed results: #1723

The workaround until it's fixed is to copy the OpenStudio-server public DNS address from the AWS console (e.g. http://ec2-xxx-xxx-xxx-xxx.compute-1.amazonaws.com) and download the detailed results manually from there.

[2015-09-09 17:30] macumber opened #1848 "Template files missing default constructions"
Template files for the SketchUp plug-in seem to be missing default glass door, overhead door, and skylight constructions.  Also missing TDD constructions in some cases.  May be an issue in the upstream https://github.com/NREL/openstudio-standards.  Causes simulations to fail which might be troubling for new users

[2015-09-09 18:49] DavidGoldwasser commented on #1848
May want to add to standards spreadsheet if not there, will have to dig to see if there is information for TDD's. Also we currently use same constructions for fixed vs. operable windows. Possible we may want to have different constructions for each.

cc: @asparke2

[2015-09-10 14:28] macumber opened #1850 "ResultsViewer images have poor image quality"
https://unmethours.com/question/11086/resultsviewer-saved-graphs-poor-image-quality/

[2015-09-10 23:36] MatthewSteen commented on #937
Had this happen in a 1.8.2 project with several models created from external file, all of which failed during the first fixed measure run (add daylight sensor to space type) but ran successfully in OS.

Updated the project to 1.8.5 and all models created from external file ran successfully.

[2015-09-11 17:37] evanweaver commented on #1757
Fixed via https://www.pivotaltracker.com/n/projects/134010/stories/101285900

[2015-09-11 17:37] #1757 closed

[2015-09-11 18:09] #1845 closed

[2015-09-11 19:09] #1610 closed

[2015-09-11 20:23] dstuder opened #1853 "Number of WaterHeater:Stratified Nodes Fixed at One"
It appears that the number of nodes is fixed at one for the WaterHeater:Stratified object. While the parameter can be manipulated in the OS App, the resulting .idf seems to always fix the number of nodes to 1.

I noticed this in a model where I indicated that the water heater had six nodes (via the OS App), but the .idf object has the "Number of Nodes" value set to "1".

[2015-09-11 20:24] dstuder commented on #1853
Am I missing something here, or is this a real (@mbadams5 or @kbenne?) issue?

[2015-09-11 20:32] mbadams5 commented on #1853
@dstuder no, there is a subtle bug in the forward translator I see now.

[2015-09-11 21:12] #1749 closed

[2015-09-11 21:23] DavidGoldwasser commented on #1846
We were able to add library objects to 1.9 to create shading controls and frame and divider objects, but not daylighting shelves. This is because a new daylighting shelf has to be associated with a subSurface and there is no setSubSurface method. The preferred solution to this seems to be to change the API to behave more like shading control and frame and divider.

This could jsut be adding a setS

[2015-09-11 21:24] DavidGoldwasser commented on #1844
Fixed with this ticket
https://www.pivotaltracker.com/story/show/103031006

[2015-09-11 21:24] #1844 closed

[2015-09-11 21:24] #1843 closed

[2015-09-11 21:26] DavidGoldwasser opened #1854 "DropZone2 (used in grid view) doesn't enforce correct object type"
Currently it accepts any kind of surface or sub-surface.

[2015-09-11 23:14] #1853 closed

[2015-09-14 16:16] #1543 closed

[2015-09-14 16:16] #1365 closed

[2015-09-14 16:17] #1604 closed

[2015-09-14 17:10] kbenne commented on #1005
I don't have the specific commit on hand, but I just checked and this was fixed somewhere along the line. I think I probably threw in a fix with something else. I'm going to go ahead and close.

[2015-09-14 17:10] #1005 closed

[2015-09-14 17:18] kbenne opened #1859 "IP unit errors"
Under Loads > Water Use Equipment Definition
the peak flow rate in IP units is CFM=> Should be GPM

Similarly, for the OS:LoadProfile:Plant object, peak flow rate should be GPM, not CFM.

[2015-09-14 18:05] #1859 closed

[2015-09-14 18:40] kbenne opened #1861 "Default BoilerHotWater::BoilerFlowMode"
The HVAC library has the boiler flow mode set to LeavingSetpointModulated and the default constructor sets the value to ConstantFlow. LeavingSetpointModulated requires a SPM on the outlet node. The HVAC templates are using the default "ConstantFlow". I don't think either is good.

I think the library should be "NotModulated". LeavingSetpointModulated is hazardous because you have to know what you'

[2015-09-14 18:43] kbenne commented on #1861
Before making any changes it is important to confirm behavior with analysis of time series data. Show some graphs about what is going on.

[2015-09-14 19:08] kbenne commented on #1861
I changed the hvac library here

https://github.com/NREL/OpenStudio/commit/ed494eb1e00045c2a5440ca11e02181b90586df8

[2015-09-14 19:10] kbenne opened #1863 "LoadProfilePlant default load schedule is incorrect"
The LoadProfilePlant constructor attempts to create a reasonable default load schedule but it is using the Time class incorrectly resulting in a constant 0 schedule.

[2015-09-14 19:12] #1863 closed

[2015-09-14 19:21] kbenne commented on #1358
Anyone know if this is still a thing? I'm pretty sure this is/was not specific to adding via measure.

[2015-09-14 19:23] kbenne commented on #1358
It looks ok to me, but I admit I did this through the UI.
![screen shot 2015-09-14 at 2 22 48 pm](https://cloud.githubusercontent.com/assets/707488/9859414/2544c5fc-5aec-11e5-9079-26a88e06c1e8.png)

[2015-09-14 19:24] kbenne commented on #593
Maybe we need to mark deprecated, but I am favoring SetpointManager::addToNode.

[2015-09-14 19:31] kbenne commented on #533
@DavidGoldwasser is this still a thing?

[2015-09-14 19:39] MatthewSteen commented on #1859
#1468

[2015-09-14 19:39] #470 closed

[2015-09-14 19:44] kbenne commented on #1468
@MatthewSteen you want to verify this yourself or can I close this based on the work I did on the other issue?

[2015-09-14 19:47] kbenne commented on #404
@DavidGoldwasser I think it is working now. Could have been inadvertently fixed in https://github.com/NREL/OpenStudio/issues/1468 but more likely it was fixed prior. Can you confirm that it is no longer an issue?

[2015-09-14 19:54] MatthewSteen commented on #1468
@kbenne no, I was just pointing out the duplication and it seems like an easy fix.

[2015-09-14 19:56] #1468 closed

[2015-09-14 20:32] asparke2 commented on #1358
@kbenne Still a thing.  1.8.5.  It seems to be specific to Mixed Air SPMs (your example uses a single zone reheat) on the OA system nodes.

![image](https://cloud.githubusercontent.com/assets/2009290/9861059/5044945c-5aed-11e5-8cff-ee8fa249eade.png)

[2015-09-14 20:33] asparke2 commented on #593
@kbenne agree, mark deprecated.

[2015-09-14 20:41] kbenne commented on #1358
Ah yes. In that case I think I know what is going on.

[2015-09-14 20:41] mbadams5 commented on #593
Is it not already marked deprecated? I thought I did that when I made the base class. Maybe I missed this one.

[2015-09-14 20:44] asparke2 commented on #593
@mbadams5 You are right, it's already [deprecated](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/Node.hpp#L69).  Closing.

[2015-09-14 20:44] #593 closed

[2015-09-14 20:54] kbenne opened #1866 "PlantLoop::remove doesn't work!"
Recent cleanups to make sure all connections get removed have made PlantLoop::remove get caught in a loop.

[2015-09-14 21:09] #1866 closed

[2015-09-14 22:03] #404 closed

[2015-09-14 22:05] DavidGoldwasser commented on #533
@kbenne both this and issue #532 are both still valid

[2015-09-15 15:05] jmarrec opened #1868 "PAT 1.8.5 hanging when running multiple simulations"
I've got an issue in PAT 1.8.5.

When I run all of my measures, only the Baseline finishes, the rest keeps hanging.

Weirdly enough, I tried removing all of my measures, and created only one. Both the baseline and this measure ran.

I tried adding again the other measures, and running only 3 of them at a time... Same problem, it keeps hanging, never finishes. (doesn't appear to even get to E+ runn

[2015-09-15 16:11] jmarrec commented on #1868
I've narrowed it down...
Basically, I went through the trouble of applying each measure in openstudio successively.

It turns out I have one measure that appears to be guitly, that applies a PSZ-HP system to each zone, and deletes the air loop and chiller loops and condenser loops if they end up empty.

 I believe it's something similar to this https://unmethours.com/question/11162/os-hang-up-when

[2015-09-15 16:20] ljbrackney commented on #1868
I'm curious if Kyle's fix for that issue will also fix this problem.

From: jmarrec <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, September 15, 2015 at 10:11 AM
To: NREL/OpenStudio <OpenStudio@noreply.github.com<mailto:OpenStudio@noreply.github.com>>
Subject: Re: [OpenStudio] PAT 1.8.5 ha

[2015-09-15 16:27] jmarrec commented on #1868
@ljbrackney: it does fail in "Apply now" also right now, so maybe it would fix it too.

I just uploaded a measure, a unit test file, and an example model, in case you want to play with it:

https://github.com/jmarrec/OpenStudioMeasures/tree/master/Add%20PSZ-HP%20to%20all%20Zones

[2015-09-15 16:43] kbenne commented on #1868
It does

On Sep 15, 2015, at 12:21 PM, L J Brackney <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm curious if Kyle's fix for that issue will also fix this problem.

From: jmarrec <notifications@github.com<mailto:notifications@github.com><mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com><mailto:reply@reply.git

[2015-09-15 16:49] jmarrec commented on #1868
Can I integrate the fix right now or should I just revert back to using 1.8.0 until the next release?

(Can you downgrade a model from 1.8.5 to 1.8.0 aside from manually changing the OS:Version in the text editor?)

[2015-09-15 17:49] macumber commented on #1868
If I understand correctly, this is fixed by @kbenne's commit and will be in the 1.9.0 Release Candidate builds available at the end of the week, right?

[2015-09-15 20:57] macumber opened #1869 "Schedules do not handle timeseries data that starts mid-day"
The EnergyPlus schedule formats do not allow for schedules that start mid-day.  We need to address this in the OpenStudio model objects as well as the translation to EnergyPlus schedules.  This will become more of an issue as we move towards calibrating models on real data.

@jasondegraw FYI

[2015-09-16 08:39] jmarrec commented on #1848
+1, definitely confusing for some people (https://unmethours.com/question/11202/simulation-failed-when-building-has-a-glassdoor/)

[2015-09-16 09:07] jmarrec opened #1870 "PAT 1.8.0 - An unhandled exception has occured - AnalysisDriver.cpp - Invalid Results"
I'm trying to change one measure, it's telling me it will clear results, and then crashes. If I click on "clear results" before I change the measure, it crashes just the same

![2015-09-16 11_06_30-pat](https://cloud.githubusercontent.com/assets/5479063/9900743/0e1e0f1e-5c63-11e5-95ae-df1e663ee07c.jpg)

By the way, my openstudio is not installed in `C:\Openstudio1.8.0` like the picture says

[2015-09-16 13:41] kbenne commented on #1868
My fix is merged to the develop branch so yes whenever that RC comes out we should have confirmation that this is taken care of.

[2015-09-16 14:39] jmarrec opened #1871 "BCL categories for components missing"
On the BCL website, there are a lot more of categories and subcategories than within OS App 1.8.0 "Find component".

![2015-09-16 16_34_55-online bcl-missing boilers etc](https://cloud.githubusercontent.com/assets/5479063/9907873/724f076c-5c91-11e5-90bd-8e9992c0b0b3.jpg)

All the components appear to be here though. For example, I cannot see the "Boiler" category under "HVAC" but I can still find

[2015-09-16 14:42] jmarrec commented on #1871
I guess it's because they don't have an OSM file associated?
https://unmethours.com/question/8133/how-do-you-download-hvac-equipmentcomponents-from-bcl-and-import-into-the-openstudio-application/

[2015-09-17 14:21] DavidGoldwasser commented on #1871
The type of components you can add using OpenStudio app from BCL is very constrained. Providing full support for BCL components from App would be good item for UserVoice.

[2015-09-17 14:23] DavidGoldwasser opened #1873 "Building Stories not exposed in "My Model" pane for Spaces > Property sub-tab"
Looks like property sub-tab of spaces tab doesn't show "Building Stories" in the "My Model" As a result I can't drag anything to the drop zones in the "Story" column. I don't think this is critical to 1.9.0, but if we end up making a new RC after this week may be worth fixing for 1.9.0. If not we could put in 1.9.1. Should I put this as minor issue on GitHub?

david_g [12:56 PM]
Work around is to

[2015-09-17 14:51] DavidGoldwasser opened #1874 "WaterHeater:Mixed is missing form My Model, prevents some user use cases"
https://unmethours.com/question/11246/setting-use-and-source-sides-of-waterheatermixed/

[2015-09-17 15:03] DavidGoldwasser opened #1875 "When you make a new schedule "Temperature" shows up twice in the Schedule Type list."
reported by @jmarrec

[2015-09-17 15:05] DavidGoldwasser opened #1876 "Inspector pick lists for schedules doesn't filter schedules by type"
You can see all schedule but it will only accept as a selection schedules of the correct type. It should only show you schedules that you can apply.

Filed by @jmarrec

[2015-09-17 15:11] DavidGoldwasser opened #1877 "Edit tab for many zone objects have an extra non-functional iink sub-tab"
I confirmed this on Water to Air HP, Unit Ventilator and Unit Heater.

![2015-09-17 09_49_24-os-1 9 0-3 links](https://cloud.githubusercontent.com/assets/4857055/9937021/fef6a5be-5d1b-11e5-921a-41c53fec1838.jpg)
screenshot from @jmarrec

[2015-09-17 15:14] DavidGoldwasser commented on #1877
It sounds like if any objects of a class of objects could have a water connection (or two) then all objects in that class have the link space even if they use gas instead of water. This could be cleaned up, but that explains the behavior.

[2015-09-17 16:14] macumber commented on #1868
@jmarrec can you confirm if this is fixed in 1.9.0 RC1?

[2015-09-17 16:15] macumber commented on #1870
That 'C:\Openstudio1.8.0' path is hanging around from the person that built that release.  Where did you get this installer from?  Is it the main 1.8.0 installer?

[2015-09-17 16:16] macumber commented on #1870
@jmarrec can you post a project somewhere so i can reproduce?

[2015-09-17 16:23] macumber commented on #1876
This is more like a feature request, this works as designed for now

[2015-09-17 16:37] jmarrec commented on #1870
This is the main 1.8.0 installer.
I'm pretty sure I ended up trashing this project and recreating from scratch...

[2015-09-17 16:39] jmarrec commented on #1868
Running it right now... will let you know in a minute

[2015-09-17 17:23] macumber opened #1878 "SDD export cannot compute floorprint"
Reported by Noah Pflaum, files in files repo

[2015-09-17 17:46] asparke2 opened #1879 "OS App creates simulation settings objects different from E+ defaults"
When you create a model is the OS app, the model does not have simulation settings objects.  When you go to the simulation settings tab, these missing objects get created.  The issue is that the settings in these objects don't match the E+ defaults for what happens if the objects are missing.

The symptom is that you can get very different results in a model without (knowingly) editing anything.

[2015-09-17 17:46] jmarrec commented on #1868
Confirmed, works as expected in both PAT and OS App's "Apply now"

[2015-09-17 17:46] #1868 closed

[2015-09-17 19:50] macumber commented on #1875
The reason is that we end up with two scheduletypelimits for temperatures, one with a lower limit of 0 and the other with no lower limit:

OS:ScheduleTypeLimits,
  {ea1155da-584d-4c58-a0b7-6df2253be363}, !- Handle
  Temperature,                            !- Name
  ,                                       !- Lower Limit Value {BasedOnField A4}
  ,                                       !- Upper Limi

[2015-09-17 19:50] macumber commented on #1875
We could include the lower limit in the getDefaultName method

https://github.com/NREL/OpenStudio/blob/f3087fd11d114541d35ea140f02ed9bd0e5de07d/openstudiocore/src/model/ScheduleTypeRegistry.cpp#L400

[2015-09-17 19:51] macumber commented on #1875
Or we could remove the lower limit for the "PipeIndoor", "Ambient Temperature" schedule:

https://github.com/NREL/OpenStudio/blob/f3087fd11d114541d35ea140f02ed9bd0e5de07d/openstudiocore/src/model/ScheduleTypeRegistry.cpp#L260

[2015-09-17 19:53] macumber commented on #1875
Looks like @evanweaver did PipeIndoor, Evan do you care about constraining this object to only use schedules with lower limit 0?  My vote would be to remove this lower limit in OS and let it crash in E+.

@kbenne @mbadams5 any thoughts?

[2015-09-17 21:51] asparke2 opened #1881 "Default constructor for PlantEquipmentOperation:OutdoorDryBulb has temp limits reversed"
After creating a PlantEquipmentOperation:OutdoorDryBulb, it looks like this:

[code]
Notice that the upper and lower limits are flipped.

Fix by changing these numbers:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/PlantEquipmentOperationOutdoorDryBulb.cpp#L61

[2015-09-17 21:52] asparke2 commented on #1881
@mbadams5 I think this is a super easy fix

[2015-09-18 13:56] jmarrec opened #1882 "OpenStudio ForwardTranslator doesn't check if bypass already exists on demand side of plantLoop"
I was just investigating how and when OpenStudio adds some adiabatic pipes to a plantloop.

I noticed that OpenStudio tends to add automatically some adiabatic pipes in the plant loops even if you didn't put any, including:
- Supply outlet pipe
- Demand inlet pipe
- Demand bypass pipe
- A Demand outlet pipe

Now, OS won't add the inlet/outlet pipes if you already have one in place, but it doesn't

[2015-09-18 14:17] evanweaver commented on #1875
@macumber I'll defer to Kyle and Mark.

[2015-09-18 18:34] mbadams5 commented on #1881
@asparke2 I think there is more to this than it seems. Some of the other PlantEquipmentOperations have the same pattern... [OutdoorDewpoint](https://github.com/NREL/OpenStudio/blob/88f177befc849b26d384b3f95a49b9bee9e564cd/openstudiocore/src/model/PlantEquipmentOperationOutdoorDewpoint.cpp#L67), [OutdoorRelativeHumidity](https://github.com/NREL/OpenStudio/blob/88f177befc849b26d384b3f95a49b9bee9e564

[2015-09-18 18:37] asparke2 commented on #1881
Hmm ok...I think set .addLoadRange method keys off of these initial values, so it matters if the initial constructors are.

[2015-09-18 18:49] DavidGoldwasser commented on #1879
Going to that tab adds this to my model

OS:RadianceParameters,
  {7155eeb0-4b8f-408e-ae78-a387c05ea188}, !- Handle
  1,                                      !- Accumulated Rays per Record
  0,                                      !- Direct Threshold
  1,                                      !- Direct Certainty
  1,                                      !- Direct Jitter
  1,

[2015-09-18 19:05] DavidGoldwasser commented on #1879
IDF's made from this are almost exactly the same (except fro order and a few UUID's) except for the following objects.

This object is in the newer IDF after going to the tab, but not in the first IDF at all, but based on Andrew's initial comment we now seem to be using the E+ result. Does EnergyPlus add this object on the fly if needed (if user has never gone to sim settings in OS)
ZoneAirHeatBal

[2015-09-18 19:05] #1879 closed

[2015-09-18 19:07] #1874 closed

[2015-09-18 19:10] #1873 closed

[2015-09-18 19:11] #1875 closed

[2015-09-22 13:41] jmarrec commented on #1433
Any update on this?

[2015-09-22 16:08] jmarrec opened #1884 "PTACs have different characteristics between library and OpenStudio::Model::addSystemType1"
I've looked at PTAC with DX cooling and Hot Water Coils, using `1.8.0`

Three choices:
1. `Cycling PTAC DX Clg HW Htg` from the HVAC Library
2. `PTAC DX Clg HW Htg` from the  HVAC Library
3.  PTAC created using the API `OpenStudio::Model::addSystemType1(model, zones)`

I wanted to see the differences, and some I can't explain:
- (3.) has a fan with 500 Pa whereas the two others have 250 Pa.
- (1.)

[2015-09-22 16:11] jmarrec commented on #1884
For the fan pressure rise it's hard set [here](https://github.com/NREL/OpenStudio/blob/89455bdd81f894a02f4f81dead44a000fc27cc64/openstudiocore/src/model/HVACTemplates.cpp#L195).

[2015-09-22 22:06] macumber opened #1885 "Running paegent seems to interfere with PAT cloud"

[2015-09-22 22:07] macumber commented on #1885
I remember seeing this before, @axelstudios does this ring a bell?  I turned off paegent and this worked again.

[2015-09-22 22:07] macumber commented on #1885
![9-22-2015 4-02-11 pm](https://cloud.githubusercontent.com/assets/1327850/10033036/128545f0-6144-11e5-8b11-e53c47ee6ccd.jpg)

[2015-09-23 14:32] axelstudios commented on #1885
I've never used pageant, so this isn't something I've run into

[2015-09-23 14:39] kbenne commented on #1884
I don't think there is a good answer beyond the fact that these have been added at different points in time with not enough scrutiny. @jmarrec don't you think this is one more reason to base the HVAC library on Measure?

[2015-09-23 14:42] kbenne commented on #1884
I'm confident @jmarrec knows this but for other people who may be following along, note that fan pressure can be changed to your own value from the OS App or from a Measure.

[2015-09-23 14:57] jmarrec commented on #1884
@kbenne : I kinda had a brief conversation on the side with @mbadams5, about what should be the default value for library equipment. In my mind, unless specified, it should be the current ASHRAE standard enforced by the majority of states but I realize this is ever changing and confusing, or better it would ask which standard you want to use.

I've been looking at the Prototype Building stuff (it'

[2015-09-23 15:06] kbenne commented on #1884
I just read the Slack conversation today. I think you guys echoed my thoughts pretty well. I have resisted advertising the fact the OS App "add HVAC System" almost follow ASHRAE standards, because as you are finding out now, they are not exactly compliant. Now that standards capability is coming along it is definitely time to reconsider how some of this works.

[2015-09-23 16:46] asparke2 commented on #1433
@jmarrec Yeah, this is almost done.  The raw OpenStudio-standards.xlsx spreadsheet will be pushed up to the [OpenStudio-Prototype-Buildings repo](https://github.com/NREL/OpenStudio-Prototype-Buildings/tree/master/create_DOE_prototype_building/resources) once it's ready.  The templates won't be updated in OS installers until 1.9.2 or so.

[2015-09-23 17:55] kbenne opened #1886 "Incorrect units for Refrigeration Walk-In Construction U-value"
https://unmethours.com/question/11354/refrigeration-walk-in-construction-u-value-input-error/

[2015-09-23 17:56] kbenne commented on #1886
This should take care of it https://github.com/NREL/OpenStudio/commit/ee6c426b7c6b1b4dc87226159ebe03a5d9602356

[2015-09-23 20:25] kbenne opened #1887 "Deleting a plant component can orphan a node"
When multiple plant components are in series between a splitter/mixer, removing the components can orphan the outlet node.

[2015-09-24 00:46] #1887 closed

[2015-09-24 07:51] jmarrec commented on #1433
As well as the OpenStudio_Standards_....json files? (Mark told me the prototype building for MidRiseApartment wouldn't be ready until much later, so I'm trying to get a head start on you :))

[2015-09-24 13:55] ljbrackney commented on #1433
I understand that all of the building types except for hospital and outpatient healthcare have at least been stubbed out within the measure.  So if you select mid rise, you will get a model.  It has not been debugged or validated against the IDF prototype though - that's work that is likely to happen in Oct-Dec.

From: jmarrec <notifications@github.com<mailto:notifications@github.com>>
Reply-To: N

[2015-09-24 14:37] DavidGoldwasser opened #1890 "Thermal Zone Floor Area isn't exposed in API"
We do expose thermal zone volume, but not thermal zone floor area. This would allow a work around for issue #561 related to stacked spaces

[2015-09-24 14:40] macumber commented on #1890
We also need to update the ThermalZone::floorArea method to respect this field.  Finally, we need to also handle Space::isPartOfTotalFloorArea.  My thought is if any space is not part of the floor area then we need to write the floor area field on translation to E+.

[2015-09-24 14:43] asparke2 commented on #1433
@jmarrec Yes, the .JSON files too.  We enter the data in the spreadsheet because it's easier to work with, but then export the spreadsheet to JSON because the diffs are nicer and it's easy to work with in Ruby.

[2015-09-24 14:47] jmarrec commented on #1433
Thanks for the answers, guys.

@ljbrackney  I'm going through the prototype stuff right now. Though you can't select Midrise, I see it's been indeed mostly "stubbed out". It's mostly there though a bunch of stuff hasn't been set, like the cooling sch and heating sch are zero for now, and it's absent from the prototype inputs.

[2015-09-24 14:49] asparke2 commented on #1433
If you're interested in helping with that building type, I can give you write access.  Also, give you access to the google spreadsheet that we use to edit the OpenStudio_standards file.  Will you be coming to Atlanta for ASHRAE next week?  If so, we could meet up and I can get you started.  Or at least we could grab a beer/.

[2015-09-24 14:56] macumber commented on #1890
We also need to make sure to convert all loads to total watts before combining floors.  Otherwise you could have 1 w/ft^2 upstairs and 2 w/ft^2 downstairs, those would not work well if you multiplied them by the total area.

[2015-09-24 14:59] macumber commented on #1890
Would be good if we can only set this field in E+ and not in OpenStudio, can this all be done in translation?

[2015-09-24 15:00] macumber commented on #1890
For the record, I think OpenStudio is pretty good at calculating floor area.  We have more problems in computing volume which is why the setVolume method is available.

[2015-09-24 15:00] evanweaver commented on #1890
@macumber, if you would elaborate on "respect", I'll take a look at implementation.

[2015-09-24 15:03] jmarrec commented on #1433
I think I am interested yes. I intend to built most of it anyways. (I'm not interested in creating the DOE prototype per se but something very similar - different goals, same path).

I'll be in Atlanta indeed, I'm game for a beer!

[2015-09-24 15:04] asparke2 commented on #1433
Cool, sounds good!  It's not a big conference so I'm sure we'll run into each other pretty quickly.

[2015-09-24 19:51] lincolnharmer opened #1891 "Application is freezing when trying to remove plantloop from model"
This is happening regardless of whether the plantloop has components attached to it or not. This is resulting in the AEDG HVAC measures hanging up also. I'm using v1.8.5

[2015-09-24 19:53] kbenne commented on #1891
Unless you are running into something else, your problem has been fixed [here](https://github.com/NREL/OpenStudio/commit/6da27c12ea4a541b40afeab0df793c12c868a700). I believe the latest 1.9.0 candidates include this fix.

[Mac](https://openstudio-builds.s3.amazonaws.com/1.9.0/OpenStudio-1.9.0.043ddbb575-Darwin.dmg)

[Linux](https://openstudio-builds.s3.amazonaws.com/1.9.0/OpenStudio-1.9.0.043ddbb57

[2015-09-24 19:55] lincolnharmer commented on #1891
thanks. let me check

[2015-09-24 19:55] #1891 closed

[2015-09-24 20:45] lincolnharmer opened #1892 "Application says "Drop Zone" instead of "Drop Space Type" in the space type tab"
found in candidate 1.9 version

[2015-09-24 20:45] lincolnharmer commented on #1891
did the trick

[2015-09-25 00:07] ranchhand6 commented on #1748
Any updates on this one?

[2015-09-25 07:49] jmarrec opened #1893 "1.9.0 Space tab: do not see inherited properties"
I've got a very simple setup: one space type (open office, created from your templates).

I've got one space:

![2015-09-25 09_44_56-space](https://cloud.githubusercontent.com/assets/5479063/10095484/70c94ba2-636a-11e5-88a0-b37e5a4d2ebd.jpg)

First, I didn't specify the space type, it's inherited from the building level, so I'd like to see this in green as it used to be.

If I move to the load, it

[2015-09-25 08:05] jmarrec opened #1894 "1.9.0 Turning off "Run for sizing period" yet it still seems to run them"
I switched off "Run Simulation for Sizing Periods", and yet it still appears like the sizing periods were used.

![2015-09-25 10_00_21-daylight off](https://cloud.githubusercontent.com/assets/5479063/10095771/90bc6866-636c-11e5-9497-3758632c5397.jpg)

    Calculate Air Heat Balance
    Initializing HVAC
    Warming up
    Calculating Detailed Daylighting Factors, Start Date=07/21
    Warming up

[2015-09-25 14:31] DavidGoldwasser commented on #1748
Sorry, I haven't resolved this yet, although I should point out that measures that change weather files won't work properly in the OS app or PAT when done at RunTime. You can run them in Apply measures now and on OpenStudio server.

[2015-09-25 14:41] DavidGoldwasser commented on #1894
@kbenne do you automatically turn on Run Simulation for Sizing Periods even if the user requests it, if we find the necessary object types are in the model.

@jmarrec in 1.9 Radiance is now implemented as a measure, although there are some radiance configuration settings still in OpenStudio. But to run Radiance you grab an OSM measure and put it into your workflow.

[2015-09-25 14:51] kbenne commented on #1894
Something like that but we need to revisit this. I think the logic is trying to be too clever. I believe there might be another issue filed on this but I'll have to look it up when I'm not traveling. This is a good thing to change right after a major release so we have time to work out the consequences.

On Sep 25, 2015, at 9:42 AM, David Goldwasser <notifications@github.com<mailto:notifications@g

[2015-09-25 15:33] MatthewSteen commented on #1894
#1472

[2015-09-25 15:35] MatthewSteen commented on #1893
Related to #1460.

[2015-09-25 16:06] DavidGoldwasser commented on #1894
Thanks @MatthewSteen, I'll mark this as a duplicate of #1472

[2015-09-25 16:06] #1894 closed

[2015-09-25 17:39] ranchhand6 commented on #1748
Hmm, Ok, we didn't know that.  The OpenStudio server case is the one we're interested in, in any case.

[2015-09-25 19:19] DavidGoldwasser commented on #1891
Great, I was having issues with SWH and HVAC AEDG measures when run on top of the prototype buildings. I didn't have a chance yet to investigate where the issue was, I had assumed it was related to the measures, but they run now in 1.9 :)

[2015-09-26 15:46] #1886 closed

[2015-09-29 15:10] macumber commented on #1748
@nllong @henryHorsey @brianlball FYI

[2015-09-29 15:20] brianlball commented on #1748
@ranchhand6, can you try running this again with server version 1.12.5 or higher?  This looks similiar to the regex issue we found in E+

[2015-09-29 15:38] DavidGoldwasser commented on #1748
@ranchhand6 I updated this measure to add a lot of runner logs. I it didn't have initial and finial condition, and it didn't have "return false" after errors. Here is the updated measure.
https://bcl.nrel.gov/node/82184

I then added a test using the USA_WA_Renton.Muni.AP.727934_TMY3 that runs fine. I did however notice that the .ddy file for this location doesn't have any design days, just looks

[2015-09-29 17:34] ranchhand6 commented on #1748
Excellent, thanks, we'll give it a go!

[2015-09-29 19:32] ranchhand6 commented on #1748
So, this is not working for some reason.  I'm not sure that I've got the right version.  When I click on the node in the link, I get a slightly changed measure.rb:

diff measures/ChangeBuildingLocation/measure.rb measures/ChangeBuildingLocation_old/measure.rb
127c127
<         ddy_list = /(Htg 99.6. Condns DB)|(Clg .4. Condns WB=>MDB)|(Clg .4% Condns DB=>MWB)/
---

This seems to be fewer changes t

[2015-09-29 19:43] DavidGoldwasser commented on #1748
There could be some delay. You will have to go and update the measure manually in the app. It should see the update and offer to let you download an updated copy.
https://unmethours.com/question/4762/how-do-i-know-if-any-of-my-bcl-measures-or-components-have-updates/

You should see a new argument for climate zone in the arguments section and code that sets the climate zone in the measure.rb file

[2015-09-29 20:15] ranchhand6 commented on #1748
OpenStudio doesn't seem to recognize an updated measure in the BCL.  I'll give it 24 hours and try again.

[2015-09-30 18:55] ranchhand6 commented on #1748
Could you please double-check that the right version of the software is available on the BCL website?  There are no differences between the version downloaded today versus yesterday and neither of them have the code snippet from your previous comment.

[2015-10-02 18:23] macumber opened #1895 "YearDescription assumes simulation starts on Jan 1"
https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/utilities/time/Date.cpp#L137

YearDescription should have an optional month and day field  that can be matched with the run period object in the model

[2015-10-05 15:36] evanweaver commented on #1555
Editable on the Site tab in 1.7.0.

[2015-10-05 15:36] #1555 closed

[2015-10-05 15:49] macumber opened #1896 "constructionId for SubSurface translated to Surface"
https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/gbxml/ReverseTranslator.cpp#L683

https://unmethours.com/question/11650/openstudio-gbxml-import-subsurface-constructions/

[2015-10-05 15:52] evanweaver commented on #1549
Implemented with applyCoarseSettings() and applyFineSettings().

[2015-10-05 15:52] #1549 closed

[2015-10-05 16:17] ranchhand6 commented on #1748
Perhaps you could tar up a version of this measure and send it to me in email?  Still no change on the website.  Thanks!

[2015-10-05 16:26] DavidGoldwasser commented on #1748
Sure, send me your email to OpenStudio@NREL.gov and I'll send it to you, but just for reference, what happens if you try to download it from here directly from the website vs. downloading it from within the Application. Odd that you are not seeing the update.

[2015-10-05 16:28] evanweaver commented on #298
Both the epw and ddy folders are now persisted.

[2015-10-05 16:28] #298 closed

[2015-10-05 23:10] eringold opened #1897 "Biquadratic curve min/max value edits not retained"
@kbenne because I believe you work on HVAC.

In OS 1.9 (Windows x64): edits to the min/max values of x/y in the Curve:Biquadratic object attached to OS:Boiler:HotWater (also OS:CoolingTower:VariableSpeed, but those are the ones I checked) appear editable, but are reset to 0/1 when leaving the edit pane.

[2015-10-06 15:40] DavidGoldwasser opened #1898 "When you copy a measure, the resulting measure has inadvertent space in display name."
This doesn't happen when you make a new measure, only when you copy an existing measure. It looks fine in the "Name" input of the "Copy Measure" dialog. It only affects the resulting measure.rb and measure.xml.

Making a new measure doesn't suffer this.

[2015-10-07 15:40] DavidGoldwasser commented on #1303
This should is duplicate of #1348 so should be closed. The feature request part of it to give an E+ measure access to the model has been added as demonstrated below. Just works in run section vs. arguments.
https://github.com/NREL/OpenStudio-PTool/blob/master/measures/advanced_rtu_controls_ems/measure.rb#L54-L60

[2015-10-08 23:23] ranchhand6 commented on #1748
So, we're trying to run the measure against our OpenStudio server and are getting the following error:

[23:13:44.865670 ERROR] Found error in state 'energyplus' with message ["/opt/rbenv/versions/2.0.0-p481/lib/ruby/gems/2.0.0/bundler/gems/OpenStudio-workflow-gem-f478f4e96700/lib/openstudio/workflow/jobs/run_energyplus/run_energyp
lus.rb failed with EnergyPlus Terminated with a Fatal Error. Check

[2015-10-08 23:39] brianlball commented on #1748
what version of the os-server are you using?
the latest is 1.12.13 which has OS 1.9.1.

[2015-10-08 23:46] ranchhand6 commented on #1748
Looks like it's a few back:

Version of OpenStudio Server: 1.11.0-rc3

It think it's OS 1.8.0 or so.

[2015-10-09 15:15] brianlball commented on #1748
can you try with 1.12.13?

[2015-10-11 18:54] ranchhand6 commented on #1748
I'll give it a go tomorrow.

[2015-10-12 16:49] ranchhand6 commented on #1748
Doesn't look like it worked.  Here's the error:

ubuntu@ip-10-170-154-160:/mnt/openstudio/analysis_4bc2ae74-0989-4721-ad62-8902b6332cb1/data_point_704c705c-e635-4b6a-9457-7ab8c6e34a41/run$ more eplusout.err
Program Version,EnergyPlus, Version 8.3.0-6d97d074ea, YMD=2015.10.12 16:46,IDD_Version 8.3.0
   ** Severe  ** IP: IDF line~29315 Object=CONTROLLER:MECHANICALVENTILATION, name=CONTROLLER MECHANI

[2015-10-12 16:52] ranchhand6 commented on #1748
Hmm.  Just noticed that the server version wasn't 1.12.13.  I'm using OpenStudio-spreadsheet to generate the servers.  Let me check my other methods to see if I have access to 1.12.13.

[2015-10-12 21:44] ranchhand6 commented on #1748
I am unable to test with 1.12.13.  I tried doing a 'git pull' on OpenStudio-server and going a 'vagrant up' on the server subdirectory, but the chef recipe didn't complete correctly.  I spent a little time trying to troubleshoot it but came up empty.

So, I downloaded the latest version of PAT and used it to throw a set of servers up into AWS.  This registered as 'Version of OpenStudio Server: 1.1

[2015-10-13 14:18] brianlball commented on #1748
send me your email at brian.ball -at- nrel.gov

[2015-10-13 18:56] DavidGoldwasser opened #1899 "Crash when viewing plant loop on user model"
I confirmed this on 1.9.1
https://unmethours.com/question/11836/crash-when-trying-to-view-hot-water-loop/

File is in unmethours post.

[2015-10-13 19:00] macumber opened #1900 "User has to specify at least one measure on alternate model in PAT"
Otherwise EDAPT XML won't export, should not have to do this if alternate model is the baseline.  Reported by Elizabeth Gillmor

[2015-10-13 20:22] rpg777 opened #1901 "Fix Radiance translator's reporting behavior"
When the RadFwdTranslator has a problem with a subsurface (e.g. cannot discern the transmittance), it merely reports a warning, fails to translate the object, and moves on (leads to mildly annoying -- to severely problematic -- Radiance simulation errors down the line). Translator should report the issue as an error, and throw an exception.

[2015-10-14 19:59] macumber opened #1902 "LayeredConstruction::visibleTransmittance doesn't work on multiple layer constructions"
https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/LayeredConstruction.cpp#L583

[2015-10-14 19:59] macumber commented on #1902
Need to query sqlfile for this information

[2015-10-15 15:05] DavidGoldwasser opened #1903 "Bad URL comes up on first launch of SketchUp plugin"
http://nrel.github.io/OpenStudio-user-documentation/next_steps/sketchup_plugin_interface/

[2015-10-15 15:49] DavidGoldwasser commented on #1903
Looks like the url is in 2 html and 2 .rb files in the plugin
https://github.com/NREL/OpenStudio/search?utf8=%E2%9C%93&q=http%3A%2F%2Fnrel.github.io%2FOpenStudio-user-documentation%2Fnext_steps%2Fsketchup_plugin_interface&type=Code

[2015-10-15 17:27] macumber commented on #817
Looks like this output variable might be useful:

Zone,Average,Site Day Type Index []

http://bigladdersoftware.com/epx/docs/8-0/input-output-reference/page-008.html#site-day-type-index

[2015-10-15 21:20] DavidGoldwasser commented on #1899
User has reported that re-build model doesn't crash. I have asked him to post that model as a comparison.

[2015-10-15 21:49] DavidGoldwasser commented on #1899
I have a crash in K12 modeling I'm working on using some new HVAC objects. It crashes in heat pump loop. Not when you first go to it, but when you scroll down. It is fine for teh first six coils on demand side, but crashes before the 7th.

For the first 6 coils I can click and edit them without any issues. file is in.osm in this directory.
https://github.com/NREL/OpenStudio-files/tree/master/Git%2

[2015-10-15 23:01] macumber commented on #817
There is also a DayType field in the Time table of the SQL output, you could find the first non-holiday and determine an assumed year from that, you would also have to scan for 2/29

[2015-10-16 11:36] pachi opened #1904 "Linux installer: use less restrictive dependencies for the ruby runtime and library (available in current repos)"
The current OpenStudio 1.9.1 installer needs additional dependencies but for current Ubuntu (15.4) one of them (Ruby2.0) is not available without requiring a backport (current release has Ruby2.1).
Could it be possible to set that dependency (and others in general) as accepting other micro-releases? So this would mean that, instead of requiring ruby2.0 it would require ruby2.x?

[2015-10-16 14:06] macumber commented on #1904
@nllong @axelstudios any thoughts?

[2015-10-16 14:31] nllong commented on #1904
it is caused by this [line](https://github.com/NREL/OpenStudio/blob/develop/OpenStudioCPack.cmake#L35). I would like to find a way to relax the requirement because I experienced similar issues when running a newer openstudio on Ubuntu 12. Not sure that I have an answer right now. Maybe a suggestion would be to have this be conditional based on linux flavor?

[2015-10-16 14:52] macumber commented on #817
I would also like to fix this bug as part of this, https://github.com/NREL/OpenStudio/issues/1895

If we allowed year description to have a month and day then we could find the matching year for the first non-holiday in the time table

[2015-10-16 14:52] macumber commented on #817
@jasondegraw would you be ok taking this bug?

[2015-10-16 16:17] jasondegraw commented on #817
@macumber Yes, I can take it.

[2015-10-16 16:36] aaron-boranian opened #1905 "Crash when clicking on Solar Flat Plat Collector in Plant Loop"
I'm trying to create a simple model to test water-to-water heat exchangers connecting heat transfer from a solar thermal loop to a water tank. If I model an ICS plate, I can click on the object and edit inputs fine. If I model a flat plate, when I try to click on the object the OS app crashes.

I've tried attaching the models as *.osm and *.txt files, but apparently I need "write" access to do so.

[2015-10-16 19:26] macumber commented on #1905
Thanks @aaron-boranian , can you post a link to a file via dropbox or something?

[2015-10-16 19:31] aaron-boranian commented on #1905
... probably should have thought of that sooner :)

@macumber , you can find a Google Drive link to the files [HERE](https://drive.google.com/folderview?id=0B_SyIwm6jC9Mc1JSQTNtaUsxY0E&usp=sharing)

[2015-10-16 19:32] macumber commented on #1905
Great, I'll put these in our testing repo, thanks!

[2015-10-16 20:32] asparke2 opened #1906 "Standard Report fails on model with zones with apostrophes in name"
1. Create a model
2. Put a ' in the name of the zone
3. Fails on performing a sql query

This may be true of other characters as well...probably should escape the queries somehow.

[2015-10-16 21:02] kbenne opened #1907 "Enable Design OA spec on terminal"
We have the design oa spec, and we support all of the E+ terminals now, but there is one configuration where the design oa spec can be attached directly to the terminal as opposed to the zone. Please support this case in OS.

[2015-10-16 22:18] mbadams5 commented on #1906
@asparke2 Do you know if this is specific to OS? If you manually run the query outside of OS App (or measure) does it work?

[2015-10-18 17:14] pachi commented on #1904
The problem is restricting to libruby2.0 and ruby2.0 as they are only used by somewhat old Fedora releases (19 and 20), while most other distros, and specially the .deb based ones use now ruby 2.1.

Given that Ruby versions in the 2.x series should be backwards compatible, and that ruby.org tags 2.0, 2.1 and 2.2 as "old stable", "previous stable" and "current stable", allowing any Ruby 2.x runtime

[2015-10-18 18:01] pachi commented on #1904
Trying to find how the other dependencies fit in different distros I've found the "whohas" package very useful. You can ask it for any package name (with or without version) and it shows which distributions have it. For instance:

    pachi@PACHI-DEBIAN:~$ whohas libboost-thread1.55.0

shows:

    Ubuntu      libboost-thread1.55.0                  1.55.0-1           26K             all

[2015-10-19 15:01] axelstudios commented on #1904
@macumber It may be possible to remove those two Ruby dependencies entirely.  Now that we package Ruby 2.0 for linux, we might be able remove those and have the toolfinder default to our version rather than /usr/bin/ruby2.0 and /usr/bin/ruby.  I can't remember if we had a good reason to continue using the system versions...

[2015-10-19 15:27] macumber commented on #1904
I think I was confused, I thought we were talking about build time dependencies, are we talking about install time dependencies?  @pachi you are hitting issues when you try to install the OpenStudio debian package?  If that is the only case then I think it would be ok to remove the installer dependencies, would be interesting to test if the system Ruby 2.1 is compatible with our binaries.

[2015-10-19 15:29] macumber commented on #1904
Rather than add additional versions of Ruby I'd think we want to just remove any dependency on system Ruby right?

[2015-10-19 15:29] macumber commented on #1904
We may have been defaulted to system Ruby so @nllong could access gems that he installed?

[2015-10-19 16:28] asparke2 commented on #1906
@mbadams5 The raw sql query fails too (I loaded eplusout.sql file into SQLite manager and tested).

[2015-10-19 19:02] pachi commented on #1904
Yes, I was talking about install time dependencies, as ruby20 and libruby20 is not available in any recent ubuntu or debian systems.

[2015-10-19 20:35] kbenne opened #1911 "Add support for E+ 8.4"

[2015-10-19 20:39] pachi commented on #1904
Could it be possible to bundle all those dependencies, excepting the libqt5 ones, with the distributed packages? The Boost and Ruby packages are not very big and bundling them would make easier installing the openstudio .deb package in almost any linux distro (the alien tool probably could convert it to RPM for Red Hat derived distros).
Projects like LibreOffice bundle the interpreters they use (P

[2015-10-20 15:15] DavidGoldwasser commented on #1906
Is there way to alter the sql query to have this work with just change in OS? or does there need to be a change in E+.

[2015-10-20 15:16] asparke2 commented on #1900
Was also reported by Yijia Wang

[2015-10-20 15:26] mbadams5 commented on #1906
@DavidGoldwasser This seems specific to OS. We need to escape the apostrophe when querying with it. Instead of string literals ('') we could use double quotes ("") which should avoid this issue or you can escape an apostrophe by putting another (') in front of it. So it would be `'it''s'` instead of `'it's'`.

[2015-10-20 15:44] asparke2 commented on #1906
It would be ideal if the methods like sql::execAndReturnFirstDouble(query_string) would escape the query_string for you before running the query so that every person who writes a query doesn't have to re-create this in Ruby or whatever.  In some languages, there are built-in methods to do this, not sure if our C++ library has one or not.

[2015-10-20 15:51] macumber commented on #1526
Here is an image to help explain the issue here.  Basically when floor/ceilings reference constructions that are reversed from each other it is difficult to assign an area to each construction without over counting the total area.  As far as I can tell, EnergyPlus does not report total area of each construction, either in the EIO (using Output:Constructions,Constructions) or in the html (Envelope

[2015-10-20 15:51] macumber commented on #1526
@asparke2 @DavidGoldwasser can you weigh in on this?

[2015-10-20 15:57] macumber commented on #1526
Finally, there are cases where the conflict resolution in the [ForwardTranslator](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator.cpp#L3037) is different than in the [Surface::construction method](https://github.com/NREL/OpenStudio/blame/develop/openstudiocore/src/model/Surface.cpp#L153).  This is because calling surface.construction will not change

[2015-10-20 16:01] macumber commented on #1906
Some queries do this for you when they are building a query and know which parts of it are the zone name.  It gets to be a pain because you may also have to capitalize names, I could see blindly escaping a user query but not capitalizing it for them

[2015-10-20 16:41] MatthewSteen commented on #1900
@yijiawang

[2015-10-20 17:49] DavidGoldwasser commented on #1526
At some point I thought worked without an error. If surface was matched it counted as half of the area. There was logic added to pre-determine some of the mirrored constructions like what would happen for an attic floor at Forward translation. This gave better pre-translation numbers and also better render modes. Maybe that is when the errors came in?

Also used in the plugin, and in some jsonwork

[2015-10-20 18:27] macumber commented on #1526
@DavidGoldwasser how many of the use cases in measures are in reporting measures and could use data from output?  How many need to know the actual area used vs just if it is used at all?  I saw some code like if 'construction.getNetArea > 0'

[2015-10-20 18:53] macumber commented on #1526
I just confirmed that if you use E+ to cost the constructions in the example above you will double count the roof and ceiling (they are counted separate) but it does not double count the wall construction.  This appears to be an E+ bug according to the documentation for [ComponentCost:LineItem](http://bigladdersoftware.com/epx/docs/8-3/input-output-reference/cost-estimating.html#componentcostlinei

[2015-10-20 18:55] macumber commented on #1526
Scratch that, we are converting cost per area of construction to hard costs so this is our bad :-)

[2015-10-20 18:58] #1900 closed

[2015-10-20 20:24] DavidGoldwasser commented on #1526
@macumber I think it is only used where I nee the value in a handful of places, which includes our standard report. I would like it to work from input vs. output so it can be run as an apply measure now, but I could just loop through all planer surfaces, and create a hash of constructions adding to the hash value for that key each time I see a surface using a specific construction.

EnergyPlus lis

[2015-10-20 21:07] #1902 closed

[2015-10-21 04:59] macumber commented on #1526
If you loop over the surfaces like that you are going to double count the construction area of interior surfaces

[2015-10-22 15:31] macumber commented on #1737
@henryHorsey this is fixed right?  Can we close it?

[2015-10-22 15:42] macumber commented on #1734
The RunManager tools dialog is going to be deprecated in the next year so I think we should just close this as won't fix

[2015-10-22 15:42] #1734 closed

[2015-10-22 15:54] macumber opened #1915 "OpenStudio App loses weather file"
Reported by Elizabeth Gillmor, save as and update version may be related.  Symptom is that OSM which used to run correctly suddenly fails because weather file is missing.

[2015-10-22 16:07] macumber commented on #1915
I see two things that are odd in user's file; the WeatherFile object in your OSM is pointing to an absolute path instead of a relative one, the second odd thing is that the absolute path is pointing to the weather file in a different project.  If you delete your old OSM that might be breaking the new OSM, do you think that deleting old projects might be what is breaking your current project?  I’m

[2015-10-22 16:10] macumber commented on #1915
This could be happening if weather file is not found: https://github.com/NREL/OpenStudio/issues/138

[2015-10-22 16:13] macumber commented on #1915
https://github.com/NREL/OpenStudio/blob/3b0d232b5f99a2a331804a8f9762f32a99b1a56b/openstudiocore/src/openstudio_lib/LocationTabView.cpp#L552

[2015-10-22 16:19] macumber commented on #1915
I'm guessing that updateModelTempDir is somehow not being called after setting the weather file

[2015-10-23 13:24] EnergyExpert opened #1916 "Open Studio does not provide an error message when running VRF systems without cooling or heating schedules."
When performing a simple 5 zone VRF job in Open Studio I noticed that the job ran but that the cooling and heating kwh and the zone sizing reports were all providing unusual results.  As I began to investigate I discovered that the job had run even without an assigned heating and cooling setpoint schedule.  This error should be caught during runtime.

[2015-10-23 14:08] lrebello opened #1917 "Bug Report - Thermostat"
Today I was running a simulation on OpenStudio and I faced a bug when I removed one of the thermostats from a specific thermal zone. OpenStudio took out all the thermostats that had the same name, eventhough they were in different thermal zoner.<br><br>To fix that, I had to open the SketchUp file and select all thermal zones I wanted the thermostat back, click on the tab Set Attributes for Selecte

[2015-10-23 14:53] DavidGoldwasser commented on #1917
Will close this as a duplicate of issue #123

[2015-10-23 14:53] #1917 closed

[2015-10-23 14:56] DavidGoldwasser commented on #123
@kbenne and @macumber maybe we can look at this for 1.10? Still coming up
https://unmethours.com/question/12156/bug-report-thermostat/

[2015-10-23 16:02] asparke2 commented on #1899
@kbenne another report of this bug from G14.  "Model crashing HW loop.osm" in the folder David referenced above.

[2015-10-23 16:04] kbenne commented on #1899
Oh yeah. Definitely need to get this fixed. Let me get the 8.4 update out...

[2015-10-23 17:05] DavidGoldwasser commented on #1916
@asparke2 and @kbenne do you think this is more related to pre-flight check  or QAQC report vs. something we should catch at run time.

[2015-10-23 17:55] macumber commented on #123
Is the proposed fix known or does that still have to be thought through?

[2015-10-23 18:55] DavidGoldwasser commented on #123
There are a few options that have been discussed
1. Get rid of any concept of thermostats in our templates and in the plugin. The "Space Attributes" dialog would have fields for heating stepping and cooling setpoint in place of a thermostat.
2. In the OS app if you someone tries to alter a shared object we can make it unique. @macumber I think this is what you did for this object (https://openstud

[2015-10-24 17:28] lrebello commented on #1917
Understood. Thanks for letting me know

2015-10-23 12:53 GMT-02:00 David Goldwasser <notifications@github.com>:

[2015-10-26 15:54] DavidGoldwasser opened #1919 "ZoneVentilation:DesignFlowRate won't work on zones without any zone equipment."
Currently If using on building without HVAC (or with Ideal Air Loads) I need to add in a dummy exhaust fan with CFM = 0 to avoid these errors.

Severe IP: IDF line~1632 Object=ZONEHVAC:EQUIPMENTLIST, name=STORY 2 CORE ZONE EQUIPMENT LIST, Required Field=[Zone Equipment 1 Object Type] was blank.
Severe IP: IDF line~1632 Object=ZONEHVAC:EQUIPMENTLIST, name=STORY 2 CORE ZONE EQUIPMENT LIST, Required

[2015-10-26 18:43] DavidGoldwasser commented on #1919
Just to add some detail. Instead of having the user manually add exhaust to seed model I added code to add exhaust object to the measure I'm working on. If the exhaust is added after ZoneVentilation it still fails. If I associate the exhaust with the zone first and then the zone ventilation, it runs. I assume it should run with either configuration, as well as with zone ventilation only.

[2015-10-28 19:29] kbenne opened #1921 "Add water to water heat pump"

[2015-10-29 10:21] jmarrec opened #1923 "ElectricalLoadCenter:Generators is missing"
I'm using 1.9.2 and have been playing with Photovoltaic.

I saw there's a sketchup plugin measure "Add Photovoltaics", I believe from @macumber . It renders and everything, but it's missing a critical object: `ElectricalLoadCenter:Generators` which is especially where you define the wattage of the array.

Right now when you add a generator to an `Electricloadcenter:Distribution`, it uses an `OS:Mo

[2015-10-29 10:41] jmarrec commented on #1923
Hum, the OpenStudio::Model::GeneratorPhotovoltaic has a [ratedElectricPowerOutput](https://openstudio-sdk-documentation.s3.amazonaws.com/cpp/OpenStudio-1.9.2-doc/model/html/classopenstudio_1_1model_1_1_generator_photovoltaic.html#aa527ec48b8bfc879fbb4f8f9dddbea1e) (and the OpenStudio::Model::Generator also has a ratedThermalToElectricalPowerRatio)

Did you just choose not to create an `OS:Electric

[2015-10-29 14:40] DavidGoldwasser opened #1924 "SketchUp Plugin doors default to "glass door" vs. door"
As a user pointed out, this causes issue because we don't have a glass door in our construction set, but it also changes the solar gain vs. a opaque door.
https://unmethours.com/question/12334/glass-door-as-the-default-door-but-with-problem/

@macumber I don't think we have messed with this code in a while.

[2015-10-29 16:05] AWintersmith opened #1925 "GBXML Export Uses wrong Coordinate Geometry"
I’m using Open Studio v1.9.

When exporting as GBXML is appears Open Studio does NOT comply with the published GBXML Schema, in particular the Coordinate Geometry. The official schema calls for a Decimal format and not floating point. In reviewing the GXML is is ovbious that floating point has been used and this violates the schema.

This prevents the GBXML file from importing to Energy Pro v6.6.

[2015-10-29 16:26] macumber commented on #1925
Thanks @AWintersmith, I was unaware of this issue.  @chiensiTB FYI

[2015-10-29 16:36] macumber commented on #1923
That's right @jmarrec I think I just need to improve the documentation on these objects

[2015-10-29 17:58] AWintersmith commented on #1925
It appears to occur when the coordinate is very close to zero.
My manual fix to date has been to override these values to zero. Perhaps this is the appropriate fix for the software as well.

[2015-10-30 02:22] macumber commented on #1924
I bet the change is related to any changes in construction->isFenestration:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/SubSurface.cpp#L756

[2015-10-30 08:18] jmarrec commented on #1923
@macumber, what I was surprised with in your sketchup plugin measure is that nowhere there's rated power of array defined.

It's actually not a required field for EnergyPlus, and it makes sense.

Surface Net Area * Area Covered with Cells * Efficiency of simple generator * Solar irradiance

[2015-10-30 08:18] #1923 closed

[2015-10-30 11:38] jmarrec opened #1928 "Unable to assign thermalZone to Inverter"
Not sure why assigning a thermal zone to an inverter doesn't work...

[code]

Same result with `OpenStudio::Model::ElectricLoadCenterInverterLookUpTable`

[2015-10-30 14:48] macumber commented on #1928
Yeah I think I see the issue, [this line](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/resources/model/OpenStudio.idd#L24386) should be `\object-list ThermalZoneNames` instead of ZoneNames.  I see this is also an issue in OS:Controller:OutdoorAir humidistat control zone.  I'll fix this in the E+ 8.4 branch that I am merging today, will be in 1.9.3.

@kbenne @evanweaver FYI

[2015-10-30 15:09] #1907 closed

[2015-10-30 15:24] rpg777 opened #1929 "Radiance Measure flails when initial E+ run fails."
If the E+ pre-process run (for the Radiance fwd translator) fails, the resulting project directory is jacked up and the measure cannot continue. The osm cannot be run any longer, even when clearing out the run directory. Radiance measuure needs a test for successful completion of E+ pre-process, at a minimum.

[2015-10-30 15:56] rpg777 opened #1930 "Support switchable glazing in Radiance Measure"
Add support for the switchable glazing type in the Radiance bits. See also: https://github.com/NREL/OpenStudio/commit/44a0d71c22ffdd09f8325f25c4c4c1f81185aa5e

[2015-10-30 20:32] macumber commented on #932
@DavidGoldwasser I think this is closed, can you confirm?

[2015-10-30 20:36] macumber commented on #628
Any file selected should be copied into the current analysis’s files directory and the file should be referenced by name only.  If the file chosen has the same name as a file already in the files directory, the user should be prompted to overwrite or rename the file.

[2015-10-30 20:39] macumber commented on #1399
http://openstudio.uservoice.com/forums/308629-openstudio/suggestions/9099415-add-multi-choice-arguments-for-measures

[2015-10-30 22:58] macumber commented on #1526
Looks like the main thing this would affect in OpenStudio core is the translation of construction costs to total costs

[2015-11-02 08:29] pachi commented on #1904
Recently released distros (ubuntu wily or debian sid) have also migrated from libboost1.55 to libboost 1.58, so removing this install-time dependency would make things smoother for them too.

[2015-11-02 14:17] #1921 closed

[2015-11-02 23:17] macumber commented on #1526
@DavidGoldwasser I can think of two other solutions instead of removing this method.

The first is to simply double count area for interior surfaces (e.g. count area of front and back sides).  This would support costing floors and ceilings (typically you would cost only one or the other of these) but you would over cost interior walls.

The second is to avoid double counting area if both surfaces

[2015-11-03 18:44] andrulis opened #1932 "PAT XML Export is missing cash flow results in 1.9"
It seems the upgrade to Energy Plus included with OS 1.9 has broken the Xcel EDA Reporting and QAQC measures reporting of the life-cycle costs.  When examining the Results.xml file generated from PAT,  the cash flows are all 0 even though the PAT UI is showing non-zero results.