[2015-11-03 19:20] asparke2 commented on #1932
@andrulis Can you clear the results and send me a .zip of the PAT project directory?

[2015-11-04 13:23] chrisbalbach commented on #1932
Andrew / Rich:

You both should have received a dropbox link to a zip file of what was requested below.

Let me know if you have issues.

Thanks,

_Chris

From: asparke2 [mailto:notifications@github.com]
Sent: Tuesday, November 03, 2015 2:20 PM
To: NREL/OpenStudio
Subject: Re: [OpenStudio] PAT XML Export is missing cash flow results in 1.9 (#1932)

@andrulis<https://github.com/andrulis> Can you cl

[2015-11-04 15:53] DavidGoldwasser commented on #1526
@macumber just to take things back a bit to the original warning. I always thought this was an inadvertent warning. It should just be checking if the two constructions are mirrors of each other. (which they are in our model). and if they are it should leave them alone. How is area even getting into this check?

[openstudio.model.ConstructionBase] <1> Could not resolve matched surface construction

[2015-11-04 17:27] asparke2 opened #1933 "Standard Report fails on models with Schedule:Year objects used in the thermostat"
If you have a thermostat with a schedule:year used, the measure fails.  This isn't likely to happen via the GUI.  The model that exhibits this issue is from CBECC-Com.

I think the solution is to change this line:
https://github.com/NREL/OpenStudio/blob/5c16ad12b27e371c869d52ba73848c09953c5b27/openstudiocore/src/pat_app/Measures/StandardReports/resources/os_lib_schedules.rb#L89

from:

result = ni

[2015-11-04 18:12] asparke2 commented on #1932
@andrulis @chrisbalbach This issue is happening because you are using quite an old version of the "Xcel EDA Reporting and QAQC Measure" which didn't export the cash flows.  Download a newer version from the BCL, then click "Sync Measures with Library" in PAT to update this PAT project.

[2015-11-04 18:12] #1932 closed

[2015-11-04 19:08] DavidGoldwasser commented on #1933
Solution for this will be to make the reporting measure leave blank values for thermostat temperature range if users don't use ruleset schedule vs. failing which is what happens now. This way the measure measure will run, but the table will just have a few blank cells.

We could use API to get min-max range for other schedule types, but I'd like to avoid that.

[2015-11-04 20:32] macumber commented on #1526
Well that is not the issue though @DavidGoldwasser.  This is from calling getNetArea in the reporting measure.  If there is a floor construction and a ceiling construction and they are mirrored copies of each other, what should getNetArea return for both?

[2015-11-04 22:53] asparke2 opened #1936 "Controller:WaterCoil node references not cleaned up on airloop edit"
Issue came from the latest comment to the answer in [this Unmet Hours Post](https://unmethours.com/question/1566/severe-error-caused-by-controller-mechanical-ventilation-openstudio-150/)

1. Create a model with a template PVAV
2. Delete the Fan:VariableVolume
3. Add a Fan:ConstantVolume in the same place
4. Fails with error:

    ** Severe  ** HVACControllers: Missing temperature setpoint for cont

[2015-11-04 22:58] asparke2 commented on #1936
Files have been added to [OpenStudio-files](https://github.com/NREL/OpenStudio-files/tree/master/Git%20Issue%20Files/Issue%201936).  `Template HVAC.osm` is the model saved after step 1 above, `Template HVAC VAV to CAV.osm` is the model saved after step 3.

[2015-11-04 23:04] asparke2 commented on #1936
## Temporary Workaround

1. Determine the correct name of the water coil outlet node

![step1](https://cloud.githubusercontent.com/assets/2009290/10954918/a0d928c2-830d-11e5-9b90-f24ca514fb80.png)

2. Set the water coil controller to reference this node

![step2](https://cloud.githubusercontent.com/assets/2009290/10954924/a59311d4-830d-11e5-9cf2-dd29ef952722.png)

[2015-11-05 04:44] macumber commented on #1904
@axelstudios and I discussed this and both of us lean towards static linking boost on Ubuntu (the only platform we don't do this on).  That way OpenStudio would not care what version of boost was on the system. However, @lefticus always recommended we do not do this, he knows a lot more about Linux than I do, maybe he can chime in?

PS: @axelstudios has played with this a bit and I think he ran in

[2015-11-05 05:27] DavidGoldwasser commented on #1526
@macumber what do we do for interior walls where the same construction is used on both sides? No warnings are thrown for the walls. Do we double count the matched walls or divide the calculated area for the two surfaces in half?

[2015-11-05 10:33] pachi commented on #1904
IMHO, building libboost as a static library is not the solution, as maybe it's not designed to work that way. Instead, the path to the runtime libraries should be set, either using LD_LIBRARY_PATH or, better, using rpath and building the application with the LD_RUN_PATH variable set (e.g. LD_RUN_PATH='$ORIGIN/lib' and bundling these .so libraries in lib/). See this post for further information htt

[2015-11-07 02:05] macumber opened #1939 "Calibration queries do not work without variable request workaround"
The following code will fail to return a value for the modelConsumption unless the last 5 output variables are present in the issue file, these are related to the [workaround code](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/runmanager/lib/EnergyPlusPreProcessJob.cpp) that was added to address #1699

[code]

[2015-11-07 02:11] macumber commented on #1939
@mbadams5 FYI

[2015-11-07 02:13] macumber commented on #1939
I can see timeseries in resultsviewer in both cases so I am not sure if this is an E+ issue or an OpenStudio one.

[2015-11-07 17:16] brianlball commented on #1939
@nllong @henryHorsey Should the workflow-gem run this E+preprocess code now?

[2015-11-08 00:14] nllong commented on #1939
i can add this. @macumber, you are talking about this right (https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/runmanager/lib/EnergyPlusPreProcessJob.cpp#L276-L525 <https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/runmanager/lib/EnergyPlusPreProcessJob.cpp#L276-L525>)?

Thanks

[2015-11-08 00:26] macumber commented on #1939
It's more 150-240 and 502-519 but ideally the whole thing should be duplicated

[2015-11-08 16:17] mbadams5 commented on #1939
I'm curious why the workaround is still needed when using E+ 8.4. It should be fixed.

[2015-11-09 16:32] rHorsey commented on #1939
If it's not a problem that would be great, but otherwise I can add it into the workflow gem, if Nick hasn't already.

[2015-11-09 17:33] #1899 closed

[2015-11-09 20:37] nllong commented on #1939
okay, i think we fixed this issue now. it was more than what is in the EnergyPlusPreProcessJob.cpp. After adding in these (https://github.com/NREL/OpenStudio-workflow-gem/commit/323cfd27a07c4f5cff14016b76c02f95a5fb41f1), the report seemed to show up.

[2015-11-10 15:04] nllong commented on #1939
And it appears that I only fixed it for EnergyPlus 8.3. EnergyPlus 8.4 on the server is still not working right.

[2015-11-10 15:52] brianlball commented on #1939
@macumber, what did you add to the seed model to get it to work on the server before?

[2015-11-10 16:01] macumber commented on #1939
I just added those report variables in my email:

    OS:Output:Variable, {393572af-306b-4e1f-9b96-0e550ef1a764}, Output 1, *, Site Outdoor Air Drybulb Temperature, monthly;

    OS:Output:Variable, {4ff41263-e911-46a0-853f-2101863bfee3}, Output 2, *, Zone Air Temperature, hourly;

    OS:Output:Variable, {de58eb6f-cbe0-46cb-a991-4b56c2965416}, Output 3, *, Zone Air Relative Humidity, hourly;

[2015-11-10 20:55] macumber opened #1944 "OSM templates are 1.5.0"
These are pretty old, takes time at start up, we should update these for release

[2015-11-10 22:22] mostaphaRoudsari commented on #1944
Oh! So did I just replaced an old version with an older version of template here https://github.com/mostaphaRoudsari/Honeybee/issues/126. The link wasn't working so I just assumed the version which comes with OpenStudio is the latest. oops.

[2015-11-10 23:54] macumber commented on #1944
No I am talking about the OSM files shipped to support the SketchUp plugin, not the JSON file.  We need to remake the OSM files based on the current JSON.

[2015-11-11 00:14] mostaphaRoudsari commented on #1944
Ah! Great to know. Thanks.

[2015-11-11 06:24] DavidGoldwasser commented on #1944
@macumber once we update the space type and construction set wizard to use the new standards gem, could we make the OSM's as part of the OpenStudio build process vs. keeping static OSM's in the code base? Then it would always be new.

[2015-11-11 21:09] #1928 closed

[2015-11-11 21:24] #1911 closed

[2015-11-11 21:26] macumber commented on #1901
@rpg777 please tag this for 1.10.0 if you would like to fix it for the release

[2015-11-11 21:26] macumber commented on #1919
@kbenne please tag this for 1.10.0 if you would like to fix it for the release

[2015-11-11 21:26] macumber commented on #1916
@kbenne please tag this for 1.10.0 if you would like to fix it for the release

[2015-11-11 21:27] #1896 closed

[2015-11-11 21:28] macumber commented on #1897
@kbenne please tag this for 1.10.0 if you would like to fix it for the release

[2015-11-11 21:33] macumber commented on #1861
@kbenne is this complete?

[2015-11-11 21:35] macumber commented on #1831
@evanweaver is this possible to add for 1.10?  This seems pretty important

[2015-11-11 21:36] evanweaver opened #1946 "Implement inheritance across all girdviews"
1.9.0 Space tab: do not see inherited properties #1893
https://github.com/NREL/OpenStudio/issues/1893

Inherited Default Construction and Schedule Sets Not Displayed in Facility Tab #1460
https://github.com/NREL/OpenStudio/issues/1460

[2015-11-11 21:39] macumber commented on #1812
Ruby 2.0 expects .so extensions on Windows

[2015-11-11 21:39] #1812 closed

[2015-11-11 21:39] macumber commented on #1801
@kbenne can you tag this with 1.10.0 if you want to include it?

[2015-11-11 21:40] evanweaver commented on #1893
To be fixed under the following:
Implement inheritance across all girdviews #1946
https://github.com/NREL/OpenStudio/issues/1946

[2015-11-11 21:40] #1893 closed

[2015-11-11 21:41] evanweaver commented on #1460
To be fixed under the following:
Implement inheritance across all girdviews #1946
https://github.com/NREL/OpenStudio/issues/1946

[2015-11-11 21:41] #1460 closed

[2015-11-11 21:58] macumber commented on #1944
These are the files to update:

openstudio\openstudiocore\ruby\openstudio\sketchup_plugin\resources\templates

openstudio\openstudiocore\src\openstudio_app\Resources

[2015-11-11 22:04] macumber commented on #1906
Is this really going to be fixed for 1.10? Sounds like there is not resolution on the fix yet.

[2015-11-11 22:10] macumber commented on #1838
@jasondegraw do you think you can get this fixed in the next 2 weeks?  If not I think we just take it out of the 1.10 milestone

[2015-11-11 22:12] macumber commented on #1598
@DavidGoldwasser I don't think this is the right thing to do.  However, I think we can just do this correctly in the new measure manager for PAT/OS App

[2015-11-11 22:12] #1598 closed

[2015-11-11 22:13] macumber commented on #1526
Re-opened, waiting for @DavidGoldwasser to accept in Pivotal.

[2015-11-11 22:17] #1861 closed

[2015-11-11 22:18] macumber commented on #123
@kbenne this still sounds like it is in discussion phase, in which case it isn't going to make 1.10, is that right?  If so let's remove the milestone

[2015-11-11 22:42] #1892 closed

[2015-11-11 22:51] evanweaver commented on #1846
There are a number of "what ifs" mentioned in this ticket, but I think that the true intent agreed upon by all is "Add Interior Partition Surfaces to My Model list", which has now been done.

[2015-11-11 23:04] DavidGoldwasser commented on #1846
@evanweaver that is what we agreed upon to get 1.9.0 out, but we talked about an API change to allow setSubSurface for a light shelf. Without that or some other change in the GUI you can't make a light shelf or associate an interior partition surface already in your model with a light shelf object.

[2015-11-11 23:06] evanweaver commented on #1846
@macumber thoughts?

[2015-11-11 23:13] macumber commented on #1846
Well part of what @DavidGoldwasser said is not right.  You *can* make a light shelf (have to pass in a SubSurface to the ctor) and you *can* associate an InteriorPartitionSurface with the light shelf using setInsideShelf.

But David is right that there is no setSubSurface method so you can't move a light shelf from one window to another.  You also can't create an orphan light shelf and then assign

[2015-11-11 23:19] #1847 closed

[2015-11-12 00:57] DavidGoldwasser commented on #1526
@macumber I'll build and test in the morning. If the warnings are gone, I'm happy with any area calculation approach.

[2015-11-12 01:10] DavidGoldwasser commented on #1846
@macumber what  I meant is someone can't make a light shelf in the GUI. The API can do it, and it is used in measures and in SketchUp. The suggestion of adding the setSubSurface method and allowing me to make a light shelf object without any surfaces associated to put in the library seems like the most straight forward solution.

An alteration solution we discussed if we didn't want to touch the A

[2015-11-12 11:11] jmarrec opened #1947 "Expose all fields of the Sizing:Zone object"
Not all fields of the Sizing:Zone object are exposed in OpenStudio as of 1.9.3, and that includes for example `Zone Cooling Design Supply Air Temperature Input Method` or `Zone Cooling Design Supply Air Temperature Difference`.

**More importantly, E+ 8.4 has changed the Sizing:Zone object to introduce an important and, I believe, well-anticipated feature to support proper sizing taking DOAS into

[2015-11-12 13:27] CUEBoxer opened #1948 "OS 1.9 loses space loads when converting v1.8 model"
When a version 1,8 model is opened in OS 1.9, it seems that all space loads (lights, people, equipment) are erased.

[2015-11-12 14:52] ljbrackney commented on #1948
If you're looking at the loads sub tab under the spaces tab and not seeing them, they are still there just not displayed. You will see them correctly displayed under the space type definitions tab.

This was an incomplete portion of grid view in 1.9.0 - inherited data was not displayed. The feature was completed in 1.9.1 or 1.9.2 - can't recall which. This was also addressed in an Unmet Hours ques

[2015-11-12 15:49] #1948 closed

[2015-11-12 16:00] macumber commented on #1846
I don't see any value in putting light shelves in the library since they don't have any real data in them (unless we also included the shelves but that is too window specific).  Here's the punch list for no API changes

- [ ] When window has a light shelf, no change, this works now
- [ ] When window has no light shelf, show empty drop zones for inside and outside shelf name
- [ ] When someone drop

[2015-11-12 16:14] evanweaver commented on #1846
Thanks @macumber, perfect marching orders.

[2015-11-12 17:00] jasondegraw commented on #1838
@macumber No, I don't think so. Need to rework the plan.

[2015-11-12 17:26] rpg777 commented on #1846
I agree with @macumber. I also think this is a lot of hand wringing and time spent over an object that is fairly useless in real daylighting practice. Lightshelves rarely provide full cutoff throughout the entire year (unless the thing is ridiculously deep or you're at the equator), nor do they project light very far into the interior, particularly as far as EnergyPlus can predict. What are we *do

[2015-11-12 17:28] evanweaver commented on #1846
With that in mind, is this something we try to put into 1.10? I think Luigi would grimace.

[2015-11-13 14:34] jmarrec opened #1949 "PAT and ResultsViewer 1.9.3 won't launch"
Using windows, I can't launch either PAT or ResultsViewer, whether from the OS App or directly. Rebooting had no effect.
Both of them suffer from the same behavior: I can see the instance(s) (usually several...) in the Task manager, but I can't successfully terminate them (it says success but they are not removed from the list of tasks) using the task manager or an elevator cmd with taskill.
They

[2015-11-13 16:15] evanweaver commented on #1949
@jmarrec, what version of Windows are you using, and with what version of OpenStudio did you first notice the issue? Have you tried to rollback to the last version of OpenStudio which worked successfully for you, and does it still work now?

[2015-11-13 16:44] jmarrec commented on #1949
@evanweaver : Win 7 x64 SP1.
I have both 192 and 193 installed. 192 works fine.
193 only the OS App works.

The un-installation program of 193 exhibits the same behavior as well...

I'm the only one who has this problem apparently, I asked several people to check (including @macumber, @kbenne  and @mbadams5) and it worked fine for them.

[2015-11-13 16:51] evanweaver commented on #1949
Thanks for the detective work @jmarrec. I installed v1.9.3 on a clean Windows VM, and had no problems. I did post v1.9.4 this morning, if you'd like to try it.

[2015-11-13 17:01] jmarrec commented on #1949
First I need to figure out how to uninstall this 1.9.3... :)

[2015-11-13 17:23] jmarrec commented on #1949
Waaaaaw. I installed OpenStudio 1.9.4 and even the OS App won't work now. I smell a clean install of windows... :(

[2015-11-15 15:37] pachi opened #1951 "PAT 1.9.4 crashes when creating a new project or opening an existing one"
The PAT interface opens OK, but trying to create a new project or opening an existing one (just tried with the files of a failed new one) crashes the application due to an unhandled exception.

Pat.exe fails with Qt5Core.dll (v. 5.3.2.0) and the exception code is c0000005
My operating system version is 6.1.7601.2.1.0.768.3 (Window 7 home premium 32bit with Service Pack 1).

    Unhandled exception

[2015-11-15 16:02] pachi commented on #918
It also allows to check if everything works ok even at a very basic level with a model that is supposed to work.
Having a set of examples that could be made to work like a test suite would be even better.

[2015-11-16 15:46] macumber opened #1952 "Assertion failure in StandardReports"
[BOOST_ASSERT] <2> Assertion ok failed on line 108 of class std::basic_string<char,struct std::char_traits<char>,class std::allocator<char> > __cdecl openstudio::toNeatString(double,unsigned int,bool) in file E:\openstudio\openstudiocore\src\utilities\core\StringHelpers.cpp.

[2015-11-16 16:07] macumber commented on #1951
@evanweaver can you take a look on a clean test machine?

[2015-11-16 18:34] macumber commented on #1952
I hit this when running an empty model after setting only the weather file

[2015-11-16 18:45] macumber commented on #1952
-1.#IND000000000000 is being passed to toNeatString

[2015-11-16 22:50] macumber commented on #1905
@aaron-boranian I can't reproduce this in 1.9.0 or 1.9.4, do you have any ideas on how to reproduce the crash?

![11-16-2015 3-49-16 pm](https://cloud.githubusercontent.com/assets/1327850/11197277/ae5d8de2-8c79-11e5-8e35-ddf4e168f205.jpg)

[2015-11-16 22:50] macumber commented on #1905
Am I clicking on the right thing?

[2015-11-16 22:51] macumber commented on #1905
@kbenne any gremlins you know of?  Maybe the clicking fast thing?

[2015-11-16 23:20] aaron-boranian commented on #1905
Hmm, would it matter that you're using 64-bit and I'm using 32-bit? Again, I can drag-and-drop the flat plate collector into a loop, but once I click on it's icon for editing, the app crashes.

![screen shot 2015-11-16 at 1 17 50 pm](https://cloud.githubusercontent.com/assets/15160917/11197888/912cb1d6-8c64-11e5-9cc4-686bbf4be814.png)

[2015-11-17 00:11] macumber commented on #1905
I downloaded the latest published 1.9.0 release in both 32 and 64 bits.  The 32 bit version does crash for me but the 64 bit installer does not so something is going on with that.  We'll look into it.

[2015-11-17 00:15] aaron-boranian commented on #1905
Weird. Glad that we could narrow it down to that at least.

[2015-11-17 05:58] macumber commented on #1905
I couldn't reproduce this with my own 32 bit build but I did confirm this still happens in the 32 bit 1.9.4 build.

[2015-11-17 09:24] mc0penstud10 opened #1954 "Crash before run simulation"
Hello everyone,

I've got this crash when I run simulation in Open studio.

ModelToldf error

What is the problem ?

Thank's

M

[2015-11-17 14:46] macumber commented on #1954
This is a question for unmethours.com, github issues are only for specific bug reports not general questions

[2015-11-17 14:46] #1954 closed

[2015-11-17 15:06] #1949 closed

[2015-11-17 17:13] jmarrec commented on #1951
Ditto. I have a completely fresh install of windows 10 Pro x64 (after I ran into #1949 I had to reinstall windows), and I can't create a PAT project either, it crashes after I select where I want to

[2015-11-17 17:22] evanweaver commented on #1951
This is a verified issue. Root cause of the Pat crash appears to be the unexpected passing, and subsequent usage, of a null pointer.

[2015-11-17 17:29] jmarrec commented on #1949
Just as an FYI, I wiped my computer clean and no longer experience this problem

[2015-11-18 16:47] DavidGoldwasser commented on #1952
@macumber thanks, I'll look into this, but to be honest I'm surprised an empty model doesn't fail in EnergyPlus, although I guess you can run a model with no thermal zones, just can't run with with a thermal zone that doesn't have surfaces.

[2015-11-18 16:58] macumber commented on #1952
The main use case for running an empty model is to get E+ to calculate construction heat transfer properties.  I also do it because it is fast for testing :-)

[2015-11-18 18:09] DavidGoldwasser commented on #1952
I"ll add an empty model to unit test for measure.

[2015-11-18 18:25] jmarrec opened #1956 "OS App 1.9.4 crashes in Apply Now when changing selected measure"
In `1.9.4` if I go to "Apply Now", then select a measure, it goes fine.

But If I try to go an select another measure after I clicked on the first one, OS App crashes.

I'm on Win-x64 10

[2015-11-18 20:40] #1924 closed

[2015-11-18 20:58] DavidGoldwasser commented on #1906
@macumber and @asparke2 is it ok for now to just have this fail the specific table/section, or leave a blank value if feasible) but run the measure nicely. It seems the best place to fix the query is in C++ vs. the measure?

[2015-11-18 22:20] DavidGoldwasser commented on #1952
@macumber for reference, the measure still runs fine, producing an HTML file despite the boost error being logged. But I'll still try to see what is being passed to StringHelpers.cpp that causes the error to be thrown.

[2015-11-18 22:24] DavidGoldwasser opened #1959 "Building of OpenStudio no Mac doesn't find EnergyPlus or Radiance"
Setting up fresh build on Mac, when launching GUI scan for tools doesn't find EnergyPlus or Radiance. I didn't manually installer either EnergyPlus or Radiance.

[2015-11-19 07:12] macumber commented on #1905
Finally got a call stack on this with a RelWDebug build:

m_numNormalFields is being initialized to some crazy number

 	openstudio_modeleditor.dll!InspectorGadget::layoutItems(QVBoxLayout * masterLayout, QWidget * parent, bool hideChildren) Line 316	C++
 	openstudio_modeleditor.dll!InspectorGadget::layoutModelObj(openstudio::WorkspaceObject & workspaceObj, bool force, bool recursive, bool locked,

[2015-11-19 16:20] #1919 closed

[2015-11-19 17:37] #1394 closed

[2015-11-19 17:58] kbenne commented on #1936
@people I think the best answer is leaving the control nodes unset by default in the model. If they are still blank on translation then set them to the appropriate default. If they have a value, (from user presumably) then respect that at all costs and assuming whoever set that knew what they were doing. This is consistent with other OS defaulting around SPMs. Thoughts?

I think there is one imple

[2015-11-19 20:11] kbenne commented on #1881
https://github.com/NREL/OpenStudio/commit/a3972f0cd7338278b3d2bb2a859d6fcf5933302e

[2015-11-20 16:04] macumber commented on #1956
I've been able to reproduce this in Windows 10 but not Windows 7.  @axelstudios @evanweaver could one of you make a debug or release with debug build on Windows 10 and see if we can get a call stack?

[2015-11-20 16:14] macumber commented on #1854
@DavidGoldwasser can you expand on the issue here?  The API already restricts the setInsideShelf method to take an InteriorPartitionSurface and the setOutsideShelf to take a ShadingSurface:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/DaylightingDeviceShelf.hpp#L69

[2015-11-20 16:59] asparke2 commented on #1936
That logic works for me.

[2015-11-20 17:50] DavidGoldwasser commented on #1854
Looks like the API enforces it but not the GUI. On screenshot below it accepts any kind of surface or sub-surface, although I did just confirm that if I leave the tab and come back, it disappears. Seems like it should only accept an interior partition surface in the dropzone.

![screen shot 2015-11-20 at 10 48 53 am](https://cloud.githubusercontent.com/assets/4857055/11307310/7f3c822c-8f74-11e5-80

[2015-11-20 18:07] macumber commented on #1854
Ok, switching this over to @evanweaver then

[2015-11-20 19:26] macumber opened #1963 "Render by surface type leaaves some surfaces transparent"
Reported here, https://unmethours.com/question/12853/set-render-by-surfacetype-colour-in-openstudio/

File in issues repo

[2015-11-20 19:32] muh182 opened #1964 "Missing components in the app, and duplicate of same object types."
@kbenne I just updated my build to 1.9.5. I still see these bugs for the HVAC components.

1- Couple of components for the Fan Constant Volume object
![constantvolumefan](https://cloud.githubusercontent.com/assets/2249257/11309663/1fcf0cd2-8f93-11e5-8ac4-901a2962e258.JPG)

2- Setpoint Manager Humidity Minimum is missing its component.
![setpoint manager minimum](https://cloud.githubusercontent.com

[2015-11-20 19:34] kbenne commented on #1964
ok thanks for the report. I'll try to squeeze fixes into 1.10.

[2015-11-20 19:49] macumber commented on #1963
Probably being misclassified as air walls

[2015-11-20 21:01] DavidGoldwasser commented on #1963
Could be good corner test case for view_model measure as well.

[2015-11-21 02:12] muh182 commented on #1959
I had a fresh build (v 1.9.4) about 10 days ago on my new mac. I also did not manually installed E+. The app was able to find EnergyPlus in the build directory. I did not try Radiance.

[2015-11-21 02:18] DavidGoldwasser opened #1965 "Schedule Rule colors when more than 12 rules"
When you have more than 12 rules in a schedule rules "Priority 13" and higher take on the color of the default profile. Ok, so this is a corner case, but maybe we can loop through the same colors we just used for first 12 rules. If not, then I'd prefer to stop one color earlier, so at least I could see if a day used the default profile or not. I hit this in the past, but couldn't find issue for it

[2015-11-21 02:20] DavidGoldwasser commented on #1959
Thanks, that's good to know, may be something unique to my machine.

[2015-11-23 15:29] FarhangTahmasebi opened #1966 "OpenStudio plugin does not import shading:site"
OpenStudio plugin 1.9.0.7514aa6d3b does not import shading:site:detailed and shading:site objects from a EnergyPlus model. The EnergyPlus model I tested is 8.4.0 and not 8.3.0, but I doubt that this is the reason.

[2015-11-23 16:26] macumber commented on #1966
OpenStudio only works with one version of EnergyPlus at a time so this might well be the issue.  Could you try either importing your E+ 8.4 model into the current [iteration build of OpenStudio](https://www.openstudio.net/developers) which is updated to E+ 8.4 or try importing an 8.3 version of your file into OpenStudio 1.9.0?

[2015-11-23 16:49] macumber commented on #1956
This was possibly fixed by https://github.com/NREL/OpenStudio/commit/12bee679aa4890e5cc5192bd6a80efdba1f1046a

Need to confirm the fix in 1.9.5 build

@evanweaver @axelstudios FYI

[2015-11-23 18:12] macumber commented on #1963
Looks like this has been the behavior for some time, there is even a test around it:

https://github.com/NREL/OpenStudio/blame/develop/openstudiocore/src/model/test/Surface_GTest.cpp#L443

I am open to changing this but I wonder if that will cause other issues?

@DavidGoldwasser @asparke2 @rpg777 any thoughts on changing the behavior so surfaces with empty constructions are not classified as air w

[2015-11-23 18:13] macumber commented on #1963
https://github.com/NREL/OpenStudio/blame/develop/openstudiocore/src/model/PlanarSurface.cpp#L230

[2015-11-23 19:45] rpg777 commented on #1963
Seems like a gross assumption to me, anyway. The OpenStudio/Radiance docs state that if you want a surface to go away you need to explicitly set that surface's construction to air wall.

[2015-11-23 19:51] kbenne commented on #1936
@asparke2 one thing I noticed working on this is that when you drop a coil we are defaulting CoilHeatingWater to "normal" action, and CoilCoolingWater to "reverse". I recall some oscillation on this, perhaps motivated by asset score, I can't remember, but it seems like maybe we should be consistent. Care to comment?

[2015-11-23 20:16] DavidGoldwasser commented on #1963
I think a surface with an empty construction should just fail when you run EnergyPlus, ideally we issue a warning on forward translation to IDF. Render by Construction could just render it as white, which is similar to what would be done to a space if it doesn't have a thermal zone assigned.

[2015-11-23 23:22] kbenne opened #1968 "Add new oa method to ControllerMechanicalVentilation"
Add new options

ProportionalControlBasedonOccupancySchedule
ProportionalControlBasedOnDesignOccupancy

[2015-11-24 02:41] eringold commented on #1545
@DavidGoldwasser your workaround doesn't seem to work for me. Tested on v1.9.0 and v1.9.4, windows x64. Using the arrow keys when a field is highlighted yellow just cycles through the options for that field. Clicking anywhere will un-highlight the field. Specifically, I'm doing this in the Surfaces sub-tab, changing outside boundary condition.

[2015-11-24 16:32] asparke2 commented on #1936
@kbenne We should keep the defaults the way they are. IMO this is a dumb field in E+.  It means "does the air heat up when the valve opens (normal) or does the air cool down when the valve opens (reverse)."  This is something that E+ should be able to infer based on what type of coil the controller is controlling so that users don't have a way to mess it up.  It isn't the same as the reverse/norma

[2015-11-24 16:36] evanweaver commented on #1956
Fixed in v1.9.5, as noted above by Dan.

[2015-11-24 16:36] #1956 closed

[2015-11-24 16:46] kbenne commented on #1936
So it is. I think my brain got mangled on thinking about about damper action on terminals which uses the same terms, but something different.

[2015-11-24 16:51] asparke2 commented on #1936
I knew exactly what you were thinking as soon as I read the comment :)

[2015-11-24 16:54] kbenne commented on #1936
in any case i think this is a good change. It should really improve the robustness of the relationship between controller and coil. Just need to keep an eye out for errors in transitions, but I have scrutinized the simulation tests and they look good.

[2015-11-24 17:23] macumber commented on #1956
@evanweaver did you test using a 1.9.5 build?

[2015-11-24 17:26] evanweaver commented on #1956
No, v1.9.0.

[2015-11-24 17:26] evanweaver commented on #1956
Yes, of course :)

[2015-11-24 19:44] DavidGoldwasser opened #1969 "Using "x2" in app on thermal zone removes thermostat from other zones that used it."
When you use the "x2" button on a thermal zone the end result is that the newly made zone has the thermostat assigned, but it is un-assigned from the source zone for the "x2" action. Additionally any other zones that might have shared that thermostat also loose it.

This happens to thermostats assigned in The SketchUp plugin and thermostats created in OS app (or presumably measures). See screensho

[2015-11-24 19:48] DavidGoldwasser commented on #1969
related to issue #123 and issue #985

[2015-11-24 19:50] jmarrec commented on #1956
(When is 1.9.5 due out of curiosity? A link to a schedule of dev and official releases would be welcomed if that exists!)

[2015-11-24 19:56] evanweaver commented on #1956
It will be available tomorrow, unless @macumber @kbenne or @DavidGoldwasser want to push other code changes in. Then, due to a long Thanksgiving weekend, 1.9.5 will not be available until late next week.

[2015-11-24 19:59] #1905 closed

[2015-11-24 20:10] DavidGoldwasser commented on #1956
@evanweaver my changes can wait until next iteration.

[2015-11-24 20:12] #1936 closed

[2015-11-24 20:23] jmarrec commented on #1956
Do you plan to do a 1.9.6 before 1.10.0 aka "the holiday gift (tm)" then?

Envoyé de mon iPhone

[2015-11-24 20:26] evanweaver commented on #1956
Potentially, but I need to review this with Luigi before I can comment with certainty.

[2015-11-24 20:28] ljbrackney commented on #1956
I believe the next scheduled iteration build will be 1.10.0

On Nov 24, 2015, at 1:27 PM, evanweaver <notifications@github.com<mailto:notifications@github.com>> wrote:

Potentially, but I need to review this with Luigi before I can comment with certainty.

-
Reply to this email directly or view it on GitHub<https://github.com/NREL/OpenStudio/issues/1956#issuecomment-159395578>.

[2015-11-26 14:08] chrisbalbach opened #1971 "OS:LoadProfile:Plant Object not functioning properly"
When this object is added to an OS model (using OS v1.9.0 Win 64 Bit install), It appears the "Control Scheme Schedule Name" object is not being correctly populated. This field, while visible in the OS App GUI, does not appear to be editable. Thus, a severe error occurs at runtime. User was able to manually edit the OS generated .idf file and define a schedule for this field, which allowed the .id

[2015-11-26 14:26] FarhangTahmasebi commented on #1966
I tried the current iteration build (1.9.4). It was also not able to show the shading:site object when importing the IDF file.

[2015-11-30 17:58] kbenne opened #1972 "Add Humidifier:Steam:Gas"

[2015-11-30 18:41] kbenne opened #1973 "Add missing dual duct terminal types."
We currently only have AirTerminalDualDuctVAV

[2015-11-30 19:41] DavidGoldwasser commented on #1952
@macumber I fixed this in the measure by not calculating EUI if the building doesn't have any area, it seems to be that 'OpenStudio.toNeatString(value, 2, true)' should be able to handle NaN as a value, maybe by returning an empty string? At any rate, the measure now bypasses this.

@henryHorsey related to this. I have a runner.registerValue for EUI, which now gets skipped from a datapoint if the

[2015-12-01 05:44] DavidGoldwasser opened #1974 "Unchecking partofTotalFloorArea may cause OpenStudio area to be out of sync with EnergyPlus building area"
In EnergyPlus thermal zones can be set to be included in the building area or not. Among other things this will be the basis of the building EUI value. In OpenStudio spaces can be set to be included in the floor area or not with space.partofTotalFloorArea. If some spaces in a zone have this checked while others in the zone don't OpenStudio reports a different area than EnergyPlus.

There is the st

[2015-12-01 16:21] DavidGoldwasser commented on #1906
pull request will isolate this to problem section. Rest of report other than Zone Conditions will be generated.
https://github.com/NREL/OpenStudio/pull/1975

[2015-12-01 16:22] DavidGoldwasser commented on #1933
With pull request it will show message that it can't calculate temp range if not all schedules are ruleset.
https://github.com/NREL/OpenStudio/pull/1975

[2015-12-01 16:23] DavidGoldwasser commented on #1952
Pull request checks for area before dividing by it. This avoids the boost error that shows up.
https://github.com/NREL/OpenStudio/pull/1975

[2015-12-01 20:34] kbenne commented on #1971
Hey @chrisbalbach I think there could be more than one thing going on here. The error you pasted is from the plant operation schemes, which pertain to sequencing the supply side plant components. LoadProfilePlant is a demand component so I don't think it is related.

On the supply side, with respect to operation schemes, there has been large changes behind the scenes, in order to gain direct acces

[2015-12-01 21:01] kbenne opened #1977 "Setpoint managers are not allowed on plant demand side"
Common pipe simulations are now allowed in OS, and sometimes they require a setpoint manager on the demand side (inlet) node. The API is currently restricting this operation in ::addToNode. Relay the API constraints for those setpoint manager types that are used on plant loops.

@mleachNREL is this still your username?

[2015-12-01 21:12] kbenne commented on #1608
Anyone have a model that still does this?

[2015-12-01 21:20] MatthewSteen commented on #1608
I was not able to recreate in a 1.9.0 model by trying the following:

* cycling through radiant systems and deleting them
* cycling through and scrolling down in the IG

[2015-12-01 21:48] #1977 closed

[2015-12-01 22:22] pflaumingo opened #1979 "OpenStudio Crashes When Clicking Measures Tab If Material Conductivity Is Not Set"
When creating a new material in the OpenStudio plug-in for SketchUp it does not set a default material conductivity. If the model is then opened in the GUI and the measures tab is selected then an unhandled exception is thrown per the attached image. OpenStudio 1.9.3 was used.
![matconductivityexception](https://cloud.githubusercontent.com/assets/15233892/11516210/c8f38e2c-9836-11e5-9ad9-54fea3b45

[2015-12-01 22:39] pflaumingo commented on #1979
Tested in v1.9.5 and the same issue occurs.

[2015-12-01 22:57] chrisbalbach commented on #1971
Kyle

Using os v1.9.0 release candidate - I could not get ANY openstudio generated file to work using the plant load profile object. I tried the simplest model possible - using one default plant load profile object, a single auto sized default constant speed pump and a single auto sized default chiller with a set point manager scheduled default object. Upon running this model in openstudio I encou

[2015-12-01 23:01] chrisbalbach commented on #1971
That was 11 days ago with two weekends and Thanksgiving in between! Jeez! :)

Amir Roth, Ph.D.
DOE/EERE/BTO Technology Manager, Building Energy Modeling
http://www.energy.gov/eere/buildings/building-energy-modeling/
O: 202.287.1694

From: Chris Balbach [mailto:cbalbach@psdconsulting.com]
Sent: Tuesday, December 01, 2015 5:57 PM
To: NREL/OpenStudio <reply@reply.github.com>
Cc: NREL/OpenStudio <Open

[2015-12-02 06:48] kbenne commented on #1971
I always add a test model for new features including this one. I'll take a look at my test model and your file tomorrow. We'll get this worked out.

On Dec 1, 2015, at 5:02 PM, Chris Balbach <notifications@github.com<mailto:notifications@github.com>> wrote:

That was 11 days ago with two weekends and Thanksgiving in between! Jeez! :)

Amir Roth, Ph.D.
DOE/EERE/BTO Technology Manager, Building Ener

[2015-12-02 09:00] jmarrec commented on #1717
+1 (I noticed it [here](https://unmethours.com/question/12973/variable-speed-fan-ahu/?comment=12991#post-id-12991))

[2015-12-02 13:01] pachi opened #1980 "Wrong translation of the OS:DesignSpecification:OutdoorAir object to EnergyPlus"
Steps to reproduce the problem:
- Define an OS:DesignSpecification:OutdoorAir object, using a value of 4 [1/h] in "Outdoor Air Flow Air Changes per Hour".
- Specify an existing Schedule for "Outdoor Air Flow Rate Fraction Schedule Name", such as "Ventilacion_Residencial_CTE".

Problem detected:
- **In a model using an Ideal Air Loads System**, the out.idf file uses the "Always_On" schedule instead

[2015-12-02 14:57] chrisbalbach commented on #1971
Kyle

See attached .osm file and idf file that was exported then hand modified..

Thanks,

_Chris

From: Kyle Benne [mailto:notifications@github.com]
Sent: Wednesday, December 02, 2015 1:48 AM
To: NREL/OpenStudio
Cc: Chris Balbach
Subject: Re: [OpenStudio] OS:LoadProfile:Plant Object not functioning properly (#1971)

I always add a test model for new features including this one. I'll take a look a

[2015-12-02 15:09] pachi commented on #1980
I've just seen that this is reported here: https://unmethours.com/question/897/how-is-simple-ventilation-controlled-when-using-ideal-loads-in-openstudio/ and the related code is here: https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateThermalZone.cpp#L728

Anyhow, shouldn't it be reasonable to use the DesignSpecification:OutdoorAir Air F

[2015-12-02 16:28] pachi opened #1983 "AddOutputVariable measure should support the "annual" reporting frequency"
The extremely useful AddOutputVariable measure in the BCL could also have "annual" as reporting frequency.

This frequency is (implicitly) already supported, returning the values for the RunPeriod, but the .rb file needs to be modified to show up in the measure GUI, just by adding this line after line 31:

[code]

[2015-12-02 17:40] DavidGoldwasser commented on #1794
User pointed out that the construction column also doesn't refresh. Note how the construction for Surfaces 28 and 16 still show an interior wall instead of an exterior wall.

[2015-12-02 21:41] pflaumingo opened #1984 "View_data Measure Doesn't Rotate Shading Surfaces when North Axis is Rotated"
When using the view_data measure the report.html file doesn't rotate the ShadingSurfaces with the geometry as the image below shows. In this example the North Axis was rotated 90 degrees.
![viewdata90degreerotation](https://cloud.githubusercontent.com/assets/15233892/11545084/2df75f92-98fa-11e5-8b02-e97c8a2789e3.PNG)

OpenStudio v1.9.5 was used for this simulation.

[2015-12-02 22:14] macumber commented on #1984
Moving to https://github.com/macumber/openstudio-vA3C/issues/37

[2015-12-02 22:14] #1984 closed

[2015-12-03 18:47] pflaumingo opened #1985 "Control For Outdoor Air Field Not Initialized In AirTerminal Causes Crash"
When creating a new Empty Air Loop in the OpenStudio app and adding an OS:AirTerminal:SingleDuct:VAV:Reheat the Control For Outdoor Air field is not defaulted to Yes or No. When attempting to run it fails almost instantly, but no error is given and there is nothing in the output files, however, when clicking on the measures tab an unhandled exception is thrown pointing to the issue as pictured:

!

[2015-12-03 18:50] kbenne commented on #1985
What is the OS version your model started as and the version you are running it in? This is a new features and there is supposed to be a version translator rule populating this required field to a default value. Apparently it isn't working in your case. I'll definitely need to identify the cause and fix this for 1.10. In the mean time edit your osm file directly.

[2015-12-03 22:31] evanweaver commented on #1831
@DavidGoldwasser @asparke2 @macumber I believe I know your collective answer, but just to be sure, does "deselecting all" then only deselect those rows/sub rows that are currently visible (i.e those rows selected, but filtered out of view, would not be affected).

[2015-12-03 22:45] evanweaver commented on #1831
OK, I talked with Marj and have my marching orders.

[2015-12-04 02:06] macumber opened #1986 "Link to measure writing guide in new measure is wrong"

[2015-12-04 05:56] DavidGoldwasser commented on #1979
@macumber looks like other objects like load definition also appear to have blank required values, however having an empty light definition doesn't crash like an empty material does. For the crash to happen as described by @pflaumingo you don't have to even have any measures in your workflow, just going to the tab will cause the crash.

Not sure what you think easiest fix, I thought API request fo

[2015-12-04 05:59] DavidGoldwasser commented on #1980
cc: @kbenne and @asparke2 thoughts on this.

[2015-12-04 06:08] DavidGoldwasser commented on #1966
Hmm, this worked on mac with some of the test E+ files. Maybe there is something unique about the IDF file you are importing. Try importing 4ZoneWithShading_Simple_1.idf and see if that works. If it does and the other file you have doesn't, then email the file to OpenStudio@nrel.gov

[2015-12-04 06:10] DavidGoldwasser commented on #1951
@evanweaver assume this is fixed, but issue just didn't get closed?

[2015-12-04 15:10] evanweaver commented on #1951
Fixed in 1.9.5

[2015-12-04 15:10] #1951 closed

[2015-12-04 16:36] rpg777 commented on #1684
This happens when trying access user option choice pulldown as well.

[2015-12-04 17:09] #1831 closed

[2015-12-04 17:19] macumber commented on #1831
What was the decision?

[2015-12-04 17:35] muh182 opened #1988 "Build warnings for OS X El Capitan"
When I use my OpenStudio build, I receive the following warnings. It seems the warnings are benign at this stage since I am able to use the build with no errors. @kbenne thought it might be related to the new OS version and recommended to just report the warnings.

[code]

FYI @axelstudios

[2015-12-04 17:44] DavidGoldwasser commented on #1684
@macumber since these seems to happen with more than just my model, I'll raise it back to severe. Not sure if too risky to try anything to fix it for 1.10 or not?

[2015-12-04 17:48] DavidGoldwasser commented on #1983
I"ll fix this over the weekend. I think it will need to be "runperiod" instead of "annual". While I'm dabbling in this measure, any interest in having the "key" field exposed. It currently is hard coded to "*" but could let you pick a specific object. I could even let you enter comma separated values and then make an output variable for each one of them. EnergyPlus can't directly do this. You get

[2015-12-04 17:56] macumber commented on #1684
It's worth looking into at least

[2015-12-04 19:18] pflaumingo commented on #1985
It was started in version 1.9.3 and upgraded to 1.9.5. I edited the .osm directly and it worked fine. What I did notice is that if I create an air loop, add a thermal zone and an air terminal without manually setting the control for outdoor air then each subsequent air terminal also won't have a default value. However, if I manually change the first air terminal to set the control for outdoor air

[2015-12-04 19:23] kbenne commented on #1985
yes the behavior you see is intentional. OS is guessing that you want the same kind of terminal serving all of the zones so it clones the one you have.

I've got this figured out. I put the version translation logic in the wrong version translate function therefore the newly required field is not inserted properly. A fix is in process.

[2015-12-04 19:45] kbenne commented on #1971
@chrisbalbach #1989 should take care of things. I did notice that your model had a tiny load (1 W) defined by the plant load profile object which was not near enough load to soak up the heat being generated by your hard sized boiler. The result was run away plant temps. To confirm that the fix is working I took your model and autosized the boiler and gave the load profile a little more power, 500

[2015-12-04 19:52] evanweaver commented on #1831
Mirrored behavior -- only deselect what is currently visible..

[2015-12-04 20:27] kbenne commented on #1985
@pflaumingo I'd like to use you to verify this fix by sending you an installer package. Will that work for you?

[2015-12-04 20:33] DavidGoldwasser commented on #1974
I wanted to refer to issue #561 (stacked spaces in same zone). That may also result in out of sync floor area between what OpenStudio and what EnergyPlus report. Going to raise severity of this, but there is a work around to avoid it.

1. Don't create a zone where some spaces in the zone are included in the floor area and others are not.
2. Don't stack spaces on top of each other within the same t

[2015-12-04 20:50] #1608 closed

[2015-12-04 21:18] pflaumingo commented on #1985
Yup, that's fine. Send over a download link and I'll check it out.

[2015-12-04 21:36] kbenne commented on #1980
@pachi I'm surprised manually setting the field in the idf has the desired effect. I was pretty confident that field does not actually impact the Controller:MechanicalVentilation where it ends up being used in an OS generated model.

You might read up on this thread https://github.com/NREL/EnergyPlus/issues/4633#issuecomment-161701712 and report back what you think.

I do think that regardless we

[2015-12-04 21:59] #1881 closed

[2015-12-04 22:01] DavidGoldwasser commented on #1906
Looks like this isn't just about zone names but other objects. Below is link to post about design day objects.
https://unmethours.com/question/12533/simulation-fail-with-ddy-file/?answer=13166#post-id-13166

I don't think every query in a measure should have to check for this and correct the query. I think either core OpenStudio should address this (by fixing query for you or not allowing apostrop

[2015-12-04 22:02] DavidGoldwasser commented on #1906
@macumber let me know if you want this to be assigned to someone else.

[2015-12-04 22:04] kbenne commented on #1897
@eringold I couldn't reproduce this in 1.9.5. Would you mind double checking that it is still an issue? I tested on Mac.

[2015-12-04 22:06] kbenne commented on #1801
ping @dstuder

Measure?

[2015-12-04 22:07] kbenne commented on #1916
Not sure what to do here. It seems like the only mechanism we really have is QAQC report. Exposing the translator logs would be an option, but I don't feel like those are in a condition to expose to an end user.

[2015-12-04 22:08] kbenne commented on #1947
I have this done, but it is too close to release to drop in, so I will merge it immediately after 1.10. @jmarrec I'm sending you a friendly build with this feature.

[2015-12-04 22:27] asparke2 commented on #1916
This seems like it should be bumped to the E+ issues

[2015-12-04 22:31] kbenne commented on #1916
Ok then I recommend that we close and suggest that @EnergyExpert file this on E+.

[2015-12-04 22:41] DavidGoldwasser commented on #1952
@macumber feel free to close this if you don't see need for fix in C++ to better handle odd strings.

[2015-12-04 22:43] kbenne commented on #1985
@pflaumingo sent you a link.

[2015-12-05 04:26] macumber commented on #1986
Fixed in https://github.com/NREL/OpenStudio/commit/4597f59f6049d3b322657809fa120f36a5f7074b

[2015-12-05 04:26] #1986 closed

[2015-12-05 17:29] macumber commented on #1974
What is the proposed fix here @DavidGoldwasser?  I'm going to put this back to normal

[2015-12-05 17:30] macumber commented on #1526
@DavidGoldwasser can you close if this is fixed?

[2015-12-05 17:36] macumber commented on #1979
Thanks guys.  There are two possible fixes:

1. Disable the add button for these objects in SketchUp
2. Try to provide sensible default values in SketchUp and keep these synchronized with defaults in the OS App (wondering where the default values in the app come from too @evanweaver ?)
3. Add default values to the IDD for everything (again where to get good default values?)

@kbenne and I have bee

[2015-12-05 17:36] macumber commented on #1979
Changed to blocker because of crash

[2015-12-05 18:12] macumber commented on #1979
This also crashes on the materials tab (which I would expect).  The crash on the measures tab is due to translating the current model to idf for computing arguments of EnergyPlus measures

[2015-12-05 23:57] eringold commented on #1897
Yeah, I'm still seeing it with 1.9.5 (windows x64). Edits to the coefficients stick around, but the min/max values always return to 0 and 1.

[2015-12-06 15:56] macumber commented on #1979
Here is a script that prints all the objects which have this issue if created in the plugin:

    require 'openstudio'

    file = nil
    File.open('skp_iddobjects.txt', 'r') do |f|
      file = f.read.split("\n")
    end

    factory = OpenStudio::IddFileAndFactoryWrapper.new()
    file.each do |object_name|
      object_name = object_name.strip
      next if object_name.empty?
      object = fa

[2015-12-06 15:56] macumber commented on #1979
And the objects:

OS_RunPeriodControl_DaylightSavingTime:Start Date
OS_RunPeriodControl_DaylightSavingTime:End Date
OS_Site_WaterMainsTemperature:Calculation Method
OS_SizingPeriod_WeatherFileConditionType:Period Selection
OS_SizingPeriod_WeatherFileDays:Begin Month
OS_SizingPeriod_WeatherFileDays:Begin Day of Month
OS_SizingPeriod_WeatherFileDays:End Month
OS_SizingPeriod_WeatherFileDays:End Day

[2015-12-06 16:05] macumber commented on #1979
Another option is to make these fields not required.  Just because they are required at simulation time (e+) does not mean they need to be required at modeling time (os).  However that would require changing the api which is not great. @kbenne @mbadams5 I'm interested in your thoughts

[2015-12-06 17:43] #1971 closed

[2015-12-06 19:11] pachi commented on #1980
@kbenne, in this case we are using ideal loads systems, so the impact should be in the ZoneVentilation:DesignFlowRate object and that is what's exposed in this bug.

But, once we check the compliance with the building code energy needs limits (for heating and cooling), we will have to evaluate the model using the designed systems, so wi will probably find the problem you are pointing to related to

[2015-12-06 19:52] pachi commented on #1983
We tried with "annual"  and it worked, but "runperiod" looks like a better choose.

The idea of exposing the key field exposed looks very interesting and useful.
If you want more ideas, it just occurred to me that allowing regex expressions in places like the "key" field would be even more powerful, but maybe it's overkill and there's no need for that.

Also, have you thought about distributing mo

[2015-12-07 10:41] jmarrec commented on #1947
@kbenne thanks!

[2015-12-07 15:35] macumber opened #1991 "Shading surfaces not exported to gbXML"
https://unmethours.com/question/1379/gbxml-element-types/?comment=13173#post-id-13173

[2015-12-07 15:39] kbenne commented on #1979
I totally agree with statement, "just because they are required at simulation time (e+) does not mean they need to be required at modeling time (os)." That is a way of life in HVAC, otherwise you'd have to define an entire system at once. The criteria for required should be much lower for OS.

I'm not sure what you do about existing APIs though? I guess about the best you could do is deprecate the

[2015-12-07 15:54] macumber commented on #1979
This is the kind of thing that could be done for 2.0?

[2015-12-07 15:57] kbenne commented on #1979
I think you are in the best position to estimate how many folks this might be impacted and how much pain it will be.

[2015-12-07 16:32] #1526 closed

[2015-12-07 16:46] DavidGoldwasser commented on #1974
I'm fine with any fix where we can assure OpenStudio calculates the same floor area as EnergyPlus.

My preference would be to un-comment this code, but my question is why was it commented in the first place? Was there a problem with it?
https://github.com/NREL/OpenStudio/blob/3b0d232b5f99a2a331804a8f9762f32a99b1a56b/openstudiocore/src/model/ThermalZone.cpp#L1205-L1211

I'm open to other solutions

[2015-12-07 17:07] macumber commented on #1979
https://docs.google.com/spreadsheets/d/1hcgtoAJEcuQAHFC8j-L1wdNexWOS-Iu4qqLJLOP5qJA/edit#gid=0&vpid=A1

Biggest holes are going to be the inability to add SpaceInfiltration:DesignFlowRate and SpaceInfiltration:EffectiveLeakageArea objects (no way to do this in the app).  Also the inspector gives a nice way to edit output variable and meter names, going to remove this as well

[2015-12-07 17:18] pflaumingo commented on #1985
@kbenne the installer package received fixed the above issue. The 'Control For Outdoor Air' field defaults to 'No' on AirTerminals.

[2015-12-07 17:27] #1985 closed

[2015-12-08 08:12] DavidGoldwasser commented on #1983
Updated measure here. Also exposed basic argument for key value.
https://bcl.nrel.gov/node/37843

[2015-12-08 15:33] eringold commented on #1983
@DavidGoldwasser check the measure in that link - it doesn't have the key value argument. Perhaps the wrong one got uploaded?

[2015-12-08 15:49] DavidGoldwasser commented on #1983
@eringold thanks for pointing that out. I'll re-open this while I look into it. I also updated the fan assist night vent, need to check if current changes went there.

[2015-12-08 20:39] DavidGoldwasser commented on #1983
Both measures have been updated now, same url. It may be a few hours before the app is aware of the update to download it through GUI.

[2015-12-08 20:39] #1983 closed

[2015-12-09 19:46] kbenne opened #1995 "Induction terminals (still) not disconnecting cleanly"
This problem has plagued induction terminals in the past, and it seems a problem still remains. This applies to

AirTerminalSingleDuctConstantVolumeFourPipeInduction
AirTerminalSingleDuctParallelPIUReheat
AirTerminalSingleDuctSeriesPIUReheat

The ::remove method leaves the induced node dangling and partially connected to the zone, but not the terminal since it is removed. This creates problems whe

[2015-12-09 20:07] #1963 closed

[2015-12-10 15:18] #1995 closed

[2015-12-10 17:39] DavidGoldwasser commented on #1854
I renamed after realized it wasn't related daylighting shelf, but happens elsewhere in GridView. Still a minor issue because it doesn't do anything wrong to the model. Below is another example where i dropped a schedule set instead of a construction set. No reason to fix this for 1.10. If there isn't easy fix for this issue we could improve the description in daylighting shelf columns to show what

[2015-12-10 21:04] #1979 closed

[2015-12-10 21:06] #1944 closed

[2015-12-10 21:06] #1933 closed

[2015-12-11 15:02] FarhangTahmasebi commented on #1966
Thanks David.
With that example it works. With my file not. I will email my file to the address.

[2015-12-11 15:41] macumber opened #1998 "Infiltration objects with no schedule produce no infiltration"
VirtualPulse team reported that if you have infiltration objects with no schedule the simulation will run but will not produce infiltration.  I thought that other load types (e.g. lights) would error out with no schedule, surprising to hear that infiltration does not do the same.  Need to check all the loads, maybe error out at translation to E+ instead of simulation time?

[2015-12-11 15:43] macumber commented on #1998
Default in OS App is blank schedule, this can be supplied by the schedule set if that is present.

[2015-12-11 17:03] macumber opened #1999 "Model does not display in SketchUp"
Model provided by @eringold (in issues repo) does not display in SketchUp when loaded.  Double clicking spaces in the inspector causes the geometry to be shown.  My guess is something is crashing silently when opening the file so that the sketchup entities are not created

[2015-12-11 17:03] macumber commented on #1999
@eringold have you seen this on any other models?

[2015-12-11 17:08] DavidGoldwasser opened #2000 "Constructions from BCL can't be dropped on drop zones in spaces tab"
I confirmed this for surfaces, but assume same for sub-surfaces.

Steps to reproduce
1. Open a model with a space and surfaces in it
2. Download a component form BCL using the GUI ( I downloaded "189.1-2009 Nonres 1A Ext Wall Mass")
3. Go to surfaces view on spaces tab, and then go to "Library" find your construction and try to drag it onto the drop zone. While ti should work it doesn't. If you tr

[2015-12-11 17:29] eringold commented on #1999
@macumber no, this was a completely new occurrence to me. Note: I was able to fix it by subdividing the large, >60-surface spaces into multiple smaller spaces.

[2015-12-11 17:37] macumber commented on #1684
@DavidGoldwasser I was not able to reproduce this in a debug build of current 1.10 on develop.  Let's confirm this is fixed in 1.10 release packages but otherwise I don't think we need to do further investigation.

[2015-12-11 17:40] macumber commented on #1999
How did you create this geometry in the first place?  Did you import this model from gbXML or something other than creating it in SketchUp?

[2015-12-11 17:51] eringold commented on #1999
Nope, I traced over an imported dwg, then extruded with 'create spaces from diagram'.

[2015-12-11 20:25] DavidGoldwasser commented on #1684
@macumber I can't reproduce it with the old file either, however I did have it happen today with another file, but it isn't reproducible.

[2015-12-11 23:58] macumber commented on #1831
@evanweaver this looks good, the only thing I saw was that the All checkbox stays checked/unchecked in some non-intuitive (to me) ways.  For example:

1. Select all, All box is checked
2. Uncheck on row, All box remains checked (I thought it would get unchecked)

or

1. Deselect all
2. Filter list
3. Select all, All is checked
4.  Unfilter list, All remains checked

You might revisit this with Mar

[2015-12-12 00:06] macumber opened #2001 "Copying a measure produces invalid measure if "ended" is in description string (probably also issue in name and modeler description)"
Reported by @DavidGoldwasser when copying this measure https://bcl.nrel.gov/node/83274

[2015-12-12 04:08] DavidGoldwasser commented on #2001
@macumber there is something else going on here. I have the same issue on a copy of the measure where I added 'return' to the front of the name, description, and modeler description.
https://github.com/NREL/OpenStudio-files/tree/master/Git%20Issue%20Files/Issue%202001/example_report

Fan Assist Night Ventilation which has return also exhibits this issue.
https://github.com/NREL/OpenStudio-measures

[2015-12-12 04:19] DavidGoldwasser opened #2002 "Removing arguments from a measure leaves orphan arguments in XML"
When I remove arguments form a measure (in my case cloning it) and remove a number arguments, and update the XML, the old arguments still show up in the XML, and as a result also show up in the GUI.

[2015-12-12 04:26] DavidGoldwasser commented on #2001
@macumber remove "intended" from the description and things work fine. My guess is somehow having "ended" in the string upsets it, even as part of another work. Fan assisted Night ventilation does the same thing. I guess I should stop saying "This measure is intended to be used to ..." :)

[2015-12-12 04:34] DavidGoldwasser commented on #2002
Hmm, my mistake here, must have had some wires crossed.

[2015-12-12 04:34] #2002 closed

[2015-12-12 04:54] DavidGoldwasser commented on #2001
FYI - back to test tests. When we did clone the tests directory the test was broken because it referred to the class of the old measure and not the new one.

[code]

[2015-12-14 15:54] DavidGoldwasser commented on #2001
@macumber seems the tests not being copied is a bit of an edge case. If I have a measure named "My Measure" and I clone it the default name of the new measure is "My Measure Copy". If I don't change that name tests don't clone. Even changing the name to "xMy Measure Copy" still doesn't have tests, but if I re-name it "Some New Name" then the tests get copied over fine.

[2015-12-15 15:17] chrisbalbach opened #2003 "GUI Configuration Failure - OS 1.9.0 and 1.9.5 for Load Profile Plant Object"
The OS App GUI for this object will not accept a schedule change for the flow rate fraction schedule name object. The default value "Always ON Discrete 1" cannot be changed.

Tested in both OS 1.9.0 and 1.9.5 using Win64 bit installations. Failure in both.

[2015-12-15 16:54] kbenne commented on #2003
I just tested this on Mac and Windows 7, with OS 1.9.0. It looked OK to me. The key is to use a fractional schedule.

<img width="1554" alt="screen shot 2015-12-15 at 10 51 34 am" src="https://cloud.githubusercontent.com/assets/707488/11817294/ecee5e2c-a319-11e5-9f69-cd195337b35a.png">

<img width="1554" alt="screen shot 2015-12-15 at 10 39 05 am" src="https://cloud.githubusercontent.com/assets/70

[2015-12-15 17:09] kbenne commented on #2003
@chrisbalbach I also exported the Model to idf, which checked out.

[2015-12-15 17:43] chrisbalbach commented on #2003
Thanks Kyle – I’m moving tooo fast..

_Chris

From: Kyle Benne [mailto:notifications@github.com]
Sent: Tuesday, December 15, 2015 12:11 PM
To: NREL/OpenStudio <OpenStudio@noreply.github.com>
Cc: Chris Balbach <cbalbach@psdconsulting.com>
Subject: Re: [OpenStudio] GUI Configuration Failure - OS 1.9.0 and 1.9.5 for Load Profile Plant Object (#2003)

@chrisbalbach<https://github.com/chrisbalbach> I a

[2015-12-15 17:55] kbenne commented on #2003
I will close, but you are welcome to reopen if something is still lurking.

[2015-12-15 17:55] #2003 closed

[2015-12-15 21:22] kbenne opened #2004 "64 bit C# bindings have a 32 bit dll"
Everything that I have checked in the 64 bit Windows OpenStudio package is 64 bit as expected. But in trying to run a test program I ran into trouble and determined that one DLL in particular was of the wrong architecture (32 bit). This is the DLL located in the installation at CSharp\openstudio\OpenStudio.dll. This prevents the 64 bit C# bindings from working.

I used the following to determine a

[2015-12-15 21:22] kbenne commented on #2004
ping @evanweaver and @axelstudios

[2015-12-15 21:45] axelstudios commented on #2004
I'm seeing that with v1.9.4 at least.  Any idea when this began?

[2015-12-15 21:50] axelstudios commented on #2004
I guess a better question is what problem is this causing and how are you reproducing it?  Just checked v1.8.0, and that one is also 32-bit.

[2015-12-15 22:08] macumber commented on #2004
I would think this would trip up @mostaphaRoudsari in grasshopper?

[2015-12-15 22:09] macumber commented on #2004
@kbenne did you try building in 64 bit mode and running using the 64 bit openstudio binaries?

[2015-12-15 22:10] kbenne commented on #2004
There are test VS projects in CSharp\examples that demonstrate the C# bindings. These will not compile in the 64 bit package.

@macumber yes.

[2015-12-15 22:10] kbenne commented on #2004
can't load that 32 bit DLL into my 64 bit app.

[2015-12-15 22:15] kbenne commented on #2004
uh oh i might have to backtrack. I see now that my 64 bit app goes to a different directory. bin\x64. It seems to be working... ducking...

however this does seems a little concerning. The fact remains that 32 bit library is still floating around in there.

[2015-12-16 16:07] kbenne commented on #2004
closing... But don't say I didn't warn you if this turns out to be a problem down the road!

[2015-12-16 16:07] #2004 closed

[2015-12-16 19:37] pflaumingo opened #2005 "Run Simulation Tab Says "Hello World" When Using Apply Measure Now"
When in the 'Run Simulation' tab if you use 'Apply Measure Now' the screen goes blank and displays "Hello World" - I've tried this with a few measures. Clicking on any other tab seems to fix the issue so it's a very minor bug, but thought I would note it.
![addreportvariablehelloworld](https://cloud.githubusercontent.com/assets/15233892/11851758/31e8ec16-a3e9-11e5-9fb4-afcc39539468.PNG)

[2015-12-16 20:53] macumber commented on #2005
Weird, possibly related to this code:

https://github.com/NREL/OpenStudio/blob/2d29315446347a3f46ea04996f5ab902ef18b0c9/openstudiocore/src/openstudio_lib/MainTabView.cpp#L55

https://github.com/NREL/OpenStudio/blob/3b0d232b5f99a2a331804a8f9762f32a99b1a56b/openstudiocore/src/shared_gui_components/EditView.cpp#L423

[2015-12-17 22:18] DavidGoldwasser opened #2006 "Envelope section of standard report gives error if air wall used on exterior walls"
![screen shot 2015-12-17 at 3 13 09 pm](https://cloud.githubusercontent.com/assets/4857055/11883576/2a569fdc-a4d1-11e5-9914-a7c7ebefd934.png)

![screen shot 2015-12-17 at 3 19 04 pm](https://cloud.githubusercontent.com/assets/4857055/11883626/8a1b9300-a4d1-11e5-91a5-7d9168049e54.png)

If this happens I can either skip just this construction and add a warning, or skip the entire section more gracef

[2015-12-17 22:31] DavidGoldwasser commented on #2006
@macumber I assume you don't want to touch anything about this in C++. It is interesting that the construction has same name in E+ as OS,

[2015-12-17 23:09] macumber commented on #2006
Well if it's a bug then we should fix it, what is the c++ fix?

[2015-12-18 00:01] MatthewSteen opened #2007 "alphabetize HVAC Systems list"
...like the HVAC Systems library is now.

[2015-12-18 16:21] DavidGoldwasser commented on #2006
construction.thermalConductance.get should return a value even when that construction happens to be an air wall. It is unique from other constructions in that it has a single layer of an "Air Wall" material. I believe forward translation replaces that with a specific standard opaque material. In this process it seems the final construction in EnergyPlus looses its link back to the OpenStudio const

[2015-12-18 17:45] rpg777 commented on #1684
Just hit this again, changing a user option on a pulldown (Radiance Measure)
[dump.txt](https://github.com/NREL/OpenStudio/files/66952/dump.txt)

[2015-12-18 18:21] macumber commented on #1684
Hmm well that is on Mac, I did not try to reproduce on Mac.  Is it consistent or only happens once in a while?

[2015-12-18 18:39] rpg777 commented on #1684
Was happening once in a while, but I just hit it twice in ten minutes on the same model (attached, FWIW). Happens when I change the "Image Type" option in the Radiance Measure. Still, I cannot reliably reproduce it.
[f_1_3-axis-blinds.osm.txt](https://github.com/NREL/OpenStudio/files/67016/f_1_3-axis-blinds.osm.txt)

[2015-12-21 01:11] macumber opened #2008 "Name not reverse translated for ScheduleConstant from IDF to OSM"
See this post

[2015-12-21 08:32] wta12 commented on #1947
@kbenne: May i get that sizing:zone release before. I am creating a DOAS system in OS.

[2015-12-21 16:25] kbenne commented on #2007
I'm not opposed to alphabetizing, but did you know that the systems roughly correspond to Appendix G system types?

[2015-12-21 16:39] eringold commented on #2007
I think @MatthewSteen is talking about the HVAC drop-down list, rather than the 'Add HVAC System' window list (which IMO is fine).

[2015-12-21 16:40] MatthewSteen commented on #2007
what @eringold said.

[2015-12-21 16:41] kbenne commented on #2007
Doh! Ok. That can be arranged.

The whole interface needs some rethinking, but this kind of stuff is quick and easy so I'm all for it.

[2015-12-21 17:06] MatthewSteen commented on #2007
@kbenne agreed, especially the SHW, VRF, Rx. alphabetizing throughout the app would be a nice thing to have done for each major release.

[2015-12-21 22:25] kbenne commented on #1947
@wta12 send me an email kyle.benne@nrel.gov and I'll send you a link to a friendly build. I don't want to distribute this widely since it isn't an official build or iteration yet. I would appreciate the testing from a limited number of people. I created a build based on this PR https://github.com/NREL/OpenStudio/pull/2009 which has several pending features rolled up in it, including these new Sizi

[2015-12-21 22:27] kbenne commented on #1947
@jmarrec I sent you a link on Slack.

[2015-12-21 23:51] ipekgursel opened #2010 "OptionalSpace or Space.fromFloorPrint generate surfaces of arbitrary ordering"
When an optionalspace is generated using the Space.fromFloorPrint method, and following a space is generated  from the optionalspace, the surfaces of this space are in arbitrary ordering. wouldn't it make more sense if the six surfaces that bound that space are ordered by floor + 4 walls in the order that the points are read into the Point3dVector + the ceiling?

[2015-12-22 05:35] MatthewSteen commented on #2005
[easter egg](https://en.wikipedia.org/wiki/Easter_egg_(media)) from the developers? what happens if you enter :arrow_up: :arrow_up: :arrow_down: :arrow_down: :arrow_left: :arrow_right: :arrow_left: :arrow_right: B A?

[2015-12-22 13:48] MatthewSteen opened #2011 "Assign ASHRAE 90.1-2010 Daylighting Controls measure fails"
@asparke2, the space in the image below produces the following error in 1.10.0 on line 136.

    #get the distance from the exterior wall to the interior wall by using the area - not perfect but good enough
    wall_length = ((bottom_wall_points[0].x - bottom_wall_points[1].x)**2 + (bottom_wall_points[0].y - bottom_wall_points[1].y)**2)**0.5

undefined method `x' for nil:NilClass (NoMethodError)

[2015-12-22 16:01] asparke2 commented on #2011
@MatthewSteen Can you email me that .osm?  And has it worked in previous versions of OS?

[2015-12-22 19:51] MatthewSteen commented on #1936
Just found this :gift: under the 1.10.0 :christmas_tree:

[2015-12-22 20:06] MatthewSteen commented on #2011
Sent and I don't recall using it previously.

[2015-12-22 22:27] rpg777 opened #2012 "Fix Glare Sensor Support"
1.10 added support for multiple glare sensors, but the results writing function needs to be updated.

[2015-12-29 19:27] MatthewSteen opened #2013 "1.10.0 closes when changing Results Summary Report"
This has happened a few times in a medium sized model (225 zones, 190,000 ft2). The app will close when changing to the Results Summary tab and then quickly trying to change the report from the default OpenStudio Results report.

[2015-12-30 14:49] cvazquezpe opened #2014 "Openstudio application 1.10"
The Opensutdio 1.10
![daily range c](https://cloud.githubusercontent.com/assets/16490249/12052183/bc23067e-aee2-11e5-9620-9b01588a225d.JPG)
![daily range f](https://cloud.githubusercontent.com/assets/16490249/12052184/bc23b29a-aee2-11e5-811a-15682ae026c4.JPG)

application is wrong converting degrees celsius to fahrenheit in the design day climate data. This is happening in the case of daily ranges

[2015-12-30 16:00] macumber commented on #2014
Hmm this should be working correctly already, the units in the IDD are deltaC which is correct:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/resources/model/OpenStudio.idd#L1004

[2015-12-30 18:01] cvazquezpe commented on #2014
Yes it is correct in SI units. But when I-P units are chosen within the preferences menu, then the conversion is incorrect.

[2015-12-30 18:03] evanweaver commented on #2014
Understood. This is now a known bug, and we are addressing it. Thanks for the catch @cvazquezpe.

[2015-12-30 18:26] evanweaver commented on #2014
Currently, OpenStudio converts the idd's "deltaC" to "K". Kelvin and Rankine then are the currencies used in OpenStudio's QuantityConverter class to express temperature deltas. Users may prefer in the future to have temperature deltas expressed in C and F, but for now, this fix is technically correct and adheres to the current OpenStudio paradigm to express temperature deltas.

[2015-12-30 18:26] #2014 closed

[2016-01-01 01:01] MatthewSteen opened #2016 "zone_report measure causes sim to fail"
Just added this [measure](https://bcl.nrel.gov/node/82313) to a model which caused the sim to fail in the middle of writing the ERR file. Not sure if it's related, but the run period was set to one week.

FYI @asparke2

[2016-01-04 20:03] shorowit opened #2017 "PAT's "Sync Project Measures with Library" only updates 10 measures"
I searched for a bug on this but didn't find one.

When there are a lot of measures to update via the "Sync Project Measures with Library" button in PAT, the screen shows the total number of measures to update, paginated with 10 measures per page. If you go to the other pages, all measures are checked by default. But when you click Update, only the first 10 measures (or perhaps, only the measures

[2016-01-05 16:05] macumber opened #2019 "No way to generate log files with installed OpenStudio"
We should have a checkbox to turn on debug logging in the installed OpenStudio, this would allow us to give users more assistance when they have issues remotely

@axelstudios FYI

[2016-01-05 16:16] macumber commented on #2019
We should also look into more sophisticated remote debugging libraries:

https://msdn.microsoft.com/en-us/library/windows/desktop/ee416349%28v=vs.85%29.aspx?f=255&MSPPError=-2147217396

https://msdn.microsoft.com/en-us/library/windows/hardware/hh451173%28v=vs.85%29.aspx

http://www.bugsplatsoftware.com/

[2016-01-05 16:17] macumber commented on #2019
Looks like there is stuff for JavaScript too:

http://jsconsole.com/remote-debugging.html

[2016-01-05 22:13] DavidGoldwasser commented on #1959
Just tried to run with 1.10.1 on my development build, and it works now. So I'll close this.

[2016-01-05 22:13] #1959 closed

[2016-01-07 05:05] kbenne opened #2020 "ZoneVentilationDesignFlowRate problem"
When ZoneVentilationDesignFlowRate is assigned to a zone with other equipment, the simulation will fail unless zone ventilation is the last component in priority. This is because on export to idf the zone hvac assigned to the zone receives the incorrect heating/cooling priority. The software logic counts the zone ventilation as zone equipment which it is not, so there is an off by +1 error.

[2016-01-07 19:15] macumber opened #2021 "Cannot use RubyJobBuilder for Reporting measures"
Reported by Iain McDonald, lack of input and output file types cause an error in this code

[code]

[2016-01-08 17:19] macumber commented on #1915
From Elizabeth:

Weather file issues -- I still have the same problem where if I save a file as a new name and then move the old one into an archive directory, that the new file forgets that is has a weather file.  And then of course it fails after it has taken 10 minutes of runtime already.  I thought that was supposed to be fixed this version? Maybe not?  Anyways, I bet I have lost HOURS of time

[2016-01-08 17:21] macumber opened #2022 "Air terminal magic not applied to all terminals"
From Elizabeth Gillmor: I had always liked that when you set up one of these on an airloop and then added more zones to your loop, that the air terminals, their settings, and loop connections would be magically reproduced for all the subsequent terminals.  However it does not happen with the 2 or 4-pipe induction unit object or chilled beam object.  One has to go manually click on every object to

[2016-01-08 17:28] macumber commented on #1915
@evanweaver this might be something to ignore on the 1.X branch, file handling is a big push for 2.0 branch

[2016-01-08 17:30] evanweaver commented on #1915
@macumber do we have a recommended workaround, in the meantime?

[2016-01-08 17:31] macumber commented on #1915
Reset the weather file when you do a save as

[2016-01-10 18:48] edixon16 opened #2024 ".osm files disappear from computer, possibly caused by uninstalling and reinstalling OpenStudio and Sketchup applications"
I noticed that all of the .osm files I had saved on my Windows 7 work computer had disappeared about a week ago (except for the .osm files that OS automatically creates in the sub-directory when saving a new file, possibly scripts or measures or libraries). They were a bunch of old projects I had worked on in November and saved in My Documents folder. There was a period of one month that these fil

[2016-01-12 09:47] jmarrec commented on #1947
@kbenne: I'm only getting to this now and I'm wondering if I see OS  v1.10.1 was released 4 days ago. Will I miss something big if I use your older friendly build?

[2016-01-12 12:30] jmarrec commented on #1999
I'm having the same issue right now. Model was displaying fine. I closed sketchup and reopened it and there's nothing displayed though I do see everything in the model inspector

[2016-01-12 14:28] jmarrec commented on #1999
If I change the version to 1.9.4 in text editor and try to open it in sketchup 2015 with OS 1.9.4 it doesn't work either.

I have many checkpoints so I pinpointed where it went wrong: right from the start.
I had a functional model in 1.9.4, that I upgraded to 1.10.1. This works.
Then my next checkpoint it already doesn't work.

Here's the changelog between the two:
- I changed the building axis to

[2016-01-12 14:55] kbenne commented on #1947
Please use the iteration build if possible. The problem with friendly builds is that there may be version translation problems down the road. Consider for instance if you build a model with a friendly build that reports itself as 1.10.0, but then after the friendly build some version changes came into the real 1.10.0. Your "friendly built" model will miss those version updates because OS will not

[2016-01-12 15:30] jmarrec commented on #1814
Still relevant as of 1.10.1

![os space display messed up after 100 entries](https://cloud.githubusercontent.com/assets/5479063/12267711/bdbfcdac-b949-11e5-9705-3d2e89fc6ead.png)

[2016-01-12 15:54] shorowit commented on #1399
We would love to make use of this for our residential measures.

[2016-01-12 16:34] jmarrec commented on #1999
I also tried deleting all spaces (3 plenums) with 50+ surfaces, and the model loads.

I also did the opposite: deleted all spaces except these three, and the model loads too...

I'm confused now.

[2016-01-12 18:12] jmarrec commented on #1999
The model with only the big plenums was loading.
I split each plenum in two, now it won't load anymore. I thought maybe this had to do with the fact that it opened when I saved the model last from the API in command line, so I tried that too here, didn't work.

I emailed my model to you.

[2016-01-13 05:14] macumber commented on #1999
Added second file from @jmarrec

[2016-01-13 05:22] macumber commented on #1713
https://unmethours.com/question/13399/openstudio-crash-in-window-81/

[2016-01-13 05:50] macumber commented on #1966
Added file to user files

[2016-01-13 05:58] macumber opened #2026 "PAT is breaking 1.9.0 files when opening with 1.10"
Reported by Elizabeth Gilmore

[2016-01-13 06:13] macumber commented on #2026
I can reproduce this trying to open an empty 1.9.0 project

[2016-01-13 06:26] macumber commented on #1408
https://unmethours.com/question/13849/openstudio-calibration-not-working/?comment=13900#post-id-13900

[2016-01-13 17:08] DavidGoldwasser commented on #1408
In my test it does fail if you use district heating or cooling utility bill, vs, just not showing those fuels. I'll try to add the an updated test model into the repo, but test still wont' run until it also loads AMY vs. TMY file.

Ideally test should issue warning for other fuel utility bills.

[2016-01-13 19:36] macumber commented on #1713
Here is the call stack and some screenshots from dependency walker

With Autodesk 360:
[OpenStudio-Debug.txt](https://github.com/NREL/OpenStudio/files/89392/OpenStudio-Debug.txt)

![afterfiledialog-withautodesk](https://cloud.githubusercontent.com/assets/1327850/12305451/202c82de-b9f2-11e5-80a5-c5990e0ea95d.jpg)

After removing Autodesk 360:
![afterfiledialog-withoutautodesk](https://cloud.githubu

[2016-01-13 19:38] macumber commented on #1713
Noticed that AdSyncNamespace.dll seemed to be loading Qt4 dlls, this was suspicious.  Also saw this post https://forum.qt.io/topic/28608/solved-strange-error-while-opening-file/6

However, removing Autodesk 360 did not resolve the crash

[2016-01-13 19:39] macumber commented on #1713
Call stack of crash appears to be in C:\Program Files (x86)\Dell Backup and Recovery\Components\Shell\DBROverlayIconBackuped.dll

[2016-01-13 20:45] DavidGoldwasser commented on #1969
@kbenne and @macumber should we do something to fix this when cloning a zone in OS app? Should it also clone the thermostat

[2016-01-13 20:46] DavidGoldwasser commented on #985
Solution will be to change thermostat in plugin so will be unique for every thermal zone. Then they will behave as expected in GUI. Will try to fix existing models in version translation.

[2016-01-13 21:25] #1947 closed

[2016-01-14 05:40] #1713 closed

[2016-01-14 07:07] DavidGoldwasser opened #2028 "Forward Translation error when multiple spaces of same space type in a zone when load type is design load"
Steps to reproduce.
1. Create electric equipment definition with design level value (watts vs. watts per are or per person)
2. Add this load to a space type
3. Add the space type to two or more spaces
4. Add the spaces from step 3 into a new thermal zone
5. export to IDF.

If the load in step 1 was 100W and you had three spaces, then there should be 300W in the resulting thermal zone in an exporte

[2016-01-15 21:22] macumber commented on #2026
Useful script for debugging

[print_pat.rb.txt](https://github.com/NREL/OpenStudio/files/92537/print_pat.rb.txt)

[2016-01-15 21:44] macumber commented on #2026
@DavidGoldwasser @asparke2 can you help me test this out? Once this checks out, @evanweaver can patch it to the 1.10.0 release and roll installers for further testing

[2016-01-15 21:53] macumber commented on #2026
If you open a 1.9.0 file, you will end up running both versions of the standard report measure (the 1.9.0 version output looks really similar to the 1.10 version output which confused me at first).  Neither reporting measure will show in the PAT interface because they are "WorkItems" and not "Variables", this also confused me

[2016-01-15 22:42] evanweaver commented on #2026
I'm on deck. Let me know the testing results.

[2016-01-16 02:55] macumber commented on #2028
The proposed fix does not allow combined spaces to share a space type that has absolute loads.  This is consistent with the model api.  However, it is probably bad practice to apply absolute loads to a space type because the total load will be very sensitive to the space geometry (i.e. different configurations will have different total loads even if they have the same floor area)

[2016-01-16 02:58] macumber commented on #2028
@shorowit @joseph-robertson FYI

[2016-01-16 15:20] macumber commented on #2026
On second thought, @evanweaver it's probably best if you can roll this commit into some new 1.10.0 packages.  That way @DavidGoldwasser @asparke2 and @ljbrackney can test using installers.  I'll be out Monday, the commit that should go in is here

https://github.com/NREL/OpenStudio/commit/5e36f2ea94b60c1bc449a6a8fc85d63a343aeeba

I still need to write a unit test on that branch to prevent this fro

[2016-01-18 18:06] MatthewSteen opened #2030 "PAT 1.10.0 run time depends on number of External File User Defined Measures"
I'm running a small model through PAT for an EDA FEA report with a single design alternative created from an external file. The baseline model has an OS measure, an EP measure, and a Reporting measure brought in as fixed measures and the external file does not have any measures. The design alternative has 10 User Defined Measures included in the model, which takes significantly longer to run than

[2016-01-18 18:40] MatthewSteen commented on #2030
Disregard, working now.

[2016-01-18 19:15] jmarrec commented on #1897
+1 still relevant today in 1.10.1

[2016-01-18 21:38] eringold commented on #1897
Looks like it only happens when app unit preference is IP.

[2016-01-19 16:34] macumber commented on #2030
This can depend on the measure.  Are you sure it's not any measure in particular that is slowing things down?

[2016-01-19 16:38] MatthewSteen commented on #2030
It always stalls on the first OS measure, in this case 90.1-2010 Daylighting, but that one is attached to the baseline model as a fixed measure. There are no measures attached to the External File. Run time simply depends on how many User Defined Measures the External File is tagged with.

[2016-01-19 16:42] ljbrackney commented on #2030
That's odd.  The project I usually test with has 3 or 4 measures attached to the baseline, and then I pile on another 4 or 5 to create design alternatives.  When I was testing the 1.10.0 bug fix build yesterday I didn't notice anything out of the ordinary.  I wonder if it's specific to the daylighting measure?

From: MatthewSteen <notifications@github.com<mailto:notifications@github.com>>
Reply-To

[2016-01-19 16:48] eringold commented on #2030
I also experienced a severe PAT lag when running a design alternative (created from external file) with around ten User Defined Measures, and had the issue go away once I pruned the UDMs down to 5 or 6. I sent the project file to @asparke2 last week; I can send it to @macumber if you need another example.

[2016-01-19 16:58] MatthewSteen commented on #2030
I just tested that theory by deleting the OS measure and run time is still too long with the external file tagged with ~10 UDMs. In this case it stalls during the first step while processing the alternate model instead of the second step processing the first OS measure. The baseline took ~3 minutes and the alternate has taken >10.

![image](https://cloud.githubusercontent.com/assets/8397034/124256

[2016-01-19 17:03] eringold commented on #2030
Yep, that was the exact behavior I saw @MatthewSteen, though with mine I didn't have the patience to get past the first step (no movement after like 25 minutes).

[2016-01-19 17:11] macumber commented on #2030
File added to files repo

[2016-01-19 17:16] MatthewSteen commented on #2030
Workaround was to reduce the number of User Defined Measures so that the model runs in a tolerable amount of time (in my case 9 UDMs), and then edit the `results.xml` to add the remaining UDM(s) for EDAPT, which requires generating a UUID.

    <measure>
          <name>Central Utility Plant (CUP) Proposed Design Phase 1 - 50% SD</name>
          <id>{b347f69a-9b68-4034-a42b-f109781a97f5}</id>

[2016-01-19 17:52] macumber commented on #1200
Would be good to have an airflow sub-tab for spaces to handle these objects

[2016-01-19 18:02] macumber commented on #2030
@eringold were you using the same measures as Matt?  Also, you were both running 7 jobs at a time on an 8-core machine?

[2016-01-19 20:27] eringold commented on #2030
@macumber I think we had the same always run measures in our projects. Both projects had only a couple 'always run' measures applied to the baseline and alternative(s). Each alternative was brought in from an external file, with 'user-defined measures' described to account for all the changes in those external files. I did this so that the XML would register those runs as 'design_alternative' runs

[2016-01-19 20:40] eringold commented on #1597
Ran into a similar problem when a comma is included in the Name field of a User-Defined Measure associated with a PAT alternative run. The Name string is set as-is as the name of the Life Cycle Cost EnergyPlus object, fouling up the idf fields.

[2016-01-19 21:17] #2028 closed

[2016-01-19 21:18] DavidGoldwasser commented on #2028
Looks good. Here is what I see now in the IDF file where two spaces use a common space type with a 65W refrigerator. Not sure why the second is 3 vs. 2 but not concerned with naming as long as results are as expected.

[code]

[2016-01-19 21:26] kbenne commented on #1969
I think this bug is obsolete. See code [here](https://github.com/NREL/OpenStudio/blob/a9a4fa38a748dba2d8e4a9582a13a851361ecf15/openstudiocore/src/model/ThermalZone.cpp#L1943) and tests [here](https://github.com/NREL/OpenStudio/blob/a9a4fa38a748dba2d8e4a9582a13a851361ecf15/openstudiocore/src/model/test/ThermalZone_GTest.cpp#L569).

[2016-01-19 21:26] kbenne commented on #1969
@DavidGoldwasser

[2016-01-19 21:28] kbenne commented on #123
@DavidGoldwasser I think this issue is resolved based on the work over in #985. Do you agree that we can close this one?

[2016-01-19 21:42] shorowit commented on #2028
@macumber Thanks for resolving this issue so quickly!

[2016-01-19 22:38] kbenne opened #2033 "AirTerminalSingleDuctConstantVolumeFourPipeInduction does not always connect properly"
If you have an AirLoopHVAC instance with a single demand branch that contains only an AirTerminalSingleDuctConstantVolumeFourPipeInduction (no zone), then add a zone, the terminal will not be connected properly. The recirculation loop between the zone exhaust node and the terminal's secondary air inlet will not be hooked up. This is almost certainly true for other terminals that have secondary air

[2016-01-20 12:36] jmarrec commented on #1946
+1, still missing the "green" inheritance thing on the surface tab, you don't know if the surface was HARD assigned a construction or not

[2016-01-20 21:32] eringold opened #2034 "App closes when Air Loop availability schedule is set to blank and the 'Control' button clicked."
@kbenne, @macumber

This isn't likely to come up in usual practice, and will probably be low priority. If you set the AirLoopHVAC Availability Schedule to blank in the edit pane (when clicking the supply/demand dotted line), and then click on the 'Control' button for that loop, the App will close with no warning. Tested with OS v1.10.0, Window 7 x64.

[2016-01-20 21:46] macumber commented on #2034
Sounds pretty bad to me, we usually call anything that crashes the app at least a major bug.

[2016-01-21 02:08] kbenne commented on #2034
It definitely needs to be fixed. I think it might just amount to a small IDD change.

[2016-01-21 16:12] #985 closed

[2016-01-22 03:50] #2026 closed

[2016-01-22 14:30] jmarrec opened #2037 "HeatExchanger:FluidToFluid problems"
Can you please either:

1. Expose the 'Heat Exchanger Setpoint Node Name' field (allow for greater flexibility I guess...)
2. Do a smarter forward translation: if I didn't supply a setpointManager on the outlet of the HX, then you should assume it's the Loop Supply Side Outlet Node and not the HX Supply Side Outlet because that'll crash E+, like you do perfectly for components such as chillers.

T

[2016-01-22 16:04] Pampipampupampa opened #2038 "Decimal separator disable in construction material values fields"
Cannot write decimal separator `.` in a value field for a material information (`Constructions/Materials`)

See: https://unmethours.com/question/12233/creating-new-construction-materials/

**The proposed solution works but affect others softwares on the platform:**
"A quick fix (tested in W7 64-bit) : 'Control Panel' > 'Clock, Language, and Region' > 'Formats Tab' and change comma separator into p

[2016-01-22 16:33] macumber opened #2039 "Users disabling StandardReport measures to use IP reporting measure."
I am not sure what the right solution to this is, but there is obviously a problem here as users are messing with the installation in order to run the IP reporting measure.

https://unmethours.com/question/11357/os-185-and-19-turn-off-built-in-openstudio-results-measure/?answer=14258#post-id-14258

In PAT 2.0 we might want to make it easier for users to simply remove the StandardReport measure.  W

[2016-01-22 16:34] macumber commented on #2039
This issue is just to host discussion so we can arrive at a solution.

@DavidGoldwasser @asparke2 @kbenne @brianlball @henryHorsey

[2016-01-22 16:35] macumber commented on #2039
Other option is to make StandardReport exit without failing if IP units are discovered.  This is a little weird but possibly justified since users can't remove the measure on their own.

[2016-01-22 16:44] jmarrec commented on #2039
Note that in my case I just wanted to be able to turn it off as it's considerably slowing overall simulation time while I'm troubleshooting (Love the design, but I'll save that for the end game)

[2016-01-22 16:44] DavidGoldwasser commented on #2039
I like the idea of treating the standard reporting measure kind of like the radiance measure, with one exception. When I make a new OSM file the standard reporting measure is in the workflow by default. But the user sees it in the workflow and has an option to remove it or to use the measure arguments to enable/disable specific sections.

I don't know there is a mechanism to do this now? But there

[2016-01-22 16:49] macumber commented on #2039
I think David's suggestion is the right approach for PAT 2.0 and OS App 2.0, don't think it is worth messing with for current version.

[2016-01-22 16:53] DavidGoldwasser commented on #2039
I agree we don't need a short term solution, if we can get it right for September, that is fine.

[2016-01-22 16:53] ljbrackney commented on #2039
I like David's suggestion also.  It starts to back away from the notion of a "magic measure" and gives the user more control.  It seems like it would be straightforward to populate a new model with that as a reporting measure that could be deleted by the user.

On Jan 22, 2016, at 9:50 AM, Dan Macumber <notifications@github.com<mailto:notifications@github.com>> wrote:

I think David's suggestion i

[2016-01-22 16:58] kbenne opened #2040 "New Geo lib breaks OpenStudio-Resources build"

[2016-01-22 16:58] macumber commented on #2040
Uh oh :-(

[2016-01-22 16:59] kbenne commented on #2040
got it!

[2016-01-22 17:00] macumber commented on #2039
I do think reporting measures can continue to fail if they detect IP units and are not set up to handle them.  The user can just remove failing measures.  My question is if the simulation workflow should really halt when a reporting measure fails or if it should attempt to continue on?

[2016-01-22 17:01] macumber commented on #2040
Thanks!

[2016-01-22 17:03] #2040 closed

[2016-01-22 17:07] DavidGoldwasser commented on #2039
I've tried to update the standard report measure to fail gracefully with internal error handling instead of throwing an error, so hopefully if people follow that pattern we will see less failures (I can also tighten up the standard report more), but I like the idea of running subsequent reporting measures after one fails. But if that is a big effort then maybe better to focus on measure quality.

[2016-01-22 17:18] eringold commented on #2039
Just want to chime in that I think it's fine for the results measure to be in the workflow by default, but should have user controls to turn sections (or the whole thing) off, for the same reasons @jmarrec mentioned (and also [here](http://openstudio.uservoice.com/forums/308629-openstudio/suggestions/10094883-add-user-controls-to-default-results-reporting)).

[2016-01-23 13:48] fengcool opened #2042 "Assign thermostat to zones problem"
I have a problem when I assign a thermostat to a few specific HVAC zones. I highlight the zones, and click “apply to selected” button, however ALL the zones in my model are assigned the same thermostat. Please fix the problem. Thanks.

[2016-01-24 20:49] eringold opened #2043 "CoilHeatingWaterToAirHeatPump:EquationFit forward translator sets hard sized rated water flow rate as air flow rate"
Found this in v1.10.0, Windows x64. Looks like this is happening [here](https://github.com/NREL/OpenStudio/blob/a477c2f00aa05e37813d0aedab3ddbaf8d2881be/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateCoilHeatingWaterToAirHeatPumpEquationFit.cpp#L112). This hurts the simulation.

@kbenne @macumber

[2016-01-24 21:41] egillmor commented on #1915
Hi All. Not surprisingly, this is an issue with PAT as well.  Simply resetting the weather file is not as easy here.  I have to remove the osm files from PAT altogether which then of course deletes all the design alternatives and the results.  I have *hundreds* of wasted hours between these two issues.  Please let me know where this is on the priority list and when this will be fixed.  Thanks.

[2016-01-24 22:32] MatthewSteen commented on #2039
+1 for @jmarrec's comment of reporting measures adding to sim time.
+1 for @DavidGoldwasser's idea of removing the OS measure from the installation.

My preference would be to show the `eplustbl.htm` file in the Results Summary tab without any sort of OS reporting by default. However, I do think the unit preference from the app should be included in the forward translation so that it doesn't requi

[2016-01-24 22:39] macumber commented on #1915
Issues affecting EDAPT users go to the top of the list, we take them very seriously.  Can you give a little more detail about what happened here?  An OSM had lost its weather file, then you used that as a seed in a PAT project?  You had a PAT project and wanted to change just the weather file and not the seed?

[2016-01-24 22:45] macumber commented on #2039
@MatthewSteen the main reason we have not wanted to support IP units in E+ reporting is that our API methods and other reporting measures assume SI results.  If we allowed IP/SI results then all the API methods and reporting measures would have to check which units were used.  This could lead to reporting measures that only worked with SI or IP and you would get into a big mess.  Our thought was t

[2016-01-24 23:08] ljbrackney commented on #2039
I don't think we can just get rid of the standard reporting measure and make users install it.  That's great for power users, but would strand a huge number of neophytes who just want to install the app and get something out quickly. I still like David's suggestion of installing it as a regular reporting measure in blank models then letting people choose to delete it if runtime* is an issue.

Larr

[2016-01-24 23:28] egillmor commented on #1915
Yes, this is an EDA project.  I took an older PAT project (1.7) from an FEA that was ready to be updated per the CD Review.  I updated it to PAT 1.9 since I haven't had time to mess with the 1.10 fix yet about opening older files and I didn't want to risk it getting eaten.  Saved it into a new folder, made a small change to one DA, ran it, all runs failed.  But weirdly nothing showed up in the .er

[2016-01-25 01:45] macumber commented on #1915
So you updated an old PAT project and saved it to a new location and that broke links with all the weather files?  I'm not sure what happened after that (if you were opening the seed/alternative models in the PAT project or outside of it, etc) but I think the root cause was losing the weather file on update and/or save as. We can look into that.

We are working on OS and PAT version 2.0 this year,

[2016-01-25 02:04] macumber commented on #2039
@MatthewSteen do you care if any of the other files (ESO, SQL, etc) are in IP or do you only care that the html is in IP?

[2016-01-25 02:06] macumber commented on #2039
From that uservoice link it seems that part of the issue is that the reporting measure currently adds a bunch of report variables to the simulation in order to create all of the sections.  These report variables add time (and output size) to the E+ simulation in addition to the time it takes to create the report.

[2016-01-25 02:56] egillmor commented on #1915
Yes that's about it.  It's very possible that I had archived some older files in the other directory which "broke" the weather file link in the 1.7 file after I had finished the PAT project but before I did the save-as, I don't know.

After the first run failed, I then tried to open the seed/alternative models of the new PAT file in OS 1.9 to re-attach the weather file, but for some reason that wa

[2016-01-25 03:05] egillmor commented on #1915
Also -- I'd like to put in my vote that this issue NOT wait until 2.0.  Something that destroys a existing file (or renders it totally useless) should be made a top priority.

[2016-01-25 04:38] MatthewSteen commented on #2039
@macumber I think that's where we're not hearing each other. My comments only apply to the HTML output and simply adding `InchPound` to the Unit Conversion field of the OutputControlTableStyle object, which doesn't affect the other EP files. Completely understand the undertaking converting these other files would be.

@ljbrackney that's a good point and I agree that there should be a 'high level'

[2016-01-25 04:49] macumber commented on #2039
The problem is that ip setting does affect the tabular reports in the sql file where many reporting measures and API methods pull data from.  I'm not sure if the ip switch affects time series data in the sql or not.

[2016-01-25 05:24] MatthewSteen commented on #2039
@macumber ah I see how that would be a problem if OS uses the TabularDataWithStrings part of the SQL file. I assumed OS was only using the other parts which should be unaffected by the InchPound field.

[2016-01-25 14:10] ljbrackney commented on #1915
We agree.  Critical fixes to PAT 1.x will continue to be made while the team works on the more robust PAT 2.0.  Show stoppers from EDA users always bubble up to the top of the team's work queue.

On Jan 24, 2016, at 8:05 PM, egillmor <notifications@github.com<mailto:notifications@github.com>> wrote:

Also -- I'd like to put in my vote that this issue NOT wait until 2.0. Something that destroys a e

[2016-01-25 15:28] eringold commented on #2043
Example: here's an object from 'out.osm' in /run/1-UserScript-0:

    OS:Coil:Heating:WaterToAirHeatPump:EquationFit,
    {53fa062d-bfb4-4d0f-9441-9ca44d591cf6}, !- Handle
    Coil Heating Water To Air Heat Pump Equation Fit 46, !- Name
    {775c9dfc-c8d6-4014-aeec-758f001ef3f5}, !- Water Inlet Node Name
    {546283ca-4da4-41ef-97a7-f2016828badf}, !- Water Outlet Node Name
    ,

[2016-01-25 17:34] macumber commented on #1915
@egillmor I suspect that the issue goes back to the initial seed OSM losing it's weather file because the OSM is pointing to a weather file via an absolute path and then that weather file moves.  Then next time this happens, I suggest opening the OSM file in the seed folder of your PAT project in a text editor, search for the OS:WeatherFile object.  If the Url field points to a file that does not

[2016-01-25 17:58] DavidGoldwasser commented on #2039
@ljbrackney my post about this wasn't really clear. What I want is for our installer and core code not to have any measures (standard report, radiance, etc). It should point to a BCL node, and when the installer runs, or when the app is launched the first time, it populates a the local BCL database. This would allow us to push update to these to users between releases. Current they are stuck with

[2016-01-25 21:34] #123 closed

[2016-01-25 21:37] DavidGoldwasser commented on #2042
I think this issue fixed in 0.1.11 addresses the problem you are seeing. Let me know if you are describing something different, and I can re-open this.

[2016-01-25 21:37] #2042 closed

[2016-01-25 21:39] DavidGoldwasser commented on #2016
there is an UH post about zone report, the test fails.
https://unmethours.com/question/14245/zone_report-measure/

[2016-01-25 22:29] macumber opened #2044 "Reorder design alternatives in PAT for reporting"
Reported by @egillmor

DLM - I’m not sure what you mean here, are you talking about reordering the rows in the results tab of PAT?  You want to be able to change the order in which results are shown in the grid (so you can show the proposed next to the baseline for instance)?  Would you want to be able to manually order these, sort them (from highest to lowest energy savings), or hide particular r

[2016-01-25 23:12] kbenne opened #2045 "draw dual ducts"

[2016-01-26 14:29] jmarrec opened #2046 "HVAC templates should have a water cooled chiller and an air cooled chiller."
Currently there's only one chiller, that likely happens to be air cooled.

If you select this option

![2016-01-26 15_24_29-add hvac system](https://cloud.githubusercontent.com/assets/5479063/12583132/6c265684-c441-11e5-9e0c-13b6bac7d708.png)

You'll end up with a WaterCooled chiller that has unjustifiably:
1. Condenser type set to "Air Cooled".
2. Air cooled curves produces an E+ warning

For 1.

[2016-01-26 15:22] #1968 closed

[2016-01-26 16:53] elainethale opened #2047 "ResultsViewer updated alias does not propagate to the Table or Tree Views"
In OpenStudio 0.10.0, when I open an EnergyPlus sqlite file in ResultsViewer and then update the file's alias in the bar under the main menu, it is of limited use because the name does not propagate down to the panes from which I can select data to plot.

[2016-01-26 16:55] elainethale commented on #2047
Slight modification--the alias does propagate down if I open up another file.

[2016-01-26 21:54] kbenne opened #2049 "fix ownership issues with zone controllers"
This includes thermostats, humidistats, and new ZoneControlContaminantController. Make the API more robust and enforce our will.

[2016-01-27 00:29] #2049 closed

[2016-01-27 00:30] #1897 closed

[2016-01-27 16:54] kbenne opened #2051 "Mac packages fail at runtime due to geo lib"
Prefer to static link if possible.

[2016-01-27 19:28] kbenne commented on #2051
https://github.com/NREL/OpenStudio/pull/2053

[2016-01-29 16:59] muh182 commented on #1964
@kbenne this is the four pipe fan coil that I showed

![four pipe fan coil](https://cloud.githubusercontent.com/assets/2249257/12682020/826469f0-c67f-11e5-99c3-ca40a44088a5.JPG)

Also, these are the coil cooling and heating that have the component coils exposed in the library.

![coil cooling](https://cloud.githubusercontent.com/assets/2249257/12682045/95a9c186-c67f-11e5-95fd-d189583cbba2.JPG)
![c

[2016-01-29 18:17] eringold commented on #1915
I've also had some trouble with a 'save as' resulting in energyplus error for no weather file. Curiously, the weather file name remains in the Site tab, and clicking 'Change Weather File' opens the file location where the .epw is located.

To pile on, if the YearDescription object is set to 'Calendar year', this will be re-set to 'Day of Week for start day' upon save-as. This can really foul up si

[2016-01-29 18:35] macumber commented on #1999
Somehow the space's SU entities are being deleted:

    m = OpenStudio::Plugin.model_manager.model_interface.openstudio_model
    s= m.getSpaces[0]
    puts s.drawing_interface
      #<OpenStudio::Space:0x00000012f539c8>
    puts s.drawing_interface.entity
       #<Deleted Entity:0x12a03680>
    puts s.name
      Space 137
    s.surfaces.each {|su| puts su.drawing_interface.entity}
      #<Deleted

[2016-01-29 19:08] macumber commented on #1999
Tested this occurs with OS 1.10 and SU 2016, OS 1.10 and SU 2015, OS 1.9 and SU 2014, OS 1.8 and SU 2014

[2016-01-29 23:55] egillmor commented on #1915
Yes, I have had the calendar year thing happen as well.  In my case, it reverted in my proposed model but not my baseline, and I was pulling my hair out trying to figure out why my equipment kWh differed between the two, despite being modeled identically.  That was the culprit.

[2016-01-30 00:18] egillmor commented on #2011
I just recently tried this measure for the first time and it failed for me as well.
![image](https://cloud.githubusercontent.com/assets/16869106/12691738/28ccaa88-c6ac-11e5-913f-a6f0c33545f4.png)

[2016-02-01 12:22] jmarrec opened #2054 "CoilCoolingDXSingleSpeed requires an OptionalDouble for setRatedCOP"
[code]

This works:

[code]

[2016-02-01 15:07] MatthewSteen commented on #2054
https://unmethours.slack.com/archives/openstudio-measures/p1452890055000002

https://github.com/NREL/OpenStudio/issues/382

[2016-02-01 16:14] macumber opened #2055 "PAT datapoints with comma's in name fail to run"
Reported by @egillmor

[2016-02-01 16:14] macumber commented on #2055
![untitled](https://cloud.githubusercontent.com/assets/1327850/12722892/420983bc-c8c4-11e5-93a3-d556f689af5e.png)

[2016-02-01 16:19] eringold commented on #2055
Related to https://github.com/NREL/OpenStudio/issues/1597?

[2016-02-01 16:24] macumber commented on #2055
Maybe, there are [several comma related bugs](https://github.com/NREL/OpenStudio/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+comma)

[2016-02-01 18:02] macumber commented on #1999
http://forums.sketchup.com/t/groups-mysteriously-deleted-in-an-operation/19719/1

[2016-02-01 18:11] rpg777 opened #2056 "Radiance Path Order"
The Radiance measure appends the OS system Radiance locations to ```path``` and ```RAYPATH```, but we should be **pre**pending these locations (currently, if a user has an old Radiance version installed, it will still be preferred over the OS-supplied version). ~~Also need to be operating system centric with the colons and semicolons, there, yeah?~~ Yeah.

[2016-02-01 18:13] rpg777 commented on #713
Addressed with OS1.10.1

[2016-02-01 18:13] #713 closed

[2016-02-01 19:47] rpg777 commented on #2056
Probably fixed with [this commit](https://github.com/NREL/OpenStudio/commit/2eee4b3858aa7638a455c21206154e904efa90bf). Distributed for testing.

[2016-02-02 09:26] jmarrec opened #2057 "Wrong IP units for controllerWaterCoil min/max flow"
`Controller:WaterCoil` takes a Minimum Actuated Flow and a Maximum Actuated Flow. As seen in the [docs](http://bigladdersoftware.com/epx/docs/8-4/input-output-reference/group-controllers.html#field-maximum-actuated-flow),

In OpenStudio, CFM is asked instead of GPM.

![wrong units for min or max actuaded flow](https://cloud.githubusercontent.com/assets/5479063/12744976/62f7e586-c997-11e5-975b-2573

[2016-02-02 14:46] MatthewSteen commented on #2057
Might be an EP issue.

![image](https://cloud.githubusercontent.com/assets/8397034/12752734/18d58654-c981-11e5-8df8-0bd7732b0bfd.png)

[2016-02-02 17:43] jmarrec commented on #2057
Seems it is indeed, I'll open one there...

[2016-02-02 19:15] macumber commented on #2024
As far as I know nothing in the OpenStudio installer/uninstaller would remove OSM files.  Is it possible something else removed the files?

[2016-02-02 20:28] macumber commented on #1999
I spent a little more than a day looking at this and don't have any leads.  Are you able to get around this issue by simplifying geometry when tracing over DXF?

[2016-02-02 21:20] jmarrec commented on #1999
For this specific building I spent a lot of time opening an earlier version that worked, getting the info I needed (surface name for example) and performing operations using the API, like setting adiabtic surfaces etc.
After countless of them, the model started opening up in sketchup again...

I have no clue why but I was glad it did because I had windows and stuff to adjust or add, and I couldn't

[2016-02-03 16:33] eringold commented on #1999
I was able to work around by simplifying geometry. I appreciate your investigative effort, @macumber!

[2016-02-03 17:01] jmarrec commented on #1999
yo tambien, +1

[2016-02-03 17:13] rpg777 commented on #2056
Fixed/merged [here](https://github.com/NREL/OpenStudio/pull/2058)

[2016-02-03 17:13] #2056 closed

[2016-02-03 19:24] MatthewSteen opened #2059 "change Fan Efficiency field to Fan Total Efficiency"
Can be confused with fan _impeller_ efficiency. EP uses Fan _Total_ Efficency for this field.

https://unmethours.com/question/14649/motor-efficiency-is-not-recognized/

[2016-02-03 20:46] MatthewSteen opened #2060 "PAT 1.10.0 Run tab breaks if run cancelled"
If the run is cancelled the sim bars become un-highlighted and aren't able to be re-highlighted by selecting individually or by using the Select All/Clear Selection buttons.

[2016-02-03 20:50] MatthewSteen commented on #2060
![image](https://cloud.githubusercontent.com/assets/8397034/12796648/196ba858-ca7d-11e5-8fe0-4cce89a7dc22.png)

[2016-02-03 21:29] #2012 closed

[2016-02-03 22:14] MatthewSteen opened #2061 "PAT 1.10.0 stops working if user changes User Defined Measure category"
After opening a project from the first 1.10.0 build in the current build. If the user tries to change one of the External File User Defined Measure category tags the following messages appear.

![image](https://cloud.githubusercontent.com/assets/8397034/12796971/f7cadd48-ca7e-11e5-937a-677faa291da2.png)

![image](https://cloud.githubusercontent.com/assets/8397034/12796973/f8f06fee-ca7e-11e5-89e3-8

[2016-02-03 23:32] MatthewSteen commented on #2061
Selecting No in both cases will cause the crash, selecting Yes will not.

[2016-02-04 12:18] jmarrec commented on #2059
+1

[2016-02-04 12:21] jmarrec opened #2062 "Enable Model Type selection for CoolingTower:VariableSpeed"
Users should be able to at least select between `YorkCalc` and `CoolToolsCrossFlow` in the GUI. Leaving the YorkCalcUserDefined and CoolToolsUserDefined to be separate library object is fine by me (since you have to attach a `CoolingTowerPerformance:` object)

![2016-02-04 13_18_51-untitled_](https://cloud.githubusercontent.com/assets/5479063/12814810/2eed2b00-cb42-11e5-9d5f-d3f60e44ed8c.png)

[2016-02-05 18:55] kbenne opened #2064 "CBECC generated files fail to open in current OS (1.10.2)"
This is a clash in version translation related to SizingZone.

[2016-02-05 19:45] MatthewSteen opened #2065 "Tariff Selection Time And Date Dependent measure has wrong season for winter demand charge"
FYI: @DavidGoldwasser

![image](https://cloud.githubusercontent.com/assets/8397034/12856564/c27d4e2a-cc02-11e5-85dd-f935ed12c523.png)

[2016-02-07 05:06] #2064 closed

[2016-02-08 16:40] DavidGoldwasser commented on #2059
cc: @asparke2 would you want to just fix this, or would you want to allow user to inter impeller and motor efficiency, and then behind scenes we calculate total efficiency? That would of course move into being a feature vs. a bug fix.

[2016-02-08 17:15] MatthewSteen commented on #2059
@DavidGoldwasser @kbenne I'm happy to give this a try if the consensus is a simple name change, which is my preference over deviating from EP.

[2016-02-08 19:53] kbenne commented on #2059
I'm not in support of an outright name change. That would break any and all measures or other consumers of the API. We try to make a pretty strong commitment to keeping our API stable. I think it is one of the major selling points of the OS API in the first place.

That said we can deprecate the current methods in favor of new synonym methods.

Note that the reason OS uses a different name from E+

[2016-02-08 19:55] kbenne commented on #2059
+1 on @MatthewSteen giving it a go. I more than willing to help you get through the learning curve OS development.

[2016-02-08 21:16] jmarrec commented on #2059
If you don't mind I'd like to tag along. At the very least if you hold your conversation in a specific slack channel I could benefit from any advice Kyle gives to Matt.

Envoyé de mon iPhone

[2016-02-10 06:19] DavidGoldwasser opened #2069 "Fix delta temperature in design day table"
Documented in this post
https://unmethours.com/question/14883/why-are-the-data-fields-way-off-in-openstudio-results/?answer=14902#post-id-14902

I noticed also that elevation doesn't show units. confirm units and then display.

[2016-02-10 17:56] DavidGoldwasser commented on #2039
@macumber will C++ queries into the SQL data also be messed up by this. Does it check what units they are or does it assume IP?
https://openstudio-sdk-documentation.s3.amazonaws.com/cpp/OpenStudio-1.10.0-doc/utilities/html/classopenstudio_1_1_sql_file.html

[2016-02-10 18:01] macumber commented on #2039
Yes David, tabular data in the SQLFile is affected by this, that is why this is an issue.

[2016-02-10 18:56] DavidGoldwasser commented on #2039
FYI - I do have a check in current measure that throws warning if OS reported area doesn't match E+. That was made for other reasons such as stacked spaces, but would catch this. Problem is isn't really easy in APP to see info and warning messages.
https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/pat_app/Measures/StandardReports/resources/os_lib_reporting.rb#L268-L273

[2016-02-10 20:00] MatthewSteen commented on #2059
@DavidGoldwasser that would move away from how EP does things, so I personally wouldn't be in favor of that change.

kbenne I hadn't thought about (or appreciated!) the need for consistency in the API. Good point and background.

If there's a consensus among the developers that changing `fanEfficiency` to `fanTotalEfficiency` would be a worthwhile improvement I'm happy to give it a try.

[2016-02-10 20:10] DavidGoldwasser commented on #2059
@MatthewSteen I'm fine with that approach.

[2016-02-11 00:53] eringold opened #2070 "SetpointManager:Coldest translates to two identical energyplus objects"
Added a SetpointManager:Coldest to the supply outlet node of an air loop. In the OSM this:
[code]

becomes this in out.idf:

[code]
and the simulation fails because the objects have duplicate names.

OS v1.10.0, Windows x64.

[2016-02-11 18:25] mattdoiron opened #2071 "Missing Object Types in Sketchup Plugin Inspector"
With the recent v1.10 of OpenStudio and Sketchup 2016, there are a significantly reduced set of objects viewable in the SketchUp plugin's Inspector. The most important misisng object type is constructions. I'm unsure if this was intentional, but if so please restore them! I often define constructions within the plugin and also find it useful to change the render colour of constructions so I can se

[2016-02-11 18:51] eringold commented on #2071
See [this](https://github.com/NREL/OpenStudio/issues/1979) issue and resolution for why the objects available to be edited in the plugin have been changed.

[2016-02-11 19:01] asult opened #2072 "Cannot create thermostats in Sketchup 2016 with OS 1.10"
Hi, I am having trouble creating new thermostats.

Heating and cooling thermostat schedules can be created in OS, but I cannot create new thermostats in Sketchup 2016 plugin inspector. Cannot create thermostats in Openstudio either, how should it be done now?

[2016-02-11 19:05] macumber commented on #2072
This functionality was removed from the SketchUp plug-in, it is now only available in the OpenStudio application

[2016-02-11 19:06] asult commented on #2072
Thank you for responding. I cannot find a way to do it in Openstudio though.

[2016-02-11 19:18] macumber commented on #2072
There is no thermostat tab, a unique thermostat is created for each thermal zone in the Thermal Zones tab under HVAC Systems when you drag a schedule onto the Cooling or Heating Thermostat Schedules.  You can apply a schedule to multiple thermal zones using the Apply to Selected feature of the grid view.

[2016-02-11 19:18] #2072 closed

[2016-02-11 19:19] #2071 closed

[2016-02-12 06:06] DavidGoldwasser opened #2074 "Deleting space orphans lifecycle cost objects that had been associated with the space"
This came up with user model that has cost associated with space (from K12 infiltration measure, but other measures may do this as well). I tried deleting the space from SketchUp using 1.10.3, may or may not do the same thing if deleted via API. App can't delete space. I have not tested if lifecycle cost objects have similar issues being orphaned when liked to other object types.

Object before sp

[2016-02-12 07:13] DavidGoldwasser commented on #2069
Fixed with this commit
https://github.com/NREL/OpenStudio/commit/e3bba6639135673ce70e0d757992f2031729b54b

[2016-02-12 07:13] #2069 closed

[2016-02-12 15:57] macumber commented on #2074
Yuck, this shouldn't be happening.  I'll look into this bug, and add a fix to the diagnostic user script

[2016-02-12 16:55] macumber commented on #2074
@DavidGoldwasser how did you delete the space?  I am not able to reproduce this in a unit test

[2016-02-13 21:39] MatthewSteen opened #2076 "liquid flow rate IP units"
Many of the liquid flow rate fields in the IDD are missing the IP unit conversion to gal/min and default to ft3/min.

[2016-02-16 15:58] DavidGoldwasser commented on #1980
@kbenne just wanted to ping this, looks like still an issue
https://unmethours.com/question/14990/how-to-set-zoneventilationdesignflowrate-in-workspace-object/?answer=15042#post-id-15042

[2016-02-16 17:24] DavidGoldwasser commented on #2065
@MatthewSteen thanks, updated measure is on BCL, may take a few hours to show in GUI.

[2016-02-16 17:24] #2065 closed

[2016-02-16 19:33] #2074 closed

[2016-02-17 19:47] rpg777 opened #2078 "Fix ShadingControl solar setpoint and units handling"
Issue raised [here](https://unmethours.com/question/15094/issues-with-switchable-glazing-solar-gain-setpoint/). Need to stick to watts for the setpoint (and translate to lux exclusively in the Radiance domain), and roll the object back to a reasonable watts-based default value.

[2016-02-17 19:48] #1930 closed

[2016-02-17 19:50] rpg777 commented on #1929
This was fixed a while back.

[2016-02-17 19:50] #1929 closed

[2016-02-18 12:50] jmarrec opened #2079 "Fan:ZoneExhaust Balance Exhaust Fraction default to the opposite of EnergyPlus"
From the docs on [Fan:ZoneExhaust](http://bigladdersoftware.com/epx/docs/8-4/input-output-reference/group-fans.html#field-balanced-exh)ust-fraction-schedule-name

In OpenStudio App, if you leave this field blank, it'll end up being `Always On Discrete` thus making it completely **balanced**.

This field should be either mandatory or default to Always Off.

I hadn't filled this field thinking it wo

[2016-02-18 14:52] jmarrec opened #2080 "Deleting AirTerminal with reheat does not delete HW coil"
When you delete an ATU such as `AirTerminal:SinglueDuctVAVReheat` that had a HW coil connected to a HW loop, the coil stays behind and crashes E+

[2016-02-18 14:54] jmarrec commented on #2080
This might have been mentioned already, but it would be certainly nice to be able to tell which coil on a HW loop is actually not connected to any terminal or zonehvac. though I supposed if you make sure this never happens, there's no point differentiating them

[2016-02-18 15:15] Machbo opened #2081 "Dropping Schedule"
I am losing a schedule name on a Service Hot Water Fixture when running a simulation in OS.  When I enter it into the idf, it shows up in OS, but I lose it again every time I run the simulation.

[2016-02-18 16:20] jmarrec commented on #2081
Check your schedule's TypeLimits

[2016-02-18 16:22] jmarrec opened #2082 "Autosize water heater ends in IDF without WaterHeater:Sizing object"
I've got a loop with a WaterHeater:Mixed.

       ** Warning ** Water heater named DHW WATER HEATERhas tank volume set to AUTOSIZE but it is missing associated WaterHeater:Sizing object
       ** Warning ** Water heater named DHW WATER HEATERhas heater capacity set to AUTOSIZE but it is missing associated WaterHeater:Sizing object
       **  Fatal  ** Errors found in water heater input. Preceding

[2016-02-18 16:28] Machbo commented on #2081
I'm just using one of the occupancy schedules to test.  It is fractional and between 0 and 1 at all times.

[2016-02-18 17:29] jmarrec commented on #2082
Closing duplicate of #669

[2016-02-18 17:29] #2082 closed

[2016-02-18 17:29] jmarrec commented on #669
+1 in 1.10.2

[2016-02-18 18:37] elainethale commented on #1349
I am seeing something like this just when going to the "Select Measures and Create Design Alternatives" tab and then back to the first tab. Version 1.10.0.

[2016-02-18 20:02] rpg777 opened #2083 "Fix Radiance version sniff"
Stupid paths.

[2016-02-18 21:08] Machbo commented on #2081
I can't see any reason for this happening, I believe it to be a bug in OS,

[2016-02-18 22:49] Machbo commented on #2081
I have just run the EP idf editor and entered a name for the schedule and then run the simulation in EP.  It ran through with no problem.

[2016-02-19 17:03] rpg777 commented on #2083
Fixed with this [commit/merge](https://github.com/NREL/OpenStudio/pull/2085).

[2016-02-19 17:03] #2083 closed

[2016-02-19 20:49] eringold opened #2086 "Mismatch between OpenStudio and EnergyPlus idd choice for PlantLoop Load Distribution Scheme"
See: https://unmethours.com/question/15211/plant-load-distribution-scheme-getting-reset-from-uniform-to-sequential/

Causes any load distribution choice other than 'Optimal' to default to 'SequentialLoad' in the idf.

[2016-02-20 22:03] asparke2 commented on #2081
@Machbo can you upload your .osm file so we can reproduce this?

[2016-02-20 22:11] asparke2 opened #2088 "PAT XML export is not exporting user-defined names"
Reported by Elizabeth.  Her PAT project has nice names in the GUI, but on export, everything in the XML has the default names like "Measure Whatever Alternative 1."

Suspect that this was introduced during the cleanup of name vs. displayName that @macumber did when adding user-defined Measures.  I should have caught this during testing.

[2016-02-20 22:11] asparke2 commented on #2088
BTW this is for any Measure, not just user-defined Measures.

[2016-02-21 03:26] Machbo commented on #2081
This issue was resolved at Unmethours by @kbenne.
https://unmethours.com/question/15131/i-cant-get-a-service-hot-water-plant-loop-to-run/?answer=15143#post-id-15143

[2016-02-22 15:47] kbenne commented on #2081
Resolved yes, but I think I'm going to make some changes to make things more robust. I'm going leave this issue open.

[2016-02-22 16:48] Machbo commented on #2081
Thanks Kyle, I have it up and running and don't need anymore help. I understand what you did and actually figured out how I made it happen. In the facility tab, I somehow managed to get the Always on Discrete schedule in an exterior equipment load. In that area the fraction is editable I believe.

Thanks again,
Mark

----- Original Message -----

From: "Kyle Benne" <notifications@github.com>
To: "

[2016-02-22 17:11] rpg777 opened #2089 "Radiance measure blows up real good on large models"
Large arrays of calculation points and more than a handful of window groups will suck the memory dry on any system, during the final gather of all the individual window group values. Near term plan is to merge groups in small sets. The right answer is to enable the tagging of exemplar spaces.

[2016-02-23 13:55] chrisbalbach opened #2090 "OS 1.10.0 Win 64 App does preserve inherited relatonships for constructions assigned to surfaces and sub surfaces"
Background of Issue
Simple OS model constructed using a Default Construction Set object applied at the Building Level. No construction set assignments intercept this construction assignment at any other level in the model (Story/Space).

Unexpected Behavior
When viewing the construction assignments in the Spaces/Surfaces or Spaces/Subsurfaces tabs, users are unable to see the inherited relationshi

[2016-02-23 14:06] jmarrec commented on #2090
Should be close and just referenced in https://github.com/NREL/OpenStudio/issues/1946

[2016-02-23 16:15] #2090 closed

[2016-02-23 16:15] macumber commented on #2090
This is a duplicate of #1946

[2016-02-23 17:51] DavidGoldwasser commented on #1974
Thinking about it more, I think un-commenting the code could create other issues. If that code will change the thermal zone area then it will affect area based internal load calculations. My understanding of what partofTotalFloorArea  does in EnergyPlus is just effects the total building area number, it doesn't impact that area used for internal load calculations for a zone.

@macumber and @aspark

[2016-02-23 22:50] kbenne opened #2091 "Add WaterHeater:HeatPump:WrappedCondenser"
This also means CoilWaterHeatingAirToWaterHeatPumpWrapped

[2016-02-24 11:30] jmarrec opened #2092 "PAT deletes all datapoints after closing and reopening"
I noticed this behavior in 10.1, 10.2 and now 10.3.

I run a PAT analysis with a bunch of design alternatives (usually takes all night long). I can see the results no problem.

If I close PAT, the datapoints are still there.

If I reopen it, *ZWOOOSH* they're gone. I've got only one left right now, because I had the SQL file opened in other applications so it deleted every folder in the datapoint

[2016-02-24 14:51] jmarrec opened #2093 "Chiller EIR default rated condition and curves don't match"
The Default Chiller:ElectricEIR creates has a problem... At the rated conditions, the CAPFT and EIRFT will return a value different than 1.

    model = OpenStudio::Model::Model.new
    chiller = OpenStudio::Model::ChillerElectricEIR.new(model)
    ref_lchwt = chiller.referenceLeavingChilledWaterTemperature
    ref_ecnwt = chiller.referenceEnteringCondenserFluidTemperature
    eirft = chiller.elec

[2016-02-24 16:53] jmarrec commented on #2046
Somewhat related: https://github.com/NREL/OpenStudio/issues/2093

[2016-02-24 16:56] jmarrec commented on #2046
Here are two of them you can use...

https://unmethours.slack.com/files/julien/F0NSB219R/doe-2_centrifugal_5.50cop.osc

https://unmethours.slack.com/files/julien/F0NSEJK97/doe-2_reciprocating_3.67cop.osc

[2016-02-24 17:14] macumber commented on #2030
@MatthewSteen @eringold you guys still hitting this?

[2016-02-24 17:16] MatthewSteen commented on #2030
i'm not working on any PAT projects currently and haven't checked 1.10.4 since downloading it. i'll run a test this week.

[2016-02-24 17:23] DavidGoldwasser opened #2094 "PAT Cloud not working in 1.10.0"
We are aware that Cloud runs through PAT are not working in OpenStudio. We are working on a new interface for PAT 2.0 due out at the end of September of this year. Until then we plan to disable the Cloud button in PAT. If you projects that are too large to run on your computer in a timely manor we have the following suggestions.

1. When you are ready to run, move to another machine in the office

[2016-02-24 17:27] DavidGoldwasser commented on #2070
@eringold was this made using the OS app or a measure?

[2016-02-24 17:29] MatthewSteen opened #2095 "new FanZoneExhaust fields not turned on after version update"
Specifically these:

**Old object from previous version**

![image](https://cloud.githubusercontent.com/assets/8397034/13294477/5eb7ea56-dae1-11e5-9f24-ce7ed2d846c7.png)

**New object from 1.10.4**

![image](https://cloud.githubusercontent.com/assets/8397034/13294482/65bc0e40-dae1-11e5-9dfb-8ee3e2a8d8f3.png)

[2016-02-24 17:29] eringold commented on #2070
It was created in the app.

[2016-02-24 17:30] DavidGoldwasser commented on #2054
@kbenne if we fix this I assume we need to handle measures that are already written to pass in an optional double, but then also accept a double.

[2016-02-24 17:32] DavidGoldwasser commented on #2039
Assigned to @macumber but don't expect to see this implemented until PAT 2.0

[2016-02-24 17:33] DavidGoldwasser commented on #2038
@axelstudios and @macumber anything for us to do on our end, or is this just user configuration for non-US machines.

[2016-02-24 17:34] DavidGoldwasser commented on #2024
@macumber can we close this?

[2016-02-24 17:38] DavidGoldwasser commented on #2017
@marj-schott will address this in Pat 2.0 due out at end of September.

Currently Sync project measures only synchronizes between your local BCL database and your currently open project. It doesn't look at the BCL website for updates.

[2016-02-24 17:41] DavidGoldwasser commented on #2013
@MatthewSteen is "Results Summary tab" the EnergyPlus results?

[2016-02-24 17:42] MatthewSteen commented on #2013
No, the main OS tab, left side. So click main tab > quickly click drop down. Haven't hit it recently.

[2016-02-24 17:44] DavidGoldwasser commented on #2010
I agree that would be nice. The space diagram in the plugin has its own sorting
https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/ruby/openstudio/sketchup_plugin/lib/dialogs/SpaceDiagramInterface.rb#L71

@macumber should this be in user voice vs. here?

[2016-02-24 17:44] eringold commented on #2070
I've sent example files to @kbenne.

[2016-02-24 17:47] kbenne commented on #2070
@eringold unless you need privacy with these model you can now attach files to GH issues. That would be handy from my point of view.

[2016-02-24 17:50] #1870 closed

[2016-02-24 18:04] chrisbalbach commented on #2094
Suggestion # 3, when migrating a project from the PAT interface via the export feature, also does not work (see attached image) - either a new or related bug

![2016-02-24_13-00-02](https://cloud.githubusercontent.com/assets/5746765/13295470/05abc7f0-daf7-11e5-8f6e-e2a3139da383.jpg)

This requires Users of option (3) to recreate the entire analysis using a spreadsheet template, which is not ideal.

[2016-02-24 20:00] macumber commented on #2094
Fixing the export might be something we can handle for 1.11, I believe this issue is still valid https://github.com/NREL/OpenStudio/issues/1708

[2016-02-24 20:25] chrisbalbach opened #2096 "Incomplete published EDAPT Schema (Refrigeration)"
Using PAT v1.10.0 (Win 64Bit), a datapoint was created from an external file. The seed model refrigeration condensing unit fan power object was not assigned any cost attribution elements. The datapoint .osm represented reduced fan power associated with ECM fans installed on refrigeration equipment outdoor condensing units. The datapoint osm file was confirmed to have run properly in the OS Applica

[2016-02-24 21:33] macumber commented on #2086
@kbenne can you tag with 1.11 if you want this in?  Not sure if this is Major or Normal

[2016-02-24 21:33] macumber commented on #2081
@kbenne you want to tag this with 1.11?

[2016-02-24 21:34] macumber commented on #2080
@kbenne tag with 1.11 if you want

[2016-02-24 21:34] macumber commented on #2078
@rpg777 are you trying to get this in by 1.11?  if so can you tag it with the milestone?

[2016-02-24 21:39] macumber commented on #2060
Is this new in 1.10?

[2016-02-24 21:40] macumber commented on #2051
@kbenne is this issue closed?

[2016-02-24 21:41] MatthewSteen commented on #2060
I hadn't encountered it before this.

[2016-02-24 21:42] #2024 closed

[2016-02-24 21:44] kbenne opened #2097 "Update OS to E+ 8.5"

[2016-02-24 21:45] macumber commented on #1999
I may have to close this as won't fix

[2016-02-24 21:46] macumber commented on #1969
@DavidGoldwasser can you test this and close?

[2016-02-24 21:47] macumber commented on #1878
@pflaumingo FYI

[2016-02-24 21:49] MatthewSteen opened #2098 "air loop diagram"
@kbenne I suspect this might have been introduced in your dual duct work, OS 1.10.4:

![image](https://cloud.githubusercontent.com/assets/8397034/13302163/b89c984a-db05-11e5-907c-39d9cae3f573.png)

[2016-02-24 21:52] kbenne commented on #2098
sure was. I have battled that problem once already while i was developing.

[2016-02-24 21:53] DavidGoldwasser commented on #1969
Looks good, just tested in OS app.

[2016-02-24 21:53] #1969 closed

[2016-02-24 21:59] eringold commented on #1999
I won't object to that. I'll just think of this as a built-in reminder to not make overly complex models!

[2016-02-24 22:30] kbenne commented on #2051
yep.

[2016-02-25 06:31] DavidGoldwasser opened #2099 "TimeStep of 6 per hour in new model isn't respected when simulation is run"
In a new model there is no time step object in the OSM, but the GUI shows 6 time steps per hour. If you run a simulation you see this error.

   ** Warning ** No Timestep object found.  Number of TimeSteps in Hour defaulted to 4.

Once you go in the GUI and change time step value away from 6 and then back to it, then the timestep is written out and the error goes away.

OS:Timestep,
  {29163c90-40

[2016-02-25 14:52] MatthewSteen commented on #1286
I still see this behavior in 1.10.4 for the OutdoorAirController. Clicking the hardsize bullet and then clicking in the field saves the zero value (top), but only clicking the autosize bullet does not (bottom).

![image](https://cloud.githubusercontent.com/assets/8397034/13322986/91b2a62c-db94-11e5-941e-c87d1f16ab51.png)

[2016-02-25 16:03] fengcool opened #2100 "Daylight control min input power is not reflected in energyplus"
Hi,

When I use Openstudio sketchup plugin, add a new “daylight control” to a zone, however the “minimum input power” and “minimum light output” values I specified are not reflected in EnergyPlus IDF file. Please fix the bug. Thanks.

[2016-02-25 17:22] macumber commented on #2100
These should be translated here: https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateThermalZone.cpp#L416.  Note that the fractions are only translated from the primary daylighting control, not the secondary one

[2016-02-25 18:44] fengcool commented on #2100
Thanks. I use the default min input power value, that is why it is not explicitly shown in IDF file.

[2016-02-25 20:00] fengcool opened #2101 "Unit problem for “Add Daylight Sensor at the Center of Space” measure"
When I apply this measure in Openstudio to specify setpoint 45 fc, but in EnergyPlus IDF file it shows 45 lux. Please fix the bug. Thanks.

[2016-02-25 20:07] macumber commented on #2101
That measure is not part of this repository, please contact the measure author about issues with a particular measure

[2016-02-25 20:07] #2101 closed

[2016-02-26 18:49] macumber commented on #2100
Not translating defaults is a bad pattern that we used to use, I think I will leave this ticket open to address that but it doesn't seem like a critical bug.  Thanks for the report!

[2016-02-26 19:10] macumber commented on #2099
If the GUI is showing a default we might not be translating the default, this is similar to what is reported in this ticket https://github.com/NREL/OpenStudio/issues/2100

[2016-02-26 19:11] macumber commented on #2099
Hmm, not looks like it should get translated:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateTimestep.cpp#L36

[2016-02-26 19:12] macumber commented on #2099
Sounds like the GUI needs to create a TimeStamp object if it does not exist

[2016-02-26 19:52] macumber commented on #2094
Will disable the cloud button and try to fix export

[2016-02-26 19:53] macumber commented on #2088
@asparke2 is this something you can fix for 1.11?

[2016-02-26 19:55] macumber commented on #817
May be best to wait until this is fixed in E+

[2016-02-26 20:46] evanweaver commented on #2005
@MatthewSteen :+1:

[2016-02-26 20:49] jasondegraw commented on #817
Agreed

[2016-02-26 20:50] asparke2 commented on #2088
Either of us is fine by me.  I would like to get it into the next iteration release; Elizabeth has several projects coming up soon that would hit this.

[2016-02-26 20:53] macumber commented on #1946
This may be too large to do all at once, we will make our best effort for 1.11

[2016-02-26 20:55] macumber commented on #2088
If you can do this I'll put it back to you, that would be great!

[2016-02-26 21:02] MatthewSteen commented on #2005
In 1.10.4 this also occurs in the Spaces tab if the user accepts the changes when using Apply Measure Now.

[2016-02-26 21:04] evanweaver commented on #2005
Thanks, I'm investigating that general issue now. It is an architectural issue related to using Apply Measures Now.

[2016-02-29 18:58] macumber commented on #2092
@jmarrec I can't reproduce this.  Do you have any steps that can be followed to reliably reproduce this?  Do you happen to be switching between versions of PAT when you reopen the project?

[2016-02-29 18:58] macumber commented on #2092
Or updating any of the OSMs or Measures?

[2016-02-29 21:15] macumber commented on #2055
I am not able to reproduce this either, @egillmor can you reproduce this bug with a simple project?

[2016-02-29 21:58] egillmor commented on #2055
Yes.  Create a run from an external file.  Add a user-defined measure name with commas in it.  Fails every time.

![image](https://cloud.githubusercontent.com/assets/16869106/13410400/cd7f1e8e-def4-11e5-9a9d-be3fdfe04d14.png)

[2016-02-29 22:04] eringold commented on #2055
I've found this happens because the name of the User Defined Measure is set as the name a Life Cycle Cost idf objects created in the run. Since the name has a comma, it messes up the idf syntax.

[2016-02-29 23:38] macumber commented on #2055
That is exactly what is happen @eringold , thanks!

[2016-03-01 03:36] MatthewSteen commented on #2030
@macumber I just ran a large EDA project in 1.10.4 and didn't encounter this issue. The project had four Design Alternatives created from external files each with 8-9 User Defined Measures. For comparison I ran the same project with only one UDM per DA and it took the same amount of time.

PS my easter egg offer is still open in case you, @asparke2, @DavidGoldwasser, @ljbrackney, or @evanweaver ar

[2016-03-01 03:36] #2030 closed

[2016-03-01 04:16] macumber commented on #2030
Ludicrous boiler efficiency?  I've got something better planned for April 1 ;-)

[2016-03-01 04:17] macumber commented on #2030
Plus that's a [real thing](https://www.youtube.com/watch?v=ygE01sOhzz0) anyway

[2016-03-01 04:21] macumber commented on #2030
PS: thanks for looking into this and trying to verify!

[2016-03-01 13:25] MatthewSteen commented on #2030
:beers:

[2016-03-01 17:58] asparke2 commented on #1974
@DavidGoldwasser There appears to be a check to warn users of this in the OS report.

![boguswarning](https://cloud.githubusercontent.com/assets/2009290/13436422/6c844232-df9c-11e5-988f-3440a132afa4.PNG)

Can you please add a tolerance in there for when it's just a rounding error, like above?

[2016-03-01 19:26] asparke2 commented on #1730
It appears that this issue is back based on [this unmethours post from Tiejun Wu](https://unmethours.com/question/15137/cannot-enable-co2-concentration-calculation-in-openstudio/).  I confirmed the issue in 1.10.0.  The OS:ZoneAirContaminantBalance object shows up in the .osm, but not in the exported IDF.  Also, for this particular object, the string input field is no go; should really be a dropdo

[2016-03-01 19:27] asparke2 commented on #1730
@kbenne @macumber FYI

[2016-03-01 19:37] macumber commented on #1730
Let's reopen a new issue for that

[2016-03-01 19:37] #1730 closed

[2016-03-01 19:38] macumber opened #2109 "OS:ZoneAirContaminantBalance not translated"
It appears that this issue is back based on this [unmethours post](https://unmethours.com/question/15137/cannot-enable-co2-concentration-calculation-in-openstudio/) from Tiejun Wu. I confirmed the issue in 1.10.0. The OS:ZoneAirContaminantBalance object shows up in the .osm, but not in the exported IDF. Also, for this particular object, the string input field is no go; should really be a dropdown.

[2016-03-01 19:38] macumber commented on #2109
Moved from https://github.com/NREL/OpenStudio/issues/1730#issuecomment-190863873

[2016-03-02 05:07] #1349 closed

[2016-03-02 05:07] #2088 closed

[2016-03-02 08:53] jmarrec commented on #2092
Dan, I'm on 1.10.3, haven't took the time to upgrade to 1.10.4 yet.

I just created a blank project in PAT 1.10.3, imported a simple model, added 2 design alternatives with OpenStudio measure.
I just run the simulations, I see the datapoints.
I close PAT, I sill see the datapoints.
I reopen PAT, reopen the projects: they're gone

[2016-03-02 10:08] jmarrec commented on #2092
Just tried on 1.10.4, didn't get this behavior, so I'll close this one

[2016-03-02 10:08] #2092 closed

[2016-03-02 14:40] macumber commented on #2092
@MatthewSteen @eringold did either of you ever see this?

[2016-03-02 14:43] MatthewSteen commented on #2092
No, only this message when opening an existing project with the corresponding version of PAT:

![image](https://cloud.githubusercontent.com/assets/8397034/13463608/435ea952-e04a-11e5-9924-a24946ddf62c.png)

[2016-03-02 14:49] MatthewSteen opened #2112 "add Unassigned choice to Spaces tab Space Type filter"
Like the Story and Thermal Zone filters have.

Perhaps [here](https://github.com/NREL/OpenStudio/blob/a477c2f00aa05e37813d0aedab3ddbaf8d2881be/openstudiocore/src/openstudio_lib/SpacesSubtabGridView.cpp#L366) @evanweaver.

[2016-03-02 15:08] fengcool opened #2113 "Air wall construction missing"
Hi,

I am using Openstudio 1.10.0. I start the project using template “office, 189.1, 5B”. The “air wall” construction is missing. I try several other templates, air wall is still missing. Please help. Thanks.

[2016-03-02 15:29] MatthewSteen commented on #2098
Also, when adding an empty air loop.

![image](https://cloud.githubusercontent.com/assets/8397034/13465006/e8bdd8fe-e050-11e5-9352-13470678882a.png)

[2016-03-02 15:31] kbenne commented on #2098
It does look a little odd, but that is how it is built when you add an empty dual duct. Maybe we need to change this since it seems to catch everyone I have demoed to so far. Drop a dual duct terminal on the demand side and things will make more sense. The API allows the supply and demand side to become dual duct independently.

[2016-03-02 17:30] MatthewSteen commented on #2098
My mistake, didn't notice that there's now an add empty air loop specifically for dual duct.

[2016-03-02 17:44] macumber commented on #2092
@MatthewSteen did you get that message when you actually were opening a past project with a new version of pat?  Or did you get that incorrectly when opening a pat project with the same version of pat?

[2016-03-02 17:45] MatthewSteen commented on #2092
Same version.

[2016-03-02 17:47] macumber commented on #2092
Hmm that is not good, can you reproduce that?  Just make a pat project, run it, close it, reopen?  I haven't seen it give that warning in that case, any special steps needed to make it do that?

[2016-03-02 18:58] MatthewSteen opened #2117 "1.10.4 - Thermal Zones inspector breaks after deleting zone hvac object"
In my case, deleting a FanZoneExhaust from a zone. Workaround is to navigate to a different tab and then back to Thermal Zones.

**My Model**
![image](https://cloud.githubusercontent.com/assets/8397034/13471435/d46ad8bc-e06d-11e5-88fa-36d5c435d5c1.png)

**Library**
![image](https://cloud.githubusercontent.com/assets/8397034/13471446/dd65e10a-e06d-11e5-97fb-2939b7099c4d.png)

**Edit**
![image](http

[2016-03-02 19:27] macumber commented on #2060
I just tried this in 1.10.  When I canceled the runs I did see that I could not click on/select the design alternatives.  However, I could click the clear buttons (both for individual datapoints and for all).  Once the results were cleared I could select the rows and rerun them.  So you have to clear results befor trying to rerun.  Does that match with what you are seeing?

[2016-03-02 19:27] macumber commented on #2060
You can still expand the rows to look at simulation errors.

[2016-03-02 19:37] DavidGoldwasser commented on #2113
@fengcool are you in SketchUp plugin or OS app. SketchUp plugin should have it in template. in OS app it can be pulled in from the library. If that doesn't seem to be the case for you please provide more details and I can re-open this.

[2016-03-02 19:37] #2113 closed

[2016-03-02 19:41] MatthewSteen commented on #2117
This behavior is inconsistent and may take a few attempts to reproduce with FanZoneExhaust or other objects.

[2016-03-02 22:00] rpg777 commented on #2089
punt/fix with this <a href="https://github.com/NREL/OpenStudio/commit/eb67d5f23cb42913d56951da03c46580f9b03b23">merge</a>.

[2016-03-02 22:00] #2089 closed

[2016-03-02 23:07] #2060 closed

[2016-03-03 13:48] jmarrec opened #2122 "OS:ZoneHVAC:WaterToAirHeatPump accepts only boost optional for OA airflow"
[code]

[2016-03-03 15:48] #2051 closed

[2016-03-03 15:48] #2045 closed

[2016-03-03 15:50] kbenne commented on #775
This is addressed with curve as resource.

[2016-03-03 16:17] DavidGoldwasser commented on #775
@kbenne so I assume ok to close? If not then please re-open.

[2016-03-03 16:17] #775 closed

[2016-03-03 17:18] macumber commented on #2005
I see that the hello world message is gone.  However, when I start the app it doesn't look right, when i click on the one button that does show the rest of the app suddenly loads

![3-3-2016 10-07-09 am](https://cloud.githubusercontent.com/assets/1327850/13502687/32403700-e129-11e5-822f-fffc5bd2844f.jpg)

[2016-03-03 17:26] macumber commented on #2061
@DavidGoldwasser can you test the following?

Create an external model in PAT, add user defined measures, run it, return to the external measure and try 1) changing measure taxonomy, name, cost, etc, 2) adding new user defined measures, 3) removing user defined measures

[2016-03-03 18:52] macumber commented on #1684
Got a call stack on Rob's model:

[code]

[2016-03-03 20:55] kbenne commented on #2117
@evanweaver can you take this one?

[2016-03-03 21:25] asparke2 commented on #1573
Alisa from Seventhwave reported that the defrost type is missing in the GUI.  Can we add these to the GUI to make this more usable?

[2016-03-03 23:01] rHorsey commented on #1939
@macumber I'm keeping the #1699 workaround in the updated WFG, correct?

[2016-03-03 23:17] macumber commented on #1939
Yes

[2016-03-03 23:23] macumber commented on #1684
Pretty sure the MeasureItem passed in here https://github.com/NREL/OpenStudio/blob/a477c2f00aa05e37813d0aedab3ddbaf8d2881be/openstudiocore/src/shared_gui_components/EditController.cpp#L63 is being deleted but the EditController keeps a raw pointer that is invalid

[2016-03-04 04:44] macumber commented on #1684
This happens when you click back to the scripts tab and edit a measure argument without first clicking on a measure

[2016-03-04 15:37] rpg777 commented on #1684
Yeah, that sounds about right, @macumber

[2016-03-04 15:39] macumber commented on #2092
Let's all keep an eye out for this with the release candidate, if it pops back up we will reopen this

@DavidGoldwasser @asparke2 FYI

[2016-03-04 15:50] evanweaver commented on #2117
yup

[2016-03-04 17:08] macumber commented on #1684
Basically it had a stale widget in memory and clicking on it broke

[2016-03-04 21:26] rpg777 commented on #1901
<a href="https://github.com/NREL/OpenStudio/commit/12f1a39431c4f83bc68f14225db0885e9381fc1c">fixed.</a>

[2016-03-04 21:26] #1901 closed

[2016-03-04 21:28] rpg777 commented on #2078
<a href="https://github.com/NREL/OpenStudio/commit/ff0ea68dd9eddb5cf5c62c5353f4e2cee3279dda">fixed</a>

[2016-03-04 21:28] #2078 closed

[2016-03-04 21:29] rpg777 commented on #1123
Yikes, these were all addressed a while ago

[2016-03-04 21:29] #1123 closed

[2016-03-04 21:29] #643 closed

[2016-03-05 13:56] MatthewSteen commented on #1473
Closing as no longer needed and probably obsolete. This can be accomplished using the API to generate a CSV template of thermal zones and zone HVAC fields, which can be populated with design information from mechanical schedules and then used to create and set inputs for zone-level objects.

[2016-03-05 13:56] #1473 closed

[2016-03-05 13:58] MatthewSteen commented on #2117
Possibly related to or a duplicate of #1550.

[2016-03-05 14:03] MatthewSteen commented on #1559
Still valid in 1.10.4.

[2016-03-05 14:23] MatthewSteen opened #2125 "heat pump water heater (hpwh) object cooling/heating priority always 1"
The WaterHeaterHeatPump object cooling/heating sequence in the ZoneHVACEquipmentList object is set to 1 no matter what order it was added to the zone in the GUI. In the image below the HPWH objects were the last to be added to the zone, but float to the top.

![image](https://cloud.githubusercontent.com/assets/8397034/13548013/7eb8537c-e2a2-11e5-9e39-554d33444b36.png)

[2016-03-05 14:27] MatthewSteen commented on #1566
Still valid in 1.10.4. The default view for the PTAC object is the connections sub-tab instead of edit unlike all the other zone HVAC objects.

[2016-03-05 15:06] MatthewSteen commented on #1589
Not valid in 1.10.4.

[2016-03-05 15:06] #1589 closed

[2016-03-06 18:10] MatthewSteen opened #2126 "1.10.4 EnergyPlus crash with Output:Table:SummaryReports measure"
EnergyPlus will crash with an EP measure that sets the `Output:Table:SummaryReports` object to anything other than 'AllSummary'. Possibly related to the version of OS or model size as the measure has run successfully in a previous version with a smaller model.

Process crashed.
Process exited with a non-zero exit code of: -1073741819
Process crashed.
Error report file indicates that the process di

[2016-03-07 04:09] #2094 closed

[2016-03-07 04:15] #1684 closed

[2016-03-07 04:25] DavidGoldwasser commented on #2001
Thanks Hal, looks good.

[2016-03-07 04:25] #2001 closed

[2016-03-07 04:36] #2061 closed

[2016-03-07 14:52] erikkolderup opened #2127 "Mislabelled units for PTAC fan power"
In the Edit section for PTAC zone equipment, the units for "Rated Evaporator Fan Power Per Volume Flow Rate" is labeled as "Pa". It should not be pressure, looks like it should be something like W/m^3/s, but should be verified.
-Erik Kolderup

[2016-03-07 20:50] rpg777 opened #2129 "Additional Radiance Measure Server Fixes"
Radiance measure still crazy enough to take a server's eye out. Add process checker and cleanup option to prevent memory and disk space issues, respectively.

[2016-03-07 23:50] eringold commented on #2055
@macumber we just ran into another problem, possibly related to this issue. A string with a newline character was copied into the User Defined Measure name field, which then becomes the name of a LifeCycleCost object. Something within EnergyPlus then replaces the newline with a comma, which caused the object to fail because where the first numeric field should be now has a alphanumeric string. Is

[2016-03-08 03:11] macumber commented on #2127
@kbenne @evanweaver FYI

[2016-03-08 04:12] macumber commented on #2126
I tried with AllSummaryAndMonthly and did not see a crash.  If you get an Idf that crashes when you run it in EP-Launch I'd submit that to the E+ team as a bug

[2016-03-08 21:54] macumber commented on #1915
Here is the call stack that makes the epw file absolute when opening an older (1.10.0) file into 1.10.5:

[code]

[2016-03-08 23:35] macumber opened #2133 "Setting weather file changes Day of Week for start day"

[2016-03-08 23:35] macumber commented on #1915
Moving the day of week for start day part of this thread to a new issue, https://github.com/NREL/OpenStudio/issues/2133

[2016-03-09 00:09] macumber commented on #1915
@evanweaver the changes in the first 1.10.5 packages are not good, can we remake the packages with change that I just committed, https://github.com/NREL/OpenStudio/commit/f96ea3e61babf0fa6cb70e498d8568eeede2b826 ?

I **ONLY** trust making this change if we can remake 1.10.5 installers so this gets well tested in the next two weeks

[2016-03-09 00:18] macumber commented on #1915
Need to test with:

- Creating new OSM and setting weather file
- Opening existing OSM with weather file
- Save as with weather file

[2016-03-09 15:09] #1915 closed

[2016-03-09 20:42] DavidGoldwasser commented on #669
@kbenne any thoughts on this?

[2016-03-09 20:50] kbenne commented on #669
My thought is we need to at WaterHeaterSizing, but I honestly don't have it in my queue yet.

[2016-03-10 14:37] DavidGoldwasser commented on #1590
New unmet hours post today. I'll see if I can fix meant with logic from prototype measure. The difference here is that the epw's are not contained in the measure.
https://unmethours.com/question/15544/change-building-location-measure-in-pat/?comment=15625#post-id-15625

[2016-03-10 14:41] DavidGoldwasser commented on #1590
I also need to see if works for parametric sweep vs just an always run measure.

[2016-03-10 17:20] macumber opened #2138 "OS:DesignSpecification:OutdoorAir Space/ThermalZone Mismatch"
The OS:DesignSpecification:OutdoorAir object has normalized flow rates (Outdoor Air Flow per Person, Outdoor Air Flow per Floor Area) and absolute ones (Outdoor Air Flow Rate, Outdoor Air Flow Air Changes per Hour).  Spaces and SpaceTypes both reference DesignSpecificationOutdoorAir objects, in this case it is expected that the absolute flow rates correspond to the space.  For example, if you have

[2016-03-10 17:21] macumber commented on #2138
We need to better document these issues both in the API docs and in a design OA reference guide

[2016-03-10 17:22] macumber commented on #2138
@brianlball also requested that the following keys be added to the OpenStudio.idd for the 'Outdoor Air Method' field:

      \key Flow/Person
      \key Flow/Area
      \key Flow/Zone
      \key AirChanges/Hour

[2016-03-10 17:24] macumber commented on #2138
@kbenne FYI

[2016-03-10 17:28] DavidGoldwasser commented on #2138
cc: @asparke2

[2016-03-10 17:30] DavidGoldwasser commented on #1322
Issue #1683 seems related to this

[2016-03-10 19:18] kbenne commented on #2079
@jmarrec I cannot reproduce this.

[2016-03-11 00:16] asparke2 opened #2145 "Extra singlezone SPM humidity min created if humidifier downstream of fan"
If you have the configuration below, where you have a humidifier downstream of a fan, and therefore a humidity control SPM on the supply outlet node, the SPM magic creates an unnecessary clone of the humidity SPM on the upstream side of the humidifier.  @KaiyuSun found this configuration in the outpatient reference building.

I think the current workarounds are either to move the humidifier upstre

[2016-03-11 17:04] #2007 closed

[2016-03-15 19:56] #2043 closed

[2016-03-15 19:58] #2080 closed

[2016-03-15 20:24] DavidGoldwasser opened #2149 "Fix Date/Time Of Peak query in EnergyPlus 8.5"
Update standard report to work around SQL changes descried here.
https://github.com/NREL/EnergyPlus/issues/5551#issuecomment-196980503

This issue is just to fix the standard report, I haven't dug through code to see if anything else is affected by this.

[2016-03-15 21:41] asparke2 opened #2152 "Chilled Water & Ice Storage objects missing from My Model on HVAC tab"
Similar to a WaterheaterMixed, the ThermalStorageChilledWaterStratified &   ThermalStorageIceDetailed objects are water-to-water components that can be connected to one loop on the demand side and another on the supply side.  In order to do this in the GUI, you need library categories for those objects on the My Model section of the HVAC tab.

Workaround:  connect the ThermalStorage object to the

[2016-03-16 03:32] macumber commented on #2109
I don't think there is a translation issue, just the GUI problem showing a text field instead of schedule drop down

[2016-03-16 13:58] #2037 closed

[2016-03-16 15:22] mbadams5 opened #2153 "Fails to import IDF when CondenserLoop is part of IDF"
The proposedEnergy+.idd does not have the updated key choices for CondenserLoop, Load Distribution Scheme. The other `Load Distribution Scheme` fields have been updated, except for this one (since it is not an OpenStudio object).

This causes the Import IDF functionality to fail due to invalid draft strictness, even though HVAC objects are not imported into OSM.

[2016-03-16 15:52] MatthewSteen opened #2155 "1.10.5 closes after apply measure now"
Steps to reproduce:

1. Navigate to Thermal Zone tab
2. Apply Measure Now
3. Accept Changes
4. Click a string field, e.g. thermal zone name or zone equipment

Model will unexpectedly close. May be related to the measure I ran which renames zone equipment based on zone name, which I can provide if needed.

[2016-03-16 16:00] ljbrackney commented on #2155
I don't believe this is a general issue w/ apply now, as I've been successfully using it with the AEDG measures on my test models.  It might be specific to your zone equipment measure.

From: MatthewSteen <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, March 16, 2016 at 8:52 AM
To: NREL/O

[2016-03-16 16:02] kbenne commented on #2155
Send the measure and the model and I'll see if i can get a call stack.

[2016-03-16 16:06] MatthewSteen commented on #2155
Also, the changes do not appear in the Thermal Zone tab until navigating to another one and returning to it.

[2016-03-16 16:32] #2153 closed

[2016-03-16 16:46] #2097 closed

[2016-03-16 16:54] DavidGoldwasser commented on #1974
@asparke2 it now has a tolerance

[2016-03-16 16:59] #2081 closed

[2016-03-16 18:30] kbenne commented on #2155
Weird. I was able to reproduce this and get a call stack. Switching tabs and coming back to the zones tab avoids the issue, but what is weird is why this works, because the whole model reloads after the apply measure now anyway. I'm still trying to work this out.

[2016-03-16 18:33] MatthewSteen commented on #2155
Yeah, seems like the AMN function broke somehow.

[2016-03-16 19:14] macumber commented on #2155
Might be related to https://github.com/NREL/OpenStudio/issues/2005 or https://github.com/NREL/OpenStudio/issues/1956

[2016-03-16 19:26] kbenne commented on #2155
I wont go into the details of the call stack, but what I see gives me reason to believe this will impact any tab that has an inspectable item that changes in the measure.

[2016-03-16 19:27] kbenne commented on #2155
I'm evaluating our reload code. I think that has the answer because switching tabs or closing and reopening the model goes fine.

[2016-03-16 20:10] #2098 closed

[2016-03-16 20:21] DavidGoldwasser commented on #2034
@kbenne it seems like you hid the availability schedule when in Layout tab, which I assume is by design. so I removed it with a text editor. Then when I open it again and go to Control tab it shows "Always On". If I save the file, and look it didn't actually add that in, is it just some magic where it is blank that it shows always on, and I assume forward translator would write it out as that.

[2016-03-16 20:27] kbenne commented on #2034
Yes this is all expected, but export to idf without running just to confirm I'm not an idiot. You might also set a custom schedule and make sure that works too.

[2016-03-16 20:45] DavidGoldwasser commented on #2034
Looks good on IDF. AirLoop refers to this.

`AvailabilityManagerAssignmentList,
  Packaged Rooftop VAV with PFP Boxes and ReheatAvailability Manager List, !- Name
  AvailabilityManager:Scheduled,          !- Availability Manager Object Type 1
  Packaged Rooftop VAV with PFP Boxes and Reheat Availability Manager; !- Availability Manager Name 1

AvailabilityManager:Scheduled,
  Packaged Rooftop VAV

[2016-03-16 20:52] kbenne commented on #2034
I don't think a 1.11.0 issue, but I think this is an issue, and I never thought about it until now.

[2016-03-16 20:59] DavidGoldwasser commented on #2034
Ok, I'll merge pull request, but leave this issue open, unless you want to make that a new issue, and close this. I assume solution is just to offer more schedules in the "My Model" tab?

[2016-03-16 21:02] kbenne commented on #2034
@macumber? this is kind of a global issue.

I'm fine leaving the issue open but I'm going to move the milestone.

[2016-03-16 21:05] #1916 closed

[2016-03-16 21:10] DavidGoldwasser commented on #2034
@kbenne so far other places where we have schedule drop zones don't have this limitation. Tabs I've looked at are Schedule, Loads, Space Types, and Spaces. All of those have schedule drop zones but for "My Model" offer up all schedule types. Not sure if I missed any cases.

[2016-03-16 21:12] DavidGoldwasser commented on #2034
Ahh, looks like I missed Thermal zone. It only offers Ruleset and Compact. Building which uses a schedule for Ext. Equipment is fine.

[2016-03-16 22:41] macumber commented on #2034
I'm not opposed to showing constant schedules in the my model library, I thought they already were.

@DavidGoldwasser can you delete the schedule?  That would put it back to the default value on translation right?

With the changes I just proposed to @evanweaver the user won't be able to rename the always on schedules in the inspector any more either

[2016-03-17 14:33] DavidGoldwasser commented on #2034
@macumber we do already show constant schedules in most tabs, it is only in the Thermal Zone and HVAC Tabs that we don't.

Deleting the schedule to put it HVAC availability back to default is a good work around, but that's only good if you aren't using the schedule somewhere else.

[2016-03-17 14:38] kbenne commented on #2034
I'm going to show the other schedule types for ThermalZones....

[2016-03-17 15:56] kbenne commented on #2055
I have a corresponding pivotal issue on this and I see the branch has been merged. Can we close?

[2016-03-17 16:01] macumber commented on #2055
I think so, although it would be good for @asparke2, @DavidGoldwasser, @eringold or anyone else to test in 1.10.5 to confirm

[2016-03-17 16:18] eringold commented on #2055
Just tested with 1.10.5: Pat alternatives with user-defined measure names that include commas and newline characters run without issue. Seems to me that this can be closed.

[2016-03-17 16:19] #2055 closed

[2016-03-17 17:11] kbenne commented on #2086
This is taken care of here.

https://github.com/NREL/OpenStudio/pull/2147

[2016-03-17 17:11] #2086 closed

[2016-03-17 19:41] kbenne commented on #2093
@jmarrec I received data from you on the water cooled chiller. Do you have similar for air cooled?

[2016-03-17 19:42] #2155 closed

[2016-03-17 20:35] kbenne commented on #2034
@DavidGoldwasser See above. I rammed the changed into develop. It would be nice to have you give it a glance.

[2016-03-17 20:40] #2149 closed

[2016-03-17 20:41] #2005 closed

[2016-03-17 20:47] DavidGoldwasser commented on #2034
@kbenne I'll build and test tonight.

[2016-03-17 22:50] ram5931 opened #2161 "Open Studio 1.10.0 makes SketchUp 2016 crash"
All,
 I am having a hard time trying to figure out why Open Studio makes SketchUp 2016 crash. Sketchup will work fine but when I install Open Studio, as soon as I do a File - Open SketchUp will crash. Anybody have an idea why?

[2016-03-18 16:15] DavidGoldwasser commented on #2034
Looks good @kbenne

[2016-03-18 16:15] #2034 closed

[2016-03-18 17:20] DavidGoldwasser commented on #1597
@macumber if I run the code below it does stop me, saying it expected a string.

`schedule.setName(fan)`

That makes sense, but if I instead type one of the lines of code below, it lets me set this complex multi-line string as an object name. It will open the OSM after this which it didn't in the pass.

`schedule.setName(fan.to_s)`
or
`schedule.setName("#{fan}_sch")`

In the example what the measu

[2016-03-19 02:20] jmarrec commented on #2093
Kyle,

I don't remember what I gave you exactly. I know it was at least the doe2 default chiller but also a couple more.

What do you need? (Knowing that I'm still on vacation and without access to a computer)

I have all the chillers from the EnergyPlus data set in osc format (need to find time to upload them to bcl with the bcl gem), but I think so do you: I suggest picking one there.
For air co

[2016-03-19 16:04] #2046 closed

[2016-03-20 01:26] macumber opened #2165 "ScheduleInterval unit test failures"
The following failing unit tests have been commented out, but they should be fixed

[2016-03-24 15:01] chrisbalbach opened #2167 "Rename Fan Constant Volume object attribute "FanEfficiency" to "FanTotalEfficiency""
Careful comparison of Energy+.idd, EnergyPlus Engineering Reference and Input Output Reference documents reveals that the OS method "setFanEfficiency" maps 1:1 to the E+ object field "Fan Total Efficiency".

As such, the OS method naming is both inconsistent with Energy+ field names and also can easily be misconstrued by practicing energy modelers.

Current naming of OSFanConstantVolume object att

[2016-03-24 15:15] eringold commented on #2167
@chrisbalbach same as https://github.com/NREL/OpenStudio/issues/2059?

[2016-03-24 15:16] kbenne commented on #2167
This is because E+ field names have moved since the object was introduced in OS. If we change the name we break our API and an unknown number of Measures.

Lately I have taken to at least commenting in the documentation when a field changes. Generally this is part of the process of doing an E+ upgrade to OpenStudio. That doesn't help from the user interface though. I think the ultimate solution is

[2016-03-24 16:52] kbenne opened #2168 "Add AirTerminalDualDuctVAVOutdoorAir to OpenStudio"

[2016-03-24 18:23] macumber commented on #1999
Hit this again on a model that I made, re-opening

[2016-03-24 22:13] asparke2 opened #2172 "Translate all coils supported by the IDD in AirLoopHVACUnitarySystem"
In the [OpenStudio IDD](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/resources/model/OpenStudio.idd#L8927), the AirLoopHVACUnitarySystem supports the `Coil*DXMultiSpeed` and `Coil*DXVariableSpeed` objects, but the [Forward Translator](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVACUnitarySystem.cpp) does

[2016-03-29 15:52] jmarrec opened #2175 "Expose Sky Clearness field in OS App for Design Days"
See https://unmethours.com/question/16033/openstudio-solar-model-indicator/?comment=16056#post-id-16056

I don't see a reason why this field shouldn't be exposed, the two Tau (taub and taud) are exposed

[2016-03-29 17:55] arif-hanif opened #2176 "IP Units Humidity Indicating Type"
There is a issue with Humidity indicating condition at maximum dry bulb remaining in SI units when the units for the UI are set to IP.

[2016-03-30 18:47] kbenne opened #2177 "WaterHeaterMixed - Ambient Temperature Indicator : Outdoors does not work"
Need to make the oa node as an actual oa node.

[2016-03-31 13:44] shorowit commented on #2172
This is pretty critical for our residential work. Any chance of getting a proposed schedule for implementation? What can we do to make this high priority?

[2016-03-31 15:49] DavidGoldwasser opened #2178 "Plenum Space Type - space.spaceType.is_initialized not functioning as expected"
OpenStudio has special logic that automatically creates a space type called "Plenum Space Type" if you use a thermal zone as a supply or return air plenum. That space type is used for spaces that are part of the thermal zone used as a supply/return air plenum if they don't already have a space type hard assigned.

When I call `space_type.spaces` on "Plenum Space Type" it finds the plenum spaces.

[2016-03-31 16:17] DavidGoldwasser opened #2179 "Plenum Space Type - Odd behavior when rename space type"
I'm showing this in the GUI, but would impact measures as well where the measure writer renames a space type after altering it (e.g. after lowering infiltration by%). See screenshots with description of behavior.

![screen shot 2016-03-31 at 9 30 43 am](https://cloud.githubusercontent.com/assets/4857055/14182069/0370866e-f727-11e5-89b8-d1a4b5cda3e4.png)
This is a picture of the Medium Office Proto

[2016-03-31 16:32] macumber commented on #2179
Solution is to not allow user to edit the name of the Plenum Space Type

[2016-03-31 16:33] macumber commented on #2178
FYI: Plenum Space Type is similar to the Always On schedules in that it is searched for by name

[2016-03-31 18:46] DavidGoldwasser opened #2180 "Mac only issue with Prototype Type Measure (will only impact 1.11.1 or later)"
@asparke2 and I have been testing this. On Mac and Windows in 1.10.0 there are Boost asserts with the Prototype Measure for Medium Office, but it doesn't stop the measure from running.

[code]

But when run on 1.10.5 or later on mac only (OS App or command line) the measure fails. The following lines are in addition to the Boost asserts. I tested on a non dev mac to confirm it isn't just my machin

[2016-03-31 18:51] macumber commented on #2180
Likely an issue with polygon methods failing on complex daylighting shapes

[2016-03-31 18:53] mbadams5 commented on #2180
@DavidGoldwasser Are you using the most recent code from OpenStudio-Standards? With current master, I pass all 90 Medium Office unit tests if I test all 15 climate zones and 6 vintages. This is on my Mac with OpenStudio 1.10.0

[2016-03-31 18:53] macumber commented on #2180
If the error is occurring in all versions but only halting in the 1.10.5 Mac builds then it is possible that those Mac builds have different configurations (normally asserts are compiled out in release builds).  However, you aren't getting good answers back in the other builds so it is a problem in all packages

[2016-03-31 19:04] DavidGoldwasser commented on #2180
@mbadams5 I'm fine to on 1.10.0. Only breaks 1.10.5 or later. I tested with what is on ruby gems and also current master on openstudio-standards repo.

[2016-03-31 21:54] asparke2 commented on #2180
@macumber Yeah, these are assertions thrown in the daylighting shapes.  I detect them and then try a different approach when they happen, which makes the modeling results good enough.  I think you're right about the assertions not being compiled out in the Mac build this time.  The linux build appears to be fine; the openstudio-standards CI is running fine with 1.10.6 and 1.11.0.

[2016-03-31 21:56] rpg777 opened #2181 "Add "high" accuracy settings option to Radiance Measure"
Need to add a user option in the Radiance measure so that auto-generated prototype models can be run at the "high" (accurate) setting.

[2016-04-01 10:24] Anto-F opened #2182 "Wrong boundary in OS:WaterHeater:HeatPump 'Minimum Inlet Air Temperature for Compressor Operation'"
The 'Minimum Inlet Air Temperature for Compressor Operation' should be -5°C (ref EnergyPlus InputOutput Reference).
Currently, we cannot type any value below 5°C (OpenStudio 1.11).

[2016-04-02 05:30] arif-hanif commented on #2175
if you have the clearness number in the ddy file when you import the App stores the value in the simulation even  though it is not exposed in the app.

[2016-04-04 14:45] jmarrec commented on #974
+1 on using option 1 above

[2016-04-04 16:28] #1359 closed

[2016-04-04 16:35] eringold commented on #1359
fixed in EnergyPlus with https://github.com/NREL/EnergyPlus/pull/5289

[2016-04-05 09:05] jmarrec commented on #2182
https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/resources/model/OpenStudio.idd#L22795

[2016-04-06 03:05] MatthewSteen opened #2184 "unit ventilator object is incomplete in 1.11.0"
The ZoneHVACUnitVentilator objects do not expose the fan component in the inspector.

https://unmethours.com/question/13699/supply-fan-name-type-in-for-an-unit-ventilator/

A FanConstantVolume object is added to a model for each unit ventilator, but according to the IO Ref this object should have all three fan type options.

http://bigladdersoftware.com/epx/docs/8-4/input-output-reference/group-zo

[2016-04-06 09:22] dani71 opened #2185 "Daylight savings time allways get the American option"
Hi,
I'm trying to use **daylight savings time** with the european option, that consists in the last sunday of march and the last sunday of october.

But no matter what I choose **in the OS interface**, what I allways get in the run\1-UserScript-0\out.osm file is:
[code]
and in the expanded.idf file:
[code]

thanks.

[2016-04-06 13:34] MatthewSteen commented on #2184
Upon further inspection, the fan is created automagically but not connected to the parent object.

    OS:ZoneHVAC:UnitVentilator,
      {8bfd8b9f-0f07-4183-ba7e-5bbc5d0bdcc8}, !- Handle
      Unit Ventilator - Heating,              !- Name
      {9adb53f6-26f9-4483-aee1-914f1bc963b0}, !- Availability Schedule Name
      autosize,                               !- Maximum Supply Air Flow Rate {m3/s

[2016-04-06 14:04] mbadams5 commented on #2184
@MatthewSteen I don't see anything in the code that limits ZoneHVACUnitVentilator to only FanConstantVolume. In fact it looks like it can properly use all three (again, just from looking at the code only).

I will say that within hvac_library.osm file that the ZoneHVACUnitVentilator objects in there only use FanConstantVolume. What this means is that when you drag a ZoneHVACUnitVentilator from the

[2016-04-06 14:29] MatthewSteen commented on #2184
Ok, so the lack of the fan component in the inspector is by design?

In attempting to help the UnmetHours user name the UV fan, I tried using the API to get the supplyAirFan, but it causes an error.

The OSM block above was created by dropping a UV into a zone in a blank model. I tried all three of the UV object types and none of the CAV fans that were created for them were linked, i.e. the `Suppl

[2016-04-06 14:47] mbadams5 commented on #2184
Yeah I forgot to address that... I don't know why it is not connecting the Fan to the UnitVentilator properly. My guess is bad clone code since the hvac_library.osm has the two properly connected.

[2016-04-06 15:11] MatthewSteen commented on #2184
I see, missing [this line](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/ZoneHVACUnitHeater.cpp#L79). Maybe it's time for me to finally get around to build OS.

[2016-04-06 15:49] macumber opened #2186 "SketchUp does not see plugin signature as valid"

[2016-04-06 16:43] rpg777 commented on #2181
[merged](https://github.com/NREL/OpenStudio/pull/2187).

[2016-04-06 16:43] #2181 closed

[2016-04-06 16:54] macumber commented on #2186
We need to do this as part of the typical release process

https://extensions.sketchup.com/en/developer_center/extension_signature

[2016-04-06 16:56] #2186 closed

[2016-04-06 16:56] macumber commented on #2186
@evanweaver FYI for the future

[2016-04-08 16:56] MatthewSteen opened #2188 "change 90.1 construction sets to match the PRM"
In particular the walls and floors.

Table G3.1 no. 5

• Above-grade walls—Steel framed
• Floors—Steel joist

[2016-04-11 19:25] dstuder opened #2191 "MultiSpeed Coil Inlet/Outlet Nodes Not Being Connected Properly"
There appears to be an issue when attempting to add multispeed coil objects (CoilHeatingDXMultiSpeed or CoilCoolingDXMultiSpeed) to an AirLoopHVAC:UnitarySystem object. Using:

new_heating_coil = OpenStudio::Model::CoilHeatingDXMultiSpeed.new(model)
air_loop_hvac_unitary_system.setHeatingCoil(new_heating_coil)

Successfully includes the coil in the model, but the Air Inlet Node and Air Outlet Node

[2016-04-11 19:47] shorowit commented on #2191
@dstuder Is this the same as https://github.com/NREL/OpenStudio/issues/2172?

[2016-04-11 20:19] dstuder commented on #2191
@shorowit Yes, I believe so. Didn't see it when I looked earlier.

[2016-04-11 20:20] dstuder commented on #2172
This is also important for some work I'm involved with on the commercial side. A proposed schedule would be awesome.

[2016-04-12 11:17] Anto-F opened #2192 "CooledBeam is not correctly translated"
When I use this object :
![1](https://cloud.githubusercontent.com/assets/10023510/14458235/1819320e-00b0-11e6-95cd-397a95db2a5b.PNG)
I get the following error :
** Severe  ** IP: IDF line~606 Error detected in Object=AIRTERMINAL:SINGLEDUCT:CONSTANTVOLUME:COOLEDBEAM, name=CHILLED BEAM
   **   ~~~   ** Field [Cooled Beam Type] is required but was blank

I tried to export the .osm in .idf and it conf

[2016-04-13 15:41] macumber commented on #2180
Probably need to change these from asserts to some other error handling

[2016-04-13 15:42] asparke2 commented on #2180
In openstudio-standards, or in the geometry library?

[2016-04-13 18:14] DavidGoldwasser opened #2194 "assert(!@@co.getDefaultEPWLocation.to_s.empty?) fails in mac on template reporting measure"
This only affects the unit tests on mac, nor running the measure anywhere else.

https://github.com/NREL/OpenStudio/blob/8296251db964cfdac272468381950d6327b42500/openstudiocore/src/utilities/bcl/templates/ReportingMeasure/tests/reporting_measure_test.rb#L20

Here is the code I currently use in other reporting measure. In this approach a copy of the weather file is in the measure's test directory.

[2016-04-13 18:50] macumber commented on #2194
My guess is this has to do with the E+ install on Mac, here is the code that sets the default epw dir:

https://github.com/NREL/OpenStudio/blob/8296251db964cfdac272468381950d6327b42500/openstudiocore/src/runmanager/lib/ConfigOptions.cpp#L1071

Do you have either of these folders in your E+ install?

      openstudio::path weatherdir1 = eplus.localBinPath.parent_path().parent_path() / toPath("Weath

[2016-04-13 19:15] DavidGoldwasser opened #2195 "Timeseries Not Found is being thrown on template reporting measure"
https://github.com/NREL/OpenStudio/blob/8296251db964cfdac272468381950d6327b42500/openstudiocore/src/utilities/bcl/templates/ReportingMeasure/measure.rb#L119

This happens mac or windows in unit test or GUI. Only shows in unit test if you add "show_output(results)"

[2016-04-13 19:54] DavidGoldwasser commented on #2194
"WeatherData" sits right under the EnergyPlus install. I thought at one point this just happened in my dev environment but I confirmed it also happens on my install of 1.11.0.

[2016-04-13 20:04] DavidGoldwasser commented on #2195
@macumber looks like key value is the issue. Works if set to 'Environment' instead of blank.
https://github.com/NREL/OpenStudio/blob/8296251db964cfdac272468381950d6327b42500/openstudiocore/src/utilities/bcl/templates/ReportingMeasure/measure.rb#L113

[2016-04-13 20:33] DavidGoldwasser commented on #2191
@kbenne I'll close this as a duplicate but you are assigned to the other copy of it.

[2016-04-13 20:33] #2191 closed

[2016-04-15 13:56] DavidGoldwasser commented on #2180
@evanweaver's updated installer doesn't fail at the asserts, so the measure completes successfully. @macumber are you fine closing this issue  or do you want to keep it open to address why asserts are being thrown.

[2016-04-15 14:52] macumber commented on #2180
Yes let's leave it open to fix the assert, my guess is that the assert should be replaced by different error handling since this error does occur in regular use

[2016-04-15 21:57] macumber opened #2198 "SWIG takes 22 minutes to complete on OpenStudioModelHVAC"
Can we break this up into multiple modules @kbenne and @mbadams5 ?

[2016-04-17 15:25] macumber opened #2199 "Diagnostic script should test that sub surface points are within base surface"
https://unmethours.com/question/3908/openstudio-error-sub-surface-is-not-contained-by-its-base-surface/?comment=16563#post-id-16563

[2016-04-18 01:02] DavidGoldwasser commented on #2199
@macumber, "sub surface not contained by base surface" isn't is checked when an OSM is opened. I'm not sure if that check is using native SketchUp API methods or the openStudio.within method you refer to. In the past this has falsely triggered at times.

I made the "Remove Orphan and Unused Objects" measure to replace the diagnostic script for use outside of SketchUp. I'd prefer to add this new fu

[2016-04-18 09:13] Megahjj commented on #1664
@macumber @zhouchong90 @pengwei
I am having the same problem as @lbirkett mentioned. Has the issue been solved?
How did you solve it?

[2016-04-18 09:13] Megahjj commented on #1664
ERROR org.bimserver.JsonHandler - Missing parameter: addProject -> schema

[2016-04-18 15:44] macumber commented on #2199
You have to project sub surfaces to the surface in order to use within, I'm not entirely sure what happens if points are exactly on the edge

[2016-04-21 18:24] asparke2 opened #2203 "Ruby inside of Mac installer won't load openstudio bindings"
System Ruby loads the openstudio ruby bindings fine, but the Ruby packaged with OpenStudio doesn't load them (segmentation fault).  This has not been a problem because scan for tools finds system Ruby instead of the Ruby we are packaging.  The downside to using system Ruby is that it doesn't have the gems we package with OpenStudio.

@kbenne proposed temporarily adding symlinks from System Ruby to

[2016-04-21 18:25] asparke2 commented on #2203
Just adding this for posterity in case anyone cares.

[2016-04-21 18:25] #2203 closed

[2016-04-21 18:39] egillmor commented on #1814
Just FYI, still an issue in 1.11.0.

[2016-04-23 15:35] macumber commented on #2198
Also takes about 1.5GB of RAM to compile.  The wrapper source file is 46 MB, which is 3x bigger than the next largest module (Resources)

[2016-04-25 21:01] DavidGoldwasser opened #2204 "Update forward translator so it doesn't translate orphan surfaces"
Update forward translator so it doesn't translate orphan surfaces. Orphan surface defined as a planar surface that doesn't have a parent surface group.

Ran across it in this post on UnmetHours
https://unmethours.com/question/16738/input-errors-in-sketchup-model-leading-to-fatal-errors-in-open-studio/

We already have a measure to remove the orphan surfaces from the model as a workaround. I'm also

[2016-04-25 21:30] #1627 closed

[2016-04-25 21:33] DavidGoldwasser commented on #1964
The multiple constant speed fan objects was confusing for trainings. It would be nice to hide all of the ones except what we want users to see by default. Similar for other objects.

[2016-04-25 21:44] DavidGoldwasser commented on #1519
This came up in training recently, and caused some confusion. It only affects people load defs.

[2016-04-27 09:12] jmarrec opened #2206 "Deleting Evaporative cooler on relief branch of outside air system orphans node"
I mistakenly placed a Direct Evaporative Cooler Research on the relief branch of my Outside air system. After deleting it to replace it on the OA intake branch, the previous inlet node of the cooler is still in the model.

[2016-04-27 09:24] jmarrec commented on #1671
it's been a while, but it's back. When I click on the Measures tab in OS App (1.11.0)

![no rtti data](https://cloud.githubusercontent.com/assets/5479063/14847596/c60bde60-0c69-11e6-9707-85714e4cd5f4.png)

----

To be transparent I know what I did wrong in this particular case. As stated in #2206 I had an orphan node problem, so I did this loop:

[code]

This deleted the node I wanted gone, but al

[2016-04-28 10:30] jmarrec commented on #1634
+1

[2016-04-28 14:44] DavidGoldwasser opened #2207 "Fix exterior lights on standard report"
https://unmethours.com/question/16895/openstudio-results-exterior-lighting-correct/?answer=16902#post-id-16902

Fix the unit conversion and also update label to specify consumption as annual. Maybe update label on interior lighting as well which doesn't specify annual. Plug loads label does show annual.

[2016-04-28 14:47] DavidGoldwasser opened #2208 "Fix Variable Speed Pump reporting in standard report"
https://unmethours.com/question/16894/openstudio-results-plant-loop-details-correct/?answer=16905#post-id-16905

[2016-04-28 15:09] eringold commented on #2208
@DavidGoldwasser do you have any plans to start using the `autosizedFoo` methods from openstudio_standards to start reporting [autosized](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/pat_app/Measures/StandardReports/resources/os_lib_reporting.rb#L1056) values? I've added some to my own reports, and would be willing to help.

[2016-04-29 15:29] DavidGoldwasser commented on #2208
@eringold that's a great idea. I made a branch with fixes for exterior lights and pump reporting (it affected both constant and variable speed pumps).
https://github.com/NREL/OpenStudio/tree/160428_standard_report_update

I'm going to merge the changes I made into develop to make it into the 1.11.2 installer, but if you want to help with changes for 1.11.3 or later that would be great.

Here is on

[2016-04-29 16:16] MatthewSteen commented on #1504
https://openstudio.uservoice.com/forums/308629-openstudio/suggestions/11146404-end-use-subcategory

[2016-04-29 19:01] #2207 closed

[2016-04-29 19:01] #2208 closed

[2016-04-29 19:11] pflaumingo opened #2211 "Can't Access Local BCL Using C# Bindings"
Accessing the local BCL doesn't seem to work with 64-bit c# bindings. I'm not very sure of the source of the issue however I tried creating a simple console application in Visual Studio and accessing the local BCL:

var localBCL = LocalBCL.instance();

I then tried calling the prodAuthKey, components and measures methods but none of them return anything. The libraryPath returned the correct path t

[2016-04-30 16:30] asparke2 opened #2212 "Error when cloning CoolingTowerVariableSpeed"
OpenStudio 1.11.1, Windows 7

When I clone a `CoolingTowerVariableSpeed` and then attach the clone to the supply side of the same plant loop the original was on, the original gets removed from the loop.  This doesn't occur for `CoolingTowerSingleSpeed` or `ChillerElectricEIR`.  Also, the resulting model crashes if you try to navigate to the loop in the OS App.

Hit this issue working on Baseline A

[2016-04-30 16:49] eringold commented on #2208
@DavidGoldwasser my thinking has been that it is useful to delineate auto- vs hard-sized values in the report, so I've been appending "(Autosized)" to those values. I'm sure there is any number of more elegant ways to do it, though. You can see some of what I've done with HVAC reporting in the attached file:
[report.pdf](https://github.com/NREL/OpenStudio/files/243715/report.pdf)

As you can see,

[2016-05-02 16:01] asparke2 opened #2213 "Enable heat recovery for ChillerElectricEIR"
Add the capability to hook up a tertiary heat recovery loop to ChillerElectricEIR.

[2016-05-04 12:31] jmarrec opened #2215 "ZoneVentilation:DesignFlowRate doesn't react as usual when setting flow"
If you use any of the `setDesignFlowRate`, `setFlowRateperZoneFloorArea`, `setFlowRateperPerson`, or `setAirChangesperHour`, this will NOT change the `DesignFlowRateCalculationMethod`. You have to explicility do so using `setDesignFlowRateCalculationMethod`.

This not the way `SpaceInfiltrationDesignFlowRate` works for example.

setDesignFlowRateCalculationMethod shouldn't not exist as a method, a

[2016-05-04 16:47] jmarrec opened #2216 "Spectral Data Set name doesn't forward translate to IDF"
I see that it should translate in [ForwardTranslateStandardGlazing](https://github.com/NREL/OpenStudio/blob/8296251db964cfdac272468381950d6327b42500/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateStandardGlazing.cpp#L51)

My object is fine:

[code]

But in my IDF the spectral data set name is gone.

What's the matter?

[2016-05-05 14:43] macumber opened #2217 "BCLMeasure should force update if measure.xml missing class_name or other required fields"

[2016-05-05 14:45] macumber commented on #2217
@DavidGoldwasser several measures in the openstudio measure repo are affected by this, AedgK12InteriorLightingControls and AedgK12ElectricEquipmentControls are the ones I saw

[2016-05-09 14:23] jmarrec commented on #2216
I think I know what's happening.

I actually use the "inject_idf_objects" measure to add my Spectral Data Sets (`MaterialProperty:GlazingSpectralData`) at runtime. But if you do a forward translate from .osm to .idf using command line, you get the following:

    [utilities.idf.WorkspaceObject] <0> Object of type 'WindowMaterial:Glazing' and named 'Guardian SunGuard  SNX 60/28 _6Clear', points to

[2016-05-10 08:39] jmarrec opened #2220 "air_loop.outdoorAirNode is not implemented"
This works:

[code]

This doesn't:

[code]

I know I can correctly get it by doing `oasys = loop.airLoopHVACOutdoorAirSystem.get` and then `oasys.outboardOANode.get`, but this seems weird.

[2016-05-10 14:53] macumber opened #2221 "Temp dir is not deleted"
To reproduce, open the app, close it, temp directory is not deleted.  Temp dir should be in C:/Users/xxx/AppData/Local/Temp/ or C:/Users/xxx/AppData/Local/Temp/1/.  Log file shows this:

[removeDir] <-1> removeDir 'C:/Users/xxx/AppData/Local/Temp/1/OpenStudio.D11220'
[removeDir] <-1> removeDir 'C:/Users/xxx/AppData/Local/Temp/1/OpenStudio.D11220/resources'
[removeDir] <-1> removeDir 'C:/Users/xxx/

[2016-05-10 15:00] jmarrec commented on #2221
![30gb of openstudio folders](https://cloud.githubusercontent.com/assets/5479063/15151225/924dce5a-16d0-11e6-9c55-3c7fb2b76459.png)

Yep, 30 GB of OpenStudio folders. Some of them only have a resource folder with `project.log`, `project.osp` and `run.db` in there.

Others have the full run directory with some 7 GB .eso and some 9 GB sql.

[2016-05-10 21:00] rpg777 opened #2222 "Illuminance Map Scale Does Not Work"
Changing the max/min scale values merely changes the legend scale labels; the maps themselves are not, uh, re-mapped. See this [UH post](https://unmethours.com/question/17163/illuminance-map-scale-change-doesnt-work/) for details.

[2016-05-10 21:05] kbenne opened #2223 "Controller Mechanical Ventilation Availability Schedule"
User reports...

Yes I think it is possible. Tricky though. I don't like the magic happening on lines 66-70, but it is there as a result of [this E+ issue](https://github.com/NREL/EnergyPlus/issues/4633).

I propose that we make a change to OS and go ahead and translate the ControllerMechanicalVentilation::AvailabilitySchedule as given *provided* there is not a ControllerOutdoorAir::MinimOutdoorAi

[2016-05-11 01:05] DavidGoldwasser opened #2225 "Daylighting Controls Measure: OS:Daylighting:Control objects do not forward translate in certain cases"
I was testing this from this user post.
https://unmethours.com/question/17192/add-daylight-sensor-at-the-center-of-space/

After seeing this with a model made by the measure, I was able to reproduce with a fresh model by hand.
1. Add new space to empty model, optionally draw geometry
2. Assign thermal space to new thermal zone
3. Add daylighting control to space.
4. Save OSM file (it has daylighti

[2016-05-11 01:07] DavidGoldwasser commented on #2222
related to or duplicate of issue #1750

[2016-05-11 01:34] rpg777 commented on #2222
Yes, same issue. Only with this ticket, the actual problem is described. Will add actual problem description to Issue #1750 and close this.

[2016-05-11 01:42] rpg777 commented on #1750
This has been [reported](https://unmethours.com/question/17163/illuminance-map-scale-change-doesnt-work/) by another user on UH today, as well. The issue here is that the control gives the user the ability (and thus the impression) that the plot scale can be changed; while the values in the legend do change, the flood plot does not remap/scale to the new max/min values.

[2016-05-11 02:01] macumber commented on #2225
I just did this in 1.11.0 and could not reproduce, I tried with and without surfaces in the space.

[2016-05-11 03:10] DavidGoldwasser commented on #2225
Sorry @macumber I think you are right. I was searching for the name of the daylighting control object in the IDF, but I see it isn't named, but just refers to the zone name. I'll close this as invalid.

[2016-05-11 15:35] rpg777 commented on #2225
But, the user is still having the issue.

[2016-05-11 15:43] macumber commented on #2225
My guess is the measure isn't hooking the control up to the zone?  Maybe they are running the measure before zones are created?

[2016-05-11 16:32] rpg777 commented on #2225
Maybe; I don't have time to test it right now, but I wouldn't call this issue "invalid". Reopening.

[2016-05-11 16:53] DavidGoldwasser commented on #2225
The measure appears to be hooking up to zones, but maybe there is something unique about the input model the user has. The test model for the measure has zones with one space and zones with many spaces. They zones have daylighting controls hooked up, and those make it into the IDF file as well.

@rpg777 what I meant was invalid was the forward translation issue. If there is an issue with the measu

[2016-05-11 17:00] rpg777 commented on #2225
The issue *is* with the measure; the GH Issue was poorly named, and has been changed to reflect the issue. No need to make a whole new ticket.

[2016-05-11 17:07] kbenne opened #2226 "AirConditionerVariableRefrigerantFlow::clone does not include curves"

[2016-05-11 17:47] macumber commented on #2225
Not to stir up the pot any more but I think if the issue really is with the measure we should put the issue in the measure repo's issues.  OpenStudio issues are backlogged enough without having issues for other measures in here.  Just my 2 cents

[2016-05-11 18:58] rpg777 commented on #2225
Oh, you're absolutely right Dan-o. I didn't realize we were tracking measure issues directly in that repository. (duh)

[2016-05-11 18:58] #2225 closed

[2016-05-12 03:57] arif-hanif commented on #1502
@alnjxn Alan hope things are going well at WeWork, was wondering if you were still doing this type of work. Any chance in you collaborating on an opensource project we will start out of unmethours to produce a utility for dynamo to OS.

[2016-05-12 13:41] jmarrec opened #2229 "AirLoopHVACUnitarySystem fan placement doesn't default"
Left the unitary fan placement to be blank. According to the [I/O](http://bigladdersoftware.com/epx/docs/8-5/input-output-reference/group-unitary-equipment.html#field-fan-placement):

I'm getting the following error when running the simulation

[code]

Apparently openstudio has this optional initialized to an empty string

[code]

Not sure if this is an openstudio or EnergyPlus error though

[2016-05-12 16:07] alnjxn commented on #1502
@arif-hanif yes that would be great! I think between myself and Nate Miller we probably have some good basis for this as we prototyped in the past. Lets all sync up.