[2019-08-28 13:30] jmarrec commented on #3604
@kbenne what is the final decision please?

[2019-08-28 14:23] kbenne opened #3639 "Add new Fields in AirLoopHVACUnitaryHeatCoolVAVChangeoverBypass"
![image](https://user-images.githubusercontent.com/707488/63864432-743ca980-c975-11e9-9612-c9a206a1ba2e.png)

https://github.com/NREL/EnergyPlus/pull/7249

[2019-08-29 13:06] macumber opened #3641 "Update floor space and spider"

[2019-08-29 19:26] luisclv opened #3643 "LifeCycleCost Object Missing Field & Forward Translator Error"
The LifeCycleCost object is missing a method to handle the `Start of Costs` field. The two valid options are `BasePeriod` and `ServicePeriod`.

Because of this, the forward translator ignores this field and always sets the cost to start on `ServicePeriod` always.

The forward translator should request the value of the `Start of Costs` field and assign it accordingly to the IDF object.

I traced th

[2019-08-29 21:34] ToniOchoc commented on #3150
I had a similar problem with windows on double height walls. Splitting the wall surface fixed it. More info in this post:
https://unmethours.com/question/40137/solid-windows-in-openstudio-geometry/

[2019-08-30 05:42] jmarrec commented on #3573
Progress:
* Linux is all conan (tested and removed qdbm)
* mac is all conan: I still need to get CI to build new binaries, was waiting for bincrafters to merge my conan-readline PR which they did yesterday, waiting for their CI to publish the new recipe. But tested that readline static works already
* windows is the remaning issue

[2019-08-30 10:32] jmarrec commented on #3609
@macumber Where would that measure output the CSV to? The model companion folder? If so, under which folder, resources?

[2019-08-30 13:17] macumber commented on #3609
@jmarrec I think there are a couple of answers here.  When a measure writes a file, it should write it to the current working directory.  However, if the measure then creates a ScheduleFile to add to the model, the CSV file will be moved when you create the ExternalFile.  The code in [ExternalFile](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/ExternalFile.cpp#L230) move

[2019-08-30 20:23] kbenne commented on #3604
@eringold thank you for the correction.

@jmarrec  My vote is still put logic in FT and no fancy logic in the model's setter / getter. default to empty string and preferably hide in the app. If the field is populated by user then no change in FT. I've convinced myself this is a compromise that is digestible if not great for everyone.

[2019-08-31 03:14] kbenne opened #3645 "E+ Change: Add support for supplemental heat to ZoneHVAC:TerminalUnit:VariableRefrigerantFlow"
Consider adding new feature for optional supplemental heat. ignore for now. or add as time allows but consider this a new feature not a requirement of version update. (at least thats how i treat these types of things).

If you defer the handling of this feature that is fine, just remove it from the milestone.

[2019-08-31 03:17] kbenne opened #3646 "E+ Change: ZoneHVAC:EquipmentList heating/cooling fraction are now schedules"
These schedules used to simply be scalers. At minimum handle the change in the EnergyPlus idf translator by generating constant value schedules.

[2019-08-31 03:18] shorowit commented on #3646
https://github.com/NREL/OpenStudio/pull/3583

[2019-08-31 03:19] kbenne opened #3647 "E+ Change: Coil:WaterHeating:Desuperheater now supports WaterHeaterStratified"
I think you can just bring over the new object-list and the new enum and then OS will support WaterHeaterStratified within the desuperheater

[2019-08-31 03:21] kbenne opened #3648 "E+ Change: AirLoopHVAC:UnitaryHeatCool:VAVChangeoverBypass"
There is a new enum on Priority Control Node field. that is easy just bring over the new enum. The other change is a node that has to be referrenced if the system involves plenums. This needs research because i don't fully understand the change. I say if the unitary was not allowed with a plenum system before, then just ignore the new field and consider that a new feature for a later date.

[2019-08-31 03:23] kbenne opened #3649 "E+ Change: Pump:VariableSpeed"
There is a change to units so check that out and bring the new units over if they are correct in the context of the OS IDD. The other change is just a case change so i would ignore that because it will only server to mess up OS API

[2019-08-31 03:24] kbenne opened #3650 "E+ Change: CoolingTower:SingleSpeed"
The best way to handle this and all name changes is to add a synonym method and mark the old one deprecated. I think no change is good enough for this one though. Need to at least update the idd translator but that is probably already done if the code is compiling

[2019-08-31 03:28] kbenne opened #3651 "E+ Change: Table:MultiVariableLookup"
Have fun. I would not change the OS api or idd at all. Do it all in idf translator. It has to be possible if EnergyPlus is able to version translate. I think our OS API is pretty good.

[2019-08-31 04:13] kbenne commented on #3648
Update. there is an important request for some of these new fields in this object. see here...

https://github.com/NREL/OpenStudio/issues/3639

@jmarrec it is important to close #3639 before the 2.9.0 release.

[2019-08-31 04:16] macumber commented on #3651
Looks like this translator is going to need to write a CSVFile, good timing @joseph-robertson :-)

[2019-08-31 04:20] macumber commented on #3651
Oh never mind, the CSVFile is optional.  Would be a good option for later.

[2019-08-31 12:25] shorowit commented on #3647
https://github.com/NREL/OpenStudio/pull/3565

[2019-08-31 16:25] macumber opened #3654 "Fix ThermalStorageIceDetailed Forward Translator"
Need to fix this on the energyplus_9_2_idd_proposed branch https://github.com/NREL/OpenStudio/pull/3640/files#diff-4d0a7e22d316a3aff08b1a18a47dd6d4R95

[2019-09-01 22:02] macumber opened #3656 "Fix regression test errors"
Fix tests on https://github.com/NREL/OpenStudio-resources/tree/everybody_merge_now using https://github.com/NREL/OpenStudio/pull/3655.  Put your name next to issue when you start looking at that test

- [x] test_ems_scott_osm
- [x] test_coil_waterheating_desuperheater_rb - JM: Fixed on https://github.com/NREL/OpenStudio-resources/pull/71
- [x] test_coil_waterheating_desuperheater_osm - JM: Deleted

[2019-09-01 22:03] macumber opened #3657 "Fix unit test GeometryFixture.ThreeJS"

[2019-09-01 22:03] macumber opened #3658 "Fix unit test EnergyPlusFixture.ForwardReverseTranslatorActuator_EMS"
Work on everybody_merge_now branch https://github.com/NREL/OpenStudio/pull/3655

[2019-09-02 01:36] macumber commented on #3635
I think the best approach to this feature is to add a new ConstructionAirBoundary to the OS Model.  Any constructions which include the AirWallMaterial would be converted to ConstructionAirBoundary before the translator runs.  We would then log a warning that AirWallMaterial is deprecated and remove it in a future release.

[2019-09-02 01:47] #3608 closed

[2019-09-02 02:30] macumber commented on #3584
This is a tough one, we need to change the ProposedE+.idd back to match E+ (e.g. no extensible groups).  However, ReverseTranslateZone.cpp is looping over the extensible fields.  This needs to be addressed so @bonnema can move forward to the current version.

[2019-09-02 02:32] macumber commented on #3637
This object is not wrapped

[2019-09-02 02:32] #3637 closed

[2019-09-02 04:35] macumber commented on #3584
I don't fully understand all the stuff going on with thermostats, it seems that OS wraps only a few types and there are some conversions at translation time.  Assigning to @jmarrec, Julien if there is another ticket you'd like to trade with me let's do that.

[2019-09-02 09:58] jmarrec commented on #3604
@kbenne Not sure you foresaw this API breaking change: AirConditionnerVariableRefigerant::condenserType will have to become optional.

[2019-09-02 19:37] jmarrec commented on #3654
E+ transition code is here: https://github.com/NREL/EnergyPlus/pull/7339/commits/941a6703227fe716e9133c5d3c48b06c5f4ce4aa#diff-6bcecd46a03668bc5e9998616e6e8066R476

[2019-09-02 20:15] MatthewSteen commented on #3531
Also Doors...

**Many Doors (no filter)**
![image](https://user-images.githubusercontent.com/8397034/64132289-0258cb80-cd8c-11e9-9958-f8c7b7c3b827.png)

**One Door (filter)**
![image](https://user-images.githubusercontent.com/8397034/64132300-14d30500-cd8c-11e9-9494-b72c63c525a3.png)

[2019-09-02 21:58] jmarrec commented on #3584
@macumber I am going to think about the best way to do this

@tijcolem you might be interested in reading this if you can spare the time:
* EnergyPlus has several thermostat types [1]: `ThermostatSetpoint:DualSetpoint`,  `ThermostatSetpoint:SingleCooling` and `ThermostatSetpoint:SingleHeating`.
* These are used in a `ZoneControl:Thermostat` object, where you can reference several different ones an

[2019-09-02 22:17] jmarrec commented on #3584
@macumber There are two options here regarding the `Temperature Difference Between Cutout And Setpoint`:
* We are fine not adding this field yet, and wait for the next E+ release that would ideally move this field up before the "extensible" groups.
* We want this field in 2.9.0, in which case the least hassle is that we add it to the model API, change the `ProposedEnergy+.idd` to no longer have ex

[2019-09-03 14:35] jmarrec commented on #3650
`Cooling:Tower:SingleSpeed` is falling pretty out of sync with the E+ Idd.

* Lots of field name changes (including some that weren't introduced in 9.1.0 to 9.2.0).
* Fields are in a fairly arbitrary order: I figure this was done to avoid having to write VersionTranslator but it makes it pretty hard to do a diff.
* Lots of fields in E+ are correctly marked as `\autocalculatable`, but in OpenStudio

[2019-09-03 14:38] jmarrec commented on #3650
Saving some progress in https://github.com/jmarrec/OpenStudio/tree/3650_Realign_CoolingTowerSingleSpeed and removing the 2.9.0 milestone from this one + re-titling.

[2019-09-03 14:45] jmarrec commented on #3649
![image](https://user-images.githubusercontent.com/5479063/64183505-45896c00-ce6a-11e9-8632-03f548054ac6.png)

[2019-09-03 18:32] jmarrec commented on #3639
Cf https://github.com/NREL/EnergyPlus/pull/7249

[2019-09-03 21:19] brianlball commented on #3658
attached fan to an airloop.  looks like it got removed in the FT if it was not attached.
https://github.com/NREL/OpenStudio/commit/390e6cca51b1e289d448c91588c9f2b62ee9ea94

[2019-09-03 23:03] macumber opened #3662 "Fix ModelFixture.ZoneHVACEquipmentList_Logic"
@joseph-robertson this test is failing on the `everybody_merge_now` branch.  I had to make a few changes to ZoneHVACEquipmentList.cpp because it was hard crashing on some of our unit tests.  Can you fix this test failure on the `everybody_merge_now` branch?

https://github.com/NREL/OpenStudio/pull/3655/commits/6cd0f5fcb464b7d6e62c3abcd47873bb1f69eec5

[2019-09-04 04:38] macumber commented on #3656
@joseph-robertson can you look at the  test_zone_hvac_equipment_list failures?

[2019-09-04 05:01] macumber commented on #3656
I just made a commit that should fix several of these, I will update the list once tests run

[2019-09-04 14:55] jmarrec commented on #3584
@bonnema Do you need this field in the Workspace (<=> EnergyPlus Measures) or do you also need it to be added to the OpenStudio Model API (I would add it to the `OS:ThermostatSetpoint:DualSetpoint` object and handle logic in the FT)

[2019-09-04 17:05] shorowit opened #3664 "Wrap ZoneProperty:UserViewFactors:bySurfaceName object"
https://bigladdersoftware.com/epx/docs/9-1/input-output-reference/group-advanced-surface-concepts.html#zonepropertyuserviewfactorsbysurfacename

@yzhou601 Can you attach one of your IDF files that uses this object?

[2019-09-04 17:09] yzhou601 commented on #3664
Sure, [GoogleDriveLinkToSampleFile](https://drive.google.com/file/d/1E67NgfPgLcMremXfvchEML42sw1NZ94E/view?usp=sharing).

[2019-09-05 08:56] jmarrec commented on #3647
Closed via #3565

[2019-09-05 08:56] #3647 closed

[2019-09-05 14:54] joseph-robertson commented on #3662
Fixed in 78cd8af.

[2019-09-05 14:54] #3662 closed

[2019-09-05 14:55] joseph-robertson opened #3665 "AirLoopHVAC:UnitarySystem doesn't default Fan Placement=BlowThrough anymore"
Leads to no FT of Fan Placement, and then energyplus error.

[2019-09-05 21:12] #3554 closed

[2019-09-05 21:12] #3555 closed

[2019-09-05 21:12] #3600 closed

[2019-09-05 21:12] #3571 closed

[2019-09-05 21:12] #3643 closed

[2019-09-05 21:12] #3651 closed

[2019-09-05 21:12] #3636 closed

[2019-09-05 21:12] #3654 closed

[2019-09-05 21:12] #3594 closed

[2019-09-05 21:12] #3641 closed

[2019-09-06 09:28] jmarrec opened #3666 "CoilWaterHeaterDesuperheater: Issue Error in ForwardTranslator if Heat Reclaim Efficiency is out of bounds"
https://github.com/NREL/OpenStudio/blob/d6d7665b56030fb20146a096f7366ee1141d4d24/openstudiocore/src/model/CoilWaterHeatingDesuperheater.cpp#L544

E+ will throw with this default.

[code]

cf: https://github.com/NREL/OpenStudio-resources/pull/71#issuecomment-528782153

[2019-09-06 10:33] jmarrec commented on #3656
`test_thermal_storage_rb` and `test_thermal_storage_osm` are failing because the ProposedEnergy+.idd won't allow the ThermalStorage:Ice:Detailed on a PlantEquipmentList.

here's the 2.8.1 ProposedEnergy+.idd

[code]

[2019-09-06 12:10] jmarrec commented on #3665
I can't find anything that shows that this behavior actually changed. It was always the case.

[2019-09-06 13:13] #3657 closed

[2019-09-06 13:14] jmarrec commented on #3649
Fixed via #3661

[2019-09-06 13:14] #3649 closed

[2019-09-06 13:14] macumber commented on #3632
Most of the work is done but leaving open until we update to the final E+ 9.2 build

[2019-09-06 13:14] #3635 closed

[2019-09-06 13:15] #3611 closed

[2019-09-06 13:15] #3601 closed

[2019-09-06 13:15] jmarrec commented on #3646
Fixed via #3583

[2019-09-06 13:15] #3646 closed

[2019-09-06 13:16] #50 closed

[2019-09-06 13:16] jmarrec commented on #3584
Fixed via #3663

[2019-09-06 13:16] #3584 closed

[2019-09-06 13:17] jmarrec commented on #3648
Closing as duplicate of #3639

[2019-09-06 13:17] #3648 closed

[2019-09-06 13:20] #3658 closed

[2019-09-06 13:26] macumber opened #3668 "Update spider"
Once Theo gets html working update spider gbXML viewer

[2019-09-06 14:07] jmarrec opened #3669 "Order of objects in IDF for objects without a name field is non-deterministic"
List includes:

* [ ] `SurfacePropertyConvectionCoefficients`
* [ ] `SurfacePropertyExposedPerimeter`

Example code:
[code]

All of these guys are packed in the same location (they are automatically translated all at the same time), and their order varies.

**Out**:
[code]

reported by @shorowit

[2019-09-06 14:10] jmarrec commented on #3669
https://github.com/NREL/OpenStudio/blob/d6d7665b56030fb20146a096f7366ee1141d4d24/openstudiocore/src/energyplus/ForwardTranslator.cpp#L3683:L3685

WorkspaceObjectNameLess
https://github.com/NREL/OpenStudio/blob/7543ea67cd1be7dc9e218695667c7c5556c6cb0f/openstudiocore/src/utilities/core/Compare.cpp#L333:L346

Can't work obviously, ends up calling `istringLess("", "")` basically

Couple of ways to fix

[2019-09-06 14:21] joseph-robertson commented on #3665
Interesting. Well, I think we can close this then.

[2019-09-06 14:22] jmarrec commented on #3666
This is only the case if it's NOT a refrigeration equipment:

https://github.com/jmarrec/EnergyPlus/blob/2f2115f490c523cfc2c22e506a795b48799b4562/src/EnergyPlus/WaterThermalTanks.cc#L1372:L1398

[2019-09-06 15:02] jmarrec commented on #3665
Will do once I confirm that #3667 actually fixes this.

[2019-09-06 15:57] joseph-robertson commented on #3664
Design doc: https://docs.google.com/document/d/1P8O6GRQAZda5kK_2Qu2CJRkBGUxTIhJwvJ0-JNpTU1A/edit#heading=h.c285d1mdhew5

TODO:
- [ ] Fill out design doc
- [ ] Get design doc review

[2019-09-06 16:44] DavidGoldwasser commented on #2822
@kbenne I can re-produce this with the `example_model.osm` generated by OpenStudio and used in measure templates. I'll email you a copy of the file

[2019-09-06 16:54] macumber commented on #3609
Really this ticket is a documentation update.  We need an example measure for the CSVFile (which is a form of documentation).  We also should add a section on the measure writers guide about how to import files in a measure (from file paths) and how to write files in a measure (measures should write all files to the current working directory or the generated files path).

[2019-09-06 16:56] macumber opened #3670 "News item for OpenStudio 3.0.0 preview"
Should create an OpenStudio news item for the OpenStudio 3.0.0 preview release.  The news item should link to installers for core, app, pat, sketchup releases.  These releases will be posted as github releases in the corresponding repos.

[2019-09-06 17:01] macumber commented on #3670
Sketchup release https://github.com/NREL/openstudio-sketchup-plugin/releases

[2019-09-09 07:50] jmarrec commented on #3577
Fixed by #3587

[2019-09-09 07:50] #3577 closed

[2019-09-10 12:59] jmarrec commented on #3645
I've got no clue what this is referring to.

I've looked a the E+ 9.1.0 IDD, the 9.2.0 IDD, the 2.8.0 OS IDD and the current OS IDD. I see no change, and no missing fields on OS's side compared to E+. I can't pinpoint what this "new feature for optional supplemental heat" is?

@joseph-robertson @tijcolem Do you know what kyle is referring to?

[2019-09-10 14:52] #3665 closed

[2019-09-10 19:55] joseph-robertson commented on #3347
I imported the idf created from the test below into OSApp. It imports successfully, and the saved osm  correctly contains the reverse translated `Schedule:File` object. When I open the saved osm in OSApp, the Schedules tab does not show the Schedule File (under either My Model or Library). Perhaps that is what this issue is referring to- that it'd be nice to show the imported `Schedule:File` in OS

[2019-09-11 19:09] #3639 closed

[2019-09-13 14:04] jmarrec commented on #3656
Added `test_schedule_fixed_interval_osm` and `test_schedule_fixed_interval_2_osm` which are currently failing

[2019-09-15 05:53] #3564 closed

[2019-09-16 14:56] #3664 closed

[2019-09-16 14:57] #3668 closed

[2019-09-17 15:13] ZfedericoC opened #3679 "Mirrored Constructions adjacent surfaces"
Hi!

I have a question about mirrored Constructions of adjacent spaces in Open Studio, in case of asymmetric Construction. Which ones are the rules to define these kinds of constructions?

In a pratical case, I defined the internal roof and the internal floor of a building with the same Construction, called "Forjado Entreplantas".

![image](https://user-images.githubusercontent.com/52778297/650526

[2019-09-17 18:33] MatthewSteen opened #3680 "HeatPumpWaterToWaterEquationFit fields"
`HeatPumpWaterToWaterEquationFitCooling` and `HeatPumpWaterToWaterEquationFitHeating` objects have some fields that aren't editable in the app or are missing default values.

**HeatPumpWaterToWaterEquationFitCooling**

Objects do not allow the following fields to be edited in the app.

* Reference Coefficient of Performance
* Sizing Factor
* Companion Heating Heat Pump Name

![image](https://user-

[2019-09-18 17:13] eshadd opened #3682 "rb_data_object_alloc is undefined"
When I run the OpenStudio CLI v2.8.0 in Ubuntu LTS 16.04 I get the following error:

`/usr/local/openstudio-2.8.0/Ruby/openstudio.so: undefined symbol: rb_data_object_alloc`

the **Installation Notes** [here ](https://github.com/NREL/OpenStudio/releases/tag/v2.8.0) say OS is compatible with Ubuntu 16.04 but OpenStudio uses Ruby 2.2.4 whereas Ubuntu LTS 16.04 uses Ruby 2.3 and rb_data_object_alloc

[2019-09-18 17:36] eshadd commented on #3682
This [issue ](https://github.com/NREL/OpenStudio/issues/3545) is related but my issue is more about Ubuntu's Ruby 2.3 vs. OS Ruby 2.2.0 causing the `undefined symbol: rb_data_object_alloc `error.

[2019-09-19 17:09] mdahlhausen commented on #688
@DavidGoldwasser Request to re-open this issue to add other shading control type options, especially MeetDaylightIlluminanceSetpoint.

[2019-09-19 20:17] macumber commented on #3539
Might also be able to get visual studio to cross compile to the mingw target abi

[2019-09-20 15:18] tijcolem opened #3683 "OpenStudio v2.9.0 Checklist"
- [x] Release standards gem (if needed), Andrew
- [x] Release workflow gem (if needed), Ry
- [x] Release extension gem (if needed), (TBD)
- [x] Release measure tester gem (if needed), Nick
- [x] Double check gem files for correct versions of standards and workflow gems (use released versions only), Tim
- [x] Build openstudio-gems tar.gz for develop and develop3 and upload to s3., Tim

**If New E+

[2019-09-20 15:29] macumber opened #3684 "UTF-16 gbXML files not handled correctly in some cases"
See more information at https://github.com/NREL/OpenStudio/pull/3673

Need to ensure that OpenStudio correctly handles reading gbXML files in UTF-16 and UTF-8, need unit tests for each to read gbXML and convert to OSM.  Need to verify that encoding matches actual xml contents using text editor.  Also need to see if there are different byte orders (big endian/little endian) are used in UTF-16 in th

[2019-09-20 15:37] macumber commented on #3684
@pflaumingo @theo-armour @tijcolem

[2019-09-20 16:19] shorowit opened #3685 "Forward translate to epJSON"
Eventually epJSON will replace IDF. And it should be faster?

[2019-09-20 16:40] tijcolem commented on #3362
It looks like this has been addressed in the 3.0 roadmap so closing this issue

[2019-09-20 16:40] #3362 closed

[2019-09-20 16:51] kbenne commented on #3645
@jmarrec I think I referenced the wrong object. It should be ZoneHVAC:TerminalUnit:VariableRefrigerantFlow which has added a supplemental coil option. I changed the title of this issue.

[2019-09-20 18:59] jasondegraw commented on #3684
@macumber The pugixml XML library that is in develop3 can handle UTF-16 and UTF-8, so there's always that. Or is develop3 dead?

[2019-09-20 20:25] macumber commented on #3684
Thanks Jason, the first item is just to verify that we have unit tests for both UTF 8 and 16.  The second issue is how we are passing the xml string to the embedded web viewer.

[2019-09-20 20:36] theo-armour commented on #3684
I note that OS > File menu > import > gbXML imports UTF 16 files as desired. I assume that the data is converted to UTF 8 somewhere. If so, can the same mechanism be used with the Viewer?

[2019-09-20 23:23] jasondegraw commented on #3684
At least a couple of the libraries out there can read UTF-8/16/x, but will default to output in UTF-8. I googled around a bit and it looks like QtXML does that too, so unless something else is specified, on output you get UTF-8. The original encoding isn't carried over even it all you've done is load the file and write it right it back out. I didn't dig in too deep, though, I might have missed som

[2019-09-20 23:40] theo-armour commented on #3685
@shorowit

Do you know  the location of any epJSON sample files? I am interested in building a viewer for epJSON files.

[2019-09-20 23:49] shorowit commented on #3685
@theo-armour I'm not aware of a repository of them, but you can take any IDF file (e.g., those in the E+ ExampleFiles dir) and run  `energyplus -c file.idf` to create the equivalent file.epJSON. Note that it will also try to run the simulation though, and there's no way to disable that. But you can simply cause the simulation to error out (e.g., invalid weather file) or reduce the run period to ge

[2019-09-21 21:17] theo-armour commented on #3684
Here is where I think OpenStudio loads the gbXML file:

https://github.com/NREL/OpenStudio/blob/21285b9a20fa3ce57b7dfecc28f3c20291c9d7bc/openstudiocore/src/openstudio_lib/GeometryEditorView.cpp#L593-L599

If `m_gbXML` can be coerced to always be UTF8 this could be good.

[2019-09-22 21:06] MatthewSteen commented on #3550
It doesn't appear that the unhandled exception happens if the app detects a change (indicated by an * after the file name, e.g. navigating to Site > Life Cycle Cost to) and is then re-run.

[2019-09-23 11:37] #3679 closed

[2019-09-23 17:49] JanghyunJK opened #3686 "Openstudio 2.8.1 crashing after clean install ("Measure Manager has crashed")"
- I have Windows 10
- with EnergyPlus 9.1
- was trying OpenStudio 2.8.1 (deleted all other versions after seeing this issue)

First time using 2.8.1 (previously using 2.4.1 mostly and 2.7.0 for shortly), and I'm getting this error below when I start OpenStudioApp.exe. And it keep pops up even if I click OK button. Tried uninstalling/reinstalling everything. Hope I could get some quick advice on fi

[2019-09-24 13:12] jmarrec commented on #3683
I suggest adding this to the Checklist:

**If New E+ release**:
* [ ] Bump E+ package in CMakeLists.txt
* [ ] Bump `ENERGYPLUS_VERSION` in `ForwardTranslator.hpp`
* [ ] Use the E+ transition utility (from official E+ package) to update the IDFs we store in our repo to the latest version (`./openstudiocore/src/energyplus/Resources/` and `./openstudiocore/resources/`)

[2019-09-24 13:19] jmarrec opened #3689 "Add AvailabilityManagerAssignmentList to ZoneHVAC components that include it"
`AvailabilityManagerAssignmentList` is wrapped, but currently only supported for loops (PlantLoop/AirLoopHVAC).

Many ZoneHVACComponents have the ability to be controlled via Availability Managers, eg `OS:ZoneHVAC:WaterToAirHeatPump` or `OS:ZoneHVAC:UnitHeater`

[2019-09-24 16:19] jmarrec commented on #3689
With https://github.com/NREL/OpenStudio/pull/3687 in:

[code]

[code]

FYI, this is the list in EnergyPlus:
[code]

[2019-09-24 18:51] tijcolem commented on #3686
I would try and remove all other previous OpenStudio installations via the Windows uninstall utility. It looks like it's a shared .dll that might be leftover from a previous install that is causing the issue. If the shared .dll are not being uninstalled, you may need to remove manually. but let's try simple uninstall first before attempting that.

[2019-09-24 19:19] JanghyunJK commented on #3686
@tijcolem

- uninstalled all openstudios via WIndows uninstall tool
- restart computer
- checked all openstudio folders are gone
- install OpenStudio 2.8.1
- restart computer
- start OpenStudioApp.exe

still having the same issue.

[2019-09-24 19:39] tijcolem commented on #3686
The issue might be the Measure Manager is loading an incompatible dll from the Ruby C:/Ruby22-x64 path.  You could do a simple test a temporary move or backup the: /Ruby22-x64 directory so that it doesn't load the .dll from that path. If that works, you may need to remove uninstall ruby and reinstall.

[2019-09-25 07:35] ZfedericoC commented on #3679
Defined 2 different construction, the first one for floor and the other for roof (internals)

[2019-09-25 13:05] jmarrec commented on #3682
The compatibility matrix is really explicit : https://github.com/NREL/OpenStudio/wiki/OpenStudio-Version-Compatibility-Matrix

We support Ruby 2.2.4. In pratice you can actually use any Ruby 2.2.x (I have tested with 2.2.7 and 2.2.10 personally). Ruby 2.3 isn't supported, period.

The warnings you are seeing are annoying but can be ignored.

Also, what you seem to be doing is loading the ruby bind

[2019-09-25 13:05] #3682 closed

[2019-09-25 13:29] jmarrec commented on #3680
Thanks for the report @MatthewSteen, fixed in #3690. You can just copy the modified hvac_library.osm if you need a quick fix.

[2019-09-25 13:37] #3656 closed

[2019-09-25 14:05] JanghyunJK commented on #3686
@tijcolem
you were right. moving ruby folder actually made OpenStudio to start properly. but I'm seeing another crash while going through this instruction (https://github.com/NREL/openstudio-standards/blob/master/docs/DeveloperInformation.md). below are steps that I took and checking OpenStudio startup after each step. I'm getting the crash after "gem install json". And error messages is also down

[2019-09-25 14:25] jmarrec commented on #3604
Fixed via https://github.com/NREL/OpenStudio/pull/3613

[2019-09-25 14:25] #3604 closed

[2019-09-25 14:55] #3617 closed

[2019-09-25 14:59] #3680 closed

[2019-09-25 17:01] jmarrec commented on #3524
@DavidGoldwasser Can you test that https://github.com/NREL/OpenStudio/pull/3534 fixed this? If so, please close.

[2019-09-25 17:02] tijcolem commented on #3686
Can you try installing `gem install json_pure` vs `gem install json`

[2019-09-25 20:32] #3553 closed

[2019-09-25 21:49] JanghyunJK commented on #3686
`gem install json_pure` worked. so far I'm not seeing a crash! thanks!

[2019-09-26 00:54] eshadd commented on #3682
I'm calling the CLI with my own version of [this ](https://github.com/UnmetHours/openstudio-scripts/tree/master/OpenStudio_CLI_Template ) CLI template. It runs workflows with the line `openstudio run -w workflow.json`. I assume this would also run the CLI's bundled ruby? Maybe Linux/Ubuntu LTS is handling which ruby is implemented differently than expected.

[2019-09-26 11:37] jmarrec commented on #3522
It's been there for ages, at least as far back as I can remember.

![image](https://user-images.githubusercontent.com/5479063/65685653-c3542800-e062-11e9-8370-85972620101e.png)

[2019-09-26 11:37] #3522 closed

[2019-09-26 13:56] jmarrec commented on #3442
The Constructor defaults to "Schedule", while E+ now defaults to this new "CorrelationFromWeatherFile". Should be modified, perhaps for OS 3.0. cf https://github.com/NREL/OpenStudio/issues/3551

[2019-09-26 13:57] jmarrec commented on #3551
https://github.com/NREL/OpenStudio/issues/3379
https://github.com/NREL/OpenStudio/issues/3411

[2019-09-26 17:12] tijcolem commented on #3686
closing this issue. will open issue with openstudio-standards to update docs to `gem install json_pure`

[2019-09-26 17:12] #3686 closed

[2019-09-26 20:05] mdahlhausen commented on #3441
Thanks @jmarrec !

[2019-09-27 09:10] jmarrec commented on #3332
Fixed on E+'s side via https://github.com/NREL/EnergyPlus/pull/7054.

@DavidGoldwasser If you run into this again, please reopen.

[2019-09-27 09:10] #3332 closed

[2019-09-27 09:13] jmarrec commented on #3304
I fixed this in https://github.com/jmarrec/OpenStudio/commit/cdeb12ba85211d8ca140db6885f3d660a9dcc0bd#diff-aa86a509b4a846eaea3cbd29f0eefc78R59

[2019-09-27 09:13] #3304 closed

[2019-09-27 09:17] jmarrec commented on #3302
Fixed via https://github.com/NREL/OpenStudio/commit/bf17b66549ddc5c7a5badb7f0a84d12b93b44e81 it will now use `Construction:AirBoundary`

[2019-09-27 09:17] #3302 closed

[2019-09-27 09:30] jmarrec commented on #3280
OS `  N2,  \field DOAS DX Cooling Coil Leaving Minimum Air Temperature` is called `Minimum Supply Air Temperature` in E+ now, and it's autosizable. And the maxium is raised.

A bunch other fields are renamed too, like `Supply Air Flow Rate Method During Cooling Operation` which is `Cooling Supply Air Flow Rate Method`

Some other fields have a typo in OS and not in E+, eg
OS:Ancilliary On-Cycle El

[2019-09-27 11:01] jmarrec commented on #2991
So I dug in, and it's quite interesting frankly.

Anyways, the core thing happens here: https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/ScheduleTypeRegistry.cpp#L502:L533

`    {"LoadProfilePlant","Load","loadSchedule",true,"",OptionalDouble(),OptionalDouble()},`

----

Test 1: No existing one, OK

[code]

There's no ScheduleTypeLimits, so it creates one like we expect:

[

[2019-09-27 20:39] joseph-robertson opened #3699 "Add schedule type limits when setSequentialXXFraction argument is a double"
On FT?
This would prevent warnings in the err file.

[2019-09-27 21:04] shorowit commented on #3699
I think this also applies to the AlwaysOffDiscrete, AlwaysOnDiscrete, and AlwaysOnContinuous schedules. Maybe others?

[2019-10-01 10:43] jmarrec opened #3700 "std::stod conversions are locale dependent (EpwFile)"
On a VM I have a locale with `LC_NUMERIC=fr_FR.UTF-8` (full locale below). This means the thousand separator is `.` and the decimal one is `,`, so basically the opposite of the US.

This test fails as a result
[code]

The assertion that fails is here:

https://github.com/jmarrec/OpenStudio/blob/0ff2827ee6664cca0b440afd1fa3ee87b1480e6c/openstudiocore/ruby/test/EpwFile_Test.rb#L51

the string `"39.7

[2019-10-01 12:16] jmarrec commented on #3699
A better alternative (IMHO) is to correctly define it in ScheduleRegistry.cpp in the Singleton by adding it to `scheduleTypes` and add a method `std::vector<ScheduleTypeKey> ZoneHVACEquipmentList_Impl::getScheduleTypeKeys(const Schedule& schedule) const` method.

That way the correct schedule type limits will be applied automatically on call to `setSequentialXXFractionSchedule` if the schedule pas

[2019-10-01 12:20] jmarrec opened #3701 "revamp EpwDataPoint to use double attributes when appropriate"
There's a lot of back and forth conversions unnecessarily happening because the attributes are std::string but it should be double.

eg

hpp
[code]

cpp
[code]
Relates #3700

[2019-10-01 18:15] mdahlhausen opened #3702 "AvailabilityManager:NightCycle applicability schedule fields"
This is a two part issue.

A major bug:
When translating from .osm to .idf, the applicability schedule field is blank

And a minor bug:
[The translator](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateAvailabilityManagerNightCycle.cpp#L68-L71) always assumes an always on discrete schedule regardless of  the user input in the OS App.

[2019-10-02 16:23] mdahlhausen opened #3706 "Add drain water heat exchanger methods to WaterUseConnections"
This is a feature request to add these methods to the WaterUseConnections object:

- setDrainWaterHeatExchangerType
- setDrainWaterHeatExchangerDestination
- setDrainWaterHeatExchangerUFactorTimesArea

[2019-10-02 16:54] tijcolem commented on #3347
closing as this has been addressed and will be released in 2.9.0

[2019-10-02 16:54] #3347 closed

[2019-10-02 17:00] tijcolem commented on #3632
Updated to official e+ #3705

[2019-10-02 17:00] #3632 closed

[2019-10-02 20:14] luisclv commented on #3702
May be related to #3568. In my case, if I set manually the schedule the translation is ok.

[2019-10-04 08:03] jmarrec opened #3707 "Hide fields in OpenStudioAppliction for AvailabilityManagerNightCycle"
These fields should be hidden in OS App:

![image](https://user-images.githubusercontent.com/5479063/66191253-34609480-e68e-11e9-9ae4-829f23eb4fb7.png)

Reported in https://unmethours.com/question/40532/why-does-the-availability-managers-night-cycle-cant-show-the-zone/

Address in conjunction with #3568 and #3702

[2019-10-04 08:19] jmarrec commented on #3699
cf #3703

[2019-10-08 09:45] jmarrec commented on #3702
I don't see how the pplicability schedule field can be blank since it's set to AlwaysOnDiscrete in the FT (the links you gave). Can you explain the "major bug" @mdahlhausen please?

----

Also, regarding comments in #3568:

I agree setApplicabilitySchedule could be implemented.

For setFanSchedule, this would be breaking API. This is perhaps confusing but here's what's happening:
* You define the

[2019-10-08 10:35] pachi commented on #3362
I've investigated this a bit more, and the problem lies in how the prebuilt Boost libraries are compiled.

The missing symbols come from the use of different ABIs in the OS code (compiled on the fly) and the prebuilt Boost library (with no c++11 ABI for the generic linux target (14.04 on the CMakefileList.txt) and with c++11 ABI for the Ubuntu 16.04 target). When using a later gcc version, new C++

[2019-10-08 11:10] jmarrec commented on #3362
@pachi what didn't work there?

(This is a separate issue than the GenerateIddFactory IMHO)

[2019-10-08 11:14] jmarrec commented on #688
Can you open a new issue instead @mdahlhausen please? (Reviving a 6 year-old issue that's somewhat related is probably not the best way to put this new issue on the roadmap)

I see there are new "Shading Control Type" values, but is that the only addition needed?

[2019-10-08 11:18] jmarrec opened #3710 "Add new Shading Control Type choices to ShadingControl"
ref @mdahlhausen 's comment https://github.com/NREL/OpenStudio/issues/688#issuecomment-533223908

From a cursory look, I think the only thing needed is to had the new control type values to OpenStudio.idd

[2019-10-08 13:27] jmarrec commented on #3616
@luisclv Are you sure you are using the exact same E+ build between the one OS used and your own local copy?

It does look very much like an E+ crash...

[2019-10-08 16:57] mdahlhausen commented on #3702
@jmarrec Thanks for looking into this more.  I can't explain the blank applicability schedule field.  It's come up in several user models, and I've been able to re-create it in models they've shared after deleting and reapplying the controls.

_**I can also replicate this in an empty model, adding an air loop, and adding night cycle on control.**_

[2019-10-08 16:58] mdahlhausen commented on #3710
@jmarrec yep, add shading control type choices to the idd

[2019-10-08 20:01] shorowit opened #3713 "OS 2.9.0 addViewFactor is very slow"
The `addViewFactor` method newly available in OS 2.9.0 gets exponentially slower as you add more view factors. It makes the new view factor object essentially unusable for us, as you almost always will need to create hundreds of view factors for any given model to take advantage of this object.

Here's some example code to reproduce:
[code]

And the output is:
[code]

[2019-10-08 21:54] kbenne commented on #3713
@lefticus can you point a profiler on this and let us know where the hotspots are?

[2019-10-08 22:04] kbenne commented on #3713
@jasondegraw I originally asked you to profile, but on second thought we assigned this to @joseph-robertson, but I encourage @joseph-robertson to reach out to you to get some profiler information if necessary.

[2019-10-08 22:10] #3568 closed

[2019-10-08 22:10] #3702 closed

[2019-10-08 22:10] #3707 closed

[2019-10-08 22:43] lefticus commented on #3713
Let me know what you need @joseph-robertson

[2019-10-08 23:38] jmarrec commented on #3702
@mdahlhausen which version of OS are you using? I did a test today in ruby with develop (plus extended the FT gtest later) and couldn't replicate. I want to make sure #3711 did fix it.

[2019-10-09 15:41] mdahlhausen commented on #3702
@jmarrec that was with v2.8.1

[2019-10-09 22:58] tijcolem opened #3718 "Add a c++ linter for code styling"
Evaluate c++ linter options and add to CI pipeline.  May add a separate CI pipeline vs the build/test pipe and run on every pr.

[2019-10-10 03:53] #3713 closed

[2019-10-10 06:16] jmarrec commented on #3718
Might want to add a static analyzer like cppcheck too.

[2019-10-10 06:41] jmarrec commented on #3702
@mdahlhausen I have just repeated the steps you gave me, I cannot reproduce it.

I've also tried the same via ruby.

[code]

[code]

[2019-10-10 15:19] eomere opened #3722 "Curve Biquadratic Object Not Honoring "Minimum Value of X" attribute in Curve Evaluation"
**Expected behavior:**

Create OS:Curve:Biquadratic object
Call curveObject.evaluate(4.6,4.6)
Expected Result of 0.9743

**Observed behavior**
Result = 0.805.
![Curve Object](https://user-images.githubusercontent.com/55591465/66581395-04156c00-eb4e-11e9-935f-03e7c5f3d3a5.PNG)

Possibly also an EnergyPlus bug

Here is an Excel Spreadsheet detailing the calculations
[Curve Object.xlsx](https://githu

[2019-10-11 21:49] eringold opened #3728 "Add new DOAS to AHU objects"
New Feature Request:
EnergyPlus v9.2 added a new feature to model DOAS supplying air to inlets of multiple AHUs:
https://github.com/NREL/EnergyPlus/pull/7230

New objects:
- AirLoopHVAC:DedicatedOutdoorAirSystem
- AirLoopHVAC:Mixer
- AirLoopHVAC:Splitter

It would be super to have these added at least to the SDK.

[2019-10-14 03:18] MingboPeng commented on #3604
Thanks everyone for making this work.
But just letting you know, in current 2.9.0 release, adding the VRF to a plantloop demand side crashes the APP right the way.
Please let me know if I am doing anything wrong.
Thanks.

[2019-10-14 05:38] jmarrec commented on #3604
@MingboPeng what plateform are you using? Windows?

Are you dragging from library or "my model". I basically am looking for minimal steps I can do to reproduce

[2019-10-14 08:08] jmarrec commented on #3604
It's a missing icon problem. I know I tested it, found the bug, and fixed it, but I think I did that on another PR, which didn't make it into develop...

[2019-10-14 08:12] jmarrec commented on #3604
Yeah I did it in https://github.com/NREL/OpenStudio/pull/3687.

This is the commit that actually fixes it: https://github.com/NREL/OpenStudio/pull/3687/commits/335ab90e3cca3d0939a68a5cd18a08851db6fbb5

[2019-10-14 15:42] MatthewSteen commented on #3728
@eringold beat me to it 👍

[2019-10-14 17:17] kbenne opened #3729 "Install C++ SDK"
The purpose of this task is to make the relationship between the OpenStudio and OpenStudioApplication projects as frictionless as possible. To accomplish this goal we want to develop a formal openstudio C++ SDK. Here are specific tasks:

1. Create a single openstudio.dll that has all of the C++ API, including OS Model and OS utilities to name a few. Refer to the none ruby objects linked into the o

[2019-10-14 22:25] mdahlhausen commented on #3702
@jmarrec It's fixed in 2.9.0.  I guess we can consider it resolved.

[2019-10-15 17:39] MatthewSteen opened #3730 "AvailabilityManagerNightCycle ApplicabilitySchedule field changes unexpectedly in app"
Same issue that fans had in #3124 and confirmed the behavior is in 2.9.0. Also appears to happen when creating a model with the API (e.g. Create Baseline Building measure) and then opening it in the app. Found by @tjcain91.

1. create a new air loop
2. change night cycle control to cycle on full system
3. note ApplicabilitySchedule is defaulted to Always On Discrete
4. add new schedule to model an

[2019-10-15 21:03] kbenne opened #3731 "Unit tests involving widgets fail ci on Mac"
Add a pattern to the test name that will enable filtering these tests out of ci.

[2019-10-15 21:15] tijcolem commented on #3607
closed via #3676

[2019-10-15 21:15] #3607 closed

[2019-10-15 22:17] #3731 closed

[2019-10-16 14:27] kbenne opened #3733 "fix failing unit tests related to ruby bundle"
CLITest-test_bundle-bundle
CLITest-test_bundle-bundle_git

[2019-10-16 14:34] #169 closed

[2019-10-16 14:35] #180 closed, assigned to macumber

[2019-10-16 14:36] #515 closed, assigned to kbenne

[2019-10-16 14:36] #929 closed, assigned to DavidGoldwasser

[2019-10-16 14:37] #932 closed

[2019-10-16 14:37] #1136 closed, assigned to DavidGoldwasser

[2019-10-16 14:38] #1737 closed

[2019-10-16 14:40] #1738 closed

[2019-10-16 14:43] #301 closed

[2019-10-16 14:44] #296 closed, assigned to macumber

[2019-10-16 14:44] #249 closed

[2019-10-16 14:46] #295 closed

[2019-10-16 14:47] #349 closed

[2019-10-16 14:50] #357 closed

[2019-10-16 15:01] #1966 closed

[2019-10-16 15:06] #160 closed

[2019-10-16 15:07] #164 closed

[2019-10-16 15:08] #186 closed

[2019-10-16 15:09] #192 closed

[2019-10-16 15:16] #282 closed

[2019-10-16 15:22] #628 closed, assigned to kbenne

[2019-10-16 15:24] #697 closed

[2019-10-16 15:25] #717 closed, assigned to kbenne

[2019-10-16 15:27] #1271 closed, assigned to macumber

[2019-10-16 15:28] kbenne commented on #1397
cli has made this obsolete.

[2019-10-16 15:28] #1397 closed

[2019-10-16 15:36] #1387 closed

[2019-10-16 15:46] elfring commented on #697
I suggest to reconsider the label “resolution - Won't Fix” because [some include guards were improved](https://github.com/NREL/OpenStudio/blob/e077c7edfa6c94bb37aeb0e31f40b69ed2740223/openstudiocore/src/openstudio_lib/OpenStudioAPI.hpp#L30 "API header file") in the meantime.

[2019-10-16 16:05] elfring opened #3734 "Improve exception safety with smart pointers"
Would you like to wrap any pointer data members with the class template “[std::unique_ptr](https://en.wikipedia.org/wiki/Smart_pointer#unique_ptr "Description for the usage of smart pointers")”?

Update candidates:
- [QwtAbstractScale](https://github.com/NREL/OpenStudio/blob/8c81faf8bc80b0e8f96a4b2764e5958cd060a625/openstudiocore/src/qwt/qwt_abstract_scale.cpp#L17)
- [VariableList](https://github.

[2019-10-16 16:56] kbenne opened #3735 "fix ruby openssl test on Mac"
embedded ruby does not support openssl on Mac at this time. Disable the test on Mac until openssl is supported.

[2019-10-16 22:57] #3710 closed

[2019-10-17 11:22] #1032 closed

[2019-10-17 11:29] jmarrec commented on #1019
@mostaphaRoudsari ping! Is this an important feature for you?

[2019-10-17 11:33] jmarrec commented on #1019
There seems to be a couple of mixups that could potentially be fixed easily.

Here, this should call `translateZoneList` instead:

https://github.com/NREL/OpenStudio/blob/b849d913172a961ce3cd8a1b5734e7cd1f44a8cf/openstudiocore/src/energyplus/ReverseTranslator.cpp#L1058:L1062

Here is should be ZoneList:

https://github.com/NREL/OpenStudio/blob/b849d913172a961ce3cd8a1b5734e7cd1f44a8cf/openstudiocor

[2019-10-17 11:37] jmarrec commented on #1385
@kbenne thoughts? I'm not sure I want that.

[2019-10-17 11:43] jmarrec commented on #1494
There's no problem, you're just not calling the right overload.

https://github.com/jmarrec/OpenStudio/blob/324e645751ebf769d75dbf74090bcb918652d810/openstudiocore/src/measure/OSRunner.hpp#L188:L190

[code]

instead you need to call one of these two (or the equivalent ones with an `int` instead of `double`

[code]

[2019-10-17 11:43] #1494 closed

[2019-10-17 12:05] mostaphaRoudsari commented on #1019
@jmarrec, thanks. we don't really use it for out workflows currently but if this import will do something like importing the ZoneList as a space type it will useful. From what I understand it is not critical to us right now.

@chriswmackey, any thoughts on this?

[2019-10-17 13:38] jmarrec commented on #1019
I can do the changes I listed. Note that this is coarse though, it will create a space type for each zonelist it finds, but if a zone is referenced by multiple zonelists, its spaces will end up with a spacetype correaponding to the last zonelist it found that references it. You'll get a warning that the previous spacetype was overwritten though

[2019-10-17 17:09] lefticus commented on #3733
@kbenne Yeah, I was just waking up from my funk of a cold and was coming to the same conclusions that it was just a misconfiguration for the missing bundle gem.

I have two thoughts:

 1. This comment makes me wonder if the test is truly valid, or if some associated task needs to be created https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/cli/test/test_bundle.rb#L4-L6
 2. Should

[2019-10-17 18:17] chriswmackey commented on #1019
I agree this is a very low priority for us and I have yet to encounter IDFs in my own work that make use of the ZoneList. Still, it seems like it's something important to support in order to say that OpenStudio supports the importing of basic Zone geometry from IDF. Whatever implementation you end up going with is fine by me, whether its importing each ZoneList as a SpaceType or just ignoring the

[2019-10-17 21:24] #3735 closed

[2019-10-18 15:17] mdahlhausen commented on #3702
[Some users are seeing this in OS v2.9.0](https://unmethours.com/question/38974/night-cycle-error-in-openstudio/).  Issue #3730 is either the same or a similar issue.

[2019-10-18 15:48] luisclv commented on #3702
@mdahlhausen Issue #3730 is exactly what happens to me when I use the `Create Baseline Building` measure. I did not file it cause after reading this thread, I noticed that as you mention, the translation always [sets the Schedule ](https://github.com/NREL/OpenStudio/blob/b865c8d760527a29be72b08af016c33b6b87bab9/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateAvailabilityManagerNigh

[2019-10-18 17:04] shorowit opened #3737 "Workspace performance"
Follow up to https://github.com/NREL/OpenStudio/issues/3713. Some work was done in the View Factor classes to significantly improve performance, however performance can still be concerning if there are a lot of view factors to create.

This issue is to further address performance of the underlying Workspace class. This would presumably benefit all models, not just those with lots of view factors.

[2019-10-18 20:30] #2796 closed

[2019-10-20 16:02] MatthewSteen opened #3740 "add keyboard shortcuts for Save As and Revert to Saved"
Suggest the following...

* Save As = `CTRL+SHIFT+S`
* Revert to Saved = `CTRL+R`

[2019-10-21 14:41] #2991 closed

[2019-10-21 14:41] #3413 closed

[2019-10-21 14:41] #3618 closed

[2019-10-21 14:41] #3669 closed

[2019-10-21 14:41] #3441 closed

[2019-10-21 20:13] jmarrec commented on #3730
This is fixed by #3711 which is in develop but NOT in 2.9.0

[2019-10-21 20:17] jmarrec commented on #3730
I'm leaving it open until I show behavior with current develop

[2019-10-21 20:24] jmarrec opened #3742 "Wrong FT enum value for Table:MultiVariableLookup (map to Table:Lookup)"
https://github.com/NREL/OpenStudio/blob/a69ba2c6db3ec89bf4ec17776f8581617fe74823/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateTableMultiVariableLookup.cpp#L156

From E+ idd:

[code]

E+ fatals out during InputProcessor
[code]

[2019-10-21 21:07] jmarrec commented on #3742
If you need a quick workaround in the meantime, write an **EnergyPlus** measure, with the following:

[code]

[2019-10-21 21:11] jmarrec commented on #3733
https://github.com/NREL/OpenStudio/blob/a69ba2c6db3ec89bf4ec17776f8581617fe74823/openstudiocore/src/cli/openstudio_cli.rb#L687

[2019-10-21 21:15] jmarrec commented on #3683
@tijcolem Should probably be closed once last item is resolved, and the new items added to https://github.com/NREL/OpenStudio/issues/3526 instead

[2019-10-22 09:25] jmarrec commented on #3730
Did the steps you mentioned, no problem. Note the difference in which fields are actually shown in current develop compared to your screenshot above in 2.9.0:

![image](https://user-images.githubusercontent.com/5479063/67273339-868f1b80-f4be-11e9-8ad6-4f22c0142fe4.png)

[2019-10-22 09:25] #3730 closed

[2019-10-22 23:47] danjoh99 opened #3743 "OS App refresh bug in Constructions tab?"
OS App. When I drag a Material into a Construction, the screen does not refresh, and the material does not appear. However, the material is "there," because if I force the screen to refresh by changing to a different Construction, and then changing back again, the Material that I just added is visible.
Next, if I add a Material (it does not appear), then I add a second Material, the first Material

[2019-10-23 02:39] #3279 closed

[2019-10-23 15:58] tijcolem commented on #3728
@joseph-robertson could you please size up the effort on this?  Since it would be IDD change we'd need to tag to the 3.0 milestone release.

[2019-10-23 20:33] tijcolem opened #3744 "Add gems to CLI"
One of our collaborators (NIST) wants to be able to use a specific ruby gem (https://rubygems.org/gems/protobuf/versions/3.10.2) inside the OS CLI.

[2019-10-28 20:22] shorowit opened #3745 "Incorrect ReverseTranslator error: "ActuatedComponentUniqueName is not unique""
Importing this EnergyPlus IDF into SketchUp gives the following errors. As far as I can tell, the errors are incorrect as there are only two Actuators, one named "water_heater_ec_adj_act" and one named "water_heater_1_ec_adj_act". The EnergyPlus file runs correctly and appears to give appropriate results.

[in.idf.txt](https://github.com/NREL/OpenStudio/files/3780498/in.idf.txt)

@brianlball

[cod

[2019-10-29 04:08] kbenne opened #3746 "json is broken in develop3"
Error: source sequence "{\"foo\":\"bar\"}" is illegal/malformed utf-8 in :/ruby/2.5.0/gems/json_pure-2.2.0/lib/json/pure/generator.rb:243:in `generate'
:/ruby/2.5.0/gems/json_pure-2.2.0/lib/json/common.rb:255:in `fast_generate'

[2019-10-30 14:33] lefticus commented on #3729
Current status for building DLL:

# Naive Approach "just link all '.a''s into a '.dll'

 * Doesn't work because the linker will automatically strip all unused symbols, leaving an empty '.dll'.

Why does this work for the ruby dll?

 * Because the openstudio_ruby library has "init_openstudio" which calls all of the ruby init functions which in turn reference all of the functions in OpenStudio

# Ha

[2019-10-30 15:43] chrisbalbach opened #3748 "EnergyPlus object "TableMultivariableLookup" deprecated in EnergyPlus v9.2.0, but not in OpenStudio v2.9.0"
OpenStudio v2.9.0 API documents the "TableMultivariableLookup" object as still available in OS v2.9.0. It appears the forward translator (osm to idf) method does not produce idf files compatible with EnergyPlus v9.2.0, which must translate this object to the more generalized and new EnergyPlus supported object "TableLookup".

Related to this [EnergyPlus issue](https://github.com/NREL/EnergyPlus/is

[2019-10-30 22:52] lefticus commented on #3729
Upon further review and experimentation, "Hack Option 1" has been chosen. It can be implemented cleanly and in only one location.

[2019-10-31 18:22] shorowit commented on #3737
Fixed by https://github.com/NREL/OpenStudio/pull/3749

[2019-10-31 18:22] #3737 closed

[2019-10-31 19:35] #3746 closed

[2019-10-31 21:28] kbenne commented on #3044
ping @kbenne

[2019-11-01 15:48] tijcolem commented on #3514
Unit tests for develop are now down to just 2 reoccurring issues for Windows. Once these are addressed we'll have 100% passing on develop.  Will copy changes from develop to develop3 (in particular changes made for BCL tests to work)

	2378 - EnergyPlusFixture.ErrorFile_WarningsAndSevere (Failed)
	2379 - EnergyPlusFixture.ErrorFile_WarningsAndCrash (Failed)

[2019-11-01 16:16] tijcolem commented on #3742
might be related #3748

[2019-11-02 15:18] lefticus commented on #3729
I have it working with OBJECT libraries (not committed), but it's still not perfect

Cons:

 * It doesn't track the openstudio_utilities object files as transitive dependencies from openstudio_model through openstudio_gbxml, for example, so dependencies must be manually tracked
 * Build folder seems to be considerably larger

Pros:

 * The process uncovered several little bugs in the handling of l

[2019-11-04 22:25] DavidGoldwasser commented on #2384
@kbenne Any objections to only using one approach for ideal air loads?

[2019-11-05 05:35] lefticus commented on #3729
First attempt of an external project linking to OpenStudioLib is here: https://github.com/lefticus/OpenStudioLibTest

And first major problem hit: Boost is part of the public interface of OpenStudio. So to use OpenStudio we need to ship some portion of Boost that represents the specific version that we built/linked against, to make sure we have the same ABI/API provided to the consumer of the libr

[2019-11-05 16:19] MatthewSteen commented on #2940
In addition to the scientific libraries, here's one for psychrometrics...

https://github.com/psychrometrics/psychrolib

[2019-11-05 16:50] eringold opened #3753 "Missing inputs to make CoilCooling:DX:TwoStageWithHumidityControlMode work for humidity control"
(kind of a feature request)

When a CoilCooling:DX;TwoStageWithHumidityControlMode object is translated, a CoilSystem:Cooling:DX object is [created](https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateCoilCoolingDXTwoStageWithHumidityControlMode.cpp#L170), with limited inputs:

[code]

CoilSystem:Cooling:DX objects are not exposed in the

[2019-11-05 17:15] jmarrec commented on #3748
This is the same issue as the #3742 one. Basically it was decided that OS would keep its existing API and handle writing the new TableLookup objects during FT. The problem is that one enum value appears wrong which was E+ fatal out as reported in #3742.

Closing this one in favor of #3742, feel free to reopen @chrisbalbach if I have missed part of your question there.

[2019-11-05 17:15] #3748 closed

[2019-11-05 17:41] lefticus commented on #3729
Linking to OpenStudioLib from external project working: https://github.com/lefticus/OpenStudioLibTest/commit/5bfc68132e32cfe3639cc18aab2cd1b8009a76e4

Notes:

 * requires that we have and link to our own Boost (need the headers)
 * This is tricky because it needs to be the same version that was linked into the .so

[2019-11-05 18:59] pflaumingo opened #3755 "getUniqueModelObjects is very slow for large models"
I was seeing some performance issues in a call to the openstudio-standards with the thermal_zone_get_occupancy_schedule and when looking at it further and profiling it, it seems that calls to getUniqueModelObject are very expensive. In my case it is the YearDescription object with as shown in the image below, but it's looking like OS doesn't keep a reference to these Singleton objects but rather r

[2019-11-06 14:38] #3742 closed

[2019-11-06 14:44] jmarrec commented on #3722
It's true, the calculation routine for this curve doesn't take the min/max output values.
It also doesn't check that the independent variable values are within bounds.

https://github.com/NREL/OpenStudio/blob/c7c81e794a834f435ed2717f51cedf477c389032/openstudiocore/src/model/CurveBiquadratic.cpp#L87:L96

Note that this is purely a convenience function, which isn't used by E+ at all.

[2019-11-06 15:01] jmarrec commented on #3745
@shorowit That's not what the error is saying. It's saying that there are more than one object named like the EMS:Actuator's [Actuated Component Unique Name](https://bigladdersoftware.com/epx/docs/9-2/input-output-reference/group-energy-management-system-ems.html#field-actuated-component-unique-name) field.

https://github.com/NREL/OpenStudio/blob/324e645751ebf769d75dbf74090bcb918652d810/openstudi

[2019-11-06 15:05] jmarrec commented on #3745
Here are the changes you need to do in your file to make it work:

![image](https://user-images.githubusercontent.com/5479063/68309784-3cf22380-00af-11ea-80eb-095940a49593.png)

[2019-11-06 15:05] shorowit commented on #3745
I see. In reality, only certain objects can be actuated, which is why EnergyPlus is fine with it and knows to actuate the `OtherEquipment` object. But OpenStudio isn't so fancy. Thanks, I can at least update our IDFs to make it work.

[2019-11-06 15:11] jmarrec commented on #3745
I guess we could filter this specific case out, but I doubt it's really worth the added complexity (and potential time too):

[code]

[2019-11-06 15:14] shorowit commented on #3745
Agreed, I'm ok with not fixing it. It's probably a rare edge case.

[2019-11-06 15:14] #3745 closed

[2019-11-06 17:08] bonnema opened #3756 "Python EMS"
Support Python EMS
 - Wrap new IDD objects
 - Attach python code to OSM, possible pattern is Schedule:File

Target completion date to coincide March release of EnergyPlus

[2019-11-07 01:18] macumber commented on #3755
FYI, there are versions of these getters that do caching: https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/Model.cpp#L316

[2019-11-07 01:51] pflaumingo commented on #3755
Ahh right, so it's the ScheduleRule startDate implementation that's the issue?
https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/model/ScheduleRule.cpp#L226

[2019-11-07 02:35] macumber commented on #3755
Well you can call either `model.getYearDescription` or `model.yearDescription`.  The second one is much faster, I'm not sure which one the standards is using.

`ScheduleRule_Impl::startDate` (and other C++ code) should do something like:

[code]

[2019-11-07 03:24] pflaumingo commented on #3755
Well the Standards calls getDaySchedules on a ScheduleRuleset, which through a few other calls makes a call to ScheduleRule.startDate. So the implementation that is fetching the YearDescription is in the OS API rather than ruby written in the Standards. Is it possible for a model to not have these singleton objects? If I new up an empty OpenStudio model it has the YearDescription object initialize

[2019-11-07 19:18] lefticus commented on #3729
To do:

- [ ] Test installed library
- [ ] Test in situ linking of library from a different project
- [ ] Windows/MSVC
   - [ ] Debug
   - [ ] Release
   - [ ] Packaging
- [ ] Linux/GCC
   - [ ] Debug
   - [ ] Release
   - [ ] Packaging
- [ ] MacOS
   - [ ] Debug
   - [ ] Release
   - [ ] Packaging

[2019-11-08 16:39] jmarrec opened #3758 "Stop publicly exposing ThermalZone::addEquipment"
It's creating a lot of confusion. I would perhaps leave it public in the C++ code so we don't have to friend too much, but do not SWIG it.

Consider for 3.0

[2019-11-09 14:20] lefticus commented on #3729
This branch now lives in a world where everything is perfectly parallelizable up until the few executables and DLL's need to be linked.

[2019-11-12 19:00] JasonGlazer opened #3760 "Can't find ASHRAE climate zone in stat file even when present"
When running a series of measures: ChangeBuildingLocation, CreateBarFromBuildingTypeRatios, CreateTypicalBuildingFromModel and setting the weather file in ChangeBuildingLocation to:

CAN_QC_Montreal-McTavish.716120_CWEC2016.epw

Even though the stat file does have the line:

 - Climate Zone "6A" (ASHRAE Standards 169-2013 and 90.1-2016)

OpenStudio still says:

I tried some other Montreal files an

[2019-11-14 00:18] jmaguire1 opened #3761 "IntegratedCollectorStorage object being incorrectly added to the PlantEquipmentList"
When trying to add an integrated collector storage solar collector, the plant equipment list is being generated with the collector, but it doesn't seem to be pulling in the equipment name correctly. Flat plate collectors seem to be working fine, this issue is specific to ICS collectors. Attached is an OSM created by our measures with the ICS that doesn't run in EnergyPlus; manually adding the coll

[2019-11-14 00:21] shorowit commented on #3761
@joseph-robertson @jmarrec

[2019-11-14 10:00] jmarrec commented on #3761
This is an IDD problem. I'm surprised that the FlatPlate is working.

To be able to place something on a PlantEquipmentList, that something has to be marked with `\reference validPlantEquipmentNames` (and Types). I had ran into a similar issue with ThermalStorage:Ice:Detailed a while ago:

[code]

I'll extend the test on OpenStudio-resources, I realized the `SolarCollectorntegralCollectorStorage`

[2019-11-14 10:48] jmarrec commented on #2880
ping @kbenne , this one came up again via #3761

[2019-11-14 15:50] MatthewSteen commented on #3761
@jmarrec I don't believe OS allows a WaterHeater to be on the supply side of two plant loops (same for HeatExchangerFluidToFluid), so that's something that will need to be fixed and will also be helpful for heat recovery chillers.

[2019-11-14 16:42] #3761 closed

[2019-11-14 21:40] jmarrec commented on #3761
@MatthewSteen Top of my head, I would say that E+ disallows a HX:FluidToFluid on two supply side, but I could be wrong there. I seem to recall having to model (in pure E+) this and not managing to do it with a HX and resorting to using a WaterHeaterMixed instead.

I don't think I ever tried to put a ChillerElectricEIR on two supply side... Are you talking about the Heat Recovery Inlet.Outlet Node

[2019-11-15 12:39] jmarrec commented on #3760
I can't find Mctavish online...

Can you paste EXACTLY the line from the stat file in a code block please? eg:

[code]

The relevant code block from ChangeBuildingLocation measure is this:
[code]

I tried with `CAN_PQ_Montreal.Intl.AP.716270_CWEC.stat` and it correctly found "6A".

[code]
=> "Found Climate zone 6A"

[2019-11-15 12:43] jmarrec commented on #3760
Actually I did find the McTavish on climate.onebuilding.org: http://climate.onebuilding.org/WMO_Region_4_North_and_Central_America/CAN_Canada/QC_Quebec/CAN_QC_Montreal-McTavish.716120_CWEC2016.zip

It doesn't have the same format at the other files (eg IWEC).

McTavish CWEC
[code]
IWEC
[code]

If you look at the regex in ChangeBuildingLocation, it should be `Climate type ` exactly, and end up with

[2019-11-15 13:23] jmarrec commented on #3760
I think it's going to be much easier to modify the ChangeBuildingLocation Measure instead of fixing the EPW files :)

So I'm going to close up this one and move it to https://github.com/NREL/OpenStudio-measures/issues/288

[2019-11-15 13:28] JasonGlazer commented on #3760
@jmarrec I don't have access to that repo so please let me know if it gets fixed.

[2019-11-15 13:35] jmarrec commented on #3760
@JasonGlazer I'm making the fix and opening a PR.

In the meantime if you need to move fast, do the change manually to ChangeBuildingLocation/measure.rb by modifying the regex to be `regex = /Climate (?>type|zone) \"(.*?)\" \(ASHRAE Standards? (.*)\)\*?\*?/i`

[2019-11-15 13:58] jmarrec commented on #3760
I'm reopening for clarity, will close this one as I close https://github.com/NREL/OpenStudio-measures/issues/288

[2019-11-15 16:15] tijcolem commented on #3744
- [ ] Create a ruby gem matrix showing what can be supported
- [ ] Create a ruby gem matrix showing what is currently supported and shipped with CLI

[2019-11-15 18:20] #3683 closed

[2019-11-18 11:03] jmarrec commented on #3755
@pflaumingo None of the singleton objects, aside from `Version` are initialized if you create an empty model in the bindings. Most of them are in the OS app though, `openstudio_lib/OSDocument.cpp` ([here](https://github.com/NREL/OpenStudio/blob/52c211fd8bd9384b6490ba09b80a9d1b5b25cbcb/openstudiocore/src/openstudio_lib/OSDocument.cpp#L266:L269))calls the FileOperations.cpp's private method `model::

[2019-11-18 16:46] #3760 closed

[2019-11-18 19:14] eringold opened #3767 "App crashes when trying to display an airloop with Coil:Heating:Desuperheater"
In version 2.9.0, I used the Ruby bindings to add a Coil:HeatingDesuperheater to an existing AirLoopHVAC (using `coil.addToNode`). When I open the model in the app and navigate to the loop in the HVAC Systems tab, the app will close.

I suspect this is because there is no icon to display for that coil type?

[2019-11-19 10:22] jmarrec commented on #3767
I suspect you suspect right.

[2019-11-19 17:53] shorowit opened #3770 "Order of Output:Meter:MeterFileOnly objects in IDF are not deterministic"
Similar issue to https://github.com/NREL/OpenStudio/issues/3669, but occurs for `Output:Meter:MeterFileOnly` objects in the IDF when using `OpenStudio::Model::OutputMeter`.

@jmarrec

[2019-11-20 10:10] jmarrec commented on #3770
It took me a while to see what was going on but I think I got it now.

**I got thrown off by the fact that the ModelObject OutputMeter actually has a name field.**

[code]

**Now convert that to a WorkspaceObject and hop! no name:**

[code]

## Why?

Looking at the OpenStudio.idd, this is because the "Name" field isn't marked as `\type alpha` but as `\type external-list`

[code]

It is therefore n

[2019-11-20 14:23] jmarrec commented on #3083
Reproduced in 2.9.0 official.

[2019-11-20 14:32] jmarrec commented on #3083
AirLoopHVAC::setTHermalZone disallows zone that have the setUseIdealAirLoads(true).

https://github.com/NREL/OpenStudio/blob/52c211fd8bd9384b6490ba09b80a9d1b5b25cbcb/openstudiocore/src/model/AirLoopHVACReturnPlenum.cpp#L109

[2019-11-20 22:07] #3083 closed

[2019-11-21 16:25] jmarrec commented on #864
I think https://github.com/NREL/OpenStudio-workflow-gem/pull/92 will fix this.

[2019-11-21 18:54] mdahlhausen opened #3778 "Unit Ventilator - Variable default schedules cause error in E+ translator"
In the OpenStudio App, there is an option to add a 'Unit Ventilator - Variable - Heating' to a thermal zone.  When the object is created, it defaults to using the 'Always Off Discrete hvac_library' schedule for the `Availability Schedule` and `Maximum Outdoor Air Fraction or Temperature Schedule Name` fields.  However, during E+ translation, these fields remain empty, causing the translator to fai

[2019-11-21 20:26] #3280 closed

[2019-11-22 09:38] jmarrec commented on #3778
This is an `hvac_library.osm` issue. These schedules are required yet they aren't set in the hvac_library.osm

[code]

[2019-11-22 14:50] #3778 closed

[2019-11-22 16:41] jmarrec commented on #1454
I opened as PR to fix this at https://github.com/NREL/OpenStudioApplication/pull/47

[2019-11-22 18:35] #3645 closed

[2019-11-25 08:38] jmarrec commented on #3442
Closed via https://github.com/NREL/OpenStudio/pull/3752/commits/c8bffcb867eaa3807a9d5266793ffd37aef86a7d

[2019-11-25 08:38] #3442 closed

[2019-11-25 08:40] jmarrec commented on #3411
FIxed in develop3 via https://github.com/NREL/OpenStudio/pull/3752/commits/cc981cc9b0330000b31a325c282fe3ee6a4345cb (and others)

[2019-11-25 08:40] #3411 closed

[2019-11-25 08:43] jmarrec commented on #1741
Fixed in develop3 via #3777

[2019-11-25 08:44] jmarrec commented on #1531
Fixed in develop3 via #3777

[2019-11-25 08:44] #1531 closed

[2019-11-25 08:44] #1741 closed

[2019-11-25 08:45] jmarrec commented on #1019
Fixed via #3776 in develop3

[2019-11-25 08:45] #1019 closed

[2019-11-25 08:56] jmarrec commented on #3755
Fixed in develop3 via #3779

[2019-11-25 08:56] #3755 closed

[2019-11-25 09:14] jmarrec commented on #3770
https://github.com/NREL/OpenStudio/pull/3774

[2019-11-25 09:23] jmarrec commented on #3699
Fixed via #3703 (merged in #3741)

[2019-11-25 09:23] #3699 closed

[2019-11-25 14:07] jmarrec commented on #3563
Tested in 2.9.0 by creating a "default" ReportingMeasure and adding just one line
[code]

[code]

This works fine, as I expected by looking at the OpenStudio-workflow-gem, it seems that run_initialization.rb should do the right thing.

Could you please try again in 2.9.0 @pflaumingo?
Also, can you make sure that your path to the seed file is right and you aren't hitting this line?

https://github.

[2019-11-25 15:09] jmarrec commented on #3524
@DavidGoldwasser I'm closing. Please reopen if you eventually bump into it again, but I think #3534 fixed it, at least with the testing I've done.

[2019-11-25 15:09] #3524 closed

[2019-11-25 15:14] jmarrec commented on #2908
This works as expected. A lot of objects aren't automatically translated, their translation is called from whatever parent object uses them.

All objects that **aren't** in `ForwardTranslator::iddObjectsToTranslateInitializer()` are not always translated unless they are actually used by something else. cf https://github.com/NREL/OpenStudio/blob/a1449287fe7855d289d7dc80eb5aa474ef9de9f6/openstudioco

[2019-11-25 15:14] #2908 closed

[2019-11-25 15:21] jmarrec commented on #2870
can't reproduce with current develop3

[2019-11-25 15:21] #2870 closed

[2019-11-25 15:50] tijcolem commented on #3633
Autodesk is using the Openstudio SDK (Core) which will be supported and you can expect continuity of the SDK. OpenStudio Application will also be supported but it will be distributed as a separate application. This will take effect in April, 2020.  So both applications will be supported but on different release schedules and distribution channels.

We recently released a pre-release of this SDK an

[2019-11-25 15:50] #3633 closed

[2019-11-25 15:52] DavidGoldwasser commented on #3563
A number of users have wanted to access the model in the arguments section of the reporting measures. That does appear to be a gap in functionality as neither the model, IDF, or runner are available in arguments method of reporting measure.

[2019-11-25 17:12] jmarrec commented on #2791
@DavidGoldwasser Do you have code to reproduce this please? I've seen a couple of issues related to this where the wrong overloaded method was used in a measure, so I'd like to see if it's really an OpenStudio issue or not.

[2019-11-25 17:13] jmarrec commented on #2804
Closing as outdated, since PAT will be built as a separate installer from now on.

[2019-11-25 17:13] #2804 closed

[2019-11-25 17:17] jmarrec commented on #2739
Still true in 2.9.0 (and current develop)

[2019-11-25 17:25] tanushree04 opened #3783 "Support Holidays in OpenStudio SDK"
- Add method to `setApplyHoliday` for [ScheduleRule](https://openstudio-sdk-documentation.s3.amazonaws.com/cpp/OpenStudio-2.9.0-doc/model/html/classopenstudio_1_1model_1_1_schedule_rule.html) and add its forward translation to IDF.
- Implement method to add start date, duration and `setSpecialDayType` for Holiday in the [RunPeriodControlSpecialDays](https://openstudio-sdk-documentation.s3.amazonaw

[2019-11-25 17:29] DavidGoldwasser commented on #2791
@jmarrec I don't have anything to reproduce this and have not seen it in a while. I'm fine closing it and can re-open if I see it again.

[2019-11-25 17:49] tanushree04 opened #3784 "Add methods to edit SummaryReports in OpenStudio SDK"
Add methods to select [summary reports](https://bigladdersoftware.com/epx/docs/8-8/input-output-reference/output-table-summaryreports.html#inputs-064) to call specific report types for output reporting.

[2019-11-25 18:05] jmarrec commented on #2692
Closing this one. If still relevant, should be reopened in standards or workflow gem with steps to reproduce.

[2019-11-25 18:05] #2692 closed

[2019-11-25 18:19] chriswmackey opened #3785 "Expose the ZoneVentilation:WindandStackOpenArea in the Model SDK"
This is a feature request that I realize should have a lower priority over other critical issues on this github but I wanted to add it here because I know that the few thousand people making use of OpenStudio workflows in [Ladybug Tools](https://www.ladybug.tools/) will get a lot of mileage out of it.  Also, this feature should be comparatively faster to implement than most others since it only re

[2019-11-25 19:14] chriswmackey opened #3786 "Allow SDK users to not write out SQLite and/or HTML reports if they don't want to"
Right now, there doesn't seem to be any method exposed in the SDK that lets people opt out of writing the SQLite and/or HTML outputs from the EnergyPlus simulation.  From the perspective of the OpenStudio GUI, I understand why this option is not something that would get used often.  However, as someone developing other applications using OpenStduio SDK, it would be very helpful to opt out of these

[2019-11-25 19:37] #2791 closed

[2019-11-25 20:03] jmarrec commented on #3786
This is all done internally by `ForwardTranslator::createStandardOutputRequests()`: https://github.com/NREL/OpenStudio/blob/develop3/src/energyplus/ForwardTranslator.cpp#L4465:L4509

This can't be toggled off altogether, much less granularly (turn off only HTML or SQLite)

It's a quick and easy fix so I'll just do it.

[2019-11-25 20:30] chriswmackey commented on #3786
Thank you, @jmarrec  . I figured the ForwardTranslator was the right place for this. Am I understanding correctly that you would expose this as an option on the [ForwardTranslator](https://openstudio-sdk-documentation.s3.amazonaws.com/cpp/OpenStudio-2.9.0-doc/energyplus/html/classopenstudio_1_1energyplus_1_1_forward_translator.html) similar to how the `setExcludeLCCObjects` works?  If so, that wou

[2019-11-25 20:39] jmarrec commented on #3786
@chriswmackey Yes that's exactly what I did, see #3787

[2019-11-25 20:48] chriswmackey commented on #3786
Excellent! 🎉

[2019-11-25 20:51] jmarrec commented on #3784
Note that by default we include the `AllSummary` which should enable all of them (if it doesn't, that's an EnergyPlus issue). There's no option to limit outputs to specific reports though.

[2019-11-25 21:09] #344 closed

[2019-11-25 21:10] jmarrec commented on #344
Fixed via #3776 in develop3

[2019-11-26 15:02] tijcolem opened #3789 "OpenStudio 2.9.1 Checklist"
- [x] Release standards gem (if needed), Andrew
- [x] Release workflow gem (if needed), Ry
- [x] Release extension gem (if needed), (TBD)
- [x] Release measure tester gem (if needed), Nick
- [x] Double check gem files for correct versions of standards and workflow gems (use released versions only), Tim
- [x] Build openstudio-gems tar.gz for develop and develop3 and upload to s3., Tim

**If New E+

[2019-11-26 19:25] mdahlhausen opened #3790 "OpenStudio CLI measure update xml error"
When I try to use the openstudio measure -u command, I get the following error:

[code]

The measure is of class `OpenStudio::Measure::ModelMeasure`, which isn't recognized.  I've encountered this many times since the v2.9.0 release.  @DavidGoldwasser have you encountered it too?

[2019-11-26 21:06] DavidGoldwasser opened #3791 "uninitialized constant OpenStudio::PathWatcher"
The test below runs successfully in 2.9, but not in 3.0. In both cases I'm running the script by calling `openstudio PathWatcher_Test.rb` and using the ruby that comes with the CLI.

https://github.com/NREL/OpenStudio/blob/develop3/ruby/test/PathWatcher_Test.rb#L34

Here is the log from OpenStudio-3.0.0-rc1
[code]
Here is the successful run from 2.9
[code]
I didn't identify this through the test,

[2019-11-26 21:09] DavidGoldwasser commented on #3791
Here is console log from SketchUp. I manually made some model objects after making a new model to confirm openstudio loaded correctly, then tried to use PathWatcher

[code]

[2019-11-26 21:19] DavidGoldwasser commented on #3790
I have not seen that specific error before but I have seen other xml update failures. My not very elegant solution has been to make a new clean measure. Take the UUID from your measure and past it in the new XML. Then copy all of the XML code from the new measure into your measure. Throw away the new measure you made, and try to update the measure.xml again.

@mdahlhausen have you just seen this i

[2019-11-26 21:58] mdahlhausen commented on #3790
@mdahlhausen I've seen it in many measures in many repos with the newer release.

[2019-11-27 07:14] jmarrec commented on #3791
@DavidGoldwasser is that with Openstudio installer or with OpenStudioApplication installer?

[2019-11-27 16:52] DavidGoldwasser commented on #3791
@jmarrec I was able to reproduce the error with the CLI in both installers.

[2019-12-02 08:21] jmarrec commented on #3791
I see the problem. `model_editor` was moved to the OpenStudioApplication project, and it's probably not linking correctly to the openstudio.so (generated from this `OpenStudio` project) so it's not available...

[2019-12-02 08:22] jmarrec commented on #3785
cf https://github.com/NREL/OpenStudio/pull/3788

[2019-12-02 09:14] jmarrec commented on #3791
Seems like @macumber has been working on it https://github.com/NREL/OpenStudioApplication/pull/50

[2019-12-02 10:24] jmarrec opened #3792 "OS App doesn't display Autocalculatable fields correctly"
See the difference between Autosizable and Autocalculatable, for eg in `AirTerminal:SingleDuct:ConstantVolume:CooledBeam`:

**Autosizable**: displays a radio button

![image](https://user-images.githubusercontent.com/5479063/69950472-a8cf7c80-14f3-11ea-980a-1e9ed30286d2.png)

**Autocalculatable:** displayed as string

![image](https://user-images.githubusercontent.com/5479063/69950500-b1c04e00-14f

[2019-12-02 10:25] jmarrec commented on #3792
Will address on OS App repo: https://github.com/NREL/OpenStudioApplication/issues/52

[2019-12-02 11:02] jmarrec opened #3793 "Bug of ITE object supply/approach temperature difference schedule"
There's a typo in the ScheduleTypeRegistry for these schedules

[2019-12-02 11:23] jmarrec commented on #3153
Shorter example:

[code]

[2019-12-02 12:04] jmarrec commented on #3153
* https://github.com/NREL/OpenStudio/commit/aad243b46aab465671c43b163956b5f22216dfab

[2019-12-02 13:18] macumber commented on #3791
Those path watcher tests should be moved out of the open studio repository, they depend on a Qt functionality.

[2019-12-02 13:33] jmarrec commented on #3143
Please see https://github.com/NREL/OpenStudio-workflow-gem/issues/50 instead

[2019-12-02 13:33] #3143 closed

[2019-12-02 13:59] jmarrec commented on #3110
This is already fixed, here's the proof in OS 2.9.0:

![image](https://user-images.githubusercontent.com/5479063/69965095-cdd3e780-1513-11ea-80b7-0214230bdc19.png)

I tested the ruby bindings, including FT'ing, and it works all fine.

[code]

[2019-12-02 13:59] #3110 closed

[2019-12-02 14:01] jmarrec commented on #3049
I think an explanation was pretty necessary... Closing, no clue what this is about.

[2019-12-02 14:01] #3049 closed

[2019-12-02 14:06] jmarrec commented on #3606
Related to the tertiary node: https://github.com/NREL/OpenStudio/issues/3111

[2019-12-02 14:11] jmarrec commented on #3217
Moved to https://github.com/NREL/OpenStudio-PAT/issues/122

[2019-12-02 14:11] #3217 closed

[2019-12-02 14:13] jmarrec commented on #3320
Still true today, tested with 2.9.0 on Ubuntu.

[2019-12-02 14:14] jmarrec commented on #3551
* [ ] #3525: AFN cleanup (which includes changed what the Ctors takes as argument, so breaking API)

[2019-12-02 14:17] jmarrec commented on #3556
What version was this tested with? Was it tested with 2.9.0?

Related:

* https://github.com/NREL/OpenStudio/pull/3207
* https://github.com/NREL/OpenStudio/pull/3515

[2019-12-02 14:32] jmarrec commented on #3790
@mdahlhausen Could you point to somewhere where we could find a non updated file that would reproduce this error please?

[2019-12-02 18:00] joseph-robertson opened #3795 "getRunPeriodControlDaylightSavingTime"
When you call `model.getRunPeriodControlDaylightSavingTime` and the object doesn't already exist, this will create the object and assign default values. I feel like there should be a way to retrieve dst start/end dates without creating this object...

[2019-12-02 19:08] DavidGoldwasser commented on #3791
@macumber that is good to know. So someone can't just install SketchUp plugin and point it to core OpenStudio, then need to have the OpenStudio application installed. In some ways the Plugin then is kind of a sub-application to the OpenStudio Application.

[2019-12-02 20:39] jmarrec commented on #3791
https://unmethours.com/question/41430/openstudio-100-pre-1-installation-problem/

[2019-12-02 21:05] jmarrec commented on #3795
There's no way to do it.

[code]

The OpenStudio.idd doesn't have a default value, this value is implemented in the object's Ctor.

Here's a stupid workaround:

[code]

[2019-12-02 22:19] kbenne commented on #2822
@DavidGoldwasser ping. Can you retest on 3.x?

[2019-12-02 22:47] jmarrec commented on #3563
@DavidGoldwasser Moving your comment as an issue on https://github.com/NREL/OpenStudio-workflow-gem/issues/93

[2019-12-03 01:25] rmcclung opened #3797 "Openstudio 3.0.0 Sketchup Plugin"
Neither OpenStudio SDK 3.0.0-pre1 or OpenStudio Application v1.0.0-pre1 appear to include any trace of the Sketchup plug-in.

Judging by github.com/NREL/openstudio-sketchup-plugin/releases it seems maybe it's going to be a separate installation file, but using the file from March, Sketch-up is failing to load openstudio_modeleditor.rb.  Which is unsurprising, because is doesn't exist in either of

[2019-12-03 11:29] jmarrec commented on #3358
Fixed in develop3 (will be 3.0.0 when released officially) via https://github.com/NREL/OpenStudio/pull/3782

[2019-12-03 11:29] #3358 closed

[2019-12-03 11:30] jmarrec commented on #3563
@pflaumingo I'm closing this one as I think it's fixed. Please reopen if you end up testing and it fails.

[2019-12-03 11:30] #3563 closed

[2019-12-03 11:31] jmarrec commented on #3722
Fixed in develop3 (will be 3.0.0 when released officially) via https://github.com/NREL/OpenStudio/pull/3775

[2019-12-03 11:31] #3722 closed

[2019-12-03 11:49] jmarrec commented on #2613
Reproduced with `NREL/OpenStudioApplication` (3.0.0) with the steps I had put above (had to place several measures and make a model with stuff in it so I could have time to rush to the "Run" tab to make it crash)

[code]

[2019-12-03 13:05] jmarrec commented on #2613
Addressed in https://github.com/NREL/OpenStudioApplication/pull/53, confirmed it fixes it on Ubuntu. Will need testers on other machines to test this with the CI-produced installers.

[2019-12-03 13:41] jmarrec commented on #3531
@MatthewSteen I can't reproduce using 3.0.0-pre.

![image](https://user-images.githubusercontent.com/5479063/70056006-fecb1f80-15da-11ea-9868-e13984ba282d.png)

Could you send me your model privately please?

[2019-12-03 14:21] #3740 closed

[2019-12-03 15:23] MatthewSteen commented on #3531
@jmarrec done.

[2019-12-03 16:30] DavidGoldwasser commented on #2822
@kbenne I can confirm it does not crash on 3.x mac or windows.

[2019-12-03 16:30] #2822 closed

[2019-12-03 19:54] chrisbalbach opened #3798 "Cannot successfully launch OS v1.0.0 (pre-release) using Ubuntu v16.04"
**Version**: OS Application v1.0.0 pre-release, Ubuntu version

**Observed Behavior**:
User attempted to download and install OS Application v1.0.0.from https://github.com/NREL/OpenStudio/releases/download/v3.0.0-pre1/OpenStudioApplication-1.0.0-pre1.b212b2f088-Linux.deb

User first installed the OS Application on an Ubuntu 16.04 "bare metal" machine configured to run OS Server 2.9.0. Installation

[2019-12-03 21:49] tijcolem commented on #3798
The Ubuntu OS Application v1.0.0 pre-release is only supported on Ubuntu 18.04 and will not run out of the box on 16.04.  I believe there are ways to backport shared libs that are needed to run on 16.04 (untested), and I can attempt to share these with you if you have to run on 16.04. Otherwise, I'd recommend updating to 18.04.

[2019-12-03 22:56] jmarrec commented on #3531
@MatthewSteen Thanks for the model, I was able to reproduce the bug and fix it in https://github.com/NREL/OpenStudioApplication/pull/54

[2019-12-04 08:35] #3770 closed

[2019-12-04 15:40] jmarrec opened #3799 "PeopleDefinition::thermalComfortModelTypeValues doesn't work (empty array)"
This is because it's getting it from the extensible portion of the object, but passing the wrong index as a result:

https://github.com/NREL/OpenStudio/blob/c07a246f380be947895d68a54c280e19751a1afd/src/model/PeopleDefinition.cpp#L455:L458

[2019-12-04 15:43] jmarrec commented on #3799
Fixed via #3800

[2019-12-04 16:28] jmarrec commented on #1447
Duplicated #2756

[2019-12-04 16:28] #1447 closed

[2019-12-04 16:29] #3799 closed

[2019-12-04 16:47] jmarrec commented on #3734
Thanks for the suggestion!

Qwt Widget Library is just a library that we "use" in OpenStudioApplication: https://qwt.sourceforge.io/.
In fact, we DON'T use it anywhere... It's no longer present in develop3 (the prelease 3.0.0)

`VariableList` is part of the OpenStudioApplication, which uses Qt. I'm not sure how familiar you are with Qt, but Qt relies on a parent - child model and handles managemen

[2019-12-04 16:47] #3734 closed

[2019-12-04 16:49] tijcolem commented on #3797
Yes, this is correct. The plans moving forward will be for users to install the OpenStudio SketchUp Plugin using the SketchUp extension dialog.  Users will need to first install SketchUp and OpenStudio, then a user can download the latest plugin release from https://github.com/NREL/openstudio-sketchup-plugin/releases and use SketchUp to install it.  As you noted, we are having an issue with the re

[2019-12-04 18:20] elfring commented on #3734
Would you like to improve your software according to such an aspect?

[2019-12-04 18:29] elfring commented on #698
How do you think about to [use a development tool like “clang-tidy” for corresponding source code adjustments](https://clang.llvm.org/extra/clang-tidy/checks/readability-delete-null-pointer.html "Deletion of unnecessary null pointer checks")?

[2019-12-04 20:09] jmarrec commented on #3734
I can't speak for NREL (especially given that the OpenstudioApplication is transitionning out of this project), but personally I'm always interested in making things better. Are you offerring help?

[2019-12-05 04:02] #3531 closed

[2019-12-05 15:36] #228 closed

[2019-12-06 17:58] mdahlhausen opened #3801 "EpwFile .getTimeSeries method fails if the weather file represents a leap year"
Steps to recreate bug:
1) get a weather file with a leap year (Feb 29)
2) Run:
[code]
Error:
[code]

[2019-12-06 20:26] DavidGoldwasser commented on #934
@kbenne @tijcolem this is still an issue now, I was surprised to see how old it is.

[2019-12-06 23:44] #3789 closed

[2019-12-09 10:59] jmarrec commented on #3801
EpwDataPoint doesn't include the year in its date:

https://github.com/NREL/OpenStudio/blob/a1449287fe7855d289d7dc80eb5aa474ef9de9f6/openstudiocore/src/utilities/filetypes/EpwFile.cpp#L1645

----

Found a couple of typos while investigating this:

https://github.com/NREL/OpenStudio/blob/a1449287fe7855d289d7dc80eb5aa474ef9de9f6/openstudiocore/src/utilities/filetypes/EpwFile.cpp#L4596

https://githu

[2019-12-09 11:16] jmarrec commented on #3801
@mdahlhausen If you need a workaround immediately:

[code]

[2019-12-09 15:12] jmarrec commented on #1306
I think this is going to be super tough to implement, since the Inspector Gadget is meant to be agnostic regarding what it's displaying. Here we'd have to connect a change in the IG back to the GridView... It's probably not worth it. I guess that's the downside of the high level of abstraction the IG provides.

[2019-12-09 16:02] jmarrec commented on #1306
We could add a policy to hide the "People Definition Name" in the OS:People object, but that means you'd have to delete your entire People object (where you might have renamed, set a multiplier, or assigned work/clothing/air velocity schedules) just to change the Load Definition associated with it, so I think that'd be a loss of functionality.

Closing as Won't fix after discussing it with Kyle

[2019-12-09 16:02] #1306 closed

[2019-12-09 16:24] mdahlhausen commented on #3801
Thanks @jmarrec.  I ended up just removing the leap year days from my weather files, but your method is more elegant.

[2019-12-09 21:34] #3767 closed

[2019-12-09 21:35] #2613 closed

[2019-12-09 21:38] #3743 closed

[2019-12-09 21:45] jmarrec commented on #3718
This feature was added to develop in #3721. Closing this one, will open a new issue for tweaks

[2019-12-09 21:45] #3718 closed

[2019-12-09 21:50] jmarrec opened #3806 "clang-format script feedback and adjustments"
#3721 fixed #3718, by adding a .clang-format file, and @tijcolem added as a pipeline on jenkins.

**Fully enforcing coding styles / passing clang-format test will require reformatting the entire codebase in one go** to avoid having diffs popping up in files you touched (since the script added on CI only diffs files you actually changed in your PR) but in areas of the file you didn't modify: this w

[2019-12-09 21:51] jmarrec commented on #3806
Not a huge fan of this change, I think it was clearer in the original:

![image](https://user-images.githubusercontent.com/5479063/70476133-60592580-1ad6-11ea-8464-d88b20a4a344.png)

[2019-12-09 21:52] #3793 closed

[2019-12-09 21:56] tijcolem commented on #3806
Looks good @jmarrec We def want to get a list of things we like / dislike before we make the change to the entire code base. Ideally, we only want to do that once.

[2019-12-09 21:57] tijcolem commented on #3806
List of potential changes to clang
[x] LOG Warn

[2019-12-09 22:00] #3627 closed

[2019-12-09 22:50] joseph-robertson commented on #243
I talked to @DavidGoldwasser a bit on this one. We decided to not delay writing any Schedule:Day objects until the start day of the year. Thus if a user went to change their run period after having already created their schedules, they wouldn't risk having their default schedules applied when they're not supposed to be.

BEFORE:
[code]
AFTER:
[code]

@kbenne @jmarrec

[2019-12-10 08:24] jmarrec commented on #243
I'm stuggling to understand the before/after you pasted. Can you give context / a way to reproduce it please?

[2019-12-10 15:06] joseph-robertson commented on #243
The before is what happens currently. The after is what I plan to implement.

[2019-12-10 17:47] joseph-robertson commented on #320
So what is the final decision here? To not inherit the OpaqueMaterial base class? And then remove all methods related to any fields in OS:Material that aren't in OS:Material:NoMass?

[2019-12-10 18:10] joseph-robertson commented on #934
So I can update minimum Specific Heat on the OS:Material object in the idd to be 100, and then set the default value on Standard Opaque Material to a reasonable, say 1400 (between eplus docs 800 and 2000).

But what about other properties (thickness, conductivity, density, etc) and other material types? Should we change anything there?

[2019-12-10 19:51] jmarrec commented on #320
My two cents, which seem to agree with Dan's comments above: I wouldn't change the inheritance tree, just revamp a bit to be consistent and review the use of virtual methods, and remove methods in the base class if they don't necessary have a valid implementation in the child classes.

eg: `OpaqueMaterial_Impl::thermalConductivity` (`virtual double thermalConductivity() const = 0;`) should be remo

[2019-12-10 19:51] jmarrec commented on #243
I got the idea from #3812, I'm good now.

[2019-12-10 23:31] joseph-robertson commented on #3783
Anyone know if any idf files that show use of holiday schedules?

Here's what I'm thinking in terms of implementation (add a new `Holiday Schedule Name` field):
[code]

Would we need the `Apply Holiday` field anymore in the `Schedule:Rule` object if `Holiday Schedule Name` existed (blank for "apply holiday = no" and populated for "apply holiday = yes")?

Then we would forward translate from the `S

[2019-12-11 03:52] DavidGoldwasser commented on #934
@joseph-robertson I am fine if you have better defaults for other fields, but other than specific heat, they are not causing E+ failure with default value.

[2019-12-11 09:18] jmarrec commented on #3783
$ cd /usr/local/EnergyPlus-9-2-0/ExampleFiles && grep -l "Holiday Schedule" *
[code]

[2019-12-11 09:22] jmarrec commented on #3783
**Note: This is not what I'm recommending anymore, but I'm leaving it because the thought process is important for the dicussion**

I would advise to keep the current IDD form for Schedule:Rule, just add getter/setters for "Apply Holiday", then handle that in FT. It seems more consistent with the rest of the rules and the E+ object itself. THe Schedule:Rule is meant to represent a given daily sche

[2019-12-11 09:40] jmarrec commented on #3783
**Instead, my recommendation is to add it to the ScheduleRuleset directly, similar to how we treat winter/summer design day schedules**

This would incur a slight loss of functionality in the sense that you couldn't define different profiles for example for winter versus summer holidays, but I don't think anyone actually wants that (and if they do they can still tediously create appropriate Schedu

[2019-12-11 23:17] tijcolem commented on #3797
Update.  We have a fix in place for Windows.  Still addressing OSX.

[2019-12-11 23:31] joseph-robertson opened #3815 "Year 2015 and beyond doesn't have an OpenStudio::EpwFile.startDateActualYear"

[2019-12-12 11:38] jmarrec commented on #320
@joseph-robertson

Following the discussion on #320, I now realize something:

There is `OS:Material:NoMass` in the IDD. `MasslessOpaqueMaterial` correctly uses  `OS_Material_NoMassFields` for most getters and setters. **But you will find a few methods including `conductivity` that wrongly uses `OS_MaterialFields` and that's why it returns bogus. These are probably error from copy-pasting another

[2019-12-12 12:02] jmarrec commented on #243
For my own curiosity... why is this a blocker severity? I think I may be misunderstanding the implications.

Currently it's delaying writing the schedule rule until the actual start day of the year. So if I apply a schedule rule to all days of year, and I specify that my start date is a **Wednesday** (cf ruby code below), I get this:

[code]

So the Sunday, Monday, and Tuesday schedules are defaul

[2019-12-12 13:52] jmarrec commented on #3815
Could you provide context / steps to reproduce please? I touched EpwFile recently and there's nothing I noticed that would treat files after 2015 differently.

[2019-12-13 12:54] jmarrec commented on #3806
![image](https://user-images.githubusercontent.com/5479063/70801716-e6fc5400-1daf-11ea-91f3-f123bf3480f9.png)

[code]

[2019-12-13 13:24] jmarrec commented on #3806
* Generally speaking, in cpp files we indent the blocks in namespace detail, which clang-format doesn't do (either it indents every namespace or indents none). Not sure how much we care about that....

[code]

[2019-12-13 13:30] jmarrec commented on #3806
![image](https://user-images.githubusercontent.com/5479063/70803663-e0bca680-1db4-11ea-8ceb-08d47948fa28.png)

-    ASSERT_TRUE(independentVariableListObject.getExtensibleGroup(0).getString(Table_IndependentVariableListExtensibleFields::IndependentVariableName));
+    ASSERT_TRUE(
+      independentVariableListObject.getExtensibleGroup(0).getString(Table_IndependentVariableListExtensibleFields::In

[2019-12-13 14:04] jmarrec opened #3819 "Revamp energyplus/Test/EMS_GTest.cpp to not be order dependent"
These tests are written so they work only when run sequentially (order dependent), since the FT test saves an .idf, and the following RT test reloads that IDF.

On a clean up, they fail if you run tests in parallel (eg by using `ctest -j12`). So CI is going to hit this when doing clean builds if using parallel execution (cf https://github.com/NREL/cbci_jenkins_libs/issues/68)

eg: https://github.c

[2019-12-13 16:24] jmarrec commented on #3517
I think that's been done for a while now. Jenkins does ` -DBUILD_CSHARP_BINDINGS=ON` for develop3 on windows.

[2019-12-13 16:24] #3517 closed

[2019-12-13 17:13] #3798 closed

[2019-12-13 17:25] #3795 closed

[2019-12-13 17:28] tijcolem commented on #3790
Closing and will reopen if we can obtain a supporting file to reproduce the error.

[2019-12-13 22:16] joseph-robertson commented on #3815
I was wrong here. I didn't see that openstudio throws "[openstudio.EpwFile] <0> Header start day of the week and actual start day of the week do not match in EPW file '<path>'. Data will be treated as typical (TMY)" if your start day of the week in the epw header is not the actual start day for that year.

[2019-12-13 22:16] #3815 closed

[2019-12-16 13:51] jmarrec opened #3822 "Adjust Jenkins settings post branch rename"
On cbci_jenkins_lib, the following renames happened:

[code]

On Jenkins, the `openstudio-incremental-develop` pipeline seems to be referencing Jenkinsfile_develop3, which points to a a groovy lib that doesn't exist anymore `openstudio_incremental_develop3()`:

https://github.com/NREL/OpenStudio/blob/93c4d4253cbf8cce5e87268e17584318fbdde95e/Jenkinsfile_develop3#L8

Thus producing build errors such

[2019-12-16 14:24] jmarrec opened #3823 "RoofGeometry build errors"
Post merge of #2800, Windows won't build. This is due to more stringent warning-as-error policies on develop3 versus develop. Getting some of these:

[code]

Reported by @joseph-robertson

[2019-12-17 00:33] jmarrec opened #3825 "Update conan dependencies to use Conan Center Index packages where available + Boost monolithic"
Update conan dependencies to use Conan Center Index packages where available.

Use Boost monolithic to enable MSVC 2019.

Build suddenly broke on all platforms this morning due to websocketpp conan dependency, and I used a workaround in https://github.com/NREL/OpenStudio/pull/3821

I also opened https://github.com/bincrafters/community/issues/1069 where it was strongly recommended we update to use

[2019-12-18 11:56] jmarrec commented on #3733
[code]

So these tests are always pretty much this:

[code]

So you install the gems via your system Ruby... then you call `openstudio --bundle Gemfile --bundle_path ...` ? Does that just load them up, rather than try to reinstall them?

Via system, the `Gemfile.lock` ends up with

[code]

Apparently openstudio uses an older bundler.

so:

* Should we really call the system commands to begin with?

[2019-12-18 12:29] jmarrec commented on #3733
Potential fix in https://github.com/NREL/openstudio-gems/pull/10

[2019-12-18 16:52] jmarrec opened #3827 "OpenStudioApp crash on start in 2.9.1 Windows"
Reported on https://unmethours.com/question/41887/openstudio-291-crash-on-startup/

[2019-12-18 16:52] jmarrec commented on #3827
@Erik Kolderup, could try to do this please?

Open cmd.exe and type this
[code]

Then after it crashes, take and paste the log in C:\Users\<username>\OpenStudioApp.log?

[2019-12-18 17:04] erikkolderup commented on #3827
Here's what I get:

[OpenStudioApp.main] <-2> main received argc=1 arguments
[OpenStudioApp.main] <-2> Argument 0=C:\openstudio-2.9.1\bin\OpenStudioApp.exe
[OpenStudioApp.main] <-1> Setting Qt::AA_EnableHighDpiScaling. Instead, you can also manually set the environment variable 'QT_SCALE_FACTOR'.
[openstudio.OSAppBase] <-2> Measures dir: C:/Users/erik/OpenStudio/Measures
[openstudio.OSAppBase] <-2

[2019-12-18 17:23] jmarrec commented on #3827
That's it? Does the cmd.exe actually return or is still running?
Is OpenStudioApp.exe still "running" in the process monitor after? (CTRL + MAJ + ESCAPE)

That's almost no information to go on...

Could you also try this for me please in cmd.exe? You might need to adjust the port  (52901 here) to another number if this one is taken

[code]

Open a browser too, and check http://127.0.0.1:52901

[2019-12-18 18:35] erikkolderup commented on #3827
Yes, I'm afraid that's it regarding the log file. OpenStudio opens for a few seconds and then closes.

I tried "C:/openstudio-2.9.1/bin/openstudio.exe measure -s 52901" and it takes a few seconds before it returns. Nothing seems to open.

I tried http://127.0.0.1:52901 in chrome, and get the following response:
    This site can’t be reached
    127.0.0.1 refused to connect.

I appreciate your hel

[2019-12-18 20:13] tijcolem opened #3828 "websocketpp from Conan Center Index (CCI)."
When available, we should switch to the Conan Center Index (CCI).
Keeping this issue open as a reminder

See:  https://github.com/NREL/OpenStudio/pull/3821

[2019-12-18 20:13] tijcolem commented on #3825
Opening an issue #3828 a reminder to switch to CCI.

[2019-12-18 20:15] #2926 closed

[2019-12-18 20:15] #3521 closed

[2019-12-18 20:15] #3825 closed

[2019-12-18 21:51] jmarrec commented on #3827
Can you give me the output to the console when you run this?

C:/openstudio-2.9.1/bin/openstudio.exe measure --verbose -s 52901

[2019-12-18 22:26] erikkolderup commented on #3827
The command prompt window shows nothing after running that command. Pauses a few seconds and returns. Is that what you are asking for?

[2019-12-18 22:34] erikkolderup commented on #3827
Do you know if there's a way to check if there are security issues on my computer causing a problem?

[2019-12-18 22:39] shorowit commented on #3827
I think the command should be this?
C:/openstudio-2.9.1/bin/openstudio.exe --verbose measure -s 52901

[2019-12-18 23:06] erikkolderup commented on #3827
That worked. Here's what I get:

C:\Users\erik>C:/openstudio-2.9.1/bin/openstudio.exe --verbose measure -s 52901
I, [2019-12-18T15:05:04.097522 #14504]  INFO -- : CLI Parsed Inputs: ["--verbose"] "measure" ["-s", "52901"]
D, [2019-12-18T15:05:04.098522 #14504] DEBUG -- : Main arguments are ["--verbose"]
D, [2019-12-18T15:05:04.099528 #14504] DEBUG -- : Sub-command is measure
D, [2019-12-18T15:05:0

[2019-12-19 09:10] jmarrec commented on #3827
Hum, I can't really tell if measure manager fails to start, or it the CLI is crashing before it tells measure manager to start.

Do these commands work for you? What's the output?

[code]

-----

## Expected behavior:

### measure -s

[code]

If I connect to `localhost:52901` in a browser, I see this

![image](https://user-images.githubusercontent.com/5479063/71160173-5ad2ac80-2247-11ea-8dc2-b8bc7

[2019-12-19 11:04] jmarrec commented on #3827
Also, which OS at you using? Windows 10?

[2019-12-19 14:28] craigers290 opened #3830 "Version Compatibility Matrix Updates for SDK v3.0"
Moving forward the compatibility matrix should
- drop the Sketchup reference (which would be referenced in App documentation)
- Possibly add the OS App version (although maybe that's dropped and the App documentation is responsible for referencing the appropriate "equivalent" SDK version)
- Possibly add Operating System Capatibility since there are specific limitations based on version that would

[2019-12-19 14:42] DavidGoldwasser commented on #3827
@jmarrec not sure if this is useful, but in initial feedback from @erikkolderup he reported not having a BCL directory in his home directory. That directory is created somewhere in the startup process before the OpenStudio Results measure is downloaded from BCL. So his crash seems to be happening before that.

[2019-12-19 15:36] erikkolderup commented on #3827
Here's the result from the help command.

Microsoft Windows [Version 10.0.18362.535]
(c) 2019 Microsoft Corporation. All rights reserved.

C:/openstudio-2.9.1/bin/openstudio.exe --verbose --help
I, [2019-12-19T07:33:27.408353 #6784]  INFO -- : CLI Parsed Inputs: ["--verbose", "--help"] nil []
D, [2019-12-19T07:33:27.409874 #6784] DEBUG -- : Main arguments are ["--verbose", "--help"]
D, [2019-12-19

[2019-12-19 15:38] erikkolderup commented on #3827
And here's the result from the other command.

C:\Users\erik>C:/openstudio-2.9.1/bin/openstudio.exe --verbose -e "puts OpenStudio::openStudioLongVersion"
I, [2019-12-19T07:36:34.562682 #15292]  INFO -- : CLI Parsed Inputs: ["--verbose", "-e", "puts OpenStudio::openStudioLongVersion"] nil []
D, [2019-12-19T07:36:34.563780 #15292] DEBUG -- : Main arguments are ["--verbose", "-e", "puts OpenStudio::o

[2019-12-19 16:11] erikkolderup commented on #3827
David is correct, this directory was created on my computer, C:\Users\erik\OpenStudio\Measures, and it's empty.

[2019-12-19 16:52] jmarrec commented on #3827
So your CLI *is* broken somehow...

[2019-12-19 18:06] erikkolderup commented on #3827
Don't know if it's relevant information, but the Parametric Analysis Tool application does open for me on this computer. When I open the OpenStudio application, the initial screen opens for a few seconds with a message related to managing libraries, and then it disappears.

[2019-12-19 18:09] erikkolderup commented on #3827
And one more thing, Sketchup opens fine before I install OpenStudio. After installing OpenStudio, Sketchup will open briefly and then close.

[2019-12-19 18:18] erikkolderup commented on #3827
I ran a test, and v2.9.1 opens ok on my older laptop with the same version of Windows 10, from the same installation file. But I also have older versions of OpenStudio on that computer.

[2019-12-19 22:16] tijcolem commented on #3827
It sounds like it is something with your local env on your system. We ship these run libs with OS installer `Visual C++ Redistributable Packages for Visual Studio 2013` but perhaps something is linking incorrectly at run-time with other sys-libs on your system. Long shot, but you could try and re-install https://www.microsoft.com/en-us/download/details.aspx?id=40784

[2019-12-20 17:38] DavidGoldwasser opened #3831 "New CLI command for `measure --new` and `measure --copy`"
currently you need a GUI (PAT or OS App) to create new measures. The GUI uses the code here based on the measure type requested and then modifies class names UUID and other fields.
https://github.com/NREL/OpenStudio/tree/develop/src/utilities/bcl/templates

It would be really helpful for the CLI to do this so a) you can make and copy measures without a GUI, and b) GUI's can rely on the CLI to do t

[2019-12-26 19:47] mhickey3 opened #3832 "Package OpenStudio 2.5 With Qt IFW v3 For Silent Windows Installation"
Hi Team,

Can someone please package OpenStudio 2.5 with QTIFW 3 to enable a remote silent deployment?
Or could someone supply an MSI installer for OpenStudio 2.5 with silent install switches?

The goal is to enable a silent Windows deployment.

Best,
mhickey3

[2019-12-27 19:03] erikkolderup commented on #3827
@tijcolem  thanks for the suggestion. I tried re-installing C++ per your instructions and doesn't seem to make any difference. At this point I'm pretty desperate to get the program running; it's going to be used for a college class I'm teaching very soon.

Poking around, I noticed that there was no entry for Openstudioapp.exe in the list of apps allowed through the Windows Defender Firewall, acces

[2019-12-27 19:33] DavidGoldwasser commented on #3827
@erikkolderup one idea I have is to create a new user account on the computer and launch the application under that user to see if you see the same behavior.

Another idea I have is to try out our beta 3.x version of OpenStudio. This has some updated dependancies that might behave differently.
https://github.com/NREL/OpenStudio/releases/tag/v3.0.0-pre1

[2019-12-27 19:41] erikkolderup commented on #3827
I was downloading the pre1 version when I got your message! And it opens successfully.

I did get a warning from Windows Defender when I first opened the app, and I chose to allow access. That message did not come up when I installed and opened v2.9.1. Makes me think that it might be a firewall issue with 2.9.1 installation.

[2019-12-27 19:53] DavidGoldwasser commented on #3827
@erikkolderup thats great! You could try 2.9.1 installer and launch when you are on a different network, but if the 3.x beta is working that may work for you.  You could keep using the 2.9 SkechUp Plugin installer, or try the 3.x SketchUp installer (which would require SketchUp Pro 2019, vs. 2017-2018 for 2.9 plugin).

Few notes about the beta app
- There is a known issue when using both 2.9 and 3

[2019-12-27 20:04] tijcolem commented on #3827
@erikkolderup I would be surprised if Windows defender was the culprit but it could be possible. One thing you can do is to look at the Windows event log and check for application errors. Sometimes Windows can dump out useful logging info related to the crash.   To go to the Event Viewer:

- Click Windows Start button and go to Control Panel > System & Security and click Administrative tools
- Cli

[2019-12-27 20:22] erikkolderup commented on #3827
@tijcolem. Thanks. I do see application errors in the event viewer. Looks like an openstudioapp.exe error followed a second later by an openstudio.exe error. Here's the info for the two errors. Does this mean anything to you?

Log Name:      Application
Source:        Application Error
Date:          12/27/2019 11:46:19 AM
Event ID:      1000
Task Category: (100)
Level:         Error
Keywords:

[2019-12-27 21:46] tijcolem commented on #3827
Okay, that is helpful.  We ship openstudio with `libeay32.dll` which is an openssl shared lib and responsible for handling https type connections. Since that .dll appears to be the one responsible for the error, it's best to confirm we have the same exact lib as what is included in the installer. Below is the SHA1 code. You can run this cmd in powershell to confirm. It should default to SHA1.

PS

[2019-12-27 22:06] erikkolderup commented on #3827
@tijcolem , seems like I'm not doing something right. When entering the command "PS C:\openstudio-2.9.1\bin> CertUtil -hashfile .\libeay32.dll", I get the following:

[code]

And I tried running v2.9.1 after disabling Windows Defender and I get the same behavior.

[2019-12-27 22:33] tijcolem commented on #3827
Sorry I should have been more explicit when running that command.

You need to open up a poweshell and then cd into the directory of your openstudio bin. Then run this command below:

CertUtil -hashfile .\libeay32.dll

[2019-12-27 22:40] erikkolderup commented on #3827
Looks like the numbers match.

PS C:\openstudio-2.9.1\bin> CertUtil -hashfile .\libeay32.dll
SHA1 hash of .\libeay32.dll:
6b8e8b48e2fc8fe7fabd84714d16b98f5400d09a
CertUtil: -hashfile command completed successfully.

[2019-12-27 23:56] erikkolderup commented on #3827
This may not be related, but when I run the version 3 application and try to download a measure from BCL, it seems to get stuck after pressing the download button. The progress bar keeps moving, but the process doesn't seem to complete.

[2019-12-29 20:16] erikkolderup commented on #3827
Update... still haven't been able to get v2.9.1 to open. As noted above, it looks like I have the right version of libeay32.dll installed. I'd appreciate any further debug tips.

Regarding my previous comment about downloading measures from BCL in v3, turns out that the measures did get downloaded even though the progress bar never stopped moving.

[2019-12-30 04:56] DavidGoldwasser commented on #2861
@jmarrec is this different from #2446, or should this be closed as well.

[2019-12-30 05:02] DavidGoldwasser commented on #3827
Re: BCL you may be hitting issue #2861

[2020-01-05 17:01] erikkolderup commented on #3827
@DavidGoldwasser and @tijcolem . Just checking in to see if there are more debugging ideas. Poking around I found a more detailed error report in the Windows Event Viewer. Including it here in case it provides more insights. The new computer is a Dell XPS 13 7390 2-in-1, which has i7-1065G7 processor. The old computer is a Dell XPS 13 9343 with i5-5200U. They have the same version of windows. Is t

[2020-01-05 17:05] erikkolderup commented on #3827
And in case it's useful, there's a second log file for the openstudio.exe crash, which seems to happen one second after the openstudioapp.exe crash (included in the previous comment).

[code]

[2020-01-06 15:37] corymosiman12 commented on #3831
+1

[2020-01-06 20:30] tijcolem commented on #3827
I'm running low of ideas.  I did notice in your event log ( thanks for sending full chain btw) that the module `MSVCR90.dll` that gets loaded right before LIBEAY32.dll appears to be a different version from what my system is using. It's not clear as to what is requiring this module as OpenStudio needs msvcr120.dll but it's probably an intermediate dependency.  Since I have a different version (shi

[2020-01-07 21:12] shorowit opened #3835 "Improve CLI runtime?"
The CLI runtime takes ~1.5 seconds to run on Windows and ~1 second to run on Linux, using this command:
`openstudio --no-ssl -e "puts 'hello'"`

Without the `--no-ssl` argument, it's ~2.5 seconds on Windows (Linux is unchanged, still ~1 second).

In some of our residential workflows on Windows, we have to call the CLI twice sequentially, which results in ~3 seconds of runtime for the CLI out of a

[2020-01-09 16:20] jmarrec commented on #3832
Hello @mhickey3, we'll consier using QtIFW 3 going foward. For now you can definitely still do a silent installation, you just need a small install_script.qs to pass to the installer.

I wrote one that for EnergyPlus that can be used as a base. You'll see that the most complicated stuff is in the component selection, but if you're fine with having all components installed (App, Sketchup Plugin, CL

[2020-01-09 16:37] jmarrec commented on #3514
cf bundle specific issue #3733

Here is the list of tests that are failing. X indicates a failure on that platform.

Based on https://ci.commercialbuildings.dev/blue/organizations/jenkins/openstudio-develop-nightly/detail/openstudio-develop-nightly/261/pipeline/7

| Test                                                               | Ubuntu | macOS | Windows |
|------------------------------------

[2020-01-09 17:57] MatthewSteen opened #3837 "HeatPumpWaterToWaterEquationFit fields cause crash during forward translation"
The `Companion Cooling/Heating Heat Pump Name` fields in the `HeatPumpWaterToWaterEquationFit*` objects cause several problems when a model has one cooling and one heating object that both reference each other. See code below and note that they must be connected to plant loops and both must reference each other. Removing one reference will fix the issue, but they should be able to according to the

[2020-01-10 17:35] tijcolem commented on #3835
This might be due to grepping for the ruby gems on startup. We may be able to change this behavior and not look at the gems on load.

[2020-01-10 17:36] tijcolem commented on #3832
QtIFW is installed in CI machines. Just need to update in CMakeList to update to use new version.

[2020-01-10 17:42] tijcolem commented on #3831
If this can be implemented in ruby would you @DavidGoldwasser be able to write the ruby script? If so I will assign this ticket to you @DavidGoldwasser and then we can use the script in the cli @kbenne

[2020-01-10 17:43] #3828 closed

[2020-01-10 18:44] DavidGoldwasser commented on #3831
I think should be able to do it in a ruby script. It is basically copying the template, and then doing some substations, for classes, name, tests, etc. based on the user entered new measure name.

The GUI exposes a lot of things that can be later edited in measure.rb like description and modeler description. Here are I think the minimum required arguments to this method. I assume this would be sav

[2020-01-13 14:55] jmarrec commented on #3832
This is already enabled for 2.9, not sure what was used to build 2.5.0.

@mhickey3

Can you run this for me please? `OpenStudio-2.5.0.366cbe0e3a-Windows.exe  --framework-version`

And there's already an install.qs script here that you can use, I forgot about it: https://github.com/NREL/OpenStudio/blob/2.9.X-LTS/install.qs

You can enable gui.setSilent(true) on line 3, and customize line 14 to 24 t

[2020-01-13 17:26] shorowit opened #3839 "Support EnergyPlus Python plugins (Python EMS)"
New EnergyPlus release will have preliminary Python plugin capabilities.

@Myoldmopar

[2020-01-13 19:02] erikkolderup commented on #3827
Thanks @tijcolem . Still no luck. I uninstalled the existing version of Microsoft Visual C++ 2008 Redistributable Package (x64) and downloaded and installed the version you provided a link for. Still the same behavior.

This is a brand new computer with new generation processor (Dell XPS 13 7390 2-in-1, which has i7-1065G7). Any chance that's related to this problem? Are you aware of successful in

[2020-01-13 19:06] eringold opened #3840 "Sun/Wind exposure defaults for walls/ceilings when OtherSideCoefficients outside boundary condition is set"
Setting a surface outside boundary condition to 'OtherSideCoefficients' will reset that surface's Sun and Wind Exposure to defaults:

https://github.com/NREL/OpenStudio/blob/2c4dd5c9d790d1e1a019b328ca06957660733478/src/model/Surface.cpp#L915-L931

For surfaces other than floors, this will set them to be 'SunExposed/WindExposed':

https://github.com/NREL/OpenStudio/blob/2c4dd5c9d790d1e1a019b328ca06

[2020-01-13 22:00] MatthewSteen opened #3841 "add ability to edit Schedule Set Name from Space Types tab"
Feature request to add ability to edit `Schedule Set Name` from Space Types tab, which would save users the time of switching back and forth between the Schedule Sets and Space Types tabs to coordinate.

![image](https://user-images.githubusercontent.com/8397034/72295722-5b2b5100-3615-11ea-984b-acd637bef24e.png)

[2020-01-14 00:02] jmarrec commented on #3837
#3690 is a just a hvac_library change.

But it is a recursion issue. The FTs call each other:

https://github.com/NREL/OpenStudio/blob/develop/src/energyplus/ForwardTranslator/ForwardTranslateHeatPumpWaterToWaterEquationFitHeating.cpp#L183

https://github.com/NREL/OpenStudio/blob/728a249e61818e66868c78723fb93cbb570fdab7/src/energyplus/ForwardTranslator/ForwardTranslateHeatPumpWaterToWaterEquationF

[2020-01-14 09:09] jmarrec commented on #3827
We don't catalog the CPU of the users (thank god). I have a dell laptop too, but not the same model and CPU. Mine is an XPS 15 9570 with an i7-8750H...

Seems like we're at a point where I can throw **random** ideas:

* Do older versions of OpenStudio work on this XPS laptop? https://github.com/NREL/OpenStudio/releases/tag/v2.5.0 for eg (random one)?
* Try to install Visual Studio Community 2013:

[2020-01-14 09:36] jmarrec commented on #3823
Fixed in #3821

[2020-01-14 09:36] #3823 closed

[2020-01-14 09:40] jmarrec commented on #3822
@tijcolem 2.9.X-LTS still pointing to `openstudio_incremental_develop()` instead of `openstudio_incremental_2_9_X-LTS()` (and perhaps jenkinsfile should be renamed too)

https://github.com/NREL/OpenStudio/blob/8de135fac78eda3b58b8381aac1f966e2c4c3186/Jenkinsfile_develop#L8

[2020-01-14 10:11] jmarrec commented on #3514
I have absolutely no clue why `EnergyPlusFixture.ErrorFile_WarningsAndSevere` and `EnergyPlusFixture.ErrorFile_WarningsAndCrash` are failing on CI. I tested locally on Windows 10, it works fine. I reviewed the test too, don't see anything wrong. Tried to see if another test could be overwriting it, didn't find anything either.

[code]

[2020-01-14 13:34] jmarrec commented on #3514
Encodings is a change in default encoding.

2.9.1

[code]

3.x

[code]

Does that ring a bell @kbenne?

[2020-01-14 13:49] erikkolderup commented on #3827
@jmarrec , thanks for the ideas. I tried v2.7.0 and it didn't work. But the prerelease v3 does work (but I currently want to use v2.9.1 for a class I teach). I have the version of Windows that came with the computer. The other ideas I may try when I have more time. Thanks.

[2020-01-14 16:01] #934 closed

[2020-01-14 16:02] #243 closed

[2020-01-14 16:14] jmarrec commented on #3514
**ModelFixture.ThreeJSReverseTranslator_FloorplanJS_SimAUD_Paper**

This is s geometry precision thing: Error: Initial area of surface 'Face 188' 522.58 does not equal post intersection area 522.58

Tolerance is 0.01, diff comes up to sligthly more than that...

[2020-01-14 16:16] jmarrec commented on #3514
**Space_intersectSurfaces_degenerateX**

I am investigating the intersection failures, specifically  `ModelFixture.Space_intersectSurfaces_degenerate1`:

[openstudio.model.Surface] <-1> Intersection of 'topLeft Floor 0' with 'bottomTop RoofCeiling 0' results in (topLeft Floor 0), (bottomTop RoofCeiling 0), [Surface 1], [Surface 2]
[openstudio.model.Surface] <-1> Intersection of 'Surface 1' with 'b

[2020-01-14 20:38] jasondegraw commented on #3701
While there's always room for improvement, using strings for storage was chosen to avoid the (inevitable) loss precision inherent in string-to-double-to-string conversions, which is why this part of the EPW was added in the first place. Undoing that would be a step backward.

[2020-01-14 20:49] jasondegraw opened #3843 "Debugging output in results measure"
I'm not sure where to leave this, possibly it has already been fixed but I can't tell. So I'll leave it here. When running in the app (2.91), I noticed that the [results measure (it might be line 3095 here)](https://github.com/NREL/OpenStudio-measures/blob/develop/nrel_published/openstudio_results/resources/os_lib_reporting.rb#L3095) is adding some "informative" greetings to the output. I normally

[2020-01-14 21:43] DavidGoldwasser commented on #3827
@erikkolderup did you ever get to try to create a new user account on the new machine, and then try to install and launch OpenStudio while logged in as that user?

[2020-01-14 22:04] erikkolderup commented on #3827
@DavidGoldwasser , yes, I got the same error when logged in as a new user with new installation.

[2020-01-15 10:04] jmarrec commented on #3832
[code]

@tijcolem so yeah, windows is still using QtIFW 2.x, unlike Ubuntu (and probably mac). This does need to be brought up to 3.1.1 for consistency (and enabling gui.setSilent)

[2020-01-16 10:31] jmarrec commented on #3744
Ref #3834

[2020-01-16 17:08] agonzalezesteve opened #3848 "No 'Constant Temperature' Schedule is registered for class SurfacePropertyOtherSideCoefficients"
Trying to fix the temperature of a surface depending on a given schedule I got the following error:
`No 'Constant Temperature' Schedule is registered for class SurfacePropertyOtherSideCoefficients `

To reproduce:
`require 'openstudio'`
`model = OpenStudio::Model::Model.new `
`other_side_coefficient = OpenStudio::Model::SurfacePropertyOtherSideCoefficients.new(model)`
`other_side_coefficient.setCo

[2020-01-16 18:34] eringold commented on #3848
@agonzalezesteve

I suspect because if you want to apply a constant temperature you can use the [Constant Temperature](https://bigladdersoftware.com/epx/docs/9-2/input-output-reference/group-advanced-surface-concepts.html#field-constant-temperature) field.  `model.alwaysOnDiscrete` creates a Schedule:Constant, which is always just a single value (and you would be applying a surface temperature of

[2020-01-16 18:50] eringold commented on #3848
Hm, I spoke too soon. The same error occurs if you try to set a Schedule:Compact or Schedule:Ruleset. I think something's wrong with the `setSchedule` call here:

https://github.com/NREL/OpenStudio/blob/develop/src/model/SurfacePropertyOtherSideCoefficients.cpp#L271-L277

@jmarrec ?

[2020-01-16 19:17] jmarrec commented on #3848
Missing an entry in scheduletyperegistry, which handles checking scheduletypelimits

https://github.com/NREL/OpenStudio/blob/635174fff495d437a6556b31831d797805060205/src/model/ScheduleTypeRegistry.cpp#L317

[2020-01-16 19:19] jmarrec commented on #3848
I'll fix it during the night or tomorrow morning

[2020-01-16 19:50] jmarrec commented on #3848
Should be fixed by #3849 thought I haven't tested (will rely on CI to build and test for me).

[2020-01-16 19:53] lefticus commented on #3827
@erikkolderup I'm giving another set of eyes to this problem, and was wondering: did you ever try installing Visual Studio Community from the link that @jmarrec provided? https://github.com/NREL/OpenStudio/wiki/Configuring-OpenStudio-Build-Environments#windows

[2020-01-16 20:09] jmarrec commented on #3848
For a bad **workaround**:

`other_side_coefficient.setPointer(9, model.alwaysOnDiscreteSchedule.handle)`

Or you might as well go full-on bananas and use setString directly:

`other_side_coefficient.setString(9, model.alwaysOnDiscreteSchedule.handle.to_s)`

Never use setString/setPointer/setDouble/setInt directly on model objects, you loose all the built-in smart logic and checks we put in place.

[2020-01-16 20:42] joseph-robertson commented on #3837
@jmarrec Do we also want a functional test in OpenStudio-resources for this?

[2020-01-16 21:28] lefticus commented on #3827
I have tested on both developer and non-developer Windows 10 systems and cannot reproduce - which isn't surprising based on the discussion thread so far.

I think the more interesting question we should be asking right now is not "why *doesn't* < 3.0 work" but instead "why *does* >= 3.0 work?"

That is, what changed? Perhaps it will be the clue we need.

[2020-01-16 21:45] #3848 closed

[2020-01-16 21:47] jmarrec commented on #3786
Closed via #3787

[2020-01-16 21:47] #3786 closed

[2020-01-16 22:51] jmarrec commented on #3599
@kbenne the FT doesn't appear to be populating the AirTerminal:SingleDuct:Mixer field 'Design Specification Outdoor Air Object Name'. Perhaps it should, or be replaced with a "Control For Outdoor Air" Yes/No option?

[2020-01-16 22:54] jmarrec commented on #3573
This is done right?

[2020-01-16 22:55] jmarrec commented on #3556
@pflaumingo I'm closing this. If you can supply info that allows me to reproduce, then go ahead and reopen. thanks!

[2020-01-16 22:55] #3556 closed

[2020-01-16 22:57] lefticus commented on #3827
@erikkolderup The following might prove to be insightful for debugging this, if you are up for it. It's a bit complicated, sorry. I could probably record a quick screen cast if that would be helpful.

1. Download Process Monitor (https://docs.microsoft.com/en-us/sysinternals/downloads/procmon)
2. Launch Process Monitor
3. You should see the screen *filling* with events
4. Launch OpenStudio.exe
5.

[2020-01-16 23:01] jmarrec commented on #3539
@kbenne I think that's moot now no? This was for native gems probably.

[2020-01-16 23:01] jmarrec commented on #2932
@kbenne I think your native gem approach closes that.

[2020-01-16 23:04] #2932 closed

[2020-01-16 23:09] jmarrec commented on #3348
I don't really get this issue. Do you @joseph-robertson ?

[2020-01-16 23:10] jmarrec commented on #3320
Closing, part if #3516

[2020-01-16 23:10] #3320 closed

[2020-01-16 23:16] jmarrec commented on #3177
I ran into this while address #3584 and had to use a workaround because of it. At that time I opened https://github.com/NREL/EnergyPlus/issues/7484

[2020-01-16 23:16] #3177 closed

[2020-01-16 23:18] jmarrec commented on #3149
Could you try with 2.9.1 now? If still have the same problem, please share your model with us. We need something to reproduce this if we want a shot at fixing it. Until then, I'm closing the issue, we can reopen if we have more to go on.

Thanks for the report

[2020-01-16 23:18] #3149 closed

[2020-01-16 23:30] jmarrec commented on #3098
Tested with OpenStudioApplication 3.0.0-pre1 https://github.com/NREL/OpenStudio/releases/tag/v3.0.0-pre1. Still not working.

[2020-01-16 23:33] jmarrec commented on #3065
https://www.openstudio.net/new-future-for-openstudio-application

[2020-01-16 23:33] #3065 closed

[2020-01-16 23:34] jmarrec commented on #3063
This is already possible by supplying an install.qs script to the installer. Please read this thread: https://github.com/NREL/OpenStudio/issues/3832

[2020-01-16 23:34] #3063 closed

[2020-01-16 23:35] #3060 closed

[2020-01-16 23:36] jmarrec commented on #3059
You can use github release rss: https://github.com/NREL/OpenStudio/releases.atom

[2020-01-16 23:36] #3059 closed

[2020-01-16 23:37] jmarrec commented on #3058
Please see https://github.com/NREL/OpenStudio-PAT/issues/56

[2020-01-16 23:37] #3058 closed

[2020-01-16 23:38] jmarrec commented on #3057
Project is now tracked at https://github.com/NREL/OpenStudio-PAT/

[2020-01-16 23:38] #3057 closed

[2020-01-16 23:38] #3055 closed

[2020-01-16 23:41] jmarrec commented on #3050
This is going to affect like probably 1 user total, perhaps 2, so not worth the time.

If you need to, compile it yourself, or reach out if you want an installer I could prepare one.

[2020-01-16 23:41] #3050 closed

[2020-01-16 23:50] jmarrec commented on #3053
`TimeSeries::values` returns a Vector. and there's `double openstudio::maximum(const Vector&)` and many more

https://github.com/NREL/OpenStudio/blob/158903e0f44685a9e17247ea302d3ce5ba7a90c5/src/utilities/data/Vector.hpp#L131-L154

[code]

[2020-01-16 23:50] #3053 closed

[2020-01-16 23:52] jmarrec commented on #3045
Documentation seems pretty up to date.

https://nrel.github.io/OpenStudio-user-documentation/tutorials/creating_your_model/ for eg.

[2020-01-16 23:52] #3045 closed

[2020-01-17 00:02] jmarrec commented on #3042
FloorspaceJS is free and addresses that

[2020-01-17 00:02] #3042 closed

[2020-01-17 00:05] jmarrec commented on #3033
The hvac_library already includes a full blown ZoneHVACIdealLoadsAirSystem for when you need more control than the "use ideal air" checkbox

[2020-01-17 00:05] #3033 closed

[2020-01-17 00:11] jmarrec commented on #2943
The SQL structure is set by E+. Then specifying OutputTable/OutputVariables/OUtputMeter will end up adding more or less data. https://github.com/NREL/OpenStudio/pull/3787 fixed the rest.

[2020-01-17 00:11] #2943 closed

[2020-01-17 00:12] #2838 closed

[2020-01-17 00:17] jmarrec commented on #3068
Moot since pat 2.x

[2020-01-17 00:17] #3068 closed

[2020-01-17 00:18] #237 closed

[2020-01-17 00:26] jmarrec commented on #248
This has been fixed. https://github.com/NREL/OpenStudio/pull/3081

[2020-01-17 00:26] #248 closed

[2020-01-17 02:18] kbenne opened #3851 "CLITest-test_bundle* fail"
2764 - CLITest-test_bundle-no_bundle (Failed)            <--- NEW
	2765 - CLITest-test_bundle-bundle_default (Failed)       <--- NEW
	2796 - CLITest-test_embedded_ruby-embedded_gems (Failed) <--- NEW

The issue is here https://github.com/NREL/OpenStudio/commit/4e04233078088d3a15df75dc2c1d0cf424ec00fe#diff-d42dea3d499a3e24ee1bc60bee8979fbL66

[2020-01-17 13:11] DaveInCaz commented on #3575
We have been using the 2.9 Nuget package successfully. But I don't have any insight as to whether this is now a regular part of the release process.

[2020-01-17 13:29] DaveInCaz commented on #2772
I looked in the 2.9.0 nupkg and I don't see these dependencies added. I've pasted the entire listing of the ZIP below.

Is there some other way these dependencies are supposed to be provided? e.g., is there another nuget package that acts as a dependency of this one for instance?

[code]

[2020-01-17 16:09] #3819 closed

[2020-01-17 20:25] jmarrec commented on #2772
Thats the Microsoft C++ Redistributable.

[2020-01-17 20:28] jmarrec commented on #2772
Specifically for openstudio 2.x you need the 2013 version.

https://www.microsoft.com/en-US/download/details.aspx?id=40784

[2020-01-17 20:38] DaveInCaz commented on #2772
My impression from https://github.com/NREL/OpenStudio/issues/2371#issuecomment-252977526 was that these would be installed by OpenStudio. So the point of this issue was that the Nuget package still left them out, and that is inconsistent with the regular installer. Or am I misunderstanding 2371?

Nuget packages can pull in other nuget packages as dependencies, so if there is one that supplies thes

[2020-01-17 23:01] #1454 closed

[2020-01-18 02:00] erikkolderup commented on #3827
@lefticus, here's the process monitor log. Thanks for your help!

[Logfile.zip](https://github.com/NREL/OpenStudio/files/4079857/Logfile.zip)

Regarding Visual Studio, I haven't tried that. Don't really understand what I would do. Just install the Visual Studio software? Or is there more to it than that? Apologies for my ignorance...

[2020-01-19 21:07] lefticus commented on #3827
@erikkolderup The idea would be simply to install Visual Studio to see if the Windows operating system components that come with it make any difference.

It's not unusual that we have some minor difference in components between a "developer" computer and a "user" computer that causes some kind of problems that are difficult to track down.

I'll look at your log file and see if it provides us with

[2020-01-19 21:08] lefticus commented on #3827
@erikkolderup The idea would be simply to install Visual Studio to see if the Windows operating system components that come with it make any difference.

It's not unusual that we have some minor difference in components between a "developer" computer and a "user" computer that causes some kind of problems that are difficult to track down.

I'll look at your log file and see if it provides us with

[2020-01-19 22:01] lefticus commented on #3827
@erikkolderup The idea would be simply to install Visual Studio to see if the Windows operating system components that come with it make any difference.

It's not unusual that we have some minor difference in components between a "developer" computer and a "user" computer that causes some kind of problems that are difficult to track down.

I'll look at your log file and see if it provides us with

[2020-01-19 23:03] lefticus commented on #3827
This post is going to be longer than I thought, I but I think it has some good info.

@DavidGoldwasser @jmarrec my hope was to find some evidence of openstudio.exe finding a stray / unknown DLL either Qt or OpenSSL from the event log from @erikkolderup . I found no such evidence.

My current theory as to why OS3 is working and the ones before it are not is because of the build system changes that

[2020-01-20 05:01] MingboPeng opened #3854 "autosize ZoneHVACUnitHeater Maximum Hot Water Flow Rate"
It seems by default when ZoneHVACUnitHeater is created by API, its field "Maximum Hot Water Flow Rate" is set to empty, instead of "autosize".

By checking this ZoneHVACUnitHeater in OS APP, this field is also not set to "autosize". This causes the ZoneHVACUnitHeater not running correctly with an empty value of "Maximum Hot Water Flow Rate".

![image](https://user-images.githubusercontent.com/9031

[2020-01-20 07:40] jmarrec commented on #3827
FWIW, I happen to have a dell XPS laptop as well. Mine is an XPS 9570 (6-core i7-8750H), which has a "Killer 1535 802.11ac 2x2 WiFi and Bluetooth" card, so I also have that KillerNetworkService.exe. My driver version for the wifi part is "12.0.0.825" (which - I just checked on the dell support page for my laptop - is outdated)

procmon shows that this guy also does a bit of buffer overflow, but he

[2020-01-20 09:55] jmarrec commented on #3854
Thanks for the catch @MingboPeng. Will address this shortly.

[2020-01-20 16:59] lefticus commented on #3827
It's the best I got at a moment, so hopefully worth a try.

[2020-01-21 15:39] #3851 closed

[2020-01-21 18:41] #3785 closed

[2020-01-21 19:32] #3783 closed

[2020-01-21 21:04] joseph-robertson commented on #3216
Edit to the link above: https://github.com/NREL/OpenStudio/blob/develop/src/energyplus/ForwardTranslator/ForwardTranslateThermalZone.cpp#L474-L478

[2020-01-21 21:43] joseph-robertson commented on #3216
Another potential issue:

https://github.com/NREL/OpenStudio/blob/develop/src/energyplus/ForwardTranslator/ForwardTranslateThermalZone.cpp#L475

This is converted rad to deg. But isn't `primaryDaylightingControl->thetaRotationAroundYAxis()` already in degrees?

[2020-01-21 22:35] #1382 closed

[2020-01-21 22:35] #2756 closed

[2020-01-21 22:35] #3792 closed

[2020-01-22 05:12] #3044 closed

[2020-01-22 10:56] jmarrec opened #3859 "Versioning adjustments in CMakeLists.txt / VersionTranslation"
Following a conversation with @kbenne and @tijcolem after hitting a bug in VersionTranslation due to the prerelease tag that's included in openStudioVersion():

* change `OPENSTUDIO_VERSION` to only include <major>.<minor>.<patch> and revamp the prerelease functionality in CMakeLists.txt to be cleaner (especially regarding `OPENSTUDIO_LONG_VERSION`). Test the effect on VT.
* Add docstring in OpenS

[2020-01-22 13:41] jmarrec commented on #3837
Yeah this is only being tested for in autosize_hvac, so I'd say it's probably a good time to add a test for HeatPumpWaterToWaterEquationFitCooling/Heating  indeed

[2020-01-22 16:19] jmarrec commented on #2127
Same problem with FanSystemModel

![image](https://user-images.githubusercontent.com/5479063/72912004-464c6d00-3d3b-11ea-864a-edf1ee696cf1.png)

[2020-01-22 18:02] joseph-robertson commented on #3460
Appears there is also no reverse translator for `MaterialPropertyGlazingSpectralData`, which is the object returned by `windowMaterialGlazing.windowGlassSpectralDataSet`. I will add.

[2020-01-22 20:02] joseph-robertson commented on #3348
Maybe this? https://github.com/NREL/EnergyPlus/pull/6456

@jmarrec

[2020-01-22 21:09] jmarrec commented on #3348
@joseph-robertson I think you're right. So it requires handling that mostly in SqlFile stuff, like here:

https://github.com/NREL/OpenStudio/blob/2fe43e38d04570310be30725a8c6d175853fa1fe/src/utilities/sql/SqlFileEnums.hpp#L53-L59

[2020-01-22 23:57] joseph-robertson commented on #3728
Design doc: https://docs.google.com/document/d/1HnocSAX1seOSYmALbX6pUCqiuSjyQa42oxx9wmtF5Ls/edit#

@tijcolem @jmarrec @kbenne

[2020-01-23 08:46] jmarrec commented on #3728
Will comment on the PR itself: https://github.com/NREL/OpenStudio/pull/3863

[2020-01-23 16:23] joseph-robertson commented on #3386
This fix should be straightforward.

However, I'm confused why `LifeCycleCostUsePriceEscalation` is in the public API (it's not swigged and therefore its ctor is undefined). Should its ctor be available? If so, how would we modify ft of `LifeCycleCostParameters` to use/write these custom `LifeCycleCostUsePriceEscalation` objects?

@jmarrec @kbenne

[2020-01-23 17:39] kbenne commented on #2772
Hey @kbenne This is still important.

[2020-01-23 20:15] chriswmackey commented on #3785
Woohoo! Thank you @jmarrec !!!

[2020-01-23 21:23] jmarrec commented on #3386
I'm guessing that initially they were implemented in model API, then someone (Dan apparently) realized they could be created from `LifeCycleCostParameters`. So they weren't SWIGGed but left in place (in case we changed our minds later probably)...

https://github.com/NREL/OpenStudio/blob/2fe43e38d04570310be30725a8c6d175853fa1fe/src/energyplus/ForwardTranslator.cpp#L2196

I think we could remove th

[2020-01-24 08:56] jmarrec commented on #3216
@eringold @joseph-robertson

I am not certain the proposed fix is correct. These are Euler angles, not spherical coordinates.

Perhaps it should actually be `Psi Rotation Around X-Axis`  **- 90°**?

Here's a superb Pinta (opensource linux paint) drawing, in red is what I think OpenStudio does (Psi), and in Blue (Psi') is what I think EnergyPlus might be looking for:

![image](https://user-images.g

[2020-01-24 14:29] #3854 closed

[2020-01-24 17:06] #3670 closed

[2020-01-26 17:31] eringold commented on #3216
@jmarrec
This is what Sketchup shows for a Theta rotation - the daylight object is rotated in the XZ plane, about the Y axis:

![OS_3216_1](https://user-images.githubusercontent.com/10799524/73139032-a3d80680-4026-11ea-9633-c6a87bb44f82.png)

My interpretation of the relevant EnergyPlus input is that it should receive what Sketchup shows as the Phi rotation - in the XY plane, about the Z axis:

![

[2020-01-26 18:44] dmacusb2 commented on #3216
@jmarrec is correct that these are Euler angles, the tricky part is that the rotations are applied successively about the `rotated` axes not the original axes.  EnergyPlus doesn't really handle rotation of the sensor in 3D, it only allows rotation in the 2D x-y plane.  The 3D rotations were there for radiance so we could have sensors on the ceiling, looking down.

[2020-01-26 18:44] dmacusb2 commented on #3216
So what @eringold said is correct, EnergyPlus only cares about rotation about the z-axis.

[2020-01-27 09:03] jmarrec commented on #3551
* [ ] WaterHeaterHeatPump should be renamed to WaterHeaterHeatPumpPumped like the E+ class. It's  confusing. I aways have to check whether WaterHeaterHeatPumpPumped (no) and WaterHeaterHeatPumpWrapped (yes) are implemented to know which it is
* [ ] WaterHeaterHeatPump(Pumped) availablity schedule shouldn't be optional but default to always On

[2020-01-27 16:00] jmarrec commented on #3216
Cool, thanks!

[2020-01-27 16:37] #3859 closed

[2020-01-28 16:57] kbenne commented on #3840
@kbenne write a unit test for this and then @mpraprost can work within that

[2020-01-28 23:01] eringold opened #3866 "Forward translator Runtime Error if a model has a ZoneHVAC:LowTemperatureRadiant:VariableFlow but no constructions assigned"
I can reliably get an "Access violation - no RTTI data! (RuntimeError)" if a model has a ZoneHVAC:LowTemperatureRadiant:VariableFlow, but no constructions assigned to any surface and is run through the forward translator. This will cause the 'Apply Measure Now' window to show an error for any measure, which causes a lot of confusion.

Code to replicate:

[code]
@jmarrec

[2020-01-29 00:02] DavidGoldwasser commented on #3843
Thanks @jasondegraw I have another fix I'm working on in that measure, I'll make sure to remove this looking. I am the culprit from that, I was working on binning of zone temp and humidity table.

[2020-01-29 06:20] jmarrec commented on #3866
Awesome report, thanks for the details and code to reproduce @eringold! I'll look into it gladly as a result!

[2020-01-29 09:47] jmarrec commented on #3866
Reproduce with current develop (3.0.0-beta), will address.

[2020-01-29 10:16] jmarrec commented on #3866
I'd have thought this was a ForwardTranslator problem (and implemented a unit test for FT), but this is actually a model API problem:

Backtrace:
[code]

[2020-01-29 11:26] jmarrec commented on #3551
* [ ] Low temperature objects (`ZoneHVACLowTempRadiantVarFlow`, `ZoneHVACLowTempRadiantConstFlow` and `ZoneHVACLowTemperatureElectric`) should probably just default the Radiant Surface Type to "Ceilings" the Ctor and make `radiantSurfaceType()` return a non optional string instead of relying on IDD default  anyways (at least the `ZoneHVACLowTempRadiantVarFlow` is already NOT providing `isRadiantSu

[2020-01-30 17:39] dmitrysurugin commented on #3827
I'm running into the similar problem. OpenStudio crashes on the new Dell laptop (i7-9750H) during the startup. Just a few "ghost tabs" are running through the taskbar and nothing happens.
In my case, neither 2.8, 2.9, nor new 1.0 versions work.
CLI client is working fine.
As has been proposed earlier in this thread, I tried turning off antivirus/firewall, installing provided c++ distribution, kill

[2020-01-31 15:44] pflaumingo opened #3870 "OpenStudio ClimateZones initialization behavior and .clear behavior are inconsistent"
When initializing an OpenStudio Model, it creates a blank ClimateZone object as can be seen here:

https://github.com/NREL/OpenStudio/blob/da39c25c4d5a0a561457f25971513b8f9665dbaa/src/model/ClimateZones.cpp#L538-L545

A call to model.getClimateZones.numClimateZones therefore returns 1. However, if .clear is called, it removes the blank ClimateZone and numClimateZones equals 0. I think these behavi

[2020-01-31 15:54] shorowit commented on #3870
Here's one way you can detect the number of climate zones without triggering OS to create one.

[code]

[2020-01-31 16:09] kbenne commented on #2957
@mpraprost We didn't go over the OS App structure, but there is an hvac library baked into the OpenStudio Application. The content is stored in osm format and it is located here https://github.com/NREL/OpenStudioApplication/blob/develop/src/openstudio_app/Resources/default/hvac_library.osm#L1417 Can you take a look at the curves and correct as needed?

Also there is a default constructor in the Mo

[2020-01-31 16:24] kbenne commented on #2100
@mpraprost We want to remove all of these ::isFooDefaulted checks in this file. Here is one example https://github.com/NREL/OpenStudio/blob/develop/src/energyplus/ForwardTranslator/ForwardTranslateThermalZone.cpp#L491

[2020-01-31 16:24] pflaumingo commented on #3870
Thanks for sharing @shorowit, I may use that short term but it still doesn't address the bigger issue.

[2020-01-31 19:21] pflaumingo commented on #3320
Just leaving a note in case anyone runs into this. I had an issue with this making tests less clear so in my test helper I added the code snippet below and it suppressed the warnings. It's hacky and please chime in if you think there are any major side effects.

`ruby
_stderr, $stderr = $stderr, StringIO.new
require 'openstudio'
$stderr = _stderr
`

[2020-02-01 02:52] danjoh99 commented on #3165
Hey all, I'm still getting this error when trying to open CBECC-generated OSM files in the OS standalone app. The CBECC-generated OSM files are version 1.11.3, and they won't open in either OS 1.11.3 or 2.9.0. In both cases I get the error:
[code]
I've tried deleting large sections of the OSM file in a text editor, piece by piece, trying to isolate the bad portion of the file. This exercise won't

[2020-02-03 10:06] jmarrec commented on #3165
@danjoh99 If you share the offending OSM I suppose I could take a _quick_ look to try and give pointers. If you don't want to send it publicly, you can email it to me at julien at effibem dot com

[2020-02-03 16:27] tijcolem commented on #3822
Looks like the 2_9_X-LTS still had a copy of the old Jenkins_develop. This has been removed. So now we have the following for incremental builds in each respective branch:

2_9_X-LTS
https://github.com/NREL/OpenStudio/blob/2.9.X-LTS/Jenkinsfile_2_9_X-LTS#L8

develop (3.x)
https://github.com/NREL/OpenStudio/blob/develop/Jenkinsfile_develop#L8

It should be good now and okay to close this issue.

[2020-02-03 16:39] dmitrysurugin commented on #3827
Just tried to launch the OpenStudio on the different newly received Dell laptop from the same product line. It crashes as well.

[2020-02-03 21:33] tijcolem commented on #3827
@erikkolderup Just following up on this. Did you ever try @lefticus suggestions above?

[2020-02-03 22:45] erikkolderup commented on #3827
Progress! I unzipped the file to the openstudio/bin folder, and the application gets farther and then pops up a dialog box with the message "Measure Manager has crashed, attempting to restart". If I click "ok", then the box pops up a second time. If I click once more, then the application crashes.

![image](https://user-images.githubusercontent.com/17705490/73697034-74fb0980-4692-11ea-97ee-4cec56d

[2020-02-03 23:33] tijcolem commented on #3827
Thanks, @erikkolderup.   That permission error has been reported on several Windows forums but it's unclear if that is the problem now causing measure manager to not start.

There are some changes you can make to the regedit to grant permissions but I'm hesitant to have you try that out.  You've already been very patient through the process and don't want to spend more time.

I found someone here

[2020-02-04 13:42] #3822 closed

[2020-02-04 13:43] jmarrec commented on #3822
I supposed they could all have use the name "Jenkinsfile", just call the different groovy libs, but I'm fine with this!

[2020-02-04 14:08] jmarrec commented on #3870
This has been here since the dawn of the git history on this repo.
There's a variety of things that are wrong about this object.

The fields that prompted this pushExtensibleGroups are actually deprecated:

[code]

It doesn't dump correctly, cf the first group is lacking "ASHRAE" for Institution Name (and doc name and default year)
[code]

There's no real reason this would be a single object with

[2020-02-04 14:17] jmarrec commented on #3551
* #3870 : unique-object `OS:ClimateZones` should perhaps become `OS:ClimateZone`, non unique, with potentially CEC/ASHRAE specific getters for the underlying model object if we want to enforce unicity for these two. **This is a very low priority item given how much/for what it's actually used**

[2020-02-04 19:51] joseph-robertson opened #3872 "Adding advanced output variables to sdk"
"Do you know if os is supporting adding advanced output variables, eg. https://bigladdersoftware.com/epx/docs/9-2/input-output-reference/group-thermal-zone-description-geometry.html#additional-window-outputs-advanced ? I looked up in sdk docs, without luck to find a similar functionality. In E+, if we add an object of : Output:Diagnostics,DisplayAdvancedReportVariables , E+will know we want those

[2020-02-04 22:02] shorowit commented on #3872
Pretty sure it's not supported. There is an EnergyPlus BCL measure that handles this: https://bcl.nrel.gov/node/39191

Would definitely be nice to move it into the SDK.

[2020-02-05 11:44] jmarrec commented on #3872
It's not supported, but real easy to add to the SDK. It's also really easy to create measures for that, but I suppose depending on your workflow that might be annoying versus adding them at model time.

In case we want them in the model API, I would go ahead and add all of these small control/diag unique objects at the same time:

[code]

[2020-02-05 12:45] jmarrec opened #3874 "Output:DebuggingData IDD should use a choice field for boolean and not a numeric"
[code]

[2020-02-05 12:46] jmarrec commented on #3874
Obviously meant to open that on E+ side

[2020-02-05 12:46] #3874 closed

[2020-02-05 13:52] shorowit commented on #3872
Our problem is that we want to use some of the Output:Variables that Output:Diagnostics provides access to in an EMS program. We can make everything work as is, but then our OpenStudio measure will depend on an EnergyPlus measure having to be run in the same workflow. So it'd be far more ideal to have access to the Output:Diagnostics object in the model.

@jmarrec That would be great if you could

[2020-02-05 17:24] jmarrec commented on #3872
@shorowit I checked E+ code, I think it'll work just fine with one `Output:Diagnostics` that has N (N pteotnially >2) extensible fields, but I'll have to actually try.

Output:DebuggingData is even worse FYI. It uses a numeric value for a boolean, instead of `\type choice` with "Yes"/"No" keys.

Anyways, check out PR #3876 if you want to try early.

[2020-02-05 17:33] jmarrec commented on #3870
https://github.com/NREL/OpenStudio/blob/2d10c15203ce8d8f22ef4bd853ad7f8d2ff84fd0/src/model/test/ClimateZones_GTest.cpp#L51-L65

[2020-02-05 21:17] shorowit commented on #3872
@jmarrec I was going to grab the CI build but it looks like the Windows build is failing?

[2020-02-06 06:27] jmarrec commented on #3872
Something happening in csharp hence why I didn't see it on ubuntu. Will fix it, thanks CI!

[2020-02-06 23:06] tijcolem commented on #3827
I tried 2.9.1 on the following Dell laptops and could not reproduce the crash.

[code]

Related to Windows.SecurityCenter.WscDataProtection permission errors your receiving,  you can run a simple test and run the OpenStudio Application as Administrator, provided you have the rights to do so. You should be able to right-click the App icon and "Run as Administrator" or you can run a terminal as admi

[2020-02-07 01:01] erikkolderup commented on #3827
@tijcolem , Thanks. Running as administrator produces the same error results.

It's not necessary to accelerate PAT installer on my account at this point. My class is using v2.9.1, which seems to work for people. And I use v2.9.1 on my older Dell laptop for the time being for course development.

-Erik

[2020-02-07 01:05] erikkolderup commented on #3827
@dmitrysurugin , I'm curious if your problem computer is the same as mine. Here's my system information:

[code]

[2020-02-07 17:24] DavidGoldwasser commented on #3843
I have this fixed in this branch. It will be merged soon and then pushed to BCL
https://github.com/NREL/OpenStudio-measures/tree/openstudio_results_warning_table

[2020-02-07 17:24] #3843 closed

[2020-02-10 09:59] dmitrysurugin commented on #3827
@erikkolderup

The system information of my laptop is as follows (OS version, system model and processor specs are different):

[code]

[2020-02-11 10:49] dmitrysurugin opened #3879 "OpenStudio startup crash - Windows 10 on new Dell"
Issue overview & current behavior
--------------
This issue relates to #3827 however, as it associates with a startup crash, however following the few troubleshooting steps, the behavior and logs became significantly deviating, which brought me to creating a separate thread.

When I'm trying to launch the recently installed OS on brand new Dell laptop, it doesn't start at all. Only few "ghost tabs

[2020-02-12 19:39] MatthewSteen opened #3880 "SpaceInfiltrationDesignFlowRate DesignFlowRateCalculationMethod API magic does not work for Flow/ExteriorWallArea case"
Issue overview
--------------
The API magic for the SpaceInfiltrationDesignFlowRate class' DesignFlowRateCalculationMethod field does not handle the `Flow/ExteriorWallArea` case. Currently there isn't a setter for `DesignFlowRateCalculationMethod` in the [SDK](https://s3.amazonaws.com/openstudio-sdk-documentation/cpp/OpenStudio-2.9.0-doc/model/html/classopenstudio_1_1model_1_1_space_infiltration_d

[2020-02-12 20:28] jmarrec commented on #3880
Is that a new choice in E+? Did you check OpenStudio.idd to see if its already there?

[2020-02-12 20:35] MatthewSteen commented on #3880
@jmarrec it's not and is already in the OpenStudio.idd.

https://bigladdersoftware.com/epx/docs/8-2/input-output-reference/group-airflow.html#field-flow-per-exterior-surface-area

[2020-02-12 20:45] MatthewSteen commented on #3880
@jmarrec this might be more appropriate as an EnergyPlus issue because it's inconsistent with most other objects that use choice fields, i.e. only one field is used depending on a preceding choice field.

[2020-02-12 20:55] jmarrec commented on #3880
@MatthewSteen what doesn't work here?

[code]

[2020-02-12 21:27] MatthewSteen commented on #3880
@jmarrec ah, I missed the `setFlowperExteriorWallArea` method, which does work, thanks.

[2020-02-12 21:27] #3880 closed

[2020-02-13 15:46] jmarrec commented on #3551
* [ ] AirLoopHVAC:UnitarySystem. Change name of field `DOAS DX Cooling Coil Leaving Minimum Air Temperature` to `Minimum Supply Air Temperature` to match E+

[code]

[2020-02-13 22:31] #320 closed

[2020-02-13 22:34] #3460 closed

[2020-02-13 22:36] joseph-robertson commented on #3216
Where did we land on this?

@jmarrec

[2020-02-14 07:50] jmarrec commented on #3216
@joseph-robertson I don't know where @macumber 's comment went, but I have a trace in my email client, and he confirmed that your fix is good and so did @eringold. So I'm good with that. I approved the PR (which I cannot merge).

[2020-02-14 12:58] jmarrec commented on #3879
This does seem like it has nothing to do with the referenced issue...

[code]

So it seems that it cannot parse the OpenStudio.idd.

@dmitrysurugin Can you tell us exactly what installer you used to get this log message please?
 Did you modify the OpenStudio.idd in any way, shape or form?

[2020-02-14 15:26] #3216 closed

[2020-02-14 16:09] #3872 closed

[2020-02-14 17:28] dmitrysurugin commented on #3879
@jmarrec thanks for getting back to my issue.

No I didn't modify any files at all, just launched the original installation downloaded from the openstudio.net (2.9.1 for windows x64)

The log messages has been generated by passing the following through a command line:

[code]

[2020-02-17 22:11] #3729 closed

[2020-02-17 23:36] kbenne opened #3881 "Change end use (gas) energy between OS 2.8.1 and 2.9.1"
The issue comes when we upgraded OpenStudio version from 2.8.1  to 2.9.1 since gas annual consumption is ~25% different ( 642 with 2.8.1 vs 467 in 2.9.1). I tried to investigate the issue and see that the ZoneHVAC:EquipmentList object was differently forward translated between 2 versions (left 2.9.1 vs right 2.8.1 as screenshoot). I updated the run folder in.idf from 9.1 to 9.2 using EnergyPlus th

[2020-02-17 23:57] wta12 commented on #3881
There might be 2 separated issues:
- Gas EndUse as seen in report
- Updated file from 2.8.1 doesn't automatically set the fraction schedule in  ZoneHVAC:EquipmentList field as EP 9.2 updated.

[2020-02-18 10:00] jmarrec commented on #3881
I am going to investigate a bit more because this is concerning, but I doubt this has anything to do with OpenStudio itself.

* E+ I/O ref guide for [Zone Equipment <x> Sequential Cooling Fraction Schedule Name](https://bigladdersoftware.com/epx/docs/9-2/input-output-reference/group-zone-equipment.html#field-zone-equipment-x-sequential-cooling-fraction)

* OpenStudio `VersionTranslator::update_2_8

[2020-02-18 10:06] jmarrec commented on #3881
So I took your in_Os291.osm model, ran it.

Then I added Sequential fraction schedules to ALL zoneHVACEqList (always 1), like E+ would have done (because OpenStudio used to write "1" if blank during FT to IDF). *See script below**. I ran that in 2.9.1 (E+ 9.2.0) as well: **zero differences**.

[code]

[2020-02-18 10:29] jmarrec commented on #3881
**Ok, here's the actual difference: it's in the way the "Air Wall" is handled.**

I took your `in_Updated_EP_92.idf` (from the E+ Transition utility), and modified this:

[code]

And replace it with what the 291 IDF had (except it's called `Air Wall_ConstructionAirBoundary`):

[code]

And now the results match as well.

[2020-02-18 17:41] wta12 commented on #3881
@jmarrec : Thanks for doing reverse check.  Maybe I would run report to check zone heat transfer and load prediction to confirm this root.
In addition, can you import E+.idd from EP 9.1 installation ? I get error when import Idd file when tried to compare 2 idfs ?
[code]

[2020-02-18 19:14] joseph-robertson commented on #3386
Decided to address only the problem in this issue, and nothing more.

@jmarrec

[2020-02-18 19:39] joseph-robertson commented on #3784
@tanushree04,

so to be clear, you don't just want this in the idf:

[code]

but rather you want the ability to write something like

[code]
?

[2020-02-18 19:48] tanushree04 commented on #3784
@joseph-robertson Yes, that's correct. The ability to select only a few Summary Reports.

[2020-02-18 20:50] jmarrec commented on #3386
@joseph-robertson that's a good idea I think. Perhaps the other part could be made an enhancement request for a later date addition, or we could just wait to see if someone actually has a use case for bringing it in the model api (my opinion is the latter)

[2020-02-18 23:46] joseph-robertson commented on #3348
I guess I still don't totally understand what needs to be done here.

I do see that now in 9.2 we have separate Annual and Run Period reporting frequencies, whereas prior to 8.9 we did not. But under what scenario(s) can they be different? Here are some possible example scenarios I have in mind:

- [ ] Run Period is 1/1 to 12/31 (Annual is equal?)
- [ ] Run Period is 2/1 to 2/28 (Annual is equal?)

[2020-02-19 00:20] jasondegraw commented on #3348
@joseph-robertson From memory, the annual result only gets reported at the end of a 12/31. So for your second scenario it shouldn't get reported, and for the third there'll be just one on 12/31/2007. I wouldn't think it would matter too much without multiyear simulations, but it would still be good to support it. We're using an E+ measure to modify the RunPeriod year, it'd be helpful not to have t

[2020-02-20 01:56] mcneillj opened #3883 "OpenStudio CLI for Revit 2020 not working on Windows 10 laptop."
Issue overview
--------------

Openstudio CLI for Revit 2020 does not produce an output in Revit 2020.  It seems as if Revit is not able to successfully call the OpenStudio CLI, as the failure completes in 1-3 seconds.  I'm trying to figure out whether the issue is my Windows, Revit, Openstudio configuration, or a bug with Revit or OpenStudio.  I've narrowed it down to most likely being with the O

[2020-02-20 06:46] jmarrec commented on #3733
Ping @jmarrec rerun tests now that https://github.com/NREL/openstudio-gems/pull/13 was merged

[2020-02-20 15:49] tijcolem commented on #3883
Hi James,

Thanks for the detailed issue report. A couple of questions and things you can try out.

1 )  Did openstudio CLI previously work on that machine?  Did you upgrade Windows and then it stopped working?

2 ) If you recently upgraded Windows, can you rule out any strange permission errors and try running the CLI using Administrator account? You can do that by launching a Command Prompt in t

[2020-02-21 04:34] mcneillj commented on #3883
@tijcolem

1) From the best of my memory it originally worked on that laptop.  I believe it stopped working after not using it for several weeks.  That’s why I thought it might be a windows Update.  Originally I thought it might be a conflict with other software or settings changes, so I did a full and reinstalled Windows.   It still does not work after that.

2) I think I tried that in all my tes

[2020-02-21 15:54] tijcolem commented on #3516
Currently, no issues have been discovered using ruby 2.5.5 with CLI.  Keep issue open for now.

[2020-02-21 16:04] tijcolem opened #3884 "OpenStudio SDK Developer Documentation"
Update SDK Developer Documentation.

- [x] Review current OpenStudio docs and flag items. Remove any related info to OpenStudio Application
- [ ] Create gh-pages and move docs to gh-pages.
- [x] Clean up old unused wiki pages
- [x] Update software dependencies (conan, system dependencies)
- [ ] Update process for fixing software defects (file a software issue, create a branch, make a pull request,

[2020-02-21 16:06] tijcolem commented on #3518
https://github.com/NREL/OpenStudio/issues/3884 replaces #3518

[2020-02-21 16:06] #3518 closed

[2020-02-21 16:15] shorowit opened #3885 "Allow "CorrelationFromWeatherFile" for SiteWaterMainsTemperature's calculation method"
Enhancement Request
--------------
Make the calculation method "CorrelationFromWeatherFile" available for the SiteWaterMainsTemperature object in the SDK.

## Detailed Description
Currently OpenStudio only supports "Schedule" and "Correlation". The "CorrelationFromWeatherFile" calculation method choice was made available in E+ v9.0. See https://github.com/NREL/EnergyPlus/pull/6771

[2020-02-21 16:47] tijcolem commented on #3744
List of requested native gems.  Just a note, most of these gems work fine using c99 compliant compilers (e.g. gcc, clang). That makes sense given they ruby gems are Unix centric which also explains why ruby mingw on windows.  OpenStudio uses msvc to compile and therfore we need matching compiler so we use a ruby msvc version.  The msvc C compiler is *not* c99 compliant so when trying to compile ce

[2020-02-24 19:05] #3758 closed

[2020-02-24 19:06] #3379 closed

[2020-02-24 19:06] #3866 closed

[2020-02-24 19:06] #3837 closed

[2020-02-24 19:06] #3801 closed

[2020-02-24 19:13] #3870 closed

[2020-02-24 19:16] #3348 closed

[2020-02-24 19:19] #3386 closed

[2020-02-24 19:56] joseph-robertson commented on #3885
Looks like someone may have added this since 2.9.1. I'm going to build develop and see if it works.

@shorowit

[2020-02-25 00:32] #864 closed

[2020-02-25 09:27] jmarrec commented on #2920
Fixed (like #3758) via https://github.com/NREL/OpenStudio/commit/ae735b843af0329a8d43a55b1de1e661326fd1e8

[2020-02-25 09:28] #2920 closed

[2020-02-25 12:32] jmarrec opened #3888 "Unique ModelObjects shouldn't be allowed to be cloned into the same model and cloning into another model should be handled"
Issue overview
--------------

I discovered one can just clone a Unique model object into the same model and end up with 2 "unique" model objects...

[code]

## Current Behavior

`clone()` "works" and adds a **second _unique_ model object**:

[code]

## Expected Behavior

clone should fail into the same model. clone should handle the case where cloning into another model based on whether that targ

[2020-02-25 14:19] jmarrec commented on #3881
We make some changes to our included ProposedEnergy+.idd to match our needs as well as ensure it can be parsed. Here you see the "problem" is that the `\note` has special characters `(-,+,/,\)` which makes the parsing fail.

I suggest taking our ProposedEnergy+.idd from 2.8.1 (which used E+ 9.1) here instead: https://github.com/NREL/OpenStudio/blob/v2.8.1/openstudiocore/resources/energyplus/Propos

[2020-02-26 07:52] wta12 commented on #3881
@jmarrec : At the end, that's an input or engine issue? I did not rerun but as long as a workaround viable - I am ok. Just ring me when new versions of OS/EP change airwall object input - Thanks for promptly response

[2020-02-26 11:08] jmarrec commented on #3881
The change was in 2.9.0. It's unlikely going to change again.

[2020-02-26 11:08] #3881 closed

[2020-02-27 15:55] jmarrec opened #3891 "Update List of SQL files for all E+ version we support"
Issue overview
--------------

https://github.com/NREL/OpenStudio/blob/582d93bff9a0c8d60b6d7caddeea548ef4a7f711/resources/CMakeLists.txt#L71-L78

Stopped at 8.4.0

This is used here: https://github.com/NREL/OpenStudio/blob/582d93bff9a0c8d60b6d7caddeea548ef4a7f711/src/utilities/sql/Test/SqlFile_GTest.cpp#L557-L565

**Add to Release checklist if we want to keep that up to date** : https://github.com

[2020-02-27 20:26] shorowit opened #3892 "Wrap SimulationControl's Do HVAC Sizing Simulation for Sizing Periods"
Make EnergyPlus's "Do HVAC Sizing Simulation for Sizing Periods" field in the Simulation Control object available in the SDK.

I also happened to notice that the SizingPlant object has a [setSizingOption](https://openstudio-sdk-documentation.s3.amazonaws.com/cpp/OpenStudio-2.9.0-doc/model/html/classopenstudio_1_1model_1_1_sizing_plant.html#a85922c0e610aa827f46dadb4fd7f90cd) field wrapped, but the

[2020-02-28 06:55] jmarrec commented on #3892
Add to end of "OS:SimulationControl":

[code]

[2020-02-28 09:40] jmarrec opened #3894 "SqlFile need to support the "Year" field for IlluminanceMaps"
Issue overview
--------------

In adding the "Year" field in Sql in https://github.com/NREL/OpenStudio/pull/3453, I realized IlluminanceMap didn't have it.

This was fixed in https://github.com/NREL/EnergyPlus/pull/7235 which was merged in 9.2.0

So now need to update that: https://github.com/NREL/OpenStudio/blob/56be62a24ca52f0f9eb49d3dbb253d3f089aebe4/src/utilities/sql/SqlFile_Impl.cpp#L600-L604

[2020-02-28 10:59] jmarrec opened #3895 "Fix new failing tests: IddFixture.EpIddFile and SqlFileFixture.Regressions"
Issue overview
--------------

[code]

[2020-02-28 16:59] lymereJ opened #3898 "Minimum zone ventilation efficiency"
Enhancement Request
--------------
The SDK allows users to set/get the zone air distribution effectiveness in heating/cooling mode via `DesignSpecificationZoneAirDistribution` and `SizingZone` but not the minimum zone ventilation efficiency, which is a valid input in EnergyPlus. It would great if the later could be added.

[2020-03-02 15:13] jmarrec commented on #3898
Confirmed it's missing in OpenStudio, and easy to add.

[code]

replace with

[code]

[2020-03-02 15:20] kbenne commented on #817
Hi @jasondegraw. Now that develop3 is merged can you update this thread. Do you anticipate more work before we can close this?

[2020-03-02 15:35] jmarrec commented on #3898
EUH, actually, I seems that while the object appears to be wrapped in the model API (`DesignSpecificationZoneAirDistribution` has a class, and registered constructors etc), it's not being used during forward translation at all. Instead the `OS:Sizing:Zone` is the one that adds some of the fields directly.

[2020-03-02 16:21] #3895 closed

[2020-03-02 16:21] #3891 closed

[2020-03-02 16:21] #3894 closed

[2020-03-02 18:39] jasondegraw commented on #817
@kbenne There's a lot that could be done, but I'm out of the loop.

[2020-03-03 06:57] lymereJ commented on #3898
Could this be included in the next OpenStudio release?

[2020-03-03 13:03] DaveInCaz opened #3901 "Can EPWFile be used to create an EPW / or is this planned for the future?"
Reading page: https://openstudio-sdk-documentation.s3.amazonaws.com/cpp/OpenStudio-2.1.1-doc/utilities/html/classopenstudio_1_1_epw_file.html#aca9dd7efbf84275198bc75cc7949b1ca

Under **Detailed Description** it says:

My question is about the "it may provide" statement - are there any concrete plans for this, or more generally is there any existing OS class / method to write out an EPW file?

Than

[2020-03-03 16:32] #3892 closed

[2020-03-03 16:32] #3111 closed

[2020-03-03 16:32] #3606 closed

[2020-03-03 17:45] jasondegraw commented on #3901
@DaveInCaz The short answer to whether it can or not is "yes". But there's probably some assembly required. Reading of the data was added because I needed to translate EPW to CONTAM's WTH format. There's ancient C++ in [epw2wth.cpp](https://github.com/jasondegraw/OpenStudio-CONTAM-Utilities/blob/master/src/epw2wth.cpp) that does it. It won't compile because it is hopelessly  out of date, but it sh

[2020-03-04 10:20] jmarrec opened #3902 "Update to EnergyPlus 9.3.0"
Enhancement Request
--------------

v9.3.0-IOFreeze is released, so we should update to it.

## Detailed Description

**When a checklist with a link to another issue was opened, means it will be treated over there**

### Major changes

https://github.com/NREL/EnergyPlus/blob/develop/src/Transition/InputRulesFiles/Rules9-2-0-to-9-3-0.md

* [x] Fuel names replacements (**DONE** in #3904)
[code]
* [

[2020-03-04 13:32] jmarrec opened #3903 "E+ 9.3.0: Add new fields to PerformancePrecisionTradeoffs"
Enhancement Request
--------------

**existing**:
[code]

**Added**

[code]

[2020-03-04 15:44] jmarrec opened #3905 "E+ 9.3.0: Allow ZoneHVAC:TerminalUnit:VariableRefrigerantFlow to connect to AirLoopHVAC"
Enhancement Request
--------------

Edit: add @eringold details from  #4242

From IDD Diffing, it seems that ZoneHVAC:TerminalUnit:VariableRefrigerantFlow gained the ability to be connected to AirLoopHVAC

It would be *nice* to add this capability to the model API, but this is an enhancement request as the existing behavior should be retained.

EnergyPlus 9.3.0 added the ability to connect a ZoneH

[2020-03-04 18:28] DaveInCaz commented on #3901
Thanks Jason. Over the long haul if formal support is added to OpenStudio to read & write EPW file I might use that, but I think if custom development is needed we'd probably take another route. I imagine other people might also find this capability useful.

[2020-03-04 22:19] jmarrec opened #3906 "E+ 9.3.0: Support new field 'Minimum Air Flow Turndown Schedule Name' for AirTerminals"
Enhancement Request
--------------

* ATU got a new field at end `Minimum Air Flow Turndown Schedule Name` :
    * `AirTerminal:SingleDuct:VAV:HeatAndCool:NoReheat`, `AirTerminal:SingleDuct:ConstantVolume:Reheat`, `AirTerminal:SingleDuct:VAV:Reheat` , `AirTerminal:SingleDuct:VAV:HeatAndCool:Reheat`, `AirTerminal:DualDuct:VAV`
(`AirTerminal:SingleDuct:VAV:Reheat:VariableSpeedFan`)
* `AirTerminal:Si

[2020-03-04 22:21] jmarrec opened #3907 "E+ 9.3.0: Support new object Coil:Cooling:DX and related"
Enhancement Request
--------------

- `Coil:Cooling:DX`
- `Coil:Cooling:DX:CurveFit:Performance`
- `Coil:Cooling:DX:CurveFit:OperatingMode`
- `Coil:Cooling:DX:CurveFit:Speed`

Design doc: https://docs.google.com/document/d/1zDVgX5KFjjPxpSEbblYtxYh-Kpy7-ue45ZRgG8RjXAw/edit?usp=sharing

[2020-03-05 15:01] jmarrec opened #3908 "E+ 9.3.0: Update ShadowCalculation to match object refactor in EnergyPlus"
Issue overview
--------------

cf https://github.com/NREL/OpenStudio/pull/3904#discussion_r387789980

New field to be added in ShadowCalculation, and one field renamed with keys renamed + one field rename. Will need VT.

## Expected Behavior

Given the names, I think we should just break API otherwise it's going to be very confusing.

| Old                   | New

[2020-03-05 15:47] vtnate opened #3909 "Documentation typo in 3.0-pre1 release notes"
Issue overview
--------------
In release notes for OS 3.0-pre1 a link isn't formatted properly. See last line of `Installation Steps` here: https://github.com/NREL/OpenStudio/releases

## Current Behavior
Link is cut off half way through

## Possible Solution
Move closing paren to the end of the link

[2020-03-05 16:56] jmarrec opened #3910 "E+ 9.3.0: Realign OS:SizingPeriod:DesignDay with E+ IDD"
Enhancement Request
--------------

In E+ 9.3.0, SizingPeriod:DesignDay gains a few field, but OS IDD has become quite out of line with E+

It would be **nice** to re-align, but this is an enhancement request.

[2020-03-06 16:00] tijcolem commented on #3575
Closing as this is now part of the regular release.

[2020-03-06 16:05] tijcolem commented on #3514
resolved via #3877.

[2020-03-06 16:08] polidobj opened #3911 "calling getZoneHVACDehumidifierDXs in a measure fails"
Issue overview
--------------
Trying to call the getZoneHVACDehumidifierDXs on the model fails in 2.9.1.  It works in 2.8 and 2.9.

## Current Behavior
function fails:
measure.rb failed with undefined local variable or method `getZoneHVACDehumidifierDXs' for #<NISTBIRDSNESTLCIAReport:0x0001fb699c7c58>

## Expected Behavior
Function succeeds.

## Steps to Reproduce
try running a measure with code l

[2020-03-06 16:10] tijcolem commented on #3573
@lefticus @jmarrec  Not sure where this was left but I assume that this either complete or we got as far as we can with Windows when building ruby ext gems?  If there are still remaining native gems to be built, I assume this ties in nicely with the recent request to use Visual Studio 2019 clang/llvm to build OpenStudio and associated ruby gems.

[2020-03-06 16:11] tijcolem commented on #3573
Moving to Milestone to 3.1.0 and keeping open for now.

[2020-03-06 16:16] tijcolem commented on #3733
The last issue is with Mac.  It's on me. I added a step to invoke the rvm to use ruby 2.5.5 and bundler 2.1.4, and while it's using those, these tests are still failing.

[2020-03-06 16:53] lefticus commented on #3573
It's been a rather long time since I looked at this, but last I knew everything that could work did so far.

[2020-03-06 17:08] tijcolem commented on #3911
@joseph-robertson Could you see if this still an issue with 3.0.0?  Close if now

[2020-03-06 17:15] tijcolem commented on #3908
This is okay but this needs to be highlighted in the release notes.

[2020-03-06 17:18] tijcolem commented on #3908
Can we see how the regression test look after this change?

[2020-03-06 17:38] tijcolem commented on #3898
@jmarrec Can we get this in for 3.0.0?  Run regression tests to make sure no major changes?

[2020-03-06 17:45] tijcolem commented on #3166
@jmarrec Can you see if this is reproducible on Linux? And if so, send over to Jason Turner to look into?

[2020-03-06 17:51] kbenne commented on #3753
Hey @eringold there is a new CoilCoolingDX model coming out in EnergyPlus 9.3, that is kind the one DX model to rule them all. OpenStudio is not adopting it in this release, but we will in version 3.1. Would it be alright if we directed people to use the new model when it is available instead of making this update?

[2020-03-06 17:56] nllong commented on #3744
@tijcolem  -- Can we add [jaro_winkler](https://rubygems.org/gems/jaro_winkler) version 1.5.x to this list so that we can upgrade the rubocop library?

[2020-03-06 18:03] jmarrec commented on #3898
Its possible, but not as straightforward as I had thought initially since the existing class is actually not used. Requires modifying the model API to make use of it, or strapping the new field onto the SizingZone object like it is now (less work for sure).

@kbenne thoughts? I would assume put it on OS:Sizing:Zone?

[2020-03-06 20:36] eringold commented on #3753
@kbenne Sure, that makes sense.
As a temporary workaround for the issue, here's the key bit of EnergyPlus measure code I've been using:

[code]

[2020-03-06 21:00] jmarrec commented on #3573
I consider this achieved. There are a couple of things I wished worked the same on windows as it does on *nix and it can be seen on https://github.com/NREL/conan-openstudio-ruby/blob/master/conanfile.py#L34 and following

[2020-03-06 21:08] jmarrec commented on #3911
No problem with an empty model use either ruby 2.2.x and openstudio2.9.1 or 2.5.x and openstudio 3.x. This is likely a problem with your measure or model. If you can share the measure I could take a quick look as a courtesy.

Tests (the prompt messages are my custom .pryrc echoing some stuff)

[code]

[code]

[2020-03-06 22:06] polidobj commented on #3911
Ok I'm dumbfounded as to why this suddenly works.  I tried making reduced testcase measure.  But I didn't encounter the problem.  I just commented out the code in the measure I'm working on, and wrote a version to get the data from the IDF. Now I tried the problematic code again and no problems there either.  I must have had a gremlin in my system somewhere.

Also it didn't cross my mind to includ

[2020-03-06 22:06] #3911 closed

[2020-03-06 22:57] jmarrec commented on #3911
Please remember never to feed the gremlin in your system after midnight nor give it water.
Glad it works now at least!

[2020-03-09 05:34] DavidGoldwasser commented on #3166
@tijcolem I have not tested this that much with the updated qt dependency on mac 3x

[2020-03-09 20:08] shorowit commented on #3835
Just tried the latest beta build (OpenStudio-3.0.0-beta+644272d34e) and I'm seeing similar times on Windows (roughly 1.5 seconds).

@joseph-robertson

[2020-03-10 16:14] #3903 closed

[2020-03-10 16:15] #3902 closed

[2020-03-12 22:05] #3885 closed

[2020-03-13 08:30] jmarrec commented on #3514
Can we really call it resolved @tijcolem ? We still disabled 5 tests via a Ctest exclude regex.

https://github.com/NREL/OpenStudio/issues/3514#issuecomment-574176231
https://github.com/NREL/OpenStudio/issues/3514#issuecomment-574252184

[2020-03-13 14:18] #3153 closed

[2020-03-13 14:31] jmarrec commented on #3840
Fixed va #3867 and #3916

[2020-03-13 14:31] #3840 closed

[2020-03-13 15:08] jmarrec commented on #3209
I think this question belongs on https://unmethours.com/questions/

[2020-03-13 15:08] #3209 closed

[2020-03-13 15:09] jmarrec commented on #3189
https://github.com/NREL/OpenStudio/pull/3652

[2020-03-13 15:09] #3189 closed

[2020-03-13 22:46] mcneillj commented on #3883
Output on the Windows 10 machine.

![image](https://user-images.githubusercontent.com/4923674/76664401-7a752a80-6541-11ea-9917-35c251c69abc.png)

[2020-03-13 22:47] mcneillj commented on #3883
On Mac OS X I get the following response.
![image](https://user-images.githubusercontent.com/4923674/76664535-f8d1cc80-6541-11ea-9091-230bb86d8b1d.png)

[2020-03-16 18:28] #3908 closed

[2020-03-16 18:28] jmarrec commented on #3908
Fixed via #3913

[2020-03-16 22:32] jmarrec opened #3917 "Connecting two ThermalZones in series on an AirLoopHVAC demand branch shouldn't be allowed"
Issue overview
--------------

Reported in https://unmethours.com/question/43320/thermal-zones-in-series/

## Current Behavior

It's possible to add two thermal zones in series.

## Expected Behavior

It should be disallowed.

## Steps to Reproduce

Open OpenStudioApplication, create a couple of ThermalZones, add a template airloopHVAC, then connect two zones one after another.

![image](https://u

[2020-03-17 12:50] jmarrec commented on #3629
Fix in current develop

[code]

[2020-03-17 12:50] #3629 closed

[2020-03-17 12:57] jmarrec commented on #3148
@DavidGoldwasser Can you check now that https://github.com/NREL/OpenStudio/pull/3871 was merged in?

[2020-03-17 13:02] jmarrec commented on #2979
This is working as designed.

[code]

The default is 0.2%/K, and that's what's showed in the object.

![image](https://user-images.githubusercontent.com/5479063/76858579-0051e800-6858-11ea-9fc6-6ad4c781c478.png)

[2020-03-17 13:02] #2979 closed

[2020-03-17 13:14] jmarrec commented on #2968
This is working as designed, and the docstring is clear on what's happening.

https://github.com/NREL/OpenStudio/blob/9fcb8418a56cce41cbff51c28c0aa45af9ea32f7/src/model/ScheduleRuleset.hpp#L113-L116

And implementation:

https://github.com/NREL/OpenStudio/blob/9fcb8418a56cce41cbff51c28c0aa45af9ea32f7/src/model/ScheduleRuleset.cpp#L335-L360

This is perhaps a bit weird at first. cf `ScheduleRuleset

[2020-03-17 13:14] #2968 closed

[2020-03-17 13:18] jmarrec commented on #3381
OpenStudio doesn't add `Output:Table:Monthly` nowadays at least

[2020-03-17 13:31] jmarrec commented on #2930
TODO:

* [ ] Update docs to link to the install.qs script https://github.com/NREL/OpenStudio/issues/2930#issuecomment-373594984

[2020-03-17 13:43] shorowit commented on #3381
Maybe https://github.com/NREL/EnergyPlus/issues/7591 would help address this, if implemented?

[2020-03-17 14:32] DavidGoldwasser commented on #3148
I don't have build environment setup, but I can check when I have an installer.

[2020-03-17 14:43] jmarrec commented on #2922
https://github.com/NREL/OpenStudio-workflow-gem/blob/71f187fc502462339094b90da78ef8968af0c830/lib/openstudio/workflow/run.rb#L58-L79

`RunEnergyPlus` calls expandsObjects: https://github.com/NREL/OpenStudio-workflow-gem/blob/71f187fc502462339094b90da78ef8968af0c830/lib/openstudio/workflow/util/energyplus.rb#L125-L151

[2020-03-17 15:01] #3917 closed

[2020-03-17 15:25] jmarrec commented on #2470
Removed in https://github.com/NREL/OpenStudio/pull/3847/files

[2020-03-17 15:25] #2470 closed

[2020-03-17 15:42] jmarrec commented on #2416
I cannot reproduce this, and it seems it was probably fixed via #3534

[code]

No problem

[2020-03-17 15:42] #2416 closed

[2020-03-17 15:44] jmarrec commented on #2365
Still the same question today. Updated permalink: https://github.com/NREL/openstudio-standards/blob/3daa310202a227293ed486f24f3f5e283da9f0a9/lib/openstudio-standards/weather/Weather.Model.rb#L55-L58

[2020-03-17 15:48] jmarrec commented on #2344
Fixed today, via https://github.com/jmarrec/OpenStudio/commit/cc981cc9b0330000b31a325c282fe3ee6a4345cb in particular.

[2020-03-17 15:48] #2344 closed

[2020-03-17 17:00] jmarrec commented on #2283
[code]

[2020-03-17 17:00] #2283 closed

[2020-03-17 17:02] jmarrec commented on #2194
This is very outdated, closing.

https://github.com/NREL/OpenStudio/blob/d05bc3a9ba090cf986cde56b7616b7dc445ac2f1/src/utilities/bcl/templates/ReportingMeasure/tests/reporting_measure_test.rb#L14-L19

[2020-03-17 17:02] #2194 closed

[2020-03-17 19:06] joseph-robertson commented on #3835
@kbenne suggested that I try commenting out these init statements: https://github.com/NREL/OpenStudio/blob/develop/src/cli/main.cpp#L221

Here's what happens when I comment out the first one and rebuild:
[code]

[2020-03-17 19:35] DavidGoldwasser commented on #2365
@asparke2 do you have any thoughts for this on how it impacts standards. At this point since we already have standards working with it, I'm fine with leaving 7 and 8 as they are in the GUI now, but I would like to list 0a and 0b as they are used in all zero energy ASHRAE guides, but could create issues if people pass models with these climate zone into create_baseline or create_typical measures.

[2020-03-17 19:56] asparke2 commented on #2365
I think leaving 7 and 8 as they are is fine.  Standards does not support climate zone 0, as this was not a valid climate zone in any of the versions of 90.1 that are supported thus far.

[2020-03-18 12:50] jmarrec commented on #3148
Rcs should be rolled out soon anyways, but if you have time to test, here's current develop:

* Windows: https://openstudio-ci-builds.s3.amazonaws.com/develop/OpenStudio-3.0.0-beta%2Bd05bc3a9ba-Windows.exe

* Mac: https://openstudio-ci-builds.s3.amazonaws.com/develop/OpenStudio-3.0.0-beta%2Bd05bc3a9ba-Darwin.dmg

[2020-03-18 14:47] shorowit commented on #3744
@tijcolem It would also be nice to replace the [json_pure](https://rubygems.org/gems/json_pure) gem with the [json](https://rubygems.org/gems/json) gem, which has faster performance.

My understanding is that no code changes are required as they provide the same interface and are developed by the same author. Indeed, they are both loaded in the same way (`require 'json'`).

[2020-03-18 21:06] #3784 closed

[2020-03-18 21:12] jmarrec opened #3919 "Children of RefrigerationSystem should remove themselves from the ModelObjectList before remove()"
Issue overview
--------------

## Current Behavior

If you add for eg a RefrigerationWalkin to a RefrigerationSystem, it gets added onto a ModelObjectList. If you remove the walkin, the ModelObjectList still has a now-empty extensible group

## Expected Behavior

The ModelobjectList should be adjusted

## Steps to Reproduce

[code]

## Possible Solution

**Should call removeFromSystem() at beginni

[2020-03-18 23:39] jmarrec opened #3921 "some children of RefrigerationSystem can be added several times and produce a fatal when System is removed"
Issue overview
--------------

As part of #3919 (and initial fix in #3920), I'm finding other problems as I go through.

eg: RefrigerationCompressor for eg can be added several times on the the same RefrigerationSystem (and on multiple refrigeration systems). On a single system it can even be assigned on two different `ModelObjectList` (compressorList and highStageCompressorList)

When the `Refrig

[2020-03-18 23:55] jmarrec opened #3922 "RefrigerationSystem: RefrigerationAirChiller should be parented only once, and shouldn't be able to mix Case/Walkin with Chillers"
Issue overview
--------------
From I/O ref for [Refrigeration:CaseAndWalkInList](https://bigladdersoftware.com/epx/docs/9-2/input-output-reference/group-refrigeration.html#refrigerationcaseandwalkinlist)

I checked the E+ source code and unicity IS enforced for all three (walkin/case/airchiller). Walkin and Case do enforce it already.

Should also ensure that you cannot add both case/walkins AND A

[2020-03-19 01:05] jmarrec commented on #3921
@kbenne I would like your opinion on this.

[2020-03-19 13:38] jmarrec commented on #382
https://github.com/jmarrec/OpenStudio/blob/2700a16d28ce7f8bf10cbdf16bfd1b1ac4263b31/developer/ruby/SubProjectClassGenerators/ModelClassGenerator.rb#L324-L344

[2020-03-19 13:38] #382 closed

[2020-03-19 13:46] jmarrec commented on #347
Permalink for what Dan linked to for future ref:

Original: https://github.com/NREL/OpenStudio/blob/fcd9a4317aa543cfe16a92010df2d6b92e8b0989/openstudiocore/src/utilities/idf/Workspace.cpp#L1923

current develop (circa 3.0.0): https://github.com/NREL/OpenStudio/blob/d05bc3a9ba090cf986cde56b7616b7dc445ac2f1/src/utilities/idf/Workspace.cpp#L1912

[2020-03-19 13:50] jmarrec commented on #323
Not sure how to reproduce this... Is that if you put a wrong value in the XML for a measure or something?

[2020-03-19 13:53] jmarrec commented on #259
It's sometimes confusing to remember that you have to specifically tell getString to returnInitializedEmpty, but this works as expected

https://github.com/NREL/OpenStudio/blob/d05bc3a9ba090cf986cde56b7616b7dc445ac2f1/src/utilities/idf/IdfObject.hpp#L154

[2020-03-19 13:53] #259 closed

[2020-03-19 13:55] jmarrec commented on #990
We use boost 1.71 now.

[2020-03-19 13:55] #990 closed

[2020-03-19 13:57] jmarrec commented on #988
These are embedded now.

[code]

[2020-03-19 13:57] #988 closed

[2020-03-19 13:58] jmarrec commented on #935
https://github.com/NREL/OpenStudio/pull/3858

[2020-03-19 13:58] #935 closed

[2020-03-19 14:01] jmarrec commented on #2941
This requires modification to the openstudio-workflow-gem to capture stdout, same underlying fix as for #873 (which is specific to OS App)

[2020-03-19 14:08] jmarrec commented on #871
3.0.0-beta, rt'ing 5ZoneAirCooled.idf (E+ example)
[code]

[2020-03-19 14:19] jmarrec commented on #871
And the actual trick is just changing this to false:

https://github.com/NREL/OpenStudio/blob/d05bc3a9ba090cf986cde56b7616b7dc445ac2f1/src/energyplus/ReverseTranslator.cpp#L158

It's been there as far back as github goes (7years): https://github.com/NREL/OpenStudio/blob/73e559c5f268eb04749e7e6e11761f28d586abc9/openstudiocore/src/energyplus/ReverseTranslator.cpp#L122

[2020-03-19 14:20] kbenne commented on #3921
I like option 1.

[2020-03-19 14:45] jmarrec commented on #696
Closing this 7yo issue until we hit actual actionable problems. So far it seems to be working just fine.

[2020-03-19 14:45] #696 closed

[2020-03-19 14:46] jmarrec commented on #1452
This was done as part of the move to 3.0.0

[2020-03-19 14:48] jmarrec commented on #1452
Well, actually it seems that the Facility class still has a couple.

[code]

[2020-03-19 14:50] jmarrec commented on #1408
related to #3381. Not sure if still an issue since the measures may have worked-around it.

[2020-03-19 16:42] mpraprost commented on #2100
@kbenne when removing the ::isFooDefaulted checks, do we want to remove the entire if statement, or simply remove the condition (and keep the lines inside the if statement)?

[2020-03-19 20:34] tijcolem commented on #3744
@shorowit native json is already included as part of the standard native gems when you build ruby. So it's already in the CLI for 3.0.0.

[2020-03-19 21:03] shorowit commented on #3744
@tijcolem Really? I just installed OpenStudio-3.0.0-beta+d05bc3a9ba-Windows (last night's build) and it still shows json_pure.

[code]

[2020-03-19 21:28] tijcolem commented on #3744
Hmm, that list could be misleading and looks like it's not showing the gems that built when we compile ruby.

Can you do a simple test and write a little script and include `json/ext`as that should be explicit and include the native json gem.

[2020-03-19 22:29] shorowit commented on #3744
Ah, I see. Is this what you wanted?

OpenStudio 2.9.1:
[code]

OpenStudio 3.0.0-beta:
[code]

[2020-03-19 22:36] tijcolem commented on #3744
Right. And once we remove json_pure those annoying error messages go away.

2.9.1 won't work unless you have an msvc compiled version of the json/ext gem. It's trying to load your json which is mingw and that's why you see that error.

[2020-03-19 22:37] tijcolem commented on #3744
But to your point, to list out the gems that are compiled with ruby, I need to find out if we can list those out via cli and/or ruby options.

[2020-03-19 23:21] shorowit commented on #3744
Sounds great! Thanks @tijcolem.

[2020-03-20 07:10] elfring commented on #696
How do you think about to [recheck data processing for CMake lists](https://cmake.org/cmake/help/v3.17/manual/cmake-language.7.html#lists "Description for CMake lists")?

[2020-03-20 15:06] tijcolem commented on #3166
Move issue to https://github.com/NREL/OpenStudioApplication

[2020-03-20 15:15] tijcolem commented on #3909
Thanks @vtnate for pointing that out. The link is fixed.

[2020-03-20 15:15] #3909 closed

[2020-03-20 15:24] tijcolem commented on #3888
closed merged via #3915

[2020-03-20 15:24] #3888 closed

[2020-03-20 15:27] tijcolem commented on #3898
closed and merged in #3915

[2020-03-20 15:27] #3898 closed

[2020-03-20 16:13] tijcolem opened #3924 "OpenStudio 3.0.0 Release Checklist"
- [x] Release standards gem (0.2.11-rc2), Matt (waiting for official 0.2.11)
- [x] Release 2.0.0 workflow gem (2.0.0), Nick
- [x] Release extension gem (using pre-release Ref: Bump Deps)
- [x] Release measure tester gem (0.2.1), Nick
- [x] Double check gem files for correct versions of standards and workflow gems (use released versions only), Tim (Update workflow-gem to 2.0.0)
- [x] Build openstud

[2020-03-20 18:07] kbenne opened #3925 "Warn if openstudio cli tries to load a unsupported long path on windows"
The openstudio cli allows a custom include path to be specified, and on Windows systems this path might exceed to the supported file path length. Please add a warning to the openstudio cli so that users know which file contains an unsupported path length.

[2020-03-20 20:15] jmarrec opened #3926 "Multiple AirLoopHVAC serving the same zone: DSOA is only added the Controller:MechanicalVentilation for the first AirLoopHVAC"
Issue overview
--------------

The guilty part is here: https://github.com/NREL/OpenStudio/blob/d05bc3a9ba090cf986cde56b7616b7dc445ac2f1/src/energyplus/ForwardTranslator/ForwardTranslateSizingZone.cpp#L298-L345

As you can see, it'll do it for the first airLoopHVAC it finds, not for all of them.

It calls `HVACComponent_Impl::airLoopHVAC()` whereas it should call `ThermalZone::airLoopHVACs()` on l

[2020-03-24 18:10] kbenne commented on #2100
hey @mpraprost please remove the if statement but keep the lines inside the if statement.

[2020-03-25 18:20] tijcolem commented on #3744
@nllong @jmarrec jara_winkler has issues on windows using msvc.

[code]

We would need to fork https://github.com/tonytonyjan/jaro_winkler and fix these up if we want to support windows.

[2020-03-25 22:45] nllong commented on #3744
Perhaps we stay on the older version of Rubobop until this is resolved? I think that was 0.54.1. Thoughts @jmarrec

[2020-03-25 22:48] shorowit commented on #3744
In my opinion, rubocop is a _much_ lower priority than nokogiri/schematron.

[2020-03-27 15:26] tijcolem opened #3930 "Error running Measure Manager on OSX."
When running the 3.0.0-rc1 on mac only using the measure manager, the following error occurs.

/Applications/OpenStudio-3.0.0-rc1/bin/openstudio --verbose measure -r nrel_published/AddCostPerAreaToConstruction/
I, [2020-03-26T16:47:49.752550 #45638] INFO -- : CLI Parsed Inputs: [“--verbose”] “measure” [“-r”, “nrel_published/AddCostPerAreaToConstruction/“]
D, [2020-03-26T16:47:49.754057 #45638] DEB

[2020-03-30 14:09] tijcolem opened #3933 "OpenStudio CLI usage with bundle with native ext"
## Issue:

Running the 3.0.0-rc1 CLI via with --bundle args, the cli does not load bundled gems with native extensions and throws an error. For example, this case below uses jaro_winkler 1.5.4 which has a native component.

## Steps to Reproduce:

[code]
Create a simple Gemfile with jaro_winkler.

[code]
Create a simple `test.rb` with following contents to test CLI with jaro_winkler.

[code]

(usi

[2020-03-30 21:03] joseph-robertson commented on #3835
So, commenting out the `Init_*` statements results in error (see above). I also tried commenting out the  `rb_provide(...)` lines. It builds successfully. The cli call runs in ~0.5 seconds but the output is missing (probably some kind of silent fail).

@kbenne Any other ideas?

[2020-03-30 22:01] joseph-robertson commented on #3835
I timed how long it takes to get through all the `Init_*` and `rb_provide(...)` lines. It doesn't appear to be too much time:
[code]

[2020-03-31 19:41] joseph-robertson commented on #3835
[code]
Large factors:
* init_openstudio_internal
* require 'rubygems', 'rubygems/version'
* original_embedded_gems

@kbenne suggested to:
* avoid require 'rubygems' if not using bundle (might not be completely possible though because of baked in gems
* rewrite / optimize original_embedded_gems

[2020-03-31 22:29] shorowit opened #3936 "SubSurface Type reset when assigned to surface"
Issue overview
--------------
Running the following script:
[code]

I expect it to say Door twice, but instead it produces:
[code]

I can workaround this by setting the subsurface type _after_ the door is assigned to the surface.

## Details

### Environment

Some additional details about your environment for this issue (if relevant):
 - Platform (Operating system, version): Windows 10
 - Version

[2020-04-01 12:55] ljbrackney opened #3937 "Drag and Drop bug in Constructions Tab"
Issue overview
--------------
Dragging and dropping a material onto the layer section of the constructions tab APPEARS to do nothing.  The user might try a second time, and would be pleased to see that it did work that time.  Unbeknownst to them, the first drag and drop action actually worked, and they now have doubled the material in their construction.  They would only know this during subsequen

[2020-04-01 14:10] joseph-robertson commented on #3936
Doesn't the door subsurface need to be adjacent to the bottom of the surface? Seems like in your example above, the door sits slightly above the bottom of the surface.

[2020-04-01 14:32] shorowit commented on #3936
I don't think it should have to be. I told OpenStudio it's a door, it shouldn't override it.

It's true that if you change the subsurface vertices so that the door is located on the bottom edge, you get the correct results. But I'm assuming you get the correct results for the wrong reason, which is that OS again overrode my user-entered value but happened to default to Door this time when it's alo

[2020-04-02 14:49] ljbrackney commented on #3937
I verified that this bug exists on OS X 10.15.3 as well.

[2020-04-03 18:25] kbenne opened #3938 "Loading openstudio-gems with native extensions"
New extensions have been added to openstudio-gems but there is an issue loading them.

[2020-04-06 11:46] jmarrec opened #3940 "Freeze conan dependencies and vendor them to our remote"
Enhancement Request
--------------

While we were doing the transition to 3.x, we were actively bumping dependencies etc, for having it break once in a while was fine.

Lately it's become really annoying to have to fix issues due to new versions of packages being released with the same(https://docs.conan.io/en/latest/reference/commands/misc/copy.html) tag. The switch to conan-center-ndex didn't he

[2020-04-06 21:14] bonnema opened #3942 "Segmentation Fault"
Issue overview
--------------

Segmentation fault on Windows encountered when trying to load an IDF with the OpenStudio ruby bindings on "official" Ruby 2.5.
## Current Behavior

When trying to load an IDF file, the segmentation fault in [segfault.txt](https://github.com/NREL/OpenStudio/files/4440790/segfault.txt) is encountered.

## Expected Behavior

The IDF should be loaded 20 times
`C:\Users\e

[2020-04-06 22:16] lefticus commented on #3942
So it's refusing to load the module at all with 2.5.8 in your description, is that correct?

[2020-04-06 22:17] bonnema commented on #3942
it loads it with 2.5.8, but not 2.6.6 or 2.7.1

[2020-04-06 22:27] lefticus commented on #3942
OK, I see. I'll start digging into it tomorrow.

[2020-04-07 14:44] lefticus commented on #3942
@bonnema @kbenne as I recall there was a simple test case of just opening an IDF in a loop with the system Ruby that exhibited this behavior? Based on my understanding of this problem that's probably a good (and fast) place for me to start.

[2020-04-07 14:45] bonnema commented on #3942
@lefticus download https://github.com/NREL/OpenStudio/files/4440764/rw.zip, it has a script just like you're talking about.